//- progress - object{progress}
mixin progress-bar-linear(progress)
  // Linear progress bar
  .progress-linear(data-to= progress.valueTo)
    .progress-header.clearfix
      div
        span.p.text-ubold.pull-left.text-uppercase= progress.title
      div
        span.big.text-ubold.pull-right.progress-value= progress.valueTo
    .progress-bar-linear-wrap
      .progress-bar-linear(class= progress.apClass)