// Button Ansi
//- btnClass - class to set size, style, etc. (btn-lg, btn-primary)
//- btnText - button text
mixin button-ansi(btnClass, btnText)
    button(class=btnClass type="button").btn.btn-anis-effect= btnText