footer.page-footer.bg-gray-base.section-75.section-md-top-103.section-md-bottom-55.text-md-left
  .shell
    .range.range-xs-center.range-lg-justify
      .cell-sm-5.cell-md-4
        .inset-lg-right-80
          div
            p.text-uppercase.text-bold.font-accent.text-spacing-50.text-white about
          .offset-top-25
            p.text-gray-light.text-extra-small.text-spacing-0.text-left City-Taxi has been serving our community for over four decades. We are based in los Angeles and have a developed network of partner companies all over the US, which means we have the largest fleet of taxis in the North America. Our uniformed drivers adhere to international guidelines and hold a private-hire license. Our cars have prominent roof signs making them easily identifiable and our experienced team go the extra mile, providing excellent customer service at all times. If you are looking for an affordable taxi service, we can give you what you need.

      .cell-sm-5.cell-md-4.offset-top-44.offset-sm-top-0
        .inset-lg-right-40
          div
            p.text-uppercase.text-bold.font-accent.text-spacing-50.text-white contacts
          .offset-top-15.offset-sm-top-25
            // Contact Info
            address.contact-info.text-left
              div
                p.text-gray-light.text-extra-small.text-spacing-0 4578 Marmora St, San Francisco D04 89GR.
              dl.text-extra-small
                dt.text-extra-small.text-gray-light.text-regular.reveal-inline-block Telephone:
                dd.text-extra-small.text-gray-light.reveal-inline-block.p
                  a.text-gray-light(href="callto:#") 1-800-1234-567
              dl.text-extra-small
                dt.text-extra-small.text-gray-light.text-regular.reveal-inline-block E-mail:
                dd.text-extra-small.text-gray-light.p.reveal-inline-block
                  a.text-turquoise(href="mailto:#") mail@demolink.org

          .offset-top-47
            div
              p.text-uppercase.text-bold.font-accent.text-spacing-50.text-white Newsletter

            .offset-top-20.text-left
              p.text-gray-light.text-extra-small.text-spacing-0 Keep up with our latest news and events. #[br.veil.reveal-lg-inline-block] Enter your e-mail and subscribe to our newsletter.

            .offset-top-20
              form.rd-mailform.rd-mailform-subscribe(data-form-output='form-subscribe-footer', data-form-type='subscribe', method='post', action='bat/rd-mailform.php')
                .form-group
                  .input-group
                    input.form-control.form-control-transparent(type='email', name='email', data-constraints='@Email @Required')
                    span.input-group-btn
                      button.btn.btn-primary.text-capitalize.text-spacing-0(type='submit') Subscribe
                #form-subscribe-footer.form-output

      .cell-sm-6.cell-md-2.offset-top-44.offset-md-top-0
        .range.range-xs-center
          .cell-xs-4.cell-sm-6.cell-md-12
            div
              p.text-uppercase.text-bold.font-accent.text-spacing-50.text-white about

            .reveal-inline-block.offset-top-15.offset-md-top-30
              ul.list-marked.text-extra-small.text-bold.p.text-left
                li
                  a.text-primary(href='team.html') Our team
                li.offset-top-10
                  a.text-primary(href='careers.html') Careers
                li.offset-top-10
                  a.text-primary(href='history.html') History
                li.offset-top-10
                  a.text-primary(href='rates.html') Help center

          .cell-xs-4.cell-sm-6.cell-md-12.offset-top-44.offset-xs-top-0.offset-md-top-44
            div
              p.text-uppercase.text-bold.font-accent.text-spacing-50.text-white Services

            .reveal-inline-block.offset-top-15.offset-md-top-30
              ul.list-marked.text-extra-small.text-bold.p.text-left
                li
                  a.text-primary(href='rates.html') Airport Transfer
                li.offset-top-10
                  a.text-primary(href='rates.html') Grocery Shopping
                li.offset-top-10
                  a.text-primary(href='rates.html') Out On The Town
                li.offset-top-10
                  a.text-primary(href='rates.html') VIP Taxi Service

      .cell-sm-4.cell-md-2.offset-top-44.offset-md-top-0
        div
          p.text-uppercase.text-bold.font-accent.text-spacing-50.text-white our fleet

        .reveal-inline-block.offset-top-15.offset-md-top-30
          ul.list-marked.text-extra-small.text-bold.p.text-left
            li
              a.text-primary(href='fleet.html') Luxury cars
            li.offset-top-10
              a.text-primary(href='fleet.html') Sedans
            li.offset-top-10
              a.text-primary(href='fleet.html') Vans
            li.offset-top-10
              a.text-primary(href='fleet.html') Minivans

    .offset-top-60
      .hr.bg-gray-darker

    .offset-top-50
      p.text-extra-small.text-gray-light City-taxi &#169; #[span(id="copyright-year").] #[a.text-gray-light(href="privacy.html") Privacy Policy]