section.page-section
    .container
        .page-header
            h2 Glyphicons
            p Includes over 250 sharp and clean icons

        // Glyphicons
        section.page-subsection(id="glyphicons")
            .row.list-icon
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-asterisk
                    | glyphicon-asterisk
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-plus
                    | glyphicon-plus
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-euro
                    | glyphicon-euro
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-eur
                    | glyphicon-eur
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-minus
                    | glyphicon-minus
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-cloud
                    | glyphicon-cloud
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-envelope
                    | glyphicon-envelope
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-pencil
                    | glyphicon-pencil
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-glass
                    | glyphicon-glass
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-music
                    | glyphicon-music
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-search
                    | glyphicon-search
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-heart
                    | glyphicon-heart
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-star
                    | glyphicon-star
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-star-empty
                    | glyphicon-star-empty
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-user
                    | glyphicon-user
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-film
                    | glyphicon-film
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-th-large
                    | glyphicon-th-large
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-th
                    | glyphicon-th
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-th-list
                    | glyphicon-th-list
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-ok
                    | glyphicon-ok
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-remove
                    | glyphicon-remove
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-zoom-in
                    | glyphicon-zoom-in
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-zoom-out
                    | glyphicon-zoom-out
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-off
                    | glyphicon-off
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-signal
                    | glyphicon-signal
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-cog
                    | glyphicon-cog
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-trash
                    | glyphicon-trash
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-home
                    | glyphicon-home
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-file
                    | glyphicon-file
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-time
                    | glyphicon-time
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-road
                    | glyphicon-road
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-download-alt
                    | glyphicon-download-alt
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-download
                    | glyphicon-download
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-upload
                    | glyphicon-upload
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-inbox
                    | glyphicon-inbox
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-play-circle
                    | glyphicon-play-circle
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-repeat
                    | glyphicon-repeat
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-refresh
                    | glyphicon-refresh
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-list-alt
                    | glyphicon-list-alt
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-lock
                    | glyphicon-lock
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-flag
                    | glyphicon-flag
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-headphones
                    | glyphicon-headphones
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-volume-off
                    | glyphicon-volume-off
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-volume-down
                    | glyphicon-volume-down
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-volume-up
                    | glyphicon-volume-up
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-qrcode
                    | glyphicon-qrcode
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-barcode
                    | glyphicon-barcode
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-tag
                    | glyphicon-tag
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-tags
                    | glyphicon-tags
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-book
                    | glyphicon-book
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-bookmark
                    | glyphicon-bookmark
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-print
                    | glyphicon-print
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-camera
                    | glyphicon-camera
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-font
                    | glyphicon-font
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-bold
                    | glyphicon-bold
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-italic
                    | glyphicon-italic
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-text-height
                    | glyphicon-text-height
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-text-width
                    | glyphicon-text-width
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-align-left
                    | glyphicon-align-left
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-align-center
                    | glyphicon-align-center
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-align-right
                    | glyphicon-align-right
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-align-justify
                    | glyphicon-align-justify
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-list
                    | glyphicon-list
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-indent-left
                    | glyphicon-indent-left
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-indent-right
                    | glyphicon-indent-right
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-facetime-video
                    | glyphicon-facetime-video
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-picture
                    | glyphicon-picture
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-map-marker
                    | glyphicon-map-marker
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-adjust
                    | glyphicon-adjust
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-tint
                    | glyphicon-tint
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-edit
                    | glyphicon-edit
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-share
                    | glyphicon-share
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-check
                    | glyphicon-check
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-move
                    | glyphicon-move
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-step-backward
                    | glyphicon-step-backward
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-fast-backward
                    | glyphicon-fast-backward
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-backward
                    | glyphicon-backward
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-play
                    | glyphicon-play
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-pause
                    | glyphicon-pause
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-stop
                    | glyphicon-stop
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-forward
                    | glyphicon-forward
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-fast-forward
                    | glyphicon-fast-forward
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-step-forward
                    | glyphicon-step-forward
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-eject
                    | glyphicon-eject
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-chevron-left
                    | glyphicon-chevron-left
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-chevron-right
                    | glyphicon-chevron-right
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-plus-sign
                    | glyphicon-plus-sign
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-minus-sign
                    | glyphicon-minus-sign
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-remove-sign
                    | glyphicon-remove-sign
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-ok-sign
                    | glyphicon-ok-sign
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-question-sign
                    | glyphicon-question-sign
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-info-sign
                    | glyphicon-info-sign
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-screenshot
                    | glyphicon-screenshot
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-remove-circle
                    | glyphicon-remove-circle
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-ok-circle
                    | glyphicon-ok-circle
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-ban-circle
                    | glyphicon-ban-circle
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-arrow-left
                    | glyphicon-arrow-left
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-arrow-right
                    | glyphicon-arrow-right
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-arrow-up
                    | glyphicon-arrow-up
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-arrow-down
                    | glyphicon-arrow-down
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-share-alt
                    | glyphicon-share-alt
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-resize-full
                    | glyphicon-resize-full
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-resize-small
                    | glyphicon-resize-small
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-exclamation-sign
                    | glyphicon-exclamation-sign
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-gift
                    | glyphicon-gift
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-leaf
                    | glyphicon-leaf
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-fire
                    | glyphicon-fire
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-eye-open
                    | glyphicon-eye-open
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-eye-close
                    | glyphicon-eye-close
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-warning-sign
                    | glyphicon-warning-sign
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-plane
                    | glyphicon-plane
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-calendar
                    | glyphicon-calendar
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-random
                    | glyphicon-random
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-comment
                    | glyphicon-comment
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-magnet
                    | glyphicon-magnet
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-chevron-up
                    | glyphicon-chevron-up
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-chevron-down
                    | glyphicon-chevron-down
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-retweet
                    | glyphicon-retweet
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-shopping-cart
                    | glyphicon-shopping-cart
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-folder-close
                    | glyphicon-folder-close
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-folder-open
                    | glyphicon-folder-open
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-resize-vertical
                    | glyphicon-resize-vertical
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-resize-horizontal
                    | glyphicon-resize-horizontal
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-hdd
                    | glyphicon-hdd
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-bullhorn
                    | glyphicon-bullhorn
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-bell
                    | glyphicon-bell
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-certificate
                    | glyphicon-certificate
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-thumbs-up
                    | glyphicon-thumbs-up
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-thumbs-down
                    | glyphicon-thumbs-down
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-hand-right
                    | glyphicon-hand-right
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-hand-left
                    | glyphicon-hand-left
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-hand-up
                    | glyphicon-hand-up
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-hand-down
                    | glyphicon-hand-down
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-circle-arrow-right
                    | glyphicon-circle-arrow-right
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-circle-arrow-left
                    | glyphicon-circle-arrow-left
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-circle-arrow-up
                    | glyphicon-circle-arrow-up
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-circle-arrow-down
                    | glyphicon-circle-arrow-down
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-globe
                    | glyphicon-globe
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-wrench
                    | glyphicon-wrench
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-tasks
                    | glyphicon-tasks
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-filter
                    | glyphicon-filter
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-briefcase
                    | glyphicon-briefcase
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-fullscreen
                    | glyphicon-fullscreen
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-dashboard
                    | glyphicon-dashboard
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-paperclip
                    | glyphicon-paperclip
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-heart-empty
                    | glyphicon-heart-empty
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-link
                    | glyphicon-link
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-phone
                    | glyphicon-phone
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-pushpin
                    | glyphicon-pushpin
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-usd
                    | glyphicon-usd
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-gbp
                    | glyphicon-gbp
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-sort
                    | glyphicon-sort
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-sort-by-alphabet
                    | glyphicon-sort-by-alphabet
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-sort-by-alphabet-alt
                    | glyphicon-sort-by-alphabet-alt
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-sort-by-order
                    | glyphicon-sort-by-order
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-sort-by-order-alt
                    | glyphicon-sort-by-order-alt
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-sort-by-attributes
                    | glyphicon-sort-by-attributes
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-sort-by-attributes-alt
                    | glyphicon-sort-by-attributes-alt
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-unchecked
                    | glyphicon-unchecked
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-expand
                    | glyphicon-expand
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-collapse-down
                    | glyphicon-collapse-down
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-collapse-up
                    | glyphicon-collapse-up
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-log-in
                    | glyphicon-log-in
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-flash
                    | glyphicon-flash
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-log-out
                    | glyphicon-log-out
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-new-window
                    | glyphicon-new-window
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-record
                    | glyphicon-record
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-save
                    | glyphicon-save
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-open
                    | glyphicon-open
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-saved
                    | glyphicon-saved
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-import
                    | glyphicon-import
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-export
                    | glyphicon-export
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-send
                    | glyphicon-send
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-floppy-disk
                    | glyphicon-floppy-disk
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-floppy-saved
                    | glyphicon-floppy-saved
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-floppy-remove
                    | glyphicon-floppy-remove
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-floppy-save
                    | glyphicon-floppy-save
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-floppy-open
                    | glyphicon-floppy-open
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-credit-card
                    | glyphicon-credit-card
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-transfer
                    | glyphicon-transfer
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-cutlery
                    | glyphicon-cutlery
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-header
                    | glyphicon-header
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-compressed
                    | glyphicon-compressed
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-earphone
                    | glyphicon-earphone
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-phone-alt
                    | glyphicon-phone-alt
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-tower
                    | glyphicon-tower
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-stats
                    | glyphicon-stats
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-sd-video
                    | glyphicon-sd-video
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-hd-video
                    | glyphicon-hd-video
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-subtitles
                    | glyphicon-subtitles
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-sound-stereo
                    | glyphicon-sound-stereo
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-sound-dolby
                    | glyphicon-sound-dolby
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-sound-5-1
                    | glyphicon-sound-5-1
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-sound-6-1
                    | glyphicon-sound-6-1
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-sound-7-1
                    | glyphicon-sound-7-1
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-copyright-mark
                    | glyphicon-copyright-mark
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-registration-mark
                    | glyphicon-registration-mark
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-cloud-download
                    | glyphicon-cloud-download
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-cloud-upload
                    | glyphicon-cloud-upload
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-tree-conifer
                    | glyphicon-tree-conifer
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-tree-deciduous
                    | glyphicon-tree-deciduous
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-cd
                    | glyphicon-cd
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-save-file
                    | glyphicon-save-file
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-open-file
                    | glyphicon-open-file
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-level-up
                    | glyphicon-level-up
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-copy
                    | glyphicon-copy
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-paste
                    | glyphicon-paste
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-alert
                    | glyphicon-alert
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-equalizer
                    | glyphicon-equalizer
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-king
                    | glyphicon-king
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-queen
                    | glyphicon-queen
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-pawn
                    | glyphicon-pawn
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-bishop
                    | glyphicon-bishop
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-knight
                    | glyphicon-knight
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-baby-formula
                    | glyphicon-baby-formula
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-tent
                    | glyphicon-tent
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-blackboard
                    | glyphicon-blackboard
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-bed
                    | glyphicon-bed
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-apple
                    | glyphicon-apple
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-erase
                    | glyphicon-erase
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-hourglass
                    | glyphicon-hourglass
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-lamp
                    | glyphicon-lamp
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-duplicate
                    | glyphicon-duplicate
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-piggy-bank
                    | glyphicon-piggy-bank
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-scissors
                    | glyphicon-scissors
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-bitcoin
                    | glyphicon-bitcoin
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-btc
                    | glyphicon-btc
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-xbt
                    | glyphicon-xbt
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-yen
                    | glyphicon-yen
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-jpy
                    | glyphicon-jpy
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-ruble
                    | glyphicon-ruble
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-rub
                    | glyphicon-rub
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-scale
                    | glyphicon-scale
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-ice-lolly
                    | glyphicon-ice-lolly
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-ice-lolly-tasted
                    | glyphicon-ice-lolly-tasted
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-education
                    | glyphicon-education
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-option-horizontal
                    | glyphicon-option-horizontal
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-option-vertical
                    | glyphicon-option-vertical
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-menu-hamburger
                    | glyphicon-menu-hamburger
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-modal-window
                    | glyphicon-modal-window
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-oil
                    | glyphicon-oil
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-grain
                    | glyphicon-grain
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-sunglasses
                    | glyphicon-sunglasses
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-text-size
                    | glyphicon-text-size
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-text-color
                    | glyphicon-text-color
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-text-background
                    | glyphicon-text-background
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-object-align-top
                    | glyphicon-object-align-top
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-object-align-bottom
                    | glyphicon-object-align-bottom
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-object-align-horizontal
                    | glyphicon-object-align-horizontal
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-object-align-left
                    | glyphicon-object-align-left
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-object-align-vertical
                    | glyphicon-object-align-vertical
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-object-align-right
                    | glyphicon-object-align-right
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-triangle-right
                    | glyphicon-triangle-right
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-triangle-left
                    | glyphicon-triangle-left
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-triangle-bottom
                    | glyphicon-triangle-bottom
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-triangle-top
                    | glyphicon-triangle-top
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-console
                    | glyphicon-console
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-superscript
                    | glyphicon-superscript
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-subscript
                    | glyphicon-subscript
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-menu-left
                    | glyphicon-menu-left
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-menu-right
                    | glyphicon-menu-right
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-menu-down
                    | glyphicon-menu-down
                .col-sm-4.col-md-3.fa-hover
                    i.glyphicon.glyphicon-menu-up
                    | glyphicon-menu-up