extends  ../_skeleton

block title
	title Careers

block page
	// Page Header
	header.page-header.slider-menu-position
		+rd-navbar-default({
			"style": "",
			"logo": cfg.brand.logo,
			"logoFixed": cfg.brand.logoSmall,
			"activeLink": 8,
			"attr": {
				"data-layout": "rd-navbar-fixed",
				"data-sm-layout": "rd-navbar-fixed",
				"data-md-layout": "rd-navbar-fullwidth",
				"data-lg-layout": "rd-navbar-static"
			}
		})

		+breadcrumb("Careers", {
			0: {
				"type": "link",
				"title": cfg.nav.home.title,
				"href": cfg.nav.home.href
			},
			1: {
				"type": "link",
				"title": cfg.nav.pages.title,
				"href": cfg.nav.pages.href
			},
			2: {
				"type": "link",
				"title": "Careers",
				"href": "careers.html"
			}
		}, "images/backgrounds/background-02-1920x900.jpg")

	// Page Content
	main.page-content.section-75.section-md-top-90.section-md-bottom-103

		// Careers
		section
			// Join our team
			.shell
				h1.text-spacing-inverse-50 Join our team

				.range.range-xs-center.offset-top-30.offset-md-top-50.text-left
					.cell-sm-5
						p.text-spacing-0 City-Taxi is constantly looking for the brightest and the best to join our team. It's an exciting time for the entire business as we are in a period of intensive growth as we prepare to invest in our future and the future of global public transport.

					.cell-sm-5.offset-top-30.offset-sm-top-0
						p.text-spacing-0 So, if you think you'd like to join our team, simply take a look at the vacancies below. If you can’t see a role that suits you, upload your CV to our Recruitment Centre and if a suitable role becomes vacant, we'll be in touch.

				.range.range-xs-center.offset-top-40
					.cell-sm-10.cell-lg-12
						img.img-responsive.center-block(src="images/pages/careers-01-970x537.jpg" width="970" height="537" alt="")

				.btn-both-lines.btn-both-lines-gray-lighter.offset-top-44.center-block(style="max-width:970px;")
					a.btn.btn-primary(href="#" style="min-width:245px;") Join us

			// Our Vacancies
			.shell.offset-top-90
				h2.text-spacing-inverse-50 Our Vacancies

				.range.range-xs-center.list-index-lg.offset-top-44
					.cell-xs-8.cell-sm-5
						// Post Vacancy
						a.post-vacancy(href="#")
							// Unit
							span.unit.unit-xs.unit-xs-middle.unit-xs-horizontal.unit-spacing-xs.text-xs-left
								span.unit-left
									span.list-index-counter.h2.text-silver-chalice.text-spacing-inverse-75
								span.unit-body
									span
										span.h5.text-spacing-inverse-25.text-turquoise.text-capitalize Technical Expert
									span.offset-top-4.reveal-block
										span.h6.font-default.text-regular.text-spacing-inverse-25.text-capitalize Boston, MA

						.offset-top-64.offset-xs-top-30
							// Post Vacancy
							a.post-vacancy(href="#")
								// Unit
								span.unit.unit-xs.unit-xs-middle.unit-xs-horizontal.unit-spacing-xs.text-xs-left
									span.unit-left
										span.list-index-counter.h2.text-silver-chalice.text-spacing-inverse-75
									span.unit-body
										span
											span.h5.text-spacing-inverse-25.text-turquoise.text-capitalize Dispatch Supervisor
										span.offset-top-4.reveal-block
											span.h6.font-default.text-regular.text-spacing-inverse-25.text-capitalize San Francisco, CA

					.cell-xs-8.cell-sm-5.offset-top-64.offset-xs-top-30.offset-sm-top-0
						// Post Vacancy
						a.post-vacancy(href="#")
							// Unit
							span.unit.unit-xs.unit-xs-middle.unit-xs-horizontal.unit-spacing-xs.text-xs-left
								span.unit-left
									span.list-index-counter.h2.text-silver-chalice.text-spacing-inverse-75
								span.unit-body
									span
										span.h5.text-spacing-inverse-25.text-turquoise.text-capitalize Taxi Driver
									span.offset-top-4.reveal-block
										span.h6.font-default.text-regular.text-spacing-inverse-25.text-capitalize Seattle, WA


						.offset-top-64.offset-xs-top-30
							// Post Vacancy
							a.post-vacancy(href="#")
								// Unit
								span.unit.unit-xs.unit-xs-middle.unit-xs-horizontal.unit-spacing-xs.text-xs-left
									span.unit-left
										span.list-index-counter.h2.text-silver-chalice.text-spacing-inverse-75
									span.unit-body
										span
											span.h5.text-spacing-inverse-25.text-turquoise.text-capitalize Mechanic
										span.offset-top-4.reveal-block
											span.h6.font-default.text-regular.text-spacing-inverse-25.text-capitalize Los Angeles, CA


				.offset-top-30
					!{cfg.brand.svgDivider}

			// What We Expect
			.shell.offset-top-85
				h2.text-spacing-inverse-50 What We Expect

				.range.range-xs-center.offset-top-40
					.cell-sm-7.cell-md-4
						h5.text-spacing-0 mechanic

						.offset-top-15.offset-md-top-25
							p.text-extra-small.text-spacing-0 Mechanics at City-Taxi are specialists whose primary responsibilities are the diagnosis, maintenance and repair of cabs and taxis of all sizes and types. A mechanic may be good at repairing particular parts of the vehicle or the entire vehicle.

						.offset-top-10.offset-md-top-15
							h5.text-spacing-20.text-silver-chalice ...

					.cell-sm-7.cell-md-4.offset-top-64.offset-md-top-0
						h5.text-spacing-0 dispatch supervisor

						.offset-top-15.offset-md-top-25
							p.text-extra-small.text-spacing-0 Dispatch Supervisor at City-Taxi is responsible for the direct oversight of an assigned work team/area on a designated account and/or on a designated shift. Employee is further responsible for ensuring that customer service requirements are being met.

						.offset-top-10.offset-md-top-15
							h5.text-spacing-20.text-silver-chalice ...

					.cell-sm-7.cell-md-4.offset-top-64.offset-md-top-0
						h5.text-spacing-0 Taxi Driver

						.offset-top-15.offset-md-top-25
							p.text-extra-small.text-spacing-0 Taxi drivers and chauffeurs drive people to and from the places they need to go, such as homes, workplaces, airports, and shopping centers. They must know their way around a city in order to take both residents and visitors to their destinations.

						.offset-top-10.offset-md-top-15
							h5.text-spacing-20.text-silver-chalice ...


	// Page Footer
	include ../sections/_footer-default