extends  ../_skeleton

//- Includes
include ../elements/_ui-progress-bar-linear

block title
	title Team member

block page
	// Page Header
	header.page-header.slider-menu-position
		+rd-navbar-default({
			"style": "",
			"logo": cfg.brand.logo,
			"logoFixed": cfg.brand.logoSmall,
			"activeLink": 2,
			"attr": {
				"data-layout": "rd-navbar-fixed",
				"data-sm-layout": "rd-navbar-fixed",
				"data-md-layout": "rd-navbar-fullwidth",
				"data-lg-layout": "rd-navbar-static"
			}
		})

		+breadcrumb("Team member", {
			0: {
				"type": "link",
				"title": cfg.nav.home.title,
				"href": cfg.nav.home.href
			},
			1: {
				"type": "link",
				"title": cfg.nav.about.title,
				"href": cfg.nav.about.href
			},
			2: {
				"type": "link",
				"title": "Team",
				"href": "team.html"
			},
			3: {
				"type": "link",
				"title": "Team member",
				"href": "single-team.html"
			}
		}, "images/backgrounds/background-02-1920x900.jpg")

	// Page Content
	main.page-content.section-75.section-md-top-90.section-md-bottom-125

		mixin team-icons(teamIcons)
			ul.list-inline.list-inline-0.list-calypso
				each icon in teamIcons
					li.text-center
						a.icon(href= icon.href class= icon.style)

		// Meet our team
		section
			.shell
				h1.text-spacing-inverse-50 John Smith
				h5.text-spacing-inverse-50.text-lowercase (founder)

				.range.range-xs-center.offset-md-top-35
					.cell-sm-10.cell-lg-8
						img.img-circle.img-responsive.center-block(src="images/users/user-john-smith-271x271.jpg" width="271" height="271" alt="")

						.offset-top-35
							+team-icons([
								{"href": "#", "style": "icon-xs fa fa-facebook text-turquoise"},
								{"href": "#", "style": "icon-xs fa fa-google-plus text-turquoise"},
								{"href": "#", "style": "icon-xs fa fa-linkedin text-turquoise"},
								{"href": "#", "style": "icon-xs fa fa-twitter text-turquoise"}
							])

						.offset-top-15.offset-lg-top-4
							p.reveal-xs-inline-block
								a.text-mine-shaft(href="callto:#")
									span.icon.icon-xs.material-icons-ico.material-icons-local_phone.text-silver-chalice.text-middle
									span.text-bold.text-mine-shaft.text-middle.inset-left-8.text-spacing-50 +1 (800) 123 1334

							p.reveal-xs-inline-block.offset-top-15.offset-xs-top-0.inset-xs-left-15
								a(href="mailto:#")
									span.icon.icon-xs.material-icons-ico.material-icons-email.text-silver-chalice.text-middle(style="font-size: 24px;")
									span.text-turquoise.text-middle.inset-left-8 info@demolink.org

						.offset-top-20
							!{cfg.brand.svgDivider}


						.offset-top-25
							p.text-spacing-0 John Smith is a co-CEO and founder of City-Taxi. He holds a degree in Public Administration from The University of Los Angeles. An investment banker by trade, he was previously with Merrill Lynch in Brazil and BNP Paribas Clean Energy Fund in London. After earning some reputation as a leading dispatcher and head manager in some taxi services providers, John established City-Taxi together with his friend. They developed it from a local startup to a global company which is known far beyond its original
								| location.

							.offset-top-15.offset-md-top-30
								p.text-spacing-0 Due to his professionalism and skills he gained while working as a manager and dispatcher at various transportation companies, John is one of the most qualified specialists in the industry. He is the heart of our team, and his opinion plays a huge role in our company’s development. Thanks to his initiative, our taxis were supplied with newest technological achievements.

							.offset-top-20
								!{cfg.brand.svgDivider}

				.range.range-xs-center.offset-top-30
					.cell-sm-8.cell-md-6
						.clearfix
							// Progress Bar
							+progress-bar-linear({
								"title": "Management",
								"apClass": "bg-primary",
								"valueTo": "75",
								"style": "text-bold text-mine-shaft"
							})
						.offset-top-53.clearfix
							+progress-bar-linear({
								"title": "Innovations",
								"apClass": "bg-primary",
								"valueTo": "25",
								"style": "text-bold text-mine-shaft"
							})
						.offset-top-53.clearfix
							+progress-bar-linear({
								"title": "Technology",
								"apClass": "bg-primary",
								"valueTo": "50",
								"style": "text-bold text-mine-shaft"
							})
						.offset-top-53.clearfix
							+progress-bar-linear({
								"title": "Driving",
								"apClass": "bg-primary",
								"valueTo": "75",
								"style": "text-bold text-mine-shaft"
							})

	// Page Footer
	include ../sections/_footer-default