//- Twitter Widget
//- twitterUser - twitter user name

mixin widget-twitter(twitterUser)
  .twitter(data-twitter-username= twitterUser.dataTwitterUsername data-twitter-date-hours=" hours ago" data-twitter-date-minutes=" minutes ago")
    div.twitter-sm(data-twitter-type='tweet')
      div.twitter-date.text-dark.small(data-date ='text')
      div.twitter-text(data-tweet='text')
      div.twitter-name.text-bold.big(data-screen_name='text')
    div.twitter-sm(data-twitter-type='tweet')
      div.twitter-date.text-dark.small(data-date ='text')
      div.twitter-text(data-tweet='text')
      div.twitter-name.text-bold.big(data-screen_name='text')