//- Includes
include ../elements/_ui-member-block-type-2
include ../elements/_ui-testimonials-slider

// Who i Am
section
  .shell
    h2.text-bold
      span.h6.reveal-block.text-uppercase.text-regular.font-default.text-spacing-120.text-primary About me
      | Who I Am
    .range.range-xs-center.offset-top-30
      .cell-sm-9.cell-md-6
        +member-block-type-2("#", "images/users/user-john-doel-130x130.jpg", "Hi, I'm John Doe, a Personal, <br/> Bloger from Canada.", "Initially educated as a journalist, I haven’t always been satisfied with the way news and events were described in local newspapers and on television, while also looking for a perfect way to deliver news, and that’s how I became a blogger.")
        ul.list-inline.list-inline-lg.list-inline-dashed.list-inline-picton-blue
          li.big.reveal-block.reveal-sm-inline-block
            a.text-uppercase.text-spacing-120.text-darker(href='#') #[span.reveal-md-inline-block Facebook]
          li.big.reveal-block.reveal-sm-inline-block.offset-top-10.offset-sm-top-0
            a.text-uppercase.text-spacing-120.text-darker(href='#') #[span.reveal-md-inline-block Twitter]
          li.big.reveal-block.reveal-sm-inline-block.offset-top-10.offset-sm-top-0
            a.text-uppercase.text-spacing-120.text-darker(href='#') #[span.reveal-md-inline-block Instagram]

// Why do i Blog
section.offset-top-98.offset-md-top-110
  .shell
    h2.text-bold
      span.h6.reveal-block.text-uppercase.text-regular.font-default.text-spacing-120.text-primary my vision
      | Why do I blog
    .range.range-xs-center.offset-top-20
      .cell-sm-10.cell-md-9
        p Blogging became an important part of my career a long time ago. When I was studying at the University of Toronto in 2002, I was amazed by the way bloggers described news back then and though blogging was quite a new term at the very beginning of the XXIst century, I began to try writing my first blog posts for my personal blog. It made me able to improve the perspective of reviewing events, seeing facts and delivering information.
        p I mostly like blogging because it allows me to review the things happening around me and express my own opinion about them. Practice makes perfect, and due to my constant work on my style, my articles in Toronto newspapers and magazines improve as well as my blog articles do.

// What people say
section.offset-top-98.offset-md-top-110
  .shell
    h2.text-bold
      span.h6.reveal-block.text-uppercase.text-regular.font-default.text-spacing-120.text-primary testimonials
      | What people say
    hr.divider.bg-primary
    .range.offset-top-50
      +testimonials-slider([{
        "image": {
          "width": 80,
          "height": 80,
          "src": "images/users/user-alex-merphy-80x80.jpg",
          "alt": "Alex Murphy"
        },
        "title": "Alex Murphy",
        "desc": "Freelance Developer",
        "q": "John’s articles and blog posts are amazing! Two years ago I discovered this blog when I was looking for tips on inspiration. John’s posts helped me to recover my creative potential and find powers to continue the development of the most complex project I have ever worked on. I appreciate it!"
      },
        {
          "image": {
            "width": 80,
            "height": 80,
            "src": "images/users/user-july-mao-80x80.jpg",
            "alt": "July Mao"
          },
          "title": "July Mao",
          "desc": "Freelance Developer",
          "q": "I am glad I’ve purchased a template from TemplateMonster. Extraordinary customer service, always available, perfect care and knowledge of the technicians. Essential if you are not an expert programmer. In any case highly recommended. Congratulations!"
        }])