-
  var cfg = {
    "brand": {
      "name": "City-Taxi",
      "logoSmall": "<img style='margin-top: -7px;' width='128' height='24' src='images/logo-lg-dark-182x34.png' alt=''/>",
      "logoBig": "<img width='128' height='64' src='images/logo-146x70.png' alt=''/>",
      "logo": "<img style='margin-top: -10px;' width='164' height='29' src='images/logo-light-183x34.png' alt=''/>",
      "logoDark": "<img style='margin-top: -10px;' width='164' height='29' src='images/logo-dark-164x29.png' alt=''/>",
      "logoInverse": "<img style='margin-top: -10px;' width='164' height='29' src='images/logo-light-183x34.png' alt=''/>",
      "svgDivider": '<svg width="135" height="2" viewBox="0 0 134 2"><line x1="0" y1="2" x2="134" y2="2" style="stroke: #8d8d8d; stroke-width: 4;"/></svg>',
      "href": "index.html"
    },
    "nav": {
      "home": {
        "title": "home",
        "href": "index.html"
      },
      "about": {
        "title": "About",
        "href": "about.html",
        "submenu": {
          "faq": {
            "title": "FAQ",
            "href": "faq.html"
          },
          "history": {
            "title": "History",
            "href": "history.html"
          },
          "team": {
            "title": "Team",
            "href": "team.html"
          },
          "teamMember": {
            "title": "Team Member",
            "href": "team-member.html"
          },
          "testimonials": {
            "title": "Testimonials",
            "href": "testimonials.html"
          }
        }
      },
      "charter": {
        "title": "Rates",
        "href": "rates.html"
      },
      "events": {
        "title": "Reservations",
        "href": "reservations.html"
      },
      "yachts": {
        "title": "Fleet",
        "href": "fleet.html",
      },
      "news": {
        "title": "News",
        "href": "#",
        "submenu": {
          "singlePost": {
            "title": "Single Post",
            "href": "single-post.html"
          }
        }
      },
      "contacts": {
        "title": "Contacts",
        "href": "contacts.html"
      },
      "pages": {
        "title": "Pages",
        "href": "#",
        "submenu": {
          "buttons": {
            "title": "Buttons",
            "href": "buttons.html"
          },
          "careers": {
            "title": "Careers",
            "href": "careers.html"
          },
          "forms": {
            "title": "Forms",
            "href": "forms.html"
          },
          "grid": {
            "title": "Grid systems",
            "href": "grid.html"
          },
          "gallery": {
            "title": "Gallery",
            "href": "gallery.html"
          },
          "inspirationSingle": {
            "title": "Inspiration Single",
            "href": "inspiration-single.html"
          },
          "progressBars": {
            "title": "Progress bars",
            "href": "progress-bars.html"
          },
          "services": {
            "title": "Services",
            "href": "services.html"
          },
          "crewService": {
            "title": "Crew Service",
            "href": "crew-service.html"
          },
          "tables": {
            "title": "Tables",
            "href": "tables.html"
          },
          "tabsAccordions": {
            "title": "Tabs & Accordions",
            "href": "tabs-accordions.html"
          },
          "typography": {
            "title": "Typography",
            "href": "typography.html"
          }
        }
      }
    }
  }