//
// Divider
// --------------------------------------------------
.divider {
  width: 100%;
  height: 1px;
}

.divider-small {
  width: 50px;
}

.divider-light {
  background: $black-haze;
}

.divider-green-white {
  background: $green-white;
}

.divider-nebula {
  background: $nebula;
}

.divider-conch {
  background: $conch;
}

// Variants
.divider-custom {
  @media (min-width: $screen-sm-min) {
    width: 1px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}