-
  var cfg = {
    "brand": {
      "name": "Intense Real Estate",
      "slogan": "Best for property agencies",
      "logo": "<img width='217' height='36' src='images/logo-dark.png' alt=''/>",
      "logoInverse": "<img width='170' height='30' src='images/logo-light.png' alt=''/>"

    },
    "nav": {
      "home": {
        "title": "Home",
        "href": "index.html"
      },
      "catalog": {
        "title": "Catalog",
        "href": "catalog.html"
      },
      "submit": {
        "title": "Submit Property",
        "href": "submit-property.html"
      },
      "services": {
        "title": "Services",
        "href": "services.html"
      },
      "about": {
        "title": "About",
        "href": "about.html"
      },
      "contacts": {
        "title": "Contacts",
        "href": "contact.html"
      }
    }
  }