//
// Custom typography
// --------------------------------------------------

// Page header
// -------------------------

.page-header {
  padding-bottom: 14px;
}

// Fonts
// -------------------------

.font-default {
  font-family: $font-family-base;
}

.font-accent {
  font-family: $font-family-accent;
}

// Basic Typography
// -------------------------

h1,
.h1 {
  margin-top: 26px;
  margin-bottom: 25px;
  font-size: 34px;
  line-height: 1.33;

  @media (min-width: $screen-sm-min) {
    line-height: $font-lh-h1;
    font-size: $font-size-h1;
  }
}

h2,
.h2 {
  margin-top: 42px;
  margin-bottom: 23px;
  font-size: 32px;
  line-height: 1.5;

  @media (min-width: $screen-sm-min) {
    line-height: $font-lh-h2;
    font-size: $font-size-h2;
  }
}

h3,
.h3 {
  margin-top: 27px;
  margin-bottom: 18px;
  font-size: 28px;
  line-height: 1.5;

  @media (min-width: $screen-sm-min) {
    line-height: $font-lh-h3;
    font-size: $font-size-h3;
  }
}

h4,
.h4 {
  margin-top: 22px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5;

  * + .icon,
  .icon + * {
    padding-left: 8px;
  }

  @media (min-width: $screen-sm-min) {
    line-height: $font-lh-h4;
    font-size: $font-size-h4;
  }
}

h5,
.h5 {
  margin-top: 29px;
  margin-bottom: 19px;
  font-size: 20px;
  line-height: 1.5;

  @media (min-width: $screen-sm-min) {
    line-height: $font-lh-h5;
    font-size: $font-size-h5;
  }
}

h6,
.h6 {
  margin-top: 29px;
  margin-bottom: 18px;
  font-size: 17px;
  line-height: 1.5;
  font-weight: 400;
  color: $gray-dark;
  * + .icon,
  .icon + * {
    padding-left: 8px;
  }

  @media (min-width: $screen-sm-min) {
    line-height: $font-lh-h6;
    font-size: $font-size-h6;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  a {
    transition: .3s all ease;
  }

  a:hover {
    color: $brand-primary;
  }
}

p,
.p,
.list {
  margin-top: 18px;
  margin-bottom: 18px;

  a:hover {
    text-decoration: underline;
  }
}

@media (min-width: $screen-xs) {
  .big {
    font-size: 112.25%;
    line-height: 1.5;

    h1 &,
    .h1 & {
      font-size: 142.22%;
      line-height: 1.125;
    }

    h2 &,
    .h2 & {
      font-size: 147.36%;
      line-height: 1.142857142857143;
    }
  }
}

blockquote small,
blockquote .small,
small,
.small {
  font-size: 87.5%;

  &:before {
    display: none;
  }
}

sub {
  bottom: -0.5em;
}

sub, sup {
  font-size: 62%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

code, kbd, pre, samp {
  font-family: Consolas, "Courier New", monospace;
}

code {
  padding: 5px 7px;
  font-size: 75%;
  color: #E50A0A;
  background-color: $gray-lightest;
  border-radius: 2px;
}

pre {
  padding: 16px 19px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.13;
  overflow-x: auto;

  code {
    font-size: 75%;
    text-align: left;
  }
}

mark, .mark {
  background-color: #ABCC37;
  padding: .1em;
}

.text-extra-small {
  font-size: 13px;
}

.text-extra-big {
  font-size: 100px;
  line-height: .7;

  @media (min-width: $screen-sm-min) {
    font-size: 140px;
  }
  @media (min-width: $screen-md-min) {
    font-size: 180px;
  }
  @media (min-width: $screen-lg-min) {
    font-size: 220px
  }
}

// Lists
// -------------------------

.list {
  > li + li {
    margin-top: 6px;
  }
  > li a {
    color: $gray-dark;
    &:hover {
      color: $brand-primary;
      text-decoration: none;
    }
  }
}

.list-numbered {
  padding-left: 15px;
  li {
    padding-left: 10px;
  }
}

// List inline
//
.list-inline {
  margin-left: -13px;
  margin-right: -13px;

  > li {
    padding-left: 13px;
    padding-right: 13px;
  }
}

.list-inline-sm {
  margin-left: 0;
  margin-right: 0;

  > li {
    padding-left: 0;
    padding-right: 0;
    margin-left: -2px;
    margin-right: -2px;
  }
}

.list-inline-md {
  margin-left: -12px;
  margin-right: -12px;

  > li {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.list-inline-primary {
  > li > a {
    transition: .3s;
    &:hover {
      color: $brand-primary;
    }
  }
}

.list-inline-white {
  > li > a {
    transition: .3s;
    &:hover {
      color: $white;
    }
  }
}

.list-inline-dashed {
  > li {
    padding-right: 0;
    & + li {
      &:before {
        content: '/';
        padding-right: 5px;
      }
    }
  }
}

// List marked
//

.list-marked {
  text-align: left;
  @include list-unstyled;
  li {
    padding-left: 25px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 2px;
      top: 13px;
      transform: translateY(-50%);
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $gray-darker;
    }
  }
}

// List index
//
.list-index {
  @include list-unstyled;
  counter-reset: li;
  li {
    .list-index-counter {
      &:before {
        content: counter(li, decimal-leading-zero);
        counter-increment: li;
      }
    }
  }
}

// List separeted
//
.list-separated {
  li + li {
    border-top: 1px solid $gray-lighter;
    margin-top: 9px;
    padding-top: 8px;
  }
}

// Backgrounds
// -------------------------

.bg-fixed {
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

// Contextual backgrounds
//
.bg-gray-base {
  @include bg-variant-custom(#{$gray-base});
}

.bg-gray-darkest {
  @include bg-variant-custom(#{$gray-darkest});
}

.bg-white {
  @include bg-variant-custom(#{$white});
}

.bg-gray-lighter {
  @include bg-variant-custom(#{$gray-lighter});
}

.bg-shark {
  @include bg-variant-custom(#{#464648});
}

.bg-puerto-rico {
  @include bg-variant-custom(#{$brand-puerto-rico});
}

// Gradient background
//

//.bg-macaroni {
//  @include bg-variant-custom(linear-gradient(90deg, $brand-primary 0%, $brand-macaroni 100%));
//}

// Colors
// -------------------------

// Contextual colors
//

.page {
  @include text-emphasis-variant('.text-primary', $brand-primary);
  @include text-emphasis-variant('.text-darker', $gray-darker);
  @include text-emphasis-variant('.text-darkest', $gray-darkest);
  @include text-emphasis-variant('.text-dark', $gray-dark);
  @include text-emphasis-variant('.text-danger', #e50a0a);
  @include text-emphasis-variant('.text-success', #84c450);
  @include text-emphasis-variant('.text-shark', #49494b);

}

// Shadows
// -------------------------

.shadow-drop-ambient {
  box-shadow: $shadow-area-ambient;
}

.shadow-drop-xxs {
  box-shadow: $shadow-area-xxs;
}

.shadow-drop-xs {
  box-shadow: $shadow-area-xs;
}

.shadow-drop-sm {
  box-shadow: $shadow-area-sm;
}

.shadow-drop,
.shadow-drop-md {
  box-shadow: $shadow-area-md;
}

.shadow-drop-lg {
  box-shadow: $shadow-area-lg;
}

.shadow-drop-xl {
  box-shadow: $shadow-area-xl;
}

.shadow-variant-2 {
  box-shadow: $shadow-area-variant-2;
}

@media (min-width: 1400px) {
  .shadow-overlay {
    position: relative;
    overflow: hidden;

    &:after {
      display: block;
      content: "";
      position: absolute;
      left: -100px;
      top: -500px;
      right: -100px;
      bottom: 0;
      box-shadow: inset 0px 0px 120px 0px rgba(0, 0, 0, 0.30);
      pointer-events: none;
    }
  }
}

// Borders
// -------------------------

.border-gray-light {
  border-color: $gray-light;
}

.border-gainsboro {
  border-color: $gray;
}

// Img link
// -------------------------
.img-link {
  transition: .35s all ease;
  display: inline-block;
  &:hover {
    @include transform(scale(1.05));
  }
}

// Address
// -------------------------

.contact-info {
  p {
    font-size: 15px;
    margin-bottom: 0;
  }

  dl {
    margin-bottom: 0;

    dt, dd {
      display: inline-block;
      font-weight: 400;
      font-size: 15px;
    }

    dt, dd a {
      color: $gray-darker;
    }

    dd a:hover {
      color: $brand-primary;
    }
  }
}