// Default variables
html {
  --base-font-size: 20px;
}

// Dark default theme
body {
  --bg-color: #0d2538;
  --bg-content-color: #0f2d44;
  --bg-code: rgba(0, 0, 0, 0.3);
  --border-color: rgba(255, 255, 255, 0.1);
  --body-color: #ced8de;
  --title-color: #ffffff;
  --link-color: #ffffff;
  --space: 3.5rem;
  --content-width: 860px;
  --header-height: 80px;
  --radius: 5px;
}

// Override variables for Light theme
body[data-theme="light"] {
  --bg-color: #f3f7f9;
  --bg-content-color: #ffffff;
  --bg-code: #fffbf3;
  --body-color: #444444;
  --title-color: #111111;
  --link-color: #6b17e6;
  --border-color: rgba(0, 0, 0, 0.1);
}

// Make  things smaller for mobile
@media screen and (max-width: 650px) {
  html {
    --base-font-size: 17px;
  }
  body {
    --space: 1.5rem;
    --header-height: 60px;
  }
}
