-
  var cfg = {
    "type": "Restaurant",
    "brand": {
      "name": "Intense Restaurant",
      "slogan": "Get the best dining experience",
      "logo": "<img style='margin-top: -5px;margin-left: -15px;' width='138' height='31' src='images/logo.png' alt=''/>"
    },
    "nav": {
      "home": {
        "title": "Home",
        "href": "index.html"
      },
      "about": {
        "title": "About Us",
        "href": "about.html"
      },
      "menu": {
        "title": "Menu",
        "href": "menu.html"
      },
      "gallery": {
        "title": "Gallery",
        "href": "gallery.html"
      },
      "events": {
        "title": "Events",
        "href": "events.html",
        "submenu": {
          "singleEvent": {
            "title": "Single Event",
            "href": "single-event.html"
          },
          "action": {
            "title": "Action",
            "href": "#"
          },
          "anotherAction": {
            "title": "Another Action",
            "href": "#"
          }
        }
      },
      "contacts": {
        "title": "Contacts",
        "href": "contacts.html"
      }
    }
  }