extends  ../_skeleton

//- Includes
include ../elements/_ui-rd-parallax
include ../elements/_widget-rd-calendar

//-Title
block title
  title= cfg.nav.schedule.title

//- Page
block page

  // Page Head
  header.page-head
    //- RD Navbar
    +rd-navbar-top-panel(
    'rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoInverse,
    cfg.nav.schedule,
    cfg.nav
    )
    // Breadcrumbs
    section.context-dark
      +rd-parallax({
        "backgroundSpeed": "0.35",
        "attrType": "media",
        "src": "images/background-03-1920x640.jpg",
        "htmlSpeed": "0"
      })
        .bg-overlay-info
          .shell.section-34.section-sm-85.text-md-left
            div.veil.reveal-sm-block.reveal-md-inline-block
              h1 Schedule
            div.pull-md-right.offset-sm-top-10.offset-md-top-20
              ul.p.list-inline.list-inline-dashed
                li
                  a(href= cfg.nav.home.href) Home
                li Schedule

  // Page Content
  main.page-content

    // Calendar
    section.bg-overlay-white
      .shell-wide.section-98.section-sm-110
        h1 The Calendar
        hr.divider.bg-mantis
        .offset-top-41
          .rd-calendar-fullwidth
            +widget-rd-calendar([
              {
                "date": "05/06/2016",
                "time": "10:00 am, 11:00 am, 12:00 am, 01:00 pm",
                "title": "",
                "link": "#",
                "bg": "bg-malibu"
              },
              {
                "date": "05/07/2016",
                "time": "8:00 am, 9:00 am, 10:00 am, 11:00 am, 12:00 am, 01:00 pm",
                "title": "",
                "link": "#",
                "bg": "bg-malibu"
              },
              {
                "date": "05/08/2016",
                "time": "",
                "title": "Not Available",
                "link": "#",
                "bg": "bg-acapulco"
              },
              {
                "date": "05/13/2016",
                "time": "10:00 am, 11:00 am, 12:00 am, 01:00 pm",
                "title": "",
                "link": "#",
                "bg": "bg-malibu"
              },
              {
                "date": "05/17/2016",
                "time": "8:00 am, 9:00 am, 10:00 am, 11:00 am, 12:00 am, 01:00 pm",
                "title": "",
                "link": "#",
                "bg": "bg-malibu"
              },
              {
                "date": "05/28/2016",
                "time": "",
                "title": "Not Available",
                "link": "#",
                "bg": "bg-acapulco"
              },
              {
                "date": "06/06/2016",
                "time": "10:00 am, 11:00 am, 12:00 am, 01:00 pm",
                "title": "",
                "link": "#",
                "bg": "bg-malibu"
              },
              {
                "date": "06/07/2016",
                "time": "8:00 am, 9:00 am, 10:00 am, 11:00 am, 12:00 am, 01:00 pm",
                "title": "",
                "link": "#",
                "bg": "bg-malibu"
              },
              {
                "date": "06/08/2016",
                "time": "",
                "title": "Not Available",
                "link": "#",
                "bg": "bg-acapulco"
              },
              {
                "date": "06/13/2016",
                "time": "10:00 am, 11:00 am, 12:00 am, 01:00 pm",
                "title": "",
                "link": "#",
                "bg": "bg-malibu"
              },
              {
                "date": "06/17/2016",
                "time": "8:00 am, 9:00 am, 10:00 am, 11:00 am, 12:00 am, 01:00 pm",
                "title": "",
                "link": "#",
                "bg": "bg-malibu"
              },
              {
                "date": "06/28/2016",
                "time": "",
                "title": "Not Available",
                "link": "#",
                "bg": "bg-acapulco"
              }
            ])

    // Call to action
    section.section-66.bg-malibu.context-dark
      .shell
        .range.range-xs-center.range-xs-middle
          .cell-lg-6.text-lg-left
            h5.text-regular For more information about our dental services or to book an appointment with us please call this number
          .cell-lg-4
            h2
              span.text-middle.icon.icon-sm.mdi.mdi-cellphone-android
              = " "
              span.text-middle
                a(href="callto:1-800-1234-567") 1-800-1234-567



  // Page Footer
  include ../sections/_section-footer

