<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo">
  <head>
    <!-- Site Title-->
    <title>About</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="intense web design multipurpose template">
    <meta name="date" content="Dec 26">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:400,700'">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Head-->
      <header class="page-head">
        <!-- RD Navbar Transparent-->
        <div class="rd-navbar-wrap">
          <nav data-lg-stick-up-offset="79px" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" class="rd-navbar rd-navbar-top-panel rd-navbar-light" data-lg-auto-height="true" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
            <div class="container">
              <div class="rd-navbar-inner">
                <div class="rd-navbar-top-panel">
                  <div class="left-side">
                    <ul class="rd-navbar-top-links list-unstyled">
                      <li><a href="login.html" class="text-uppercase text-ubold"><small>Log in</small></a></li>
                      <li><a href="login.html" class="text-uppercase text-ubold"><small>Register</small></a></li>
                    </ul>
                  </div>
                  <div class="right-side">
                    <address class="contact-info text-left"><span class="p"><span class="icon mdi mdi-email-open"></span><a href="mailto:#">info@demolink.org</a></span><span class="p"><span class="icon mdi mdi-phone"></span><a href="callto:#">1-800-1234-567</a></span></address>
                  </div>
                </div>
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                  <!-- RD Navbar Top Panel Toggle-->
                  <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-top-panel" class="rd-navbar-top-panel-toggle"><span></span></button>
                  <!--Navbar Brand-->
                  <div class="rd-navbar-brand"><a href="index.html"><img width='217' height='36' src='images/logo-dark.png' alt=''/></a></div>
                </div>
                <div class="rd-navbar-menu-wrap">
                  <div class="rd-navbar-nav-wrap">
                    <div class="rd-navbar-mobile-scroll">
                      <!--Navbar Brand Mobile-->
                      <div class="rd-navbar-mobile-brand"><a href="index.html"><img width='217' height='36' src='images/logo-dark.png' alt=''/></a></div>
                      <!-- RD Navbar Nav-->
                      <ul class="rd-navbar-nav">
                        <li><a href="index.html"><span>Home</span></a>
                        </li>
                        <li><a href="catalog.html"><span>Catalog</span></a>
                        </li>
                        <li><a href="submit-property.html"><span>Submit Property</span></a>
                        </li>
                        <li><a href="services.html"><span>Services</span></a>
                        </li>
                        <li class="active"><a href="about.html"><span>About</span></a>
                        </li>
                        <li><a href="contact.html"><span>Contacts</span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <section class="rd-parallax context-dark">
          <div data-speed="0.2" data-type="media" data-url="images/bg-header-1920x362.jpg" class="rd-parallax-layer"></div>
          <div data-speed="0" data-type="html" class="rd-parallax-layer">
            <div class="shell section-top-34 section-sm-top-98 section-bottom-34">
              <div>
                <h1 class="text-bold">About Agency</h1>
              </div>
              <ul class="list-inline list-inline-dashed p text-light breadcrumb-modern offset-top-10 offset-sm-top-66">
                <li class="active"><a href="./">Home</a></li>
                <li> About</li>
              </ul>
            </div>
          </div>
        </section>
      </header>
      <!-- Page Contents-->
      <main class="page-content">
        <!--Section Real Estate Agents-->
        <section class="section-98 section-sm-110 section-bottom-66">
          <div class="shell">
            <h2 class="text-bold">Company</h2>
            <hr class="divider bg-saffron">
            <div class="offset-sm-top-66">
              <!-- Responsive-tabs-->
              <div data-type="horizontal" class="responsive-tabs responsive-tabs-classic">
                <ul data-group="tabs-group-default" class="resp-tabs-list tabs-1 tabs-group-default">
                  <li>Overview</li>
                  <li>Soul of agency </li>
                  <li>Team</li>
                  <li>Testimonials</li>
                </ul>
                <div data-group="tabs-group-default" class="resp-tabs-container tabs-group-default">
                  <div>
                    <div class="range section-34">
                      <div class="cell-md-5"><img src="images/about-01-470x310.jpg" width="470" height="310" alt="" class="img-responsive reveal-inline-block"></div>
                      <div class="cell-md-7 offset-top-30 offset-md-top-0 text-md-left">
                        <div class="inset-md-left-40">
                          <p>Intense is a national Real Estate Agency established in 2006 in Los Angeles. Our company was initially designed to help people who are looking for a rental or an apartment for sale. Today we provide video demonstrations of millions of apartments and houses across the country as well as free access to our database for our clients. Awarded with “the Most Innovative Real Estate Agency” prize in 2012, Intense strives to make your housing experience as comfortable as it can be. We care about our clients and help them get the most money and comfort out of their purchases. Moreover, the area of our operation covers many states of the country, so you can be sure you will find the proper house.</p>
                          <p>Our agents widely cooperate with professional property owners and business companies generating calls from prospects looking for commercial real estate. Thanks to our website, it can be done easier and faster than ever. Whether you are a private individual or a business representative, here you will find the property you are looking for and service you deserve.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="range range-xs-center section-34">
                      <div class="cell-md-3 text-md-left"><img src="images/users/user-carl-bishop-270x270.jpg" width="270" height="270" alt="" class="img-responsive reveal-inline-block">
                        <div class="offset-top-10">
                          <h5 class="text-bold text-primary">Carl Bishop</h5>
                        </div>
                        <div class="offset-top-4">
                          <p class="text-dark">Founder</p>
                        </div>
                        <div class="offset-top-14">
                          <ul class="list-unstyled p">
                            <li class="reveal-block"><span class="icon icon-xxs mdi mdi-phone text-middle"></span> <a href="callto:1-800-7650-986" class="reveal-inline-block text-middle">1-800-7650-986</a>
                            </li>
                            <li class="reveal-block"><span class="icon icon-xxs mdi mdi-email-open text-middle"></span> <a href="mailto:carlbishop@demolink.org" class="reveal-inline-block text-middle">carlbishop@demolink.org</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="cell-md-5 offset-top-30 offset-md-top-0 text-md-left">
                        <div class="inset-md-left-40">
                          <p>With over 10 years of experience in Real Estate industry, Carl Bishop is one of the most renowned agents in the area today. His professional dedication allowed him to establish Intense agency that comprised his skills in real estate sales and rentals.</p>
                          <h5 class="font-default text-italic inset-md-left-50">I wanted to create a successful company that would offer people comfortable rentals as well as properties for sale.</h5>
                          <p class="offset-top-30">His leadership qualities and great managerial skills helped Carl Bishop to develop Intense into a network of real estate agencies with a good reputation. Nowadays Mr. Bishop manages the work of other agents in our company controlling their work and level of service they offer to our clients.</p>
                          <p>When he is not busy with his current work or strategic planning of company’s activity, Mr. Bishop prefers to spend time with his family.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="range range-xs-center section-34">
                      <div class="cell-sm-6 cell-md-3"><img src="images/users/user-ashley-mason-270x270.jpg" width="270" height="270" alt="" class="img-responsive reveal-inline-block">
                        <div class="text-md-left offset-top-20">
                          <div>
                            <h5 class="text-bold text-primary"><a href="team-member.html">Ashley Mason</a></h5>
                          </div>
                        </div>
                        <address class="contact-info text-md-left">
                          <ul class="list-unstyled p">
                            <li class="reveal-block"><span class="icon icon-xxs mdi mdi-phone text-middle"></span> <a href="callto:1-800-7650-986" class="reveal-inline-block text-middle">1-800-7650-986</a>
                            </li>
                            <li class="reveal-block"><span class="icon icon-xxs mdi mdi-email-open text-middle"></span> <a href="mailto:ashley@demolink.org" class="reveal-inline-block text-middle">ashley@demolink.org</a>
                            </li>
                          </ul>
                        </address>
                      </div>
                      <div class="cell-sm-6 cell-md-3 offset-top-50 offset-sm-top-0"><img src="images/users/user-russel-myers-270x270.jpg" width="270" height="270" alt="" class="img-responsive reveal-inline-block">
                        <div class="text-md-left offset-top-20">
                          <div>
                            <h5 class="text-bold text-primary"><a href="team-member.html">Russell Myers</a></h5>
                          </div>
                        </div>
                        <address class="contact-info text-md-left">
                          <ul class="list-unstyled p">
                            <li class="reveal-block"><span class="icon icon-xxs mdi mdi-phone text-middle"></span> <a href="callto:1-800-7650-986" class="reveal-inline-block text-middle">1-800-7650-986</a>
                            </li>
                            <li class="reveal-block"><span class="icon icon-xxs mdi mdi-email-open text-middle"></span> <a href="mailto:russell@demolink.org" class="reveal-inline-block text-middle">russell@demolink.org</a>
                            </li>
                          </ul>
                        </address>
                      </div>
                      <div class="cell-sm-6 cell-md-3 offset-top-50 offset-md-top-0"><img src="images/users/user-shirley-vasques-270x270.jpg" width="270" height="270" alt="" class="img-responsive reveal-inline-block">
                        <div class="text-md-left offset-top-20">
                          <div>
                            <h5 class="text-bold text-primary"><a href="team-member.html">Shirley Vasquez</a></h5>
                          </div>
                        </div>
                        <address class="contact-info text-md-left">
                          <ul class="list-unstyled p">
                            <li class="reveal-block"><span class="icon icon-xxs mdi mdi-phone text-middle"></span> <a href="callto:1-800-7650-986" class="reveal-inline-block text-middle">1-800-7650-986</a>
                            </li>
                            <li class="reveal-block"><span class="icon icon-xxs mdi mdi-email-open text-middle"></span> <a href="mailto:shirley@demolink.org" class="reveal-inline-block text-middle">shirley@demolink.org</a>
                            </li>
                          </ul>
                        </address>
                      </div>
                      <div class="cell-sm-6 cell-md-3 offset-top-50 offset-md-top-0"><img src="images/users/user-terry-sandoval-270x270.jpg" width="270" height="270" alt="" class="img-responsive reveal-inline-block">
                        <div class="text-md-left offset-top-20">
                          <div>
                            <h5 class="text-bold text-primary"><a href="team-member.html">Terry Sandoval</a></h5>
                          </div>
                        </div>
                        <address class="contact-info text-md-left">
                          <ul class="list-unstyled p">
                            <li><span class="icon icon-xxs mdi mdi-phone text-middle"></span> <a href="callto:1-800-7650-986" class="reveal-inline-block text-middle">1-800-7650-986</a>
                            </li>
                            <li><span class="icon icon-xxs mdi mdi-email-open text-middle"></span> <a href="mailto:terry@demolink.org" class="reveal-inline-block text-middle">terry@demolink.org</a>
                            </li>
                          </ul>
                        </address>
                      </div>
                      <div class="cell-sm-6 cell-md-3 offset-top-50"><img src="images/users/user-randy-shneider-270x270.jpg" width="270" height="270" alt="" class="img-responsive reveal-inline-block">
                        <div class="text-md-left offset-top-20">
                          <div>
                            <h5 class="text-bold text-primary"><a href="team-member.html">Randy Schneider</a></h5>
                          </div>
                        </div>
                        <address class="contact-info text-md-left">
                          <ul class="list-unstyled p">
                            <li class="reveal-block"><span class="icon icon-xxs mdi mdi-phone text-middle"></span> <a href="callto:1-800-7650-986" class="reveal-inline-block text-middle">1-800-7650-986</a>
                            </li>
                            <li class="reveal-block"><span class="icon icon-xxs mdi mdi-email-open text-middle"></span> <a href="mailto:randy@demolink.org" class="reveal-inline-block text-middle">randy@demolink.org</a>
                            </li>
                          </ul>
                        </address>
                      </div>
                      <div class="cell-sm-6 cell-md-3 offset-top-50"><img src="images/users/user-olivia-marshall-270x270.jpg" width="270" height="270" alt="" class="img-responsive reveal-inline-block">
                        <div class="text-md-left offset-top-20">
                          <div>
                            <h5 class="text-bold text-primary"><a href="team-member.html">Olivia Marshall</a></h5>
                          </div>
                        </div>
                        <address class="contact-info text-md-left">
                          <ul class="list-unstyled p">
                            <li class="reveal-block"><span class="icon icon-xxs mdi mdi-phone text-middle"></span> <a href="callto:1-800-7650-986" class="reveal-inline-block text-middle">1-800-7650-986</a>
                            </li>
                            <li class="reveal-block"><span class="icon icon-xxs mdi mdi-email-open text-middle"></span> <a href="mailto:olivia@demolink.org" class="reveal-inline-block text-middle">olivia@demolink.org</a>
                            </li>
                          </ul>
                        </address>
                      </div>
                      <div class="cell-sm-6 cell-md-3 offset-top-50"><img src="images/users/user-samanta-nelson-270x270.jpg" width="270" height="270" alt="" class="img-responsive reveal-inline-block">
                        <div class="text-md-left offset-top-20">
                          <div>
                            <h5 class="text-bold text-primary"><a href="team-member.html">Samantha Nelson</a></h5>
                          </div>
                        </div>
                        <address class="contact-info text-md-left">
                          <ul class="list-unstyled p">
                            <li class="reveal-block"><span class="icon icon-xxs mdi mdi-phone text-middle"></span> <a href="callto:1-800-7650-986" class="reveal-inline-block text-middle">1-800-7650-986</a>
                            </li>
                            <li class="reveal-block"><span class="icon icon-xxs mdi mdi-email-open text-middle"></span> <a href="mailto:samantha@demolink.org" class="reveal-inline-block text-middle">samantha@demolink.org</a>
                            </li>
                          </ul>
                        </address>
                      </div>
                      <div class="cell-sm-6 cell-md-3 offset-top-50"><img src="images/users/user-maria-george-270x270.jpg" width="270" height="270" alt="" class="img-responsive reveal-inline-block">
                        <div class="text-md-left offset-top-20">
                          <div>
                            <h5 class="text-bold text-primary"><a href="team-member.html">Maria George</a></h5>
                          </div>
                        </div>
                        <address class="contact-info text-md-left">
                          <ul class="list-unstyled p">
                            <li><span class="icon icon-xxs mdi mdi-phone text-middle"></span> <a href="callto:1-800-7650-986" class="reveal-inline-block text-middle">1-800-7650-986</a>
                            </li>
                            <li><span class="icon icon-xxs mdi mdi-email-open text-middle"></span> <a href="mailto:maria@demolink.org" class="reveal-inline-block text-middle">maria@demolink.org</a>
                            </li>
                          </ul>
                        </address>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="range section-34">
                      <div class="cell-sm-6 cell-md-4">
                        <blockquote class="quote quote-slider-4 unit unit-spacing-sm unit-sm-horizontal">
                          <div class="unit-left"><img width="80" height="80" src="images/users/user-lisa-evans-80x80.jpg" alt="" class="quote-img img-circle"></div>
                          <div class="unit-body text-left">
                            <div>
                              <p>
                                <q>Thank you for your prompt response and the help that you gave me. You always have a quick solution to any problem. What an excellent level of customer service</q>
                              </p>
                            </div>
                            <p class="text-bold quote-author offset-top-10 offset-sm-top-4">
                              <cite class="text-normal">Lisa Evans</cite>
                            </p>
                          </div>
                        </blockquote>
                      </div>
                      <div class="cell-sm-6 cell-md-4 offset-top-50 offset-sm-top-0">
                        <blockquote class="quote quote-slider-4 unit unit-spacing-sm unit-sm-horizontal">
                          <div class="unit-left"><img width="80" height="80" src="images/users/user-nicholas-lane-80x80.jpg" alt="" class="quote-img img-circle"></div>
                          <div class="unit-body text-left">
                            <div>
                              <p>
                                <q>I just want to thank you for your help. I was so pleased and grateful. Keep up the excellent work. Your site provides the best support I have ever encountered.</q>
                              </p>
                            </div>
                            <p class="text-bold quote-author offset-top-10 offset-sm-top-4">
                              <cite class="text-normal">Nicholas Lane</cite>
                            </p>
                          </div>
                        </blockquote>
                      </div>
                      <div class="cell-sm-6 cell-md-4 offset-top-50 offset-md-top-0">
                        <blockquote class="quote quote-slider-4 unit unit-spacing-sm unit-sm-horizontal">
                          <div class="unit-left"><img width="80" height="80" src="images/users/user-ethan-dean-80x80.jpg" alt="" class="quote-img img-circle"></div>
                          <div class="unit-body text-left">
                            <div>
                              <p>
                                <q>Thank you very much for your rapid response. It's no doubt that your company is worth admiring! I have experienced the fastest support ever. ort ever. Thank you a thousand</q>
                              </p>
                            </div>
                            <p class="text-bold quote-author offset-top-10 offset-sm-top-4">
                              <cite class="text-normal">Ethan Dean</cite>
                            </p>
                          </div>
                        </blockquote>
                      </div>
                      <div class="cell-sm-6 cell-md-4 offset-top-50">
                        <blockquote class="quote quote-slider-4 unit unit-spacing-sm unit-sm-horizontal">
                          <div class="unit-left"><img width="80" height="80" src="images/users/user-pamela-hansen-80x80.jpg" alt="" class="quote-img img-circle"></div>
                          <div class="unit-body text-left">
                            <div>
                              <p>
                                <q>I would just like to say thank you for your prompt and effective service, for your friendly and professional support staff! I will recommend your expert company to all my friends.</q>
                              </p>
                            </div>
                            <p class="text-bold quote-author offset-top-10 offset-sm-top-4">
                              <cite class="text-normal">Pamela Hansen</cite>
                            </p>
                          </div>
                        </blockquote>
                      </div>
                      <div class="cell-sm-6 cell-md-4 offset-top-50">
                        <blockquote class="quote quote-slider-4 unit unit-spacing-sm unit-sm-horizontal">
                          <div class="unit-left"><img width="80" height="80" src="images/users/user-donald-webb-80x80.jpg" alt="" class="quote-img img-circle"></div>
                          <div class="unit-body text-left">
                            <div>
                              <p>
                                <q>Wow, I'm so happy with your service. You managed to exceed my expectations! You guys are very efficient and I will refer more people to your company!</q>
                              </p>
                            </div>
                            <p class="text-bold quote-author offset-top-10 offset-sm-top-4">
                              <cite class="text-normal">Donald Webb</cite>
                            </p>
                          </div>
                        </blockquote>
                      </div>
                      <div class="cell-sm-6 cell-md-4 offset-top-50">
                        <blockquote class="quote quote-slider-4 unit unit-spacing-sm unit-sm-horizontal">
                          <div class="unit-left"><img width="80" height="80" src="images/users/user-donna-keller-80x80.jpg" alt="" class="quote-img img-circle"></div>
                          <div class="unit-body text-left">
                            <div>
                              <p>
                                <q>I just don't know how to describe your services... They are extraordinary! I am quite happy with them! Just keep up going this way!</q>
                              </p>
                            </div>
                            <p class="text-bold quote-author offset-top-10 offset-sm-top-4">
                              <cite class="text-normal">Donna Keller</cite>
                            </p>
                          </div>
                        </blockquote>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footer-->
      <!-- Default footer-->
      <footer class="section-relative section-top-66 section-bottom-34 page-footer bg-gray-base context-dark">
        <div class="shell">
          <div class="range range-sm-center text-lg-left">
            <div class="cell-sm-8 cell-md-12">
              <div class="range range-xs-center">
                <div class="cell-xs-7 text-xs-left cell-md-4 cell-lg-3 cell-lg-push-4">
                  <h6 class="text-uppercase text-spacing-60">Latest news</h6>
                        <!-- Post Widget-->
                        <article class="post widget-post text-left"><a href="#">
                            <div class="unit unit-horizontal unit-spacing-xs unit-middle">
                              <div class="unit-body">
                                <div class="post-meta"><span class="icon-xxs text-primary mdi mdi-arrow-right"></span>
                                  <time datetime="2016-01-01" class="text-dark">05/14/2015</time>
                                </div>
                                <div class="post-title">
                                  <h6 class="text-regular">Top 10 Apartments in LA</h6>
                                </div>
                              </div>
                            </div></a></article>
                        <!-- Post Widget-->
                        <article class="post widget-post text-left"><a href="#">
                            <div class="unit unit-horizontal unit-spacing-xs unit-middle">
                              <div class="unit-body">
                                <div class="post-meta"><span class="icon-xxs text-primary mdi mdi-arrow-right"></span>
                                  <time datetime="2016-01-01" class="text-dark">05/14/2015</time>
                                </div>
                                <div class="post-title">
                                  <h6 class="text-regular">Choosing a Rental Property</h6>
                                </div>
                              </div>
                            </div></a></article>
                        <!-- Post Widget-->
                        <article class="post widget-post text-left"><a href="#">
                            <div class="unit unit-horizontal unit-spacing-xs unit-middle">
                              <div class="unit-body">
                                <div class="post-meta"><span class="icon-xxs text-primary mdi mdi-arrow-right"></span>
                                  <time datetime="2016-01-01" class="text-dark">05/14/2015</time>
                                </div>
                                <div class="post-title">
                                  <h6 class="text-regular">Features of Mortgage Loans</h6>
                                </div>
                              </div>
                            </div></a></article>
                </div>
                <div class="cell-xs-5 offset-top-41 offset-xs-top-0 text-xs-left cell-md-3 cell-lg-2 cell-lg-push-3">
                  <h6 class="text-uppercase text-spacing-60">Useful Links</h6>
                  <div class="reveal-block">
                    <div class="reveal-inline-block">
                      <ul class="list list-marked">
                        <li><a href="#">Properties</a></li>
                        <li><a href="#">Amenities</a></li>
                        <li><a href="#">Rentals</a></li>
                        <li><a href="#">Mortgages</a></li>
                        <li><a href="#">Agents</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="cell-xs-12 offset-top-41 cell-md-5 offset-md-top-0 text-md-left cell-lg-4 cell-lg-push-2">
                  <h6 class="text-uppercase text-spacing-60">Newsletter</h6>
                  <p>Keep up with the latest company news and events. Enter your e-mail and subscribe to our newsletter.</p>
                  <div class="offset-top-30">
                          <form data-form-output="form-subscribe-footer" data-form-type="subscribe" method="post" action="bat/rd-mailform.php" class="rd-mailform">
                            <div class="form-group">
                              <div class="input-group input-group-sm"><span class="input-group-addon"><span class="input-group-icon mdi mdi-email"></span></span>
                                <input placeholder="Type your E-Mail" type="email" name="email" data-constraints="@Required @Email" class="form-control"><span class="input-group-btn">
                                  <button type="submit" class="btn btn-sm btn-primary">Subscribe</button></span>
                              </div>
                            </div>
                            <div id="form-subscribe-footer" class="form-output"></div>
                          </form>
                  </div>
                </div>
                <div class="cell-xs-12 offset-top-66 cell-lg-3 cell-lg-push-1 offset-lg-top-0">
                  <!-- Footer brand-->
                  <div class="footer-brand"><a href="index.html"><img width='170' height='30' src='images/logo-light.png' alt=''/></a></div>
                  <p class="text-darker offset-top-4 inset-right-15 inset-lg-right-0 inset-lg-left-15">Real Estate</p>
                        <ul class="list-inline">
                          <li><a href="#" class="icon fa fa-facebook icon-xxs icon-circle icon-darkest-filled"></a></li>
                          <li><a href="#" class="icon fa fa-twitter icon-xxs icon-circle icon-darkest-filled"></a></li>
                          <li><a href="#" class="icon fa fa-google-plus icon-xxs icon-circle icon-darkest-filled"></a></li>
                          <li><a href="#" class="icon fa fa-linkedin icon-xxs icon-circle icon-darkest-filled"></a></li>
                        </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="shell offset-top-50">
          <p class="small text-darker">Intense Real Estate &copy; <span id="copyright-year"></span> . <a href="privacy.html">Privacy Policy</a>
            <!-- {%FOOTER_LINK}-->
          </p>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div id="form-output-global" class="snackbars"></div>
    <!-- PhotoSwipe Gallery-->
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>