<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo">
  <head>
    <!-- Site Title-->
    <title>Intense Real Estate</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="intense web design multipurpose template">
    <meta name="date" content="Dec 26">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:400,700'">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Head-->
      <header class="page-head">
        <!-- RD Navbar Transparent-->
        <div class="rd-navbar-wrap">
          <nav data-lg-stick-up-offset="79px" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" class="rd-navbar rd-navbar-top-panel rd-navbar-light" data-lg-auto-height="true" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
            <div class="container">
              <div class="rd-navbar-inner">
                <div class="rd-navbar-top-panel">
                  <div class="left-side">
                    <ul class="rd-navbar-top-links list-unstyled">
                      <li><a href="login.html" class="text-uppercase text-ubold"><small>Log in</small></a></li>
                      <li><a href="login.html" class="text-uppercase text-ubold"><small>Register</small></a></li>
                    </ul>
                  </div>
                  <div class="right-side">
                    <address class="contact-info text-left"><span class="p"><span class="icon mdi mdi-email-open"></span><a href="mailto:#">info@demolink.org</a></span><span class="p"><span class="icon mdi mdi-phone"></span><a href="callto:#">1-800-1234-567</a></span></address>
                  </div>
                </div>
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                  <!-- RD Navbar Top Panel Toggle-->
                  <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-top-panel" class="rd-navbar-top-panel-toggle"><span></span></button>
                  <!--Navbar Brand-->
                  <div class="rd-navbar-brand"><a href="index.html"><img width='217' height='36' src='images/logo-dark.png' alt=''/></a></div>
                </div>
                <div class="rd-navbar-menu-wrap">
                  <div class="rd-navbar-nav-wrap">
                    <div class="rd-navbar-mobile-scroll">
                      <!--Navbar Brand Mobile-->
                      <div class="rd-navbar-mobile-brand"><a href="index.html"><img width='217' height='36' src='images/logo-dark.png' alt=''/></a></div>
                      <!-- RD Navbar Nav-->
                      <ul class="rd-navbar-nav">
                        <li class="active"><a href="index.html"><span>Home</span></a>
                        </li>
                        <li><a href="catalog.html"><span>Catalog</span></a>
                        </li>
                        <li><a href="submit-property.html"><span>Submit Property</span></a>
                        </li>
                        <li><a href="services.html"><span>Services</span></a>
                        </li>
                        <li><a href="about.html"><span>About</span></a>
                        </li>
                        <li><a href="contact.html"><span>Contacts</span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Page Contents-->
      <main class="page-content">
        <!--Section Search form-->
        <section class="context-dark">
          <!-- Swiper-->
          <div data-height="33%" data-min-height="600px" data-dots="true" class="swiper-container swiper-slider">
            <div class="swiper-wrapper">
              <div data-slide-bg="images/slide-01-1920x640.jpg" style="background-position: center center" class="swiper-slide swiper-slide-overlay-disable"></div>
              <div data-slide-bg="images/slide-02-1920x640.jpg" style="background-position: center center" class="swiper-slide swiper-slide-overlay-disable"></div>
              <div data-slide-bg="images/slide-03-1920x640.jpg" style="background-position: center center" class="swiper-slide swiper-slide-overlay-disable"></div>
            </div>
            <div class="swiper-caption-wraper">
              <div class="shell section-41">
                <div class="range range-xs-center">
                  <h1 class="text-bold">Professional realtor works for you</h1>
                  <div class="cell-xs-10 cell-md-7 cell-lg-6">
                    <div class="offset-top-24 offset-md-top-50 text-left">
                      <!-- Responsive-tabs-->
                      <div data-type="horizontal" class="responsive-tabs responsive-tabs-dashed">
                        <ul data-group="tabs-group-default" class="resp-tabs-list tabs-group-default">
                          <li>sale </li>
                          <li>rent</li>
                          <li>commercial</li>
                        </ul>
                        <div data-group="tabs-group-default" class="resp-tabs-container text-left tabs-group-default">
                          <div class="offset-md-top-10">
                            <form>
                              <div class="group-sm group-top">
                                <div style="max-width: 390px" class="group-item element-fullwidth">
                                  <div class="form-group">
                                    <label for="home-tabs1-search-form-input" class="form-label rd-input-label">Search by City or Address:</label>
                                    <input id="home-tabs1-search-form-input" type="text" name="s" autocomplete="off" class="form-control">
                                  </div>
                                </div>
                                <button type="button" style="max-width: 120px" class="btn btn-primary element-fullwidth">search</button>
                              </div>
                            </form>
                          </div>
                          <div class="offset-md-top-10">
                            <form>
                              <div class="group-sm group-top">
                                <div style="max-width: 390px" class="group-item element-fullwidth">
                                  <div class="form-group">
                                    <label for="home-tabs2-search-form-input" class="form-label rd-input-label">Search by  Address or City:</label>
                                    <input id="home-tabs2-search-form-input" type="text" name="s" autocomplete="off" class="form-control">
                                  </div>
                                </div>
                                <button type="button" style="max-width: 120px" class="btn btn-primary element-fullwidth">search</button>
                              </div>
                            </form>
                          </div>
                          <div class="offset-md-top-10">
                            <form>
                              <div class="group-sm group-top">
                                <div style="max-width: 390px" class="group-item element-fullwidth">
                                  <div class="form-group">
                                    <label for="home-tabs3-search-form-input" class="form-label rd-input-label">Search by City or Address:</label>
                                    <input id="home-tabs3-search-form-input" type="text" name="s" autocomplete="off" class="form-control">
                                  </div>
                                </div>
                                <button type="button" style="max-width: 120px" class="btn btn-primary element-fullwidth">search</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Swiper Pagination-->
            <div class="swiper-pagination swiper-pagination-type-2"></div>
          </div>
        </section>
        <!--Section thumbnails terry-->
        <section class="section-34">
          <div class="shell-fluid">
            <div class="range range-xs-center">
              <div class="cell-xs-8 cell-sm-6 cell-lg-3">
                <!-- Thumbnail Terry-->
                <figure class="thumbnail-terry"><a href="#"><img width="442" height="280" src="images/home-img-01-442-280.jpg" alt=""/></a>
                  <figcaption>
                    <div>
                      <h4 class="thumbnail-terry-title">With Swimming Pool </h4>
                    </div>
                    <p class="thumbnail-terry-desc offset-top-0">32 properties</p><a href="catalog.html" class="btn offset-top-10 offset-md-top-0 btn-primary">choose an apartment</a>
                  </figcaption>
                </figure>
              </div>
              <div class="cell-xs-8 cell-sm-6 cell-lg-3 offset-top-30 offset-sm-top-0">
                <!-- Thumbnail Terry-->
                <figure class="thumbnail-terry"><a href="#"><img width="442" height="280" src="images/home-img-02-442-280.jpg" alt=""/></a>
                  <figcaption>
                    <div>
                      <h4 class="thumbnail-terry-title">Cozy Houses</h4>
                    </div>
                    <p class="thumbnail-terry-desc offset-top-0">54 properties</p><a href="catalog.html" class="btn offset-top-10 offset-md-top-0 btn-primary">choose an apartment</a>
                  </figcaption>
                </figure>
              </div>
              <div class="cell-xs-8 cell-sm-6 cell-lg-3 offset-top-30 offset-lg-top-0">
                <!-- Thumbnail Terry-->
                <figure class="thumbnail-terry"><a href="#"><img width="442" height="280" src="images/home-img-03-442-280.jpg" alt=""/></a>
                  <figcaption>
                    <div>
                      <h4 class="thumbnail-terry-title">Studio Apartments</h4>
                    </div>
                    <p class="thumbnail-terry-desc offset-top-0">32 properties</p><a href="catalog.html" class="btn offset-top-10 offset-md-top-0 btn-primary">choose an apartment</a>
                  </figcaption>
                </figure>
              </div>
              <div class="cell-xs-8 cell-sm-6 cell-lg-3 offset-top-30 offset-lg-top-0">
                <!-- Thumbnail Terry-->
                <figure class="thumbnail-terry"><a href="#"><img width="442" height="280" src="images/home-img-04-442-280.jpg" alt=""/></a>
                  <figcaption>
                    <div>
                      <h4 class="thumbnail-terry-title">Luxury Houses</h4>
                    </div>
                    <p class="thumbnail-terry-desc offset-top-0">19 properties</p><a href="catalog.html" class="btn offset-top-10 offset-md-top-0 btn-primary">choose an apartment</a>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
        </section>
        <!--Section Recent Properties-->
        <section class="section-bottom-98 section-top-34 section-md-bottom-110 section-md-top-66">
          <div class="shell">
            <h2 class="text-bold">Recent Properties</h2>
            <hr class="divider bg-saffron">
            <div class="range">
              <div class="cell-sm-6 cell-md-4"><img src="images/home-img-05-370x250.jpg" width="370" height="250" alt="" class="img-responsive reveal-inline-block">
                <div class="text-sm-left offset-top-24">
                  <div>
                    <h5 class="text-bold text-primary"><a href="single-property-page.html">AVA Nob Hill</a></h5>
                  </div>
                  <h6 class="offset-top-10"> $1199.00/mon</h6>
                  <ul class="list-inline list-inline-dotted text-dark">
                    <li>1200 sq ft</li>
                    <li>4 bedrooms</li>
                    <li>2 bathrooms</li>
                  </ul>
                  <div>
                    <p>AVA Nob Hill includes studios and 1 and 2 bedroom apartments that feature an urban-inspired design that extends beyond your walls and throughout the entire community.</p>
                  </div>
                </div>
              </div>
              <div class="cell-sm-6 cell-md-4 offset-top-66 offset-sm-top-0"><img src="images/home-img-06-370x250.jpg" width="370" height="250" alt="" class="img-responsive reveal-inline-block">
                <div class="text-sm-left offset-top-24">
                  <div>
                    <h5 class="text-bold text-primary"><a href="single-property-page.html">Ashton San Francisco</a></h5>
                  </div>
                  <h6 class="offset-top-10"> $1595.00/mon</h6>
                  <ul class="list-inline list-inline-dotted text-dark">
                    <li>1200 sq ft</li>
                    <li>2 bedrooms</li>
                    <li>2 bathrooms</li>
                  </ul>
                  <div>
                    <p>Ashton San Francisco offers luxury apartments, eco-friendly features, and remarkable on-site resident amenities. Enjoy premier services and access to our state-of-the-art fitness center, clubhouse, business center, and outdoor fire pit lounge.</p>
                  </div>
                </div>
              </div>
              <div class="cell-sm-6 cell-md-4 offset-top-66 offset-md-top-0"><img src="images/home-img-07-370x250.jpg" width="370" height="250" alt="" class="img-responsive reveal-inline-block">
                <div class="text-sm-left offset-top-24">
                  <div>
                    <h5 class="text-bold text-primary"><a href="single-property-page.html">The Presidio Residences</a></h5>
                  </div>
                  <h6 class="offset-top-10"> $2699.00/mon</h6>
                  <ul class="list-inline list-inline-dotted text-dark">
                    <li>2200 sq ft</li>
                    <li>4 bedrooms</li>
                    <li>3 bathrooms</li>
                  </ul>
                  <div>
                    <p>The Presidio Residences offer a unique opportunity to live in a national park setting and enjoy quiet neighborhoods, convenient location, beautiful open spaces, and outstanding recreational amenities.</p>
                  </div>
                </div>
              </div>
              <div class="cell-sm-6 cell-md-4 offset-top-66"><img src="images/home-img-08-370x250.jpg" width="370" height="250" alt="" class="img-responsive reveal-inline-block">
                <div class="text-sm-left offset-top-24">
                  <div>
                    <h5 class="text-bold text-primary"><a href="single-property-page.html">Alchemy by Alta</a></h5>
                  </div>
                  <h6 class="offset-top-10"> $1199.00/mon</h6>
                  <ul class="list-inline list-inline-dotted text-dark">
                    <li>1200 sq ft</li>
                    <li>4 bedrooms</li>
                    <li>2 bathrooms</li>
                  </ul>
                  <div>
                    <p>One month FREE on select apartment homes for a limited time.</p>
                  </div>
                </div>
              </div>
              <div class="cell-sm-6 cell-md-4 offset-top-66"><img src="images/home-img-09-370x250.jpg" width="370" height="250" alt="" class="img-responsive reveal-inline-block">
                <div class="text-sm-left offset-top-24">
                  <div>
                    <h5 class="text-bold text-primary"><a href="single-property-page.html">Avalon at Mission Bay</a></h5>
                  </div>
                  <h6 class="offset-top-10"> $1595.00/mon</h6>
                  <ul class="list-inline list-inline-dotted text-dark">
                    <li>1200 sq ft</li>
                    <li>2 bedrooms</li>
                    <li>2 bathrooms</li>
                  </ul>
                  <div>
                    <p>Avalon at Mission Bay located in San Francisco near the San Francisco Caltrain Station offers thoughtfully designed studio, 1, 2 and 3 bedroom apartments and town homes.</p>
                  </div>
                </div>
              </div>
              <div class="cell-sm-6 cell-md-4 offset-top-66"><img src="images/home-img-10-370x250.jpg" width="370" height="250" alt="" class="img-responsive reveal-inline-block">
                <div class="text-sm-left offset-top-24">
                  <div>
                    <h5 class="text-bold text-primary"><a href="single-property-page.html">Bayside Village Apartments</a></h5>
                  </div>
                  <h6 class="offset-top-10"> $2699.00/mon</h6>
                  <ul class="list-inline list-inline-dotted text-dark">
                    <li>2200 sq ft</li>
                    <li>4 bedrooms</li>
                    <li>3 bathrooms</li>
                  </ul>
                  <div>
                    <p>Pick your pleasure from a vantage point that puts all the best of the city's lively South Beach neighborhood within easy reach.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="offset-top-50"><a href="catalog.html" class="btn btn-primary">view all properties</a></div>
          </div>
        </section>
        <!--Section Real Estate Tools and Resources-->
        <section class="context-dark">
          <!-- RD Parallax-->
          <div data-on="false" data-md-on="true" class="rd-parallax">
            <div data-speed="0.35" data-type="media" data-url="images/bg-01-1920x768.jpg" class="rd-parallax-layer"></div>
            <div data-speed="0" data-type="html" class="rd-parallax-layer">
              <div class="shell section-98 section-sm-110">
                <h2 class="text-bold">Real Estate Tools and Resources</h2>
                <hr class="divider bg-saffron">
                <div class="range range-xs-center offset-top-66">
                  <div class="cell-sm-4">
                    <!-- Icon Box Type 4--><span class="icon icon-circle mdi mdi-comment-text-outline icon-carrot-filled"></span>
                    <h5 class="text-bold text-uppercase">more listings</h5>
                    <p class="text-light">Check up to 40% more houses for sale. See pictures of your new life at a new place. See maps, markets, etc.</p>
                  </div>
                  <div class="cell-sm-4 offset-top-66 offset-sm-top-0">
                    <!-- Icon Box Type 4--><span class="icon icon-circle mdi mdi-star icon-carrot-filled"></span>
                    <h5 class="text-bold text-uppercase">top-rated agents</h5>
                    <p class="text-light">All our real estate agents are professionals in your neighborhood, which are ready to help you find your new home.</p>
                  </div>
                  <div class="cell-sm-4 offset-top-66 offset-sm-top-0">
                    <!-- Icon Box Type 4--><span class="icon icon-circle mdi mdi-domain icon-carrot-filled"></span>
                    <h5 class="text-bold text-uppercase">home estimates</h5>
                    <p class="text-light">Wanna know how much your new home will cost? See estimates for any neighborhood and check prices for similar homes.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--Section Real Estate Agents-->
        <section class="section-98 section-md-110">
          <div class="shell">
            <h2 class="text-bold">Real Estate Agents</h2>
            <hr class="divider bg-saffron">
            <div class="range range-xs-center offset-top-66">
              <div class="cell-sm-6 cell-md-3">
                <div class="member-block-type-6"><img src="images/users/user-ashley-mason-270x270.jpg" width="270" height="270" alt="" class="img-responsive reveal-inline-block">
                  <div class="text-left offset-top-20">
                    <div>
                      <h5 class="text-bold text-primary"><a href="team-member.html">Ashley Mason</a></h5>
                    </div>
                  </div>
                  <address class="contact-info text-left">
                    <ul class="list-unstyled p">
                      <li class="reveal-block"><span class="icon icon-xxs mdi mdi-phone text-middle"></span> <a href="callto:1-800-7650-986" class="reveal-inline-block text-middle">1-800-7650-986</a>
                      </li>
                      <li class="reveal-block"><span class="icon icon-xxs mdi mdi-email-open text-middle"></span> <a href="mailto:ashley@demolink.org" class="reveal-inline-block text-middle">ashley@demolink.org</a>
                      </li>
                    </ul>
                  </address>
                </div>
              </div>
              <div class="cell-sm-6 cell-md-3 offset-top-50 offset-sm-top-0">
                <div class="member-block-type-6"><img src="images/users/user-russel-myers-270x270.jpg" width="270" height="270" alt="" class="img-responsive reveal-inline-block">
                  <div class="text-left offset-top-20">
                    <div>
                      <h5 class="text-bold text-primary"><a href="team-member.html">Russell Myers</a></h5>
                    </div>
                  </div>
                  <address class="contact-info text-left">
                    <ul class="list-unstyled p">
                      <li class="reveal-block"><span class="icon icon-xxs mdi mdi-phone text-middle"></span> <a href="callto:1-800-7650-986" class="reveal-inline-block text-middle">1-800-7650-986</a>
                      </li>
                      <li class="reveal-block"><span class="icon icon-xxs mdi mdi-email-open text-middle"></span> <a href="mailto:russell@demolink.org" class="reveal-inline-block text-middle">russell@demolink.org</a>
                      </li>
                    </ul>
                  </address>
                </div>
              </div>
              <div class="cell-sm-6 cell-md-3 offset-top-50 offset-md-top-0">
                <div class="member-block-type-6"><img src="images/users/user-shirley-vasques-270x270.jpg" width="270" height="270" alt="" class="img-responsive reveal-inline-block">
                  <div class="text-left offset-top-20">
                    <div>
                      <h5 class="text-bold text-primary"><a href="team-member.html">Shirley Vasquez</a></h5>
                    </div>
                  </div>
                  <address class="contact-info text-left">
                    <ul class="list-unstyled p">
                      <li class="reveal-block"><span class="icon icon-xxs mdi mdi-phone text-middle"></span> <a href="callto:1-800-7650-986" class="reveal-inline-block text-middle">1-800-7650-986</a>
                      </li>
                      <li class="reveal-block"><span class="icon icon-xxs mdi mdi-email-open text-middle"></span> <a href="mailto:shirley@demolink.org" class="reveal-inline-block text-middle">shirley@demolink.org</a>
                      </li>
                    </ul>
                  </address>
                </div>
              </div>
              <div class="cell-sm-6 cell-md-3 offset-top-50 offset-md-top-0">
                <div class="member-block-type-6"><img src="images/users/user-terry-sandoval-270x270.jpg" width="270" height="270" alt="" class="img-responsive reveal-inline-block">
                  <div class="text-left offset-top-20">
                    <div>
                      <h5 class="text-bold text-primary"><a href="team-member.html">Terry Sandoval</a></h5>
                    </div>
                  </div>
                  <address class="contact-info text-left">
                    <ul class="list-unstyled p">
                      <li><span class="icon icon-xxs mdi mdi-phone text-middle"></span> <a href="callto:1-800-7650-986" class="reveal-inline-block text-middle">1-800-7650-986</a>
                      </li>
                      <li><span class="icon icon-xxs mdi mdi-email-open text-middle"></span> <a href="mailto:terry@demolink.org" class="reveal-inline-block text-middle">terry@demolink.org</a>
                      </li>
                    </ul>
                  </address>
                </div>
              </div>
            </div>
            <div class="offset-top-66"><a href="about.html" class="btn btn-primary">view all agents</a></div>
          </div>
        </section>
        <!--Section Testimonials-->
        <section class="section-98 section-md-110 bg-lighter">
          <div class="shell">
            <h2 class="text-bold">Testimonials</h2>
            <hr class="divider bg-saffron">
            <div class="offset-top-66">
              <!-- Testimonials Slider v.4-->
              <div data-items="1" data-sm-items="2" data-lg-items="3" data-nav="false" data-dots="true" data-margin="50px" class="owl-carousel owl-carousel-classic owl-carousel-class-light owl-carousel-testimonials-3">
                <div>
                  <blockquote class="quote quote-slider-4 unit uni-spacing-sm unit-sm-horizontal">
                    <div class="unit-left"><img width="80" height="80" src="images/users/user-lisa-evans-80x80.jpg" alt="Lisa Evans" class="quote-img img-circle"/></div>
                    <div class="unit-body text-left">
                      <div>
                        <p>
                          <q>Thank you for your prompt response and the help that you gave me. You always have a quick solution to any problem. What an excellent level of customer service!</q>
                        </p>
                      </div>
                      <p class="text-bold quote-author offset-top-10 offset-sm-top-4">
                        <cite class="text-normal">Lisa Evans</cite>
                      </p>
                    </div>
                  </blockquote>
                </div>
                <div>
                  <blockquote class="quote quote-slider-4 unit uni-spacing-sm unit-sm-horizontal">
                    <div class="unit-left"><img width="80" height="80" src="images/users/user-nicholas-lane-80x80.jpg" alt="Nicholas Lane" class="quote-img img-circle"/></div>
                    <div class="unit-body text-left">
                      <div>
                        <p>
                          <q>I just want to thank you for your help. I was so pleased and grateful. Keep up the excellent work. Your site provides the best support I have ever encountered.</q>
                        </p>
                      </div>
                      <p class="text-bold quote-author offset-top-10 offset-sm-top-4">
                        <cite class="text-normal">Nicholas Lane</cite>
                      </p>
                    </div>
                  </blockquote>
                </div>
                <div>
                  <blockquote class="quote quote-slider-4 unit uni-spacing-sm unit-sm-horizontal">
                    <div class="unit-left"><img width="80" height="80" src="images/users/user-ethan-dean-80x80.jpg" alt="Ethan Dean" class="quote-img img-circle"/></div>
                    <div class="unit-body text-left">
                      <div>
                        <p>
                          <q>Thank you very much for your rapid response. It's no doubt that your company is worth admiring! I have experienced the fastest support ever. Thank you a thousand times.</q>
                        </p>
                      </div>
                      <p class="text-bold quote-author offset-top-10 offset-sm-top-4">
                        <cite class="text-normal">Ethan Dean</cite>
                      </p>
                    </div>
                  </blockquote>
                </div>
                <div>
                  <blockquote class="quote quote-slider-4 unit uni-spacing-sm unit-sm-horizontal">
                    <div class="unit-left"><img width="80" height="80" src="images/users/user-lisa-evans-80x80.jpg" alt="Lisa Evans" class="quote-img img-circle"/></div>
                    <div class="unit-body text-left">
                      <div>
                        <p>
                          <q>Thank you for your prompt response and the help that you gave me. You always have a quick solution to any problem. What an excellent level of customer service!</q>
                        </p>
                      </div>
                      <p class="text-bold quote-author offset-top-10 offset-sm-top-4">
                        <cite class="text-normal">Lisa Evans</cite>
                      </p>
                    </div>
                  </blockquote>
                </div>
                <div>
                  <blockquote class="quote quote-slider-4 unit uni-spacing-sm unit-sm-horizontal">
                    <div class="unit-left"><img width="80" height="80" src="images/users/user-nicholas-lane-80x80.jpg" alt="Nicholas Lane" class="quote-img img-circle"/></div>
                    <div class="unit-body text-left">
                      <div>
                        <p>
                          <q>I just want to thank you for your help. I was so pleased and grateful. Keep up the excellent work. Your site provides the best support I have ever encountered.</q>
                        </p>
                      </div>
                      <p class="text-bold quote-author offset-top-10 offset-sm-top-4">
                        <cite class="text-normal">Nicholas Lane</cite>
                      </p>
                    </div>
                  </blockquote>
                </div>
                <div>
                  <blockquote class="quote quote-slider-4 unit uni-spacing-sm unit-sm-horizontal">
                    <div class="unit-left"><img width="80" height="80" src="images/users/user-ethan-dean-80x80.jpg" alt="Ethan Dean" class="quote-img img-circle"/></div>
                    <div class="unit-body text-left">
                      <div>
                        <p>
                          <q>Thank you very much for your rapid response. It's no doubt that your company is worth admiring! I have experienced the fastest support ever.Thank you a thousand </q>
                        </p>
                      </div>
                      <p class="text-bold quote-author offset-top-10 offset-sm-top-4">
                        <cite class="text-normal">Ethan Dean</cite>
                      </p>
                    </div>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--Section Real Estate Tools and Resources-->
        <section class="context-dark">
          <!-- RD Parallax-->
          <div data-on="false" data-md-on="true" class="rd-parallax">
            <div data-speed="0.35" data-type="media" data-url="images/bg-02-1920x855.jpg" class="rd-parallax-layer"></div>
            <div data-speed="0" data-type="html" class="rd-parallax-layer">
              <div class="shell section-98 section-sm-110">
                <h2 class="text-bold">Get In Touch</h2>
                <hr class="divider bg-saffron">
                <div class="range range-xs-center offset-top-66">
                  <div class="cell-sm-8">
                    <!-- RD Mailform-->
                    <form data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" class="rd-mailform text-left">
                      <div class="range">
                        <div class="cell-lg-6">
                          <div class="form-group">
                            <label for="real-estate-first-name" class="form-label">First name:</label>
                            <input id="real-estate-first-name" type="text" name="name" data-constraints="@Required" class="form-control">
                          </div>
                        </div>
                        <div class="cell-lg-6 offset-top-24 offset-lg-top-0">
                          <div class="form-group">
                            <label for="real-estate-last-name" class="form-label">Last name:</label>
                            <input id="real-estate-last-name" type="text" name="last_name" data-constraints="@Required" class="form-control">
                          </div>
                        </div>
                        <div class="cell-lg-6 offset-top-24">
                          <div class="form-group">
                            <label for="real-estate-phone" class="form-label">Phone:</label>
                            <input id="real-estate-phone" type="text" name="phone" data-constraints="@Required" class="form-control">
                          </div>
                        </div>
                        <div class="cell-lg-6 offset-top-24">
                          <div class="form-group">
                            <label for="real-estate-mail" class="form-label">E-mail:</label>
                            <input id="real-estate-mail" type="email" name="email" data-constraints="@Required @Email" class="form-control">
                          </div>
                        </div>
                        <div class="cell-lg-12 offset-top-24">
                          <div class="form-group">
                            <label for="contact-me-message" class="form-label">Message:</label>
                            <textarea id="contact-me-message" name="message" data-constraints="@Required" style="height: 150px" class="form-control"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="offset-top-30 text-center">
                        <button type="submit" class="btn btn-primary">send message</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footers-->
      <!-- Default footer-->
      <footer class="section-relative section-top-66 section-bottom-34 page-footer bg-gray-base context-dark">
        <div class="shell">
          <div class="range range-sm-center text-lg-left">
            <div class="cell-sm-8 cell-md-12">
              <div class="range range-xs-center">
                <div class="cell-xs-7 text-xs-left cell-md-4 cell-lg-3 cell-lg-push-4">
                  <h6 class="text-uppercase text-spacing-60">Latest news</h6>
                        <!-- Post Widget-->
                        <article class="post widget-post text-left"><a href="#">
                            <div class="unit unit-horizontal unit-spacing-xs unit-middle">
                              <div class="unit-body">
                                <div class="post-meta"><span class="icon-xxs text-primary mdi mdi-arrow-right"></span>
                                  <time datetime="2016-01-01" class="text-dark">05/14/2015</time>
                                </div>
                                <div class="post-title">
                                  <h6 class="text-regular">Top 10 Apartments in LA</h6>
                                </div>
                              </div>
                            </div></a></article>
                        <!-- Post Widget-->
                        <article class="post widget-post text-left"><a href="#">
                            <div class="unit unit-horizontal unit-spacing-xs unit-middle">
                              <div class="unit-body">
                                <div class="post-meta"><span class="icon-xxs text-primary mdi mdi-arrow-right"></span>
                                  <time datetime="2016-01-01" class="text-dark">05/14/2015</time>
                                </div>
                                <div class="post-title">
                                  <h6 class="text-regular">Choosing a Rental Property</h6>
                                </div>
                              </div>
                            </div></a></article>
                        <!-- Post Widget-->
                        <article class="post widget-post text-left"><a href="#">
                            <div class="unit unit-horizontal unit-spacing-xs unit-middle">
                              <div class="unit-body">
                                <div class="post-meta"><span class="icon-xxs text-primary mdi mdi-arrow-right"></span>
                                  <time datetime="2016-01-01" class="text-dark">05/14/2015</time>
                                </div>
                                <div class="post-title">
                                  <h6 class="text-regular">Features of Mortgage Loans</h6>
                                </div>
                              </div>
                            </div></a></article>
                </div>
                <div class="cell-xs-5 offset-top-41 offset-xs-top-0 text-xs-left cell-md-3 cell-lg-2 cell-lg-push-3">
                  <h6 class="text-uppercase text-spacing-60">Useful Links</h6>
                  <div class="reveal-block">
                    <div class="reveal-inline-block">
                      <ul class="list list-marked">
                        <li><a href="#">Properties</a></li>
                        <li><a href="#">Amenities</a></li>
                        <li><a href="#">Rentals</a></li>
                        <li><a href="#">Mortgages</a></li>
                        <li><a href="#">Agents</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="cell-xs-12 offset-top-41 cell-md-5 offset-md-top-0 text-md-left cell-lg-4 cell-lg-push-2">
                  <h6 class="text-uppercase text-spacing-60">Newsletter</h6>
                  <p>Keep up with the latest company news and events. Enter your e-mail and subscribe to our newsletter.</p>
                  <div class="offset-top-30">
                          <form data-form-output="form-subscribe-footer" data-form-type="subscribe" method="post" action="bat/rd-mailform.php" class="rd-mailform">
                            <div class="form-group">
                              <div class="input-group input-group-sm"><span class="input-group-addon"><span class="input-group-icon mdi mdi-email"></span></span>
                                <input placeholder="Type your E-Mail" type="email" name="email" data-constraints="@Required @Email" class="form-control"><span class="input-group-btn">
                                  <button type="submit" class="btn btn-sm btn-primary">Subscribe</button></span>
                              </div>
                            </div>
                            <div id="form-subscribe-footer" class="form-output"></div>
                          </form>
                  </div>
                </div>
                <div class="cell-xs-12 offset-top-66 cell-lg-3 cell-lg-push-1 offset-lg-top-0">
                  <!-- Footer brand-->
                  <div class="footer-brand"><a href="index.html"><img width='170' height='30' src='images/logo-light.png' alt=''/></a></div>
                  <p class="text-darker offset-top-4 inset-right-15 inset-lg-right-0 inset-lg-left-15">Real Estate</p>
                        <ul class="list-inline">
                          <li><a href="#" class="icon fa fa-facebook icon-xxs icon-circle icon-darkest-filled"></a></li>
                          <li><a href="#" class="icon fa fa-twitter icon-xxs icon-circle icon-darkest-filled"></a></li>
                          <li><a href="#" class="icon fa fa-google-plus icon-xxs icon-circle icon-darkest-filled"></a></li>
                          <li><a href="#" class="icon fa fa-linkedin icon-xxs icon-circle icon-darkest-filled"></a></li>
                        </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="shell offset-top-50">
          <p class="small text-darker">Intense Real Estate &copy; <span id="copyright-year"></span> . <a href="privacy.html">Privacy Policy</a>
            More <a rel="nofollow" href="http://www.templatemonster.com/category.php?category=153&type=1" target="_blank">Spanish Restaurant Templates at TemplateMonster.com</a>
          </p>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div id="form-output-global" class="snackbars"></div>
    <!-- PhotoSwipe Gallery-->
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>