<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo">
  <head>
    <!-- Site Title-->
    <title>Services</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="intense web design multipurpose template">
    <meta name="date" content="Dec 26">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:400,700'">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Head-->
      <header class="page-head">
        <!-- RD Navbar Transparent-->
        <div class="rd-navbar-wrap">
          <nav data-lg-stick-up-offset="79px" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" class="rd-navbar rd-navbar-top-panel rd-navbar-light" data-lg-auto-height="true" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
            <div class="container">
              <div class="rd-navbar-inner">
                <div class="rd-navbar-top-panel">
                  <div class="left-side">
                    <ul class="rd-navbar-top-links list-unstyled">
                      <li><a href="login.html" class="text-uppercase text-ubold"><small>Log in</small></a></li>
                      <li><a href="login.html" class="text-uppercase text-ubold"><small>Register</small></a></li>
                    </ul>
                  </div>
                  <div class="right-side">
                    <address class="contact-info text-left"><span class="p"><span class="icon mdi mdi-email-open"></span><a href="mailto:#">info@demolink.org</a></span><span class="p"><span class="icon mdi mdi-phone"></span><a href="callto:#">1-800-1234-567</a></span></address>
                  </div>
                </div>
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                  <!-- RD Navbar Top Panel Toggle-->
                  <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-top-panel" class="rd-navbar-top-panel-toggle"><span></span></button>
                  <!--Navbar Brand-->
                  <div class="rd-navbar-brand"><a href="index.html"><img width='217' height='36' src='images/logo-dark.png' alt=''/></a></div>
                </div>
                <div class="rd-navbar-menu-wrap">
                  <div class="rd-navbar-nav-wrap">
                    <div class="rd-navbar-mobile-scroll">
                      <!--Navbar Brand Mobile-->
                      <div class="rd-navbar-mobile-brand"><a href="index.html"><img width='217' height='36' src='images/logo-dark.png' alt=''/></a></div>
                      <!-- RD Navbar Nav-->
                      <ul class="rd-navbar-nav">
                        <li><a href="index.html"><span>Home</span></a>
                        </li>
                        <li><a href="catalog.html"><span>Catalog</span></a>
                        </li>
                        <li><a href="submit-property.html"><span>Submit Property</span></a>
                        </li>
                        <li class="active"><a href="services.html"><span>Services</span></a>
                        </li>
                        <li><a href="about.html"><span>About</span></a>
                        </li>
                        <li><a href="contact.html"><span>Contacts</span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <section class="rd-parallax context-dark">
          <div data-speed="0.2" data-type="media" data-url="images/bg-header-1920x362.jpg" class="rd-parallax-layer"></div>
          <div data-speed="0" data-type="html" class="rd-parallax-layer">
            <div class="shell section-top-34 section-sm-top-98 section-bottom-34">
              <div>
                <h1 class="text-bold">Services</h1>
              </div>
              <ul class="list-inline list-inline-dashed p text-light breadcrumb-modern offset-top-10 offset-sm-top-66">
                <li class="active"><a href="./">Home</a></li>
                <li> Services</li>
              </ul>
            </div>
          </div>
        </section>
      </header>
      <!-- Page Content-->
      <main class="page-content">
        <!--Section Welcome-->
        <section class="section-98 section-md-110 section-md-top-66">
          <div class="shell">
            <h2 class="text-bold">Welcome</h2>
            <hr class="divider bg-saffron">
            <div class="range">
              <div class="cell-md-5"><img src="images/services-img-01-470x310.jpg" width="470" height="310" alt="" class="img-responsive reveal-inline-block"></div>
              <div class="cell-md-7 offset-top-30 offset-md-top-0 text-md-left">
                <div class="inset-md-left-40">
                  <p>Intense is a national online resource for individuals looking for an apartment whether it is down the street or across the country. To simplify the process of finding a new place to live, Intense offers renters one of the most comprehensive databases of millions of apartments around the country. By incorporating the most relevant products to reach renters, including personalized searches, walk-through video demonstrations, community reviews, a responsive website and apps for both iPhone and Android phones, Intense delivers a multimedia experience renters want while creating easy access to listings from any computer or mobile device.</p>
                  <p>In addition to serving renters nationwide, Intense is a leading advertising destination for professional property owners and management companies, private landlords and classified listings. We are a subsidiary of Washington, DC-based CopSpor Group, Inc. and also own the rental website Apartment Home Living.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--Section Our Services-->
        <section class="context-dark">
          <!-- RD Parallax-->
          <div data-on="false" data-md-on="true" class="rd-parallax">
            <div data-speed="0.35" data-type="media" data-url="images/bg-03-1920x1022.jpg" class="rd-parallax-layer"></div>
            <div data-speed="0" data-type="html" class="rd-parallax-layer">
              <div class="shell section-98 section-sm-110">
                <h2 class="text-bold">Our Services</h2>
                <hr class="divider bg-saffron">
                <div class="range range-xs-center offset-top-66">
                  <div class="cell-sm-4">
                    <!-- Icon Box Type 4--><span class="icon icon-circle mdi mdi-crosshairs-gps icon-carrot-filled"></span>
                    <h5 class="text-bold text-uppercase">Find an Agent</h5>
                    <p class="text-light">Our real estate agents are professional in everything they do. Just call our office or contact the agent you like via email or his/her social profile. </p>
                  </div>
                  <div class="cell-sm-4 offset-top-66 offset-sm-top-0">
                    <!-- Icon Box Type 4--><span class="icon icon-circle mdi mdi-lock icon-carrot-filled"></span>
                    <h5 class="text-bold text-uppercase">Property Insurance</h5>
                    <p class="text-light">You can insure your property at our company immediately after buying or renting. Take care of the safety of your home and family.</p>
                  </div>
                  <div class="cell-sm-4 offset-top-66 offset-sm-top-0">
                    <!-- Icon Box Type 4--><span class="icon icon-circle mdi mdi-home icon-carrot-filled"></span>
                    <h5 class="text-bold text-uppercase">Property management</h5>
                    <p class="text-light">We deal with different kinds of properties. No matter what you need - a house, an apartment or garage – you’ll find a good option on our site. </p>
                  </div>
                  <div class="cell-sm-4 offset-top-66">
                    <!-- Icon Box Type 4--><span class="icon icon-circle mdi mdi-city icon-carrot-filled"></span>
                    <h5 class="text-bold text-uppercase">Homes for sale and rent</h5>
                    <p class="text-light">Don’t have enough money at the moment to buy a house? We have good offers both for rent and purchase. So, every client will be satisfied with our services.</p>
                  </div>
                  <div class="cell-sm-4 offset-top-66">
                    <!-- Icon Box Type 4--><span class="icon icon-circle mdi mdi-car icon-carrot-filled"></span>
                    <h5 class="text-bold text-uppercase">Parking</h5>
                    <p class="text-light">Our parking facilities are located within a minute walk from the properties we provide, and they all are equipped with 24/7 security.</p>
                  </div>
                  <div class="cell-sm-4 offset-top-66"> 
                    <!-- Icon Box Type 4--><span class="icon icon-circle mdi mdi-map-marker icon-carrot-filled"></span>
                    <h5 class="text-bold text-uppercase">Comfortable locations</h5>
                    <p class="text-light">Our properties, apartments, and houses are situated in comfortable locations that allow our clients to easily select the proper house.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--Section Testimonials-->
        <section class="section-98 section-md-110 bg-lighter">
          <div class="shell">
            <h2 class="text-bold">Testimonials</h2>
            <hr class="divider bg-saffron">
            <div class="offset-top-66">
              <!-- Testimonials Slider v.4-->
              <div data-items="1" data-sm-items="2" data-lg-items="3" data-nav="false" data-dots="true" data-margin="50px" class="owl-carousel owl-carousel-classic owl-carousel-class-light owl-carousel-testimonials-3">
                <div>
                  <blockquote class="quote quote-slider-4 unit uni-spacing-sm unit-sm-horizontal">
                    <div class="unit-left"><img width="80" height="80" src="images/users/user-lisa-evans-80x80.jpg" alt="Lisa Evans" class="quote-img img-circle"/></div>
                    <div class="unit-body text-left">
                      <div>
                        <p>
                          <q>Thank you for your prompt response and the help that you gave me. You always have a quick solution to any problem. What an excellent level of customer service!</q>
                        </p>
                      </div>
                      <p class="text-bold quote-author offset-top-10 offset-sm-top-4">
                        <cite class="text-normal">Lisa Evans</cite>
                      </p>
                    </div>
                  </blockquote>
                </div>
                <div>
                  <blockquote class="quote quote-slider-4 unit uni-spacing-sm unit-sm-horizontal">
                    <div class="unit-left"><img width="80" height="80" src="images/users/user-nicholas-lane-80x80.jpg" alt="Nicholas Lane" class="quote-img img-circle"/></div>
                    <div class="unit-body text-left">
                      <div>
                        <p>
                          <q>I just want to thank you for your help. I was so pleased and grateful. Keep up the excellent work. Your site provides the best support I have ever encountered.</q>
                        </p>
                      </div>
                      <p class="text-bold quote-author offset-top-10 offset-sm-top-4">
                        <cite class="text-normal">Nicholas Lane</cite>
                      </p>
                    </div>
                  </blockquote>
                </div>
                <div>
                  <blockquote class="quote quote-slider-4 unit uni-spacing-sm unit-sm-horizontal">
                    <div class="unit-left"><img width="80" height="80" src="images/users/user-ethan-dean-80x80.jpg" alt="Ethan Dean" class="quote-img img-circle"/></div>
                    <div class="unit-body text-left">
                      <div>
                        <p>
                          <q>Thank you very much for your rapid response. It's no doubt that your company is worth admiring! I have experienced the fastest support ever. Thank you a thousand times.</q>
                        </p>
                      </div>
                      <p class="text-bold quote-author offset-top-10 offset-sm-top-4">
                        <cite class="text-normal">Ethan Dean</cite>
                      </p>
                    </div>
                  </blockquote>
                </div>
                <div>
                  <blockquote class="quote quote-slider-4 unit uni-spacing-sm unit-sm-horizontal">
                    <div class="unit-left"><img width="80" height="80" src="images/users/user-lisa-evans-80x80.jpg" alt="Lisa Evans" class="quote-img img-circle"/></div>
                    <div class="unit-body text-left">
                      <div>
                        <p>
                          <q>Thank you for your prompt response and the help that you gave me. You always have a quick solution to any problem. What an excellent level of customer service!</q>
                        </p>
                      </div>
                      <p class="text-bold quote-author offset-top-10 offset-sm-top-4">
                        <cite class="text-normal">Lisa Evans</cite>
                      </p>
                    </div>
                  </blockquote>
                </div>
                <div>
                  <blockquote class="quote quote-slider-4 unit uni-spacing-sm unit-sm-horizontal">
                    <div class="unit-left"><img width="80" height="80" src="images/users/user-nicholas-lane-80x80.jpg" alt="Nicholas Lane" class="quote-img img-circle"/></div>
                    <div class="unit-body text-left">
                      <div>
                        <p>
                          <q>I just want to thank you for your help. I was so pleased and grateful. Keep up the excellent work. Your site provides the best support I have ever encountered.</q>
                        </p>
                      </div>
                      <p class="text-bold quote-author offset-top-10 offset-sm-top-4">
                        <cite class="text-normal">Nicholas Lane</cite>
                      </p>
                    </div>
                  </blockquote>
                </div>
                <div>
                  <blockquote class="quote quote-slider-4 unit uni-spacing-sm unit-sm-horizontal">
                    <div class="unit-left"><img width="80" height="80" src="images/users/user-ethan-dean-80x80.jpg" alt="Ethan Dean" class="quote-img img-circle"/></div>
                    <div class="unit-body text-left">
                      <div>
                        <p>
                          <q>Thank you very much for your rapid response. It's no doubt that your company is worth admiring! I have experienced the fastest support ever.Thank you a thousand </q>
                        </p>
                      </div>
                      <p class="text-bold quote-author offset-top-10 offset-sm-top-4">
                        <cite class="text-normal">Ethan Dean</cite>
                      </p>
                    </div>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footers-->
      <!-- Default footer-->
      <footer class="section-relative section-top-66 section-bottom-34 page-footer bg-gray-base context-dark">
        <div class="shell">
          <div class="range range-sm-center text-lg-left">
            <div class="cell-sm-8 cell-md-12">
              <div class="range range-xs-center">
                <div class="cell-xs-7 text-xs-left cell-md-4 cell-lg-3 cell-lg-push-4">
                  <h6 class="text-uppercase text-spacing-60">Latest news</h6>
                        <!-- Post Widget-->
                        <article class="post widget-post text-left"><a href="#">
                            <div class="unit unit-horizontal unit-spacing-xs unit-middle">
                              <div class="unit-body">
                                <div class="post-meta"><span class="icon-xxs text-primary mdi mdi-arrow-right"></span>
                                  <time datetime="2016-01-01" class="text-dark">05/14/2015</time>
                                </div>
                                <div class="post-title">
                                  <h6 class="text-regular">Top 10 Apartments in LA</h6>
                                </div>
                              </div>
                            </div></a></article>
                        <!-- Post Widget-->
                        <article class="post widget-post text-left"><a href="#">
                            <div class="unit unit-horizontal unit-spacing-xs unit-middle">
                              <div class="unit-body">
                                <div class="post-meta"><span class="icon-xxs text-primary mdi mdi-arrow-right"></span>
                                  <time datetime="2016-01-01" class="text-dark">05/14/2015</time>
                                </div>
                                <div class="post-title">
                                  <h6 class="text-regular">Choosing a Rental Property</h6>
                                </div>
                              </div>
                            </div></a></article>
                        <!-- Post Widget-->
                        <article class="post widget-post text-left"><a href="#">
                            <div class="unit unit-horizontal unit-spacing-xs unit-middle">
                              <div class="unit-body">
                                <div class="post-meta"><span class="icon-xxs text-primary mdi mdi-arrow-right"></span>
                                  <time datetime="2016-01-01" class="text-dark">05/14/2015</time>
                                </div>
                                <div class="post-title">
                                  <h6 class="text-regular">Features of Mortgage Loans</h6>
                                </div>
                              </div>
                            </div></a></article>
                </div>
                <div class="cell-xs-5 offset-top-41 offset-xs-top-0 text-xs-left cell-md-3 cell-lg-2 cell-lg-push-3">
                  <h6 class="text-uppercase text-spacing-60">Useful Links</h6>
                  <div class="reveal-block">
                    <div class="reveal-inline-block">
                      <ul class="list list-marked">
                        <li><a href="#">Properties</a></li>
                        <li><a href="#">Amenities</a></li>
                        <li><a href="#">Rentals</a></li>
                        <li><a href="#">Mortgages</a></li>
                        <li><a href="#">Agents</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="cell-xs-12 offset-top-41 cell-md-5 offset-md-top-0 text-md-left cell-lg-4 cell-lg-push-2">
                  <h6 class="text-uppercase text-spacing-60">Newsletter</h6>
                  <p>Keep up with the latest company news and events. Enter your e-mail and subscribe to our newsletter.</p>
                  <div class="offset-top-30">
                          <form data-form-output="form-subscribe-footer" data-form-type="subscribe" method="post" action="bat/rd-mailform.php" class="rd-mailform">
                            <div class="form-group">
                              <div class="input-group input-group-sm"><span class="input-group-addon"><span class="input-group-icon mdi mdi-email"></span></span>
                                <input placeholder="Type your E-Mail" type="email" name="email" data-constraints="@Required @Email" class="form-control"><span class="input-group-btn">
                                  <button type="submit" class="btn btn-sm btn-primary">Subscribe</button></span>
                              </div>
                            </div>
                            <div id="form-subscribe-footer" class="form-output"></div>
                          </form>
                  </div>
                </div>
                <div class="cell-xs-12 offset-top-66 cell-lg-3 cell-lg-push-1 offset-lg-top-0">
                  <!-- Footer brand-->
                  <div class="footer-brand"><a href="index.html"><img width='170' height='30' src='images/logo-light.png' alt=''/></a></div>
                  <p class="text-darker offset-top-4 inset-right-15 inset-lg-right-0 inset-lg-left-15">Real Estate</p>
                        <ul class="list-inline">
                          <li><a href="#" class="icon fa fa-facebook icon-xxs icon-circle icon-darkest-filled"></a></li>
                          <li><a href="#" class="icon fa fa-twitter icon-xxs icon-circle icon-darkest-filled"></a></li>
                          <li><a href="#" class="icon fa fa-google-plus icon-xxs icon-circle icon-darkest-filled"></a></li>
                          <li><a href="#" class="icon fa fa-linkedin icon-xxs icon-circle icon-darkest-filled"></a></li>
                        </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="shell offset-top-50">
          <p class="small text-darker">Intense Real Estate &copy; <span id="copyright-year"></span> . <a href="privacy.html">Privacy Policy</a>
            <!-- {%FOOTER_LINK}-->
          </p>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div id="form-output-global" class="snackbars"></div>
    <!-- PhotoSwipe Gallery-->
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>