<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo">
  <head>
    <!-- Site Title-->
    <title>Team member</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="intense web design multipurpose template">
    <meta name="date" content="Dec 26">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:400,700'">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Head-->
      <header class="page-head">
        <!-- RD Navbar Transparent-->
        <div class="rd-navbar-wrap">
          <nav data-lg-stick-up-offset="79px" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" class="rd-navbar rd-navbar-top-panel rd-navbar-light" data-lg-auto-height="true" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
            <div class="container">
              <div class="rd-navbar-inner">
                <div class="rd-navbar-top-panel">
                  <div class="left-side">
                    <ul class="rd-navbar-top-links list-unstyled">
                      <li><a href="login.html" class="text-uppercase text-ubold"><small>Log in</small></a></li>
                      <li><a href="login.html" class="text-uppercase text-ubold"><small>Register</small></a></li>
                    </ul>
                  </div>
                  <div class="right-side">
                    <address class="contact-info text-left"><span class="p"><span class="icon mdi mdi-email-open"></span><a href="mailto:#">info@demolink.org</a></span><span class="p"><span class="icon mdi mdi-phone"></span><a href="callto:#">1-800-1234-567</a></span></address>
                  </div>
                </div>
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                  <!-- RD Navbar Top Panel Toggle-->
                  <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-top-panel" class="rd-navbar-top-panel-toggle"><span></span></button>
                  <!--Navbar Brand-->
                  <div class="rd-navbar-brand"><a href="index.html"><img width='217' height='36' src='images/logo-dark.png' alt=''/></a></div>
                </div>
                <div class="rd-navbar-menu-wrap">
                  <div class="rd-navbar-nav-wrap">
                    <div class="rd-navbar-mobile-scroll">
                      <!--Navbar Brand Mobile-->
                      <div class="rd-navbar-mobile-brand"><a href="index.html"><img width='217' height='36' src='images/logo-dark.png' alt=''/></a></div>
                      <!-- RD Navbar Nav-->
                      <ul class="rd-navbar-nav">
                        <li><a href="index.html"><span>Home</span></a>
                        </li>
                        <li><a href="catalog.html"><span>Catalog</span></a>
                        </li>
                        <li><a href="submit-property.html"><span>Submit Property</span></a>
                        </li>
                        <li><a href="services.html"><span>Services</span></a>
                        </li>
                        <li class="active"><a href="about.html"><span>About</span></a>
                        </li>
                        <li><a href="contact.html"><span>Contacts</span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <section class="rd-parallax context-dark">
          <div data-speed="0.2" data-type="media" data-url="images/bg-header-1920x362.jpg" class="rd-parallax-layer"></div>
          <div data-speed="0" data-type="html" class="rd-parallax-layer">
            <div class="shell section-top-34 section-sm-top-98 section-bottom-34">
              <div>
                <h1 class="text-bold">About Agency</h1>
              </div>
              <ul class="list-inline list-inline-dashed p text-light breadcrumb-modern offset-top-10 offset-sm-top-66">
                <li class="active"><a href="./">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li> Team member</li>
              </ul>
            </div>
          </div>
        </section>
      </header>
      <!-- Page Contents-->
      <main class="page-content">
        <!--Section Shirley Vasquez-->
        <section class="section-98 section-sm-110 bg-lighter">
          <div class="shell">
            <h3 class="text-bold">Shirley Vasquez</h3>
            <hr class="divider bg-saffron">
            <div class="offset-sm-top-66">
              <div class="range">
                <div class="cell-sm-4"><img src="images/users/user-shirley-vasques-370x370.jpg" width="370" height="370" alt="" class="img-responsive reveal-inline-block"><a href="submit-property.html" style="max-width: 370px" class="btn btn-block btn-primary offset-top-34 reveal-inline-block">make an appointment</a>
                  <div class="offset-top-34">
                    <address class="contact-info text-md-left">
                      <ul class="list-unstyled p">
                        <li class="reveal-block"><span class="icon icon-xxs mdi mdi-phone text-middle"></span> <a href="callto:1-800-7650-986" class="reveal-inline-block text-middle">1-800-7650-986</a>
                        </li>
                        <li class="reveal-block"><span class="icon icon-xxs mdi mdi-email-open text-middle"></span> <a href="mailto:russell@demolink.org" class="reveal-inline-block text-middle">russell@demolink.org</a>
                        </li>
                      </ul>
                    </address>
                  </div>
                </div>
                <div class="cell-sm-8">
                  <div class="inset-md-left-50">
                    <div class="row">
                      <div class="col-xs-6 col-md-4">
                        <div class="unit unit-sm-horizontal unit-spacing-xs">
                          <div class="unit-left"><span class="icon icon-sm mdi mdi-clipboard-check text-mantis"></span></div>
                          <div class="unit-body text-sm-left">
                            <div>
                              <h2 class="text-bold">582</h2>
                            </div>
                            <p class="text-light offset-top-0"><span class="big text-uppercase">recent deals</span></p>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-md-4">
                        <div class="unit unit-sm-horizontal unit-spacing-xs">
                          <div class="unit-left"><span class="icon icon-sm mdi mdi-domain text-malibu"></span></div>
                          <div class="unit-body text-sm-left">
                            <div>
                              <h2 class="text-bold">1844</h2>
                            </div>
                            <p class="text-light offset-top-0"><span class="big text-uppercase">properties</span></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-left offset-top-50">
                      <p>With a strong background and many years of experience in interior design, Shirley is renowned in the industry for her dedicated, honest, and forward approach, winning the confidence of clients quickly and establishing successful working relations.</p>
                      <p>Ms. Vasquez has a solid reputation of a professional who is an approachable and trustworthy real estate agent. She understands the importance of building long-term relationships and has a genuine passion for helping people achieve their real estate goals and expectations. Since Shirley has joined our team, her skills acquired during her work as a remodeling expert helped her a lot in her current work as a real estate agent and property manager. She knows every single detail of the house or apartment she offers. Moreover, Shirley can give you additional support or advice on selecting a home just for you.</p>
                      <p>Vasquez always desired to work in the company that would care about the place where modern citizens live. Now she is confident that her current job is an ideal place to improve her communication skills and professional development as a real estate agent while being a part of a solid team.</p>
                      <p>Shirley Vasquez is more than just an agent for our company. With every house sold and property managed, she tries to achieve a higher level of real estate services provided on behalf of Intense agency. Her contribution to the development of our company can hardly be overestimated.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--Section Filter Form-->
        <section class="section-98 section-sm-110">
          <div class="shell">
            <h3 class="text-bold">Shirley Vasquez’s Properties</h3>
            <hr class="divider bg-saffron">
            <div class="offset-sm-top-66">
              <div class="range range-xs-center">
                <div class="cell-xs-10 cell-sm-6 cell-md-4 cell-md-push-2">
                  <!-- RD Mailform-->
                  <form data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" class="rd-mailform text-left bg-lighter well-lg">
                    <h5 class="text-bold">Properties Filter</h5>
                    <div class="form-group">
                      <label for="form-filter-location" class="form-label form-label-outside">Location:</label>
                      <select id="form-filter-location" name="location" data-minimum-results-for-search="Infinity" class="form-control">
                        <option value="1">any</option>
                        <option value="2">San Francisco</option>
                        <option value="3">New York</option>
                        <option value="4">Las Vegas</option>
                      </select>
                    </div>
                    <div class="form-group offset-top-20">
                      <label for="form-filter-property-status" class="form-label form-label-outside">Property Status:</label>
                      <select id="form-filter-property-status" name="property-status" data-minimum-results-for-search="Infinity" class="form-control">
                        <option value="1">any</option>
                        <option value="2">Sale</option>
                        <option value="3">Rent</option>
                        <option value="4">Commercial</option>
                      </select>
                    </div>
                    <div class="form-group offset-top-20">
                      <label for="form-filter-property-type" class="form-label form-label-outside">Property Type:</label>
                      <select id="form-filter-property-type" name="property-type" data-minimum-results-for-search="Infinity" class="form-control">
                        <option value="1">any</option>
                        <option value="2">Apartment</option>
                        <option value="3">Office</option>
                        <option value="4">Hotel</option>
                      </select>
                    </div>
                    <div class="range offset-top-20">
                      <div class="cell-md-6">
                        <div class="form-group">
                          <label for="form-filter-min-beds" class="form-label form-label-outside">Min Beds:</label>
                          <select id="form-filter-min-beds" name="min-beds" data-minimum-results-for-search="Infinity" class="form-control">
                            <option value="1">any</option>
                            <option value="2">1</option>
                            <option value="3">2</option>
                            <option value="4">3</option>
                            <option value="5">4</option>
                          </select>
                        </div>
                      </div>
                      <div class="cell-md-6 offset-top-20 offset-md-top-0">
                        <div class="form-group">
                          <label for="form-filter-min-bath" class="form-label form-label-outside">Min Bath:</label>
                          <select id="form-filter-min-bath" name="min-bath" data-minimum-results-for-search="Infinity" class="form-control">
                            <option value="1">any</option>
                            <option value="2">1</option>
                            <option value="3">2</option>
                            <option value="4">3</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-group-multiple offset-top-20">
                      <div class="form-group">
                        <label for="form-filter-price-from" class="form-label form-label-outside"><span class="veil reveal-sm-block">Price (USD):</span><span class="veil-sm">Price from (USD):</span></label>
                        <input id="form-filter-price-from" type="text" name="phone" data-constraints="@Required" class="form-control bg-white">
                      </div>
                      <div class="form-group">
                        <label for="form-filter-price-to" class="form-label form-label-outside"> &nbsp;<span class="veil-sm">Price to (USD):</span></label>
                        <input id="form-filter-price-to" type="text" name="phone" data-constraints="@Required" class="form-control bg-white">
                      </div>
                    </div>
                    <div class="form-group-multiple offset-top-20">
                      <div class="form-group">
                        <label for="form-filter-area-from" class="form-label form-label-outside"><span class="veil reveal-sm-block">Area (Sq Ft):</span><span class="veil-sm">Area from (Sq Ft):</span></label>
                        <input id="form-filter-area-from" type="text" name="phone" data-constraints="@Required" class="form-control bg-white">
                      </div>
                      <div class="form-group">
                        <label for="form-filter-area-to" class="form-label form-label-outside"> &nbsp;<span class="veil-sm">Area to (Sq Ft):</span></label>
                        <input id="form-filter-area-to" type="text" name="phone" data-constraints="@Required" class="form-control bg-white">
                      </div>
                    </div>
                    <div class="offset-top-30 text-center">
                      <button type="submit" class="btn btn-primary btn-block">apply filter</button>
                    </div>
                  </form>
                </div>
                <div class="cell-md-8 cell-md-push-1 offset-top-66 offset-md-top-0">
                  <div class="range">
                    <div class="cell-sm-6"><img src="images/home-img-05-370x250.jpg" width="370" height="250" alt="" class="img-responsive reveal-inline-block">
                      <div class="text-sm-left offset-top-24">
                        <div>
                          <h5 class="text-bold text-primary"><a href="single-property-page.html">AVA Nob Hill</a></h5>
                        </div>
                        <h6 class="offset-top-10"> $1199.00/mon</h6>
                        <ul class="list-inline list-inline-dotted text-dark">
                          <li>1200 sq ft</li>
                          <li>4 bedrooms</li>
                          <li>2 bathrooms</li>
                        </ul>
                        <div>
                          <p>AVA Nob Hill includes studios and 1 and 2 bedroom apartments that feature an urban-inspired design that extends beyond your walls and throughout the entire community.</p>
                        </div>
                      </div>
                    </div>
                    <div class="cell-sm-6 offset-top-66 offset-sm-top-0"><img src="images/home-img-06-370x250.jpg" width="370" height="250" alt="" class="img-responsive reveal-inline-block">
                      <div class="text-sm-left offset-top-24">
                        <div>
                          <h5 class="text-bold text-primary"><a href="single-property-page.html">Ashton San Francisco</a></h5>
                        </div>
                        <h6 class="offset-top-10"> $1595.00/mon</h6>
                        <ul class="list-inline list-inline-dotted text-dark">
                          <li>1200 sq ft</li>
                          <li>2 bedrooms</li>
                          <li>2 bathrooms</li>
                        </ul>
                        <div>
                          <p>Ashton San Francisco offers luxury apartments, eco-friendly features, and remarkable on-site resident amenities. Enjoy premier services and access to our state-of-the-art fitness center, clubhouse, business center, and outdoor fire pit lounge.</p>
                        </div>
                      </div>
                    </div>
                    <div class="cell-sm-6 offset-top-66"><img src="images/home-img-07-370x250.jpg" width="370" height="250" alt="" class="img-responsive reveal-inline-block">
                      <div class="text-sm-left offset-top-24">
                        <div>
                          <h5 class="text-bold text-primary"><a href="single-property-page.html">The Presidio Residences</a></h5>
                        </div>
                        <h6 class="offset-top-10"> $2699.00/mon</h6>
                        <ul class="list-inline list-inline-dotted text-dark">
                          <li>2200 sq ft</li>
                          <li>4 bedrooms</li>
                          <li>3 bathrooms</li>
                        </ul>
                        <div>
                          <p>The Presidio Residences offer a unique opportunity to live in a national park setting and enjoy quiet neighborhoods, convenient location, beautiful open spaces, and outstanding recreational amenities.</p>
                        </div>
                      </div>
                    </div>
                    <div class="cell-sm-6 offset-top-66"><img src="images/home-img-08-370x250.jpg" width="370" height="250" alt="" class="img-responsive reveal-inline-block">
                      <div class="text-sm-left offset-top-24">
                        <div>
                          <h5 class="text-bold text-primary"><a href="single-property-page.html">Alchemy by Alta</a></h5>
                        </div>
                        <h6 class="offset-top-10"> $1199.00/mon</h6>
                        <ul class="list-inline list-inline-dotted text-dark">
                          <li>1200 sq ft</li>
                          <li>4 bedrooms</li>
                          <li>2 bathrooms</li>
                        </ul>
                        <div>
                          <p>One month FREE on select apartment homes for a limited time.</p>
                        </div>
                      </div>
                    </div>
                    <div class="cell-sm-6 offset-top-66"><img src="images/home-img-09-370x250.jpg" width="370" height="250" alt="" class="img-responsive reveal-inline-block">
                      <div class="text-sm-left offset-top-24">
                        <div>
                          <h5 class="text-bold text-primary"><a href="single-property-page.html">Avalon at Mission Bay</a></h5>
                        </div>
                        <h6 class="offset-top-10"> $1595.00/mon</h6>
                        <ul class="list-inline list-inline-dotted text-dark">
                          <li>1200 sq ft</li>
                          <li>2 bedrooms</li>
                          <li>2 bathrooms</li>
                        </ul>
                        <div>
                          <p>Avalon at Mission Bay located in San Francisco near the San Francisco Caltrain Station offers thoughtfully designed studio, 1, 2 and 3 bedroom apartments and town homes.</p>
                        </div>
                      </div>
                    </div>
                    <div class="cell-sm-6 offset-top-66"><img src="images/home-img-10-370x250.jpg" width="370" height="250" alt="" class="img-responsive reveal-inline-block">
                      <div class="text-sm-left offset-top-24">
                        <div>
                          <h5 class="text-bold text-primary"><a href="single-property-page.html">Bayside Village Apartments</a></h5>
                        </div>
                        <h6 class="offset-top-10"> $2699.00/mon</h6>
                        <ul class="list-inline list-inline-dotted text-dark">
                          <li>2200 sq ft</li>
                          <li>4 bedrooms</li>
                          <li>3 bathrooms</li>
                        </ul>
                        <div>
                          <p>Pick your pleasure from a vantage point that puts all the best of the city's lively South Beach neighborhood within easy reach.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="offset-top-66 text-center">
                    <!-- Classic Pagination-->
                    <nav>
                      <ul class="pagination-classic">
                        <li><a href="#">Prev</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">Next</a></li>
                      </ul>
                    </nav>
                    <!--// Classic Pagination-->
                    <!--ul.pagination-classic-->
                    <!--  li.previous-->
                    <!--    a.btn.btn-default(href='#' class= size)= nameListPrev-->
                    <!--  each val, index in amountList-->
                    <!--    - var isActive = (index == active - 1)? "active": ""-->
                    <!--    - var isHidden = (index > 2)? "veil reveal-xs-inline-block": ""-->
                    <!--    li(class="#{isHidden} #{isActive}")-->
                    <!--      a.btn.btn-default(href='#' class="#{size}" )= val-->
                    <!--  li.next-->
                    <!--    a.btn.btn-default(href='#' class= size)= nameListNext-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footer-->
      <!-- Default footer-->
      <footer class="section-relative section-top-66 section-bottom-34 page-footer bg-gray-base context-dark">
        <div class="shell">
          <div class="range range-sm-center text-lg-left">
            <div class="cell-sm-8 cell-md-12">
              <div class="range range-xs-center">
                <div class="cell-xs-7 text-xs-left cell-md-4 cell-lg-3 cell-lg-push-4">
                  <h6 class="text-uppercase text-spacing-60">Latest news</h6>
                        <!-- Post Widget-->
                        <article class="post widget-post text-left"><a href="#">
                            <div class="unit unit-horizontal unit-spacing-xs unit-middle">
                              <div class="unit-body">
                                <div class="post-meta"><span class="icon-xxs text-primary mdi mdi-arrow-right"></span>
                                  <time datetime="2016-01-01" class="text-dark">05/14/2015</time>
                                </div>
                                <div class="post-title">
                                  <h6 class="text-regular">Top 10 Apartments in LA</h6>
                                </div>
                              </div>
                            </div></a></article>
                        <!-- Post Widget-->
                        <article class="post widget-post text-left"><a href="#">
                            <div class="unit unit-horizontal unit-spacing-xs unit-middle">
                              <div class="unit-body">
                                <div class="post-meta"><span class="icon-xxs text-primary mdi mdi-arrow-right"></span>
                                  <time datetime="2016-01-01" class="text-dark">05/14/2015</time>
                                </div>
                                <div class="post-title">
                                  <h6 class="text-regular">Choosing a Rental Property</h6>
                                </div>
                              </div>
                            </div></a></article>
                        <!-- Post Widget-->
                        <article class="post widget-post text-left"><a href="#">
                            <div class="unit unit-horizontal unit-spacing-xs unit-middle">
                              <div class="unit-body">
                                <div class="post-meta"><span class="icon-xxs text-primary mdi mdi-arrow-right"></span>
                                  <time datetime="2016-01-01" class="text-dark">05/14/2015</time>
                                </div>
                                <div class="post-title">
                                  <h6 class="text-regular">Features of Mortgage Loans</h6>
                                </div>
                              </div>
                            </div></a></article>
                </div>
                <div class="cell-xs-5 offset-top-41 offset-xs-top-0 text-xs-left cell-md-3 cell-lg-2 cell-lg-push-3">
                  <h6 class="text-uppercase text-spacing-60">Useful Links</h6>
                  <div class="reveal-block">
                    <div class="reveal-inline-block">
                      <ul class="list list-marked">
                        <li><a href="#">Properties</a></li>
                        <li><a href="#">Amenities</a></li>
                        <li><a href="#">Rentals</a></li>
                        <li><a href="#">Mortgages</a></li>
                        <li><a href="#">Agents</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="cell-xs-12 offset-top-41 cell-md-5 offset-md-top-0 text-md-left cell-lg-4 cell-lg-push-2">
                  <h6 class="text-uppercase text-spacing-60">Newsletter</h6>
                  <p>Keep up with the latest company news and events. Enter your e-mail and subscribe to our newsletter.</p>
                  <div class="offset-top-30">
                          <form data-form-output="form-subscribe-footer" data-form-type="subscribe" method="post" action="bat/rd-mailform.php" class="rd-mailform">
                            <div class="form-group">
                              <div class="input-group input-group-sm"><span class="input-group-addon"><span class="input-group-icon mdi mdi-email"></span></span>
                                <input placeholder="Type your E-Mail" type="email" name="email" data-constraints="@Required @Email" class="form-control"><span class="input-group-btn">
                                  <button type="submit" class="btn btn-sm btn-primary">Subscribe</button></span>
                              </div>
                            </div>
                            <div id="form-subscribe-footer" class="form-output"></div>
                          </form>
                  </div>
                </div>
                <div class="cell-xs-12 offset-top-66 cell-lg-3 cell-lg-push-1 offset-lg-top-0">
                  <!-- Footer brand-->
                  <div class="footer-brand"><a href="index.html"><img width='170' height='30' src='images/logo-light.png' alt=''/></a></div>
                  <p class="text-darker offset-top-4 inset-right-15 inset-lg-right-0 inset-lg-left-15">Real Estate</p>
                        <ul class="list-inline">
                          <li><a href="#" class="icon fa fa-facebook icon-xxs icon-circle icon-darkest-filled"></a></li>
                          <li><a href="#" class="icon fa fa-twitter icon-xxs icon-circle icon-darkest-filled"></a></li>
                          <li><a href="#" class="icon fa fa-google-plus icon-xxs icon-circle icon-darkest-filled"></a></li>
                          <li><a href="#" class="icon fa fa-linkedin icon-xxs icon-circle icon-darkest-filled"></a></li>
                        </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="shell offset-top-50">
          <p class="small text-darker">Intense Real Estate &copy; <span id="copyright-year"></span> . <a href="privacy.html">Privacy Policy</a>
            <!-- {%FOOTER_LINK}-->
          </p>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div id="form-output-global" class="snackbars"></div>
    <!-- PhotoSwipe Gallery-->
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>