//- icon - icon class
//- title - box title
//- desc - description of box
mixin box-icon-type-5(icon, title, desc)
  // Icon Box Type 5
  .box-icon.box-icon-bordered
    span.icon.icon-outlined(class= icon)
    h4.text-danger.offset-top-20= title
    p= desc