-
  var cfg = {
    "type": "Handmade",
    "brand": {
      "name": "Intense Handmade",
      "slogan": "Handmade",
      "logo": "<img width='221' height='32' src='images/logo-dark.png' alt=''/>",
      "logoInverse": "<img width='221' height='32' style='margin-left: -6px;' src='images/logo-light.png' alt=''/>"
    },
    "nav": {
      "home": {
        "title": "Home",
        "href": "index.html"
      },
      "shop": {
        "title": "Shop",
        "href": "shop.html",
        "submenu": {
          "singleProduct": {
            "title": "Single Product",
            "href": "single-product.html"
          },
          "checkout": {
            "title": "Checkout",
            "href": "checkout.html"
          },
        }
      },
      "blog": {
        "title": "Blog",
        "href": "blog.html",
        "submenu": {
          "blogPost": {
            "title": "Single Blog Post",
            "href": "blog-single-post.html"
          },
          "searchResults": {
            "title": "Search Results",
            "href": "search-results.html"
          },
        }
      },
      "aboutUs": {
        "title": "About",
        "href": "about-us.html"
      },
      "contacts": {
        "title": "Contacts",
        "href": "contacts.html"
      }
    }
  }