//- navbar - object of RD Navbar

mixin rd-navbar-default(navbar)
	// RD Navbar
	.rd-navbar-wrap
		nav.rd-navbar&attributes(navbar.attr)(class= navbar.style data-md-device-layout='rd-navbar-fixed' data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="50px" data-lg-stick-up-offset="1px")
			.rd-navbar-inner
				// RD Navbar Panel
				.rd-navbar-panel
					// RD Navbar Toggle
					button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav-wrap')
						span
					// RD Navbar Brand
					.rd-navbar-brand.veil.reveal-md-block
						a.brand-name(href=cfg.brand.href) !{navbar.logo}
					.rd-navbar-brand.veil-md.reveal-tablet-md-inline-block
						a.brand-name(href=cfg.brand.href) !{navbar.logoFixed}

					// RD Navbar Toggle
					button.rd-navbar-collapse(data-rd-navbar-toggle='.rd-navbar-collapse-wrap')
						span

				.rd-navbar-right-side
					.rd-navbar-nav-wrap.reveal-md-inline-block
						ul.rd-navbar-nav
							// RD Navbar Nav
							li(class=(navbar.activeLink == 1) ? 'active' : '')
								a(href='index.html') home
							li(class=(navbar.activeLink == 2) ? 'active' : '')
								a(href='about.html') About
								ul.rd-navbar-dropdown
									li
										a(href='faq.html') FAQ
									li
										a(href='history.html') History
									li
										a(href='team.html') Team
									li
										a(href='single-member.html') Team Member
									li
										a(href='testimonials.html') Testimonials
							li(class=(navbar.activeLink == 3) ? 'active' : '')
								a(href='rates.html') Rates
							li(class=(navbar.activeLink == 4) ? 'active' : '')
								a(href='reservations.html') Reservations
							li(class=(navbar.activeLink == 5) ? 'active' : '')
								a(href='fleet.html') Fleet
							li(class=(navbar.activeLink == 6) ? 'active' : '')
								a(href='blog-classic-left-sidebar.html') News
								ul.rd-navbar-dropdown
									li
										a(href='blog-classic-left-sidebar.html') classic blog
										ul.rd-navbar-dropdown
											li
												a(href='blog-classic-left-sidebar.html') left sidebar
											li
												a(href='blog-classic-right-sidebar.html') right sidebar
											li
												a(href='blog-classic-both-sidebar.html') both sidebars
									li
										a(href='blog-grid-3-columns.html') grid blog
										ul.rd-navbar-dropdown
											li
												a(href='blog-grid-1-column.html') 1 column
											li
												a(href='blog-grid-2-columns.html') 2 columns
											li
												a(href='blog-grid-3-columns.html') 3 columns
									li
										a(href='blog-masonry-3-columns.html') masonry blog
										ul.rd-navbar-dropdown
											li
												a(href='blog-masonry-1-column.html') 1 column
											li
												a(href='blog-masonry-2-columns.html') 2 columns
											li
												a(href='blog-masonry-3-columns.html') 3 columns
									li
										a(href='blog-modern-left-side.html') modern blog
										ul.rd-navbar-dropdown
											li
												a(href='blog-modern-left-side.html') left side
											li
												a(href='blog-modern-right-side.html') right side
											li
												a(href='blog-modern-left-sidebar.html') left sidebar
									li
										a(href='blog-single-post.html') Single Post
							li(class=(navbar.activeLink == 7) ? 'active' : '')
								a(href='contacts.html') Contacts
							li(class=(navbar.activeLink == 8) ? 'active' : '')
								a(href='#') Pages
								.rd-navbar-megamenu
									.row
										.col-md-4
											p.text-extra-small.text-uppercase.text-bold.font-accent.text-white.veil.reveal-md-block.veil-tablet-md elements
											ul
												li
													a(href='typography.html') Typography
												li
													a(href='tabs-accordions.html') Tabs & Accordions
												li
													a(href='progress-bars.html') Progress bars
												li
													a(href='forms.html') Forms
												li
													a(href='buttons.html') Buttons
												li
													a(href='grid.html') Grid
										.col-md-4
											p.text-extra-small.text-uppercase.text-bold.font-accent.text-white.veil.reveal-md-block.veil-tablet-md pages 1
											ul
												li
													a(href='services.html') Services
												li
													a(href='careers.html') Careers
												li
													a(href='report.html') Lost and Found
												li
													a(href='rates.html') Rates
												li
													a(href='reservations.html') Reservations
												li
													a(href='fleet.html') Fleet
												li
													a(href='gallery.html') Gallery
												li
													a(href='maintenance.html') Maintenance (Under Construction)
										.col-md-4
											p.text-extra-small.text-uppercase.text-bold.font-accent.text-white.veil.reveal-md-block.veil-tablet-md pages 2
											ul
												li
													a(href='404.html') 404 page
												li
													a(href='503.html') 503 page
												li
													a(href='coming-soon.html') Coming Soon
												li
													a(href='login.html') Login Page
												li
													a(href='register.html') Register Page
												li
													a(href='search-results.html') Search Results
												li
													a(href='site-map.html') Site Map
												li
													a(href='privacy.html') Privacy Policy

					mixin navbar-icons(navbarIcons)
						.rd-navbar-collapse-wrap.reveal-md-inline-block
							ul.list-inline.list-inline-0.list-primary
								each icon in navbarIcons
									li.text-center
										a.icon(href= icon.href class= icon.style)

					+navbar-icons([
						{"href": "#", "style": "icon-xxs fa fa-facebook text-white"},
						{"href": "#", "style": "icon-xxs fa fa-google-plus text-white"},
						{"href": "#", "style": "icon-xxs fa fa-linkedin text-white"},
						{"href": "#", "style": "icon-xxs fa fa-twitter text-white"}
					])