extends  ../_skeleton

//- Includes
include ../elements/_ui-pagination-bootstrap
include ../elements/_widget-form-search

//-Title
block title
  title= cfg.nav.blogArchive.submenu.searchResults.title

//- Page
block page
  // Page Head
  header.page-head
    //- RD Navbar
    +rd-navbar-sidebar-fixed(
    'rd-navbar-light rd-navbar-sidebar-fixed',
    {
      "data-lg-auto-height": "false",
      "data-lg-stick-up": 'false',
      "data-lg-hover-on": "false",
      "data-body-class": "body-inset-left"
    },
    cfg.brand.logo,
    cfg.nav,
    cfg.nav
    )

  // Page Content
  main
    // Header Logo
    include ../sections/_section-header-logo

    // Page Content
    .page-content.section-top-124.section-bottom-98.section-xs-top-0.section-lg-bottom-124.offset-xs-top-41
      // Search Results
      .shell
        h2.text-bold Search Results

        +widget-form-search("input-sm", "form-label-sm", "search-results")

        .rd-search-results.offset-top-66



  // Page Footers
  include ../sections/_section-footer-variant-3