<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo">
  <head>
    <!-- Site Title-->
    <title>Checkout</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="Intense web design multipurpose template">
    <meta name="date" content="Apr 26">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Dancing+Script:700%7CLato:300,300italic,400,700,900">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->
      <header class="page-head">
        <!-- RD Navbar Transparent-->
        <div class="rd-navbar-wrap">
          <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-lg-stick-up-offset="110px" class="rd-navbar rd-navbar-logo-center rd-navbar-light" data-lg-auto-height="true" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
              <div class="container">
                <div class="rd-navbar-top-block range range-lg-center range-lg-middle">
                  <div class="cell-lg-3">
                    <p class="veil reveal-lg-block">Get in touch: <span class="mdi mdi-phone"></span> <a href="callto:#">1-800-1234-567</a></p>
                  </div>
                  <div class="cell-lg-6 text-center">
                    <!--Navbar Brand-->
                    <div class="rd-navbar-brand"><a href="index.html"><img width='221' height='32' src='images/logo-dark.png' alt=''/></a></div>
                  </div>
                  <div class="cell-lg-3">
                    <div class="form-search-wrap">
                      <!-- RD Search Form-->
                      <form action="search-results.html" method="GET" class="form-search rd-search">
                        <div class="form-group">
                          <label for="rd-navbar-form-search-widget" class="form-label form-search-label form-label-sm">Search</label>
                          <input id="rd-navbar-form-search-widget" type="text" name="s" autocomplete="off" class="form-search-input input-sm form-control form-control-gray-lightest input-sm"/>
                        </div>
                        <button type="submit" class="form-search-submit"><span class="mdi mdi-magnify"></span></button>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                  <!-- RD Navbar Top Panel Toggle-->
                  <button data-rd-navbar-toggle=".rd-navbar, .form-search-wrap" class="rd-navbar-search-toggle"><span></span></button>
                </div>
              </div>
              <div class="rd-navbar-menu-wrap">
                <div class="container">
                  <div class="rd-navbar-nav-wrap">
                    <div class="rd-navbar-mobile-scroll">
                      <!--Navbar Brand Mobile-->
                      <div class="rd-navbar-mobile-brand"><a href="index.html"><img width='221' height='32' src='images/logo-dark.png' alt=''/></a></div>
                      <!-- RD Navbar Nav-->
                      <ul class="rd-navbar-nav">
                        <li><a href="index.html"><span>Home</span></a>
                        </li>
                        <li><a href="shop.html"><span>Shop</span></a>
                          <ul class="rd-navbar-dropdown">
                            <li><a href="single-product.html"><span class="text-middle">Single Product</span></a>
                            </li>
                            <li><a href="checkout.html"><span class="text-middle">Checkout</span></a>
                            </li>
                          </ul>
                        </li>
                        <li><a href="blog.html"><span>Blog</span></a>
                          <ul class="rd-navbar-dropdown">
                            <li><a href="blog-single-post.html"><span class="text-middle">Single Blog Post</span></a>
                            </li>
                            <li><a href="search-results.html"><span class="text-middle">Search Results</span></a>
                            </li>
                          </ul>
                        </li>
                        <li><a href="about-us.html"><span>About</span></a>
                        </li>
                        <li><a href="contacts.html"><span>Contacts</span></a>
                        </li>
                        <li class="cart"><a href="shop.html"><span class="icon mdi mdi-cart text-middle"></span><span class="cart-text">Cart</span><span class="cart-count big text-middle text-regular">2</span></a>
                          <div class="rd-navbar-dropdown rd-navbar-cart-dropdown">
                            <!--RD Navbar shop-->
                            <div class="rd-navbar-cart-wrap">
                              <ul class="rd-navbar-list-products">
                                <li>
                                  <div class="rd-navbar-product-image"><img src="images/product-02-60x60.png" alt=""/></div>
                                  <div class="rd-navbar-product-caption">
                                    <h6 class="rd-navbar-product-title"><a href="single-product.html">Artist Paint Brush Set Nylon Hair Oil Painting Supplies</a></h6>
                                    <p class="rd-navbar-product-price">$124.00</p>
                                  </div><a href="#" class="mdi mdi-window-close rd-navbar-product-remove"></a>
                                </li>
                                <li>
                                  <div class="rd-navbar-product-image"><img src="images/product-07-60x60.png" alt=""/></div>
                                  <div class="rd-navbar-product-caption">
                                    <h6 class="rd-navbar-product-title"><a href="single-product.html">Marco 72 Colors Art Drawing Oil Base Pencils-Set</a></h6>
                                    <p class="rd-navbar-product-price">$189.00</p>
                                  </div><a href="#" class="mdi mdi-window-close rd-navbar-product-remove"></a>
                                </li>
                              </ul>
                              <div class="rd-navbar-cart-total">
                                <h6 class="rd-navbar-cart-total-title">Cart subtotal</h6><span class="rd-navbar-cart-total-price">$313.00</span>
                              </div>
                              <div class="text-center"><a href="checkout.html" class="btn btn-rect btn-sm btn-primary btn-icon btn-icon-left"><span class="icon mdi mdi-lock"></span>Go to checkout</a></div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Modern Breadcrumbs-->
      <section class="breadcrumb-modern rd-parallax bg-gray-darkest context-dark">
        <div data-speed="0.2" data-type="media" data-url="images/background-1-1920x651.jpg" class="rd-parallax-layer"></div>
        <div data-speed="0" data-type="html" class="rd-parallax-layer">
          <div class="bg-overlay-gray-darkest">
            <div class="shell section-34 section-sm-50 section-md-110">
              <div class="text-extra-big font-accent veil reveal-md-block"><span class="big">Checkout</span></div>
              <ul class="list-inline list-inline-dashed p offset-top-0">
                <li><a href="index.html" class="small">Home</a></li>
                <li><a href="shop.html" class="small">Shop</a></li>
                <li>Checkout
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Content-->
      <main class="page-content">
        <!-- Shop Checkout-->
        <section class="section-98 section-sm-110">
          <div class="shell">
            <div class="rd-material-tabs checkout-tabs">
              <div class="rd-material-tabs__list">
                <ul>
                  <li><a href="#">1. Shopping Cart</a></li>
                  <li><a href="#">2. Shipping Info</a></li>
                  <li><a href="#">3. Payment Method</a></li>
                </ul>
              </div>
              <div class="rd-material-tabs__container">
                <div>
                  <div class="range range-xs-center">
                    <div class="cell-sm-10 cell-lg-8">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th></th>
                              <th>Product</th>
                              <th>Quantity</th>
                              <th>Total</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th>
                                <div class="bg-lighter"><img src="images/product-03-70x70.png" width="70" height="70" alt=""></div>
                              </th>
                              <td class="big text-middle">Castle Art Supplies Acrylic Paint Set Pack of 12 Colors</td>
                              <td class="text-middle">1</td>
                              <td class="text-middle">$39.00</td>
                            </tr>
                            <tr>
                              <th>
                                <div class="bg-lighter"><img src="images/product-02-70x70.png" width="70" height="70" alt=""></div>
                              </th>
                              <td class="big text-middle">Artist Paint Brush Set Nylon Hair Watercolor Acrylic Oil Painting Supplies</td>
                              <td class="text-middle">2</td>
                              <td class="text-middle">$199.00</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="offset-top-10 text-right">
                        <p class="text-bold">Cart Subtotal: &nbsp; &nbsp; &nbsp; $238.00</p><a data-index-to="1" href="#" class="btn btn-primary btn-icon btn-icon-right offset-top-41 checkout-step-btn"><span class="icon mdi mdi-chevron-double-right"></span>Shipping info</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="range range-xs-center">
                    <div class="cell-sm-8">
                      <form data-form-output="form-contact-me" data-form-type="contact" method="post" class="rd-mailform text-left">
                        <div class="range offset-top-0">
                          <div class="cell-sm-6">
                            <div class="form-group">
                              <label for="shop-shipping-checkout-first-name" class="form-label form-label-outside form-label-sm">First Name</label>
                              <input id="shop-shipping-checkout-first-name" type="text" name="first-name" data-constraints="@Required" class="form-control form-control-impressed input-sm">
                            </div>
                          </div>
                          <div class="cell-sm-6 offset-top-0">
                            <div class="form-group offset-top-24 offset-sm-top-0">
                              <label for="shop-shipping-checkout-last-name" class="form-label form-label-outside form-label-sm">Last Name</label>
                              <input id="shop-shipping-checkout-last-name" type="text" name="last-name" data-constraints="@Required" class="form-control form-control-impressed input-sm">
                            </div>
                          </div>
                        </div>
                        <div class="range offset-top-0">
                          <div class="cell-sm-6">
                            <div class="form-group offset-top-24">
                              <label for="shop-shipping-checkout-company" class="form-label form-label-outside form-label-sm">Company</label>
                              <input id="shop-shipping-checkout-company" type="text" name="company" data-constraints="@Required" class="form-control form-control-impressed input-sm">
                            </div>
                          </div>
                          <div class="cell-sm-6 offset-top-0">
                            <div class="form-group offset-top-24">
                              <label for="shop-shipping-checkout-city-town" class="form-label form-label-outside form-label-sm">City / Town</label>
                              <input id="shop-shipping-checkout-city-town" type="text" name="city-town" data-constraints="@Required" class="form-control form-control-impressed input-sm">
                            </div>
                          </div>
                        </div>
                        <div class="range offset-top-0">
                          <div class="cell-sm-12">
                            <div class="form-group offset-top-24">
                              <label for="shop-shipping-checkout-address-first" class="form-label form-label-outside form-label-sm">Address</label>
                              <input id="shop-shipping-checkout-address-first" type="text" name="address-first" data-constraints="@Required" class="form-control form-control-impressed input-sm">
                            </div>
                          </div>
                        </div>
                        <div class="range offset-top-0">
                          <div class="cell-sm-6">
                            <div class="form-group offset-top-24">
                              <label for="shop-shipping-checkout-email" class="form-label form-label-outside form-label-sm">E-Mail</label>
                              <input id="shop-shipping-checkout-email" type="email" name="email" data-constraints="@Required @Email" class="form-control form-control-impressed input-sm">
                            </div>
                          </div>
                          <div class="cell-sm-6 offset-top-0">
                            <div class="form-group offset-top-24">
                              <label for="shop-shipping-checkout-phone" class="form-label form-label-outside form-label-sm">Phone</label>
                              <input id="shop-shipping-checkout-phone" type="text" name="phone" data-constraints="@Required" class="form-control form-control-impressed input-sm">
                            </div>
                          </div>
                        </div>
                      </form>
                      <div class="offset-top-24 text-right">
                        <p><span class="text-bold">Shipping: &nbsp;&nbsp;&nbsp;</span>Free Delivery</p><a data-index-to="2" href="#" class="btn btn-primary btn-icon btn-icon-right offset-top-24 checkout-step-btn"><span class="icon mdi mdi-chevron-double-right"></span>Payment Method</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="range range-xs-center">
                    <div class="cell-sm-6 cell-lg-4">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Operations</th>
                              <th>Result</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th>Cart Subtotal</th>
                              <td>$238.00</td>
                            </tr>
                            <tr>
                              <th>Shipping</th>
                              <td>Free Delivery</td>
                            </tr>
                            <tr>
                              <th>Total</th>
                              <td class="text-bold text-ku-crimson">$238.00</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <form class="text-left">
                        <div class="form-group offset-top-41 offset-lg-top-24">
                          <label class="radio-inline">
                            <input name="shop-checkout-radio" value="radio-1" type="radio" checked><span class="text-bold">Direct Bank Transfer</span>
                          </label>
                        </div>
                        <div class="form-group">
                          <label class="radio-inline">
                            <input name="shop-checkout-radio" value="radio-1" type="radio"><span class="text-bold">Cheque Payment</span>
                          </label>
                        </div>
                        <div class="form-group">
                          <label class="radio-inline">
                            <input name="shop-checkout-radio" value="radio-1" type="radio"><span class="text-bold">Paypal</span>
                          </label>
                        </div>
                        <div class="offset-top-34"><a href="#" class="btn btn-icon btn-icon-left btn-primary"><span class="icon mdi mdi-lock"></span>Place Order</a></div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footers-->
      <!-- Footer variant 4-->
      <footer class="section-relative section-34 page-footer bg-gray-base context-dark">
        <div class="shell">
          <div class="range range-sm-center text-lg-left">
            <div class="cell-sm-12">
              <div class="range range-xs-center">
                <div class="cell-xs-12 cell-md-8 cell-md-push-2 text-md-right">
                  <div>
                    <ul class="list-inline list-inline-dashed p text-darker list-inline-md list-inline-dashed-wide">
                      <li><a href="#">Documentation</a></li>
                      <li><a href="#">Plugins</a></li>
                      <li><a href="#">Themes</a></li>
                      <li><a href="#">Support</a></li>
                      <li><a href="#">GitHub</a></li>
                    </ul>
                  </div>
                  <ul class="list-inline list-inline-white offset-top-10 text-darker">
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-google-plus"></a></li>
                    <li><a href="#" class="fa fa-pinterest"></a></li>
                    <li><a href="#" class="fa fa-vimeo"></a></li>
                    <li><a href="#" class="fa fa-youtube"></a></li>
                    <li><a href="#" class="fa fa-linkedin"></a></li>
                    <li><a href="#" class="fa fa-github"></a></li>
                    <li><a href="#" class="fa fa-yahoo"></a></li>
                  </ul>
                </div>
                <div class="cell-xs-12 cell-md-4 cell-md-push-1 offset-top-34 offset-md-top-0">
                  <!-- Footer brand-->
                  <div class="footer-brand"><a href="index.html"><img width='221' height='32' style='margin-left: -6px;' src='images/logo-light.png' alt=''/></a></div>
                  <p class="small text-darker offset-top-4">&copy; <span id="copyright-year"></span> . <a href="privacy.html">Privacy Policy</a>
                    <!-- {%FOOTER_LINK}-->
                    
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div id="form-output-global" class="snackbars"></div>
    <!-- PhotoSwipe Gallery-->
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>