//- Includes
include ../elements/_ui-product-grid-type-2
include  ../elements/_ui-tabs-classic

// Our Shop
section.section-98.section-sm-top-110.section-sm-bottom-124
  .shell
    h1.text-between Our Shop
    .offset-top-30
      // Tabs Classic
      +tabs-classic(['New Arrivals', 'Popular', 'Best Sellers', 'Specials'])

        // First Tab
        div
          .range
            // Owl First Slide
            .cell-sm-6.cell-md-3
              +product-grid-type-2({
                "title": "Wood Box Paining Set 12 Oil Colors",
                "link": cfg.nav.shop.submenu.singleProduct.href,
                "brand": null,
                "price": [
                  "319.00",
                  "254.00"
                ],
                "image": [
                  {
                    "src": "images/product-01-210x210.png",
                    "alt": ""
                  }
                ],
                "label": {
                  "adClass": "label-danger",
                  "text": "Sale"
                }
              })
            .cell-sm-6.cell-md-3.offset-top-41.offset-sm-top-0
              +product-grid-type-2({
                "title": "Artist Paint Brush Set Nylon Hair Oil Painting Supplies",
                "link": cfg.nav.shop.submenu.singleProduct.href,
                "brand": null,
                "price": [
                  "219.00",
                  "124.00"
                ],
                "image": [
                  {
                    "src": "images/product-02-232x229.png",
                    "alt": ""
                  }
                ],
                "label": {
                  "adClass": "label-info",
                  "text": "New"
                }
              })
            .cell-sm-6.cell-md-3.offset-top-41.offset-md-top-0
              +product-grid-type-2({
                "title": "Castle Art Supplies Acrylic Paint Set Pack of 12 Colors",
                "link": cfg.nav.shop.submenu.singleProduct.href,
                "brand": null,
                "price": "289.00",
                "image": [
                  {
                    "src": "images/product-03-217x215.png",
                    "alt": ""
                  }
                ],
                "label": {
                  "adClass": "label-danger",
                  "text": "Sale"
                }
              })
            .cell-sm-6.cell-md-3.offset-top-41.offset-md-top-0
              +product-grid-type-2({
                "title": "Color Set Marco Renoir Fine Art Drawing Oil Base Pencils",
                "link": cfg.nav.shop.submenu.singleProduct.href,
                "brand": null,
                "price": [
                  "219.00",
                  "189.00"
                ],
                "image": [
                  {
                    "src": "images/product-04-229x223.png",
                    "alt": ""
                  }
                ],
                "label": {
                  "adClass": "label-info",
                  "text": "New"
                }
              })
        div
          .range
            .cell-sm-6.cell-md-3
              +product-grid-type-2({
                "title": "Color Set Marco Renoir Fine Art Drawing Oil Base Pencils",
                "link": cfg.nav.shop.submenu.singleProduct.href,
                "brand": null,
                "price": [
                  "219.00",
                  "189.00"
                ],
                "image": [
                  {
                    "src": "images/product-04-229x223.png",
                    "alt": ""
                  }
                ],
                "label": {
                  "adClass": "label-info",
                  "text": "New"
                }
              })
            .cell-sm-6.cell-md-3.offset-top-41.offset-sm-top-0
              +product-grid-type-2({
                "title": "Artist Paint Brush Set Nylon Hair Oil Painting Supplies",
                "link": cfg.nav.shop.submenu.singleProduct.href,
                "brand": null,
                "price": [
                  "219.00",
                  "124.00"
                ],
                "image": [
                  {
                    "src": "images/product-02-232x229.png",
                    "alt": ""
                  }
                ],
                "label": {
                  "adClass": "label-info",
                  "text": "New"
                }
              })
        div
          .range
            .cell-sm-6.cell-md-3
              +product-grid-type-2({
                "title": "Wood Box Paining Set 12 Oil Colors",
                "link": cfg.nav.shop.submenu.singleProduct.href,
                "brand": null,
                "price": [
                  "319.00",
                  "254.00"
                ],
                "image": [
                  {
                    "src": "images/product-01-210x210.png",
                    "alt": ""
                  }
                ],
                "label": {
                  "adClass": "label-danger",
                  "text": "Sale"
                }
              })
            .cell-sm-6.cell-md-3.offset-top-41.offset-sm-top-0
              +product-grid-type-2({
                "title": "Castle Art Supplies Acrylic Paint Set Pack of 12 Colors",
                "link": cfg.nav.shop.submenu.singleProduct.href,
                "brand": null,
                "price": "289.00",
                "image": [
                  {
                    "src": "images/product-03-217x215.png",
                    "alt": ""
                  }
                ],
                "label": {
                  "adClass": "label-danger",
                  "text": "Sale"
                }
              })
        div
          .range
            .cell-sm-6.cell-md-3
              +product-grid-type-2({
                "title": "Artist Paint Brush Set Nylon Hair Oil Painting Supplies",
                "link": cfg.nav.shop.submenu.singleProduct.href,
                "brand": null,
                "price": [
                  "219.00",
                  "124.00"
                ],
                "image": [
                  {
                    "src": "images/product-02-232x229.png",
                    "alt": ""
                  }
                ],
                "label": {
                  "adClass": "label-info",
                  "text": "New"
                }
              })