//- Includes
include ../elements/_ui-rd-parallax
include ../elements/_ui-post-event-date-type-2

// Upcoming Workshops
section.context-dark
  +rd-parallax({
    "backgroundSpeed": "0.35",
    "attrType": "media",
    "src": "images/home-04-1920x1230.jpg",
    "htmlSpeed": "0"
  })
    .bg-overlay-gray-darkest
      .shell.section-98.section-sm-110
        h1.text-between.text-white Upcoming Workshops
        .range.range-xs-center
          .cell-sm-6.cell-md-5.cell-lg-3
            +post-event-date-type-2("#", {
              "number": "22",
              "month": "September",
              "time": "18:00"
            }, "Sew Workshop for Beginners",
            {
              "type": "img",
              "target": {"href": "#"},
              "image": {"src": "images/home-05-270x310.jpg", "width": 270, "height": 310, "alt": ""}
            }, "Julia Flores")
          .cell-sm-6.cell-md-5.cell-lg-3.offset-top-41.offset-sm-top-0
            +post-event-date-type-2("#", {
              "number": "26",
              "month": "September",
              "time": "18:00"
            }, "Woodworking Workshop",
            {
              "type": "img",
              "target": {"href": "#"},
              "image": {"src": "images/home-06-270x310.jpg", "width": 270, "height": 310, "alt": ""}
            }, "Douglas Torres")

          .range-spacer.veil.reveal-sm-block.veil-lg.offset-top-41

          .cell-sm-6.cell-md-5.cell-lg-3.offset-top-41.offset-sm-top-0
            +post-event-date-type-2("#", {
              "number": "22",
              "month": "September",
              "time": "18:00"
            }, "Scrapbooking Workshop for Beginners",
            {
              "type": "img",
              "target": {"href": "#"},
              "image": {"src": "images/home-07-270x310.jpg", "width": 270, "height": 310, "alt": ""}
            }, "Rose Warren")
          .cell-sm-6.cell-md-5.cell-lg-3.offset-top-41.offset-sm-top-0
            +post-event-date-type-2("#", {
              "number": "22",
              "month": "September",
              "time": "18:00"
            }, "Wood processing Workshop",
            {
              "type": "img",
              "target": {"href": "#"},
              "image": {"src": "images/home-08-270x310.jpg", "width": 270, "height": 310, "alt": ""}
            }, "Douglas Torres")

        .range.range-xs-center.offset-top-66
          .cell-xs-10.cell-sm-6.cell-md-5.cell-lg-4.inset-left-50.inset-xs-left-80.inset-right-50.inset-xs-right-80
            a(href= "#").btn.btn-block.btn-default.btn-ellipse view all workshops