extends  ../_skeleton

//- Includes
include  ../elements/_ui-breadcrumb-classic

//- Title
block title
  title= cfg.nav.components.submenu.toolkitComponents.submenu.animations.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
      'rd-navbar-default rd-navbar-light',
      {
        "data-lg-auto-height": "true",
        "data-md-layout": 'rd-navbar-fixed',
        "data-lg-layout": 'rd-navbar-static',
        "data-lg-stick-up": 'true'
      },
      cfg.brand.logo,
      cfg.nav.components,
      cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.components.submenu.toolkitComponents.submenu.animations.title,
  "icon-lg " + cfg.nav.components.submenu.toolkitComponents.submenu.animations.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.components.title,
      "href": cfg.nav.components.href
    },
    2: {
      "title": cfg.nav.components.submenu.toolkitComponents.submenu.animations.title,
      "href": cfg.nav.components.submenu.toolkitComponents.submenu.animations.href
    }
  })
  // Page Contents
  main.page-content.section-98.section-lg-110
    .shell

      // Section fade in effect
      section
        h1 Fade In Effect
        .divider.bg-mantis
        .range.range-md-middle
            .cell-sm-8.cell-sm-preffix-2.cell-md-6.cell-md-preffix-0.cell-md-push-2.wow.fadeIn(data-wow-delay="0.2s")
              img.img-responsive(src="images/blog/post-01-570x321.jpg" width="570" height="321" alt="")
            .cell-sm-8.cell-sm-preffix-2.cell-md-6.cell-md-preffix-0.cell-md-push-1.text-left.offset-top-30.offset-md-top-0
              p.
                Making money online is a kind of everyone’s dream job. No investments are needed and you can do whatever you need to do when you are in the mood or have free time. Flexible work schedule is something you’ll hardly get working at the office. However, online business rarely starts to bring you money from the very first day. It takes some time as a rule. But once you understand the whole process (like what are your abilities, where to work, for whom to work and so on) you'll be earning money in no time.
              p.
                So, what to begin with? Find your strong points. What are you good at? Are you good at designing? Even if you are able to design only simple logos, you'll be still making money online. And if you are a pro in logo/graphic design, then you'll be making more. There are people looking online for guys like you. We recommend you to take things seriously. Only if you are serious in making money online you'll find the way to make a steady income.
        .offset-top-50.offset-md-top-66.code-output-fi.text-left

      // Section fade left effect
      section.offset-top-98.offset-md-top-110
        h1 Fade Left Effect
        .divider.bg-mantis
        .range.range-md-middle
            .cell-sm-8.cell-sm-preffix-2.cell-md-6.cell-md-preffix-0.wow.fadeInLeft(data-wow-delay="0.2s")
              img.img-responsive(src="images/blog/post-02-570x321.jpg" width="570" height="321" alt="")
            .cell-sm-8.cell-sm-preffix-2.cell-md-6.cell-md-preffix-0.text-left.offset-top-30.offset-md-top-0
              p.
                Making money online is a kind of everyone’s dream job. No investments are needed and you can do whatever you need to do when you are in the mood or have free time. Flexible work schedule is something you’ll hardly get working at the office. However, online business rarely starts to bring you money from the very first day. It takes some time as a rule. But once you understand the whole process (like what are your abilities, where to work, for whom to work and so on) you'll be earning money in no time.
              p.
                So, what to begin with? Find your strong points. What are you good at? Are you good at designing? Even if you are able to design only simple logos, you'll be still making money online. And if you are a pro in logo/graphic design, then you'll be making more. There are people looking online for guys like you. We recommend you to take things seriously. Only if you are serious in making money online you'll find the way to make a steady income.
        .offset-top-50.offset-md-top-66.code-output-fl.text-left

      // Section fade right effect
      section.offset-top-98.offset-md-top-110
        h1 Fade Right Effect
        .divider.bg-mantis
        .range.range-md-middle
            .cell-sm-8.cell-sm-preffix-2.cell-md-6.cell-md-preffix-0.cell-md-push-2.wow.fadeInRight(data-wow-delay="0.2s")
              img.img-responsive(src="images/blog/post-03-570x321.jpg" width="570" height="321" alt="")
            .cell-sm-8.cell-sm-preffix-2.cell-md-6.cell-md-preffix-0.cell-md-push-1.text-left.offset-top-30.offset-md-top-0
              p.
                Making money online is a kind of everyone’s dream job. No investments are needed and you can do whatever you need to do when you are in the mood or have free time. Flexible work schedule is something you’ll hardly get working at the office. However, online business rarely starts to bring you money from the very first day. It takes some time as a rule. But once you understand the whole process (like what are your abilities, where to work, for whom to work and so on) you'll be earning money in no time.
              p.
                So, what to begin with? Find your strong points. What are you good at? Are you good at designing? Even if you are able to design only simple logos, you'll be still making money online. And if you are a pro in logo/graphic design, then you'll be making more. There are people looking online for guys like you. We recommend you to take things seriously. Only if you are serious in making money online you'll find the way to make a steady income.
        .offset-top-50.offset-md-top-66.code-output-fr.text-left

      // Section fade up effect
      section.offset-top-98.offset-md-top-110
        h1 Fade Up Effect
        .divider.bg-mantis
        .range.range-md-middle
            .cell-sm-8.cell-sm-preffix-2.cell-md-6.cell-md-preffix-0.wow.fadeInUp(data-wow-delay="0.2s")
              img.img-responsive(src="images/blog/post-04-570x321.jpg" width="570" height="321" alt="")
            .cell-sm-8.cell-sm-preffix-2.cell-md-6.cell-md-preffix-0.text-left.offset-top-30.offset-md-top-0
              p.
                Making money online is a kind of everyone’s dream job. No investments are needed and you can do whatever you need to do when you are in the mood or have free time. Flexible work schedule is something you’ll hardly get working at the office. However, online business rarely starts to bring you money from the very first day. It takes some time as a rule. But once you understand the whole process (like what are your abilities, where to work, for whom to work and so on) you'll be earning money in no time.
              p.
                So, what to begin with? Find your strong points. What are you good at? Are you good at designing? Even if you are able to design only simple logos, you'll be still making money online. And if you are a pro in logo/graphic design, then you'll be making more. There are people looking online for guys like you. We recommend you to take things seriously. Only if you are serious in making money online you'll find the way to make a steady income.
        .offset-top-50.offset-md-top-66.code-output-fu.text-left

      // Section fade down effect
      section.offset-top-98.offset-md-top-110
        h1 Fade Down Effect
        .divider.bg-mantis
        .range.range-md-middle
            .cell-sm-8.cell-sm-preffix-2.cell-md-6.cell-md-preffix-0.cell-md-push-2.wow.fadeInDown(data-wow-delay="0.2s")
              img.img-responsive(src="images/blog/post-05-570x321.jpg" width="570" height="321" alt="")
            .cell-sm-8.cell-sm-preffix-2.cell-md-6.cell-md-preffix-0.cell-md-push-1.text-left.offset-top-30.offset-md-top-0
              p.
                Making money online is a kind of everyone’s dream job. No investments are needed and you can do whatever you need to do when you are in the mood or have free time. Flexible work schedule is something you’ll hardly get working at the office. However, online business rarely starts to bring you money from the very first day. It takes some time as a rule. But once you understand the whole process (like what are your abilities, where to work, for whom to work and so on) you'll be earning money in no time.
              p.
                So, what to begin with? Find your strong points. What are you good at? Are you good at designing? Even if you are able to design only simple logos, you'll be still making money online. And if you are a pro in logo/graphic design, then you'll be making more. There are people looking online for guys like you. We recommend you to take things seriously. Only if you are serious in making money online you'll find the way to make a steady income.
        .offset-top-50.offset-md-top-66.code-output-fd.text-left

      // Section slide left effect
      section.offset-top-98.offset-md-top-110
        h1 Slide Left Effect
        .divider.bg-mantis
        .range.range-md-middle
            .cell-sm-8.cell-sm-preffix-2.cell-md-6.cell-md-preffix-0.wow.slideInLeft(data-wow-delay="0.2s")
              img.img-responsive(src="images/blog/post-01-570x321.jpg" width="570" height="321" alt="")
            .cell-sm-8.cell-sm-preffix-2.cell-md-6.cell-md-preffix-0.text-left.offset-top-30.offset-md-top-0
              p.
                Making money online is a kind of everyone’s dream job. No investments are needed and you can do whatever you need to do when you are in the mood or have free time. Flexible work schedule is something you’ll hardly get working at the office. However, online business rarely starts to bring you money from the very first day. It takes some time as a rule. But once you understand the whole process (like what are your abilities, where to work, for whom to work and so on) you'll be earning money in no time.
              p.
                So, what to begin with? Find your strong points. What are you good at? Are you good at designing? Even if you are able to design only simple logos, you'll be still making money online. And if you are a pro in logo/graphic design, then you'll be making more. There are people looking online for guys like you. We recommend you to take things seriously. Only if you are serious in making money online you'll find the way to make a steady income.
        .offset-top-50.offset-md-top-66.code-output-sl.text-left

      // Section slide right effect
      section.offset-top-98.offset-md-top-110
        h1 Slide Right Effect
        .divider.bg-mantis
        .range.range-md-middle
            .cell-sm-8.cell-sm-preffix-2.cell-md-6.cell-md-preffix-0.cell-md-push-2.wow.slideInRight(data-wow-delay="0.2s")
              img.img-responsive(src="images/blog/post-02-570x321.jpg" width="570" height="321" alt="")
            .cell-sm-8.cell-sm-preffix-2.cell-md-6.cell-md-preffix-0.cell-md-push-1.text-left.offset-top-30.offset-md-top-0
              p.
                Making money online is a kind of everyone’s dream job. No investments are needed and you can do whatever you need to do when you are in the mood or have free time. Flexible work schedule is something you’ll hardly get working at the office. However, online business rarely starts to bring you money from the very first day. It takes some time as a rule. But once you understand the whole process (like what are your abilities, where to work, for whom to work and so on) you'll be earning money in no time.
              p.
                So, what to begin with? Find your strong points. What are you good at? Are you good at designing? Even if you are able to design only simple logos, you'll be still making money online. And if you are a pro in logo/graphic design, then you'll be making more. There are people looking online for guys like you. We recommend you to take things seriously. Only if you are serious in making money online you'll find the way to make a steady income.
        .offset-top-50.offset-md-top-66.code-output-sd.text-left

      // Section slide up effect
      section.offset-top-98.offset-md-top-110
        h1 Slide Up Effect
        .divider.bg-mantis
        .range.range-md-middle
            .cell-sm-8.cell-sm-preffix-2.cell-md-6.cell-md-preffix-0.wow.slideInUp(data-wow-delay="0.2s")
              img.img-responsive(src="images/blog/post-03-570x321.jpg" width="570" height="321" alt="")
            .cell-sm-8.cell-sm-preffix-2.cell-md-6.cell-md-preffix-0.text-left.offset-top-30.offset-md-top-0
              p.
                Making money online is a kind of everyone’s dream job. No investments are needed and you can do whatever you need to do when you are in the mood or have free time. Flexible work schedule is something you’ll hardly get working at the office. However, online business rarely starts to bring you money from the very first day. It takes some time as a rule. But once you understand the whole process (like what are your abilities, where to work, for whom to work and so on) you'll be earning money in no time.
              p.
                So, what to begin with? Find your strong points. What are you good at? Are you good at designing? Even if you are able to design only simple logos, you'll be still making money online. And if you are a pro in logo/graphic design, then you'll be making more. There are people looking online for guys like you. We recommend you to take things seriously. Only if you are serious in making money online you'll find the way to make a steady income.
        .offset-top-50.offset-md-top-66.code-output-su.text-left

      // Section slide down effect
      section.offset-top-98.offset-md-top-110
        h1 Slide Down Effect
        .divider.bg-mantis
        .range.range-md-middle
            .cell-sm-8.cell-sm-preffix-2.cell-md-6.cell-md-preffix-0.cell-md-push-2.wow.slideInDown(data-wow-delay="0.2s")
              img.img-responsive(src="images/blog/post-04-570x321.jpg" width="570" height="321" alt="")
            .cell-sm-8.cell-sm-preffix-2.cell-md-6.cell-md-preffix-0.cell-md-push-1.text-left.offset-top-30.offset-md-top-0
              p.
                Making money online is a kind of everyone’s dream job. No investments are needed and you can do whatever you need to do when you are in the mood or have free time. Flexible work schedule is something you’ll hardly get working at the office. However, online business rarely starts to bring you money from the very first day. It takes some time as a rule. But once you understand the whole process (like what are your abilities, where to work, for whom to work and so on) you'll be earning money in no time.
              p.
                So, what to begin with? Find your strong points. What are you good at? Are you good at designing? Even if you are able to design only simple logos, you'll be still making money online. And if you are a pro in logo/graphic design, then you'll be making more. There are people looking online for guys like you. We recommend you to take things seriously. Only if you are serious in making money online you'll find the way to make a steady income.
        .offset-top-50.offset-md-top-66.code-output-sd.text-left

  // Page Footers
  include ../sections/_section-footer-default
