extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic

//-Title
block title
  title= cfg.nav.blog.submenu.default.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.blog,
    cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.blog.submenu.default.title,
  cfg.nav.blog.submenu.default.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.blog.title,
      "href": cfg.nav.blog.href
    },
    2: {
      "title": cfg.nav.blog.submenu.default.title,
      "href": cfg.nav.blog.submenu.default.href
    },
    3: {
      "title": cfg.nav.blog.submenu.default.submenu.singlePost.title,
      "href": cfg.nav.blog.submenu.default.submenu.singlePost.href
    },
    4: {
      "title": cfg.nav.blog.submenu.default.submenu.singlePost.submenu.bothSidebar.title,
      "href": cfg.nav.blog.submenu.default.submenu.singlePost.submenu.bothSidebar.href
    }
  })



  // Page Content
  main.page-content.section-98.section-sm-110
    .shell
      .range.range-xs-center
        .cell-lg-6.cell-lg-push-2
          .inset-left-0.inset-md-left-20.inset-right-0.inset-md-right-20
            include ../sections/_section-blog-default-single
        .cell-lg-3.cell-lg-push-1.offset-top-66.offset-lg-top-0
          include ../sections/_section-blog-sidebar-variant-3
        .cell-lg-3.cell-lg-push-2.offset-top-66.offset-lg-top-0
          include ../sections/_section-blog-sidebar-variant-4


  // Page Footers
  include ../sections/_section-footer-default