extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic

//-Title
block title
  title= cfg.nav.blog.submenu.modern.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
      'rd-navbar-default rd-navbar-light',
      {
        "data-lg-auto-height": "true",
        "data-md-layout": 'rd-navbar-fixed',
        "data-lg-layout": 'rd-navbar-static',
        "data-lg-stick-up": 'true'
      },
      cfg.brand.logo,
      cfg.nav.blog,
      cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.blog.submenu.modern.title,
  cfg.nav.blog.submenu.modern.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.blog.title,
      "href": cfg.nav.blog.href
    },
    2: {
      "title": cfg.nav.blog.submenu.modern.title,
      "href": cfg.nav.blog.submenu.modern.href
    },
    3: {
      "title": cfg.nav.blog.submenu.modern.submenu.noSidebar.title,
      "href": cfg.nav.blog.submenu.modern.submenu.noSidebar.href
    }
  })

  // Page Content
  main.page-content.section-98.section-sm-110
    .shell
      .range.range-sm-center.range-lg-left
        .cell-sm-10.cell-md-8.cell-lg-preffix-2.cell-lg-7
          include ../sections/_section-blog-modern-left

  // Page Footers
  include ../sections/_section-footer-default