extends  ../_skeleton

//- Includes
include  ../elements/_ui-breadcrumb-classic
include  ../elements/_ui-map-embed
include  ../elements/_ui-rd-map
include  ../elements/_ui-google-map

//- Title
block title
  title= cfg.nav.components.submenu.toolkitComponents.submenu.maps.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.components,
    cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.components.submenu.toolkitComponents.submenu.maps.title,
  "icon-lg " + cfg.nav.components.submenu.toolkitComponents.submenu.maps.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.components.title,
      "href": cfg.nav.components.href
    },
    2: {
      "title": cfg.nav.components.submenu.toolkitComponents.submenu.maps.title,
      "href": cfg.nav.components.submenu.toolkitComponents.submenu.maps.href
    }
  })

  // Page Content
  main.page-content.section-top-98.section-md-top-110

    // Section Embed Google Map
    section
      .shell
        h1 Embed Google Map
        hr.divider.bg-mantis
        .range.text-md-left.offset-top-50.offset-lg-top-66
          .cell-sm-12
            +map-embed({
              "href": "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193566.8995132651!2d-74.08718729101024!3d40.7073869168366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2sua!4v1458573887419",
              "ratio": "16by9"
            })
    // Section RD Google Map
    section.offset-top-98.offset-lg-top-110
      h1 RD Google Map
      hr.divider.bg-mantis
      .offset-top-66
        +rd-map({
          "zoom": "14",
          "dataX": "-73.9874068",
          "dataY": "40.643180",
          "dataStyles": [{
            "featureType": "landscape",
            "stylers": [{"saturation": -100}, {"lightness": 60}]
          }, {
            "featureType": "road.local",
            "stylers": [{"saturation": -100}, {"lightness": 40}, {"visibility": "on"}]
          }, {
            "featureType": "transit",
            "stylers": [{"saturation": -100}, {"visibility": "simplified"}]
          }, {"featureType": "administrative.province", "stylers": [{"visibility": "off"}]}, {
            "featureType": "water",
            "stylers": [{"visibility": "on"}, {"lightness": 30}]
          }, {
            "featureType": "road.highway",
            "elementType": "geometry.fill",
            "stylers": [{"color": "#ef8c25"}, {"lightness": 40}]
          }, {
            "featureType": "road.highway",
            "elementType": "geometry.stroke",
            "stylers": [{"visibility": "off"}]
          }, {
            "featureType": "poi.park",
            "elementType": "geometry.fill",
            "stylers": [{"color": "#b6c54c"}, {"lightness": 40}, {"saturation": -40}]
          }, {}]
        },[{
          "dataX": "-73.9874068",
          "dataY": "40.643180",
          "markerDesc": "9870 St Vincent Place, Glasgow, DC 45 Fr 45"
        }])
        .code-rd-map
    // Section Google Map
    section
      .shell-fluid
        +google-map()
  // Page Footer
  include ../sections/_section-footer-default
