extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-media-elements

//-Title
block title
  title= cfg.nav.components.submenu.toolkitComponents.submenu.mediaElements.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
      'rd-navbar-default rd-navbar-light',
      {
        "data-lg-auto-height": "true",
        "data-md-layout": 'rd-navbar-fixed',
        "data-lg-layout": 'rd-navbar-static',
        "data-lg-stick-up": 'true'
      },
      cfg.brand.logo,
      cfg.nav.components,
      cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.components.submenu.toolkitComponents.submenu.mediaElements.title,
  "icon-lg " + cfg.nav.components.submenu.toolkitComponents.submenu.mediaElements.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.components.title,
      "href": cfg.nav.components.href
    },
    2: {
      "title": cfg.nav.components.submenu.toolkitComponents.submenu.mediaElements.title,
      "href": cfg.nav.components.submenu.toolkitComponents.submenu.mediaElements.href
    }
  })

  // Page Content
  main.page-content.section-98.section-sm-110
    // RD Video Player
    section.offset-top-98.offset-md-top-110
      .shell
        h1 RD Video Player
        hr.divider.bg-mantis
        .range
          .cell-sm-preffix-2.cell-sm-8
            +media-elements({
              "type": "rd-video-player",
              "ratio": "16by9",
              "playlist":[
                {
                  "href": "video/intense/intense",
                  "title": "What can we say about Intense ?",
                  "preview": "video/intense/intense-preview.jpg"
                },
                {
                  "href": "video/templatemonster/templatemonster",
                  "title": "Who is TemplateMonster",
                  "preview": "video/templatemonster/templatemonster-preview.jpg"
                },
                {
                  "href": "video/modicate/modicate",
                  "title": "Modicate - Multipurpose HTML5 Tempalte",
                  "preview": "video/modicate/modicate-preview.jpg"
                }
              ]
            })

    // RD Audio Player
    section.offset-top-98.offset-md-top-110
      .shell
        h1 RD Audio Player
        hr.divider.bg-mantis
        .range
          .cell-sm-preffix-2.cell-sm-8
            +media-elements({
              "type": "rd-audio-player",
              "playlist":[
                {
                  "href": "audio/scott_holmes_-_happy_go_lucky.mp3",
                  "title": "Happy go Lucky",
                  "author": "Scott Holmes"
                },
                {
                  "href": "audio/dave_depper_-_wholesome_7.mp3",
                  "title": "Wholesome 7",
                  "author": "Dave Depper"
                },
                {
                  "href": "audio/jason_shaw_-_running_waters.mp3",
                  "title": "Running waters",
                  "author": "Jason Shaw"
                },
                {
                  "href": "audio/jahzzar_-_siesta.mp3",
                  "title": "Siesta",
                  "author": "Jahzzar"
                }
              ]
            })

    // Youtube Video
    section.offset-top-98.offset-md-top-110
      .shell
        h1 Youtube Video
        hr.divider.bg-mantis
        .range
          .cell-sm-preffix-2.cell-sm-8
            +media-elements({
              "type": "video",
              "href": "//www.youtube.com/embed/-AhmuMqZB0s",
              "ratio": "16by9"
            })

    // Soundcloud Player
    section.offset-top-98.offset-md-top-110
      .shell
        h1 Soundcloud Player
        hr.divider.bg-mantis
        .range
          .cell-sm-preffix-3.cell-sm-6
            +media-elements({
              "type": "soundcloud",
              "embed": '<iframe  height="166" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149065581&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>'
            })


  // Page Footers
  include ../sections/_section-footer-default