extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-post-classic
include ../elements/_ui-post-wide-horizontal
include ../elements/_ui-post-timeline
include ../elements/_ui-post-event
include ../elements/_ui-post-boxed
include ../elements/_ui-post-modern
include ../elements/_ui-post-modern-timeline
include ../elements/_ui-post-event-date-type-2

//- Title
block title
  title= cfg.nav.components.submenu.toolkitComponents.submenu.posts.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
      'rd-navbar-default rd-navbar-light',
      {
        "data-lg-auto-height": "true",
        "data-md-layout": 'rd-navbar-fixed',
        "data-lg-layout": 'rd-navbar-static',
        "data-lg-stick-up": 'true'
      },
      cfg.brand.logo,
      cfg.nav.components,
      cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.components.submenu.toolkitComponents.submenu.posts.title,
  "icon-lg " + cfg.nav.components.submenu.toolkitComponents.submenu.posts.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.components.title,
      "href": cfg.nav.components.href
    },
    2: {
      "title": cfg.nav.components.submenu.toolkitComponents.submenu.posts.title,
      "href": cfg.nav.components.submenu.toolkitComponents.submenu.posts.href
    }
  })

  // Page Content
  main.page-content.section-98.section-sm-110
    // Classic Text Post example
    .shell
      h1 Classic Text Post
      hr.divider.divider-md.bg-mantis
      .range.range-xs-center
        .cell-md-6
          +post-classic("#", "05/14/2015", "Classic Text Post example", "July Mao", "images/users/user-july-mao-70x70.jpg", [
            {"title": "Design", "href": "#"},
            {"title": "Events", "href": "#"}])
            p Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
            p Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out answered men admitted. Sportsmen certainty prevailed suspected am as...

    // Classic Image Post example
    .shell.offset-top-110
      h1 Classic Image Post
      hr.divider.divider-md.bg-mantis
      .range.range-xs-center.offset-top-66
        .cell-md-6
          +post-classic("#", "05/14/2015", "Classic Image Post example", "July Mao", "images/users/user-july-mao-70x70.jpg", [
            {"title": "Design", "href": "#"},
            {"title": "Events", "href": "#"}],
            {
              "type": "thumbnail",
              "thumb": {"src": "images/blog/post-01-570x321.jpg", "width": 570, "height": 321, "alt": ""},
              "target": {"href": "#"}
            })
            p Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
            p Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out answered men admitted. Sportsmen certainty prevailed suspected am as...

    // Classic Video Post example
    .shell.offset-top-110
      h1 Classic Video Post
      hr.divider.divider-md.bg-mantis
      .range.range-xs-center.offset-top-66
        .cell-md-6
          +post-classic("#", "05/14/2015", "Classic Video Post example", "July Mao", "images/users/user-july-mao-70x70.jpg", [
            {"title": "Design", "href": "#"},
            {"title": "Events", "href": "#"}],
            {
              "type": "video",
              "href": "//www.youtube.com/embed/-AhmuMqZB0s",
              "ratio": "16by9"
            })
            p Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
            p Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out answered men admitted. Sportsmen certainty prevailed suspected am as...

    // Classic Video Post example
    .shell.offset-top-110
      h1 Classic Audio Post
      hr.divider.divider-md.bg-mantis
      .range.range-xs-center.offset-top-66
        .cell-md-6
          +post-classic("#", "05/14/2015", "Classic Audio Post example", "July Mao", "images/users/user-july-mao-70x70.jpg", [
            {"title": "Design", "href": "#"},
            {"title": "Events", "href": "#"}],
            {
              "type": "soundcloud",
              "embed": '<iframe height="166" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149065581&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>'
            })
            p Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
            p Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out answered men admitted. Sportsmen certainty prevailed suspected am as...

    // Classic Gallery Post example
    .shell.offset-top-110
      h1 Classic Gallery Post
      hr.divider.divider-md.bg-mantis
      .range.range-xs-center.offset-top-66
        .cell-md-6
          +post-classic("#", "05/14/2015", "Classic Gallery Post example", "July Mao", "images/users/user-july-mao-70x70.jpg", [
            {"title": "Design", "href": "#"},
            {"title": "Events", "href": "#"}],
            {
              "type": "gallery",
              "images": [
                {
                  "type": "thumbnail",
                  "thumb": {"src": "images/blog/post-01-570x321.jpg", "width": 570, "height": 321, "alt": ""},
                  "target": {"src": "images/blog/post-01-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
                },
                {
                  "type": "thumbnail",
                  "thumb": {"src": "images/blog/post-02-570x321.jpg", "width": 570, "height": 321, "alt": ""},
                  "target": {"src": "images/blog/post-02-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
                },
                {
                  "type": "thumbnail",
                  "thumb": {"src": "images/blog/post-05-570x321.jpg", "width": 570, "height": 321, "alt": ""},
                  "target": {"src": "images/blog/post-05-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
                }
              ]
            })
            p Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
            p Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out answered men admitted. Sportsmen certainty prevailed suspected am as...

    // Classic Video Post example
    .shell-wide.offset-top-110
      h1 Wide Image Post
      hr.divider.divider-md.bg-mantis

      .range.range-xs-center.offset-top-66
        .cell-md-8.cell-lg-6.cell-xl-12
          +post-wide-horizontal("", "15 Feb 2016", "Wide Image Post example", "John Doe",
            [{"title": "Design", "href": "#"},{"title": "UX", "href": "#"},{"title": "Marketing", "href": "#"}],
            19, 87,
            {
              "type": "thumbnail",
              "thumb": {"src": "images/blog/post-02-700x395.jpg", "width": 700, "height": 395, "alt": ""},
              "target": {"href": "#"}
            })
            p Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
            p On on produce colonel pointed. Just four sold need over how any. In to september suspicion determine he prevailed admitting. On adapted an as affixed limited on. Giving cousin warmly things no spring mr be abroad.

    // Classic Video Post example
    .shell-wide.offset-top-110
      h1 Wide Video Post
      hr.divider.divider-md.bg-mantis

      .range.range-xs-center.offset-top-66
        .cell-md-8.cell-lg-6.cell-xl-12
          +post-wide-horizontal("", "15 Feb 2016", "Wide Video Post example", "John Doe",
            [{"title": "Design", "href": "#"},{"title": "UX", "href": "#"},{"title": "Marketing", "href": "#"}],
            19, 87,
            {
              "type": "video",
              "href": "//www.youtube.com/embed/-AhmuMqZB0s",
              "ratio": "16by9"
            })
            p Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
            p On on produce colonel pointed. Just four sold need over how any. In to september suspicion determine he prevailed admitting. On adapted an as affixed limited on. Giving cousin warmly things no spring mr be abroad.

    // Classic Video Post example
    .shell-wide.offset-top-110
      h1 Wide Gallery Post
      hr.divider.divider-md.bg-mantis

      .range.range-xs-center.offset-top-66
        .cell-md-8.cell-lg-6.cell-xl-12
          +post-wide-horizontal("", "15 Feb 2016", "Wide Gallery Post example", "John Doe",
            [{"title": "Design", "href": "#"},{"title": "UX", "href": "#"},{"title": "Marketing", "href": "#"}],
            19, 87,
          {
            "type": "gallery",
            "images": [
              {
                "type": "thumbnail",
                "thumb": {"src": "images/blog/post-01-700x395.jpg", "width": 700, "height": 395, "alt": ""},
                "target": {"src": "images/blog/post-01-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
              },
              {
                "type": "thumbnail",
                "thumb": {"src": "images/blog/post-02-700x395.jpg", "width": 700, "height": 395, "alt": ""},
                "target": {"src": "images/blog/post-02-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
              },
              {
                "type": "thumbnail",
                "thumb": {"src": "images/blog/post-05-700x395.jpg", "width": 700, "height": 395, "alt": ""},
                "target": {"src": "images/blog/post-05-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
              }
            ]
          })
            p Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
            p On on produce colonel pointed. Just four sold need over how any. In to september suspicion determine he prevailed admitting. On adapted an as affixed limited on. Giving cousin warmly things no spring mr be abroad.

    // Timeline Text Post example
    .shell.offset-top-110
      h1 Timeline Text Post
      hr.divider.divider-md.bg-mantis
      .range.range-xs-center
        .cell-md-10.cell-lg-8
          +post-timeline("#", "2016", "Feb 18", "Timeline Text Post example", "John Doe", [
            {"title": "Lifestyle", "href": "#"},
            {"title": "Beauty", "href": "#"}])
            p Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
            p Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out answered men admitted. Sportsmen certainty prevailed suspected am as...

    // Timeline Image Post example
    .shell.offset-top-110
      h1 Timeline Image Post
      hr.divider.divider-md.bg-mantis
      .range.range-xs-center
        .cell-md-10.cell-lg-8
          +post-timeline("#", "2016", "Feb 18", "Timeline Image Post example", "John Doe", [
            {"title": "Lifestyle", "href": "#"},
            {"title": "Beauty", "href": "#"}],
            {
              "type": "thumbnail",
              "thumb": {"src": "images/blog/post-03-570x321.jpg", "width": 570, "height": 321, "alt": ""},
              "target": {"href": "#"}
            })
            p Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
            p Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out answered men admitted. Sportsmen certainty prevailed suspected am as...

    // Timeline Video Post example
    .shell.offset-top-110
      h1 Timeline Video Post
      hr.divider.divider-md.bg-mantis
      .range.range-xs-center
        .cell-md-10.cell-lg-8
          +post-timeline("#", "2016", "Feb 18", "Timeline Video Post example", "John Doe", [
            {"title": "Lifestyle", "href": "#"},
            {"title": "Beauty", "href": "#"}],
            {
              "type": "video",
              "href": "//www.youtube.com/embed/-AhmuMqZB0s",
              "ratio": "16by9"
            })
            p Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
            p Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out answered men admitted. Sportsmen certainty prevailed suspected am as...

    // Timeline Audio Post example
    .shell.offset-top-110
      h1 Timeline Audio Post
      hr.divider.divider-md.bg-mantis
      .range.range-xs-center
        .cell-md-10.cell-lg-8
          +post-timeline("#", "2016", "Feb 18", "Timeline Audio Post example", "John Doe", [
            {"title": "Lifestyle", "href": "#"},
            {"title": "Beauty", "href": "#"}],
            {
              "type": "soundcloud",
              "embed": '<iframe height="166" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149065581&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>'
            })
            p Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
            p Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out answered men admitted. Sportsmen certainty prevailed suspected am as...

    // Timeline Gallery Post example
    .shell.offset-top-110
      h1 Timeline Gallery Post
      hr.divider.divider-md.bg-mantis
      .range.range-xs-center
        .cell-md-10.cell-lg-8
          +post-timeline("#", "2016", "Feb 18", "Timeline Gallery Post example", "John Doe", [
          {"title": "Lifestyle", "href": "#"},
          {"title": "Beauty", "href": "#"}],
          {
            "type": "gallery",
            "images": [
              {
                "type": "thumbnail",
                "thumb": {"src": "images/blog/post-01-570x321.jpg", "width": 570, "height": 321, "alt": ""},
                "target": {"src": "images/blog/post-01-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
              },
              {
                "type": "thumbnail",
                "thumb": {"src": "images/blog/post-02-570x321.jpg", "width": 570, "height": 321, "alt": ""},
                "target": {"src": "images/blog/post-02-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
              },
              {
                "type": "thumbnail",
                "thumb": {"src": "images/blog/post-05-570x321.jpg", "width": 570, "height": 321, "alt": ""},
                "target": {"src": "images/blog/post-05-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
              }
            ]
          })
            p Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
            p Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out answered men admitted. Sportsmen certainty prevailed suspected am as...

    // Event Text Post example
    .shell.offset-top-110
      h1 Event Text Post
      hr.divider.divider-md.bg-mantis
      .range.range-xs-center
        .cell-md-6
          +post-event("#", "March 8 2016", "8:00 AM", "Event Text Post example")
            p Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
            p Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out answered men admitted. Sportsmen certainty prevailed suspected am as...

    // Event Image Post example
    .shell.offset-top-110
      h1 Event Image Post
      hr.divider.divider-md.bg-mantis
      .range.range-xs-center
        .cell-md-6
          +post-event("#", "March 8 2016", "8:00 AM", "Event Image Post example",
            {
              "type": "thumbnail",
              "thumb": {"src": "images/blog/post-04-570x321.jpg", "width": 570, "height": 321, "alt": ""},
              "target": {"href": "#"}
            })
            p Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
            p Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out answered men admitted. Sportsmen certainty prevailed suspected am as...

    // Event Video Post example
    .shell.offset-top-110
      h1 Event Video Post
      hr.divider.divider-md.bg-mantis
      .range.range-xs-center
        .cell-md-6
          +post-event("#", "March 8 2016", "8:00 AM", "Event Video Post example",
            {
              "type": "video",
              "href": "//www.youtube.com/embed/-AhmuMqZB0s",
              "ratio": "16by9"
            })
            p Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
            p Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out answered men admitted. Sportsmen certainty prevailed suspected am as...

    // Event Video Post example
    .shell.offset-top-110
      h1 Event Audio Post
      hr.divider.divider-md.bg-mantis
      .range.range-xs-center
        .cell-md-6
          +post-event("#", "March 8 2016", "8:00 AM", "Event Audio Post example",
            {
              "type": "soundcloud",
              "embed": '<iframe height="166" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149065581&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>'
            })
            p Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
            p Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out answered men admitted. Sportsmen certainty prevailed suspected am as...

    // Event Gallery Post example
    .shell.offset-top-110
      h1 Event Gallery Post
      hr.divider.divider-md.bg-mantis
      .range.range-xs-center
        .cell-md-6
          +post-event("#", "March 8 2016", "8:00 AM", "Event Gallery Post example",
            {
              "type": "gallery",
              "images": [
                {
                  "type": "thumbnail",
                  "thumb": {"src": "images/blog/post-01-570x321.jpg", "width": 570, "height": 321, "alt": ""},
                  "target": {"src": "images/blog/post-01-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
                },
                {
                  "type": "thumbnail",
                  "thumb": {"src": "images/blog/post-02-570x321.jpg", "width": 570, "height": 321, "alt": ""},
                  "target": {"src": "images/blog/post-02-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
                },
                {
                  "type": "thumbnail",
                  "thumb": {"src": "images/blog/post-05-570x321.jpg", "width": 570, "height": 321, "alt": ""},
                  "target": {"src": "images/blog/post-05-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
                }
              ]
            })
            p Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
            p Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out answered men admitted. Sportsmen certainty prevailed suspected am as...

    // Event Post Type 2
    .shell.offset-top-110
      h1 Event Post Type 2
      hr.divider.divider-md.bg-mantis
      .range.range-xs-center
        .cell-sm-6.cell-md-5.cell-lg-3
          +post-event-date-type-2("#", {
            "number": "22",
            "month": "September",
            "time": "18:00"
          }, "Sew Workshop for Beginners",
          {
            "type": "img",
            "target": {"href": "#"},
            "image": {"src": "images/blog/post-07-270x310.jpg", "width": 270, "height": 310, "alt": ""}
          }, "Julia Flores")
        .cell-sm-6.cell-md-5.cell-lg-3.offset-top-41.offset-sm-top-0
          +post-event-date-type-2("#", {
            "number": "26",
            "month": "September",
            "time": "18:00"
          }, "Woodworking Workshop",
          {
            "type": "img",
            "target": {"href": "#"},
            "image": {"src": "images/blog/post-08-270x310.jpg", "width": 270, "height": 310, "alt": ""}
          }, "Douglas Torres")

        .range-spacer.veil.reveal-sm-block.veil-lg.offset-top-41

        .cell-sm-6.cell-md-5.cell-lg-3.offset-top-41.offset-sm-top-0
          +post-event-date-type-2("#", {
            "number": "22",
            "month": "September",
            "time": "18:00"
          }, "Scrapbooking Workshop for Beginners",
          {
            "type": "img",
            "target": {"href": "#"},
            "image": {"src": "images/blog/post-09-270x310.jpg", "width": 270, "height": 310, "alt": ""}
          }, "Rose Warren")
        .cell-sm-6.cell-md-5.cell-lg-3.offset-top-41.offset-sm-top-0
          +post-event-date-type-2("#", {
            "number": "22",
            "month": "September",
            "time": "18:00"
          }, "Wood processing Workshop",
          {
            "type": "img",
            "target": {"href": "#"},
            "image": {"src": "images/blog/post-10-270x310.jpg", "width": 270, "height": 310, "alt": ""}
          }, "Douglas Torres")

    // Boxed Post example
    .shell.offset-top-110
      h1 Boxed Post
      hr.divider.divider-md.bg-mantis
      .range.range-xs-center
        .cell-md-6
          +post-boxed("#", "2 days ago", "Boxed Post example", "John Doe", [
            {"title": "Business", "href": "#"},
            {"title": "Startup", "href": "#"}],
            {
              "type": "thumbnail",
              "width": 570,
              "height": 321,
              "src": "images/blog/post-05-570x321.jpg",
              "alt": ""
            })

    // Modern Text Post example
    .shell.offset-top-110
      h1 Modern Text Post
      hr.divider.divider-md.bg-mantis
      .range.range-xs-center
        .cell-md-6
          +post-modern("#", "mdi mdi-pen", "2 days ago", "Modern Text Post example", [
            {"title": "Business", "href": "#"},
            {"title": "Startup", "href": "#"}])
              p Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.

    // Modern Image Post example
    .shell.offset-top-110
      h1 Modern Image Post
      hr.divider.divider-md.bg-mantis
      .range.range-xs-center
        .cell-md-6
          +post-modern("#", "mdi mdi-image", "2 days ago", "Modern Image Post example", [
            {"title": "Business", "href": "#"},
            {"title": "Startup", "href": "#"}],
            {
              "type": "thumbnail",
              "thumb": {"src": "images/blog/post-06-570x321.jpg", "width": 570, "height": 321, "alt": ""},
              "target": {"href": "#"}
            })
              p Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.

    // Modern Video Post example
    .shell.offset-top-110
      h1 Modern Video Post
      hr.divider.divider-md.bg-mantis
      .range.range-xs-center
        .cell-md-6
          +post-modern("#", "mdi mdi-video", "2 days ago", "Modern Video Post example", [
            {"title": "Business", "href": "#"},
            {"title": "Startup", "href": "#"}],
            {
              "type": "video",
              "href": "//www.youtube.com/embed/-AhmuMqZB0s",
              "ratio": "16by9"
            })
              p Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.

    // Modern Audio Post example
    .shell.offset-top-110
      h1 Modern Audio Post
      hr.divider.divider-md.bg-mantis
      .range.range-xs-center
        .cell-md-6
          +post-modern("#", "mdi mdi-soundcloud", "2 days ago", "Modern Audio Post example", [
            {"title": "Business", "href": "#"},
            {"title": "Startup", "href": "#"}],
            {
              "type": "soundcloud",
              "embed": '<iframe height="166" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149065581&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>'
            })
              p Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.

    // Modern Text Post example
    .shell.offset-top-110
      h1 Modern Timeline Posts
      hr.divider.divider-md.bg-mantis
      .range.range-xs-center
        .cell-sm-10.cell-md-8.cell-lg-7
          .source-code
            +post-modern-timeline("post-modern-timeline-left", "#", "mdi mdi-pen", "Modern Text Post example", [
              {"title": "Business", "href": "#"},
              {"title": "Startup", "href": "#"}],
              null,
              "July Mao",
              {
                "width": 45,
                "height": 45,
                "src": "images/users/user-july-mao-60x60.jpg",
                "alt": "July Mao"
              })
                p Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.

            +post-modern-timeline("post-modern-timeline-left", "#", "mdi mdi-image", "Modern Text Post example", [
              {"title": "Business", "href": "#"},
              {"title": "Startup", "href": "#"}],
              {
                "type": "thumbnail",
                "thumb": { "src": "images/blog/post-02-570x321.jpg", "width": 570, "height": 321, "alt": "" },
                "target": { "href": "#" }
              },
              "Alex Merphy",
              {
                "width": 45,
                "height": 45,
                "src": "images/users/user-alex-merphy-60x60.jpg",
                "alt": "Alex Ross"
              })
                p Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
            .post-modern-timeline-date.text-md-left
              time(datetime="2016-01-01") 21 Feb
            +post-modern-timeline("post-modern-timeline-left", "#", "mdi mdi-image", "Modern Text Post example", [
              {"title": "Business", "href": "#"},
              {"title": "Startup", "href": "#"}],
              {
                "type": "soundcloud",
                "embed": '<iframe height="166" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149065581&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>'
              },
              "Amanda Smith",
              {
                "width": 45,
                "height": 45,
                "src": "images/users/user-amanda-smith-60x60.jpg",
                "alt": "Amanda Smith"
              })
              p Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.

  // Page Footers
  include ../sections/_section-footer-default