extends  ../_skeleton

//- Includes
include ../elements/_ui-rd-navbar-default-transparent

//-Title
block title
  title= cfg.nav.features.submenu.formPlugins.title

//- Page
block page

  // Page Head
  header.page-head.slider-menu-position
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-transparent',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoInverse,
    cfg.nav.features,
    cfg.nav
    )

  // Page Content
  main.page-content

    include ../sections/_section-integration-with-mailform
    include ../sections/_section-mailform-features-type-1
    include ../sections/_section-mailform-cross-browser-support
    include ../sections/_section-mailform-features-type-2
    include ../sections/_section-mailform-third-party-scripts
    include ../sections/_section-mailform-plugin-compatible
    include ../sections/_section-mailform-gpl-license
    include ../sections/_section-mailform-see-it-in-action

  // Page Footer
  include ../sections/_section-footer-default