extends ../_skeleton

//- Includes
include  ../elements/_ui-breadcrumb-classic
include ../elements/_ui-progress-bar-linear
include ../elements/_ui-counter-type-2
include  ../elements/_ui-box-icon-type-2
include ../elements/_ui-testimonials-slider
include ../elements/_ui-rd-parallax
include ../elements/_ui-rd-video

//- Title
block title
  title= cfg.nav.components.submenu.toolkitComponents.submenu.sections.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
      'rd-navbar-default rd-navbar-light',
      {
        "data-lg-auto-height": "true",
        "data-md-layout": 'rd-navbar-fixed',
        "data-lg-layout": 'rd-navbar-static',
        "data-lg-stick-up": 'true'
      },
      cfg.brand.logo,
      cfg.nav.components,
      cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.components.submenu.toolkitComponents.submenu.sections.title,
  "icon-lg " + cfg.nav.components.submenu.toolkitComponents.submenu.sections.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.components.title,
      "href": cfg.nav.components.href
    },
    2: {
      "title": cfg.nav.components.submenu.toolkitComponents.submenu.sections.title,
      "href": cfg.nav.components.submenu.toolkitComponents.submenu.sections.href
    }
  })

  // Page Content
  main.page-content

    // Transparent Section
    section.section-98.section-sm-top-110.section-sm-bottom-124
      .shell
        h1 Transparent Section
        hr.divider.bg-mantis
        .range.range-sm-middle.offset-top-41.offset-sm-top-98.text-md-left
          .cell-sm-10.cell-lg-7.cell-lg-push-6
            +progress-bar-linear({
              "title": "HTML/CSS",
              "apClass": "bg-success",
              "valueTo": "70"
            })
            .offset-top-50
              +progress-bar-linear({
                "title": "Java Script",
                "apClass": "bg-info",
                "valueTo": "54"
              })
            .offset-top-50
              +progress-bar-linear({
                "title": "PHP",
                "apClass": "bg-warning",
                "valueTo": "87"
              })
            .offset-top-50
              +progress-bar-linear({
                "title": "UI/UX Design",
                "apClass": "bg-danger",
                "valueTo": "65"
              })
          .cell-sm-10.cell-lg-5.cell-lg-pull-6.offset-top-50.offset-lg-top-0
            p Our company starts to research new technology trends before they even go public and become widespread. Our team of professional analysts is constantly roaming the web in search of promising techniques, which will make your business better. Thus, we are always ahead of time.
            p We know how important it is for you to maintain your schedule, that’s why we do everything to fit it. Our team works on your project in multiple threads. It allows us to solve any issue without stopping the development process.

    // Light Parallax Section
    section
      +rd-parallax({
        "backgroundSpeed": "0.35",
        "attrType": "media",
        "src": "images/backgrounds/background-05-1920x960.jpg",
        "htmlSpeed": "0"
      })
        .bg-overlay-white
          .shell
            .range.range-sm-center.section-98.section-sm-124
              .cell-sm-10
                h1 Light Parallax Section
                hr.divider.bg-mantis
                p.offset-sm-top-66 Today Intense offers a full range of web design, app development and content marketing services, including building full-featured ecommerce websites and web startups with custom functionality.

    // Dark Section
    section.section-98.section-sm-124.bg-gray-darkest.context-dark
      .shell-fluid
        h1 Dark Section
        hr.divider.bg-mantis
        .range.range-sm-center
          .cell-sm-8.cell-md-12
            .range
              .cell-md-3.cell-sm-6
                +counter-type-2({
                  "description": "Templates",
                  "titleStyle": "h6 text-uppercase text-spacing-60 text-bold offset-top-14",
                },
                "mdi mdi-vector-arrange-below text-mantis",{
                  "dataTo": "58249",
                  "dataSpeed": "3000",
                  "divider": "divider divider-vertical bg-white offset-top-10"
                })
              .cell-md-3.cell-sm-6.offset-top-66.offset-sm-top-0
                +counter-type-2({
                  "description": "Happy Clients",
                  "titleStyle": "h6 text-uppercase text-spacing-60 text-bold offset-top-14",
                },
                "mdi mdi-account-multiple-outline text-malibu",{
                  "dataTo": "246",
                  "dataSpeed": "2500",
                  "preffix": "K",
                  "divider": "divider divider-vertical bg-white offset-top-10"
                })
              .cell-md-3.cell-sm-6.offset-top-66.offset-md-top-0
                +counter-type-2({
                  "description": "Hours of Coding",
                  "titleStyle": "h6 text-uppercase text-spacing-60 text-bold offset-top-14",
                },
                "mdi mdi-clock text-neon-carrot",{
                  "dataTo": "1200",
                  "dataSpeed": "1500",
                  "divider": "divider divider-vertical bg-white offset-top-10"
                })
              .cell-md-3.cell-sm-6.offset-top-66.offset-md-top-0
                +counter-type-2({
                  "description": "Lines of Code",
                  "titleStyle": "h6 text-uppercase text-spacing-60 text-bold offset-top-14",
                },
                "mdi mdi-code-brackets text-ku-crimson",{
                  "dataTo": "834",
                  "dataSpeed": "1300",
                  "preffix": "K",
                  "divider": "divider divider-vertical bg-white offset-top-10"
                })

    // Light Section
    include ../sections/_section-why-choose-us

    // Dark Video Section
    section.context-dark
      +rd-video({
        "src": "video/bg-video-1/bg-video-1",
        "imageXS": "26",
        "imageSM": "26",
        "imageMD": "37",
        "imageLG": "74",
        "imageXLG": "100"
      })
        .bg-overlay-gray-darkest
          .shell.section-98.section-sm-110
            .range.range-sm-center
              .cell-sm-10
                h1 Dark Video Section
                hr.divider.bg-mantis
                p Even when your project is over, we are always glad to help you. As our client, you can expect the highest level of technical support anytime. Our support team is online 24/7, and is ready to help you with any design-related issue.

    // Dark Parallax Section
    include ../sections/_section-what-client-say

    // Light Video Section
    section
      +rd-video({
        "src": "video/bg-video-2/bg-video-2",
        "imageXS": "34",
        "imageSM": "34",
        "imageMD": "54",
        "imageLG": "121",
        "imageXLG": "170"
      })
        .bg-overlay-white
          .shell.section-98.section-sm-110
            .range.range-sm-center
              .cell-sm-10
                h1 Light Video Section
                hr.divider.bg-mantis
                p We're dedicated to giving you the best service possible by keeping our solutions friendly, simple and effective. If you don’t trust our word for it, just ask the people who have successfully launched their websites designed by us. Our core principle is absolute transparency in everything. Come any time to check how your project is doing – our specialists will inform you about the progress.

  // Page Footer
  include ../sections/_section-footer-default