extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic

//-Title
block title
  title= cfg.nav.pages.submenu.services.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.pages,
    cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.pages.submenu.services.title,
  cfg.nav.pages.submenu.services.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.pages.title,
      "href": cfg.nav.pages.href
    },
    2: {
      "title": cfg.nav.pages.submenu.services.title,
      "href": cfg.nav.pages.submenu.services.href
    }
  })

  // Page Content
  main.page-content

    include ../sections/_section-what-we-do
    include ../sections/_section-our-clients
    include ../sections/_section-choose-your-plan-type-1
    include ../sections/_section-buy-now-blue-gray

  // Page Footers
  include ../sections/_section-footer-default