extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic

//-Title
block title
  title= cfg.nav.shop.submenu.cart.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.shop,
    cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.shop.submenu.cart.title,
  cfg.nav.shop.submenu.cart.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.shop.title,
      "href": cfg.nav.shop.href
    },
    2: {
      "title": cfg.nav.shop.submenu.cart.title,
      "href": cfg.nav.shop.submenu.cart.href
    }
  })

  // Page Content
  main.page-content

    include ../sections/_section-shop-cart

  // Page Footers
  include ../sections/_section-footer-default