extends  ../_skeleton
//- Includes
include ../elements/_ui-rd-navbar-default-transparent
//-Title
block title
  title= cfg.nav.features.submenu.uiKit.title
//- Page
block page
  // Page Head
  header.page-head.slider-menu-position
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-transparent',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoInverse,
    cfg.nav.features,
    cfg.nav
    )
  // Page Contents
  main.page-content
    include ../sections/_section-advanced-ui-kit
    include ../sections/_section-make-easier-interface
    include ../sections/_section-choose-your-own-design
    include ../sections/_section-information-flow
    include ../sections/_section-bootstrap-component

  // Page Footers
  include ../sections/_section-footer-default