extends  ../_skeleton

//- Includes
include ../elements/_widget-post
include ../elements/_widget-form-subscribe
include ../elements/_widget-list-social
include ../elements/_ui-testimonials-type-3

//-Title
block title
  title Application

//- Page
block page

  // Page Head
  header.page-head(style="position:absolute")
    // RD Navbar Transparent
    .rd-navbar-wrap
      nav.rd-navbar.rd-navbar-humburger-menu(data-xl-auto-height="false", data-md-layout="rd-navbar-fixed", data-md-device-layout="rd-navbar-fixed")
        .rd-navbar-inner
          // RD Navbar Panel
          .rd-navbar-panel
            // RD Navbar Toggle
            button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar, .rd-navbar-nav-wrap')
              span
            .rd-navbar-brand
              a(href="./")
                img.img-responsive.reveal-inline-block(src="images/navbar-logo-ligth-183x32.png", width="183", height="32", alt="")
          .rd-navbar-menu-wrap
            .rd-navbar-nav-wrap
              .rd-navbar-mobile-scroll
                // RD Navbar Nav
                ul.rd-navbar-nav
                  li.active
                    a(href='#home') Home
                  li
                    a(href='#features') Features
                  li
                    a(href='#responsive') Design
                  li
                    a(href="#help") Support
                  li
                    a(href="#testimonials") Testimonials
                  li
                    a(href="#contacts") Contact Us

                ul.list-inline.offset-top-50.reveal-inline-block.veil-xl.list-inline-primary.list-inline-md
                  li
                    a.icon.icon-xxs.fa.fa-facebook(href="#")
                  li
                    a.icon.icon-xxs.fa.fa-twitter(href="#")
                  li
                    a.icon.icon-xxs.fa.fa-google-plus(href="#")
                  li
                    a.icon.icon-xxs.fa.fa-linkedin(href="#")

  // Page Contents
  main.page-content
    section.context-dark.offset-top-20.section-absolute.veil.reveal-md-block
      .shell-wide
        .range.range-xs-middle
          .cell-sm-6.text-sm-left
            a(href="../../index.html")
              img.img-responsive.reveal-inline-block(src="images/logo-ligth-183x32.png", width="183", height="32", alt="")
          .cell-sm-6
            ul.list-inline.pull-sm-right.list-inline-md.list-inline-primary
              li
                a.icon.icon-xxs.fa.fa-facebook(href="#")
              li
                a.icon.icon-xxs.fa.fa-twitter(href="#")
              li
                a.icon.icon-xxs.fa.fa-google-plus(href="#")
              li
                a.icon.icon-xxs.fa.fa-linkedin(href="#")
    #home.section-navigation
      section.bg-macaroni.context-dark
        .navigation-wrap
          nav.navigation
            ul.navigation-list.dark-section
              li.active
                a(href='#' data-custom-scroll-to="home") Home
              li
                a(href='#' data-custom-scroll-to="features") Features
              li
                a(href='#' data-custom-scroll-to="responsive") Responsive
              li
                a(href="#" data-custom-scroll-to="help") Help
              li
                a(href="#" data-custom-scroll-to="testimonials") Testimonials

        .shell
          .range
            .range.section-cover.range-xs-center.range-xs-middle.range-md-left
              .cell-lg-5.text-lg-left.section-80.section-relative
                h1.text-bold Get #[span.text-uppercase INTENSE] #[span.small App Now!]
                .offset-top-34
                  p.big.
                    INTENSE is the most unique mobile app, designed for managing startups, small business projects, and supporting modern companies.
                .group.group-lg.offset-md-top-55.offset-top-30
                  a(href="#")
                    img.img-responsive(src="images/icon-appstore-180x60.png", width="180", height="60", alt="")
                  a(href="#")
                    img.img-responsive(src="images/icon-google-play-200x60.png", width="200", height="60", alt="")
        img.img-responsive.img-absolute(src="images/home-01-434x642.png", width="434", height="642", alt="")

    #features.section-navigation
      //Our Key Features
      section.section-80.section-md-110.section-md-bottom-135.bg-white
        .navigation-wrap
          nav.navigation
            ul.navigation-list
              li
                a(href='#' data-custom-scroll-to="home") Home
              li.active
                a(href='#' data-custom-scroll-to="features") Features
              li
                a(href='#' data-custom-scroll-to="responsive") Responsive
              li
                a(href="#" data-custom-scroll-to="help") Help
              li
                a(href="#" data-custom-scroll-to="testimonials") Testimonials
        .shell
          h2.text-bold Our Key Features
          .range.offset-top-50.offset-md-top-93
            .cell-sm-4
              img.img-responsive.reveal-inline-block(src="images/icon-01-64x64.png", width="64", height="64", alt="")
              .offset-md-top-40.offset-top-20
                h6 SECURE DATA
              .offset-top-10
                p Transfer all information with the help of SSL - a solution allowing you to save any data from the public eye.
            .cell-sm-4.offset-top-50.offset-sm-top-0
              img.img-responsive.reveal-inline-block(src="images/icon-02-64x64.png", width="64", height="64", alt="")
              .offset-md-top-40.offset-top-20
                h6 NETWORK WORKFLOW
              .offset-top-10
                p Network Workflow feature will let you build, organize, and develop a sustainable network in seconds.
            .cell-sm-4.offset-top-50.offset-sm-top-0
              img.img-responsive.reveal-inline-block(src="images/icon-03-64x64.png", width="64", height="64", alt="")
              .offset-md-top-40.offset-top-20
                h6 TOP RATING PRODUCT
              .offset-top-10
                p Our app has won numerous awards from leading high-tech mass media and received worldwide recognition.

    #responsive.section-navigation
      //Extremely Responsive and Retina
      section.section-80.section-md-110.section-md-bottom-135.bg-gray-lighter
        .navigation-wrap
          nav.navigation
            ul.navigation-list
              li
                a(href='#' data-custom-scroll-to="home") Home
              li
                a(href='#' data-custom-scroll-to="features") Features
              li.active
                a(href='#' data-custom-scroll-to="responsive") Responsive
              li
                a(href="#" data-custom-scroll-to="help") Help
              li
                a(href="#" data-custom-scroll-to="testimonials") Testimonials
        .shell
          .range.range-xs-center
            .cell-xs-10.cell-md-12
              .range.range-sm-middle
                .cell-md-6.cell-md-push-2
                  img.img-responsive(src="images/home-02-641x340.png", width="641", height="340", alt="")
                .cell-md-6.text-md-left.offset-top-50.offset-md-top-0.cell-md-push-1
                  h2.text-bold Extremely Responsive and Retina Ready
                  p.inset-md-right-100.
                    Due to the responsive design and Retina technology built in
                    our app, you can launch it on any devices or #[br.veil.reveal-lg-inline-block] modern gadgets.
                  .offset-top-30.offset-ms-top-55
                    a(href="#").btn.btn-primary.btn-ellipse.btn-anis-effect DOWNLOAD FOR FREE



    #help.section-navigation
      -
        //-Define custom JSON stringify function
        function JsonStringify(jsonObject) {
          return JSON.stringify(jsonObject, function(key, value) {
            if (typeof value === 'function') {
              return value.toString();
            } else {
              return value;
            }
          });
        }
      //We Help You Grow
      section.section-80.bg-caribbean.context-dark
        .navigation-wrap
          nav.navigation
            ul.navigation-list.dark-section
              li
                a(href='#' data-custom-scroll-to="home") Home
              li
                a(href='#' data-custom-scroll-to="features") Features
              li
                a(href='#' data-custom-scroll-to="responsive") Responsive
              li.active
                a(href="#" data-custom-scroll-to="help") Help
              li
                a(href="#" data-custom-scroll-to="testimonials") Testimonials
        .shell
          .range.range-xs-center
            .cell-xs-10.cell-md-12
              .range
                .cell-md-5
                  //- Define object for "Basic Column Chart"
                  -
                     var highBaseChartObject = {
                       credits: false,
                       colors: ["#fff", "#ff5f6d"],
                       chart: {
                         backgroundColor: 'transparent',
                         className: '',
                         type: 'spline',
                         zoomType: 'x',
                         panning: true,
                         panKey: 'shift',
                         marginTop: 85
                       },
                       title: {
                         text: null
                       },
                       xAxis: {
                         gridLineColor: 'rgba(255,255,255,0)',
                         lineColor: 'rgba(255,255,255,1)',
                         tickColor: 'rgba(255,255,255,1)',
                         categories: ['2010', '2011', '2012', '2013',
                           '2014', '2015', '2016'
                         ],
                         labels:{
                           style: {
                             color: '#fff',
                             fontWeight: 400,
                             fontSize: '10px'
                            }
                          }
                       },
                       yAxis: {
                         lineWidth: 1,
                         tickLength: 10,
                         tickWidth: 1,
                         min: 0,
                         tickInterval: 10000,
                         gridLineColor: 'rgba(255,255,255,0)',
                         lineColor: 'rgba(255,255,255,1)',
                         tickColor: 'rgba(255,255,255,1)',
                         title: {
                           text: null
                         },
                         labels:{
                           style: {
                            color: '#fff',
                            fontWeight: 400,
                            fontSize: '10px'
                           }
                         }
                       },
                       plotOptions: {
                         series: {
                           marker: {
                             enabled: false
                           },
                           shadow: {
                             enabled: true,
                             color: 'rgba(0, 0, 0, 0.04)',
                             width: 15,
                             offsetY: 28
                           }
                         },
                         spline: {
                           lineWidth: 4
                         },
                         area: {
                           fillOpacity: 0.2
                         }
                       },
                       legend: {
                          enabled: true,
                          floating: true,
                          align: 'right',
                          verticalAlign: 'top',
                          padding: 10,
                          x: -6,
                          y: 10,
                          itemStyle: {
                            color: '#fff',
                            fontWeight: 'normal',
                            fontSize: '12px',
                            paddingLeft: "15px"
                          }
                        },
                       series: [{
                         name: 'Our Clients',
                           data: [17000, 31000, 28000, 25000, 32000, 55000, 65000]
                         }]
                     }

                  .offset-top-41.graph-content.wow.fadeInLeft
                    .higchart#high-column2(data-graph-object= JsonStringify(highBaseChartObject), style='width: 100%; height: 450px; margin: 0 auto')

                .cell-md-5.cell-md-preffix-2.text-md-left.offset-top-50.offset-md-top-0
                  .inset-sm-lef-100.offset-md-top-30.wow.fadeInRight
                    h2.text-bold We Help You Grow
                    .offset-top-30.inset-md-right-100
                      p.
                        Intense Mobile App enables all its users with constant support
                        and wide set of tools to develop and grow their businesses
                        and projects.
                    .offset-top-30.offset-md-top-55
                      a(href="#" style="max-width: 184px").btn.btn-default.btn-ellipse.btn-block.reveal-inline-block.btn-anis-effect Try now

    .section-navigation
      //Our Services
      section.bg-gray-lighter
        .navigation-wrap
          nav.navigation
            ul.navigation-list
              li
                a(href='#' data-custom-scroll-to="home") Home
              li
                a(href='#' data-custom-scroll-to="features") Features
              li
                a(href='#' data-custom-scroll-to="responsive") Responsive
              li.active
                a(href="#" data-custom-scroll-to="help") Help
              li
                a(href="#" data-custom-scroll-to="testimonials") Testimonials
        .shell
          .range.range-xs-center
            .cell-xs-10.cell-md-12
              .range.range-md-justify
                .cell-md-6.cell-md-push-2.section-top-150.section-md-top-0.section-md-bottom-80
                  img.img-responsive.reveal-inline-block.wow.fadeInUp(src="images/home-03-617x599.png", width="617", height="599", alt="" style="margin-top: -80px")

                .cell-md-5.text-md-left.cell-md-push-1.section-bottom-80.section-md-80
                  .offset-md-top-30
                    h2.text-bold Our Services
                    p.
                      While other developers and software providers offer just
                      a basic range of supplementary services, we give our users
                      access to an extensive amount of services, available for
                      free when they download and install our app on
                      their devices.
                    .offset-top-30.offset-md-top-55
                      a(href="#").btn.btn-primary.btn-ellipse.btn-anis-effect DOWNLOAD FOR FREE


    #testimonials.section-navigation
      //What People Say
      section.section-80.section-md-124.bg-white
        .navigation-wrap
          nav.navigation
            ul.navigation-list
              li
                a(href='#' data-custom-scroll-to="home") Home
              li
                a(href='#' data-custom-scroll-to="features") Features
              li
                a(href='#' data-custom-scroll-to="responsive") Responsive
              li
                a(href="#" data-custom-scroll-to="help") Help
              li.active
                a(href="#" data-custom-scroll-to="testimonials") Testimonials
        .shell
          h2.text-bold What People Say
          .range.range-xs-center.offset-top-50
            .cell-sm-8.cell-md-4.wow.fadeInLeft(data-wow-delay="0.1s")
              +testimonials-type-3(
              {
                "width": 80,
                "height": 80,
                "src": "images/user-alex-ross-80x80.jpg",
                "alt": ""
              },
              "Alex Ross",
              "CEO/Founder at demolink.org",
              "This is an amazing app. Once I installed it, I was able to manage every aspect of successfully running my business.",
              {
                "title": "h6 text-uppercase",
                "cite": "text-normal text-darker",
                "desc": "text-primary"
              }
              )
            .cell-sm-8.cell-md-4.offset-top-40.offset-md-top-0.wow.fadeInLeft(data-wow-delay="0.2s")
              +testimonials-type-3(
              {
                "width": 80,
                "height": 80,
                "src": "images/user-alisa-milano-80x80.jpg",
                "alt": ""
              },
              "Alisa Milano",
              "Sales Manager at demolink.org",
              "When you work with customers, it is very important to pay attention to their every wish. With your app it became possible!",
              {
                "title": "h6 text-uppercase",
                "cite": "text-normal text-darker",
                "desc": "text-primary"
              }
              )
            .cell-sm-8.cell-md-4.offset-top-40.offset-md-top-0.wow.fadeInLeft(data-wow-delay="0.3s")
              +testimonials-type-3(
              {
                "width": 80,
                "height": 80,
                "src": "images/user-philip-more-80x80.jpg",
                "alt": ""
              },
              "Philip More",
              "Developer at demolink.org",
              "Your app allowed me to take care of every side of the projects I’m currently working on. It is a perfect assistance tool!",
              {
                "title": "h6 text-uppercase",
                "cite": "text-normal text-darker",
                "desc": "text-primary"
              }
              )

      //Clients
      section.section-50.bg-gray-lighter
        .shell
          .range.range-xs-center.range-xs-middle
            .cell-lg-2.cell-md-3.cell-sm-4
              a(href="#")
                img.img-responsive.reveal-inline-block.img-semi-transparent(src="images/client-01-126x68.png", width="126", height="68", alt="")
            .cell-lg-2.cell-md-3.cell-sm-4.offset-top-50.offset-sm-top-0
              a(href="#")
                img.img-responsive.reveal-inline-block.img-semi-transparent(src="images/client-03-126x100.png", width="126", height="100", alt="")
            .cell-lg-2.cell-md-3.cell-sm-4.offset-top-50.offset-sm-top-0
              a(href="#")
                img.img-responsive.reveal-inline-block.img-semi-transparent(src="images/client-04-141x88.png", width="141", height="88", alt="")
            .cell-lg-2.cell-md-3.cell-sm-4.offset-top-50.offset-md-top-0
              a(href="#")
                img.img-responsive.reveal-inline-block.img-semi-transparent(src="images/client-05-138x55.png", width="138", height="55", alt="")
            .cell-lg-2.cell-md-3.cell-sm-4.offset-top-50.offset-lg-top-0
              a(href="#")
                img.img-responsive.reveal-inline-block.img-semi-transparent(src="images/client-02-149x102.png", width="149", height="102", alt="")
            .cell-lg-2.cell-md-3.cell-sm-4.offset-top-50.offset-lg-top-0
              a(href="#")
                img.img-responsive.reveal-inline-block.img-semi-transparent(src="images/client-06-144x68.png", width="144", height="68", alt="")

  footer.section-80.section-bottom-30.page-footer.bg-gray-base.context-dark#contacts.section-navigation
    // Default footer
    .navigation-wrap
      nav.navigation
        ul.navigation-list.dark-section
          li
            a(href='#' data-custom-scroll-to="home") Home
          li
            a(href='#' data-custom-scroll-to="features") Features
          li
            a(href='#' data-custom-scroll-to="responsive") Responsive
          li
            a(href="#" data-custom-scroll-to="help") Help
          li
            a(href="#" data-custom-scroll-to="testimonials") Testimonials
    .shell.section-relative
      .range.range-sm-center.text-lg-left
        .cell-sm-8.cell-md-12
          .range.range-xs-center
            .cell-xs-7.text-xs-left.cell-md-4.cell-lg-4.cell-lg-push-2
              p.text-uppercase.text-spacing-60.text-ubold Latest news

              +widget-post("#", "05/14/2015", "Let’s Change the World", null, null, "text-macaroni")
              +widget-post("#", "05/14/2015", "The Meaning of Web Design", null, null, "text-macaroni")

            .cell-xs-12.offset-top-40.cell-md-5.offset-md-top-0.text-md-left.cell-lg-4.cell-lg-push-3
              p.text-uppercase.text-spacing-60.text-ubold Newsletter
              p
                span.small Keep up with our always upcoming  product features  and technologies. Enter your e-mail and subscribe to  our newsletter.
              .offset-top-30
                +widget-form-subscribe("Type your E-Mail", "form-subscribe-footer")

            .cell-xs-12.offset-top-66.cell-lg-4.cell-lg-push-1.offset-lg-top-0
              // Footer brand
              .footer-brand
                a(href="../../index.html")
                  img.img-responsive.reveal-inline-block(src="images/logo-footer-184x56.png", width="184", height="56", alt="")
              .offset-top-30
                +widget-list-social([
                  {
                    "icon": "fa fa-facebook",
                    "href": "#"
                  },
                  {
                    "icon": "fa fa-twitter",
                    "href": "#"
                  },
                  {
                    "icon": "fa fa-google-plus",
                    "href": "#"
                  },
                  {
                    "icon": "fa fa-linkedin",
                    "href": "#"
                  }
                ])
    .shell.offset-top-70
      p.small.text-darker
        | Intense &copy; #[span(id="copyright-year")] . #[a(href="privacy.html") Privacy Policy]
        // {%FOOTER_LINK}