footer.page-footer.bg-gray-base.section-75.section-md-top-103.section-md-bottom-55.text-md-left
	.shell
		.range.range-xs-center.range-lg-justify

			.cell-sm-4.cell-md-3
				a(href=cfg.brand.href)
					img(width='182' height='34' src='images/logo-lg-light-182x34.png', alt='')

			.cell-sm-5.cell-md-3.cell-md-push-4.offset-top-20.offset-sm-top-0
				mixin footer-icons(footerIcons)
					ul.list-inline.list-inline-0.list-calypso
						each icon in footerIcons
							li.text-center
								a.icon(href= icon.href class= icon.style)


				+footer-icons([
					{"href": "#", "style": "icon-xxs fa fa-facebook text-white"},
					{"href": "#", "style": "icon-xxs fa fa-google-plus text-white"},
					{"href": "#", "style": "icon-xxs fa fa-linkedin text-white"},
					{"href": "#", "style": "icon-xxs fa fa-twitter text-white"}
				])

			.cell-sm-4.cell-md-2.cell-md-push-1.offset-top-44.offset-md-top-0
				div
					p.text-uppercase.text-bold.font-accent.text-spacing-50.text-white about

				.reveal-inline-block.offset-top-15.offset-md-top-30
					ul.list-marked.text-extra-small.text-bold.p.text-left
						li
							a.text-primary(href='team.html') Our team
						li.offset-top-10
							a.text-primary(href='careers.html') Careers
						li.offset-top-10
							a.text-primary(href='history.html') History
						li.offset-top-10
							a.text-primary(href='#') Help center

			.cell-sm-4.cell-md-2.cell-md-push-2.offset-top-44.offset-md-top-0
				div
					p.text-uppercase.text-bold.font-accent.text-spacing-50.text-white Services

				.reveal-inline-block.offset-top-15.offset-md-top-30
					ul.list-marked.text-extra-small.text-bold.p.text-left
						li
							a.text-primary(href='rates.html') Airport Transfer
						li.offset-top-10
							a.text-primary(href='rates.html') Grocery Shopping
						li.offset-top-10
							a.text-primary(href='rates.html') Out On The Town
						li.offset-top-10
							a.text-primary(href='rates.html') VIP Taxi Service


			.cell-sm-4.cell-md-2.cell-md-push-3.offset-top-44.offset-md-top-0
				div
					p.text-uppercase.text-bold.font-accent.text-spacing-50.text-white our fleet

				.reveal-inline-block.offset-top-15.offset-md-top-30
					ul.list-marked.text-extra-small.text-bold.p.text-left
						li
							a.text-primary(href='fleet.html') Luxury cars
						li.offset-top-10
							a.text-primary(href='fleet.html') Sedans
						li.offset-top-10
							a.text-primary(href='fleet.html') Vans
						li.offset-top-10
							a.text-primary(href='fleet.html') Minivans

		.offset-top-60
			.hr.bg-gray-darker

		.offset-top-50
			p.text-extra-small.text-gray-light City-taxi &#169; #[span(id="copyright-year").] #[a.text-gray-light(href="privacy.html") Privacy Policy]
			block footerLink