//- Includes
include ../elements/_ui-lists

footer.page-footer.bg-white.section-75.section-md-top-103.section-md-bottom-55.text-md-left
  .shell
    .range.range-xs-center.range-lg-justify

      .cell-sm-4.cell-md-3
        a(href=cfg.brand.href)
          img(width='164' height='29' src='images/logo-dark-164x29.png', alt='')

      .cell-sm-5.cell-md-3.cell-md-push-4.offset-top-20.offset-sm-top-0
        mixin footer-icons(footerIcons)
          ul.list-inline.list-inline-0.list-calypso
            each icon in footerIcons
              li.text-center
                a.icon(href= icon.href class= icon.style)


        +footer-icons([
          {"href": "#", "style": "icon-xxs fa fa-facebook text-turquoise"},
          {"href": "#", "style": "icon-xxs fa fa-google-plus text-turquoise"},
          {"href": "#", "style": "icon-xxs fa fa-linkedin text-turquoise"},
          {"href": "#", "style": "icon-xxs fa fa-twitter text-turquoise"}
        ])

      .cell-sm-4.cell-md-2.cell-md-push-1.offset-top-44.offset-md-top-0
        div
          p.text-uppercase.text-bold.font-accent.text-spacing-50.text-mine-shaft about

        .reveal-inline-block.offset-top-15.offset-md-top-30
          ul.list-marked.text-extra-small.text-bold.p.text-left
            li
              a.text-primary(href='testimonials.html') Why us
            li.offset-top-10
              a.text-primary(href='events.html') Heritage
            li.offset-top-10
              a.text-primary(href='contacts.html') Locations
            li.offset-top-10
              a.text-primary(href='team.html') Our team

      .cell-sm-4.cell-md-2.cell-md-push-2.offset-top-44.offset-md-top-0
        div
          p.text-uppercase.text-bold.font-accent.text-spacing-50.text-mine-shaft yachts

        .reveal-inline-block.offset-top-15.offset-md-top-30
          ul.list-marked.text-extra-small.text-bold.p.text-left
            li
              a.text-primary(href='yachts.html') Yacht fleet
            li.offset-top-10
              a.text-primary(href='yachts.html') Previous models
            li.offset-top-10
              a.text-primary(href='single-product.html') Special projects
            li.offset-top-10
              a.text-primary(href='history.html') Shipyards

      .cell-sm-4.cell-md-2.cell-md-push-3.offset-top-44.offset-md-top-0
        div
          p.text-uppercase.text-bold.font-accent.text-spacing-50.text-mine-shaft charter

        .reveal-inline-block.offset-top-15.offset-md-top-30
          ul.list-marked.text-extra-small.text-bold.p.text-left
            li
              a.text-primary(href='charter.html') Charter fleet
            li.offset-top-10
              a.text-primary(href='single-destination.html') Charter guide
            li.offset-top-10
              a.text-primary(href='about.html') Destinations
            li.offset-top-10
              a.text-primary(href='team.html') Specials

    .offset-top-60
      .hr.bg-gray-lighter

    .offset-top-50
      p.text-extra-small.text-gray-light City-taxi &#169; #[span(id="copyright-year").] #[a.text-gray-light(href="privacy.html") Privacy Policy]
      block footerLink