//- Search Form
//- inputClass - class on input

mixin widget-form-search(inputClass, labelClass, inputId, formClass)
  form.form-search(class= formClass || "", action="search-results.html" method="GET")
    div.form-group
      label.form-label.form-search-label(class=labelClass for=inputId) Search
      input(class="form-search-input input-sm form-control #{inputClass}" id=inputId type="text" name="s" autocomplete="off")
    button(type="submit").form-search-submit
      span.mdi.mdi-magnify