extends  ../_skeleton

//-Includes
include ../elements/_widget-post
include ../elements/_widget-form-subscribe
include ../elements/_widget-list-social
include ../elements/_ui-testimonials-slider-2
include ../elements/_ui-box-planning-type-3
include ../elements/_ui-tabs-classic

//-Title
block title
  title Intense Startup

//- Page
block page

  // Page Head
  header.page-head.slider-menu-position
    // RD Navbar Transparent
    .rd-navbar-wrap
      nav.rd-navbar.rd-navbar-default(data-sm-layout='rd-navbar-static',
      data-sm-device-layout='rd-navbar-static',
      data-sm-auto-height='true',
      data-sm-stick-up='true')
        .rd-navbar-inner
          // RD Navbar Panel
          .rd-navbar-panel
            // RD Navbar Toggle
            .rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar, .rd-navbar-list')
              span
            // Navbar Brand
            .rd-navbar-brand
              a.rd-navbar-brand-static(href='index.html')
                img(width='197', height='32', src='images/logo-light-197x32.png', alt='')
              a.rd-navbar-brand-fixed(href='index.html')
                img(width='197', height='32', src='images/logo-dark-197x32.png', alt='')
            .rd-navbar-list
              ul.list-inline
                li
                  a(href="#").icon.fa-facebook
                li
                  a(href="#").icon.fa-twitter
                li
                  a(href="#").icon.fa-google-plus
                li
                  a(href="#").icon.fa-linkedin

            .rd-navbar-button
              p.text-darker.rd-navbar-slogan.veil Start a free trial. No credit card required.
              a.btn.btn-primary.btn-xs(href="//www.templatemonster.com/intense-multipurpose-html-template.html?utm_source=livedemo&utm_medium=themebutton&utm_campaign=intense") Get started

  // Page Contents
  main.page-content(data-hijacking="off" data-animation="fixed")
    //We Provide Only the Best Tours
    section.context-dark
      .rd-parallax(data-on="false" data-md-on="true")
        .rd-parallax-layer(data-speed="0.35", data-type="media", data-url="images/bg-01-1920x1000.jpg")
        .rd-parallax-layer(data-speed="0", data-type='html')
          .shell
            .range
              .range.range-xs-center.range-md-left.range-xs-middle.section-cover.section-90.text-md-left
                .cell-xs-10.cell-md-8
                  h1.animateItem(data-animation="fadeInUp") Ultimate Solutions for Your Digital Needs
                  p.animateItem(data-animation="fadeInUp", data-delay="0.1", data-duration="1")
                    | Intense provides a variety of services and products for successful development of your business.
                    br.veil.reveal-md-inline-block
                    | Promote your company with us in just a few clicks!
                  .offset-top-30.offset-md-top-60
                    a(href="#").btn.btn-primary.btn-sm.animateItem(data-animation="fadeInUp", data-delay="0.2", data-duration="1") GET STARTED

    //Section Animate
    section.section-animate.animate-content.bg-gray-lighter.shadow-overlay
      div.section-animate-wrapper.section-90.section-md-110.section-md-bottom-0.bg-gray-lighter
        .shell
          .range.range-xs-center.offset-xl-top-30
            .cell-xs-10.cell-md-12.cell-xl-6
              h3 What kind of website would you like to create?
              p.
                Whether you need a powerful landing page, striking galleries, a professional
                blog, or an online store, they are all included with your Intense website. Best of all,
                everything is mobile-ready right from the start.
        .offset-top-60.inset-left-15.inset-right-15.inset-md-left-0.inset-md-right-0
          +tabs-classic(['Business', 'Online Store', 'Photography', 'Music', 'Designer', 'Restaurants', 'Hotels & Travel', 'Events', 'Portfolio & CV', 'Beauty & Wellness', 'Blog', 'Other'])
            div.section-img-demonstration
              a(href="#").img-wrap.animateItem(data-animation="fadeInUp")
                img.img-responsive(src="images/home-05-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap.animateItem(data-animation="fadeInUp", data-delay="0.1", data-duration="1")
                img.img-responsive(src="images/home-04-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap.animateItem(data-animation="fadeInUp", data-duration="1.01")
                img.img-responsive(src="images/home-03-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap.animateItem(data-animation="fadeInUp")
                img.img-responsive(src="images/home-02-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap.animateItem(data-animation="fadeInUp")
                img.img-responsive(src="images/home-01-700x400.jpg", width="700", height="400", alt="")

            div.section-img-demonstration
              a(href="#").img-wrap
                img.img-responsive(src="images/home-03-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-02-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-01-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-05-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-04-700x400.jpg", width="700", height="400", alt="")

            div.section-img-demonstration
              a(href="#").img-wrap
                img.img-responsive(src="images/home-05-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-04-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-03-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-02-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-01-700x400.jpg", width="700", height="400", alt="")

            div.section-img-demonstration
              a(href="#").img-wrap
                img.img-responsive(src="images/home-02-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-05-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-01-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-04-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-03-700x400.jpg", width="700", height="400", alt="")
            div.section-img-demonstration
              a(href="#").img-wrap
                img.img-responsive(src="images/home-03-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-02-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-01-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-05-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-04-700x400.jpg", width="700", height="400", alt="")
            div.section-img-demonstration
              a(href="#").img-wrap
                img.img-responsive(src="images/home-05-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-04-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-03-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-02-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-01-700x400.jpg", width="700", height="400", alt="")
            div.section-img-demonstration
              a(href="#").img-wrap
                img.img-responsive(src="images/home-05-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-04-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-03-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-02-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-01-700x400.jpg", width="700", height="400", alt="")
            div.section-img-demonstration
              a(href="#").img-wrap
                img.img-responsive(src="images/home-03-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-02-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-01-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-05-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-04-700x400.jpg", width="700", height="400", alt="")
            div.section-img-demonstration
              a(href="#").img-wrap
                img.img-responsive(src="images/home-05-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-04-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-03-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-02-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-01-700x400.jpg", width="700", height="400", alt="")
            div.section-img-demonstration
              a(href="#").img-wrap
                img.img-responsive(src="images/home-05-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-04-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-03-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-02-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-01-700x400.jpg", width="700", height="400", alt="")
            div.section-img-demonstration
              a(href="#").img-wrap
                img.img-responsive(src="images/home-02-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-05-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-01-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-04-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-03-700x400.jpg", width="700", height="400", alt="")
            div.section-img-demonstration
              a(href="#").img-wrap
                img.img-responsive(src="images/home-03-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-02-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-01-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-05-700x400.jpg", width="700", height="400", alt="")
              a(href="#").img-wrap
                img.img-responsive(src="images/home-04-700x400.jpg", width="700", height="400", alt="")

    // Owl carousel
    section.section-animate.to-front.bg-white
      div.section-animate-wrapper.section-md-110.section-65.section-md-0
        .shell.section-relative.reveal-md-flex.range-md-middle(style="height:100%;")
          .owl-carousel.owl-carousel-default(data-items='1', data-stage-padding='0', data-dots="true", data-margin="10" data-dots-each="1" data-loop='false', data-output-counter='#current-counter1')
            .item
              .range.range-xs-center.range-xs-middle
                .cell-sm-6.cell-lg-8.cell-sm-push-2.text-md-right
                  .img-carousel
                    img.img-responsive.animateItem.max-width-75p(src="images/slide-01.gif" width="563" height="634" alt="" data-animation="fadeIn", data-delay="0.3", data-duration="2")
                .cell-sm-6.cell-lg-4.text-sm-left.cell-sm-push-1
                  h3.animateItem(data-animation="fadeInUp") Create a Stunning Website for Your Business
                  .offset-top-20
                    p.animateItem(data-animation="fadeInUp", data-delay="0.1", data-duration="1").
                      Today people use the Internet to search for the information they are interested in. We can help you create a proper representation of your company on the Net. 
                  .offset-top-60
                    a(href="#").btn.btn-primary.btn-sm.animateItem(data-animation="fadeInUp", data-delay="0.2", data-duration="1" ) GET STARTED

            .item
              .range.range-xs-center.range-xs-middle
                .cell-sm-6.cell-lg-8.cell-sm-push-2.text-md-right
                  .img-carousel
                    img.img-responsive.max-width-75p(src="images/slide-02-634x321.png", width="634", height="321", alt="")
                .cell-sm-6.cell-lg-4.text-sm-left.cell-sm-push-1
                  h3.test Start with a Beautiful Design
                  .offset-top-20
                    p Whether you’re a real estate agent, florist, event planner, store owner, educator or consultant, we have the right template for you.
                  .offset-top-60
                    a(href="#").btn.btn-primary.btn-sm GET STARTED

            .item
              .range.range-xs-center.range-xs-middle
                .cell-sm-6.cell-lg-8.cell-sm-push-2.text-md-right
                  .img-carousel
                    img.img-responsive.max-width-75p(src="images/slide-03-617x563.png" width=617 height=563 alt="")
                .cell-sm-6.cell-lg-4.text-sm-left.cell-sm-push-1
                  h3 Easily Build a Professional Website
                  .offset-top-20
                    p Do it yourself - it’s easy! Fully customizable templates, intuitive drag and drop, domains, secure hosting, easy invoicing, online bookings, contact forms and more.
                  .offset-top-60
                    a(href="#").btn.btn-primary.btn-sm GET STARTED

          .carousel-counter-container#current-counter1.animateItem(data-animation="fadeIn")
            .current-counter
            .count
            .carousel-count

    // no scroll-section
    section.to-front.bg-white
      hr.hr
      section.section-80.section-md-bottom-110
        .shell
          .range.range-xs-center.offset-top-30
            .cell-xs-10.cell-md-6
              h3 The Possibilities Are Endless
              p With over 200 Apps and services, grow your business in ways you never imagined. Intense powers millions of websites across hundreds of industries for people just like you.
          .range.range-xs-center.text-left.offset-top-60.offset-md-top-90
            .cell-sm-6.cell-xs-10.cell-md-4
              .unit.unit-horizontal
                .unit-left
                  img(src="images/icon-01-60x60.png" width=60 height=60 alt="")
                .unit-body
                  div
                    h5 Powerful Servers
                  .offset-top-10
                    p.small All our products are located on high performance servers that are also reliable and available 24/7 for your convenience.
            .cell-sm-6.cell-xs-10.cell-md-4.offset-top-75.offset-sm-top-0
              .unit.unit-horizontal
                .unit-left
                  img(src="images/icon-02-60x60.png" width=60 height=60 alt="")
                .unit-body
                  div
                    h5 Protect Your Data
                  .offset-top-10
                    p.small We use advanced security technologies to protect the data of your company so you can be sure it is in good hands.
            .cell-sm-6.cell-xs-10.cell-md-4.offset-top-75.offset-md-top-0
              .unit.unit-horizontal
                .unit-left
                  img(src="images/icon-03-60x60.png" width=60 height=60 alt="")
                .unit-body
                  div
                    h5 Edit From Mobile Phone
                  .offset-top-10
                    p.small All our templates and apps are equipped with easy-to-use mobile editor, with which your website can be edited on the go.
            .cell-sm-6.cell-xs-10.cell-md-4.offset-top-75
              .unit.unit-horizontal
                .unit-left
                  img(src="images/icon-04-60x60.png" width=60 height=60 alt="")
                .unit-body
                  div
                    h5 Easy To Customize
                  .offset-top-10
                    p.small We create our designs with the end user in mind, and that’s why our templates can be easily customized according to your needs.
            .cell-sm-6.cell-xs-10.cell-md-4.offset-top-75
              .unit.unit-horizontal
                .unit-left
                  img(src="images/icon-05-60x60.png" width=60 height=60 alt="")
                .unit-body
                  div
                    h5 Prepared For Business
                  .offset-top-10
                    p.small Our products are mostly business-oriented because we believe any modern business needs an attractive website to be successful.
            .cell-sm-6.cell-xs-10.cell-md-4.offset-top-75
              .unit.unit-horizontal
                .unit-left
                  img(src="images/icon-06-60x60.png" width=60 height=60 alt="")
                .unit-body
                  div
                    h5 Affordable Prices
                  .offset-top-10
                    p.small We believe that design and development services can be reasonably priced, and the cost of our products proves it.
      hr.hr
      //Customers Each Month
      section.section-90.section-md-110.section-md-bottom-170.inset-left-15.inset-right-15
          .range.range-xs-center.range-lg-left
            .cell-xs-12.cell-lg-6
              .scroll-wrap
                .scroll-wrap-size
                  .range
                    .cell-xs-3
                      .preview
                        a(href="#")
                          img.img-responsive(src="images/home-06-370x240.jpg" alt="" width=370 height=240)
                        p.preview-title
                          a(href="#") Photography
                    .cell-xs-3.offset-top-40.offset-xs-top-0
                      .preview
                        a(href="#")
                          img.img-responsive(src="images/home-09-370x240.jpg" alt="" width=370 height=240)
                        p.preview-title
                          a(href="#") Commercial
                    .cell-xs-3.offset-top-40.offset-xs-top-0
                      .preview
                        a(href="#")
                          img.img-responsive(src="images/home-07-370x240.jpg" alt="" width=370 height=240)
                        p.preview-title
                          a(href="#") Industrial
                    .cell-xs-3.offset-top-40.offset-xs-top-0
                      .preview
                        a(href="#")
                          img.img-responsive(src="images/home-08-370x240.jpg" alt="" width=370 height=240)
                        p.preview-title
                          a(href="#") Solar energy
                    .cell-xs-3.offset-top-40
                      .preview
                        a(href="#")
                          img.img-responsive(src="images/home-08-370x240.jpg" alt="" width=370 height=240)
                        p.preview-title
                          a(href="#") Solar energy
                    .cell-xs-3.offset-top-40
                      .preview
                        a(href="#")
                          img.img-responsive(src="images/home-11-370x240.jpg" alt="" width=370 height=240)
                        p.preview-title
                          a(href="#") Traveling

                    .cell-xs-3.offset-top-40
                      .preview
                        a(href="#")
                          img.img-responsive(src="images/home-10-370x240.jpg" alt="" width=370 height=240)
                        p.preview-title
                          a(href="#") Travel agency

                    .cell-xs-3.offset-top-40#right-position
                      .preview
                        a(href="#")
                          img.img-responsive(src="images/home-09-370x240.jpg" alt="" width=370 height=240)
                        p.preview-title
                          a(href="#") Commercial


            .cell-xs-10.cell-sm-8.cell-lg-4.text-lg-left.offset-top-60.offset-lg-top-30
              .inset-lg-left-100
                h3 Over 1,000 Satisfied Customers Each Month
                .offset-top-20
                  p.
                    Our aim is to deliver the best level of service to our customers.
                    The testimonials our clients submit represent the main motivation
                    of our successful work. You can read some of them on our website.

                .offset-top-30.offset-md-top-60
                  a(href="#").btn.btn-primary.btn-sm READ MORE

      //Get Your Business
      section.context-dark
        .rd-parallax(data-on="false" data-md-on="true")
          .rd-parallax-layer(data-speed="0.35", data-type="media", data-url="images/bg-02-1920x1000.jpg")
          .rd-parallax-layer(data-speed="0", data-type='html')
            .shell.section-90.section-md-260
              .range.range-xs-center.range-md-left
                .cell-sm-8.cell-md-6.text-md-left
                  h3 Get Your Business #[br.veil.reveal-md-inline-block] Online Today
                  .offset-top-20
                    p With solutions desined by Intense, you can #[br.veil.reveal-md-inline-block] easily get your business online in no time.
                  .offset-top-30.offset-md-top-60
                    a(href="#").btn.btn-primary.btn-sm GET STARTED

      //They trust to us
      section.section.section-90.section-md-110
        .shell
          h3 Clients Trust Us
          p.
            We cooperate with renowned businesses and international companies all over the world.#[br.veil.reveal-md-inline-block] Some of our partners and loyal customers are listed below.
          .range.range-xs-center.offset-top-60.offset-md-top-90
            .cell-xs-6.cell-md-3
              a(href="#").img-link
                img.img-responsive(src="images/partner-01-145x63.png" width="145" height="63" alt="")
            .cell-xs-6.cell-md-3.offset-top-60.offset-xs-top-0
              a(href="#").img-link
                img.img-responsive(src="images/partner-02-145x63.png" width="145" height="63" alt="")
            .cell-xs-6.cell-md-3.offset-top-60.offset-md-top-0
              a(href="#").img-link
                img.img-responsive(src="images/partner-03-145x63.png" width="145" height="63" alt="")
            .cell-xs-6.cell-md-3.offset-top-60.offset-md-top-0
              a(href="#").img-link
                img.img-responsive(src="images/partner-04-145x63.png" width="145" height="63" alt="")
            .cell-xs-6.cell-md-3.offset-top-60
              a(href="#").img-link
                img.img-responsive(src="images/partner-05-145x63.png" width="145" height="63" alt="")
            .cell-xs-6.cell-md-3.offset-top-60
              a(href="#").img-link
                img.img-responsive(src="images/partner-06-145x63.png" width="145" height="63" alt="")
            .cell-xs-6.cell-md-3.offset-top-60
              a(href="#").img-link
                img.img-responsive(src="images/partner-07-145x63.png" width="145" height="63" alt="")
            .cell-xs-6.cell-md-3.offset-top-60
              a(href="#").img-link
                img.img-responsive(src="images/partner-08-145x63.png" width="145" height="63" alt="")



  // Default footer
  footer.section-60.page-footer.bg-gray-darkest.context-dark.to-front
    // Default footer
    .shell.text-sm-left
      .range.range-xs-center
        .cell-sm-5.cell-md-2.cell-sm-push-2.offset-sm-top-50.offset-md-top-0
          div
            h5 Products
          .offset-top-7
            hr.hr
          ul.list.list-unstyled
            li
              a(href="#") Domains
            li
              a(href="#") Websites
            li
              a(href="#") Online Stores
            li
              a(href="#") Mobile Apps
            li
              a(href="#") Logos
        .cell-sm-5.cell-md-2.cell-sm-push-2.offset-sm-top-50.offset-md-top-0
          div
            h5 Company
          .offset-top-7
            hr.hr
          ul.list.list-unstyled
            li
              a(href="#") About
            li
              a(href="#") Careers
            li
              a(href="#") Customers
            li
              a(href="#") Press & Media
        .cell-sm-5.cell-md-2.cell-sm-push-2.offset-sm-top-30.offset-md-top-0
          div
            h5 Community
          .offset-top-7
            hr.hr
          ul.list.list-unstyled
            li
              a(href="#") Help & Support
            li
              a(href="#") Answers
            li
              a(href="#") Workshops
            li
              a(href="#") Specialists
            li
              a(href="#") Developers
        .cell-sm-5.cell-md-2.cell-sm-push-2.offset-sm-top-30.offset-md-top-0
          div
            h5 Follow Us
          .offset-top-7
            hr.hr
          ul.list.list-unstyled
            li
              a(href="#") Instagram
            li
              a(href="#") Facebook
            li
              a(href="#") Twitter
            li
              a(href="#") Google Plus
        .cell-md-4.cell-sm-push-1.offset-top-50.offset-sm-top-0.text-center.text-md-left
          // Footer brand
          .footer-brand.reveal-inline-block
            a(href="index.html")
              img.img-responsive.reveal-inline-block(src="images/logo-footer-197x32.png", width="197", height="32", alt="" style="margin-top:-7px")
        // {%FOOTER_LINK}

block coder
  //Coded by Gapon
    
