// RD Navbar Simple submenu

mixin rd-navbar-simple-submenu(link)
  - if (typeof(link.submenu) !== 'undefined'){
    ul.rd-navbar-dropdown
      each sublink in link.submenu
        li
          a(href=sublink.href)
            span.text-middle= sublink.title
            - if (typeof(sublink.label) !== 'undefined')
              span.rd-navbar-label.label-custom.label-danger.label-xs-custom.label-rounded-custom.label #{sublink.label}

          +rd-navbar-simple-submenu(sublink)
  -}

