-
  var cfg = {
    "type": "Financial",
    "brand": {
      "name": "Intense Financial",
      "slogan": "Financial Advisor",
      "logoLite": "<img width='246' height='32' style='margin-left: -6px;' src='images/logo-light.png' alt=''/>",
      "logoInverse": "<img width='246' height='32' style='margin-left: -6px;' src='images/logo-inverse.png' alt=''/>",
      "logo": "<img width='138' height='31' src='images/logo.png' alt=''/>",
    },
    "nav": {
      "home": {
        "title": "Home",
        "href": "index.html"
      },
      "about": {
        "title": "About",
        "href": "about.html",
      },
      "planning": {
        "title": "Financial Planning",
        "href": "financial-planning.html",
      },
      "help": {
        "title": "Investment Help",
        "href": "investment-help.html",
      },
      "advice": {
        "title": "Advice",
        "href": "advice.html",
      },
      "contacts": {
        "title": "Contacts",
        "href": "contacts.html",
      }
    }
  }