//- Testimonials Type 2

mixin testimonials-type-2(image, title, cite, q, qbodyAttr, authorAttr, citeAttr)
  // Boxed Testimonials
  blockquote.quote.quote-classic.quote-classic-boxed
    .quote-body(class= qbodyAttr)
      p
        q= q
      .quote-meta
        img.img-circle.quote-img(width= image.width, height= image.height, src= image.src, alt= image.alt)

    h6.quote-author.text-uppercase(class= authorAttr)
      cite.text-normal= title
    p.quote-desc(class= citeAttr)= cite