//- boxPrice
mixin box-pricing-type-1(boxPrice)
  // Pricing Box type 1
  ul.box-pricing.box-pricing-type-1.list-unstyled
    - for (var i = 0; i < boxPrice.length; i++)
      li.box-pricing-item
        .box-pricing-title.text-uppercase.text-spacing-120
          .box-pricing-name.text-bold= boxPrice[i].title
          .box-pricing-dots
          .box-pricing-price.h5.text-bold= boxPrice[i].price
        .box-pricing-desc.text-dark.offset-top-10= "( "
          = boxPrice[i].desc
          = " )"