//- events - object{events}
mixin widget-rd-calendar(events)
  .rd-calendar
    .rdc-panel
      a.rdc-next
      a.rdc-prev
      .rdc-month
      .rdc-fullyear
    .rdc-table
    .rdc-events.text-left
      a.rdc-events_close
      ul
        each event in events
          li.rdc-event(data-date=event.date)
            .rdc-event-wrap(class= event.bg)
              article.post.widget-event
                .post-meta
                  span.icon.icon-xxs.text-picton-blue.mdi.mdi-clock
                  time.text-dark(datetime="2016-01-01")= event.time
                .post-title
                  h6.text-regular
                    a(href= event.link)= event.title

