extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-rd-map

//-Title
block title
  title= cfg.nav.pages.submenu.aboutUsV2.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.pages,
    cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.pages.submenu.aboutUsV2.title,
  "icon-lg " + cfg.nav.pages.submenu.aboutUsV2.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.pages.title,
      "href": cfg.nav.pages.href
    },
    2: {
      "title": cfg.nav.pages.submenu.aboutUsV2.title,
      "href": cfg.nav.pages.submenu.aboutUsV2.href
    }
  })

  // Page Content
  main.page-content

    include ../sections/_section-about-us-variant-2
    include ../sections/_section-why-choose-us
    include ../sections/_section-our-team-about-us-variant-2
    include ../sections/_section-career-start-variant-2
    include ../sections/_section-join-our-team-variant-2
    include ../sections/_section-rd-google-map

  // Page Footers
  include ../sections/_section-footer-default