extends  ../_skeleton

//- Includes
include  ../elements/_ui-breadcrumb-classic
include  ../elements/_ui_accordion-classic
include  ../elements/_ui_accordion-boxed
include  ../elements/_ui_accordion-bootstrap

//- Title
block title
  title= cfg.nav.components.submenu.toolkitComponents.submenu.accordions.title

//- Page
block page

  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
      'rd-navbar-default rd-navbar-light',
      {
        "data-lg-auto-height": "true",
        "data-md-layout": 'rd-navbar-fixed',
        "data-lg-layout": 'rd-navbar-static',
        "data-lg-stick-up": 'true'
      },
      cfg.brand.logo,
      cfg.nav.components,
      cfg.nav
    )

  +breadcrumb-classic(
    cfg.nav.components.submenu.toolkitComponents.submenu.accordions.title,
    "icon-lg " + cfg.nav.components.submenu.toolkitComponents.submenu.accordions.icon,
    {
      0: {
        "title": cfg.nav.home.title,
        "href": cfg.nav.home.href
      },
      1: {
        "title": cfg.nav.components.title,
        "href": cfg.nav.components.href
      },
      2: {
        "title": cfg.nav.components.submenu.toolkitComponents.submenu.accordions.title,
        "href": cfg.nav.components.submenu.toolkitComponents.submenu.accordions.href
      }
    })

  main.page-content.section-98.section-sm-110
    // Classic  Accordion
    section
      .shell
        h1 Classic  Accordion
        hr.divider.bg-mantis
        .range.range-sm-center.text-left
          .cell-sm-8.cell-md-6
            +accordion-classic(['How does the 14-day trial work?', 'What happens at the end of my trial?', 'My account has expired, can I recover it?'])
              div
                | Once you decide to opt for any of our plans, you can run a 14-day free trial first. Including all the basic features of each of the offered pricing plans, it will help you decide which features are of the greatest value to you. Once the 14 day period is over, you will be asked to make your choice.
              div
                | After the end of your trial, you will automatically pay for the Starter Plan (the cheapest of the offered ones). Just in case you do not want to continue or wish to opt for any other plan, be sure to cancel the subscription before the free trial ends. For more detailed information, contact the support team.
              div
                | If you do not decide to purchase the same or upgrade to a new plan, your account will expire. You can recover it by buying any of the offered plans. All data from your personal account will remain intact for 6 months. If you do not upgrade till that moment, all data will vanish.

    // Boxed Accordion
    section.offset-top-98.offset-md-top-110
      .shell
        h1 Boxed Accordion
        hr.divider.bg-mantis
        .range.range-sm-center.offset-top-66.text-left
          .cell-sm-8.cell-md-6
            +accordion-boxed(['How does the 14-day trial work?', 'What happens at the end of my trial?', 'My account has expired, can I recover it?'])
              div
                | Once you decide to opt for any of our plans, you can run a 14-day free trial first. Including all the basic features of each of the offered pricing plans, it will help you decide which features are of the greatest value to you. Once the 14 day period is over, you will be asked to make your choice.
              div
                | After the end of your trial, you will automatically pay for the Starter Plan (the cheapest of the offered ones). Just in case you do not want to continue or wish to opt for any other plan, be sure to cancel the subscription before the free trial ends. For more detailed information, contact the support team.
              div
                | If you do not decide to purchase the same or upgrade to a new plan, your account will expire. You can recover it by buying any of the offered plans. All data from your personal account will remain intact for 6 months. If you do not upgrade till that moment, all data will vanish.

    // Bootstrap  Accordion
    section.offset-top-98.offset-md-top-110
      .shell
        h1 Bootstrap  Accordion
        hr.divider.bg-mantis
        .range.range-sm-center.offset-top-66.text-left
          .cell-sm-8.cell-md-6
            +accordion-bootstrap('accordion-1',
          [{ 'headerId': 'headingOne',
                'contentId': 'collapseOne',
                'title': 'How does the 14-day trial work?',
                'description': 'Once you decide to opt for any of our plans, you can run a 14-day free trial first. Including all the basic features of each of the offered pricing plans, it will help you decide which features are of the greatest value to you. Once the 14 day period is over, you will be asked to make your choice.'},
              {
                'headerId': 'headingTwo',
                'contentId': 'collapseTwo',
                'title': 'What happens at the end of my trial?',
                'description': 'After the end of your trial, you will automatically pay for the Starter Plan (the cheapest of the offered ones). Just in case you do not want to continue or wish to opt for any other plan, be sure to cancel the subscription before the free trial ends. For more detailed information, contact the support team.'
              },
              {
                'headerId': 'headingThree',
                'contentId': 'collapseThree',
                'title': 'My account has expired, can I recover it?',
                'description': 'If you do not decide to purchase the same or upgrade to a new plan, your account will expire. You can recover it by buying any of the offered plans. All data from your personal account will remain intact for 6 months. If you do not upgrade till that moment, all data will vanish.'
              }])

  // Page Footers
  include ../sections/_section-footer-default