extends  ../_skeleton

//- Page includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-alerts-classic
include ../elements/_ui-alerts-snackbars
include ../elements/_ui-alerts-bootstrap

//- Title
block title
  title= cfg.nav.components.submenu.toolkitComponents.submenu.alerts.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
      'rd-navbar-default rd-navbar-light',
      {
        "data-lg-auto-height": "true",
        "data-md-layout": 'rd-navbar-fixed',
        "data-lg-layout": 'rd-navbar-static',
        "data-lg-stick-up": 'true'
      },
      cfg.brand.logo,
      cfg.nav.components,
      cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.components.submenu.toolkitComponents.submenu.alerts.title,
  "icon-lg " + cfg.nav.components.submenu.toolkitComponents.submenu.alerts.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.components.title,
      "href": cfg.nav.components.href
    },
    2: {
      "title": cfg.nav.components.submenu.toolkitComponents.submenu.alerts.title,
      "href": cfg.nav.components.submenu.toolkitComponents.submenu.alerts.href
    }
  })

  // Page Content
  main.page-content.section-98.section-sm-110

    // Classic Alerts
    section.text-sm-left
      .shell
        h1.text-center Classic Alerts
        hr.divider.bg-mantis
        +alerts-classic('alert-classic-success', 'Classic success alert!', null, null, 'alert-classic-lg', null, null, null)
        +alerts-classic('alert-classic-info', 'Classic info alert!', null, null, 'alert-classic-lg', null, null, null)
        +alerts-classic('alert-classic-warning', 'Classic warning alert!', null, null, 'alert-classic-lg', null, null, null)
        +alerts-classic('alert-classic-danger', 'Classic danger alert!', null, null, 'alert-classic-lg', null, null, null)

    // Classic Icon Alerts
    section.offset-top-98.offset-md-top-110.text-sm-left
      .shell
        h1.text-center Classic Icon Alerts
        hr.divider.bg-mantis
        +alerts-classic('alert-classic-success', 'Classic success alert!', null, 'mdi mdi-check', 'alert-classic-lg', null, null, null)
        +alerts-classic('alert-classic-info', 'Classic info alert!', null, 'mdi mdi-information-outline', 'alert-classic-lg', null, null, null)
        +alerts-classic('alert-classic-warning', 'Classic warning alert!', null, 'mdi mdi-alert-outline', 'alert-classic-lg', null, null, null)
        +alerts-classic('alert-classic-danger', 'Classic danger alert!', null, 'mdi mdi-close-circle-outline', 'alert-classic-lg', null, null, null)

    // Alert Sizes
    section.offset-top-98.offset-md-top-110.text-sm-left
      .shell
        h1.text-center Alert Sizes
        hr.divider.bg-mantis
        +alerts-classic('alert-classic-info', 'Classic info alert!', null, null, 'alert-classic-lg', null, null, null)
        +alerts-classic('alert-classic-info', 'Classic info alert!', null, null, null, null, null, null)
        +alerts-classic('alert-classic-info', 'Classic info alert!', null, null, 'alert-classic-sm', null, null, null)

    // Extended Alerts
    section.offset-top-98.offset-md-top-110.text-sm-left
      .shell
        h1.text-center Extended Alerts
        hr.divider.bg-mantis
        +alerts-classic('alert-classic-success', 'Link Functionality not impacted', 'This class will change the appearnce of anchor element only. Use a custom Java Script to disable links here.', null, 'alert-classic-lg', null, null, null)
        +alerts-classic('alert-classic-info', 'Link Functionality not impacted', 'This class will change the appearnce of anchor element only. Use a custom Java Script to disable links here.', null, 'alert-classic-lg', null, null, null)
        +alerts-classic('alert-classic-warning', 'Link Functionality not impacted','This class will change the appearnce of anchor element only. Use a custom Java Script to disable links here.', null, 'alert-classic-lg', null, null, null)
        +alerts-classic('alert-classic-danger', 'Link Functionality not impacted', 'This class will change the appearnce of anchor element only. Use a custom Java Script to disable links here.', null, 'alert-classic-lg', null, null, null)

    // Confirmation Alerts
    section.offset-top-98.offset-md-top-110.text-sm-left
      .shell
        h1.text-center Confirmation Alerts
        hr.divider.bg-mantis
        +alerts-classic('alert-classic-success', 'Link Functionality not impacted', 'This class will change the appearnce of anchor element only. Use a custom Java Script to disable links here.', null, 'alert-classic-lg', 'Sumbit', 'Dismiss')
        +alerts-classic('alert-classic-info', 'Link Functionality not impacted', 'This class will change the appearnce of anchor element only. Use a custom Java Script to disable links here.', null, 'alert-classic-lg', 'Sumbit', 'Dismiss')
        +alerts-classic('alert-classic-warning', 'Link Functionality not impacted','This class will change the appearnce of anchor element only. Use a custom Java Script to disable links here.', null, 'alert-classic-lg', 'Sumbit', 'Dismiss')
        +alerts-classic('alert-classic-danger', 'Link Functionality not impacted', 'This class will change the appearnce of anchor element only. Use a custom Java Script to disable links here.', null, 'alert-classic-lg', 'Sumbit', 'Dismiss')

    // Snackbars
    section.offset-top-98.offset-md-top-110.text-sm-left
      .shell
        h1.text-center Snackbars
        hr.divider.bg-mantis
        +alerts-snackbars(null, 'Short notification', null, null, null)
        +alerts-snackbars('snackbars-undo', 'Marked as read', 'UNDO', null, null)
        +alerts-snackbars('snackbars-icon', 'Sending', null, 'fa fa-circle-o-notch fa-spin', 'icon-xxs')
        +alerts-snackbars('snackbars-icon', 'Message Sent', null, 'mdi mdi-check', 'icon-xxs')
        +alerts-snackbars('snackbars-retry', 'Form submition failed', 'Retry', 'mdi mdi-alert-outline', 'icon-xxs')

    // Bootstrap Alerts
    section.offset-top-98.offset-md-top-110.text-sm-left
      .shell
        h1.text-center Bootstrap Alerts
        hr.divider.bg-mantis
        .range.offset-top-34
          .cell-sm-preffix-1.cell-sm-10
            +alerts-bootstrap('alert-success','Well done! You successfully read this important alert message.', 'mdi mdi-close')
            +alerts-bootstrap('alert-info',"Heads up! This alert needs your attention, but it's not super important", 'mdi mdi-close')
            +alerts-bootstrap('alert-warning',"Warning! Better check yourself, you're not looking too good.", 'mdi mdi-close')
            +alerts-bootstrap('alert-danger','Oh snap! Change a few things up and try submitting again.', 'mdi mdi-close')

  // Page Footers
  include ../sections/_section-footer-default