extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic

//-Title
block title
  title= cfg.nav.blog.submenu.wide.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
      'rd-navbar-default rd-navbar-light',
      {
        "data-lg-auto-height": "true",
        "data-md-layout": 'rd-navbar-fixed',
        "data-lg-layout": 'rd-navbar-static',
        "data-lg-stick-up": 'true'
      },
      cfg.brand.logo,
      cfg.nav.blog,
      cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.blog.submenu.wide.title,
  cfg.nav.blog.submenu.wide.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.blog.title,
      "href": cfg.nav.blog.href
    },
    2: {
      "title": cfg.nav.blog.submenu.wide.title,
      "href": cfg.nav.blog.submenu.wide.href
    },
    3: {
      "title": cfg.nav.blog.submenu.wide.submenu.noSidebar.title,
      "href": cfg.nav.blog.submenu.wide.submenu.noSidebar.href
    }
  })

  // Page Content
  main.page-content.section-98.section-sm-124
    .shell-wide
      .range.range-xs-center
        .cell-md-8.cell-lg-6.cell-xl-12
          include ../sections/_section-blog-wide

  // Page Footers
  include ../sections/_section-footer-default