extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic

//-Title
block title
  title= cfg.nav.components.submenu.bootstrapcomponents.submenu.mediaObjects.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.components,
    cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.components.submenu.bootstrapcomponents.submenu.mediaObjects.title,
  "icon-lg " + cfg.nav.components.submenu.bootstrapcomponents.submenu.mediaObjects.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.components.title,
      "href": cfg.nav.components.href
    },
    2: {
      "title": cfg.nav.components.submenu.bootstrapcomponents.submenu.mediaObjects.title,
      "href": cfg.nav.components.submenu.bootstrapcomponents.submenu.mediaObjects.href
    }
  })

  // Page Content
  main.page-content.section-98.section-sm-124
    // Media object
    section
      .shell
        h1 Media object
        p.inset-left-7p.inset-right-7p Abstract object styles for building various types of components (like blog comments, Tweets, etc) that feature a left- or right-aligned image alongside textual content.
        hr.divider.bg-mantis

        // Default media
        .range.range-xs-center.offset-top-66
          .cell-md-7.text-left
            h3.text-center Default media
            p.text-center The default media displays a media object (images, video, audio) to the left or right of a content block.

            .media
              .media-left
                a(href='#')
                  img.media-object.img-circle(src='images/blog/post-thumb-01-46x46.jpg' alt='46x46', width=46, height=46)
              .media-body
                h4.media-heading Media heading
                p  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

            .media.text-left.offset-top-30
              .media-left
                a(href='#')
                  img.media-object.img-circle(src='images/blog/post-thumb-02-46x46.jpg' alt='46x46', width=46, height=46)
              .media-body
                h4.media-heading Media heading
                |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                .media.offset-top-20
                  .media-left
                    a(href='#')
                      img.media-object.img-circle(src='images/blog/post-thumb-03-46x46.jpg' alt='46x46', width=46, height=46)
                  .media-body
                    h4.media-heading Nested media heading
                    p  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

            .media.offset-top-30
              .media-left
                a(href='#')
                  img.media-object.img-circle(src='images/blog/post-thumb-01-46x46.jpg' alt='46x46', width=46, height=46)
              .media-body
                h4.media-heading Media heading
                p  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.


            p.offset-top-30 The classes
              = ' '
              code .pull-left
              = ' and '
              code .pull-right
              = ' '
              | also exist and were previously used as part of the media component, but are deprecated for that use as of v3.3.0. They are approximately equivalent to
              = ' '
              code .media-left
              = ' and '
              code .media-right
              = ' , '
              | except that
              = ' '
              code .media-right
              = ' '
              | should be placed after the
              = ' '
              code .media-body
              = ' '
              | in the html

  // Page Footers
  include ../sections/_section-footer-default