extends  ../_skeleton

//- Includes
include  ../elements/_ui-breadcrumb-default
include  ../elements/_ui-breadcrumb-classic
include  ../elements/_ui-breadcrumb-modern

//- Title
block title
  title= cfg.nav.components.submenu.toolkitComponents.submenu.breadcrumbs.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.components,
    cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.components.submenu.toolkitComponents.submenu.breadcrumbs.title,
  "icon-lg " + cfg.nav.components.submenu.toolkitComponents.submenu.breadcrumbs.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.components.title,
      "href": cfg.nav.components.href
    },
    2: {
      "title": cfg.nav.components.submenu.toolkitComponents.submenu.breadcrumbs.title,
      "href": cfg.nav.components.submenu.toolkitComponents.submenu.breadcrumbs.href
    }
  })

  // Page Content
  main.page-content.section-98.section-lg-110

    // Section classic breadcrumb
    section
      h1 Classic Breadcrumbs
      .divider.bg-mantis
      .offset-top-41.offset-lg-top-66
        +breadcrumb-classic("Current Page", "mdi mdi-drag-horizontal", {
          0: {
            "type": "link",
            "title": "Home",
            "href": "./"
          },
          1: {
            "type": "link",
            "title": "Path To",
            "href": "#"
          },
          2: {
            "type": "link",
            "title": "Current Page",
            "href": "#"
          }
        }, "grad2")

    // Section default breadcrumb
    section.offset-top-98.offset-lg-top-110
      h1 Default Breadcrumbs
      .divider.bg-mantis
      .offset-top-41.offset-lg-top-66
        +breadcrumb-default({
          0: {
            "type": "link",
            "title": "Home",
            "href": "./"
          },
          1: {
            "type": "link",
            "title": "Path To",
            "href": "#"
          },
          2: {
            "type": "link",
            "title": "Current Page",
            "href": "#"
          }
        })

    // Section modern breadcrumb
    section.offset-top-98.offset-lg-top-110
      h1 Modern Breadcrumbs
      .divider.bg-mantis
      .offset-top-41.offset-lg-top-66.context-dark
        +breadcrumb-modern("Current Page", {
          0: {
            "type": "link",
            "title": "Home",
            "href": "./"
          },
          1: {
            "type": "link",
            "title": "Path To",
            "href": "#"
          },
          2: {
            "type": "link",
            "title": "Current Page",
            "href": "#"
          }
        }, "images/backgrounds/background-18-1920x615.jpg")

  // Page Footers
  include ../sections/_section-footer-default
