extends  ../_skeleton

//- Includes
include ../elements/_ui-rd-navbar-default-transparent
include ../elements/_ui-isotope
include ../elements/_ui-page-loader-variant-1

//-Title
block title
  title= cfg.nav.features.submenu.chartsAndGraphs.title

//- Page
block page
  
  +page-loader-1(cfg.brand.logoBig)

  // Page Head
  header.page-head.slider-menu-position
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-transparent',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoInverse,
    cfg.nav.features,
    cfg.nav
    )
  // Page Content
  main.page-content
    include ../sections/_section-integration-with-graph
    include ../sections/_section-higcharts
    include ../sections/_section-d3carts
    include ../sections/_section-flot-charts
    include ../sections/_section-buy-now

  // Page Footer
  include ../sections/_section-footer-default