extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-counter-type-1
include ../elements/_ui-counter-type-2
include ../elements/_ui-counter-type-3

//-Title
block title
  title= cfg.nav.components.submenu.toolkitComponents.submenu.counters.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
      'rd-navbar-default rd-navbar-light',
      {
        "data-lg-auto-height": "true",
        "data-md-layout": 'rd-navbar-fixed',
        "data-lg-layout": 'rd-navbar-static',
        "data-lg-stick-up": 'true'
      },
      cfg.brand.logo,
      cfg.nav.components,
      cfg.nav
    )

  +breadcrumb-classic(
    cfg.nav.components.submenu.toolkitComponents.submenu.counters.title,
    "icon-lg " + cfg.nav.components.submenu.toolkitComponents.submenu.counters.icon,
    {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.components.title,
      "href": cfg.nav.components.href
    },
    2: {
      "title": cfg.nav.components.submenu.toolkitComponents.submenu.counters.title,
      "href": cfg.nav.components.submenu.toolkitComponents.submenu.counters.href
    }
  })

  // Page Content
  main.page-content.section-98.section-lg-top-110.section-lg-bottom-124

    // Section Counters Type 1
    section
      .shell-fluid
        h1 Counters Type 1
        hr.divider.bg-mantis
        .range
          .cell-sm-8.cell-sm-preffix-2.cell-md-12.cell-md-preffix-0
            .range
              .cell-sm-6.cell-md-3.cell-md-preffix-0
                +counter-type-1("Templates", "text-bold text-blue-gray", {
                  "dataTo": "58249",
                  "dataSpeed": "3000",
                  "attr": "text-uppercase text-bold text-spacing-60 offset-top-20"
                }, "divider bg-gray-darker", "h1")
              .cell-sm-6.cell-md-3.offset-top-66.offset-sm-top-0
                +counter-type-1("Happy Clients", "text-bold text-blue-gray", {
                  "dataTo": "246",
                  "dataSpeed": "2500",
                  "preffix": "K",
                  "attr": "text-uppercase text-bold text-spacing-60 offset-top-20"
                }, "divider bg-gray-darker", "h1")
              .cell-sm-6.cell-md-3.offset-top-66.offset-md-top-0
                +counter-type-1("Hours of Coding", "text-bold text-blue-gray", {
                  "dataTo": "1200",
                  "dataSpeed": "1500",
                  "attr": "text-uppercase text-bold text-spacing-60 offset-top-20"
                }, "divider bg-gray-darker", "h1")
              .cell-sm-6.cell-md-3.offset-top-66.offset-md-top-0
                +counter-type-1("Lines of Code", "text-bold text-blue-gray", {
                  "dataTo": "834",
                  "dataSpeed": "1300",
                  "preffix": "K",
                  "attr": "text-uppercase text-bold text-spacing-60 offset-top-20"
                }, "divider bg-gray-darker", "h1")
      .shell.offset-top-66.text-left
        .code-counter-type-1

    // Section Counters Type 2
    section.offset-top-98.offset-top-lg-110
      .shell-fluid
        h1 Counters Type 2
        hr.divider.bg-mantis
        .range
          .cell-sm-8.cell-sm-preffix-2.cell-md-12.cell-md-preffix-0
            .range.range-sm-bottom
              .cell-md-3.cell-sm-6
                +counter-type-2({
                  "description": "Templates",
                  "titleStyle": "h6 text-uppercase text-spacing-60 text-bold offset-top-14",
                },
                "mdi mdi-vector-arrange-below text-mantis", {
                  "dataTo": "58249",
                  "dataSpeed": "3000",
                  "divider": "divider divider-vertical bg-gray-darker offset-top-10"
                }, "bg-gray-darker")
              .cell-md-3.cell-sm-6.offset-top-66.offset-sm-top-0
                +counter-type-2({
                  "description": "Happy Clients",
                  "titleStyle": "h6 text-uppercase text-spacing-60 text-bold offset-top-14",
                },
                "mdi mdi-account-multiple-outline text-malibu", {
                  "dataTo": "246",
                  "dataSpeed": "2500",
                  "preffix": "K",
                  "divider": "divider divider-vertical bg-gray-darker offset-top-10"
                })
              .cell-md-3.cell-sm-6.offset-top-66.offset-md-top-0
                +counter-type-2({
                  "description": "Hours of Coding",
                  "titleStyle": "h6 text-uppercase text-spacing-60 text-bold offset-top-14",
                },
                "mdi mdi-clock text-neon-carrot", {
                  "dataTo": "1200",
                  "dataSpeed": "1500",
                  "divider": "divider divider-vertical bg-gray-darker offset-top-10"
                })
              .cell-md-3.cell-sm-6.offset-top-66.offset-md-top-0
                +counter-type-2({
                  "description": "Lines of Code",
                  "titleStyle": "h6 text-uppercase text-spacing-60 text-bold offset-top-14",
                },
                "mdi mdi-code-brackets text-ku-crimson", {
                  "dataTo": "834",
                  "dataSpeed": "1300",
                  "preffix": "K",
                  "divider": "divider divider-vertical bg-gray-darker offset-top-10"
                })

      .shell.offset-top-66.text-left
        .code-counter-type-2

    // Section Counters Type 3
    section.offset-top-98.offset-top-lg-110.text-center
      .shell
        h1 Counters Type 3
        hr.divider.bg-mantis
        div.offset-top-66
          .reveal-inline-block.reveal-lg-block
            .range.range-sm-bottom.range-xs-center
              .cell-xs-8.cell-lg-12
                .range
                  .cell-sm-6.cell-lg-3
                    +counter-type-3("Templates done", "mdi mdi-vector-arrange-below text-mantis", {
                      "dataTo": "58249",
                      "dataSpeed": "3000"
                    })
                  .cell-sm-6.cell-lg-3
                    +counter-type-3("Happy Clients", "mdi mdi-account-multiple-outline text-malibu", {
                      "dataTo": "246",
                      "dataSpeed": "2500",
                      "preffix": "K"
                    })
                  .cell-sm-6.cell-lg-3.offset-sm-top-50.offset-lg-top-0
                    +counter-type-3("Hours of Coding", "mdi mdi-clock text-neon-carrot", {
                      "dataTo": "1200",
                      "dataSpeed": "1500"
                    })
                  .cell-sm-6.cell-lg-3.offset-sm-top-50.offset-lg-top-0
                    +counter-type-3("Lines of Code", "mdi mdi-code-brackets text-ku-crimson", {
                      "dataTo": "834",
                      "dataSpeed": "1300",
                      "preffix": "K"
                    })

      .shell.offset-top-66.text-left
        .code-counter-type-3

  // Page Footers
  include ../sections/_section-footer-default

