extends  ../_skeleton

//-Title
block title
  title= cfg.nav.home.submenu.type.submenu.onePage.title

//- Page
block page

  // Page Head
  header.page-head.slider-menu-position
    // RD Navbar Transparent
    .rd-navbar-wrap
      nav.rd-navbar.rd-navbar-default.rd-navbar-transparent(data-md-device-layout='rd-navbar-fixed', data-anchor-offset="20", data-lg-device-layout='rd-navbar-static', data-lg-auto-height='true', data-md-layout='rd-navbar-fixed', data-lg-layout='rd-navbar-static', data-lg-stick-up='true')
        .rd-navbar-inner
          // RD Navbar Panel
          .rd-navbar-panel
            // RD Navbar Toggle
            button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar, .rd-navbar-nav-wrap')
              span
            // Navbar Brand
            .rd-navbar-brand
              a(href='index.html')
                img(style='margin-top: -5px;margin-left: -15px;', width='138', height='31', src='images/intense/logo-light.png', alt='')
          .rd-navbar-menu-wrap
            .rd-navbar-nav-wrap
              .rd-navbar-mobile-scroll
                // Navbar Brand Mobile
                .rd-navbar-mobile-brand
                  a(href='index.html')
                    img(style='margin-top: -5px;margin-left: -15px;', width='138', height='31', src='images/intense/logo-light.png', alt='')
                .form-search-wrap
                  // RD Search Form
                  form.form-search.rd-search(action='search-results.html', method='GET')
                    .form-group
                      label.form-label.form-search-label.form-label-sm(for='rd-navbar-form-search-widget') Search
                      input#rd-navbar-form-search-widget.form-search-input.input-sm.form-control.form-control-gray-lightest.input-sm(type='text', name='s', autocomplete='off')
                    button.form-search-submit(type='submit')
                      span.mdi.mdi-magnify
                // RD Navbar Nav
                ul.rd-navbar-nav
                  li.active
                    a(href='#home') Home
                  li
                    a(href='#home-section-welcome') About us
                  li
                    a(href='#portfolio') Portfolio
                  li
                    a(href="#team") Team
                  li
                    a(href="#partners") Partners
                  li
                    a(href="#contacts") Contacts

            // RD Navbar Search
            .rd-navbar-search
              a.rd-navbar-search-toggle.mdi(data-rd-navbar-toggle='.rd-navbar-inner,.rd-navbar-search', href='#')
                span
              form.rd-navbar-search-form.search-form-icon-right.rd-search(action='search-results.html', method='GET')
                .form-group
                  label.form-label(for='rd-navbar-search-form-input') Type and hit enter...
                  input#rd-navbar-search-form-input.rd-navbar-search-form-input.form-control.form-control-gray-lightest(type='text', name='s', autocomplete='off')

    #home(data-type="anchor")
      include ../sections/_section-swiper

  // Page Contents
  main.page-content
    #home-section-welcome(data-type="anchor")
      include ../sections/_section-about-us
    .shell-fluid
      hr.hr.bg-gray-lighter
    #portfolio(data-type="anchor")
      include ../sections/_section-our-work
    .shell-fluid
      hr.hr.bg-gray-lighter
    #team(data-type="anchor")
      .offset-top-20
        include ../sections/_section-our-team
    #partners(data-type="anchor")
      include ../sections/_section-our-partners
    #contacts(data-type="anchor").bg-gray-base
      include ../sections/_section-contact-me

  // Page Footer
  include ../sections/_section-footer-default