- var fonts = "//fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:300,300italic,400,700,900%7CYesteryear"
- var html_class = "wide wow-animation smoothscroll scrollTo"

block variables

doctype html

html(lang="en" class="#{html_class}" style="height: 100%; background: #f7f7f7")
  head
    // Site Title
    block title
      title RD Navbar Sidebar Fixed Demonstration

    meta(charset="utf-8")
    meta(name="format-detection" content="telephone=no")
    meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    block search-meta
      meta(name="keywords" content="intense web design multipurpose template")
      meta(name="date" content="Dec 26")


    link(rel="icon" href="images/favicon.ico" type="image/x-icon")

    // Stylesheets
    link(rel="stylesheet" type="text/css" href=fonts)
    link(rel="stylesheet" href="css/style.css")

    = "\n\t\t"
    <!--[if lt IE 10]>
    div(style='background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;')
      a(href="http://windows.microsoft.com/en-US/internet-explorer/")
        img(src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.")
    script(src="js/html5shiv.min.js")
    = "\n\t\t"
    <![endif]-->
  body(style="background: #f7f7f7; height: 100%;")
    // Page
    div(class="page text-center" style="height: 100%; background: #f7f7f7")

      // Page Head
      header.page-head
        .rd-navbar-wrap
          nav.rd-navbar.rd-navbar-sidebar-fixed.rd-navbar-light(data-lg-layout='rd-navbar-sidebar-fixed', data-md-layout='rd-navbar-sidebar-fixed', data-layout='rd-navbar-sidebar-fixed', data-lg-auto-height='false', data-lg-stick-up='false', data-lg-hover-on='false', data-body-class='body-inset-left')
            .rd-navbar-inner
              // RD Navbar Panel
              .rd-navbar-panel
                // RD Navbar Toggle
                button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar, .rd-navbar-nav-wrap')
                  span
                // Navbar Brand Mobile
                .rd-navbar-brand
                  a(href='#')
                    img(style='margin-top: -5px;margin-left: -15px;', width='138', height='31', src='images/intense/logo-dark.png', alt='')
                // RD Navbar Search
                .rd-navbar-search
                  a.rd-navbar-search-toggle(data-rd-navbar-toggle='.rd-navbar-inner, .rd-navbar-search, .rd-navbar-sidebar-fixed-search', href='#')
                    span.icon.icon-xxs.text-middle
              .rd-navbar-menu-wrap
                .rd-navbar-sidebar-fixed-search
                  .shell
                    form.rd-search.form-search
                      .form-group
                        label.form-label.form-search-label(for='ss') Type and hit enter...
                        .input-group
                          input#ss.form-search-input.form-control.form-control-rect.form-control-impressed.custom-search-input(type='text', name='s', autocomplete='off')
                          .input-group-addon
                            span.icon.fa.fa-circle-o-notch.fa-spin.icon-sm
                      button.form-search-submit(type='submit')
                        span.mdi.mdi-magnify
                    #rd-search-results-live.rd-search-results-live.offset-top-66
                .rd-navbar-nav-wrap
                  .rd-navbar-sidebar-fixed-menu
                    // title
                    .rd-navbar-title.veil.reveal-lg-block
                      h1
                        span.big  Menu
                      hr.divider.bg-mantis.veil.reveal-lg-block
                    .offset-lg-top-30
                      // RD Navbar Nav
                      ul.rd-navbar-nav
                        li.active
                          a(href='#')
                            span Home
                        li
                          a(href='#')
                            span Features
                        li
                          a(href='#')
                            span Pages
                        li
                          a(href='#')
                            span Portfolio
                        li
                          a(href='#')
                            span Blog
                        li
                          a(href='#')
                            span Shop
                        li
                          a(href='#')
                            span Components

      // Page Content
      main.page-content

    // Java script
    script(src="js/core.min.js")
    script(src="js/script.js")
