extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-pagination-bootstrap

//- Title
block title
  title= cfg.nav.shop.submenu.grid.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
      'rd-navbar-default rd-navbar-light',
      {
        "data-lg-auto-height": "true",
        "data-md-layout": 'rd-navbar-fixed',
        "data-lg-layout": 'rd-navbar-static',
        "data-lg-stick-up": 'true'
      },
      cfg.brand.logo,
      cfg.nav.shop,
      cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.shop.submenu.grid.title,
  cfg.nav.shop.submenu.grid.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.shop.title,
      "href": cfg.nav.shop.href
    },
    2: {
      "title": cfg.nav.shop.submenu.grid.title,
      "href": cfg.nav.shop.submenu.grid.href
    },
    3: {
      "title": cfg.nav.shop.submenu.grid.submenu.noSidebar.title,
      "href": cfg.nav.shop.submenu.grid.submenu.noSidebar.href
    }
  })

  // Page Content
  main.page-content.section-98.section-sm-124
    .shell
      include ../sections/_section-shop-grid-wide-no-sidebar


  // Page Footers
  include ../sections/_section-footer-default