extends  ../_skeleton

//- Page includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-tables
include ../elements/_ui-table-bootstrap

//- Title
block title
  title= cfg.nav.components.submenu.toolkitComponents.submenu.tables.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.components,
    cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.components.submenu.toolkitComponents.submenu.tables.title,
  "icon-lg " + cfg.nav.components.submenu.toolkitComponents.submenu.tables.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.components.title,
      "href": cfg.nav.components.href
    },
    2: {
      "title": cfg.nav.components.submenu.toolkitComponents.submenu.tables.title,
      "href": cfg.nav.components.submenu.toolkitComponents.submenu.tables.href
    }
  })

  // Page Content
  main.page-content.section-98.section-sm-110
    // Classic Responsive Table
    section
      .shell
        h1 Classic Responsive Table
        hr.divider.bg-mantis
        .range.offset-sm-top-66
          .cell-lg-preffix-2.cell-lg-8
            +table-custom([
              ['Full Name', 'Name', 'Password', 'E-mail'],
              ['Sergey Gaponov', 'Gap0n', '**********', 'haponov.serhii@gmail.com'],
              ['Eugene Gusarov', 'Diversant', '*******', 'stmechanus@gmail.com'],
              ['Vladislav Gnatovsky', 'Mason', '*********', 'vgtsky@gmail.com'],
              ['Rafael Shayvolodyan', 'Raffa', '********', 'mnatis.rafael@gmail.com'],
            ], true)

    // Bootstrap Table
    section.offset-top-98.offset-md-top-110
      .shell
        h1 Bootstrap Table
        hr.divider.bg-mantis
        .range.offset-sm-top-66
          .cell-lg-preffix-2.cell-lg-8
            +table-bootstrap([
              ['Full Name', 'Name', 'Password', 'E-mail'],
              ['Sergey Gaponov', 'Gap0n', '**********', 'haponov.serhii@gmail.com'],
              ['Eugene Gusarov', 'Diversant', '*******', 'stmechanus@gmail.com'],
              ['Vladislav Gnatovsky', 'Mason', '*********', 'vgtsky@gmail.com'],
              ['Rafael Shayvolodyan', 'Raffa', '********', 'mnatis.rafael@gmail.com']
            ], 'table-striped')

  // Page Footers
  include ../sections/_section-footer-default