extends  ../_skeleton

//- Includes
include  ../elements/_ui-breadcrumb-classic
include  ../elements/_ui-tabs-classic
include  ../elements/_ui-tabs-classic-vertical
include  ../elements/_ui-tabs-boxed
include  ../elements/_ui-tabs-boxed-vertial
include  ../elements/_ui_tabs-bootstrap
include  ../elements/_ui_tabs-bootstrap-pills
include  ../elements/_ui_tabs-bootstrap-pills-stacked
include  ../elements/_ui-tabs-horizontal-dashed

//- Title
block title
  title= cfg.nav.components.submenu.toolkitComponents.submenu.tabs.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
      'rd-navbar-default rd-navbar-light',
      {
        "data-lg-auto-height": "true",
        "data-md-layout": 'rd-navbar-fixed',
        "data-lg-layout": 'rd-navbar-static',
        "data-lg-stick-up": 'true'
      },
      cfg.brand.logo,
      cfg.nav.components,
      cfg.nav
    )

  +breadcrumb-classic(
    cfg.nav.components.submenu.toolkitComponents.submenu.tabs.title,
    "icon-lg " + cfg.nav.components.submenu.toolkitComponents.submenu.tabs.icon,
    {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.components.title,
      "href": cfg.nav.components.href
    },
    2: {
      "title": cfg.nav.components.submenu.toolkitComponents.submenu.tabs.title,
      "href": cfg.nav.components.submenu.toolkitComponents.submenu.tabs.href
    }
  })

  main.page-content.section-98.section-sm-110
    // Classic Tabs
    section
      .shell
        h1 Classic Tabs
        hr.divider.bg-mantis
        .offset-sm-top-66.text-left
          +tabs-classic(['Toolkit Core', 'UI Kit', 'Plugins', 'Documentation'])
            div
              p.big.text-bold
                | Our professional services are the keys to your success
              p
                | Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
              p
                | The information should be not only well-organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey. Adorn posts with bold imagery, and users will get more interested and involved.
            div
              p
                | The information should be not only well-organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey. Adorn posts with bold imagery, and users will get more interested and involved.
            div
              p
                | Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
            div
              p
                | Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
              p
              | The information should be not only well-organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey. Adorn posts with bold imagery, and users will get more interested and involved.

    // Classic Vertical Tabs
    section.offset-top-98
      .shell
        h1 Classic Vertical Tabs
        hr.divider.bg-mantis
        .offset-sm-top-66.text-left
          +tabs-classic-vertical(['Toolkit Core', 'UI Kit', 'Plugins', 'Documentation'])
            div
              p.big.text-bold
                | Our professional services are the keys to your success
              p
                | Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
              p
                | The information should be not only well-organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey. Adorn posts with bold imagery, and users will get more interested and involved.
            div
              p
                | The information should be not only well-organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey. Adorn posts with bold imagery, and users will get more interested and involved.
            div
              p
                | Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
            div
              p
                | Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
              p
              | The information should be not only well-organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey. Adorn posts with bold imagery, and users will get more interested and involved.

    // Horizontal dashed tabs
    section.offset-top-98
      .shell
        h1 Horizontal dashed tabs
        hr.divider.bg-mantis
        .offset-sm-top-66.text-left
          +tabs-horizontal-dashed(['Toolkit Core', 'UI Kit', 'Plugins', 'Documentation'])
            div.offset-md-top-30
              p.big.text-bold
                | Our professional services are the keys to your success
              p
                | Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
              p
                | The information should be not only well-organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey. Adorn posts with bold imagery, and users will get more interested and involved.
            div.offset-md-top-30
              p
                | The information should be not only well-organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey. Adorn posts with bold imagery, and users will get more interested and involved.
            div.offset-md-top-30
              p
                | Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
            div.offset-md-top-30
              p
                | Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
              p
              | The information should be not only well-organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey. Adorn posts with bold imagery, and users will get more interested and involved.

    // Boxed Tabs
    section.offset-top-98
      .shell
        h1 Boxed Tabs
        hr.divider.bg-mantis
        .offset-sm-top-66.text-left
          +tabs-boxed(['Additional Information', 'Video Review', 'Customer Reviews', 'Comments'])
            div
              | The information should be not only well-organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey. Adorn posts with bold imagery, and users will get more interested and involved.
            div
              | Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
            div
              h5.text-uppercase 4 Customer Reviews

              // CUSTOMER REVIEWS
              ul.list-unstyled.list-reviews.offset-sm-top-30
                li
                  ul.list-inline.list-xs-inline
                    li
                      span.text-bold.text-uppercase.big John Doe
                    li.star-raiting
                      span.big
                        span.big
                          span.mdi.mdi-star.text-warning
                          span.mdi.mdi-star.text-warning
                          span.mdi.mdi-star.text-warning
                          span.mdi.mdi.mdi-star-half.text-warning
                          span.mdi.mdi.mdi-star-outline.text-warning
                  p.offset-top-10
                    | Eius munere cum no. Alia ridens corpora ea his. Sed etiam ignota eu. Vidisse legendos pro ad, numquam voluptatibus per ut, his quot prompta ad. Ius malis movet ea. Altera dissentiunt ut pro, mundi ignota ad sed.

                li.offset-top-30
                  ul.list-inline.list-xs-inline
                    li
                      span.text-bold.text-uppercase.big Alex Ross
                    li.star-raiting
                      span.big
                        span.big
                          span.mdi.mdi-star.text-warning
                          span.mdi.mdi-star.text-warning
                          span.mdi.mdi-star.text-warning
                          span.mdi.mdi-star.text-warning
                          span.mdi.mdi-star.text-warning
                  p.offset-top-10
                    | Qui an veri illum incorrupte. Cu has assum laboramus gloriatur, mea ea meis ferri definitionem, quod percipit evertitur ad qui. Altera omittam moderatius id vis, at vix quod bonorum dolorum. Ei pro graecis reformidans, nisl percipitur ullamcorper vis eu.

                li.offset-top-30
                  ul.list-inline.list-xs-inline
                    li
                      span.text-bold.text-uppercase.big Diana Roe
                    li.star-raiting
                      span.big
                        span.big
                          span.mdi.mdi-star.text-warning
                          span.mdi.mdi-star.text-warning
                          span.mdi.mdi-star.text-warning
                          span.mdi.mdi.mdi-star-outline.text-warning
                          span.mdi.mdi.mdi-star-outline.text-warning
                  p.offset-top-10
                    | Eius munere cum no. Alia ridens corpora ea his. Sed etiam ignota eu. Vidisse legendos pro ad, numquam voluptatibus per ut, his quot prompta ad. Ius malis movet ea. Altera dissentiunt ut pro, mundi ignota ad sed.

                li.offset-top-30
                  ul.list-inline.list-xs-inline
                    li
                      span.text-bold.text-uppercase.big Sara Cole
                    li.star-raiting
                      span.big
                        span.big
                          span.mdi.mdi-star.text-warning
                          span.mdi.mdi-star.text-warning
                          span.mdi.mdi-star.text-warning
                          span.mdi.mdi.mdi-star.text-warning
                          span.mdi.mdi.mdi-star-half.text-warning
                  p.offset-top-10
                    | No sit case indoctum, ad dicta singulis deterruisset vel. Mea ne nusquam corpora percipit, at ponderum rationibus sea, ubique invenire adolescens pri cu. Est maiorum omittantur ei. Et pro nisl insolens tincidunt, nam equidem maiorum tincidunt eu, magna tibique id vim

            div
              | Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.

    // Boxed Vertical Tabs
    section.offset-top-98.offset-md-top-110
      .shell
        h1 Boxed Vertical Tabs
        hr.divider.bg-mantis
        .offset-sm-top-66.text-left.text-left
          +tabs-boxed-vertical(['Additional Information', 'Video Review', 'Customer Reviews', 'Comments'])
            div
              | The information should be not only well-organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey. Adorn posts with bold imagery, and users will get more interested and involved. The information should be not only well-organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey. Adorn posts with bold imagery, and users will get more interested and involved. The information should be not only well-organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey. Adorn posts with bold imagery, and users will get more interested and involved.The information should be not only well-organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey. Adorn posts with bold imagery, and users will get more interested and involved.The information should be not only well-organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey. Adorn posts with bold imagery, and users will get more interested and involved.
            div
              | Eius munere cum no. Alia ridens corpora ea his. Sed etiam ignota eu. Vidisse legendos pro ad, numquam voluptatibus per ut, his quot prompta ad. Ius malis movet ea. Altera dissentiunt ut pro, mundi ignota ad sed. Eius munere cum no. Alia ridens corpora ea his. Sed etiam ignota eu. Vidisse legendos pro ad, numquam voluptatibus per ut, his quot prompta ad. Ius malis movet ea. Altera dissentiunt ut pro, mundi ignota ad sed.Eius munere cum no. Alia ridens corpora ea his. Sed etiam ignota eu. Vidisse legendos pro ad, numquam voluptatibus per ut, his quot prompta ad. Ius malis movet ea. Altera dissentiunt ut pro, mundi ignota ad sed. Eius munere cum no. Alia ridens corpora ea his. Sed etiam ignota eu. Vidisse legendos pro ad, numquam voluptatibus per ut, his quot prompta ad. Ius malis movet ea. Altera dissentiunt ut pro, mundi ignota ad sed. Eius munere cum no. Alia ridens corpora ea his. Sed etiam ignota eu. Vidisse legendos pro ad, numquam voluptatibus per ut, his quot prompta ad. Ius malis movet ea. Altera dissentiunt ut pro, mundi ignota ad sed. Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
            div
              h5.text-uppercase 4 Customer Reviews

              // CUSTOMER REVIEWS
              ul.list-unstyled.list-reviews.offset-sm-top-30
                li
                  ul.list-inline.list-xs-inline
                    li
                      span.text-bold.text-uppercase.big John Doe
                    li.star-raiting
                      span.big
                        span.big
                          span.mdi.mdi-star.text-warning
                          span.mdi.mdi-star.text-warning
                          span.mdi.mdi-star.text-warning
                          span.mdi.mdi.mdi-star-half.text-warning
                          span.mdi.mdi.mdi-star-outline.text-warning
                  p.offset-top-10
                    | Eius munere cum no. Alia ridens corpora ea his. Sed etiam ignota eu. Vidisse legendos pro ad, numquam voluptatibus per ut, his quot prompta ad. Ius malis movet ea. Altera dissentiunt ut pro, mundi ignota ad sed.

                li.offset-top-30
                  ul.list-inline.list-xs-inline
                    li
                      span.text-bold.text-uppercase.big Alex Ross
                    li.star-raiting
                      span.big
                        span.big
                          span.mdi.mdi-star.text-warning
                          span.mdi.mdi-star.text-warning
                          span.mdi.mdi-star.text-warning
                          span.mdi.mdi-star.text-warning
                          span.mdi.mdi-star.text-warning
                  p.offset-top-10
                    | Qui an veri illum incorrupte. Cu has assum laboramus gloriatur, mea ea meis ferri definitionem, quod percipit evertitur ad qui. Altera omittam moderatius id vis, at vix quod bonorum dolorum. Ei pro graecis reformidans, nisl percipitur ullamcorper vis eu.

                li.offset-top-30
                  ul.list-inline.list-xs-inline
                    li
                      span.text-bold.text-uppercase.big Diana Roe
                    li.star-raiting
                      span.big
                        span.big
                          span.mdi.mdi-star.text-warning
                          span.mdi.mdi-star.text-warning
                          span.mdi.mdi-star.text-warning
                          span.mdi.mdi.mdi-star-outline.text-warning
                          span.mdi.mdi.mdi-star-outline.text-warning
                  p.offset-top-10
                    | Eius munere cum no. Alia ridens corpora ea his. Sed etiam ignota eu. Vidisse legendos pro ad, numquam voluptatibus per ut, his quot prompta ad. Ius malis movet ea. Altera dissentiunt ut pro, mundi ignota ad sed.

                li.offset-top-30
                  ul.list-inline.list-xs-inline
                    li
                      span.text-bold.text-uppercase.big Sara Cole
                    li.star-raiting
                      span.big
                        span.big
                          span.mdi.mdi-star.text-warning
                          span.mdi.mdi-star.text-warning
                          span.mdi.mdi-star.text-warning
                          span.mdi.mdi.mdi-star.text-warning
                          span.mdi.mdi.mdi-star-half.text-warning
                  p.offset-top-10
                    | No sit case indoctum, ad dicta singulis deterruisset vel. Mea ne nusquam corpora percipit, at ponderum rationibus sea, ubique invenire adolescens pri cu. Est maiorum omittantur ei. Et pro nisl insolens tincidunt, nam equidem maiorum tincidunt eu, magna tibique id vim

            div
              | Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well. Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well. Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well. Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well. Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.


    // Bootstrap Tabs
    section.offset-top-98.offset-md-top-110
      .shell
        h1 Bootstrap Tabs
        hr.divider.bg-mantis
        .offset-sm-top-66.text-left
          +tabs-bootstrap('tabs-1',
        [{
          'tabId': 'tab11',
          'title': 'Tab 1',
          'description': '<p><span class="text-bold">Our professional services are the keys to your success</span><p>Nowadays, almost everyone has a website.Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.    </p> <p> The information should be not only well-organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey. Adorn posts with bold imagery, and users will get more interested and involved.</p>'
          },
          {
            'tabId': 'tab22',
            'title': 'Tab 2',
            'description': '<p>Nowadays, almost everyone has a website.Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well. </p> <p> The information should be not only well-organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey. Adorn posts with bold imagery, and users will get more interested and involved.</p>'
          },
          {
            'tabId': 'tab33',
            'title': 'Tab 3',
            'description': '<p>Nowadays, almost everyone has a website.Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well. </p> <p> The information should be not only well-organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey. Adorn posts with bold imagery, and users will get more interested and involved.</p>'
          }])


    // Bootstrap Pills
    section.offset-top-98.offset-md-top-110
      .shell
        h1 Bootstrap Pills
        hr.divider.bg-mantis
        .offset-sm-top-66.text-left
          +tabs-bootstrap-pills('tabs-2',
        [{
          'tabId': 'tab1',
          'title': 'Tab 1',
          'description': '<p><span class="text-bold big">Our professional services are the keys to your success</span><p>Nowadays, almost everyone has a website.Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.    </p> <p> The information should be not only well-organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey. Adorn posts with bold imagery, and users will get more interested and involved.</p>'
          },
          {
            'tabId': 'tab2',
            'title': 'Tab 2',
            'description': '<p>Nowadays, almost everyone has a website.Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well. </p> <p> The information should be not only well-organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey. Adorn posts with bold imagery, and users will get more interested and involved.</p>'
          },
          {
            'tabId': 'tab3',
            'title': 'Tab 3',
            'description': '<p>Nowadays, almost everyone has a website.Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well. </p> <p> The information should be not only well-organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey. Adorn posts with bold imagery, and users will get more interested and involved.</p>'
          }])


    // Bootstrap Pills (Stacked)
    section.offset-top-98.offset-md-top-110
      .shell
        h1 Bootstrap Pills (Stacked)
        hr.divider.bg-mantis
        .offset-sm-top-66.text-left
          +tabs-bootstrap-pills-stacked('tabs-3',
        [{
          'tabId': 'tab001',
          'title': 'Tab 1',
          'description': '<p><span class="text-bold big">Our professional services are the keys to your success</span><p>Nowadays, almost everyone has a website.Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.    </p> <p> The information should be not only well-organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey. Adorn posts with bold imagery, and users will get more interested and involved.</p>'
          },
          {
            'tabId': 'tab002',
            'title': 'Tab 2',
            'description': '<p>Nowadays, almost everyone has a website.Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well. </p> <p> The information should be not only well-organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey. Adorn posts with bold imagery, and users will get more interested and involved.</p>'
          },
          {
            'tabId': 'tab003',
            'title': 'Tab 3',
            'description': '<p>Nowadays, almost everyone has a website.Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well. </p> <p> The information should be not only well-organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey. Adorn posts with bold imagery, and users will get more interested and involved.</p>'
          }])

  // Page Footers
  include ../sections/_section-footer-default