extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-testimonials-type-1
include ../elements/_ui-testimonials-type-2
include ../elements/_ui-testimonials-type-3
include ../elements/_ui-testimonials-type-4
include ../elements/_ui-testimonials-slider
include ../elements/_ui-testimonials-slider-2
include ../elements/_ui-testimonials-slider-3
include ../elements/_ui-testimonials-slider-4
include ../elements/_ui-testimonials-slider-5
include ../elements/_ui-quote-simple
include ../elements/_ui-quote-simple-slider
include ../elements/_ui-rd-parallax

//-Title
block title
  title= cfg.nav.components.submenu.toolkitComponents.submenu.testimonials.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
      'rd-navbar-default rd-navbar-light',
      {
        "data-lg-auto-height": "true",
        "data-md-layout": 'rd-navbar-fixed',
        "data-lg-layout": 'rd-navbar-static',
        "data-lg-stick-up": 'true'
      },
      cfg.brand.logo,
      cfg.nav.components,
      cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.components.submenu.toolkitComponents.submenu.testimonials.title,
  "icon-lg " + cfg.nav.components.submenu.toolkitComponents.submenu.testimonials.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.components.title,
      "href": cfg.nav.components.href
    },
    2: {
      "title": cfg.nav.components.submenu.toolkitComponents.submenu.testimonials.title,
      "href": cfg.nav.components.submenu.toolkitComponents.submenu.testimonials.href
    }
  })

  // Page Content
  main.page-content
    section.section-98.section-sm-110
      //- Classic Testimonials
      .shell
        h2 Classic Testimonials
        hr.divider.divider-md.bg-mantis
        .range.range-xs-center.offset-top-66
          .cell-sm-8.cell-md-4
            +testimonials-type-1(
            {
              "width": 80,
              "height": 80,
              "src": "images/users/user-alex-merphy-80x80.jpg",
              "alt": ""
            },
            "Alex Merphy",
            "Ceo/Founder at demolink.com",
            "Got really enjoyable experience with your product. Easy set up is a huge plus. I even didn’t turn to support service."
            )
          .cell-sm-8.cell-md-4.offset-top-41.offset-md-top-0
            +testimonials-type-1(
            {
              "width": 80,
              "height": 80,
              "src": "images/users/user-amanda-smith-80x80.jpg",
              "alt": ""
            },
            "Amanda Smith",
            "Ceo/Founder at demolink.com",
            "I guess I’ll be a returning client. Your Live Chat service is awesome. It allows to settle any issue 24/7."
            )
          .cell-sm-8.cell-md-4.offset-top-41.offset-md-top-0
            +testimonials-type-1(
            {
              "width": 80,
              "height": 80,
              "src": "images/users/user-july-mao-80x80.jpg",
              "alt": ""
            },
            "July Mao",
            "Ceo/Founder at demolink.com",
            "A superb product for the price. Easy to read instructions are really helpful. Excellent, have nothing to add."
            )

      //- Boxed Testimonials
      .shell.offset-top-98.offset-sm-top-110
        h2 Boxed Testimonials
        hr.divider.divider-md.bg-mantis
        .range.range-xs-center.offset-top-66
          .cell-sm-8.cell-md-4.cell-sm-8.cell-md-4
            +testimonials-type-2(
            {
              "width": 80,
              "height": 80,
              "src": "images/users/user-alex-merphy-80x80.jpg",
              "alt": ""
            },
            "Alex Merphy",
            "Ceo/Founder at demolink.com",
            "Got really enjoyable experience with your product. Easy set up is a huge plus. I even didn’t turn to support service."
            )
          .cell-sm-8.cell-md-4.offset-top-41.offset-md-top-0
            +testimonials-type-2(
            {
              "width": 80,
              "height": 80,
              "src": "images/users/user-amanda-smith-80x80.jpg",
              "alt": ""
            },
            "Amanda Smith",
            "Ceo/Founder at demolink.com",
            "I guess I’ll be a returning client. Your Live Chat service is awesome. It allows to settle any issue 24/7."
            )
          .cell-sm-8.cell-md-4.offset-top-41.offset-md-top-0
            +testimonials-type-2(
            {
              "width": 80,
              "height": 80,
              "src": "images/users/user-july-mao-80x80.jpg",
              "alt": ""
            },
            "July Mao",
            "Ceo/Founder at demolink.com",
            "A superb product for the price. Easy to read instructions are really helpful. Excellent, have nothing to add."
            )

      //- Boxed Testimonials v2
      .shell.offset-top-98.offset-sm-top-110
        h2 Boxed Testimonials v.2
        hr.divider.divider-md.bg-mantis
        .range.range-xs-center.offset-top-66
          .cell-sm-8.cell-md-4
            +testimonials-type-3(
            {
              "width": 80,
              "height": 80,
              "src": "images/users/user-alex-merphy-80x80.jpg",
              "alt": ""
            },
            "Alex Merphy",
            "Ceo/Founder at demolink.com",
            "Got really enjoyable experience with your product. Easy set up is a huge plus. I even didn’t turn to support service.",
            {
              "title": "h6 text-uppercase",
              "cite": "text-normal",
              "desc": "text-uppercase text-bold text-picton-blue"
            }
            )
          .cell-sm-8.cell-md-4.offset-top-41.offset-md-top-0
            +testimonials-type-3(
            {
              "width": 80,
              "height": 80,
              "src": "images/users/user-amanda-smith-80x80.jpg",
              "alt": ""
            },
            "Amanda Smith",
            "Ceo/Founder at demolink.com",
            "I guess I’ll be a returning client. Your Live Chat service is awesome. It allows to settle any issue 24/7.",
            {
              "title": "h6 text-uppercase",
              "cite": "text-normal",
              "desc": "text-uppercase text-bold text-picton-blue"
            }
            )
          .cell-sm-8.cell-md-4.offset-top-41.offset-md-top-0
            +testimonials-type-3(
            {
              "width": 80,
              "height": 80,
              "src": "images/users/user-july-mao-80x80.jpg",
              "alt": ""
            },
            "July Mao",
            "Ceo/Founder at demolink.com",
            "A superb product for the price. Easy to read instructions are really helpful. Excellent, have nothing to add.",
            {
              "title": "h6 text-uppercase",
              "cite": "text-normal",
              "desc": "text-uppercase text-bold text-picton-blue"
            }
            )
      //- Boxed Testimonials v2
      .shell.offset-top-98.offset-sm-top-110
        h2 Boxed Testimonials v.2
        hr.divider.divider-md.bg-mantis
        .range.range-xs-center.offset-top-66
          .cell-sm-8.cell-md-4
            +testimonials-type-3(
            {
              "width": 80,
              "height": 80,
              "src": "images/users/user-alex-merphy-80x80.jpg",
              "alt": ""
            },
            "Alex Merphy",
            "Ceo/Founder at demolink.com",
            "Got really enjoyable experience with your product. Easy set up is a huge plus. I even didn’t turn to support service.",
            {
              "title": "h6 text-uppercase",
              "cite": "text-normal",
              "desc": "text-uppercase text-bold text-picton-blue"
            }
            )
          .cell-sm-8.cell-md-4.offset-top-41.offset-md-top-0
            +testimonials-type-3(
            {
              "width": 80,
              "height": 80,
              "src": "images/users/user-amanda-smith-80x80.jpg",
              "alt": ""
            },
            "Amanda Smith",
            "Ceo/Founder at demolink.com",
            "I guess I’ll be a returning client. Your Live Chat service is awesome. It allows to settle any issue 24/7.",
            {
              "title": "h6 text-uppercase",
              "cite": "text-normal",
              "desc": "text-uppercase text-bold text-picton-blue"
            }
            )
          .cell-sm-8.cell-md-4.offset-top-41.offset-md-top-0
            +testimonials-type-3(
            {
              "width": 80,
              "height": 80,
              "src": "images/users/user-july-mao-80x80.jpg",
              "alt": ""
            },
            "July Mao",
            "Ceo/Founder at demolink.com",
            "A superb product for the price. Easy to read instructions are really helpful. Excellent, have nothing to add.",
            {
              "title": "h6 text-uppercase",
              "cite": "text-normal",
              "desc": "text-uppercase text-bold text-picton-blue"
            }
            )

    //- Testimonials Slider
    section.context-dark
      +rd-parallax({
        "backgroundSpeed": "0.35",
        "attrType": "media",
        "src": "images/backgrounds/background-03-1920x900.jpg",
        "htmlSpeed": "0"
      })
        .shell.section-98.section-sm-110
          h2 Testimonials Slider
          hr.divider.divider-md.bg-mantis
          .range.offset-top-50
            +testimonials-slider([{
              "image": {
                "width": 80,
                "height": 80,
                "src": "images/users/user-alex-merphy-80x80.jpg",
                "alt": "Alex Merphy"
              },
              "title": "Alex Merphy",
              "desc": "Freelance Developer",
              "q": "I am glad I’ve purchased a template from TemplateMonster. Extraordinary customer service, always available, perfect care and knowledge of the technicians. Essential if you are not an expert programmer. In any case highly recommended. Congratulations!"
            },
              {
                "image": {
                  "width": 80,
                  "height": 80,
                  "src": "images/users/user-july-mao-80x80.jpg",
                  "alt": "July Mao"
                },
                "title": "July Mao",
                "desc": "Freelance Developer",
                "q": "I am glad I’ve purchased a template from TemplateMonster. Extraordinary customer service, always available, perfect care and knowledge of the technicians. Essential if you are not an expert programmer. In any case highly recommended. Congratulations!"
              }])

    //- Testimonials Slider 2
    .shell.offset-top-98.offset-sm-top-110
      h2 Testimonials Slider v.2
      hr.divider.divider-md.bg-mantis
      .range.range-xs-center.offset-top-66
        .cell-sm-8
          +testimonials-slider-2([{
            "image": {
              "width": 80,
              "height": 80,
              "src": "images/users/user-alex-merphy-80x80.jpg",
              "alt": "Alex Merphy"
            },
            "title": "Alex Merphy",
            "desc": "Freelance Developer",
            "q": "I am glad I’ve purchased a template from TemplateMonster. Extraordinary customer service, always available, perfect care and knowledge of the technicians. Essential if you are not an expert programmer. In any case highly recommended. Congratulations!"
          },
            {
              "image": {
                "width": 80,
                "height": 80,
                "src": "images/users/user-july-mao-80x80.jpg",
                "alt": "July Mao"
              },
              "title": "July Mao",
              "desc": "Freelance Developer",
              "q": "I am glad I’ve purchased a template from TemplateMonster. Extraordinary customer service, always available, perfect care and knowledge of the technicians. Essential if you are not an expert programmer. In any case highly recommended. Congratulations!"
            }])

    //- Testimonials Slider  v.3
    .shell.offset-top-98.offset-sm-top-110
      h2 Testimonials Slider v.3
      hr.divider.divider-md.bg-mantis
      .range.range-xs-center.offset-top-50
        .cell-sm-8
          +testimonials-slider-3([{
            "image": {
              "width": 80,
              "height": 80,
              "src": "images/users/user-alex-merphy-80x80.jpg",
              "alt": "Alex Merphy"
            },
            "title": "Alex Merphy",
            "desc": "Freelance Developer",
            "q": "I am glad I’ve purchased a template from TemplateMonster. Extraordinary customer service, always available, perfect care and knowledge of the technicians. Essential if you are not an expert programmer. In any case highly recommended. Congratulations!"
          },
            {
              "image": {
                "width": 80,
                "height": 80,
                "src": "images/users/user-july-mao-80x80.jpg",
                "alt": "July Mao"
              },
              "title": "July Mao",
              "desc": "Freelance Developer",
              "q": "I am glad I’ve purchased a template from TemplateMonster. Extraordinary customer service, always available, perfect care and knowledge of the technicians. Essential if you are not an expert programmer. In any case highly recommended. Congratulations!"
            }])

    //- Testimonials Slider  v.4
    .shell.offset-top-98.offset-sm-top-110
      h2 Testimonials Slider v.4
      hr.divider.divider-md.bg-mantis
      .offset-top-50
        +testimonials-slider-4([{
          "image": {
            "width": 80,
            "height": 80,
            "src": "images/users/user-alex-merphy-80x80.jpg",
            "alt": "Alex Merphy"
          },
          "title": "Alex Merphy",
          "q": "Thank you for your prompt response and the help that you gave me. You always have a quick solution to any problem. What an excellent level of customer service!"
        },
          {
            "image": {
              "width": 80,
              "height": 80,
              "src": "images/users/user-july-mao-80x80.jpg",
              "alt": "July Mao"
            },
            "title": "July Mao",
            "q": "I just want to thank you for your help. I was so pleased and grateful. Keep up the excellent work. Your site provides the best support I have ever encountered."
          },
          {
            "image": {
              "width": 80,
              "height": 80,
              "src": "images/users/user-amanda-smith-80x80.jpg",
              "alt": "Amanda Smith"
            },
            "title": "Amanda Smith",
            "q": "Thank you very much for your rapid response. It's no doubt that your company is worth admiring! I have experienced the fastest support ever."
          },
          {
            "image": {
              "width": 80,
              "height": 80,
              "src": "images/users/user-alex-merphy-80x80.jpg",
              "alt": "Alex Merphy"
            },
            "title": "Alex Merphy",
            "q": "Thank you for your prompt response and the help that you gave me. You always have a quick solution to any problem. What an excellent level of customer service!"
          },
          {
            "image": {
              "width": 80,
              "height": 80,
              "src": "images/users/user-july-mao-80x80.jpg",
              "alt": "July Mao"
            },
            "title": "July Mao",
            "q": "I just want to thank you for your help. I was so pleased and grateful. Keep up the excellent work. Your site provides the best support I have ever encountered."
          },
          {
            "image": {
              "width": 80,
              "height": 80,
              "src": "images/users/user-amanda-smith-80x80.jpg",
              "alt": "Amanda Smith"
            },
            "title": "Amanda Smith",
            "q": "Thank you very much for your rapid response. It's no doubt that your company is worth admiring! I have experienced the fastest support ever."
          }])

    //- Testimonials Slider  v.5
    .shell.offset-top-98.offset-sm-top-110
      h2 Testimonials Slider v.5
      hr.divider.divider-md.bg-mantis
      .offset-top-50
        +testimonials-slider-5([{
          "image": {
            "width": 60,
            "height": 60,
            "src": "images/users/user-alex-merphy-60x60.jpg",
            "alt": "Alex Merphy"
          },
          "title": {
            "titleStyling": "h5 text-picton-blue",
            "titleDesc": "Alex Merphy"
          },
          "description": {
            "descStyling": "p text-dark",
            "desc": "Manager"
          },
          "quote": {
            "title": "Thank you for the assistance you provided in my job searching. During a short period of using your website I have found several vacancies where my skills can be used.",
            "styling": "h4 text-center text-italic",
            "firstDivider": "hr hr-gradient",
            "lastDivider": "hr hr-gradient"
          },
          "unitStyling": "unit unit-xs unit-xs-horizontal unit-spacing-sm text-xs-left",
        },
          {
            "image": {
              "width": 60,
              "height": 60,
              "src": "images/users/user-july-mao-60x60.jpg",
              "alt": "July Mao"
            },
            "title": {
              "titleStyling": "h5 text-picton-blue",
              "titleDesc": "July Mao"
            },
            "description": {
              "descStyling": "p text-dark",
              "desc": "Manager"
            },
            "quote": {
              "title": "I just want to thank you for your help. I was so pleased and grateful. Keep up the excellent work. Your site provides the best support I have ever encountered.",
              "styling": "h4 text-center text-italic",
              "firstDivider": "hr hr-gradient",
              "lastDivider": "hr hr-gradient"
            },
            "unitStyling": "unit unit-xs unit-xs-horizontal unit-spacing-sm text-xs-left",
          },
          {
            "image": {
              "width": 60,
              "height": 60,
              "src": "images/users/user-amanda-smith-60x60.jpg",
              "alt": "Amanda Smith"
            },
            "title": {
              "titleStyling": "h5 text-picton-blue",
              "titleDesc": "Amanda Smith"
            },
            "description": {
              "descStyling": "p text-dark",
              "desc": "Manager"
            },
            "quote": {
              "title": "Thank you very much for your rapid response. It's no doubt that your company is worth admiring! I have experienced the fastest support ever.",
              "styling": "h4 text-center text-italic",
              "firstDivider": "hr hr-gradient",
              "lastDivider": "hr hr-gradient"
            },
            "unitStyling": "unit unit-xs unit-xs-horizontal unit-spacing-sm text-xs-left",
          }])

    section.section-98.section-sm-110
      //- Outboxed Testimonials
      .shell
        h2 Outboxed Testimonials
        hr.divider.divider-md.bg-mantis
        .range.range-xs-center.offset-top-66
          .cell-sm-8.cell-md-4
            +testimonials-type-4(
            {
              "width": 80,
              "height": 80,
              "src": "images/users/user-alex-merphy-80x80.jpg",
              "alt": ""
            },
            "Alex Merphy",
            "Ceo/Founder at demolink.com",
            "Got really enjoyable experience with your product. Easy set up is a huge plus. I even didn’t turn to support service."
            )
          .cell-sm-8.cell-md-4.offset-top-41.offset-md-top-0
            +testimonials-type-4(
            {
              "width": 80,
              "height": 80,
              "src": "images/users/user-amanda-smith-80x80.jpg",
              "alt": ""
            },
            "Amanda Smith",
            "Ceo/Founder at demolink.com",
            "I guess I’ll be a returning client. Your Live Chat service is awesome. It allows to settle any issue 24/7."
            )
          .cell-sm-8.cell-md-4.offset-top-41.offset-md-top-0
            +testimonials-type-4(
            {
              "width": 80,
              "height": 80,
              "src": "images/users/user-july-mao-80x80.jpg",
              "alt": ""
            },
            "July Mao",
            "Ceo/Founder at demolink.com",
            "A superb product for the price. Easy to read instructions are really helpful. Excellent, have nothing to add."
            )

      //- Simple quote
      .shell.offset-top-98.offset-sm-top-110
        h2 Simple Quote
        hr.divider.divider-md.bg-mantis
        .range.range-xs-center
          .cell-sm-8

            +quote-simple(
            {
              "title": "I am really happy I’ve purchased a template from TemplateMonster. Congratulations!",
              "styling": "p h3 text-center text-italic",
              "firstDivider": "hr hr-gradient",
              "lastDivider": "hr hr-gradient"
            })

      //- Simple Quotes Slider
      .shell.offset-top-98.offset-sm-top-110
        h2 Simple Quotes Slider
        hr.divider.divider-md.bg-mantis
        .range.range-xs-center.offset-top-50
          .cell-sm-6.cell-md-4
            +quote-simple-slider([{
              "title": "Alex Merphy",
              "q": "I am glad I’ve purchased a template from TemplateMonster. Extraordinary customer service, always available, perfect care and knowledge of the technicians. Essential if you are not an expert programmer. In any case highly recommended. Congratulations!"
            },
            {
              "title": "July Mao",
              "q": "I am glad I’ve purchased a template from TemplateMonster. Extraordinary customer service, always available, perfect care and knowledge of the technicians. Essential if you are not an expert programmer. In any case highly recommended. Congratulations!"
            }], "text-picton-blue")


  // Page Footers
  include ../sections/_section-footer-default