//- Includes
include ../elements/_ui-table-bootstrap

// Shop Checkout
section.section-98.section-sm-110
  .shell
    .rd-material-tabs.checkout-tabs
      .rd-material-tabs__list
        ul
          li
            a(href='#') 1. Shopping Cart
          li
            a(href='#') 2. Shipping Info
          li
            a(href='#') 3. Payment Method

      .rd-material-tabs__container
        div
          .range.range-xs-center
            .cell-sm-10.cell-lg-8
              .table-responsive
                table.table
                  thead
                    tr
                      th
                      th Product
                      th Quantity
                      th Total
                  tbody
                    tr
                      th
                        .bg-lighter
                          img(src="images/product-03-70x70.png" width="70" height="70" alt="")
                      td.big.text-middle Castle Art Supplies Acrylic Paint Set Pack of 12 Colors
                      td.text-middle 1
                      td.text-middle $39.00
                    tr
                      th
                        .bg-lighter
                          img(src="images/product-02-70x70.png" width="70" height="70" alt="")
                      td.big.text-middle Artist Paint Brush Set Nylon Hair Watercolor Acrylic Oil Painting Supplies
                      td.text-middle 2
                      td.text-middle $199.00

              .offset-top-10.text-right

                p.text-bold Cart Subtotal: &nbsp; &nbsp; &nbsp; $238.00

                a.btn.btn-primary.btn-icon.btn-icon-right.offset-top-41.checkout-step-btn(data-index-to="1" href="#")
                  span.icon.mdi.mdi-chevron-double-right
                  | Shipping info
        div
          .range.range-xs-center
            .cell-sm-8
              form.rd-mailform.text-left(data-form-output="form-contact-me", data-form-type='contact', method='post')
                    .range.offset-top-0
                      .cell-sm-6
                        .form-group
                          label.form-label.form-label-outside.form-label-sm(for="shop-shipping-checkout-first-name") First Name
                          input#shop-shipping-checkout-first-name.form-control.form-control-impressed.input-sm(type="text" name="first-name" data-constraints="@Required")
                      .cell-sm-6.offset-top-0
                        .form-group.offset-top-24.offset-sm-top-0
                          label.form-label.form-label-outside.form-label-sm(for="shop-shipping-checkout-last-name") Last Name
                          input#shop-shipping-checkout-last-name.form-control.form-control-impressed.input-sm(type="text" name="last-name" data-constraints="@Required")
                    .range.offset-top-0
                      .cell-sm-6
                        .form-group.offset-top-24
                          label.form-label.form-label-outside.form-label-sm(for="shop-shipping-checkout-company") Company
                          input#shop-shipping-checkout-company.form-control.form-control-impressed.input-sm(type="text" name="company" data-constraints="@Required")
                      .cell-sm-6.offset-top-0
                        .form-group.offset-top-24
                          label.form-label.form-label-outside.form-label-sm(for="shop-shipping-checkout-city-town") City / Town
                          input#shop-shipping-checkout-city-town.form-control.form-control-impressed.input-sm(type="text" name="city-town" data-constraints="@Required")

                    .range.offset-top-0
                      .cell-sm-12
                        .form-group.offset-top-24
                          label.form-label.form-label-outside.form-label-sm(for="shop-shipping-checkout-address-first") Address
                          input#shop-shipping-checkout-address-first.form-control.form-control-impressed.input-sm(type="text" name="address-first" data-constraints="@Required")
                    .range.offset-top-0
                      .cell-sm-6
                        .form-group.offset-top-24
                          label.form-label.form-label-outside.form-label-sm(for="shop-shipping-checkout-email") E-Mail
                          input#shop-shipping-checkout-email.form-control.form-control-impressed.input-sm(type="email" name="email" data-constraints="@Required @Email")
                      .cell-sm-6.offset-top-0
                        .form-group.offset-top-24
                          label.form-label.form-label-outside.form-label-sm(for="shop-shipping-checkout-phone") Phone
                          input#shop-shipping-checkout-phone.form-control.form-control-impressed.input-sm(type="text" name="phone" data-constraints="@Required")

              .offset-top-24.text-right

                p
                  span.text-bold Shipping: &nbsp;&nbsp;&nbsp;
                  |Free Delivery
                a.btn.btn-primary.btn-icon.btn-icon-right.offset-top-24.checkout-step-btn(data-index-to="2" href="#")
                  span.icon.mdi.mdi-chevron-double-right
                  | Payment Method

        div
          .range.range-xs-center
            .cell-sm-6.cell-lg-4
              .table-responsive
                table.table
                  thead
                    tr
                      th Operations
                      th Result
                  tbody
                    tr
                      th Cart Subtotal
                      td $238.00
                    tr
                      th Shipping
                      td Free Delivery
                    tr
                      th Total
                      td.text-bold.text-ku-crimson $238.00

              form.text-left
                .form-group.offset-top-41.offset-lg-top-24
                  label.radio-inline
                    input(name="shop-checkout-radio", value="radio-1", type="radio" checked)
                    span.text-bold Direct Bank Transfer
                .form-group
                  label.radio-inline
                    input(name="shop-checkout-radio", value="radio-1", type="radio")
                    span.text-bold Cheque Payment
                .form-group
                  label.radio-inline
                    input(name="shop-checkout-radio", value="radio-1", type="radio")
                    span.text-bold Paypal
                .offset-top-34
                  a.btn.btn-icon.btn-icon-left.btn-primary(href="#")
                    span.icon.mdi.mdi-lock
                    | Place Order