//- Includes
include ../elements/_ui-quote-simple
include ../elements/_widget-post
include ../elements/_widget-tags
include ../elements/_ui-box-comment

// Single Post
section.text-left
  img.img-responsive(src="images/post-01-770x508.jpg" width="770" height="508" alt="")

  p.dropcap.dropcap-dark.offset-top-34.
    Today I would like to talk about some interesting art forms connected with handmade craft. They represent various handmade ideas that you will certainly find beneficial for your handmade craft skills as well as for your free time. Handmade has always been a field where anyone who has manual skills and desire to develop them can achieve great results. Though handmade craft was not very popular until recent years, it has always been present in various genres and styles of art themselves. Today we see the rise of handmade popularity. People do not only use handmade art as a source of ideas for gifts, but also as a basis for business. That’s why our website is devoted to the most popular and innovative art nowadays.
  p If you would like to discover the art of handmade gifts for yourself, the first step to make is to learn the basics of this art. As an experienced handmade artist, I recommend you to use various resources with handmade tutorials to assist you in grasping the secrets of handmade. My first advice is to get to know scrapbooking, or speaking naturally, methods of your photos and photo albums transformation.

  h4.text-regular Scrapbooking

  p A scrapbook is simply a decorated photo album that also preserves the stories behind the photos (called journaling), it can also hold memorabilia (tickets, certificates, letters, etc.). You might have a family album as well as smaller theme albums for vacations, home improvement or a baby’s first year. Some scrapbookers create an album for each family member, or even for their friends to make ordinary photo albums look awesome.

  p.big.text-bold.offset-top-24 Handmade toys and accessories

  p Making toys using your own imagination and hands has always been very popular. To my mind, even the most fastidious child will like a handmade toy, and it’s not only because it is made by his/her parent or relative. It is also a very original present, and none of your child’s friends will have the toy that looks just the same.

  img.img-responsive.offset-top-34(src="images/post-05-770x508.jpg" width="770" height="508" alt="")

  p.big.text-bold.offset-top-34 Decorations and bijouterie
  p The last but of course not the least on my list today are decorations and bijouterie or costume jewelry. These types of handmade craft represent an amazing possibility to add something new to your home’s interior. The biggest advantage here is your potential saving in comparison with original accessories that are very expensive.

  +quote-simple("I sincerely hope these tips will give you a direction to the beginning of your journey to the world of handmade art.")

  p If you still don’t know where to begin your studying and practice of handmade craft, we recommend using our website as your own guide. We pick out the most interesting tutorials, videos, and articles on the topic of your interest and publish them in our blog daily so you don’t need to search anywhere else.

  .group.offset-top-66
    a(href="#").btn.btn-danger.btn-icon.btn-icon-left.btn-ellipse
      span.icon.icon-xs.mdi.mdi-heart
      | like #[span.badge 521]
    a(href="#").btn.btn-sapphire.btn-icon.btn-icon-left.btn-ellipse
      span.icon.icon-xs.mdi.mdi-facebook
      | Share on facebook
    a(href="#").btn.btn-info.btn-icon.btn-icon-left.btn-ellipse
      span.icon.icon-xs.mdi.mdi-twitter
      | Share on Twitter

  .offset-top-34
    +widget-tags("btn btn-xs btn-default", [
      {"title": "handmade", "href": "#"},
      {"title": "scrapbooking", "href": "#"}
    ])

  hr.offset-top-66

  h4.offset-top-66.text-uppercase.text-spacing-120.text-center.text-bold Related Posts

  .range.offset-top-41.range-sm-center
    .cell-sm-10.cell-md-12
      .range
        .cell-sm-6
          +widget-post(cfg.nav.blog.submenu.blogPost.href, "05/14/2015", "Simple Handmade Techniques", {
            "w": 60,
            "h": 60,
            "src": "images/post-06-60x60.jpg",
            "alt": ""
          }, "", "text-picton-blue")
          .offset-top-24
            +widget-post(cfg.nav.blog.submenu.blogPost.href, "05/18/2015", "Interesting Handmade Ideas", {
              "w": 60,
              "h": 60,
              "src": "images/post-07-60x60.jpg",
              "alt": ""
            }, "", "text-picton-blue")

        .cell-sm-6.offset-top-24.offset-sm-top-0
          +widget-post(cfg.nav.blog.submenu.blogPost.href, "05/9/2015", "Handmade Interior Decoration", {
            "w": 60,
            "h": 60,
            "src": "images/post-08-60x60.jpg",
            "alt": ""
          },"", "text-picton-blue")

          .offset-top-24
            +widget-post(cfg.nav.blog.submenu.blogPost.href, "05/21/2015", "10 Reasons to Buy Handmade Gifts", {
              "w": 60,
              "h": 60,
              "src": "images/post-09-60x60.jpg",
              "alt": ""
            }, "", "text-picton-blue")

  hr.offset-top-66

  h4.offset-top-66.text-uppercase.text-spacing-120.text-center.text-bold Comments
  .offset-top-41

  //- Comment 1
  +box-comment(
  "box-comment-boxed",
  {
    "width": 60,
    "height": 60,
    "src": "images/user-july-mao-60x60.jpg",
    "alt": "July Mao"
  },
  "Feb 18, 9:14",
  "July Mao",
  "Great article! Now I don’t have to worry my head thinking what present to select because it’s easier to make it with my own hands."
  )
    //- Reply 1
    +box-comment(
    "box-comment-boxed",
    {
      "width": 60,
      "height": 60,
      "src": "images/user-john-doe-60x60.jpg",
      "alt": "John Doe"
    },
    "Feb  16, 7:46 PM",
    "John Doe",
    "Exactly! And the variety of things, decorations, and gifts that one can make is almost infinite, and this is what I like best about handmade craft."
    )

  //- Comment 2
  +box-comment(
  "box-comment-boxed",
  {
    "width": 60,
    "height": 60,
    "src": "images/user-alisa-milano-60x60.jpg",
    "alt": "Diana Russo"
  },
  "Feb  16, 7:42 PM",
  "Alisa Milano",
  "This website is a real discovery for me! Here I have found ideas for great gifts and toys for my relatives, parents, and children."
  )
  h5.text-center.offset-top-66.text-uppercase.text-spacing-120.text-bold Leave a comment
  form.rd-mailform.offset-top-0.text-left(data-form-output="form-contact-me", data-form-type='contact', method='post', action='bat/rd-mailform.php')
    .form-group
      label.form-label.form-label-outside(for="comment-message") Message:
      textarea#comment-message.form-control(data-constraints="@Required" style="height: 170px")
    .group-sm.text-left.offset-top-30
      button(type="submit").btn.btn-sm.btn-primary comment