//- twitter - RD Twitter Feed object

mixin rd-twitter(twitter)
  // RD Twitter Feed
  .twitter(data-twitter-username= twitter.dataBoxTwitterUserName data-twitter-date-format= twitter.dataBoxTwitterDateFormat data-twitter-date-hours= twitter.dataBoxTwitterDateHoursr data-twitter-date-minutes= twitter.dataBoxTwitterDateMinutes)
    block