include ../elements/_widget-post
include ../elements/_widget-form-subscribe
include ../elements/_widget-list-social

// Default footer
footer.section-relative.section-top-66.section-bottom-34.page-footer.bg-gray-base.context-dark
  .shell
    .range.range-sm-center.text-lg-left
      .cell-sm-8.cell-md-12
        .range.range-xs-center
          .cell-xs-7.text-xs-left.cell-md-4.cell-lg-3.cell-lg-push-4
            h6.text-uppercase.text-spacing-60 Latest news

            +widget-post("#", "05/14/2015", "Top 10 Apartments in LA", null)
            +widget-post("#", "05/14/2015", "Choosing a Rental Property", null)
            +widget-post("#", "05/14/2015", "Features of Mortgage Loans", null)

          .cell-xs-5.offset-top-41.offset-xs-top-0.text-xs-left.cell-md-3.cell-lg-2.cell-lg-push-3
            h6.text-uppercase.text-spacing-60 Useful Links
            .reveal-block
              .reveal-inline-block
                ul.list.list-marked
                  li
                    a(href="#") Properties
                  li
                    a(href="#") Amenities
                  li
                    a(href="#") Rentals
                  li
                    a(href="#") Mortgages
                  li
                    a(href="#") Agents

          .cell-xs-12.offset-top-41.cell-md-5.offset-md-top-0.text-md-left.cell-lg-4.cell-lg-push-2
            h6.text-uppercase.text-spacing-60 Newsletter

            p Keep up with the latest company news and events. Enter your e-mail and subscribe to our newsletter.

            .offset-top-30
              +widget-form-subscribe("Type your E-Mail", "form-subscribe-footer")

          .cell-xs-12.offset-top-66.cell-lg-3.cell-lg-push-1.offset-lg-top-0
            // Footer brand
            .footer-brand
              a(href=cfg.nav.home.href)
                | !{cfg.brand.logoInverse}
            p.text-darker.offset-top-4.inset-right-15.inset-lg-right-0.inset-lg-left-15 Real Estate

            +widget-list-social([
              {
                "icon": "fa fa-facebook",
                "href": "#"
              },
              {
                "icon": "fa fa-twitter",
                "href": "#"
              },
              {
                "icon": "fa fa-google-plus",
                "href": "#"
              },
              {
                "icon": "fa fa-linkedin",
                "href": "#"
              }
            ])

  .shell.offset-top-50
    p.small.text-darker
      | #{cfg.brand.name} &copy; #[span(id="copyright-year")] . #[a(href="privacy.html") Privacy Policy]
      // {%FOOTER_LINK}