mixin posts-list()
  .text-left
    a(href="#").reveal-inline-block.post.post-heading
      .post-date 05/14/2015
      .post-title Let's Change the world
  .text-left.offset-top-20
    a(href="#").reveal-inline-block.post.post-heading
      .post-date 05/14/2015
      .post-title The meaning of Web Design
  .text-left.offset-top-20
    a(href="#").reveal-inline-block.post.post-heading
      .post-date 05/14/2015
      .post-title Get Started with TemplateMonster