//- Embed Video
//- video - {video} Object
mixin video-embed(video)
  .embed-responsive(class="embed-responsive-" + video.ratio)
    iframe.embed-responsive-item(src=video.href + "?wmode=transparent")