//- url - expanded post link
//- date - publish date
//- title - Post title
//- media - {media} object
//- btn - {btn} object
include ../elements/_ui-thumbnail-classic
include ../elements/_ui-carousel-gallery-classic
include ../elements/_ui-video-embed
include ../elements/_ui-soundcloud-player-classic
mixin post-event-date(url, date, title, media, btn, isRight)
  // Post Event
  article.post.post-event(class= isRight && "post-event-right")
    // Post media
    if media
      header.post-media
        case media.type
          when "gallery"
            +carousel-gallery-classic(media.images)
          when "soundcloud"
            +soundcloud-player-classic(media)
          when "video"
            +video-embed(media)
          when "thumbnail"
            //- TODO: Remove this wrap on photoswipe init fix
            div(data-photo-swipe="gallery")
              +thumbnail-classic(media)
          default
            = ""
    // Post content
    section.post-content.text-left(class= media ? "offset-top-41" : "")

      // Post Title
      h3.offset-top-10
        a(href=url)= title

      // Post Body
      .post-body
        block
      if btn.key === "button"
        a.btn(href=url class= btn.btnClass).offset-top-30= btn.btnText

      // Post meta
      .post-meta.context-dark
        time(datetime="2016-01-01")
          span.post-meta-day= date.number
          span.big.text-uppercase.post-meta-month= date.month