//- type - alerts skin (pagination-custom-sm, pagination-custom-md, pagination-custom-lg)
//- amountList - array of list pagination
//- active - active pagination on the current page
//- size - size of buttons
//- nameListPrevious, nameListNext - navigation of pagination
//- alertBtnSize - buttons size
//- alertIconSize - icons size
//- isActive, isHidden - pagination links object
mixin pagination-sizing(type, amountList, active, size, nameListPrevious, nameListNext)
  // Bootstrap Pagination
  ul.pagination.pagination-custom.pager-custom(class= type)
    case type
      when "pagination-custom-sm"
        - var alertBtnSize = "btn-xs"
        - var alertIconSize = "icon-xxs"
      when "pagination-custom-md"
        - var alertBtnSize = "btn-sm"
        - var alertIconSize = "icon-xs"
      when "pagination-custom-lg"
        - var alertBtnSize = "btn-md"
        - var alertIconSize = "icon-sm"
    li.prev.veil.reveal-sm-inline-block.pull-left
      a.btn.btn-default(href='#' class= alertBtnSize)
        span(aria-hidden='true' class= alertIconSize).icon.mdi.mdi-arrow-left
        = nameListPrevious
    li.next.veil.reveal-sm-inline-block.pull-right
      a.btn.btn-default(href='#' class= alertBtnSize)
        = nameListNext
        span(aria-hidden='true' class= alertIconSize).icon.mdi.mdi-arrow-right
    li.start
      a.btn.btn-default.link(href='#', aria-label='Previous' class= alertBtnSize)
        span.icon.mdi.mdi-chevron-double-left(aria-hidden='true')
    each val, index in amountList
      - var isActive = (index == active - 1)? "active": ""
      - var isHidden = (index > 2)? "veil reveal-xs-inline-block": ""
      li(class="#{isHidden} #{isActive}")
        a.btn.btn-default(href='#' class= alertBtnSize)= val
    li.end
      a.btn.btn-default.link(href='#', aria-label='Next' class= alertBtnSize)
        span.icon.mdi.mdi-chevron-double-right(aria-hidden='true')
