extends  ../_skeleton

block variables
  - var activeIndex = 0
  - var pageName = 'Footer variant 3'

block title
  title=pageName

block menu
  include ../sections/_menu-perspective

block header
  include ../sections/_header-default

block page
  include ../sections/_section-placeholder

  //- Page Footer
  include ../sections/_footer-variant-3