extends  ../_skeleton

block variables
  - var activeIndex = 0
  - var pageName = 'Maintenance'
  - var bodyClass = 'one-screen-page'

block title
  title=pageName

block menu
  include ../sections/_menu-perspective

block header
  include ../sections/_header-default

block page
  //- Page Content
  section.section-sm.bg-periglacial-blue.one-screen-page-content.text-center
    .shell
      h2 Maintenance
      .p.text-width-smaller
        p.big Our website is currently under maintenance. We are preparing our website to give you the best user experience you can have on our website.

      a.btn.btn-sm.btn-style-1.btn-primary(href='index.html') Back to homepage
  ='\n'

  // Page Footer
  include ../sections/_footer-default