extends  ../_skeleton

//- Includes
include  ../elements/_ui-rd-parallax
include ../elements/_ui-testimonials-type-2
//-Title
block title
  title= cfg.nav.reviews.title

//- Page
block page

  // Page Head
  header.page-head
    //- RD Navbar
    +rd-navbar-top-panel(
    'rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.reviews,
    cfg.nav
    )
  // Page Content
  main.page-content
    // Breadcrumbs
    section.context-dark
      +rd-parallax({
        "backgroundSpeed": "0.35",
        "attrType": "media",
        "src": "images/bg-01-1920x718.jpg",
        "htmlSpeed": "0"
      })
        .bg-overlay-info
          .shell.section-34.section-sm-66.text-md-left
            div.veil.reveal-sm-block.reveal-md-inline-block
              h1.text-bold
                span.big Reviews
            div.pull-md-right.offset-sm-top-10.offset-md-top-41
              ul.p.list-inline.list-inline-dashed
                li.text-safety-orange
                  a(href= cfg.nav.home.href) Home
                li Reviews

    // Reviews
    section.section-98.section-md-124
      .shell
        h1.text-bold.text-primary Parent Reviews
        +svg-divider("bg-primary", "71", "13")
        .range.range-xs-center.offset-top-50
          .cell-xs-10.cell-sm-8
            p On this page, you can read current reviews of parents who chose our center for education of their children or submit your own testimonial. If you would like to share your opinion about our services with us, contact us using the form on our website. Our administrators will publish your review on this page in the shortest possible term.
        .range.range-xs-center.offset-top-66
          .cell-xs-10.cell-sm-7.cell-md-4
            +testimonials-type-2(
            {
              "width": 80,
              "height": 80,
              "src": "images/user-alex-ross-80x80.jpg",
              "alt": ""
            },
            "",
            "",
            "I love the great relationships my kids have made with your teachers and other kids. Your services are worth a medal!"
            )
          .cell-xs-10.cell-sm-7.cell-md-4.offset-top-50.offset-md-top-0
            +testimonials-type-2(
            {
              "width": 80,
              "height": 80,
              "src": "images/user-alisa-milano-80x80.jpg",
              "alt": ""
            },
            "",
            "",
            "My son was very shy and avoided active communication with other kids, but you helped him to adapt quickly, thank you!"
            )
          .cell-xs-10.cell-sm-7.cell-md-4.offset-top-50.offset-md-top-0
            +testimonials-type-2(
            {
              "width": 80,
              "height": 80,
              "src": "images/user-john-more-80x80.jpg",
              "alt": ""
            },
            "",
            "",
            "Your childcare services are just what I was looking for! Your teachers are qualified, and I will definitely recommend you to my friends."
            )
          .cell-xs-10.cell-sm-7.cell-md-4.offset-top-50
            +testimonials-type-2(
            {
              "width": 80,
              "height": 80,
              "src": "images/user-alisa-maskerano-80x80.jpg",
              "alt": ""
            },
            "",
            "",
            "I am amazed at the number of additional activities you offer. I am now sure that my son can be cared for in a friendly atmosphere."
            )

          .cell-xs-10.cell-sm-7.cell-md-4.offset-top-50
            +testimonials-type-2(
            {
              "width": 80,
              "height": 80,
              "src": "images/user-john-doe-80x80.jpg",
              "alt": ""
            },
            "",
            "",
            "My younger brother is very emotional, and your center became a place where he can feel comfortable and communicate with his peers."
            )
          .cell-xs-10.cell-sm-7.cell-md-4.offset-top-50
            +testimonials-type-2(
            {
              "width": 80,
              "height": 80,
              "src": "images/user-july-mao-80x80.jpg",
              "alt": ""
            },
            "",
            "",
            "I am so happy that you helped my children prepare for their first school year and find new friends and hobbies. Thanks a lot!"
            )

    // First Lesson - Free
    section.context-dark
      +rd-parallax({
        "backgroundSpeed": "0.35",
        "attrType": "media",
        "src": "images/bg-02-1920x748.jpg",
        "htmlSpeed": "0"
      })
        .shell.section-66.context-dark
          h1.text-bold Submit your review
          .range.range-xs-center.offset-top-20
            .cell-xs-10.cell-xs-8
              div
                p We will be glad to hear what you think about our center. E-mail us and share your opinion on our services.
              .offset-top-30
                a(href=cfg.nav.contacts.href).btn.btn-icon.btn-icon-left.btn-default
                  span.icon.mdi-email-outline.mdi
                  span Send us a letter

  // Page Footer
  include ../sections/_section-footer-default


