//
// Insets
// --------------------------------------------------

.inset-left-20 {
  padding-left: 20px;
}

.inset-left-27 {
  padding-left: 27px;
}

.inset-left-11p {
  padding-left: 11.6%;
}

.inset-right-27 {
  padding-right: 27px;
}

.inset-right-11p {
  padding-right: 11.6%;
}

.inset-right-7p {
  padding-right: 11.6%;
}

.inset-66 {
  padding-left: 66px;
  padding-right: 66px;
}

.inset-top-40 {
  padding-top: 40px;
}

.inset-top-30 {
  padding-top: 30px;
}

.inset-top-15 {
  padding-top: 15px;
}

.inset-bottom-80 {
  padding-bottom: 80px;
}

.inset-bottom-40 {
  padding-bottom: 40px;
}

.inset-none {
  padding: 0 !important;
}