-
  var cfg = {
    "type": "Dental Clinic",
    "brand": {
      "name": "Intense Dental Clinic",
      "slogan": "Dental Clinic",
      "logo": "<img width='138' height='52' src='images/logo.png' alt=''/>",
      "logoInverse": "<img width='240' height='31' src='images/logo-dark.png' alt=''/>"
    },
    "nav": {
      "home": {
        "title": "Home",
        "href": "index.html"
      },
      "aboutUs": {
        "title": "About",
        "href": "about-us.html"
      },
      "services": {
        "title": "Services",
        "href": "services.html",
        "submenu": {
          "link1": {
            "title": "General and Preventative Care",
            "href": "single-service.html"
          },
          "link2": {
            "title": "Cosmetic Solutions",
            "href": "single-service.html"
          },
          "link3": {
            "title": "Restorative Solutions",
            "href": "single-service.html"
          },
          "link4": {
            "title": "Additional Treatments",
            "href": "single-service.html"
          },
          "link5": {
            "title": "Orthodontics",
            "href": "single-service.html"
          },
          "link6": {
            "title": "Dentures & Denture Repair",
            "href": "single-service.html"
          },
          "link7": {
            "title": "Diagnostic & Preventative",
            "href": "single-service.html"
          },
          "singleService": {
            "title": "Single Service",
            "href": "single-service.html"
          },
        }
      },
      "schedule": {
        "title": "Schedule",
        "href": "schedule.html"
      },
      "blog": {
        "title": "News",
        "href": "blog.html",
        "submenu": {
          "blogPost": {
            "title": "Single Blog Post",
            "href": "blog-single-post.html"
          },
        }
      },
      "contacts": {
        "title": "Contacts",
        "href": "contacts.html"
      }
    }
  }