extends  ../_skeleton

//- Includes
include ../elements/_ui-rd-parallax

block title
	title History

block page
	// Page Header
	header.page-header.slider-menu-position
		+rd-navbar-default({
			"style": "",
			"logo": cfg.brand.logo,
			"logoFixed": cfg.brand.logoSmall,
			"activeLink": 2,
			"attr": {
				"data-layout": "rd-navbar-fixed",
				"data-sm-layout": "rd-navbar-fixed",
				"data-md-layout": "rd-navbar-fullwidth",
				"data-lg-layout": "rd-navbar-static"
			}
		})

		+breadcrumb("History", {
			0: {
				"type": "link",
				"title": cfg.nav.home.title,
				"href": cfg.nav.home.href
			},
			1: {
				"type": "link",
				"title": cfg.nav.about.title,
				"href": cfg.nav.about.href
			},
			2: {
				"type": "link",
				"title": "History",
				"href": "history.html"
			}
		}, "images/backgrounds/background-02-1920x900.jpg")

	// Page Content
	main.page-content

		// History
		section.section-75.section-md-top-90.section-md-bottom-95
			.shell
				div
					h1 History
				.offset-top-10
					h5.text-spacing-75 1994, John Smith

				.offset-top-30
					img.img-circle.img-responsive.center-block(src='images/users/user-john-smith-271x271.jpg', width='271', height='271', alt='')

				.range.range-xs-center.offset-top-30.text-left
					.cell-sm-5.cell-md-6
						p.text-spacing-0 City-Taxi was founded in 1994 by John Smith, a former taxi driver and current entrepreneur. After working for more than 10 years in transportation industry, he decided to establish his own company, which could reflect his interests in the industry of civil transportation.

					.cell-sm-5.cell-md-6.offset-top-30.offset-sm-top-0
						p.text-spacing-0 As a company that operates throughout the USA with a vast and developed partner network, City-Taxi provides taxicab services in big cities, at many central airports, and other locations. Our service range is constantly
							| developing, and that’s one of the reasons why people love us.

				.range.range-xs-center.offset-top-15
					.cell-sm-10.cell-lg-8
						span.icon.material-icons-ico.material-icons-format_quote.text-alto

						.offset-top-20
							p.text-mine-shaft Taxis and cabs have always been my passion since I entered this industry. I’m glad that my dream has not only become a reality, but also helps people all over the US to reach the goals they set using City-Taxi. I promise that in the future our services will only be better!

						.offset-top-20
							!{cfg.brand.svgDivider}


		// 1987, first trip
		section
			.shell
				h5.text-spacing-75 1994, the beginning

			.range.range-condensed.offset-top-30
				.owl-carousel.owl-nav-primary.owl-fullwidth-items(data-items='1' data-sm-items='2' data-stage-padding='-20' data-loop='true' data-margin='0' data-mouse-drag="false" data-nav='true' data-dots="true")
					.owl-item
						// Post Inspiration
						.post-inspiration.post-inspiration-img-auto-height
							.post-inspiration-img-wrap
								img(src="images/blog/post-22-960x692.jpg" width="960" height="692" alt="")
							.post-inspiration-body
								.veil.reveal-sm-inline-block.text-bottom(style="margin-bottom: 20px;")
									img.img-responsive.center-block(src="images/divider-01-67x4.png" width="67" height="4" alt="")


								.veil.reveal-sm-inline-block
									span.icon.icon-lg.thin-ico.thin-icon-car.text-white

								.veil.reveal-sm-inline-block.text-bottom(style="margin-bottom: 20px;")
									img.img-responsive.center-block(src="images/divider-01-67x4.png" width="67" height="4" alt="")

								.offset-top-20
									h5.text-spacing-50 Fleet update

								.offset-top-30
									p.text-spacing-0 After gaining some popularity among local residents,
										br.veil.reveal-md-inline-block
										| City-Taxi decided to offer more to our
										br.veil.reveal-md-inline-block
										| clients by extending fleet.

					.owl-item
						// Post Inspiration
						.post-inspiration.post-inspiration-img-auto-height
							.post-inspiration-img-wrap
								img(src="images/blog/post-23-960x692.jpg" width="960" height="692" alt="")
							.post-inspiration-body
								.veil.reveal-sm-inline-block.text-bottom(style="margin-bottom: 20px;")
									img.img-responsive.center-block(src="images/divider-01-67x4.png" width="67" height="4" alt="")


								.veil.reveal-sm-inline-block
									span.icon.icon-lg.thin-ico.thin-icon-car.text-white

								.veil.reveal-sm-inline-block.text-bottom(style="margin-bottom: 20px;")
									img.img-responsive.center-block(src="images/divider-01-67x4.png" width="67" height="4" alt="")

								.offset-top-20
									h5.text-spacing-50 Fleet update

								.offset-top-30
									p.text-spacing-0 After gaining some popularity among local residents,
										br.veil.reveal-md-inline-block
										| City-Taxi decided to offer more to our
										br.veil.reveal-md-inline-block
										| clients by extending fleet.

			// 1990, first investment
			.shell.offset-top-80
				h5.text-spacing-75 1999, first big success

				.range.range-xs-center.offset-top-20.text-left
					.cell-sm-5.cell-md-6
						p.text-spacing-0 1999 was a great year for our company! With financial stability just about recovered, we were going to build a bigger team and extend the range of offered services. It helped us to achieve more. City-Taxi became more popular, and it reflected on the level of monthly income from our services.

					.cell-sm-5.cell-md-6.offset-top-20.offset-sm-top-0
						p.text-spacing-0 The benefit that City-Taxi offered the city was also unprecedented. No other taxi service provider could boast of city administration support. We were different in this concern, and it allowed us to promote our services beyond Los Angeles. Soon the offices in other cities were established.

				.offset-top-15
					!{cfg.brand.svgDivider}

				.range.range-xs-center.list-index-lg.offset-md-top-15
					.cell-sm-10.cell-md-4
						.inset-lg-left-30.inset-lg-right-10
							.list-index-counter.h2.text-silver-chalice.text-spacing-inverse-75

							.offset-top-10
								p.text-spacing-0.text-mine-shaft We opened a new office in San Francisco, and there we gathered a team of dedicated and professional drivers and dispatchers.

							.offset-top-10
								h5.text-spacing-20.text-silver-chalice ...


					.cell-sm-10.cell-md-4.offset-top-64.offset-md-top-0
						.inset-lg-left-30.inset-lg-right-10
							.list-index-counter.h2.text-silver-chalice.text-spacing-inverse-75

							.offset-top-10
								p.text-spacing-0.text-mine-shaft At the same time, we continued our
									| cooperation with American vehicle
									| manufacturers, such as Ford and GM.

							.offset-top-10
								h5.text-spacing-20.text-silver-chalice ...


					.cell-sm-10.cell-md-4.offset-top-64.offset-md-top-0
						.list-index-counter.h2.text-silver-chalice.text-spacing-inverse-75

						.offset-top-10
							p.text-spacing-0.text-mine-shaft On the other side, we attracted new members into our team who made a great contribution into our company’s development.

						.offset-top-10
							h5.text-spacing-20.text-silver-chalice ...

		section.context-dark.offset-top-95
			+rd-parallax({
				"on": "false",
				"MdOn": "true",
				"firstLayerType": "media",
				"firstLayerSpeed": "0.25",
				"src": "images/backgrounds/background-07-1920x900.jpg",
				"secondLayerType": "html",
				"secondLayerSpeed": "0",
				"fade": "false"
			})
				.shell.section-75.section-md-top-115.section-md-bottom-103
					h5.text-spacing-75 2000-2010, PROSPEROUS YEARS

					.range.range-xs-center.offset-top-25.text-left
						.cell-sm-5.cell-md-6
							p.text-spacing-0 These ten years were decisive. Of course, from the beginning, we were
								| concentrated on offering high-quality taxi services, but with time it became necessary to not just improve their level, but also to introduce something new. One of such innovations became a true success.

						.cell-sm-5.cell-md-6.offset-top-30.offset-sm-top-0
							p.text-spacing-0 With the development of tourist services all over the world, taxis as a part of transportation industry, also began to offer services for tourists. Since 2001, we have been offering sightseeing services to all our customers as well as guests of the US.

					.range.range-xs-center.offset-top-15
						.cell-sm-10.cell-lg-8
							span.icon.material-icons-ico.material-icons-format_quote(style="color:rgba(255, 255, 255, 0.3)")

							.offset-top-20
								p Thank you for your services! There is no other taxi company who could not just give a qualified driver to deliver a customer from point A to point B, but also to provide an element of
									| entertainment to tourists coming to your country. This can be hardly met anywhere else.

							.offset-top-25
								div
									p.font-accent.text-bold.text-spacing-inverse-25
										a(href="single-member.html") James Wilson
								.offset-top-0
									p.font-accent.text-bold.text-spacing-inverse-25 (client)

								.offset-top-15
									svg(width='135', height='2', viewbox='0 0 134 2')
										line(x1='0', y1='2', x2='134', y2='2', style='stroke: rgba(255,255,255,.3); stroke-width: 4;')

		section.section-75.section-md-top-103.section-md-bottom-103
			.shell
				.range.range-xs-center
					.cell-sm-10
						h5.text-spacing-75 2011, new office in new york

						.offset-top-25
							.inset-lg-left-40.inset-lg-right-40
								p.text-spacing-0 To introduce City-Taxi services to new clients, we opened our first New York office in 2011. It instantly showed great results. Our fleet increased by 20 cars and 5 vans, and our team welcomed a lot of new drivers, dispatchers, and managers.

						.offset-top-30
							img.img-responsive.center-block(src="images/blog/post-13-570x425.jpg" width="570" height="425"  alt="")

						.btn-both-lines.btn-both-lines-gray-lighter.offset-top-35.center-block(style="max-width:570px;")
							a.btn.btn-calypso(href="faq.html" style="min-width:245px;") Learn more

			.shell.offset-top-105
				.range.range-xs-center
					.cell-sm-10
						h5.text-spacing-0 2016

						.offset-top-20.offset-md-top-0
							h2.text-spacing-inverse-50 We are open for innovations and partnership

						.offset-top-10
							.veil.reveal-sm-inline-block.text-bottom(style="margin-bottom: 20px;")
								img.img-responsive.center-block(src="images/divider-01-220x4-darker.png" width="220" height="4" alt="")

							.veil.reveal-sm-inline-block
								span.icon.icon-lg.thin-ico.thin-icon-car.text-mine-shaft

							.veil.reveal-sm-inline-block.text-bottom(style="margin-bottom: 20px;")
								img.img-responsive.center-block(src="images/divider-01-220x4-darker.png" width="220" height="4" alt="")

	// Page Footer
	include ../sections/_footer-default