extends  ../_skeleton

block title
  title Register

block page
  // Page Header
  header.page-header.slider-menu-position
    +rd-navbar-default({
      "style": "",
      "logo": cfg.brand.logo,
      "logoFixed": cfg.brand.logoSmall,
      "activeLink": 8,
      "attr": {
        "data-layout": "rd-navbar-fixed",
        "data-sm-layout": "rd-navbar-fixed",
        "data-md-layout": "rd-navbar-fullwidth",
        "data-lg-layout": "rd-navbar-static"
      }
    })

    +breadcrumb("Register", {
      0: {
        "type": "link",
        "title": cfg.nav.home.title,
        "href": cfg.nav.home.href
      },
      1: {
        "type": "link",
        "title": cfg.nav.pages.title,
        "href": cfg.nav.pages.href
      },
      2: {
        "type": "link",
        "title": "Register",
        "href": "Register.html"
      }
    }, "images/backgrounds/background-02-1920x900.jpg")

  // Page Content
  main.page-content.section-75.section-md-top-90.section-md-bottom-110

    // Register
    section
      .shell
        div
          h1 Create an account

        .range.range-xs-center.offset-top-44
          .cell-md-10.cell-lg-8
            // RD Mailform
            form.rd-mailform
              .range.range-xs-center
                .cell-sm-6
                  .form-group
                    label.form-label(for="register-name") Name
                    input#register-name.form-control(type="text" name="name" data-constraints='@Required')
                .cell-sm-6.offset-top-15.offset-sm-top-0
                  .form-group
                    label.form-label(for="register-username") Username
                    input#register-username.form-control(type="text" name="username" data-constraints='@Required')
                .cell-sm-6.offset-top-15
                  .form-group
                    label.form-label(for="register-email") Email
                    input#register-email.form-control(type="email" name="email" data-constraints="@Email @Required")
                .cell-sm-6.offset-top-15
                  .form-group
                    label.form-label(for="register-password") Password
                    input#register-password.form-control(type="password" name="password" data-constraints='@Required')
              .offset-top-35
                button(type="submit").btn.btn-primary create an account

            .offset-top-20
              !{cfg.brand.svgDivider}

            // socials buttons
            .offset-top-30
              p.font-accent.text-uppercase.text-bold.text-spacing-25.text-mine-shaft or enter with

            .group.group-xs.btn-tags.offset-top-30
              a.btn.btn-info.btn-icon.btn-icon-left(href="#")
                span.icon.icon-xs.fa.fa-facebook
                span.text-lowercase.text-regular.text-spacing-0.font-default facebook
              a.btn.btn-curious-blue.btn-icon.btn-icon-left(href="#")
                span.icon.icon-xs.fa.fa-twitter
                span.text-lowercase.text-regular.text-spacing-0.font-default twitter
              a.btn.btn-mandy.btn-icon.btn-icon-left(href="#")
                span.icon.icon-xs.fa.fa-google-plus
                span.text-lowercase.text-regular.text-spacing-0.font-default google +


  // Page Footer
  include ../sections/_footer-default