extends  ../_skeleton

//- Includes
include ../elements/_ui-box-icon

block title
	title Services

block page
	// Page Header
	header.page-header.slider-menu-position
		+rd-navbar-default({
			"style": "",
			"logo": cfg.brand.logo,
			"logoFixed": cfg.brand.logoSmall,
			"activeLink": 8,
			"attr": {
				"data-layout": "rd-navbar-fixed",
				"data-sm-layout": "rd-navbar-fixed",
				"data-md-layout": "rd-navbar-fullwidth",
				"data-lg-layout": "rd-navbar-static"
			}
		})

		+breadcrumb("Services", {
			0: {
				"type": "link",
				"title": cfg.nav.home.title,
				"href": cfg.nav.home.href
			},
			1: {
				"type": "link",
				"title": cfg.nav.pages.title,
				"href": cfg.nav.pages.href
			},
			2: {
				"type": "link",
				"title": "Services",
				"href": "services.html"
			}
		}, "images/backgrounds/background-02-1920x900.jpg")

	// Page Content
	main.page-content.section-75.section-md-top-90.section-md-bottom-110

		// Services
		section
			.shell
				div
					h1 Services

					.offset-top-50
						.range.range-xs-center
							.cell-sm-10.cell-md-4
								// Box Icon
								.box-icon
									span.icon.icon-lg.thin-ico.thin-icon-storage.text-primary
									.offset-top-20
										.h5.text-uppercase.text-spacing-25
											a.text-primary(href="#") taxi service
									.offset-top-30
										p.text-extra-small
											| Wherever you need to go, City-Taxi is ready to take you there, day or night. Our helpful, friendly drivers are very familiar with the area, so whether you’re a businessperson going to work or a visitor who wants to see all the attractions that the city has to offer, we can handle all your travel needs.
								.offset-top-20
									h5.text-spacing-20.text-silver-chalice ...
							.cell-sm-10.cell-md-4.offset-top-85.offset-md-top-0
								// Box Icon
								.box-icon
									span.icon.icon-lg.thin-ico.thin-icon-layers.text-primary
									.offset-top-20
										.h5.text-uppercase.text-spacing-25
											a.text-primary(href="#") Corporate
									.offset-top-30
										p.text-extra-small
											| Looking to provide transportation around town for your employees, clients or colleagues? We offer services to a wide range of corporate clients, including businesses, law firms, investment banks, local governments and school systems, hotels and hospitals.
								.offset-top-20
									h5.text-spacing-20.text-silver-chalice ...
							.cell-sm-10.cell-md-4.offset-top-85.offset-md-top-0
								// Box Icon
								.box-icon
									span.icon.icon-lg.thin-ico.thin-icon-user.text-primary
									.offset-top-20
										.h5.text-uppercase.text-spacing-25
											a.text-primary(href="#") Private driver
									.offset-top-30
										p.text-extra-small
											| Private Driver service is available between numerous locations of Los Angeles, New York, Seattle, and other big American cities. This service allows your driver to meet you at agreed location  and escort you to your sedan, or pick you up at your hotel or home.
								.offset-top-20
									h5.text-spacing-20.text-silver-chalice ...

						.offset-top-44
							!{cfg.brand.svgDivider}

						.offset-top-90
							h2 Hassle-Free, #[br.veil.reveal-md-inline-block] Reliable Shuttle Service

						.range.range-xs-center.offset-top-25.offset-md-top-44.text-left
							.cell-sm-6.cell-lg-5
								p.text-spacing-0 Looking for a reliable and affordable airport shuttle service? We can offer you what you really need. Our shuttle service is valued for its safety and safety. From share ride vans to private shuttle buses, we can provide you with a number of possible vehicle options to help you get to your destination.

							.cell-sm-6.cell-lg-5.offset-top-44.offset-sm-top-0
								p.text-spacing-0 We've had thousands of satisfied customers compliment their courteous drivers and on time pick up and drop off service over the years. With us you can save money and get high-quality service. However, we are not limited to shuttle service. Below is a list of other services that you may find interesting.

						.offset-top-23
							!{cfg.brand.svgDivider}

						.range.range-xs-center.range-lg-left.offset-top-35.text-center
							.cell-xs-8.cell-sm-6.cell-lg-3.cell-lg-preffix-4
								// List
								ul.list-marked.list-marked-mine-shaft.p.text-left
									li
										a.text-mine-shaft(href='#') Sightseeing Tours
									li.offset-top-15
										a.text-mine-shaft(href='#') Parcel Delivery
									li.offset-top-15
										a.text-mine-shaft(href='#') Lost Property
									li.offset-top-15
										a.text-mine-shaft(href='#') Hospitality Transportation
									li.offset-top-15
										a.text-mine-shaft(href='#') Medical Transportation
									li.offset-top-15
										a.text-mine-shaft(href='#') Special Services

						.offset-top-23
							!{cfg.brand.svgDivider}


	// Page Footer
	include ../sections/_footer-default