-
	var cfg = {
		"themes": {
			"restaurant": {
				"title": "Intense Restaurant",
				"desc": "Best for restaurants and cafes",
				"href": "intense-restaurant",
				"image": { "src": "images/childs/intense-restaurant-570x428.jpg", "width": 570, "height": 428, "alt": "" }
			},
			"photographer": {
				"title": "Intense Photographer",
				"desc": "Best for individual photographers",
				"href": "intense-photographer-portfolio",
				"image": { "src": "images/childs/intense-photographer-570x428.jpg", "width": 570, "height": 428, "alt": "" }
			},
			"personalBlog": {
				"title": "Intense Personal Blog",
				"desc": "Best for individual bloggers",
				"href": "intense-personal-blog",
				"image": { "src": "images/childs/intense-personal-blog-570x428.jpg", "width": 570, "height": 428, "alt": "" }
			},
			"realEstate": {
				"title": "Intense Real Estate",
				"desc": "Best for property agencies",
				"href": "intense-real-estate",
				"image": { "src": "images/childs/intense-real-estate-570x428.jpg", "width": 570, "height": 428, "alt": "" }
			},
			"handmade": {
				"title": "Intense Handmade",
				"desc": "Best for handmade fans",
				"href": "intense-handmade",
				"image": { "src": "images/childs/intense-handmade-570x428.jpg", "width": 570, "height": 428, "alt": "" }
			},
			"dentalClinic": {
				"title": "Intense Dental Clinic",
				"desc": "Best for professional dentists",
				"href": "intense-dental-clinic",
				"image": { "src": "images/childs/intense-dental-clinic-570x428.jpg", "width": 570, "height": 428, "alt": "" }
			},
			"financialAdvisor": {
				"title": "Intense Financial Advisor",
				"desc": "Best for financial companies",
				"href": "intense-financial-analytic",
				"image": { "src": "images/childs/intense-financial-advisor-570x428.jpg", "width": 570, "height": 428, "alt": "" }
			},
			"gym": {
				"title": "Intense Gym",
				"desc": "Best for sport clubs",
				"href": "intense-gym",
				"image": { "src": "images/childs/intense-gym-570x428.jpg", "width": 570, "height": 428, "alt": "" }
			},
			"childCare": {
				"title": "Intense Child Care",
				"desc": "Best for child care services",
				"href": "intense-child-care",
				"image": { "src": "images/childs/intense-child-care-570x428.jpg", "width": 570, "height": 428, "alt": "" }
			},
			"jobBoard": {
				"title": "Intense Job Board",
				"desc": "Best for employment services",
				"href": "intense-job-board",
				"image": { "src": "images/childs/intense-job-board-570x428.jpg", "width": 570, "height": 428, "alt": "" }
			},
			"product": {
				"title": "Intense Product",
				"desc": "Best for IT products",
				"href": "intense-landings/intense-product/",
				"image": { "src": "images/childs/intense-product-570x428.jpg", "width": 570, "height": 428, "alt": "" }
			},
			"app": {
				"title": "Intense app",
				"desc": "Best for applications",
				"href": "intense-landings/intense-application/",
				"image": { "src": "images/childs/intense-aplication-570x428.jpg", "width": 570, "height": 428, "alt": "" }
			},
			"book": {
				"title": "Intense book",
				"desc": "Best for books",
				"href": "intense-landings/intense-book/",
				"image": { "src": "images/childs/intense-book-570x428.jpg", "width": 570, "height": 428, "alt": "" }
			},
			"startup": {
				"title": "Intense startup",
				"desc": "Best for startups",
				"href": "intense-landings/intense-startup/",
				"image": { "src": "images/childs/intense-startup-570x428.jpg", "width": 570, "height": 428, "alt": "" }
			},
			"travel": {
				"title": "Intense travel",
				"desc": "Best for travel agencies",
				"href": "intense-landings/intense-travel/",
				"image": { "src": "images/childs/intense-travel-570x428.jpg", "width": 570, "height": 428, "alt": "" }
			},
			"event": {
				"title": "Intense event",
				"desc": "Best for meetup",
				"href": "intense-landings/intense-event/",
				"image": { "src": "images/childs/intense-event-570x428.jpg", "width": 570, "height": 428, "alt": "" }
			},
			"taxi": {
				"title": "Intense taxi",
				"desc": "Best for taxi",
				"href": "intense-taxi/",
				"image": { "src": "images/childs/intense-taxi-570x428.jpg", "width": 570, "height": 428, "alt": "" }
			},
			"barbershop": {
				"title": "Intense barbershop",
				"desc": "Best for barbershop",
				"href": "intense-barbershop/",
				"image": { "src": "images/childs/intense-barbershop-570x428.jpg", "width": 570, "height": 428, "alt": "" }
			},
			"petshop": {
				"title": "Intense pet shop",
				"desc": "Best for pet shop",
				"href": "intense-pet-shop/",
				"image": { "src": "images/childs/intense-pet-shop-570x428.jpg", "width": 570, "height": 428, "alt": "" }
			}
		},
		"brand": {
			"name": "Intense",
			"slogan": "Feel the power of future",
			"logo": "<img style='margin-top: -5px;margin-left: -15px;' width='138' height='31' src='images/intense/logo-dark.png' alt=''/>",
			"logoInverse": "<img style='margin-top: -5px;margin-left: -15px;' width='138' height='31' src='images/intense/logo-light.png' alt=''/>",
			"logoBig": "<img class='img-responsive' style='margin-top: -20px;margin-left: -18px;' width='330' height='67' src='images/intense/logo-big.png' alt=''/>",
			"href": "index-variant-2.html",
			"image": { "src": "images/intense/intense-570x428.jpg", "width": 570, "height": 428, "alt": "" }
		},
		"buyLink": "//www.templatemonster.com/intense-multipurpose-html-template.html?utm_source=livedemo&utm_medium=themebutton&utm_campaign=intense",
		"nav": {
			"home": {
				"title": "Home",
				"href": "index.html",
				"submenu": {
					"childs": {
						"title": "Child Themes",
						"href": "#",
						"submenu": {
							"photographer": {
								"title": "Photographer",
								"href": "intense-photographer-portfolio"
							},
							"restaurant": {
								"title": "Restaurant",
								"href": "intense-restaurant"
							},
							"personalBlog": {
								"title": "Personal Blog",
								"href": "intense-personal-blog"
							},
							"realEstate": {
								"title": "Real Estate",
								"href": "intense-real-estate"
							},
							"handmade": {
								"title": "Handmade",
								"href": "intense-handmade"
							},
							"dentalClinic": {
								"title": "Dental Clinic",
								"href": "intense-dental-clinic"
							},
							"financialAdvisor": {
								"title": "Financial Advisor",
								"href": "intense-financial-analytic"
							},
							"gym": {
								"title": "Gym",
								"href": "intense-gym"
							},
							"childCare": {
								"title": "Child Care",
								"href": "intense-child-care"
							},
							"jobBoard": {
								"title": "Job Board",
								"href": "intense-job-board"
							},
							"newsletter": {
								"title": "Newsletter",
								"href": "newsletter/responsive/index.html"
							},
							"taxi":{
								"title": "Taxi",
								"href": "intense-taxi"
							} ,
							"pet-shop":{
								"title": "Pet shop",
								"href": "intense-pet-shop"
							} ,
							"barbershop":{
								"title": "Barbershop",
								"href": "intense-barbershop"
							}
						}
					},
					"type": {
						"title": "Home Types",
						"href": "#",
						"submenu": {
							"default": {
								"title": "Default",
								"href": "index.html"
							},
							"onePage": {
								"title": "One Page",
								"href": "index-one-page.html"
							}
						}
					},
					"skins": {
						"title": "Home Skins",
						"href": "#",
						"submenu": {
							"default": {
								"title": "Default",
								"href": "index-variant-2.html"
							},
							"sunset": {
								"title": "Sunset",
								"href": "index-skin-sunset.html"
							},
							"simplyChic": {
								"title": "Simply Chic",
								"href": "index-skin-simply-chic.html"
							},
							"minimalBlue": {
								"title": "Minimal Blue",
								"href": "index-skin-minimal-blue.html"
							},
							"sunrise": {
								"title": "Sunrise",
								"href": "index-skin-sunrise.html"
							},
							"renaissance": {
								"title": "Renaissance",
								"href": "index-skin-renaissance.html"
							},
							"greenSpace": {
								"title": "Green Space",
								"href": "index-skin-green-space.html"
							},
							"redEnergy": {
								"title": "Red Energy",
								"href": "index-skin-red-energy.html"
							},
							"eternalJoy": {
								"title": "Eternal Joy",
								"href": "index-skin-eternal-joy.html"
							},
							"commercial": {
								"title": "Commercial",
								"href": "index-skin-commercial.html"
							}
						}
					},
					"intros": {
						"title": "Home Intro",
						"href": "index.html",
						"submenu": {
							"default": {
								"title": "Default",
								"href": "index-variant-2.html"
							},
							"promo": {
								"title": "Promo",
								"href": "index-promo.html"
							},
							"fastRegistration": {
								"title": "Fast Registration",
								"href": "index-fast-registration.html"
							},
							"makeAnAppointment": {
								"title": "Appointment",
								"href": "index-make-an-appointment.html"
							},
							"videoBg": {
								"title": "Video Background",
								"href": "maintenance.html"
							}
						}
					},
					"landing-pages":{
						"title": "Landing pages",
						"href": "#",
						"submenu": {
							"application": {
								"title": "Application",
								"href": "intense-landings/intense-application"
							},
							"book":{
								"title": "Book",
								"href": "intense-landings/intense-book"
							},
							"product":{
								"title": "Product",
								"href": "intense-landings/intense-product"
							},
							"travel":{
								"title": "Travel",
								"href": "intense-landings/intense-travel"
							},
							"startup":{
								"title": "Startup",
								"href": "intense-landings/intense-startup"
							} ,
							"event":{
								"title": "Event",
								"href": "intense-landings/intense-event"
							}
						}
					}
				}
			},
			"features": {
				"title": "Features",
				"href": "#",
				"label": "new",
				"submenu": {
					"revolutionSlider": {
						"title": "Revolution slider",
						"label": "new",
						"href": "#",
						"submenu": {
							"crossfade": {
								"title": "Slider crossfade",
								"label": "new",
								"href": "revolution-crossfade.html"
							},
							"fadethrough": {
								"title": "Slider fade through",
								"label": "new",
								"href": "revolution-fadethrough.html"
							},
							"slidehorizontal": {
								"title": "Slider slide 1",
								"label": "new",
								"href": "revolution-slidehorizontal.html"
							},
							"slidevertical": {
								"title": "Slider slide 2",
								"label": "new",
								"href": "revolution-slidevertical.html"
							},
							"slidingoverlayhorizontal": {
								"title": "Slider overlay 1",
								"label": "new",
								"href": "revolution-slidingoverlayhorizontal.html"
							},
							"slidingoverlayvertical": {
								"title": "Slider overlay 2",
								"label": "new",
								"href": "revolution-slidingoverlayvertical.html"
							},
							"boxslide": {
								"title": "Slider box slide",
								"label": "new",
								"href": "revolution-boxslide.html"
							},
							"slotslide": {
								"title": "Slider slot slide",
								"label": "new",
								"href": "revolution-slotslide.html"
							},
							"boxfade": {
								"title": "Slider box fade",
								"label": "new",
								"href": "revolution-boxfade.html"
							},
							"slotfade": {
								"title": "Slider slot fade",
								"label": "new",
								"href": "revolution-slotfade.html"
							},
							"parallaxhorizontal": {
								"title": "Slider parallax 1",
								"label": "new",
								"href": "revolution-parallaxhorizontal.html"
							},
							"parallaxvertical": {
								"title": "Slider parallax 2",
								"label": "new",
								"href": "revolution-parallaxvertical.html"
							},
							"slotzoom-horizontal": {
								"title": "Slider slot zoom 1",
								"label": "new",
								"href": "revolution-slotzoom-horizontal.html"
							},
							"slotzoom-vertical": {
								"title": "Slider slot zoom 2",
								"label": "new",
								"href": "revolution-slotzoom-vertical.html"
							},
							"incube": {
								"title": "Slider incube",
								"label": "new",
								"href": "revolution-incube.html"
							}
						}
					},
					"rdPlugins": {
						"title": "RD Plugins",
						"href": "#",
						"submenu": {
							"rdEventCalendar": {
								"title": "RD Event Calendar",
								"href": "rd-event-calendar.html"
							},
							"rdParallax": {
								"title": "RD Parallax",
								"href": "rd-parallax.html"
							},
							"rdBackgroundVideo": {
								"title": "RD Video",
								"href": "rd-video.html"
							},
							"rdNavbar": {
								"title": "RD Navbar",
								"href": "rd-navbar.html"
							}
						}
					},
					"socialWidgets": {
						"title": "Social Widgets",
						"href": "#",
						"submenu": {
							"rdTwitterfeed":{
								"title": "RD Twitter Feed",
								"href": "rd-twitter-feed.html"
							},
							"rdFacebookfeed":{
								"title": "RD Facebook Feed",
								"href": "rd-facebook-feed.html"
							},
							"rdFlickry":{
								"title": "RD Flickr Gallery",
								"href": "rd-flickr-feed.html"
							}
						}
					},
					"headers": {
						"title": "Headers",
						"href": "#",
						"submenu": {
							"default": {
								"title": "Default",
								"href": "#",
								"submenu": {
									"transparent": {
										"title": "Transparent",
										"href": "header-default-transparent.html"
									},
									"light": {
										"title": "Light",
										"href": "header-default-light.html"
									},
									"dark": {
										"title": "Dark",
										"href": "header-default-dark.html"
									}
								}
							},
							"sidebarToggle": {
								"title": "Sidebar toggle",
								"href": "#",
								"submenu": {
									"light": {
										"title": "Light",
										"href": "header-sidebar-toggle-light.html"
									},
									"dark": {
										"title": "Dark",
										"href": "header-sidebar-toggle-dark.html"
									}
								}
							},
							"sidebarFixed": {
								"title": "Sidebar fixed",
								"href": "#",
								"submenu": {
									"light": {
										"title": "Light",
										"href": "header-sidebar-fixed-light.html"
									},
									"dark": {
										"title": "Dark",
										"href": "header-sidebar-fixed-dark.html"
									}
								}
							},
							"floated": {
								"title": "Floated",
								"href": "#",
								"submenu": {
									"light": {
										"title": "Light",
										"href": "header-floated-light.html"
									},
									"dark": {
										"title": "Dark",
										"href": "header-floated-dark.html"
									}
								}
							},
							"topPanel": {
								"title": "With Top Panel",
								"href": "#",
								"submenu": {
									"light": {
										"title": "Light",
										"href": "header-top-panel-light.html"
									},
									"dark": {
										"title": "Dark",
										"href": "header-top-panel-dark.html"
									}
								}
							},
							"logoCenter": {
								"title": "Logo center",
								"href": "#",
								"submenu": {
									"light": {
										"title": "Light",
										"href": "header-logo-center-light.html"
									},
									"dark": {
										"title": "Dark",
										"href": "header-logo-center-dark.html"
									}
								}
							}
						}
					},
					"footers": {
						"title": "Footers",
						"href": "#",
						"icon": "mdi mdi-newspaper",
						"submenu": {
							"default": {
								"title": "Default",
								"icon": "mdi mdi-newspaper",
								"href": "footer-default.html"
							},
							"variant2": {
								"title": "Variant 2",
								"icon": "mdi mdi-newspaper",
								"href": "footer-variant-2.html"
							},
							"variant3": {
								"title": "Variant 3",
								"icon": "mdi mdi-newspaper",
								"href": "footer-variant-3.html"
							},
							"variant4": {
								"title": "Variant 4",
								"icon": "mdi mdi-newspaper",
								"href": "footer-variant-4.html"
							}
						}
					},
					"pageLoaders": {
						"title": "Page Loaders",
						"href": "#",
						"submenu": {
							"default": {
								"title": "Default",
								"href": "page-loader-variant-1.html"
							}
						}
					},
					"formPlugins": {
						"title": "Form Plugins",
						"href": "rd-mailform.html"
					},
					"reCaptcha":{
						"title": "google reCaptcha",
						"href": "captcha.html"
					},
					"chartsAndGraphs":{
						"title": "Charts and Graphs",
						"href": "charts-and-graphs.html"
					},
					"uiKit": {
						"title": "Advanced UI Kit",
						"href": "ui-kit.html"
					}
				}
			},
			"pages": {
				"title": "Pages",
				"href": "#",
				"submenu": {
					"aboutUs": {
						"title": "About Us",
						"icon": "mdi mdi-account-multiple",
						"href": "about-us.html"
					},
					"aboutUsV2": {
						"title": "About Us v2",
						"icon": "mdi mdi-account-multiple",
						"href": "about-us-variant-2.html"
					},
					"aboutMe": {
						"title": "About Me",
						"icon": "mdi mdi-account-convert",
						"href": "about-me.html"
					},
					"aboutMeV2": {
						"title": "About Me v2",
						"icon": "mdi mdi-account-convert",
						"href": "about-me-variant-2.html"
					},
					"services": {
						"title": "Services",
						"icon": "mdi mdi-folder-outline",
						"href": "services.html"
					},
					"ourTeam": {
						"title": "Our Team",
						"icon": "mdi mdi-account-switch",
						"href": "our-team.html"
					},
					"ourTeamV2": {
						"title": "Our Team v2",
						"icon": "mdi mdi-account-switch",
						"href": "our-team-variant-2.html"
					},
					"teamMember": {
						"title": "Team Member",
						"icon": "mdi mdi-account-box-outline",
						"href": "team-member.html"
					},
					"teamMemberV2": {
						"title": "Team Member v2",
						"icon": "mdi mdi-account-box-outline",
						"href": "team-member-variant-2.html"
					},
					"careers": {
						"title": "Careers",
						"icon": "mdi mdi-account-check",
						"href": "careers.html"
					},
					"categories": {
						"title": "Categories",
						"icon": "mdi mdi-filter-variant",
						"href": "categories.html"
					},
					"faq": {
						"title": "Faq",
						"icon": "mdi mdi-help-circle",
						"href": "faq.html"
					},
					"faqV2": {
						"title": "Faq v2",
						"icon": "mdi mdi-help-circle",
						"href": "faq-variant-2.html"
					},
					"faqV3": {
						"title": "Faq v3",
						"icon": "mdi mdi-help-circle",
						"href": "faq-variant-3.html"
					},
					"faqV4": {
						"title": "Faq v4",
						"icon": "mdi mdi-help-circle",
						"href": "faq-variant-4.html"
					},
					"contactMe": {
						"title": "Contact Me",
						"icon": "mdi mdi-contact-mail",
						"href": "contact-me.html"
					},
					"contactUs": {
						"title": "Contact Us",
						"icon": "mdi mdi-map-marker-circle",
						"href": "contact-us.html"
					},
					"contactUsV2": {
						"title": "Contact Us v2",
						"icon": "mdi mdi-map-marker-circle",
						"href": "contact-us-variant-2.html"
					},
					"getInTouch": {
						"title": "Get In Touch",
						"icon": "mdi mdi-map-marker-circle",
						"href": "get-in-touch.html"
					},
					"contactUsV3": {
						"title": "Contact Us v3",
						"icon": "mdi mdi-map-marker-circle",
						"href": "contact-us-variant-3.html"
					},
					"sitemap": {
						"title": "Sitemap",
						"icon": "mdi mdi-sitemap",
						"href": "sitemap.html"
					},
					"coomingSoon": {
						"title": "Coming Soon",
						"icon": "mdi mdi-clock-fast",
						"href": "coming-soon.html"
					},
					"searchResults": {
						"title": "Search Results",
						"icon": "mdi mdi-magnify",
						"href": "search-results.html"
					},
					"login": {
						"title": "Login",
						"icon": "mdi mdi-login",
						"href": "login.html"
					},
					"register": {
						"title": "Register",
						"icon": "mdi mdi-account-multiple-outline",
						"href": "register.html"
					},
					"registerLogin": {
						"title": "Login / Register",
						"icon": "mdi mdi-account-multiple-outline",
						"href": "register-login.html"
					},
					"pricing": {
						"title": "Pricing",
						"icon": "mdi mdi-certificate",
						"href": "pricing.html"
					},
					"makeAnAppointment": {
						"title": "Appointment",
						"icon": "mdi mdi-calendar-clock",
						"href": "make-an-appointment.html"
					},
					"makeAnAppointmentV2": {
						"title": "Appointment v2",
						"icon": "mdi mdi-calendar-clock",
						"href": "make-an-appointment-variant-2.html"
					},
					"maintenance": {
						"title": "Maintenance",
						"icon": "mdi mdi-wrench",
						"href": "maintenance.html"
					},
					"clients": {
						"title": "Clients",
						"icon": "mdi mdi-wrench",
						"href": "clients.html"
					},
					"underConstruction": {
						"title": "Under Construction",
						"icon": "mdi mdi-worker",
						"href": "under-construction.html"
					},
					"404": {
						"title": "404 Page",
						"icon": "mdi mdi-bullhorn",
						"href": "404.html"
					},
					"503": {
						"title": "503 Page",
						"icon": "mdi mdi-bullhorn",
						"href": "503.html"
					},
					"privacyPolicy": {
						"title": "Privacy Policy",
						"icon": "mdi mdi-file-outline",
						"href": "privacy.html"
					}
				}
			},
			"portfolio": {
				"title": "Portfolio",
				"href": "portfolio-grid-3-columns.html",
				"submenu": {
					"grid": {
						"title": "Grid Layout",
						"href": "#",
						"submenu": {
							"3cols": {
								"title": "Horizontal",
								"icon": "mdi mdi-bulletin-board",
								"href": "portfolio-grid-3-columns.html"
							},
							"3colsVertical": {
								"title": "Vertical",
								"icon": "mdi mdi-bulletin-board",
								"href": "portfolio-grid-3-columns-vertical.html"
							}
						}
					},
					"masonry": {
						"title": "Masonry Layout",
						"href": "#",
						"submenu": {
							"3cols": {
								"title": "Horizontal",
								"icon": "mdi mdi-bulletin-board",
								"href": "portfolio-masonry-3-columns.html"
							},
							"3colsVertical": {
								"title": "Vertical",
								"icon": "mdi mdi-bulletin-board",
								"href": "portfolio-masonry-3-columns-vertical.html"
							}
						}
					},
					"wide": {
						"title": "Wide Layout",
						"href": "#",
						"submenu": {
							"3cols": {
								"title": "Horizontal",
								"icon": "mdi mdi-bulletin-board",
								"href": "portfolio-wide-3-columns.html"
							},
							"3colsVertical": {
								"title": "Vertical",
								"icon": "mdi mdi-bulletin-board",
								"href": "portfolio-wide-3-columns-vertical.html"
							}
						}
					},
					"fullwidth": {
						"title": "Fullwidth Layout",
						"href": "#",
						"submenu": {
							"3cols": {
								"title": "3 Columns",
								"icon": "mdi mdi-bulletin-board",
								"href": "portfolio-fullwidth-3-columns.html"
							},
							"4cols": {
								"title": "4 Columns",
								"icon": "mdi mdi-bulletin-board",
								"href": "portfolio-fullwidth-4-columns.html"
							},
							"5cols": {
								"title": "5 Columns",
								"icon": "mdi mdi-bulletin-board",
								"href": "portfolio-fullwidth-5-columns.html"
							}
						}
					},
					"fullscreen": {
						"title": "Fullscreen Layout",
						"href": "portfolio-fullscreen-3-columns.html"

					},
					"customEffects": {
						"title": "Custom Effects",
						"href": "#",
						"submenu": {
							"classic": {
								"title": "Classic Effect",
								"icon": "mdi mdi-bulletin-board",
								"href": "portfolio-classic-effect.html"
							},
							"zoe": {
								"title": "Zoe Effect",
								"icon": "mdi mdi-bulletin-board",
								"href": "portfolio-zoe-effect.html"
							},
							"winston": {
								"title": "Winston Effect",
								"icon": "mdi mdi-bulletin-board",
								"href": "portfolio-winston-effect.html"
							},
							"josip": {
								"title": "Josip Effect",
								"icon": "mdi mdi-bulletin-board",
								"href": "portfolio-josip-effect.html"
							},
							"janes": {
								"title": "Janes Effect",
								"icon": "mdi mdi-bulletin-board",
								"href": "portfolio-janes-effect.html"
							},
							"apollo": {
								"title": "Apollo Effect",
								"icon": "mdi mdi-bulletin-board",
								"href": "portfolio-apollo-effect.html"
							}
						}
					},
					"singleProject": {
						"title": "Single Project",
						"href": "#",
						"submenu": {
							"default": {
								"title": "Default",
								"icon": "mdi mdi-presentation",
								"href": "portfolio-single-project-default.html"
							},
							"variant2": {
								"title": "Variant 2",
								"icon": "mdi mdi-presentation",
								"href": "portfolio-single-project-variant-2.html"
							},
							"variant3": {
								"title": "Variant 3",
								"icon": "mdi mdi-presentation",
								"href": "portfolio-single-project-variant-3.html"
							}
						}
					}
				}
			},
			"blog":{
				"title": "Blog",
				"href": "blog-default-left-sidebar.html",
				"submenu": {
					"classic": {
						"title": "Blog Classic",
						"icon": "mdi mdi-arrange-send-to-back",
						"href": "#",
						"submenu": {
							"noSidebar": {
								"title": "No Sidebar",
								"icon": "mdi mdi-arrange-send-to-back",
								"href": "blog-classic-no-sidebar.html"
							},
							"leftSidebar": {
								"title": "Left Sidebar",
								"icon": "mdi mdi-arrange-send-to-back",
								"href": "blog-classic-left-sidebar.html"
							},
							"rightSidebar": {
								"title": "Right Sidebar",
								"icon": "mdi mdi-arrange-send-to-back",
								"href": "blog-classic-right-sidebar.html"
							},
							"bothSidebar": {
								"title": "Both Sidebar",
								"icon": "mdi mdi-arrange-send-to-back",
								"href": "blog-classic-both-sidebar.html"
							},
							"singlePost": {
								"title": "Single Post",
								"icon": "mdi mdi-arrange-send-to-back",
								"href": "blog-classic-single-post.html"
							}
						}
					},
					"events": {
						"title": "Events",
						"href": "#",
						"icon": "mdi mdi-calendar",
						"submenu": {
							"noSidebar": {
								"title": "No Sidebar",
								"icon": "mdi mdi-calendar",
								"href": "events-list-no-sidebar.html"
							},
							"leftSidebar": {
								"title": "Left Sidebar",
								"icon": "mdi mdi-calendar",
								"href": "events-list-left-sidebar.html"
							},
							"rightSidebar": {
								"title": "Right Sidebar",
								"icon": "mdi mdi-calendar",
								"href": "events-list-right-sidebar.html"
							},
							"singleEvent": {
								"title": "Single Event",
								"icon": "mdi mdi-calendar",
								"href": "events-list-single.html",
								"submenu": {
									"noSidebar": {
										"title": "No Sidebar",
										"icon": "mdi mdi-calendar",
										"href": "events-list-single.html"
									},
									"leftSidebar": {
										"title": "Left Sidebar",
										"icon": "mdi mdi-calendar",
										"href": "events-list-single-left-sidebar.html"
									},
									"rightSidebar": {
										"title": "Right Sidebar",
										"icon": "mdi mdi-calendar",
										"href": "events-list-single-right-sidebar.html"
									}
								}
							}
						}
					},
					"wide": {
						"title": "Blog Wide",
						"icon": "mdi mdi-arrange-send-to-back",
						"href": "#",
						"submenu": {
							"noSidebar": {
								"title": "No Sidebar",
								"icon": "mdi mdi-arrange-send-to-back",
								"href": "blog-wide-no-sidebar.html"
							},
							"leftSidebar": {
								"title": "Left Sidebar",
								"icon": "mdi mdi-arrange-send-to-back",
								"href": "blog-wide-left-sidebar.html"
							},
							"rightSidebar": {
								"title": "Right Sidebar",
								"icon": "mdi mdi-arrange-send-to-back",
								"href": "blog-wide-right-sidebar.html"
							},
							"bothSidebar": {
								"title": "Both Sidebar",
								"icon": "mdi mdi-arrange-send-to-back",
								"href": "blog-wide-both-sidebar.html"
							},
							"singlePost": {
								"title": "Single Post",
								"icon": "mdi mdi-arrange-send-to-back",
								"href": "blog-wide-single.html"
							}
						}
					},
					"default": {
						"title": "Blog Default",
						"icon": "mdi mdi-arrange-send-to-back",
						"href": "#",
						"submenu": {
							"noSidebar": {
								"title": "No Sidebar",
								"icon": "mdi mdi-arrange-send-to-back",
								"href": "blog-default-no-sidebar.html"
							},
							"leftSidebar": {
								"title": "Left Sidebar",
								"icon": "mdi mdi-arrange-send-to-back",
								"href": "blog-default-left-sidebar.html"
							},
							"rightSidebar": {
								"title": "Right Sidebar",
								"icon": "mdi mdi-arrange-send-to-back",
								"href": "blog-default-right-sidebar.html"
							},
							"bothSidebar": {
								"title": "Both Sidebar",
								"icon": "mdi mdi-arrange-send-to-back",
								"href": "blog-default-both-sidebar.html"
							},
							"singlePost": {
								"title": "Single Post",
								"icon": "mdi mdi-arrange-send-to-back",
								"href": "blog-default-single.html",
								"submenu": {
									"noSidebar": {
										"title": "No Sidebar",
										"icon": "mdi mdi-arrange-send-to-back",
										"href": "blog-default-single.html"
									},
									"leftSidebar": {
										"title": "Left Sidebar",
										"icon": "mdi mdi-arrange-send-to-back",
										"href": "blog-default-single-left-sidebar.html"
									},
									"rightSidebar": {
										"title": "Right Sidebar",
										"icon": "mdi mdi-arrange-send-to-back",
										"href": "blog-default-single-right-sidebar.html"
									},
									"bothSidebar": {
										"title": "Both Sidebar",
										"icon": "mdi mdi-arrange-send-to-back",
										"href": "blog-default-single-both-sidebar.html"
									}
								}
							}
						}
					},
					"grid": {
						"title": "Blog Grid",
						"icon": "mdi mdi-arrange-send-to-back",
						"href": "#",
						"submenu":{
							"1cols":{
								"title": "1 Columns",
								"icon": "mdi mdi-arrange-send-to-back",
								"href": "blog-grid-1-columns.html"
							},
							"2cols":{
								"title": "2 Columns",
								"icon": "mdi mdi-arrange-send-to-back",
								"href": "blog-grid-2-columns.html"
							},
							"3cols":{
								"title": "3 Columns",
								"icon": "mdi mdi-arrange-send-to-back",
								"href": "blog-grid-3-columns.html"
							},
							"singlePost":{
								"title": "Single Post",
								"icon": "mdi mdi-arrange-send-to-back",
								"href": "blog-classic-single-post.html"
							}
						}
					},
					"masonry": {
						"title": "Blog Masonry",
						"icon": "mdi mdi-arrange-send-to-back",
						"href": "#",
						"submenu":{
							"1cols":{
								"title": "1 Columns",
								"icon": "mdi mdi-arrange-send-to-back",
								"href": "blog-masonry-1-columns.html"
							},
							"2cols":{
								"title": "2 Columns",
								"icon": "mdi mdi-arrange-send-to-back",
								"href": "blog-masonry-2-columns.html"
							},
							"3cols":{
								"title": "3 Columns",
								"icon": "mdi mdi-arrange-send-to-back",
								"href": "blog-masonry-3-columns.html"
							},
							"singlePost":{
								"title": "Single Post",
								"icon": "mdi mdi-arrange-send-to-back",
								"href": "blog-classic-single-post.html"
							}
						}
					},
					"timeline": {
						"title": "Blog Timeline",
						"icon": "mdi mdi-arrange-send-to-back",
						"href": "#",
						"submenu":{
							"noSidebar":{
								"title": "No Sidebar",
								"icon": "mdi mdi-arrange-send-to-back",
								"href": "blog-timeline-no-sidebar.html"
							},
							"leftSidebar":{
								"title": "Left Sidebar",
								"icon": "mdi mdi-arrange-send-to-back",
								"href": "blog-timeline-left-sidebar.html"
							},
							"rightSidebar":{
								"title": "Right Sidebar",
								"icon": "mdi mdi-arrange-send-to-back",
								"href": "blog-timeline-right-sidebar.html"
							},
							"singlePost":{
								"title": "Single Post",
								"icon": "mdi mdi-arrange-send-to-back",
								"href": "blog-wide-single.html"
							},
							"archive":{
								"title": "Archive",
								"icon": "",
								"href": "blog-timeline-archive.html"
							}
						}
					},
					"modern": {
						"title": "Blog Modern",
						"icon": "mdi mdi-arrange-send-to-back",
						"href": "#",
						"submenu":{
							"noSidebar":{
								"title": "No Sidebar",
								"icon": "mdi mdi-arrange-send-to-back",
								"href": "blog-modern-no-sidebar.html"
							},
							"leftSidebar":{
								"title": "Left Sidebar",
								"icon": "mdi mdi-arrange-send-to-back",
								"href": "blog-modern-left-sidebar.html"
							},
							"rightSidebar":{
								"title": "Right Sidebar",
								"icon": "mdi mdi-arrange-send-to-back",
								"href": "blog-modern-right-sidebar.html"
							},
							"singlePost":{
								"title": "Single Post",
								"icon": "mdi mdi-arrange-send-to-back",
								"href": "blog-classic-single-post.html"
							}
						}
					}
				}
			},
			"shop":{
				"title": "Shop",
				"href": "shop-grid-left-sidebar.html",
				"submenu": {
					"grid": {
						"title": "Grid View",
						"icon": "mdi mdi-shopping",
						"href": "#",
						"submenu": {
							"noSidebar":{
								"title": "No Sidebar",
								"icon": "mdi mdi-shopping",
								"href": "shop-grid-no-sidebar.html"
							},
							"leftSidebar":{
								"title": "Left Sidebar",
								"icon": "mdi mdi-shopping",
								"href": "shop-grid-left-sidebar.html"
							},
							"rightSidebar":{
								"title": "Right Sidebar",
								"icon": "mdi mdi-shopping",
								"href": "shop-grid-right-sidebar.html"
							}
						}
					},
					"list": {
						"title": "List View",
						"icon": "mdi mdi-shopping",
						"href": "#",
						"submenu": {
							"noSidebar":{
								"title": "No Sidebar",
								"icon": "mdi mdi-shopping",
								"href": "shop-list-no-sidebar.html"
							},
							"leftSidebar":{
								"title": "Left Sidebar",
								"icon": "mdi mdi-shopping",
								"href": "shop-list-left-sidebar.html"
							},
							"rightSidebar":{
								"title": "Right Sidebar",
								"icon": "mdi mdi-shopping",
								"href": "shop-list-right-sidebar.html"
							}
						}
					},
					"singleProduct": {
						"title": "Single Product",
						"icon": "mdi mdi-shopping",
						"href": "#",
						"submenu": {
							"noSidebar":{
								"title": "No Sidebar",
								"icon": "mdi mdi-shopping",
								"href": "shop-single-product-no-sidebar.html"
							},
							"leftSidebar":{
								"title": "Left Sidebar",
								"icon": "mdi mdi-shopping",
								"href": "shop-single-product-left-sidebar.html"
							},
							"rightSidebar":{
								"title": "Right Sidebar",
								"icon": "mdi mdi-shopping",
								"href": "shop-single-product-right-sidebar.html"
							}
						}
					},
					"cart": {
						"title": "Cart View",
						"icon": "mdi mdi-shopping",
						"href": "shop-cart.html"
					},
					"checkout": {
						"title": "Checkout",
						"icon": "mdi mdi-lock-open-outline",
						"href": "shop-checkout.html",
						"submenu": {
							"default": {
								"title": "Default",
								"icon": "mdi mdi-lock-open-outline",
								"href": "shop-checkout.html"
							},
							"variant2": {
								"title": "Variant 2",
								"icon": "mdi mdi-lock-open-outline",
								"href": "shop-checkout-variant-2.html"
							}
						}
					}
				}
			},
			"components":{
				"title": "Components",
				"href": "ui-kit.html",
				"submenu": {
					"toolkitComponents": {
						"title": "Toolkit Components",
						"href": "#",
						"submenu": {
							"accordions": {
								"title": "Accordions",
								"icon": "mdi mdi-playlist-plus",
								"href": "accordions.html"
							},
							"alerts": {
								"title": "Alerts",
								"icon": "mdi mdi-alert-outline",
								"href": "alerts.html"
							},
							"animations": {
								"title": "Animations",
								"icon": "fa fa-magic",
								"href": "animations.html"
							},
							"breadcrumbs": {
								"title": "Breadcrumbs",
								"icon": "mdi mdi-drag-horizontal",
								"href": "breadcrumbs.html"
							},
							"buttons":{
								"title": "Buttons",
								"icon": "mdi mdi-shuffle",
								"href": "buttons.html"
							},
							"callToActions":{
								"title": "Call to actions",
								"icon": "mdi mdi-vector-triangle",
								"href": "call-to-actions.html"
							},
							"listsOfComments": {
								"title": "Lists of comments",
								"icon": "mdi mdi-comment-multiple-outline",
								"href": "lists-of-comments.html"
							},
							"contentBoxes":{
								"title": "Content boxes",
								"icon": "mdi mdi-cube-outline",
								"href": "content-boxes.html"
							},
							"offerBoxes":{
								"title": "Offer boxes",
								"icon": "mdi mdi-checkbox-multiple-blank-outline",
								"href": "offer-boxes.html"
							},
							"counters":{
								"title": "Counters",
								"icon": "mdi mdi-timelapse",
								"href": "counters.html"
							},
							"dividers":{
								"title": "Dividers",
								"icon": "mdi mdi-division",
								"href": "dividers.html"
							},
							"footerWidgets":{
								"title": "Footer widgets",
								"icon": "mdi mdi-border-bottom",
								"href": "footer-widgets.html"
							},
							"formElements": {
								"title": "Form elements",
								"icon": "mdi mdi-keyboard-variant",
								"href": "form-elements.html"
							},
							"gridSystem": {
								"title": "Grid system",
								"icon": "mdi mdi-view-week",
								"href": "grid-system.html"
							},
							"productGrids": {
								"title": "Product Grids",
								"icon": "mdi mdi-view-module",
								"href": "product-grids.html"
							},
							"iconBoxes": {
								"title": "Icon boxes",
								"icon": "mdi mdi-emoticon",
								"href": "icon-boxes.html"
							},
							"icons": {
								"title": "Icons",
								"icon": "mdi mdi-drawing",
								"href": "icons.html"
							},
							"infographics": {
								"title": "Infographics",
								"icon": "mdi mdi-trending-up",
								"href": "infographics.html"
							},
							"labels": {
								"title": "Labels",
								"icon": "mdi mdi-label-outline",
								"href": "labels.html"
							},
							"lists": {
								"title": "Lists",
								"icon": "mdi mdi-format-list-numbers",
								"href": "lists.html"
							},
							"maps": {
								"title": "Maps",
								"icon": "mdi mdi-map-marker-circle",
								"href": "maps.html"
							},
							"mediaElements": {
								"title": "Media elements",
								"icon": "mdi mdi-youtube-play",
								"href": "media-elements.html"
							},
							"memberBoxes": {
								"title": "Member boxes",
								"icon": "mdi mdi-account-circle",
								"href": "member-boxes.html"
							},
							"navigation": {
								"title": "Navigation",
								"icon": "mdi mdi-cube-unfolded",
								"href": "navigation.html"
							},
							"pagination": {
								"title": "Pagination",
								"icon": "mdi mdi-numeric-1-box-outline",
								"href": "pagination.html"
							},
							"posts": {
								"title": "Posts",
								"icon": "mdi mdi-clipboard-outline",
								"href": "posts.html"
							},
							"pricing": {
								"title": "Pricing and plans",
								"icon": "mdi mdi-coin",
								"href": "pricing-and-plans.html"
							},
							"sections": {
								"title": "Sections",
								"icon": "mdi mdi-vector-difference-ba",
								"href": "sections.html"
							},
							"sidebarWidgets": {
								"title": "Sidebar widgets",
								"icon": "mdi mdi-border-left",
								"href": "sidebar-widgets.html"
							},
							"tables": {
								"title": "Tables",
								"icon": "mdi mdi-table",
								"href": "tables.html"
							},
							"tabs": {
								"title": "Tabs",
								"icon": "mdi mdi-format-line-spacing",
								"href": "tabs.html"
							},
							"testimonials": {
								"title": "Testimonials",
								"icon": "mdi mdi-comment-text-outline",
								"href": "testimonials.html"
							},
							"textRotator": {
								"title": "Text rotator",
								"icon": "mdi mdi-format-textdirection-l-to-r",
								"href": "text-rotator.html"
							},
							"thumbnails":  {
								"title": "Thumbnails",
								"icon": "mdi mdi-credit-card-scan",
								"href": "thumbnails.html"
							},
							"timers": {
								"title": "Timers",
								"icon": "mdi mdi-timer",
								"href": "timers.html"
							},
							"typography": {
								"title": "Typography",
								"icon": "mdi mdi-format-text",
								"href": "typography.html"
							}
						}
					},
					"bootstrapcomponents": {
						"title": "Bootstrap Components",
						"href": "#",
						"submenu": {
							"alerts": {
								"title": "Alerts",
								"href": "bootstrap-alerts.html"
							},
							"badges": {
								"title": "Badges",
								"href": "bootstrap-badges.html"
							},
							"breadcrumbs": {
								"title": "Breadcrumbs",
								"href": "bootstrap-breadcrumbs.html"
							},
							"buttonGroups": {
								"title": "Button Groups",
								"href": "bootstrap-button-groups.html"
							},
							"buttonDropdowns": {
								"title": "Button Dropdowns",
								"href": "bootstrap-button-dropdowns.html"
							},
							"dropdowns": {
								"title": "Dropdowns",
								"href": "bootstrap-dropdowns.html"
							},
							"glyphicons": {
								"title": "Glyphicons",
								"href": "bootstrap-glyphicons.html"
							},
							"inputGroups": {
								"title": "Input Groups",
								"href": "bootstrap-input-groups.html"
							},
							"jumbotron": {
								"title": "Jumbotron",
								"href": "bootstrap-jumbotron.html"
							},
							"labels": {
								"title": "Labels",
								"href": "bootstrap-labels.html"
							},
							"listGroups": {
								"title": "List Groups",
								"href": "bootstrap-list-groups.html"
							},
							"mediaObjects": {
								"title": "Media Objects",
								"href": "bootstrap-media-objects.html"
							},
							"navbar": {
								"title": "Navbar",
								"href": "bootstrap-navbar.html"
							},
							"navs": {
								"title": "Navs",
								"href": "bootstrap-navs.html"
							},
							"pageHeader": {
								"title": "Page Header",
								"href": "bootstrap-page-header.html"
							},
							"pagination": {
								"title": "Pagination",
								"href": "bootstrap-pagination.html"
							},
							"panels": {
								"title": "Panels",
								"href": "bootstrap-panels.html"
							},
							"progressBars": {
								"title": "Progress Bars",
								"href": "bootstrap-progress-bars.html"
							},
							"responsiveEmbed": {
								"title": "Responsive embed",
								"href": "bootstrap-responsive-embed.html"
							},
							"thumbnails": {
								"title": "Thumbnails",
								"href": "bootstrap-thumbnails.html"
							},
							"wells": {
								"title": "Wells",
								"href": "bootstrap-wells.html"
							}
						}
					}
				}
			}
		}
	}