extends  ../_skeleton

block title
  title 503

block page
  // Page Header
  header.page-header.slider-menu-position
    +rd-navbar-default({
      "style": "",
      "logo": cfg.brand.logo,
      "logoFixed": cfg.brand.logoSmall,
      "activeLink": 8,
      "attr": {
        "data-layout": "rd-navbar-fixed",
        "data-sm-layout": "rd-navbar-fixed",
        "data-md-layout": "rd-navbar-fullwidth",
        "data-lg-layout": "rd-navbar-static"
      }
    })

    +breadcrumb("503", {
      0: {
        "type": "link",
        "title": cfg.nav.home.title,
        "href": cfg.nav.home.href
      },
      1: {
        "type": "link",
        "title": cfg.nav.pages.title,
        "href": cfg.nav.pages.href
      },
      2: {
        "type": "link",
        "title": "503",
        "href": "503.html"
      }
    }, "images/backgrounds/background-02-1920x900.jpg")

  // Page Content
  main.page-content.section-75.section-md-top-90.section-md-bottom-110

    // 503
    section
      .shell
        div
          h1 503
        h5.text-spacing-75 service is temporary unavailable


        .offset-top-25
          p Sorry, we're offline right now to make our site even better. Please, come back later and check what we've been up to.

        .group.group-sm.offset-top-30
          a.btn.btn-gray-base(href="index.html" style="min-width: 210px;") back to homepage
          a.btn.btn-primary(href="contacts.html" style="min-width: 210px;") contact us

        .offset-top-20
          !{cfg.brand.svgDivider}


  // Page Footer
  include ../sections/_footer-default