extends  ../_skeleton

block title
  title Contacts

block page
  // Page Header
  header.page-header.slider-menu-position
    +rd-navbar-default({
      "style": "",
      "logo": cfg.brand.logo,
      "logoFixed": cfg.brand.logoSmall,
      "activeLink": 7,
      "attr": {
        "data-layout": "rd-navbar-fixed",
        "data-sm-layout": "rd-navbar-fixed",
        "data-md-layout": "rd-navbar-fullwidth",
        "data-lg-layout": "rd-navbar-static"
      }
    })

    +breadcrumb("Contacts", {
      0: {
        "type": "link",
        "title": cfg.nav.home.title,
        "href": cfg.nav.home.href
      },
      1: {
        "type": "link",
        "title": "Contacts",
        "href": "contacts.html"
      }
    }, "images/backgrounds/background-02-1920x900.jpg")

  // Page Content
  main.page-content.section-75.section-md-top-90.section-md-bottom-110

    section
      .shell
        h1 Get in touch

        .range.range-xs-center.offset-top-50
          .cell-sm-6.cell-lg-4
            // RD Mailform
            form.rd-mailform.text-left(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
              .form-group
                label.form-label(for="contact-name") Name
                input#contact-name.form-control(type="text" name="name" data-constraints='@Required')
              .form-group.offse-top-5
                label.form-label(for="contact-last-name") Last name
                input#contact-last-name.form-control(type="text" name="last-name" data-constraints="@Required")
              .form-group.offse-top-5
                label.form-label(for="contact-message") Message
                textarea#contact-message.form-control(name="message" data-constraints="@Required" style="height: 140px;")
              .form-group.offse-top-5
                label.form-label(for="contact-email") Email
                input#contact-email.form-control(type="email" name="email" data-constraints="@Email @Required")
              .text-center.text-sm-right.offse-top-5
                button(type="submit" style="min-width: 210px;").btn.btn-primary send a message

          .cell-sm-6.cell-lg-4.offset-top-64.offset-sm-top-0.text-left
            // Contact Info
            address.contact-info
              dl
                dt.font-accent.text-bold.text-uppercase.text-mine-shaft address
                dd.offset-top-4 123, New Lenox, Chicago, IL 60606 9863 - 9867 Mill Road, Cambridge, MG09 99HT.
              dl.offset-top-25
                dt.font-accent.text-bold.text-uppercase.text-mine-shaft OPENING HOURS
                dd 8.00-18.00 Mon-Sat
              dl.offset-top-30
                dt.font-accent.text-bold.text-uppercase.text-mine-shaft phone
                dd
                  a.text-silver-chalice(href="callto:#") 123-456-7890
                  = ', '
                  a.text-silver-chalice(href="callto:#") 098-765-4321
              dl.offset-top-30
                dt.font-accent.text-bold.text-uppercase.text-mine-shaft email
                dd.offset-top-5
                  a.font-accent.text-bold.text-primary(href="mailto:#") info@demolink.org

    .offset-top-44
      !{cfg.brand.svgDivider}

    section.offset-top-55
      .shell
        .range.range-xs-center
          .cell-sm-10.cell-lg-8
            // RD Google Map
            .rd-google-map(class="rd-google-map__model", data-zoom='12', data-x='-73.9874068', data-y='40.643180', data-styles='[{"featureType":"all","elementType":"all","stylers":[{"hue":"#ffbb00"}]},{"featureType":"all","elementType":"geometry.fill","stylers":[{"hue":"#ffbb00"}]},{"featureType":"all","elementType":"labels.text.fill","stylers":[{"hue":"#ffbb00"}]}]')
              ul.map_locations
                li(data-y='40.643180', data-x='-73.9874068')
                  p
                    | 9870 St Vincent Place, Glasgow, DC 45 Fr 45.


  // Page Footer
  include ../sections/_footer-default



