extends  ../_skeleton

block title
	title Fleet

block page
	// Page Header
	header.page-header.slider-menu-position
		+rd-navbar-default({
			"style": "",
			"logo": cfg.brand.logo,
			"logoFixed": cfg.brand.logoSmall,
			"activeLink": 5,
			"attr": {
				"data-layout": "rd-navbar-fixed",
				"data-sm-layout": "rd-navbar-fixed",
				"data-md-layout": "rd-navbar-fullwidth",
				"data-lg-layout": "rd-navbar-static"
			}
		})

		+breadcrumb("Fleet", {
			0: {
				"type": "link",
				"title": cfg.nav.home.title,
				"href": cfg.nav.home.href
			},
			1: {
				"type": "link",
				"title": "Fleet",
				"href": "fleet.html"
			}
		}, "images/backgrounds/background-02-1920x900.jpg")

	// Page Content
	main.page-content.section-75.section-md-top-90.section-md-bottom-110

		// Fleet
		section
			.shell
				.range.range-xs-center.range-xs-middle.range-md-justify
					.cell-sm-10.text-sm-left
						// List inline marked
						ul.list-inline.list-marked.list-marked-type-3.list-silver-chalice.list-marked-silver-chalice.font-accent.text-bold.text-spacing-inverse-25.text-left
							li
								a.text-primary(href="#") All
							li
								a.text-primary(href="#") Sedans
							li
								a.text-primary(href="#") Luxury Sedans
							li
								a.text-primary(href="#") Hybrid Sedans
							li
								a.text-primary(href="#") SUVs
							li
								a.text-primary(href="#") Minivans
							li
								a.text-primary(href="#") Limousines


					.cell-sm-2.text-sm-right.product-switch-view
						.reveal-inline-block(style='max-width: 100%;')
							a(href='#')
								span.icon.material-icons-ico.material-icons-view_module(style='position:relative; top:1px;')

						.reveal-inline-block(style='max-width: 100%;')
							a.active(href='#')
								span.icon.material-icons-ico.material-icons-view_list


				.offset-top-35
					!{cfg.brand.svgDivider}

				.offset-top-40
					h1.text-spacing-inverse-50 Fleet


					.range.range-xs-center.offset-top-44.offset-md-top-53.text-sm-left
						.cell-sm-10.cell-md-7.cell-lg-6
							.reveal-inline-block(style='max-width: 100%;')
								// Unit
								.unit.unit-sm.unit-sm-horizontal.unit-spacing-sm.text-left
									.unit-left
										img.img-responsive.center-block(src="images/products/product-01-270x263.jpg" width="270" height="263" alt="")
									.unit-body
										div
											h5.p.text-capitalize.text-spacing-inverse-25
												a.text-mine-shaft(href="#") Sedans
											p.offset-top-15(style='line-height: 22px;').
												Our latest model full-size sedans, provide comfortable transportation for up to four passengers with enough baggage room for three standard size bags. These roomy vehicles are the best way to get around town, safely and dependably.
											.offset-top-10
												a.btn-link.text-turquoise.text-extra-small.text-bold.font-accent.text-spacing-50.text-uppercase(href="reservations.html") Book Now

						.cell-sm-10.cell-md-7.cell-lg-6.offset-top-60.offset-lg-top-0
							.reveal-inline-block(style='max-width: 100%;')
								// Unit
								.unit.unit-sm.unit-sm-horizontal.unit-spacing-sm.text-left
									.unit-left
										img.img-responsive.center-block(src="images/products/product-02-270x263.jpg" width="270" height="263" alt="")
									.unit-body
										div
											h5.p.text-capitalize.text-spacing-inverse-25
												a.text-mine-shaft(href="#") Luxury Sedans
											p.offset-top-15(style='line-height: 22px;').
												Late model Lincoln Town Car & Caddilac represent a perfect choice for luxury transportation. These vehicles were designed with passenger comfort in mind. They provide rear seat passengers with additional legroom and maximum comfort.
											.offset-top-10
												a.btn-link.text-turquoise.text-extra-small.text-bold.font-accent.text-spacing-50.text-uppercase(href="reservations.html") Book Now

						.cell-sm-10.cell-md-7.cell-lg-6.offset-top-60
							.reveal-inline-block(style='max-width: 100%;')
								// Unit
								.unit.unit-sm.unit-sm-horizontal.unit-spacing-sm.text-left
									.unit-left
										img.img-responsive.center-block(src="images/products/product-03-270x263.jpg" width="270" height="263" alt="")
									.unit-body
										div
											h5.text-capitalize.text-spacing-inverse-25.p
												a.text-mine-shaft(href="#") Limousines
											p.offset-top-15(style='line-height: 22px;').
												We operate an extensive fleet of limousines of the same excellent quality and luxury. They can bring you unparalleled comfort and style with seating for up to 10. All of our limos come with tinted windows, privacy divider, and ample interior space.
											.offset-top-10
												a.btn-link.text-turquoise.text-extra-small.text-bold.font-accent.text-spacing-50.text-uppercase(href="reservations.html") Book Now

						.cell-sm-10.cell-md-7.cell-lg-6.offset-top-60
							.reveal-inline-block(style='max-width: 100%;')
								// Unit
								.unit.unit-sm.unit-sm-horizontal.unit-spacing-sm.text-left
									.unit-left
										img.img-responsive.center-block(src="images/products/product-04-270x263.jpg" width="270" height="263" alt="")
									.unit-body
										div
											h5.text-capitalize.text-spacing-inverse-25.p
												a.text-mine-shaft(href="#") Hybrid Sedans
											p.offset-top-15(style='line-height: 22px;').
												Hybrid Sedans are the green-initiative answer for your transportation needs. Our latest model Toyota Camrys can accommodate up to 3 passengers and 3 standard size pieces of luggage getting you where you need to go.
											.offset-top-10
												a.btn-link.text-turquoise.text-extra-small.text-bold.font-accent.text-spacing-50.text-uppercase(href="reservations.html") Book Now

						.cell-sm-10.cell-md-7.cell-lg-6.offset-top-60
							.reveal-inline-block(style='max-width: 100%;')
								// Unit
								.unit.unit-sm.unit-sm-horizontal.unit-spacing-sm.text-left
									.unit-left
										img.img-responsive.center-block(src="images/products/product-05-270x263.jpg" width="270" height="263" alt="")
									.unit-body
										div
											h5.text-capitalize.text-spacing-inverse-25.p
												a.text-mine-shaft(href="#") SUVs
											p.offset-top-15(style='line-height: 22px;').
												Our SUVs are black late model Cadillac Escalades - perfect vehicles for extra room and large parties to ride in comfort. Chauffeurs are courteous, professional, and dress in executive attire. Bottled water is complimentary in each vehicle.
											.offset-top-10
												a.btn-link.text-turquoise.text-extra-small.text-bold.font-accent.text-spacing-50.text-uppercase(href="reservations.html") Book Now

						.cell-sm-10.cell-md-7.cell-lg-6.offset-top-60
							.reveal-inline-block(style='max-width: 100%;')
								// Unit
								.unit.unit-sm.unit-sm-horizontal.unit-spacing-sm.text-left
									.unit-left
										img.img-responsive.center-block(src="images/products/product-06-270x263.jpg" width="270" height="263" alt="")
									.unit-body
										div
											h5.text-capitalize.text-spacing-inverse-25.p
												a.text-mine-shaft(href="#") Minivans
											p.offset-top-15(style='line-height: 22px;').
												Our minivans are ideal for small parties that require additional seating. Enjoy roomy and relaxed seating for up to five passengers as well as adequate room for up to five pieces of luggage. Minivans are an excellent choice for group outings and family airport trips.
											.offset-top-10
												a.btn-link.text-turquoise.text-extra-small.text-bold.font-accent.text-spacing-50.text-uppercase(href="reservations.html") Book Now

				.offset-top-44
					!{cfg.brand.svgDivider}


	// Page Footer
	include ../sections/_footer-default