extends  ../_skeleton

block title
  title Forms

block page
  // Page Header
  header.page-header.slider-menu-position
    +rd-navbar-default({
      "style": "",
      "logo": cfg.brand.logo,
      "logoFixed": cfg.brand.logoSmall,
      "activeLink": 8,
      "attr": {
        "data-layout": "rd-navbar-fixed",
        "data-sm-layout": "rd-navbar-fixed",
        "data-md-layout": "rd-navbar-fullwidth",
        "data-lg-layout": "rd-navbar-static"
      }
    })

    +breadcrumb("Forms", {
      0: {
        "type": "link",
        "title": cfg.nav.home.title,
        "href": cfg.nav.home.href
      },
      1: {
        "type": "link",
        "title": cfg.nav.pages.title,
        "href": cfg.nav.pages.href
      },
      2: {
        "type": "link",
        "title": "Forms",
        "href": "maintenance.html"
      }
    }, "images/backgrounds/background-02-1920x900.jpg")

  // Page Content
  main.page-content.section-75.section-md-top-90.section-md-bottom-110

    // Forms
    section
      .shell
        .range.range-xs-center
          .cell-sm-10.cell-lg-8
            div
              h1 Forms

            .offset-top-44
              p With forms you can get almost any kind of information from #[br.veil.reveal-lg-inline-block] your visitors, who will definitely appreciate this attractive element.


            // Create an account
            .offset-top-55
              h5 Create an account

              .offset-top-30
                // RD Mailform
                form.rd-mailform
                  .range.range-xs-center
                    .cell-sm-6.inset-lg-left-8.inset-lg-right-8
                      .form-group
                        label.form-label(for="forms-create-account-name") Name
                        input#forms-create-account-name.form-control(type="text" name="name" data-constraints='@Required')
                    .cell-sm-6.inset-lg-left-8.inset-lg-right-8.offset-top-15.offset-sm-top-0
                      .form-group
                        label.form-label(for="forms-create-account-username") Username
                        input#forms-create-account-username.form-control(type="text" name="username" data-constraints='@Required')
                    .cell-sm-6.inset-lg-left-8.inset-lg-right-8.offset-top-15
                      .form-group
                        label.form-label(for="forms-create-account-email") Email
                        input#forms-create-account-email.form-control(type="email" name="email" data-constraints="@Email @Required")
                    .cell-sm-6.inset-lg-left-8.inset-lg-right-8.offset-top-15
                      .form-group
                        label.form-label(for="forms-create-account-password") Password
                        input#forms-create-account-password.form-control(type="password" name="password" data-constraints='@Required')
                  .offset-top-30
                    button(type="submit").btn.btn-primary create an account


            .offset-top-20
              !{cfg.brand.svgDivider}

            // social buttons
            .offset-top-30
              p.font-accent.text-uppercase.text-bold.text-spacing-25.text-mine-shaft or enter with

            .group.group-xs.btn-tags.offset-top-30
              a.btn.btn-info.btn-icon.btn-icon-left(href="#")
                span.icon.icon-xs.fa.fa-facebook
                span.text-lowercase.text-regular.text-spacing-0.font-default facebook
              a.btn.btn-curious-blue.btn-icon.btn-icon-left(href="#")
                span.icon.icon-xs.fa.fa-twitter
                span.text-lowercase.text-regular.text-spacing-0.font-default twitter
              a.btn.btn-mandy.btn-icon.btn-icon-left(href="#")
                span.icon.icon-xs.fa.fa-google-plus
                span.text-lowercase.text-regular.text-spacing-0.font-default google +

            .offset-top-20
              !{cfg.brand.svgDivider}

            // get in touch
            .offset-top-30
              h5 get in touch

        // RD Mailform
        form.rd-mailform.range.range-xs-center.range-lg-left.offset-top-30(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
          .cell-sm-10.cell-lg-9.cell-lg-preffix-2
            .range.range-xs-center
              .cell-md-4.inset-lg-right-8
                .form-group
                  label.form-label(for="forms-name") Name
                  input#forms-name.form-control(type="text" name="name" data-constraints='@Required')
              .cell-md-4.inset-lg-left-8.inset-lg-right-8.offset-top-15.offset-md-top-0
                .form-group
                  label.form-label(for="forms-last-name") Last name
                  input#forms-last-name.form-control(type="text" name="username" data-constraints='@Required')
              .cell-md-4.inset-lg-left-8.inset-lg-right-8.offset-top-15.offset-md-top-0
                .form-group
                  label.form-label(for="forms-email") Email
                  input#forms-email.form-control(type="email" name="email" data-constraints="@Email @Required")
              .cell-sm-12.offset-top-15
                .form-group
                  label.form-label(for="forms-message") Message
                  textarea#forms-message.form-control(name="message" data-constraints="@Required" style="max-height: 115px;")
          .cell-xs-12.offset-top-20
            button(type="submit" style="min-width: 210px;").btn.btn-primary send a message


  // Page Footer
  include ../sections/_footer-default