extends  ../_skeleton

//- Includes
include ../elements/_ui-box-icon

block title
	title Rates

block page
	include ../elements/_ui-rd-parallax

	// Page Header
	header.page-header.slider-menu-position
		+rd-navbar-default({
			"style": "",
			"logo": cfg.brand.logo,
			"logoFixed": cfg.brand.logoSmall,
			"activeLink": 3,
			"attr": {
				"data-layout": "rd-navbar-fixed",
				"data-sm-layout": "rd-navbar-fixed",
				"data-md-layout": "rd-navbar-fullwidth",
				"data-lg-layout": "rd-navbar-static"
			}
		})

		+breadcrumb("Rates", {
			0: {
				"type": "link",
				"title": cfg.nav.home.title,
				"href": cfg.nav.home.href
			},

			1: {
				"type": "link",
				"title": "Rates",
				"href": "charter.html"
			}
		}, "images/backgrounds/background-02-1920x900.jpg")

	// Page Content
	main.page-content

		// Rates
		section.section-75.section-md-top-90.section-md-bottom-110
			.shell
				h1 Service rates
				p.offset-top-44 Rates shown here are based on popular Brooklyn Park slope area routes. The tolls and tips are not included in these prices. For Minivans and SUVs there is an additional charge fee of $15.00 (including Manhattan and Airports). For free estimates, please contact our dispatchers.
				.offset-top-25
					p.font-accent.text-bold.text-spacing-50.text-mine-shaft.text-uppercase call us
				.offset-top-4
					p.h1.text-spacing-inverse-50
						a.text-mine-shaft.transition-none(href='callto:#')
							| 1
							span.text-primary.transition-none=' (800) '
							|  123 1234
		section
			+rd-parallax({
				"on": "false",
				"MdOn": "true",
				"firstLayerType": "media",
				"firstLayerSpeed": "0.25",
				"src": "images/backgrounds/background-18-1920x900.jpg",
				"secondLayerType": "html",
				"secondLayerSpeed": "0",
				"fade": "false"
			})
				.shell.section-80.section-md-top-90.section-md-bottom-103
					h1.text-spacing-inverse-25.context-dark Rates round the city
					ul.offset-top-40.reveal-inline-block.list-inline.list-marked.list-marked-type-3.list-silver-chalice.list-marked-silver-chalice.font-accent.text-bold.text-spacing-inverse-25.text-md-left
						li
							span.text-primary Economy
						li
							a.text-white(href='#') Comfort
						li
							a.text-white(href='#') Business
						li
							a.text-white(href='#') Minivan
						li
							a.text-white(href='#') Minibus
					.range.range-xs-center.offset-top-44
						.cell-md-8
							table.table-custom-variant-1.table.table-custom.table-fixed.text-bold.table-fixed.table-striped.table-lined.table-lg
								tbody.text-gray-dark.text-uppercase.text-spacing-25.font-accent
									tr.bg-white
										th.text-center first 20 min.
										th.text-center 3$
									tr.bg-white
										td more than 20 min.
										td 4$
									tr.bg-white
										td out of town
										td +3$

		section.section-75.section-md-top-80.section-md-bottom-110
			.shell
				h1.text-spacing-inverse-25 Additional services

				.range.range-xs-center.offset-top-44
					.cell-md-8
						table.table-custom-variant-1.table.table-custom.table-fixed.text-bold.table-fixed.table-striped.table-lined.table-lg
							tbody.text-gray-dark.text-uppercase.text-spacing-25.font-accent
								tr.bg-white
									th.text-center out of town
									th.text-center +3$/m
								tr.bg-white
									td waiting over 10 min
									td 3$
								tr.bg-white
									td Smoking car
									td +5$
								tr.bg-white
									td oversize Transportation
									td +2$
								tr.bg-white
									td Baby chair
									td +1$
								tr.bg-white
									td 1 animal
									td +20$
								tr.bg-white
									td airport transfer
									td +5$


	// Page Footer
	include ../sections/_footer-default