//- Boxed Testimonials v2

mixin testimonials-type-3(image, title, cite, q)
  // Boxed Testimonials v2
  blockquote.quote.quote-classic.quote-classic-boxed-2
    .quote-meta
      img.img-circle.quote-img(width= image.width, height= image.height, src= image.src, alt= image.alt)
    .quote-body

      p
        q= q
      h6.quote-author.text-uppercase
        cite.text-normal= title
      p.quote-desc.text-uppercase.text-warning= cite