.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-accent: #53bceb;
  --color-accent2: #7dc363;
}

.dark {
  --color-bg-primary: #2d3748;
  --color-bg-secondary: #283141;
  --color-text-primary: #f7fafc;
  --color-text-secondary: #cad2db;
  --color-accent: #53bceb;
  --color-accent2: #7dc363;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.page-enter-active,
.page-leave-active {
  transition: opacity 0.1s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

body {
  font-family: 'Lato', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: var(--color-text-secondary);
  background-color: var(--color-bg-primary);
  overflow-y: scroll;
}

h1 {
  color: var(--color-text-primary);
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  color: var(--color-text-primary);
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  color: var(--color-accent);
  font-family: monospace;
  font-size: 1.2rem;
  font-weight: bold;

  a {
    color: var(--color-accent);
  }
}

h4 {
  color: var(--color-text-primary);
  font-size: 1rem;
  font-weight: bold;
}

a {
  color: var(--color-text-primary);
  text-decoration: none;

  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover {
  color: var(--color-accent2);
}

p {
  color: var(--color-text-secondary);
}

// TODO: font-bold
.bold {
  font-weight: bold;
}

.underscore {
  color: var(--color-accent);
}

.text-gradient {
  background: -webkit-linear-gradient(
    0deg,
    var(--color-accent),
    var(--color-accent2)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::selection {
  color: var(--color-text-primary);
  background: var(--color-accent2); /* WebKit/Blink Browsers */
}
::-moz-selection {
  color: var(--color-text-primary);
  background: var(--color-accent2); /* Gecko Browsers */
}

.no-selection {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.dark hr {
  border-top: 1px solid #1a2433;
}

.layout {
  header.header {
    background-color: var(--color-bg-primary);
  }

  .color-mode-switcher:hover {
    svg {
      stroke: var(--color-accent2);
    }
  }

  .nav-mobile-toggle {
    color: var(--color-text-primary);
  }
  .nav-mobile-toggle:hover {
    color: var(--color-accent2);
  }

  .nav-mobile {
    background-color: var(--color-bg-primary);
    background-color: rgba($color: var(--color-bg-primary), $alpha: 0.8);
  }

  .nav__link:hover {
    color: var(--color-accent2);
  }
  .nav__link.nuxt-link-exact-active,
  .nav__link.nuxt-link-active:not(.root-link) {
    color: var(--color-accent);
  }
}

.btn {
  display: inline-block;
  min-width: 150px;
  padding: 10px;

  background-color: var(--color-accent);
  border: none;

  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;

  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:hover {
  -webkit-box-shadow: 10px 10px 20px rgba(37, 37, 37, 0.2);
  box-shadow: 10px 10px 20px rgba(37, 37, 37, 0.2);
  // background: -webkit-linear-gradient(0deg, #53bceb, #7dc363);
  color: #ffffff;
  background-color: var(--color-accent2);
}

input[type='text'] {
  border: 2px solid #000000;
  border-radius: none;
  outline: none;

  width: 100%;
  padding: 5px 10px;

  color: #000000;
  font-family: 'Lato', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.1em;
}

// Transitions
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

// Content
.nuxt-content {
  p + p {
    margin-top: 0.4rem;
  }

  h2 {
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
  }

  // Code blocks
  pre[class*='language-'].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
  }

  pre[class*='language-'].line-numbers > code {
    position: relative;
    white-space: inherit;
  }

  .line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em; /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    border-right: 1px solid #999;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .line-numbers-rows > span {
    display: block;
    counter-increment: linenumber;
  }

  .line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right;
  }
}
