h1 {
  font-size: 2em;
}

a {
  color: #000000;
  text-decoration: none;

  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover {
  color: #7dc363;
}

.bold {
  font-weight: bold;
}

.underscore {
  color: #53bceb;
}

.closing-tag {
  position: absolute;
  bottom: 0px;
  right: 0px;

  color: #53bceb;
  opacity: 0.2;
  font-size: 72px;

  user-select: none;
}

.text-gradient {
  background: -webkit-linear-gradient(0deg, #53bceb, #7dc363);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::selection {
  color: #ffffff;
  background: #7dc363; /* WebKit/Blink Browsers */
}
::-moz-selection {
  color: #ffffff;
  background: #7dc363; /* Gecko Browsers */
}

.btn {
  display: inline-block;
  min-width: 150px;
  padding: 10px;

  background-color: #53bceb;
  border: none;

  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;

  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:hover {
  -webkit-box-shadow: 10px 10px 20px rgba(37, 37, 37, 0.2);
  box-shadow: 10px 10px 20px rgba(37, 37, 37, 0.2);
  // background: -webkit-linear-gradient(0deg, #53bceb, #7dc363);
  background-color: #7dc363;
  color: #ffffff;
}

.btn--grey,
.btn--gray {
  color: #111111;
  background-color: #efefef;
}

input[type='text'] {
  border: 2px solid #000000;
  border-radius: 0px;

  width: calc(100% - 20px);

  padding: 5px 10px;

  font-family: 'Lato', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.1em;
}

span.close {
  font-size: 1.1em;
  cursor: pointer;
}

// Transitions
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

// Tooltips
.tooltip {
  display: block !important;
  max-width: 400px;
  z-index: 20000;

  .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
  }

  &[x-placement^='top'] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^='bottom'] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^='right'] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^='left'] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
  }

  &.popover {
    $color: #f9f9f9;

    .popover-inner {
      background: $color;
      color: black;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, 0.1);
    }

    .popover-arrow {
      border-color: $color;
    }
  }
}
