<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo">
  <head>
    <!-- Site Title-->
    <title>Intense Handmade</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="Intense web design multipurpose template">
    <meta name="date" content="Apr 26">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Dancing+Script:700%7CLato:300,300italic,400,700,900">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->
      <header class="page-head">
        <!-- RD Navbar Transparent-->
        <div class="rd-navbar-wrap">
          <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-lg-stick-up-offset="110px" class="rd-navbar rd-navbar-logo-center rd-navbar-light" data-lg-auto-height="true" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
              <div class="container">
                <div class="rd-navbar-top-block range range-lg-center range-lg-middle">
                  <div class="cell-lg-3">
                    <p class="veil reveal-lg-block">Get in touch: <span class="mdi mdi-phone"></span> <a href="callto:#">1-800-1234-567</a></p>
                  </div>
                  <div class="cell-lg-6 text-center">
                    <!--Navbar Brand-->
                    <div class="rd-navbar-brand"><a href="index.html"><img width='221' height='32' src='images/logo-dark.png' alt=''/></a></div>
                  </div>
                  <div class="cell-lg-3">
                    <div class="form-search-wrap">
                      <!-- RD Search Form-->
                      <form action="search-results.html" method="GET" class="form-search rd-search">
                        <div class="form-group">
                          <label for="rd-navbar-form-search-widget" class="form-label form-search-label form-label-sm">Search</label>
                          <input id="rd-navbar-form-search-widget" type="text" name="s" autocomplete="off" class="form-search-input input-sm form-control form-control-gray-lightest input-sm"/>
                        </div>
                        <button type="submit" class="form-search-submit"><span class="mdi mdi-magnify"></span></button>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                  <!-- RD Navbar Top Panel Toggle-->
                  <button data-rd-navbar-toggle=".rd-navbar, .form-search-wrap" class="rd-navbar-search-toggle"><span></span></button>
                </div>
              </div>
              <div class="rd-navbar-menu-wrap">
                <div class="container">
                  <div class="rd-navbar-nav-wrap">
                    <div class="rd-navbar-mobile-scroll">
                      <!--Navbar Brand Mobile-->
                      <div class="rd-navbar-mobile-brand"><a href="index.html"><img width='221' height='32' src='images/logo-dark.png' alt=''/></a></div>
                      <!-- RD Navbar Nav-->
                      <ul class="rd-navbar-nav">
                        <li class="active"><a href="index.html"><span>Home</span></a>
                        </li>
                        <li><a href="shop.html"><span>Shop</span></a>
                          <ul class="rd-navbar-dropdown">
                            <li><a href="single-product.html"><span class="text-middle">Single Product</span></a>
                            </li>
                            <li><a href="checkout.html"><span class="text-middle">Checkout</span></a>
                            </li>
                          </ul>
                        </li>
                        <li><a href="blog.html"><span>Blog</span></a>
                          <ul class="rd-navbar-dropdown">
                            <li><a href="blog-single-post.html"><span class="text-middle">Single Blog Post</span></a>
                            </li>
                            <li><a href="search-results.html"><span class="text-middle">Search Results</span></a>
                            </li>
                          </ul>
                        </li>
                        <li><a href="about-us.html"><span>About</span></a>
                        </li>
                        <li><a href="contacts.html"><span>Contacts</span></a>
                        </li>
                        <li class="cart"><a href="shop.html"><span class="icon mdi mdi-cart text-middle"></span><span class="cart-text">Cart</span><span class="cart-count big text-middle text-regular">2</span></a>
                          <div class="rd-navbar-dropdown rd-navbar-cart-dropdown">
                            <!--RD Navbar shop-->
                            <div class="rd-navbar-cart-wrap">
                              <ul class="rd-navbar-list-products">
                                <li>
                                  <div class="rd-navbar-product-image"><img src="images/product-02-60x60.png" alt=""/></div>
                                  <div class="rd-navbar-product-caption">
                                    <h6 class="rd-navbar-product-title"><a href="single-product.html">Artist Paint Brush Set Nylon Hair Oil Painting Supplies</a></h6>
                                    <p class="rd-navbar-product-price">$124.00</p>
                                  </div><a href="#" class="mdi mdi-window-close rd-navbar-product-remove"></a>
                                </li>
                                <li>
                                  <div class="rd-navbar-product-image"><img src="images/product-07-60x60.png" alt=""/></div>
                                  <div class="rd-navbar-product-caption">
                                    <h6 class="rd-navbar-product-title"><a href="single-product.html">Marco 72 Colors Art Drawing Oil Base Pencils-Set</a></h6>
                                    <p class="rd-navbar-product-price">$189.00</p>
                                  </div><a href="#" class="mdi mdi-window-close rd-navbar-product-remove"></a>
                                </li>
                              </ul>
                              <div class="rd-navbar-cart-total">
                                <h6 class="rd-navbar-cart-total-title">Cart subtotal</h6><span class="rd-navbar-cart-total-price">$313.00</span>
                              </div>
                              <div class="text-center"><a href="checkout.html" class="btn btn-rect btn-sm btn-primary btn-icon btn-icon-left"><span class="icon mdi mdi-lock"></span>Go to checkout</a></div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <!-- Swiper-->
        <section class="section-relative">
          <div data-loop="true" data-autoplay="true" data-slide-effect="fade" data-height="100vh" data-dragable="false" data-min-height="480px" data-dots="true" class="swiper-container swiper-slider">
            <div class="swiper-wrapper">
              <div data-slide-bg="images/home-01-1920x1028.jpg" class="swiper-slide swiper-slide-overlay-disable swiper-slide-center"></div>
              <div data-slide-bg="images/home-02-1920x1028.jpg" class="swiper-slide swiper-slide-overlay-disable swiper-slide-center"></div>
              <div data-slide-bg="images/home-03-1920x1028.jpg" class="swiper-slide swiper-slide-overlay-disable swiper-slide-center"></div>
            </div>
            <!-- Swiper Pagination-->
            <div class="swiper-pagination swiper-pagination-type-2"></div>
          </div>
          <div class="section-center-absolute">
            <div class="text-extra-big text-white font-accent">Unique creations</div>
            <h5 class="text-regular text-white offset-top-10">For Unique Occasions</h5>
            <div class="shell offset-top-41 offset-sm-top-66">
              <div class="range range-xs-center">
                <div class="cell-sm-6 cell-md-5 cell-lg-4 cell-xl-5"><a href="shop.html" class="btn btn-block btn-primary btn-ellipse">shop now</a></div>
                <div class="cell-sm-6 cell-md-5 cell-lg-4 cell-xl-5 offset-top-20 offset-sm-top-0"><a href="blog.html" class="btn btn-block btn-default btn-ellipse btn-anis-effect">view blog</a></div>
              </div>
            </div>
          </div>
        </section>
      </header>
      <!-- Page Content-->
      <main class="page-content">
        <!-- Our Shop-->
        <section class="section-98 section-sm-top-110 section-sm-bottom-124">
          <div class="shell">
            <h1 class="text-between">Our Shop</h1>
            <div class="offset-top-30">
              <!-- Tabs Classic-->
                      <!-- Responsive-tabs-->
                      <div data-type="horizontal" class="responsive-tabs responsive-tabs-classic">
                        <ul data-group="tabs-group-default" class="resp-tabs-list tabs-1 text-center tabs-group-default">
                          <li>New Arrivals</li>
                          <li>Popular</li>
                          <li>Best Sellers</li>
                          <li>Specials</li>
                        </ul>
                        <div data-group="tabs-group-default" class="resp-tabs-container text-left tabs-group-default">
                          <!-- First Tab-->
                          <div>
                            <div class="range">
                              <!-- Owl First Slide-->
                              <div class="cell-sm-6 cell-md-3">
                                        <!-- Product-->
                                        <div class="product product-grid product-grid-type-2">
                                          <!-- Product Image-->
                                          <div class="product-image"><img src="images/product-01-210x210.png" alt="" class="img-responsive product-image-area">
                                            <!-- Product Label--><span class="product-label label-custom label-lg-custom label-rounded-custom label-danger">Sale</span>
                                          </div>
                                          <!-- Product Rating-->
                                          <div class="product-rating offset-top-20"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star-half"></span><span class="mdi mdi-star-outline"></span></div>
                                          <!-- Product Title-->
                                          <div class="product-title offset-top-4 text-primary"><a href="single-product.html" class="big">Wood Box Paining Set 12 Oil Colors</a></div>
                                          <!-- Product price-->
                                          <div class="product-price text-bold offset-top-20"><span class="h5 product-price-new">$254.00</span><span class="product-price-old text-dark">$319.00</span>
                                          </div>
                                          <div class="product-block-hover">
                                            <!-- Product Add To cart--><a href="single-product.html" class="btn btn-icon btn-icon-left btn-primary product-btn btn-ellipse offset-top-20"><span class="icon mdi mdi-cart"></span>Add to Cart</a>
                                          </div>
                                        </div>
                              </div>
                              <div class="cell-sm-6 cell-md-3 offset-top-41 offset-sm-top-0">
                                        <!-- Product-->
                                        <div class="product product-grid product-grid-type-2">
                                          <!-- Product Image-->
                                          <div class="product-image"><img src="images/product-02-232x229.png" alt="" class="img-responsive product-image-area">
                                            <!-- Product Label--><span class="product-label label-custom label-lg-custom label-rounded-custom label-info">New</span>
                                          </div>
                                          <!-- Product Rating-->
                                          <div class="product-rating offset-top-20"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star-half"></span><span class="mdi mdi-star-outline"></span></div>
                                          <!-- Product Title-->
                                          <div class="product-title offset-top-4 text-primary"><a href="single-product.html" class="big">Artist Paint Brush Set Nylon Hair Oil Painting Supplies</a></div>
                                          <!-- Product price-->
                                          <div class="product-price text-bold offset-top-20"><span class="h5 product-price-new">$124.00</span><span class="product-price-old text-dark">$219.00</span>
                                          </div>
                                          <div class="product-block-hover">
                                            <!-- Product Add To cart--><a href="single-product.html" class="btn btn-icon btn-icon-left btn-primary product-btn btn-ellipse offset-top-20"><span class="icon mdi mdi-cart"></span>Add to Cart</a>
                                          </div>
                                        </div>
                              </div>
                              <div class="cell-sm-6 cell-md-3 offset-top-41 offset-md-top-0">
                                        <!-- Product-->
                                        <div class="product product-grid product-grid-type-2">
                                          <!-- Product Image-->
                                          <div class="product-image"><img src="images/product-03-217x215.png" alt="" class="img-responsive product-image-area">
                                            <!-- Product Label--><span class="product-label label-custom label-lg-custom label-rounded-custom label-danger">Sale</span>
                                          </div>
                                          <!-- Product Rating-->
                                          <div class="product-rating offset-top-20"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star-half"></span><span class="mdi mdi-star-outline"></span></div>
                                          <!-- Product Title-->
                                          <div class="product-title offset-top-4 text-primary"><a href="single-product.html" class="big">Castle Art Supplies Acrylic Paint Set Pack of 12 Colors</a></div>
                                          <!-- Product price-->
                                          <div class="product-price text-bold offset-top-20"><span class="h5">$289.00</span>
                                          </div>
                                          <div class="product-block-hover">
                                            <!-- Product Add To cart--><a href="single-product.html" class="btn btn-icon btn-icon-left btn-primary product-btn btn-ellipse offset-top-20"><span class="icon mdi mdi-cart"></span>Add to Cart</a>
                                          </div>
                                        </div>
                              </div>
                              <div class="cell-sm-6 cell-md-3 offset-top-41 offset-md-top-0">
                                        <!-- Product-->
                                        <div class="product product-grid product-grid-type-2">
                                          <!-- Product Image-->
                                          <div class="product-image"><img src="images/product-04-229x223.png" alt="" class="img-responsive product-image-area">
                                            <!-- Product Label--><span class="product-label label-custom label-lg-custom label-rounded-custom label-info">New</span>
                                          </div>
                                          <!-- Product Rating-->
                                          <div class="product-rating offset-top-20"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star-half"></span><span class="mdi mdi-star-outline"></span></div>
                                          <!-- Product Title-->
                                          <div class="product-title offset-top-4 text-primary"><a href="single-product.html" class="big">Color Set Marco Renoir Fine Art Drawing Oil Base Pencils</a></div>
                                          <!-- Product price-->
                                          <div class="product-price text-bold offset-top-20"><span class="h5 product-price-new">$189.00</span><span class="product-price-old text-dark">$219.00</span>
                                          </div>
                                          <div class="product-block-hover">
                                            <!-- Product Add To cart--><a href="single-product.html" class="btn btn-icon btn-icon-left btn-primary product-btn btn-ellipse offset-top-20"><span class="icon mdi mdi-cart"></span>Add to Cart</a>
                                          </div>
                                        </div>
                              </div>
                            </div>
                          </div>
                          <div>
                            <div class="range">
                              <div class="cell-sm-6 cell-md-3">
                                        <!-- Product-->
                                        <div class="product product-grid product-grid-type-2">
                                          <!-- Product Image-->
                                          <div class="product-image"><img src="images/product-04-229x223.png" alt="" class="img-responsive product-image-area">
                                            <!-- Product Label--><span class="product-label label-custom label-lg-custom label-rounded-custom label-info">New</span>
                                          </div>
                                          <!-- Product Rating-->
                                          <div class="product-rating offset-top-20"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star-half"></span><span class="mdi mdi-star-outline"></span></div>
                                          <!-- Product Title-->
                                          <div class="product-title offset-top-4 text-primary"><a href="single-product.html" class="big">Color Set Marco Renoir Fine Art Drawing Oil Base Pencils</a></div>
                                          <!-- Product price-->
                                          <div class="product-price text-bold offset-top-20"><span class="h5 product-price-new">$189.00</span><span class="product-price-old text-dark">$219.00</span>
                                          </div>
                                          <div class="product-block-hover">
                                            <!-- Product Add To cart--><a href="single-product.html" class="btn btn-icon btn-icon-left btn-primary product-btn btn-ellipse offset-top-20"><span class="icon mdi mdi-cart"></span>Add to Cart</a>
                                          </div>
                                        </div>
                              </div>
                              <div class="cell-sm-6 cell-md-3 offset-top-41 offset-sm-top-0">
                                        <!-- Product-->
                                        <div class="product product-grid product-grid-type-2">
                                          <!-- Product Image-->
                                          <div class="product-image"><img src="images/product-02-232x229.png" alt="" class="img-responsive product-image-area">
                                            <!-- Product Label--><span class="product-label label-custom label-lg-custom label-rounded-custom label-info">New</span>
                                          </div>
                                          <!-- Product Rating-->
                                          <div class="product-rating offset-top-20"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star-half"></span><span class="mdi mdi-star-outline"></span></div>
                                          <!-- Product Title-->
                                          <div class="product-title offset-top-4 text-primary"><a href="single-product.html" class="big">Artist Paint Brush Set Nylon Hair Oil Painting Supplies</a></div>
                                          <!-- Product price-->
                                          <div class="product-price text-bold offset-top-20"><span class="h5 product-price-new">$124.00</span><span class="product-price-old text-dark">$219.00</span>
                                          </div>
                                          <div class="product-block-hover">
                                            <!-- Product Add To cart--><a href="single-product.html" class="btn btn-icon btn-icon-left btn-primary product-btn btn-ellipse offset-top-20"><span class="icon mdi mdi-cart"></span>Add to Cart</a>
                                          </div>
                                        </div>
                              </div>
                            </div>
                          </div>
                          <div>
                            <div class="range">
                              <div class="cell-sm-6 cell-md-3">
                                        <!-- Product-->
                                        <div class="product product-grid product-grid-type-2">
                                          <!-- Product Image-->
                                          <div class="product-image"><img src="images/product-01-210x210.png" alt="" class="img-responsive product-image-area">
                                            <!-- Product Label--><span class="product-label label-custom label-lg-custom label-rounded-custom label-danger">Sale</span>
                                          </div>
                                          <!-- Product Rating-->
                                          <div class="product-rating offset-top-20"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star-half"></span><span class="mdi mdi-star-outline"></span></div>
                                          <!-- Product Title-->
                                          <div class="product-title offset-top-4 text-primary"><a href="single-product.html" class="big">Wood Box Paining Set 12 Oil Colors</a></div>
                                          <!-- Product price-->
                                          <div class="product-price text-bold offset-top-20"><span class="h5 product-price-new">$254.00</span><span class="product-price-old text-dark">$319.00</span>
                                          </div>
                                          <div class="product-block-hover">
                                            <!-- Product Add To cart--><a href="single-product.html" class="btn btn-icon btn-icon-left btn-primary product-btn btn-ellipse offset-top-20"><span class="icon mdi mdi-cart"></span>Add to Cart</a>
                                          </div>
                                        </div>
                              </div>
                              <div class="cell-sm-6 cell-md-3 offset-top-41 offset-sm-top-0">
                                        <!-- Product-->
                                        <div class="product product-grid product-grid-type-2">
                                          <!-- Product Image-->
                                          <div class="product-image"><img src="images/product-03-217x215.png" alt="" class="img-responsive product-image-area">
                                            <!-- Product Label--><span class="product-label label-custom label-lg-custom label-rounded-custom label-danger">Sale</span>
                                          </div>
                                          <!-- Product Rating-->
                                          <div class="product-rating offset-top-20"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star-half"></span><span class="mdi mdi-star-outline"></span></div>
                                          <!-- Product Title-->
                                          <div class="product-title offset-top-4 text-primary"><a href="single-product.html" class="big">Castle Art Supplies Acrylic Paint Set Pack of 12 Colors</a></div>
                                          <!-- Product price-->
                                          <div class="product-price text-bold offset-top-20"><span class="h5">$289.00</span>
                                          </div>
                                          <div class="product-block-hover">
                                            <!-- Product Add To cart--><a href="single-product.html" class="btn btn-icon btn-icon-left btn-primary product-btn btn-ellipse offset-top-20"><span class="icon mdi mdi-cart"></span>Add to Cart</a>
                                          </div>
                                        </div>
                              </div>
                            </div>
                          </div>
                          <div>
                            <div class="range">
                              <div class="cell-sm-6 cell-md-3">
                                        <!-- Product-->
                                        <div class="product product-grid product-grid-type-2">
                                          <!-- Product Image-->
                                          <div class="product-image"><img src="images/product-02-232x229.png" alt="" class="img-responsive product-image-area">
                                            <!-- Product Label--><span class="product-label label-custom label-lg-custom label-rounded-custom label-info">New</span>
                                          </div>
                                          <!-- Product Rating-->
                                          <div class="product-rating offset-top-20"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star-half"></span><span class="mdi mdi-star-outline"></span></div>
                                          <!-- Product Title-->
                                          <div class="product-title offset-top-4 text-primary"><a href="single-product.html" class="big">Artist Paint Brush Set Nylon Hair Oil Painting Supplies</a></div>
                                          <!-- Product price-->
                                          <div class="product-price text-bold offset-top-20"><span class="h5 product-price-new">$124.00</span><span class="product-price-old text-dark">$219.00</span>
                                          </div>
                                          <div class="product-block-hover">
                                            <!-- Product Add To cart--><a href="single-product.html" class="btn btn-icon btn-icon-left btn-primary product-btn btn-ellipse offset-top-20"><span class="icon mdi mdi-cart"></span>Add to Cart</a>
                                          </div>
                                        </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
            </div>
          </div>
        </section>
        <!-- Classic Thumbnail-->
        <!-- Classic Gallery Carousel-->
        <!-- Classic Thumbnail-->
        <!-- Embed Video-->
        <!-- Classic Soundcloud Player-->
        <!-- Upcoming Workshops-->
        <section class="context-dark">
                  <!-- RD Parallax-->
                  <div data-on="false" data-md-on="true" class="rd-parallax">
                    <div data-speed="0.35" data-type="media" data-url="images/home-04-1920x1230.jpg" class="rd-parallax-layer"></div>
                    <div data-speed="0" data-type="html" class="rd-parallax-layer">
                      <div class="bg-overlay-gray-darkest">
                        <div class="shell section-98 section-sm-110">
                          <h1 class="text-between text-white">Upcoming Workshops</h1>
                          <div class="range range-xs-center">
                            <div class="cell-sm-6 cell-md-5 cell-lg-3">
                                      <!-- Post Event-->
                                      <article class="post post-event-type-2">
                                        <!-- Post media-->
                                        <header class="post-media"><a href="#"><img src="images/home-05-270x310.jpg" width="270" height="310" alt=""><span class="icon fa fa-info-circle"></span></a>
                                        </header>
                                        <!-- Post content-->
                                        <section class="post-content text-left offset-top-10">
                                          <!-- Post Body-->
                                          <div class="post-body">
                                            <div class="icon icon-xxs mdi mdi-account text-middle"></div> <span class="text-middle">Julia Flores</span>
                                            <!-- Post Title-->
                                            <h5 class="offset-top-10"><a href="#">Sew Workshop for Beginners</a></h5>
                                            <!-- Post meta-->
                                            <div class="post-meta context-dark">
                                              <time datetime="2016-01-01"><span class="post-meta-day">22</span><span class="post-meta-month offset-top-4">September</span><span class="post-meta-time">18:00</span></time>
                                            </div>
                                          </div>
                                        </section>
                                      </article>
                            </div>
                            <div class="cell-sm-6 cell-md-5 cell-lg-3 offset-top-41 offset-sm-top-0">
                                      <!-- Post Event-->
                                      <article class="post post-event-type-2">
                                        <!-- Post media-->
                                        <header class="post-media"><a href="#"><img src="images/home-06-270x310.jpg" width="270" height="310" alt=""><span class="icon fa fa-info-circle"></span></a>
                                        </header>
                                        <!-- Post content-->
                                        <section class="post-content text-left offset-top-10">
                                          <!-- Post Body-->
                                          <div class="post-body">
                                            <div class="icon icon-xxs mdi mdi-account text-middle"></div> <span class="text-middle">Douglas Torres</span>
                                            <!-- Post Title-->
                                            <h5 class="offset-top-10"><a href="#">Woodworking Workshop</a></h5>
                                            <!-- Post meta-->
                                            <div class="post-meta context-dark">
                                              <time datetime="2016-01-01"><span class="post-meta-day">26</span><span class="post-meta-month offset-top-4">September</span><span class="post-meta-time">18:00</span></time>
                                            </div>
                                          </div>
                                        </section>
                                      </article>
                            </div>
                            <div class="range-spacer veil reveal-sm-block veil-lg offset-top-41"></div>
                            <div class="cell-sm-6 cell-md-5 cell-lg-3 offset-top-41 offset-sm-top-0">
                                      <!-- Post Event-->
                                      <article class="post post-event-type-2">
                                        <!-- Post media-->
                                        <header class="post-media"><a href="#"><img src="images/home-07-270x310.jpg" width="270" height="310" alt=""><span class="icon fa fa-info-circle"></span></a>
                                        </header>
                                        <!-- Post content-->
                                        <section class="post-content text-left offset-top-10">
                                          <!-- Post Body-->
                                          <div class="post-body">
                                            <div class="icon icon-xxs mdi mdi-account text-middle"></div> <span class="text-middle">Rose Warren</span>
                                            <!-- Post Title-->
                                            <h5 class="offset-top-10"><a href="#">Scrapbooking Workshop for Beginners</a></h5>
                                            <!-- Post meta-->
                                            <div class="post-meta context-dark">
                                              <time datetime="2016-01-01"><span class="post-meta-day">22</span><span class="post-meta-month offset-top-4">September</span><span class="post-meta-time">18:00</span></time>
                                            </div>
                                          </div>
                                        </section>
                                      </article>
                            </div>
                            <div class="cell-sm-6 cell-md-5 cell-lg-3 offset-top-41 offset-sm-top-0">
                                      <!-- Post Event-->
                                      <article class="post post-event-type-2">
                                        <!-- Post media-->
                                        <header class="post-media"><a href="#"><img src="images/home-08-270x310.jpg" width="270" height="310" alt=""><span class="icon fa fa-info-circle"></span></a>
                                        </header>
                                        <!-- Post content-->
                                        <section class="post-content text-left offset-top-10">
                                          <!-- Post Body-->
                                          <div class="post-body">
                                            <div class="icon icon-xxs mdi mdi-account text-middle"></div> <span class="text-middle">Douglas Torres</span>
                                            <!-- Post Title-->
                                            <h5 class="offset-top-10"><a href="#">Wood processing Workshop</a></h5>
                                            <!-- Post meta-->
                                            <div class="post-meta context-dark">
                                              <time datetime="2016-01-01"><span class="post-meta-day">22</span><span class="post-meta-month offset-top-4">September</span><span class="post-meta-time">18:00</span></time>
                                            </div>
                                          </div>
                                        </section>
                                      </article>
                            </div>
                          </div>
                          <div class="range range-xs-center offset-top-66">
                            <div class="cell-xs-10 cell-sm-6 cell-md-5 cell-lg-4 inset-left-50 inset-xs-left-80 inset-right-50 inset-xs-right-80"><a href="#" class="btn btn-block btn-default btn-ellipse">view all workshops</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
        </section>
        <!-- Latest Blog Posts-->
        <section class="section-98 section-sm-110">
          <div class="shell">
            <h1 class="text-between">Latest Blog Posts</h1>
            <div class="range range-xs-center">
              <div class="cell-sm-10 cell-md-6">
                        <!-- Post Boxed--><a href="blog-single-post.html" class="reveal-block">
                          <div class="post post-boxed">
                            <!-- Post media-->
                            <header class="post-media"><img width="570" height="321" src="images/post-01-570x321.jpg" alt="" class="img-responsive"></header>
                            <!-- Post content-->
                            <section class="post-content text-left">
                              <div class="post-tags group-xs"><span class="label-custom label-lg-custom label-primary">Handmade</span><span class="label-custom label-lg-custom label-primary">Scrapbooking</span>
                              </div>
                              <div class="post-body">
                                <!-- Post Title-->
                                <div class="post-title">
                                  <h4 class="text-regular">How To Grow Your Creative Business from Scratch</h4>
                                </div>
                                <div class="post-meta small">
                                  <ul class="list-inline list-inline-sm p">
                                    <li class="text-italic text-middle">by&nbsp;<span class="text-warning">Cheryl Crawford</span></li>
                                    <li><span class="text-middle icon-xxs mdi mdi-clock"></span>
                                      <time datetime="2016-01-01" class="text-italic text-warning text-middle">2 days ago</time>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </section>
                          </div></a>
              </div>
              <div class="cell-sm-10 cell-md-6 offset-top-66 offset-sm-top-30 offset-md-top-0">
                        <!-- Post Boxed--><a href="blog-single-post.html" class="reveal-block">
                          <div class="post post-boxed">
                            <!-- Post media-->
                            <header class="post-media"><img width="570" height="321" src="images/post-02-570x321.jpg" alt="" class="img-responsive"></header>
                            <!-- Post content-->
                            <section class="post-content text-left">
                              <div class="post-tags group-xs"><span class="label-custom label-lg-custom label-primary">Handmade</span><span class="label-custom label-lg-custom label-primary">Scrapbooking</span>
                              </div>
                              <div class="post-body">
                                <!-- Post Title-->
                                <div class="post-title">
                                  <h4 class="text-regular">How To Prepare For a Creative Conference</h4>
                                </div>
                                <div class="post-meta small">
                                  <ul class="list-inline list-inline-sm p">
                                    <li class="text-italic text-middle">by&nbsp;<span class="text-warning">Cheryl Crawford</span></li>
                                    <li><span class="text-middle icon-xxs mdi mdi-clock"></span>
                                      <time datetime="2016-01-01" class="text-italic text-warning text-middle">2 days ago</time>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </section>
                          </div></a>
              </div>
              <div class="range-spacer veil reveal-md-block offset-top-30"></div>
              <div class="cell-sm-10 cell-md-6 offset-top-66 offset-sm-top-30 offset-md-top-0">
                        <!-- Post Boxed--><a href="blog-single-post.html" class="reveal-block">
                          <div class="post post-boxed">
                            <!-- Post media-->
                            <header class="post-media"><img width="570" height="321" src="images/post-03-570x321.jpg" alt="" class="img-responsive"></header>
                            <!-- Post content-->
                            <section class="post-content text-left">
                              <div class="post-tags group-xs"><span class="label-custom label-lg-custom label-primary">Handmade</span><span class="label-custom label-lg-custom label-primary">Scrapbooking</span>
                              </div>
                              <div class="post-body">
                                <!-- Post Title-->
                                <div class="post-title">
                                  <h4 class="text-regular">Wooden Toys For Learning and Play</h4>
                                </div>
                                <div class="post-meta small">
                                  <ul class="list-inline list-inline-sm p">
                                    <li class="text-italic text-middle">by&nbsp;<span class="text-warning">Jack George</span></li>
                                    <li><span class="text-middle icon-xxs mdi mdi-clock"></span>
                                      <time datetime="2016-01-01" class="text-italic text-warning text-middle">2 days ago</time>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </section>
                          </div></a>
              </div>
              <div class="cell-sm-10 cell-md-6 offset-top-66 offset-sm-top-30 offset-md-top-0">
                        <!-- Post Boxed--><a href="blog-single-post.html" class="reveal-block">
                          <div class="post post-boxed">
                            <!-- Post media-->
                            <header class="post-media"><img width="570" height="321" src="images/post-04-570x321.jpg" alt="" class="img-responsive"></header>
                            <!-- Post content-->
                            <section class="post-content text-left">
                              <div class="post-tags group-xs"><span class="label-custom label-lg-custom label-primary">Handmade</span><span class="label-custom label-lg-custom label-primary">Textile</span>
                              </div>
                              <div class="post-body">
                                <!-- Post Title-->
                                <div class="post-title">
                                  <h4 class="text-regular">Alpha Custom Rugs' Ashram</h4>
                                </div>
                                <div class="post-meta small">
                                  <ul class="list-inline list-inline-sm p">
                                    <li class="text-italic text-middle">by&nbsp;<span class="text-warning">Barbara Hunt</span></li>
                                    <li><span class="text-middle icon-xxs mdi mdi-clock"></span>
                                      <time datetime="2016-01-01" class="text-italic text-warning text-middle">2 days ago</time>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </section>
                          </div></a>
              </div>
              <div class="range range-xs-center offset-top-66">
                <div class="cell-xs-10 cell-sm-6 cell-md-5 cell-lg-4 inset-left-50 inset-xs-left-80 inset-right-50 inset-xs-right-80"><a href="blog.html" class="btn btn-block btn-primary btn-ellipse">view all blog posts</a></div>
              </div>
            </div>
          </div>
        </section>
        <!-- Artists Rating-->
        <section class="section-top-98 section-sm-110 bg-lighter">
          <div class="shell">
            <h1 class="text-between">Artists Rating</h1>
            <div class="range range-xs-center">
              <div class="cell-md-10 cell-lg-12">
                <div class="range text-sm-left">
                  <div class="cell-xs-6 cell-lg-4">
                    <div class="unit unit-sm unit-sm-horizontal unit-spacing-xs">
                      <div class="unit-left"><img src="images/user-tiffany-harper-120x120.jpg" width="120" height="120" alt="Tiffany Harper"></div>
                      <div class="unit-body">
                        <div>
                          <h5 class="text-primary"><a href="#">Tiffany Harper</a></h5>
                        </div>
                        <div class="offset-top-10">
                          <div class="text-dark offset-top-0">Scrapbooking, polymer clay</div>
                        </div>
                        <div class="offset-top-14">
                          <div class="icon icon-xxs mdi mdi-trending-up text-dark text-middle"></div><span class="text-darkest text-middle inset-left-10">1806.98</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cell-xs-6 cell-lg-4 offset-top-41 offset-xs-top-0">
                    <div class="unit unit-sm unit-sm-horizontal unit-spacing-xs">
                      <div class="unit-left"><img src="images/user-marie-myers-120x120.jpg" width="120" height="120" alt="Marie Myers"></div>
                      <div class="unit-body">
                        <div>
                          <h5 class="text-primary"><a href="#">Marie Myers</a></h5>
                        </div>
                        <div class="offset-top-10">
                          <div class="text-dark offset-top-0">Scrapbooking, polymer clay</div>
                        </div>
                        <div class="offset-top-14">
                          <div class="icon icon-xxs mdi mdi-trending-up text-dark text-middle"></div><span class="text-darkest text-middle inset-left-10">1687.54</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cell-xs-6 cell-lg-4 offset-top-41 offset-lg-top-0">
                    <div class="unit unit-sm unit-sm-horizontal unit-spacing-xs">
                      <div class="unit-left"><img src="images/user-hannah-sandoval-120x120.jpg" width="120" height="120" alt="Hannah Sandoval"></div>
                      <div class="unit-body">
                        <div>
                          <h5 class="text-primary"><a href="#">Hannah Sandoval</a></h5>
                        </div>
                        <div class="offset-top-10">
                          <div class="text-dark offset-top-0">Scrapbooking, polymer clay</div>
                        </div>
                        <div class="offset-top-14">
                          <div class="icon icon-xxs mdi mdi-trending-up text-dark text-middle"></div><span class="text-darkest text-middle inset-left-10">1387.54</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Next Range-->
                  <div class="range-spacer veil reveal-lg-block offset-top-50"></div>
                  <div class="cell-xs-6 cell-lg-4 offset-top-41 offset-lg-top-0">
                    <div class="unit unit-sm unit-sm-horizontal unit-spacing-xs">
                      <div class="unit-left"><img src="images/user-amy-perry-120x120.jpg" width="120" height="120" alt="Amy Perry"></div>
                      <div class="unit-body">
                        <div>
                          <h5 class="text-primary"><a href="#">Amy Perry</a></h5>
                        </div>
                        <div class="offset-top-10">
                          <div class="text-dark offset-top-0">Scrapbooking, polymer clay</div>
                        </div>
                        <div class="offset-top-14">
                          <div class="icon icon-xxs mdi mdi-trending-up text-dark text-middle"></div><span class="text-darkest text-middle inset-left-10">1106.98</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cell-xs-6 cell-lg-4 offset-top-41 offset-lg-top-0">
                    <div class="unit unit-sm unit-sm-horizontal unit-spacing-xs">
                      <div class="unit-left"><img src="images/user-gloria-warren-120x120.jpg" width="120" height="120" alt="Gloria Warren"></div>
                      <div class="unit-body">
                        <div>
                          <h5 class="text-primary"><a href="#">Gloria Warren</a></h5>
                        </div>
                        <div class="offset-top-10">
                          <div class="text-dark offset-top-0">Scrapbooking, polymer clay</div>
                        </div>
                        <div class="offset-top-14">
                          <div class="icon icon-xxs mdi mdi-trending-up text-dark text-middle"></div><span class="text-darkest text-middle inset-left-10">987.54</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cell-xs-6 cell-lg-4 offset-top-41 offset-lg-top-0">
                    <div class="unit unit-sm unit-sm-horizontal unit-spacing-xs">
                      <div class="unit-left"><img src="images/user-sarah-graham-120x120.jpg" width="120" height="120" alt="Sarah Graham"></div>
                      <div class="unit-body">
                        <div>
                          <h5 class="text-primary"><a href="#">Sarah Graham</a></h5>
                        </div>
                        <div class="offset-top-10">
                          <div class="text-dark offset-top-0">Scrapbooking, polymer clay</div>
                        </div>
                        <div class="offset-top-14">
                          <div class="icon icon-xxs mdi mdi-trending-up text-dark text-middle"></div><span class="text-darkest text-middle inset-left-10">887.54</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="range range-xs-center offset-top-66">
              <div class="cell-xs-10 cell-sm-6 cell-md-5 cell-lg-4 inset-left-50 inset-xs-left-80 inset-right-50 inset-xs-right-80"><a href="#" class="btn btn-block btn-default btn-ellipse">view all members</a></div>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footers-->
      <!-- Footer variant 4-->
      <footer class="section-relative section-34 page-footer bg-gray-base context-dark">
        <div class="shell">
          <div class="range range-sm-center text-lg-left">
            <div class="cell-sm-12">
              <div class="range range-xs-center">
                <div class="cell-xs-12 cell-md-8 cell-md-push-2 text-md-right">
                  <div>
                    <ul class="list-inline list-inline-dashed p text-darker list-inline-md list-inline-dashed-wide">
                      <li><a href="#">Documentation</a></li>
                      <li><a href="#">Plugins</a></li>
                      <li><a href="#">Themes</a></li>
                      <li><a href="#">Support</a></li>
                      <li><a href="#">GitHub</a></li>
                    </ul>
                  </div>
                  <ul class="list-inline list-inline-white offset-top-10 text-darker">
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-google-plus"></a></li>
                    <li><a href="#" class="fa fa-pinterest"></a></li>
                    <li><a href="#" class="fa fa-vimeo"></a></li>
                    <li><a href="#" class="fa fa-youtube"></a></li>
                    <li><a href="#" class="fa fa-linkedin"></a></li>
                    <li><a href="#" class="fa fa-github"></a></li>
                    <li><a href="#" class="fa fa-yahoo"></a></li>
                  </ul>
                </div>
                <div class="cell-xs-12 cell-md-4 cell-md-push-1 offset-top-34 offset-md-top-0">
                  <!-- Footer brand-->
                  <div class="footer-brand"><a href="index.html"><img width='221' height='32' style='margin-left: -6px;' src='images/logo-light.png' alt=''/></a></div>
                  <p class="small text-darker offset-top-4">&copy; <span id="copyright-year"></span> . <a href="privacy.html">Privacy Policy</a>
                    More <a rel="nofollow" href="http://www.templatemonster.com/category.php?category=153&type=1" target="_blank">Spanish Restaurant Templates at TemplateMonster.com</a>
                    
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div id="form-output-global" class="snackbars"></div>
    <!-- PhotoSwipe Gallery-->
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>