//- Includes
include ../elements/_ui-thumbnail-winston

// Services
section
  .range.range-xs-center.offset-top-66
    .cell-xs-10.cell-sm-8.cell-md-7.cell-lg-7.cell-xl-3.text-xl-left
      .inset-xl-left-100.inset-xl-right-20
        p As a professional photographer, I offer my clients a wide set of services they can use for the benefit of their business or to make their project look more attractive. Even if you are not a businessman, you can still find what you are looking for at my website. Feel free to browse this page to learn more about photography services I provide.
    .cell-xs-10.cell-sm-7.cell-md-6.cell-lg-8.cell-xl-9.offset-top-41.offset-xl-top-0
      .range
        .cell-lg-6.cell-xl-4
          +thumbnail-winston({
            "type": "thumbnail",
            "title": "Fashion",
            "desc1": "Fashion photography",
            "desc2": "Modeling agencies",
            "desc3": "Make-up for photo shoots",
            "width": 442,
            "height": 442,
            "small": "images/image-03-442x442.jpg",
            "large": "images/image-03-442x442.jpg"
          })
        .cell-lg-6.cell-xl-4.offset-top-41.offset-lg-top-0
          +thumbnail-winston({
            "type": "thumbnail",
            "title": "Wedding",
            "desc1": "Wedding photo sessions",
            "desc2": "Professional photographer",
            "desc3": "Editing of your photos",
            "width": 442,
            "height": 442,
            "small": "images/image-22.jpg",
            "large": "images/image-22.jpg"
          })
        .cell-lg-6.cell-xl-4.offset-top-41.offset-xl-top-0
          +thumbnail-winston({
            "type": "thumbnail",
            "title": "Beauty",
            "desc1": "Photo services for magazines",
            "desc2": "Ideas for a photo shoot",
            "desc3": "Stylization of photos",
            "width": 442,
            "height": 442,
            "small": "images/image-17.jpg",
            "large": "images/image-17.jpg"
          })

        //- next range
        .range-spacer.veil.reveal-xl-block.offset-top-30

        .cell-lg-6.cell-xl-4.offset-top-41.offset-xl-top-0
          +thumbnail-winston({
            "type": "thumbnail",
            "title": "Object Shooting",
            "desc1": "Photography for online stores",
            "desc2": "Shooting jewelry",
            "desc3": "Post-processing and editing",
            "width": 442,
            "height": 442,
            "small": "images/image-23.jpg",
            "large": "images/image-23.jpg"
          })
        .cell-lg-6.cell-xl-4.offset-top-41.offset-xl-top-0
          +thumbnail-winston({
            "type": "thumbnail",
            "title": "Outdoor Shooting",
            "desc1": "Choosing a location",
            "desc2": "Selecting professional equipment",
            "desc3": "Implementing your ideas",
            "width": 442,
            "height": 442,
            "small": "images/image-24.jpg",
            "large": "images/image-24.jpg"
          })
        .cell-lg-6.cell-xl-4.offset-top-41.offset-xl-top-0
          +thumbnail-winston({
            "type": "thumbnail",
            "title": "Books",
            "desc1": "Photography for books",
            "desc2": "Services for publishing houses",
            "desc3": "Printing your photos",
            "width": 442,
            "height": 442,
            "small": "images/image-25.jpg",
            "large": "images/image-25.jpg"
          })