extends  ../_skeleton

//- Includes
include ../elements/_widget-post
include ../elements/_widget-form-subscribe
include ../elements/_widget-list-social
include ../elements/_ui-testimonials-type-4
include ../elements/_ui-rd-parallax
include ../elements/_ui-counter-type-2
include ../elements/_ui-box-planning-type-1

//-Title
block title
  title Book

//- Page
block page

  // Page Head
  header.page-head
  // Page Contents
  main.page-content
    section.context-dark.reveal-md-block.section-mobile-panel
      a.panel-toggle.icon.mdi.mdi-menu(href="#" data-custom-toggle="panel-icons")
      .shell-wide
        .range.range-xs-middle
          .cell-sm-6.text-sm-left
            a(href="../../index.html").brand
              img.img-responsive.reveal-inline-block(src="images/logo-light-187x32.png", width="187", height="32", alt="")
          .cell-sm-6
            ul.list-inline.pull-sm-right.list-inline-darkest#panel-icons
              li
                a.icon.icon-xxs.mdi.mdi-google-plus(href="#" style="font-size: 22px; line-height: 18px")
              li
                a.icon.icon-xxs.mdi.mdi-vimeo(href="#")
              li
                a.icon.icon-xxs.mdi.mdi-youtube-play(href="#")
              li
                a.icon.icon-xxs.mdi.mdi-tumblr(href="#")
              li
                a.icon.icon-xxs.mdi.mdi-camera-iris(href="#")
              li
                a.icon.icon-xxs.mdi.mdi-blogger(href="#")


    // Information Architecture
    section
      .rd-parallax(data-on="false" data-md-on="true")
        .rd-parallax-layer.bg-overlay-white(data-speed="0.35", data-type="media", data-url="images/bg-01-1920x1000.jpg")
        .rd-parallax-layer(data-speed="0", data-type='html' data-md-fade="true")
          .shell
            .range
              .range.range-xs-center.range-xs-middle.section-cover.range-md-right
                .cell-xs-10.cell-md-6.text-md-left.section-top-110.section-bottom-66.section-md-bottom-110
                  div
                    h1.text-uppercase.text-bold Information Architecture
                  .offset-top-17
                    h4.text-dark.text-regular Learn all the aspects of information architecture for web designers and developers in this book by Intense.
                  .offset-top-30.offset-md-top-60.group
                    a.btn.btn-primary.btn-icon.btn-icon-left(href="//www.templatemonster.com/intense-multipurpose-html-template.html?utm_source=livedemo&utm_medium=themebutton&utm_campaign=intense")
                      span.icon.mdi.mdi-cart-outline
                      | buy now
                    a.btn.btn-default.btn-icon.btn-icon-left(href='#')
                      span.icon.mdi.mdi-book
                      | learn more


    //Counters
    section.section-95.bg-macaroni.context-dark
      .shell-wide
        .range
          .cell-sm-8.cell-sm-preffix-2.cell-md-12.cell-md-preffix-0
            .range.range-sm-bottom.section-divided
              .cell-md-3.cell-sm-6
                +counter-type-2({
                  "description": "HOURS OF READING",
                  "titleStyle": "text-uppercase text-bold offset-top-15 text-spacing-60"
                },
                "mdi mdi-av-timer text-darker icon-sm", {
                  "dataTo": "56000",
                  "dataSpeed": "1000",
                  "preffix": "+"
                }, "bg-gray-darker")
              .cell-md-3.cell-sm-6.offset-top-60.offset-sm-top-0
                +counter-type-2({
                  "description": "BOOK AWARDS",
                  "titleStyle": "text-uppercase text-bold offset-top-15 text-spacing-60"
                },
                "mdi mdi-certificate text-darker", {
                  "dataTo": "12",
                  "dataSpeed": "1500"
                })
              .cell-md-3.cell-sm-6.offset-top-60.offset-md-top-0
                +counter-type-2({
                  "description": "Readers",
                  "titleStyle": "text-uppercase text-bold offset-top-15 text-spacing-60"
                },
                "mdi mdi-emoticon text-darker icon-sm", {
                  "dataTo": "5671",
                  "dataSpeed": "1500"
                })
              .cell-md-3.cell-sm-6.offset-top-60.offset-md-top-0
                +counter-type-2({
                  "description": "BOOKS sold",
                  "titleStyle": "text-uppercase text-bold offset-top-15 text-spacing-60"
                },
                "mdi mdi-cash-multiple text-darker icon-sm", {
                  "dataTo": "13500",
                  "dataSpeed": "1300",
                  "preffix": "+"
                })

    //You Can Read it Anyhow, Anytime, Anywhere
    section.section-top-85(style="overflow: hidden")
      .shell
        .range.range-xs-center
          .cell-xs-10.cell-md-6.text-md-left.cell-md-push-2.offset-top-15
            h2 You Can Read it Anyhow, Anytime, Anywhere
            p.inset-md-right-100.
              Our book is available on various platforms and through numerous
              book distribution services so you can read it even if
              you are on the go.
            .offset-lg-top-60.offset-top-30
              a.btn.btn-primary.btn-icon.btn-icon-left(href="//www.templatemonster.com/intense-multipurpose-html-template.html?utm_source=livedemo&utm_medium=themebutton&utm_campaign=intense")
                span.icon.mdi.mdi-cart-outline
                | buy now
          .cell-xs-10.cell-md-6.cell-md-push-1.offset-top-60.offset-md-top-0
            img.img-responsive.wow.fadeInUp.reveal-inline-block(src="images/home-01-546x513.png", width="546", height="513", alt="")

    // Information Architecture
    section.context-dark
      .rd-parallax(data-on="false" data-md-on="true")
        .rd-parallax-layer(data-speed="0.35", data-type="media", data-url="images/bg-02-1920x800.jpg")
        .rd-parallax-layer(data-speed="0.1", data-type='html')
          .shell.section-110
            .range.range-xs-center.range-md-left
              .cell-xs-10.cell-md-4.text-md-left
                div
                  h2.text-bold Read All Books By Intense
                .offset-top-17
                  p.
                    The books of our publishing house are available at all
                    city libraries throughout the country as well as
                    at local book stores.
                .offset-top-30.offset-md-top-60
                  a.btn.btn-primary.btn-icon.btn-icon-left(href='#')
                    span.icon.mdi.mdi-book
                    | learn more

    // What People Say
    section.section-80.section-md-110.section-md-bottom-150.bg-white
      .shell
        h2.text-bold What People Say
        .range.range-xs-center.offset-md-top-30.offset-top-60
          .cell-sm-8.cell-md-4.wow.fadeInLeft(data-wow-delay="0.1s")
            +testimonials-type-4(
            {
              "width": 80,
              "height": 80,
              "src": "images/user-alex-ross-80x80.jpg",
              "alt": ""
            },
            "Alex Ross",
            "INFORMATION ARCHITECT",
            "Pretty great book about information architecture. If you build websites, I'd recommend reading it.",
            {
              "title": "h6 text-uppercase",
              "cite": "text-normal text-darker",
              "desc": "text-primary"
            }
            )
          .cell-sm-8.cell-md-4.offset-top-60.offset-md-top-0.wow.fadeInLeft(data-wow-delay="0.3s")
            +testimonials-type-4(
            {
              "width": 80,
              "height": 80,
              "src": "images/user-alisa-milano-80x80.jpg",
              "alt": ""
            },
            "Alisa Milano",
            "DEVELOPER",
            "Read this book for an information design class. It's a great resource for anyone wanting to learn about IA or get into a usability field.",
            {
              "title": "h6 text-uppercase",
              "cite": "text-normal text-darker",
              "desc": "text-primary"
            }
            )
          .cell-sm-8.cell-md-4.offset-top-60.offset-md-top-0.wow.fadeInLeft(data-wow-delay="0.5s")
            +testimonials-type-4(
            {
              "width": 80,
              "height": 80,
              "src": "images/user-john-more-80x80.jpg",
              "alt": ""
            },
            "john more",
            "DESIGNER",
            "A well-balanced and well thought-through introduction to the field of information management and usability.",
            {
              "title": "h6 text-uppercase",
              "cite": "text-normal text-darker",
              "desc": "text-primary"
            }
            )

    // Pricing & Plans
    section.section-80.section-md-110.section-md-bottom-35.bg-caribbean
      .shell
        h2.text-white Pricing & Plans
        .range.range-narrow.range-md-center
          .cell-sm-6.cell-xs-8.cell-xs-preffix-2.cell-md-3.cell-sm-preffix-0.wow.fadeInRight(data-wow-delay="0.1s")
            +box-planning-1("Personal", "$19", "per month", "Sign up")
              ul.list.list-unstyled
                li
                  span.text-darker 1
                  span.text-dark Account
                li
                  span.text-darker 0
                  span.text-dark Private Books
                li
                  span.text-darker 1
                  span.text-dark Free Download
                li
                  span.text-darker 0
                  span.text-dark Custom Covers
                li
                  span.text-darker 1
                  span.text-dark Paperback Book

          .cell-sm-6.cell-xs-8.cell-xs-preffix-2.cell-md-3.cell-sm-preffix-0.offset-top-30.offset-sm-top-0.wow.fadeInRight(data-wow-delay="0.3s")
            +box-planning-1("Team", "$59", "per month", "Sign up", "true")
              ul.list.list-unstyled
                li
                  span.text-darker 2
                  span.text-dark Accounts
                li
                  span.text-darker 5
                  span.text-dark Private Books
                li
                  span.text-darker 10
                  span.text-dark Free Downloads
                li
                  span.text-darker 2
                  span.text-dark Custom Covers
                li
                  span.text-darker 3
                  span.text-dark Paperback Books

          .cell-sm-6.cell-xs-8.cell-xs-preffix-2.cell-md-3.cell-sm-preffix-0.offset-top-30.offset-md-top-0.wow.fadeInRight(data-wow-delay="0.5s")
            +box-planning-1("Studio", "$89", "per month", "Sign up")
              ul.list.list-unstyled
                li
                  span.text-darker 3
                  span.text-dark Accounts
                li
                  span.text-darker 10
                  span.text-dark Private Books
                li
                  span.text-darker 20
                  span.text-dark Free Downloads
                li
                  span.text-darker 5
                  span.text-dark Custom Covers
                li
                  span.text-darker 7
                  span.text-dark Paperback Books

          .cell-sm-6.cell-xs-8.cell-xs-preffix-2.cell-md-3.cell-sm-preffix-0.offset-top-30.offset-md-top-0.wow.fadeInRight(data-wow-delay="0.7s")
            +box-planning-1("Business", "$129", "per month", "Sign up")
              ul.list.list-unstyled
                li
                  span.text-darker 4
                  span.text-dark Accounts
                li
                  span.text-darker 12
                  span.text-dark Private Books
                li
                  span.text-darker 25
                  span.text-dark Free Downloads
                li
                  span.text-darker 10
                  span.text-dark Custom Covers
                li
                  span.text-darker 15
                  span.text-dark Paperback Books


    //About the Author
    section.section-80.section-md-110
      .shell
        h2 About the Author
        .range.range-xs-center
          .cell-xs-10.cell-md-4
            img.img-responsive.reveal-inline-block.wow.fadeInLeft(src="images/home-02-370x330.jpg", width="370", height="330", alt="")
          .cell-xs-10.cell-md-8.text-md-left.offset-top-30.offset-md-top-0
            .inset-md-left-55
              div
                h3.text-regular Mark Hoffman
              p.small.offset-top-10 Author of “Information Architecture”
              p.text-darker.offset-top-30.
                Mark Hoffman is an independent information architecture consultant. He has been instrumental in helping establish the field of information architecture, and in articulating the role and value of librarianship within the field. Mark played a leading role in organizing and programming first information architecture conferences.
              p.text-darker As a consultant, he has helped AT&T, Ford, PayPal, Caterpillar, and many other large, highly-political organizations grapple with their information headaches.
              .offset-top-30.offset-md-top-55
                a(href="#").btn.btn-primary GET IN TOUCH

    // Join Our Newsletter
    section.context-dark
      .rd-parallax(data-on="false" data-md-on="true")
        .rd-parallax-layer(data-speed="0.35", data-type="media", data-url="images/bg-03-1920x650.jpg")
        .rd-parallax-layer(data-speed="0", data-type='html')
          .shell.section-110
            .range.range-xs-center
              .cell-xs-10.cell-sm-7.cell-lg-5
                div
                  h2.text-bold Join Our Newsletter
                .offset-top-17
                  p Keep up with our latest news, updates, and special book offers.#[br.veil.reveal.md-inline-block] Enter your e-mail and subscribe to our newsletter.
                .offset-top-30.offset-md-top-60.inset-md-left-55.inset-md-right-55
                  +widget-form-subscribe("Enter your E-Mail", "form-subscribe-footer") 

  footer.section-50.section-sm-30.page-footer.bg-gray-base.context-dark
    // Default footer
    .shell.text-sm-left
      // {%FOOTER_LINK}
      .footer-brand.reveal-inline-block
        a(href="../../index.html")
          img.img-responsive.reveal-inline-block(src="images/logo-footer-212x55.png", width="212", height="55", alt="")
      .pull-sm-right.offset-top-30.offset-sm-top-10
        +widget-list-social([
          {
            "icon": "fa fa-facebook",
            "href": "#"
          },
          {
            "icon": "fa fa-twitter",
            "href": "#"
          },
          {
            "icon": "fa fa-google-plus",
            "href": "#"
          },
          {
            "icon": "fa fa-linkedin",
            "href": "#"
          }
        ])
