<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo">
  <head>
    <!-- Site Title-->
    <title>About</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="intense web design multipurpose template">
    <meta name="date" content="Dec 26">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Crimson+Text:700italic,400,400italic,600,600italic,700%7CMontserrat:400,700">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Head-->
      <header class="page-head">
        <!-- RD Navbar Transparent-->
        <div class="rd-navbar-wrap">
          <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" class="rd-navbar rd-navbar-default rd-navbar-light" data-lg-auto-height="true" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                <!--Navbar Brand-->
                <div class="rd-navbar-brand"><a href="index.html"><img width='246' height='32' style='margin-left: -6px;' src='images/logo-inverse.png' alt=''/></a></div>
              </div>
              <div class="rd-navbar-menu-wrap">
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-mobile-scroll">
                    <!--Navbar Brand Mobile-->
                    <div class="rd-navbar-mobile-brand"><a href="index.html"><img width='246' height='32' style='margin-left: -6px;' src='images/logo-inverse.png' alt=''/></a></div>
                    <div class="form-search-wrap">
                      <!-- RD Search Form-->
                      <form action="search-results.html" method="GET" class="form-search rd-search">
                        <div class="form-group">
                          <label for="rd-navbar-form-search-widget" class="form-label form-search-label form-label-sm">Search...</label>
                          <input id="rd-navbar-form-search-widget" type="text" name="s" autocomplete="off" class="form-search-input input-sm form-control form-control-gray-lightest input-sm"/>
                        </div>
                        <button type="submit" class="form-search-submit"><span class="mdi mdi-magnify"></span></button>
                      </form>
                    </div>
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li><a href="index.html"><span>Home</span></a>
                      </li>
                      <li class="active"><a href="about.html"><span>About</span></a>
                      </li>
                      <li><a href="financial-planning.html"><span>Financial Planning</span></a>
                      </li>
                      <li><a href="investment-help.html"><span>Investment Help</span></a>
                      </li>
                      <li><a href="advice.html"><span>Advice</span></a>
                      </li>
                      <li><a href="contacts.html"><span>Contacts</span></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!--RD Navbar Search-->
                <div class="rd-navbar-search"><a data-rd-navbar-toggle=".rd-navbar-inner,.rd-navbar-search" href="#" class="rd-navbar-search-toggle mdi"><span></span></a>
                  <form action="search-results.html" method="GET" class="rd-navbar-search-form search-form-icon-right rd-search">
                    <div class="form-group">
                      <label for="rd-navbar-search-form-input" class="form-label">Type and hit enter...</label>
                      <input id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off" class="rd-navbar-search-form-input form-control form-control-gray-lightest"/>
                    </div>
                    <!--button(type="submit").rd-navbar-search-form-submit.mdi.mdi-magnify-->
                  </form>
                  <!--div.rd-navbar-live-search-results-->
                  <!--button(data-rd-navbar-toggle=".rd-navbar-search, .rd-navbar-inner, .rd-navbar-live-search-results").rd-navbar-search-toggle-->
                  <!--  span-->
                </div>
              </div>
            </div>
          </nav>
        </div>
        <!-- Breadcrumbs-->
        <section>
          <!-- RD Parallax-->
          <div data-on="false" data-md-on="true" class="rd-parallax">
            <div data-speed="0.25" data-type="media" data-url="images/background-03-1920x447.jpg" class="rd-parallax-layer"></div>
            <div data-speed="0" data-type="html" data-fade="false" class="rd-parallax-layer">
              <div class="shell">
                <div class="range">
                  <div class="range range-xs-middle range-xs-center section-41 section-sm-50 section-md-66 context-dark">
                    <div class="cell-xs-12">
                      <div>
                        <h1 class="text-capitalize"><span class="big">About</span></h1>
                      </div>
                      <div class="offset-top-10">
                        <ul class="list-inline list-inline-dashed text-italic p">
                          <li><a href="index.html">Home</a></li>
                          <li>About</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </header>
      <!-- Page Contents-->
      <main class="page-content">
        <!-- Section John Doe-->
        <section class="section-98 section-sm-110">
          <div class="shell">
            <div class="range range-xs-center">
              <div class="cell-sm-10 cell-md-4 text-md-left">
                <div class="inset-md-right-30"><img src="images/user-john-doe-344x345.jpg" width="344" height="345" alt="" class="img-responsive center-block">
                  <div class="offset-top-34 text-center"><a href="investment-help.html" class="btn btn-lg btn-block btn-primary">Free consultation</a></div>
                  <div class="offset-top-24 offset-md-top-41 text-center">
                    <p><span class="icon icon-xxs text-middle mdi mdi-cellphone-android text-darker"></span> <span class="text-middle"><a href="callto:#" class="text-dark">1-800-1234-567</a></span>
                    </p>
                    <p><span class="icon icon-xxs text-middle mdi mdi-email-open text-darker"></span> <span class="text-middle"><a href="mailto:#" class="text-dark">johndoe@demolink.org</a></span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="cell-sm-10 text-md-left cell-md-8 offset-top-24 offset-md-top-0">
                <h1>John Doe</h1>
                <div>
                  <h3 class="font-default text-italic text-regular">Senior advisor for Intense, an independently owned financial planning company</h3>
                </div>
                <div>
                  <hr class="divider divider-lg reveal-inline-block bg-mantis">
                </div>
                <div class="offset-top-24 offset-md-top-50">
                  <p>I am a senior advisor for an independently owned financial planning company called Intense. We are an International Financial Planning company with offices in multiple jurisdictions over the world. Working with Intense gives me the ability to advise business owners all over the world via Internet or personally in the area of my location.</p>
                  <div class="offset-top-20">
                    <blockquote class="quote quote-variant-2">
                      <div class="h3 text-italic font-default">
                        <q>My job is to help professionals achieve their financial goals whilst having adequate protection along the way. I do this by tailoring  financial solutions to suit my clients’ individual needs.</q>
                      </div>
                    </blockquote>
                  </div>
                  <div class="range range-xs-center offset-top-50 offset-md-top-40">
                    <div class="cell-xs-5 cell-sm-3"><a class="thumbnail-classic" data-photo-swipe-item="" data-size="772x1000" href="images/certificate_01-772x1000_orinal.jpg">
                        <figure><img width="170" height="242" src="images/certificate-01-170x242.jpg" alt=""/>
                        </figure></a>
                    </div>
                    <div class="cell-xs-5 cell-sm-3"><a class="thumbnail-classic" data-photo-swipe-item="" data-size="772x1000" href="images/certificate_02-772x1000_orinal.jpg">
                        <figure><img width="170" height="242" src="images/certificate-02-170x242.jpg" alt=""/>
                        </figure></a>
                    </div>
                    <div class="cell-xs-5 cell-sm-3 offset-top-30 offset-sm-top-0"><a class="thumbnail-classic" data-photo-swipe-item="" data-size="772x1000" href="images/certificate_03-772x1000_orinal.jpg">
                        <figure><img width="170" height="242" src="images/certificate-03-170x242.jpg" alt=""/>
                        </figure></a>
                    </div>
                    <div class="cell-xs-5 cell-sm-3 offset-top-30 offset-sm-top-0"><a class="thumbnail-classic" data-photo-swipe-item="" data-size="772x1000" href="images/certificate_04-772x1000_orinal.jpg">
                        <figure><img width="170" height="242" src="images/certificate-04-170x242.jpg" alt=""/>
                        </figure></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Timeline-->
        <section class="section-98 section-sm-110 bg-white-lilac">
          <div class="shell text-sm-left">
            <div class="range range-xs-center">
              <div class="cell-sm-4">
                <div class="text-bold text-primary">2009</div>
                <div>
                  <h5>Bestselling Author</h5>
                </div>
              </div>
              <div class="cell-xs-10 cell-sm-8 offset-top-14 offset-sm-top-0">
                <p>John is a #1 New York Times bestselling author. With more than 1 million copies collectively in print, his seven books on personal finance have been translated into several languages and educated countless people worldwide. The Truth About Money was recognized with an Excellence in Financial Literacy Education (EIFLE) Book of the Year Award from the Institute for Financial Literacy (March 2007), a Gold Medal Axiom Award (March 2008), an Apex Award (June 2007), and was named Book of the Year by Small Press magazine (1997). The Lies About Money was awarded the Axiom Personal Finance Book of the Year (March 2008) and an EIFLE Award (Jan. 2009). John's eighth book, The Truth About Retirement Plans and IRAs, a #1 national best-seller, was published in April 2009.</p>
              </div>
            </div>
            <div class="range range-xs-center offset-top-50">
              <div class="cell-sm-4">
                <div class="text-bold text-primary">2012</div>
                <div>
                  <h5>Award-Winning Host of Radio and Television Shows</h5>
                </div>
              </div>
              <div class="cell-xs-10 cell-sm-8 offset-top-14 offset-sm-top-0">
                <p>John's radio show has been on the air for more than 20 years and is heard throughout the country, enjoying more than 1 million listeners every week. In 2011, John was named among the "Heavy Hundred" in the radio industry by TALKERS magazine. John's television show, The Truth About Money with John Doe, airs on more than 200 public television stations across the country and has won 8 Telly Awards.</p>
              </div>
            </div>
            <div class="range range-xs-center offset-top-50">
              <div class="cell-sm-4">
                <div class="text-bold text-primary">2014</div>
                <div>
                  <h5>Award-Winning Educator</h5>
                </div>
              </div>
              <div class="cell-xs-10 cell-sm-8 offset-top-14 offset-sm-top-0">
                <p>John appears on stage frequently, talking to thousands of people every year, and is widely acknowledged as an entertaining and informative speaker. He has testified before Congress three times, participated in an SEC Roundtable and appointed by Presidents Bill Clinton and George W. Bush as a delegate to all three National Summits on Retirement Savings. John taught personal finance at Georgetown University for nine years. He publishes an award-winning 16-page monthly newsletter and his website offers comprehensive and free personal finance education.</p>
              </div>
            </div>
            <div class="range range-xs-center offset-top-50">
              <div class="cell-sm-4">
                <div class="text-bold text-primary">2015</div>
                <div>
                  <h5>Philanthropic Activities</h5>
                </div>
              </div>
              <div class="cell-xs-10 cell-sm-8 offset-top-14 offset-sm-top-0">
                <p>John is active in community service. He served five years on the board of the United Way of the National Capital Area, including two years as Chairman. He serves on the Southeast Board of The Boys and Girls Clubs of America, is a member of The Boys and Girls Clubs of Greater Washington Foundation Board and served on the BGCGW Metropolitan Board of Directors for seven years and serves on the BGCGW Leadership Council. He is a Policy Board Member of the American Savings Education Council. and is on the Foundation Board of Directors for the Wolf Trap Foundation for the Performing Arts. Also, John formerly served on the boards of Junior Achievement of the National Capital Area and the Washington National Opera.</p>
              </div>
            </div>
          </div>
        </section>
        <!-- Why John Doe?-->
        <section class="section-98 section-sm-110">
          <div class="shell">
            <h1>Why John Doe?</h1>
            <div>
              <hr class="divider divider-lg bg-mantis">
            </div>
            <div class="range range-xs-center offset-top-41 offset-md-top-66">
              <div class="cell-xs-10 cell-sm-7 cell-md-4">
                <!-- Icon Box Type 2-->
                <div class="unit unit-md unit-md-horizontal unit-spacing-xs text-md-left">
                  <div class="unit-left"><span class="icon icon mdi mdi-account-multiple icon-mantis-filled icon-circle"></span></div>
                  <div class="unit-body">
                    <h5 class="offset-top-20">Customer-Oriented</h5>
                    <div class="text-left">
                      <p>I work for people like you, folks who are tired of the deceptive business practices pervasive in the retail mutual fund industry, and who are tired of suffering greater risks, higher fees and lower returns than they should.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cell-xs-10 cell-sm-7 cell-md-4 offset-top-66 offset-md-top-0">
                <!-- Icon Box Type 2-->
                <div class="unit unit-md unit-md-horizontal unit-spacing-xs text-md-left">
                  <div class="unit-left"><span class="icon icon mdi mdi-account-check icon-mantis-filled icon-circle"></span></div>
                  <div class="unit-body">
                    <h5 class="offset-top-20">Professional</h5>
                    <div class="text-left">
                      <p>I am the owner of the largest independent financial planning firms in the nation, managing more than $15 billion for more than 28,000 clients both online and via 41 offices across the country.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cell-xs-10 cell-sm-7 cell-md-4 offset-top-66 offset-md-top-0">
                <!-- Icon Box Type 2-->
                <div class="unit unit-md unit-md-horizontal unit-spacing-xs text-md-left">
                  <div class="unit-left"><span class="icon icon mdi mdi-chart-bar icon-mantis-filled icon-circle"></span></div>
                  <div class="unit-body">
                    <h5 class="offset-top-20">Cooperative</h5>
                    <div class="text-left">
                      <p>Whether you're just starting out in your career, already retired, or in between, you deserve access to the best investment management advice available.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Call to action-->
        <section class="section-98 section-sm-66 bg-mantis context-dark">
          <div class="shell">
            <div class="range range-md-middle">
              <div class="cell-md-9">
                <h3>Invest with professionals to achieve your financial goals!</h3>
              </div>
              <div class="cell-md-3 offset-top-41 offset-md-top-0"><a href="investment-help.html" class="btn btn btn-lg btn-warning btn-block">Free consultation</a></div>
            </div>
          </div>
        </section>
        <!-- Usefull Information for You-->
        <section class="section-98 section-sm-top-110 section-sm-bottom-124 bg-white-lilac">
          <div class="shell">
            <h1>Useful Information for You</h1>
            <div>
              <hr class="divider divider-lg bg-mantis">
            </div>
            <div class="range range-xs-center offset-top-41 offset-md-top-66">
              <div class="cell-xs-10 cell-sm-8 cell-md-4">
                <!-- Post Boxed--><a href="#" class="reveal-block">
                  <div class="post post-boxed">
                    <!-- Post media-->
                    <header class="post-media"><img width="370" height="260" src="images/post-04-370x260.jpg" alt="" class="img-responsive"/></header>
                    <!-- Post content-->
                    <section class="post-content text-left">
                      <div class="post-tags group-xs">
                      </div>
                      <div class="post-body">
                        <!-- Post Title-->
                        <div class="post-title">
                          <h5>Are You Worried About the Stock Market?</h5>
                        </div>
                        <div class="post-meta small">
                        </div>
                      </div>
                    </section>
                  </div></a>
              </div>
              <div class="cell-xs-10 cell-sm-8 cell-md-4 offset-top-66 offset-md-top-0">
                <!-- Post Boxed--><a href="#" class="reveal-block">
                  <div class="post post-boxed">
                    <!-- Post media-->
                    <header class="post-media"><img width="370" height="260" src="images/post-05-370x260.jpg" alt="" class="img-responsive"/></header>
                    <!-- Post content-->
                    <section class="post-content text-left">
                      <div class="post-tags group-xs">
                      </div>
                      <div class="post-body">
                        <!-- Post Title-->
                        <div class="post-title">
                          <h5>My New Seminar Focuses on 3 Keys to Help You</h5>
                        </div>
                        <div class="post-meta small">
                        </div>
                      </div>
                    </section>
                  </div></a>
              </div>
              <div class="cell-xs-10 cell-sm-8 cell-md-4 offset-top-66 offset-md-top-0">
                <!-- Post Boxed--><a href="#" class="reveal-block">
                  <div class="post post-boxed">
                    <!-- Post media-->
                    <header class="post-media"><img width="370" height="260" src="images/post-06-370x260.jpg" alt="" class="img-responsive"/></header>
                    <!-- Post content-->
                    <section class="post-content text-left">
                      <div class="post-tags group-xs">
                      </div>
                      <div class="post-body">
                        <!-- Post Title-->
                        <div class="post-title">
                          <h5>The Most Important Chart on Investing You'll Ever See</h5>
                        </div>
                        <div class="post-meta small">
                        </div>
                      </div>
                    </section>
                  </div></a>
              </div>
            </div>
            <div class="range range-xs-center offset-top-66">
              <div class="cell-xs-5 cell-md-3"><a href="#" class="btn btn-lg btn-primary btn-block">view all</a></div>
            </div>
          </div>
        </section>
        <!-- Have a Question?-->
        <section class="section-98 section-sm-top-110 section-sm-bottom-124">
          <div class="shell">
            <h1>Have a Question?</h1>
            <div>
              <hr class="divider divider-lg bg-mantis">
            </div>
            <div class="offset-top-41 offset-md-top-66">
              <div class="range range-xs-center">
                <div class="cell-xs-10 cell-md-8">
                  <!-- RD Mailform-->
                  <form data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" class="rd-mailform text-left">
                    <div class="range range-xs-center">
                      <div class="cell-sm-6">
                        <div class="form-group">
                          <label for="git-3-mailform-first-name" class="form-label form-label-outside form-label-size-lg form-label-size-lg">First name</label>
                          <input id="git-3-mailform-first-name" type="text" name="firstname" data-constraints="@Required" class="form-control">
                        </div>
                      </div>
                      <div class="cell-sm-6">
                        <div class="form-group">
                          <label for="git-3-mailform-last-name" class="form-label form-label-outside form-label-size-lg">Last name</label>
                          <input id="git-3-mailform-last-name" type="text" name="lastname" data-constraints="@Required" class="form-control">
                        </div>
                      </div>
                      <div class="cell-sm-12">
                        <div class="form-group offset-sm-top-20">
                          <label for="git-3-mailform-email" class="form-label form-label-outside form-label-size-lg">E-mail</label>
                          <input id="git-3-mailform-email" type="text" name="email" data-constraints="@Required @Email" class="form-control">
                        </div>
                      </div>
                      <div class="cell-sm-12">
                        <div class="form-group offset-sm-top-20">
                          <label for="git-3-mailform-message" class="form-label form-label-outside form-label-size-lg">Message</label>
                          <textarea id="git-3-mailform-message" name="message" data-constraints="@Required" class="form-control"></textarea>
                        </div>
                      </div>
                      <div class="offset-top-30 text-center">
                        <button type="submit" style="width:270px;" class="btn btn-lg btn-primary">submit</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footer-->
      <!-- Default footer-->
      <footer class="section-relative section-top-66 section-bottom-34 page-footer bg-gray-base context-dark">
        <div class="shell">
          <div class="range range-sm-center text-lg-left">
            <div class="cell-sm-8 cell-md-12">
              <div class="range range-xs-center">
                <div class="cell-xs-10 cell-sm-8 text-xs-left cell-md-5 cell-lg-4 cell-lg-push-3">
                  <h6 class="text-uppercase text-spacing-60 text-center text-md-left">Contact us</h6>
                        <!-- RD Mailform-->
                        <form data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" class="rd-mailform offset-top-34 offset-md-top-0 text-left">
                          <div class="form-group">
                            <label for="footer-v2-name" class="form-label form-label-sm">Your Name*:</label>
                            <input id="footer-v2-name" type="text" data-constraints="@Required" name="name" class="form-control input-sm">
                          </div>
                          <div class="form-group offset-top-20">
                            <label for="footer-v2-email" class="form-label form-label-sm">Your Email*:</label>
                            <input id="footer-v2-email" type="text" data-constraints="@Required @Email" name="email" class="form-control input-sm">
                          </div>
                          <div class="form-group offset-top-20">
                            <label for="footer-v2-message" class="form-label form-label-sm">Message*:</label>
                            <textarea id="footer-v2-message" name="message" data-constraints="@Required" style="height: 80px" class="form-control input-sm"></textarea>
                          </div>
                          <div class="group offset-top-20">
                            <button type="submit" style="padding-left: 30px; padding-right: 30px;" class="btn btn-sm btn-primary">submit</button>
                          </div>
                        </form>
                </div>
                <div class="cell-xs-10 cell-sm-8 offset-top-66 cell-md-5 cell-md-preffix-1 offset-md-top-0 text-md-left cell-lg-4 cell-lg-push-2 cell-lg-preffix-0">
                  <h6 class="text-uppercase text-spacing-60 text-center text-md-left">Latest from the blog</h6>
                  <div class="offset-top-30">
                          <!-- Post Widget-->
                          <article class="post widget-post text-left"><a href="advice-single.html">
                              <div class="unit unit-horizontal unit-spacing-xs unit-middle">
                                <div class="unit-left"><img width="60" height="60" src="images/post-01-60x60.jpg" alt="" class="img-circle"></div>
                                <div class="unit-body">
                                  <div class="post-meta"><span class="icon-xxs mdi mdi-arrow-right text-primary"></span>
                                    <time datetime="2016-01-01" class="text-darker">05/14/2015</time>
                                  </div>
                                  <div class="post-title">Financial Planning
                                  </div>
                                </div>
                              </div></a></article>
                          <!-- Post Widget-->
                          <article class="post widget-post text-left"><a href="advice-single.html">
                              <div class="unit unit-horizontal unit-spacing-xs unit-middle">
                                <div class="unit-left"><img width="60" height="60" src="images/post-02-60x60.jpg" alt="" class="img-circle"></div>
                                <div class="unit-body">
                                  <div class="post-meta"><span class="icon-xxs mdi mdi-arrow-right text-primary"></span>
                                    <time datetime="2016-01-01" class="text-darker">05/14/2015</time>
                                  </div>
                                  <div class="post-title">Investment Management
                                  </div>
                                </div>
                              </div></a></article>
                          <!-- Post Widget-->
                          <article class="post widget-post text-left"><a href="advice-single.html">
                              <div class="unit unit-horizontal unit-spacing-xs unit-middle">
                                <div class="unit-left"><img width="60" height="60" src="images/post-03-60x60.jpg" alt="" class="img-circle"></div>
                                <div class="unit-body">
                                  <div class="post-meta"><span class="icon-xxs mdi mdi-arrow-right text-primary"></span>
                                    <time datetime="2016-01-01" class="text-darker">05/14/2015</time>
                                  </div>
                                  <div class="post-title">Personal Finances
                                  </div>
                                </div>
                              </div></a></article>
                  </div>
                </div>
                <div class="cell-xs-12 offset-top-66 cell-lg-4 cell-lg-push-1 offset-lg-top-0">
                  <!-- Footer brand-->
                  <div class="footer-brand"><a href="index.html"><img width='138' height='31' src='images/logo.png' alt=''/></a></div>
                  <p class="text-darker text-italic offset-top-4">Financial Advisor</p>
                  <div class="range range-xs-center offset-top-30 text-xs-left">
                    <div class="cell-xs-4 cell-xs-preffix-1 cell-md-3 cell-md-preffix-3 cell-lg-6 cell-lg-preffix-0">
                      <address class="contact-info">
                        <dl>
                          <dt class="text-white text-bold">Address:</dt>
                          <dd class="text-dark reveal-lg-block">28 Jackson Blvd Ste<br>1020 Chicago<br>IL 60604-2340.</dd>
                        </dl>
                      </address>
                    </div>
                    <div class="cell-xs-4 cell-xs-preffix-2 cell-md-4 cell-md-preffix-0 cell-lg-6 cell-lg-preffix-0 offset-top-0">
                      <address class="contact-info p">
                        <dl>
                          <dt class="text-white text-bold offset-top-10 offset-xs-top-0">Phone</dt>
                          <dd class="text-dark"><a href="callto:#">+1 800 559 6580</a></dd>
                          <dt class="text-white offset-top-10 text-bold">E-mail:</dt>
                          <dd class="text-dark"><a href="mailto:#">mail@demolink.org</a></dd>
                        </dl>
                      </address>
                    </div>
                  </div>
                  <div class="offset-top-30">
                          <ul class="list-inline">
                            <li><a href="#" class="icon fa fa-facebook icon-xxs icon-circle icon-darkest-filled"></a></li>
                            <li><a href="#" class="icon fa fa-twitter icon-xxs icon-circle icon-darkest-filled"></a></li>
                            <li><a href="#" class="icon fa fa-google-plus icon-xxs icon-circle icon-darkest-filled"></a></li>
                            <li><a href="#" class="icon fa fa-linkedin icon-xxs icon-circle icon-darkest-filled"></a></li>
                          </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="shell offset-top-50">
          <p class="small text-darker">Intense Financial &copy; <span id="copyright-year"></span> . <a href="#">Privacy Policy</a>
            <!-- {%FOOTER_LINK}-->
          </p>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div id="form-output-global" class="snackbars"></div>
    <!-- PhotoSwipe Gallery-->
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>