<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo">
  <head>
    <!-- Site Title-->
    <title>Financial Planning</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="intense web design multipurpose template">
    <meta name="date" content="Dec 26">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Crimson+Text:700italic,400,400italic,600,600italic,700%7CMontserrat:400,700">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Head-->
      <header class="page-head">
        <!-- RD Navbar Transparent-->
        <div class="rd-navbar-wrap">
          <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" class="rd-navbar rd-navbar-default rd-navbar-light" data-lg-auto-height="true" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                <!--Navbar Brand-->
                <div class="rd-navbar-brand"><a href="index.html"><img width='246' height='32' style='margin-left: -6px;' src='images/logo-inverse.png' alt=''/></a></div>
              </div>
              <div class="rd-navbar-menu-wrap">
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-mobile-scroll">
                    <!--Navbar Brand Mobile-->
                    <div class="rd-navbar-mobile-brand"><a href="index.html"><img width='246' height='32' style='margin-left: -6px;' src='images/logo-inverse.png' alt=''/></a></div>
                    <div class="form-search-wrap">
                      <!-- RD Search Form-->
                      <form action="search-results.html" method="GET" class="form-search rd-search">
                        <div class="form-group">
                          <label for="rd-navbar-form-search-widget" class="form-label form-search-label form-label-sm">Search...</label>
                          <input id="rd-navbar-form-search-widget" type="text" name="s" autocomplete="off" class="form-search-input input-sm form-control form-control-gray-lightest input-sm"/>
                        </div>
                        <button type="submit" class="form-search-submit"><span class="mdi mdi-magnify"></span></button>
                      </form>
                    </div>
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li><a href="index.html"><span>Home</span></a>
                      </li>
                      <li><a href="about.html"><span>About</span></a>
                      </li>
                      <li class="active"><a href="financial-planning.html"><span>Financial Planning</span></a>
                      </li>
                      <li><a href="investment-help.html"><span>Investment Help</span></a>
                      </li>
                      <li><a href="advice.html"><span>Advice</span></a>
                      </li>
                      <li><a href="contacts.html"><span>Contacts</span></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!--RD Navbar Search-->
                <div class="rd-navbar-search"><a data-rd-navbar-toggle=".rd-navbar-inner,.rd-navbar-search" href="#" class="rd-navbar-search-toggle mdi"><span></span></a>
                  <form action="search-results.html" method="GET" class="rd-navbar-search-form search-form-icon-right rd-search">
                    <div class="form-group">
                      <label for="rd-navbar-search-form-input" class="form-label">Type and hit enter...</label>
                      <input id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off" class="rd-navbar-search-form-input form-control form-control-gray-lightest"/>
                    </div>
                    <!--button(type="submit").rd-navbar-search-form-submit.mdi.mdi-magnify-->
                  </form>
                  <!--div.rd-navbar-live-search-results-->
                  <!--button(data-rd-navbar-toggle=".rd-navbar-search, .rd-navbar-inner, .rd-navbar-live-search-results").rd-navbar-search-toggle-->
                  <!--  span-->
                </div>
              </div>
            </div>
          </nav>
        </div>
        <!-- Breadcrumbs-->
        <section>
          <!-- RD Parallax-->
          <div data-on="false" data-md-on="true" class="rd-parallax">
            <div data-speed="0.25" data-type="media" data-url="images/background-03-1920x447.jpg" class="rd-parallax-layer"></div>
            <div data-speed="0" data-type="html" data-fade="false" class="rd-parallax-layer">
              <div class="shell">
                <div class="range">
                  <div class="range range-xs-middle range-xs-center section-41 section-sm-50 section-md-66 context-dark">
                    <div class="cell-xs-12">
                      <div>
                        <h1 class="text-capitalize"><span class="big">Financial Planning</span></h1>
                      </div>
                      <div class="offset-top-10">
                        <ul class="list-inline list-inline-dashed text-italic p">
                          <li><a href="index.html">Home</a></li>
                          <li>Financial Planning</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </header>
      <!-- Page Contents-->
      <main class="page-content">
        <!--Invest management-->
        <section class="section-top-41 section-bottom-98 section-md-top-85 section-md-bottom-110">
          <div class="shell">
            <div class="offset-top-34">
              <div class="isotope-wrap">
                <div class="row">
                  <!-- Isotope Filters-->
                  <div class="col-lg-4 text-lg-left">
                    <div class="isotope-filters isotope-filters-vertical">
                      <div>
                        <ul class="list-inline list-inline-sm">
                          <li class="veil-md">
                            <p>Choose your category:</p>
                          </li>
                          <li class="section-relative">
                            <button data-custom-toggle="isotope-1" data-custom-toggle-disable-on-blur="true" class="isotope-filters-toggle btn btn-sm btn-default">Filter<span class="caret"></span></button>
                            <ul id="isotope-1" class="list-sm-inline isotope-filters-list">
                              <li><a data-isotope-filter="Investment Management" data-isotope-group="gallery" href="#" class="active">Investment Management</a></li>
                              <li><a data-isotope-filter="Retirement Planning" data-isotope-group="gallery" href="#">Retirement Planning</a></li>
                              <li><a data-isotope-filter="Long Term Care" data-isotope-group="gallery" href="#">Long Term Care</a></li>
                              <li><a data-isotope-filter="Estate Planning" data-isotope-group="gallery" href="#">Estate Planning</a></li>
                              <li><a data-isotope-filter="Social Security" data-isotope-group="gallery" href="#">Social Security</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- Isotope Content-->
                  <div class="col-lg-8 offset-lg-top-0 offset-top-34">
                    <div data-isotope-layout="fitRows" data-isotope-group="gallery" class="isotope">
                      <div class="row text-lg-left">
                        <div data-filter="Investment Management" class="isotope-item">
                          <div>
                            <h1>Investment Management</h1>
                          </div>
                          <div class="offset-top-4">
                            <hr class="divider divider-lg bg-mantis reveal-inline-block">
                          </div>
                          <div class="offset-top-20 offset-md-top-50">
                            <p>I am working with clients, from individual investors to large financial institutions, to develop advanced portfolio management strategies to help them achieve specific goals for their own or their institution's financial future.</p>
                            <p>How I organize my work:</p>
                            <ul class="list list-marked">
                              <li>Help clients navigate today’s evolving markets and identify the opportunities that shape their portfolios and long-term investment goals;</li>
                              <li>Develop and manage customized solutions for the world’s leading pension plans, sovereign wealth funds, central banks, insurance companies, financial institutions, endowments, foundations, individuals and family offices;</li>
                              <li>Advise clients on how to allocate assets to meet unique objectives, addressing the dynamic market environment;</li>
                              <li>Research market ideas and build investment portfolios across a broad range of asset classes.</li>
                            </ul>
                            <div class="offset-top-34"><img src="images/post-07-770x410.jpg" width="770" height="410" alt="" class="img-responsive reveal-inline-block"></div>
                            <div class="offset-top-34">
                              <p>While I have a variety of services for my clients, many are looking for someone to manage their investments (whether these are retirement funds, joint accounts or trusts).</p>
                            </div>
                            <p>I review each client’s goals, investment experience and risk tolerance, and determine a financial investment plan best suited for that client. To meet my clients' needs I use a variety of methods to properly manage your assets.</p>
                            <p>A big piece of this process I call "multi-dimensional diversification."  This involves multiple asset classes, multiple management styles at both strategic and tactical levels, and often multiple managers.</p>
                          </div>
                        </div>
                        <div data-filter="Retirement Planning" class="isotope-item">
                          <h1>Retirement Planning</h1>
                          <div>
                            <hr class="divider divider-lg bg-mantis reveal-inline-block">
                          </div>
                          <div class="offset-top-20 offset-md-top-50">
                            <p>It's not going to be your parents' retirement - rewarded at 65 with a gold watch, a guaranteed pension, and health insurance for life. For many peoples, retiring in this new century is a mystery. Earlier generations of workers could rely on employer-provided pensions, but now many workers will need to rely on their own work-related and personal savings plus Social Security benefits. These savings have to last longer because peoples are living longer, often into their eighties and nineties.</p>
                            <p>If you are one of those people who want to plan - and are about 10 to 15 years from the day you retire - this booklet is for you. Today's (and tomorrow's) retirees may well have a new kind of retirement. With a longer and healthier life span, bikes, boats, planes, and RVs may be part of your life, because you are more likely than previous generations to be an active older American.</p>
                            <p>Retirement can be a time to explore new possibilities or to slow down and fully enjoy the life you spent your working years building—or it can be a bit of both. Regardless of your path, you want to ensure that this phase is as financially secure and satisfying as it can be—a process that ideally begins with your first job and continues even after retirement begins.</p>
                            <p>Here, I can take you expert guidance on all the elements that contribute to a good retirement: saving and investing; planning; maintaining your health; identifying activities and work to suit you; and, of course, being a savvy consumer.</p>
                          </div>
                        </div>
                        <div data-filter="Long Term Care" class="isotope-item">
                          <h1>Long Term Care</h1>
                          <div>
                            <hr class="divider divider-lg bg-mantis reveal-inline-block">
                          </div>
                          <div class="offset-top-20 offset-md-top-50">
                            <p>Long-term care involves a variety of services designed to meet a person's health or personal care needs during a short or long period of time. These services help people live as independently and safely as possible when they can no longer perform everyday activities on their own. Most Care Provided at Home Long-term care is provided in different places by different caregivers, depending on a person's needs. Most long-term care is provided at home by unpaid family members and friends. It can also be given in a facility such as a nursing home or in the community, for example, in an adult day care center.</p>
                            <p>The most common type of long-term care is personal care -- help with everyday activities, also called "activities of daily living." These activities include bathing, dressing, grooming, using the toilet, eating, and moving around -- for example, getting out of bed and into a chair.</p>
                            <p>Long-term care also includes community services such as meals, adult day care, and transportation services. These services may be provided free or for a fee.</p>
                            <p>Long-term care insurance is a type of policy which is designed to provide for the financial welfare of an individual beyond a certain period. An example of this can be seen when a common disability package is replaced with its long-term counterpart. Such a plan is commonly seen with individuals who may have chronic illnesses (such as COPD or emphysema) and those who have become physically handicapped. This insurance policy exists in the United States, Canada and the United Kingdom. It can be known by its acronym LTCI or simply as LTI (Long-Term Insurance).</p>
                          </div>
                        </div>
                        <div data-filter="Estate Planning" class="isotope-item">
                          <h1>Estate Planning</h1>
                          <div>
                            <hr class="divider divider-lg bg-mantis reveal-inline-block">
                          </div>
                          <div class="offset-top-20 offset-md-top-50">
                            <p>Many people believe they don't need estate planning because they think they don't have an estate. Or they think the value of their estate is not great enough to cause estate taxation, so what's the point?</p>
                            <p>With few exceptions, everyone has an estate -- even the young child with a custodial account in his name and the granddaughter who received a lovely piece of jewelry for her 16th birthday.</p>
                            <p>Bottom line: If you own something of value that you would pass on to someone else upon your death, you have an estate. Whether you know it or not, you also have an estate plan. The state has one for you free of charge (well, sort of) if you don't get around to writing a will or designing a plan of your own.</p>
                            <p>Broadly speaking, an estate plan encompasses the accumulation, conservation and distribution of an estate. A good plan will enhance and maintain the financial security of individuals and their families.</p>
                            <p>When you're developing a plan for your estate, it's important to understand your entire financial picture. That's where I`m come in. Working with your tax and legal advisors, I will help coordinate your investment strategies to help ensure that your plan reflects your wishes for your legacy.</p>
                            <p>Complete the form if you'd like to receive my three estate planning guides, which include information about the importance of having certain estate documents, maintaining beneficiary designations, and organizing your financial documents</p>
                          </div>
                        </div>
                        <div data-filter="Social Security" class="isotope-item">
                          <h1>Social Security</h1>
                          <div>
                            <hr class="divider divider-lg bg-mantis reveal-inline-block">
                          </div>
                          <div class="offset-top-20 offset-md-top-50">
                            <p>Social Security benefits are one of the most important parts of any retirement portfolio. A poor claiming decision can cost tens-of-thousands of dollars, while making the right decision can contribute significantly to one's financial security.</p>
                            <p>However, Social Security is a complex system. I provide the tools to help you make the best Social Security planning. My reports present not only the optimal strategy, they also provide comparisons to other strategies that may work better when your entire financial situation is taken into consideration. My reports also help you advise about little-known Social Security strategies such as "file and suspend" and the restricted application, "free spousal" strategy.</p>
                            <p>Your primary insurance amount, or PIA -- the benefit you would get at full retirement age -- determines the size of your monthly retirement check. According to the Social Security Administration's website, the PIA is based on the Average Indexed Monthly Earnings, or AIME, as applied to an inflation-adjusted formula. The PIA is then adjusted for whether you take retirement before or after your normal retirement age -- 66 for those now reaching retirement age, but gradually adjusted to age 67 for those born after 1960.</p>
                            <p>You can begin drawing reduced Social Security as early as 62. For every month you delay after reaching full retirement age, up to age 70, the monthly benefit increases.</p>
                            <p>According to a 2010 report of the Senate Special Committee on Aging, for someone with an AIME of $5,000 in 2010, the PIA would total $1,971.</p>
                            <p>In keeping with the original intent behind Social Security -- a way to lift seniors out of poverty -- lower-wage earners get a higher proportion of their earnings than higher-wage earners. The maximum monthly benefit that can be received in 2014 is $2,642 for a worker retiring at full retirement age.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--Possible Risks-->
        <section class="section-98 section-md-top-110 section-md-bottom-0 bg-white-lilac">
          <div class="shell">
            <h1>Possible Risks</h1>
            <div>
              <hr class="divider divider-lg bg-mantis">
            </div>
            <div class="range range-xs-center">
              <div class="cell-xs-10 cell-sm-8 cell-md-6">
                <!-- Icon Box Type 2-->
                <div class="unit unit-md unit-md-horizontal unit-spacing-xs text-md-left">
                  <div class="unit-left"><span class="icon icon mdi mdi-chart-line icon-chestnut-roze-filled icon-circle"></span></div>
                  <div class="unit-body">
                    <h5 class="offset-top-20">Market Risk</h5>
                    <div class="text-left">
                      <p>Also called &quot;principal risk&quot;, it is the chance that a downturn (or a bad investment) chews up your money. It’s there for both stocks and bonds — when interest rates rise, bondholders will see the market value of their paper shrink — and for most people it’s the big bugaboo.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cell-xs-10 cell-sm-8 cell-md-6 offset-top-66 offset-md-top-0">
                <!-- Icon Box Type 2-->
                <div class="unit unit-md unit-md-horizontal unit-spacing-xs text-md-left">
                  <div class="unit-left"><span class="icon icon mdi mdi-cash-multiple icon-chestnut-roze-filled icon-circle"></span></div>
                  <div class="unit-body">
                    <h5 class="offset-top-20">Inflation or Purchasing-Power Risk</h5>
                    <div class="text-left">
                      <p>For most people it the “risk of avoiding risk” — the opposite end of the spectrum from market risk — the possibility that you are too conservative and your money can’t grow fast enough to keep pace with inflation.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="range range-xs-center range-md-reverse offset-top-66 offset-md-top-110 text-md-left">
              <div class="cell-xs-10 cell-sm-8 cell-md-7">
                <h2 class="font-default text-italic text-sbold">I will help you understand</h2>
                <div class="offset-md-top-50 inset-md-left-30">
                  <ul class="list-marked">
                    <li>Retirement Financial Planning with Wealth Creation;</li>
                    <li>Wealth Creation;</li>
                    <li>Asset Protection;</li>
                    <li>Investing for Retirement with Self Managed Superannuation Fund (SMSFs);</li>
                    <li>And more instruments.</li>
                  </ul>
                </div>
                <p>To find out more, please download our free e-book:</p>
                <div class="range range-xs-center range-xl-left offset-top-24 offset-md-top-14">
                  <div class="cell-sm-6 cell-md-5 cell-xl-6 text-sm-right"><a href="#" class="btn btn-lg btn-primary btn-block">Free e-book</a></div>
                  <div class="cell-sm-6 cell-md-7 cell-xl-6 text-sm-left offset-top-20 offset-sm-top-0"><a href="investment-help.html" class="btn btn-lg btn-warning btn-block">Free consultation</a></div>
                </div>
              </div>
              <div class="cell-xs-10 cell-md-4 cell-md-preffix-1 text-md-left cell-xs-bottom offset-top-66 offset-md-top-0 text-center text-md-lefte veil reveal-md-block"><img src="images/user-john-doe-332x455.png" width="332" height="455" alt="" class="img-responsive reveal-inline-block"></div>
            </div>
          </div>
        </section>
        <!-- Planning Your Financial-->
        <section class="section-98 section-sm-110">
          <div class="shell">
            <h1>Let’s Start Planning Your Financial Future Today</h1>
            <div>
              <hr class="divider divider-lg bg-mantis">
            </div>
            <div class="offset-top-41 offset-md-top-66">
              <!-- Index List (Ellipsed)-->
              <ul class="list-unstyled list-index row text-left offset-top-66">
                <li class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0">
                  <div class="unit unit-sm unit-sm-horizontal text-center text-sm-left">
                    <div class="unit-left"><span class="list-index-counter icon icon-circle icon-xs icon-mantis-filled text-bold font-accent"></span></div>
                    <div class="unit-body">
                      <h5 class="offset-md-top-20">Talk</h5>
                      <p>Actually, I'll listen as you explain your needs, dreams, and fears. Then I'll design a personalized plan that explains how we can help you reach your financial goals.</p>
                    </div>
                  </div>
                </li>
                <li class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0 offset-top-66 offset-md-top-0">
                  <div class="unit unit-sm unit-sm-horizontal text-center text-sm-left">
                    <div class="unit-left"><span class="list-index-counter icon icon-circle icon-xs icon-mantis-filled text-bold font-accent"></span></div>
                    <div class="unit-body">
                      <h5 class="offset-md-top-20">Act</h5>
                      <p>We work together to implement the plan. Then I keep you updated on where you stand and adapt the plan as life happens.</p>
                    </div>
                  </div>
                </li>
                <li class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0 offset-top-66 offset-md-top-0">
                  <div class="unit unit-sm unit-sm-horizontal text-center text-sm-left">
                    <div class="unit-left"><span class="list-index-counter icon icon-circle icon-xs icon-mantis-filled text-bold font-accent"></span></div>
                    <div class="unit-body">
                      <h5 class="offset-md-top-20">Relax</h5>
                      <p>I`m here for you whenever you need. Call me at any time, for any reason. Buying a new car? Ask my advice. I can always help you.</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="offset-top-41"><a href="investment-help.html" class="btn btn-lg btn-warning">Get started today</a></div>
          </div>
        </section>
      </main>
      <!-- Page Footer-->
      <!-- Default footer-->
      <footer class="section-relative section-top-66 section-bottom-34 page-footer bg-gray-base context-dark">
        <div class="shell">
          <div class="range range-sm-center text-lg-left">
            <div class="cell-sm-8 cell-md-12">
              <div class="range range-xs-center">
                <div class="cell-xs-10 cell-sm-8 text-xs-left cell-md-5 cell-lg-4 cell-lg-push-3">
                  <h6 class="text-uppercase text-spacing-60 text-center text-md-left">Contact us</h6>
                        <!-- RD Mailform-->
                        <form data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" class="rd-mailform offset-top-34 offset-md-top-0 text-left">
                          <div class="form-group">
                            <label for="footer-v2-name" class="form-label form-label-sm">Your Name*:</label>
                            <input id="footer-v2-name" type="text" data-constraints="@Required" name="name" class="form-control input-sm">
                          </div>
                          <div class="form-group offset-top-20">
                            <label for="footer-v2-email" class="form-label form-label-sm">Your Email*:</label>
                            <input id="footer-v2-email" type="text" data-constraints="@Required @Email" name="email" class="form-control input-sm">
                          </div>
                          <div class="form-group offset-top-20">
                            <label for="footer-v2-message" class="form-label form-label-sm">Message*:</label>
                            <textarea id="footer-v2-message" name="message" data-constraints="@Required" style="height: 80px" class="form-control input-sm"></textarea>
                          </div>
                          <div class="group offset-top-20">
                            <button type="submit" style="padding-left: 30px; padding-right: 30px;" class="btn btn-sm btn-primary">submit</button>
                          </div>
                        </form>
                </div>
                <div class="cell-xs-10 cell-sm-8 offset-top-66 cell-md-5 cell-md-preffix-1 offset-md-top-0 text-md-left cell-lg-4 cell-lg-push-2 cell-lg-preffix-0">
                  <h6 class="text-uppercase text-spacing-60 text-center text-md-left">Latest from the blog</h6>
                  <div class="offset-top-30">
                          <!-- Post Widget-->
                          <article class="post widget-post text-left"><a href="advice-single.html">
                              <div class="unit unit-horizontal unit-spacing-xs unit-middle">
                                <div class="unit-left"><img width="60" height="60" src="images/post-01-60x60.jpg" alt="" class="img-circle"></div>
                                <div class="unit-body">
                                  <div class="post-meta"><span class="icon-xxs mdi mdi-arrow-right text-primary"></span>
                                    <time datetime="2016-01-01" class="text-darker">05/14/2015</time>
                                  </div>
                                  <div class="post-title">Financial Planning
                                  </div>
                                </div>
                              </div></a></article>
                          <!-- Post Widget-->
                          <article class="post widget-post text-left"><a href="advice-single.html">
                              <div class="unit unit-horizontal unit-spacing-xs unit-middle">
                                <div class="unit-left"><img width="60" height="60" src="images/post-02-60x60.jpg" alt="" class="img-circle"></div>
                                <div class="unit-body">
                                  <div class="post-meta"><span class="icon-xxs mdi mdi-arrow-right text-primary"></span>
                                    <time datetime="2016-01-01" class="text-darker">05/14/2015</time>
                                  </div>
                                  <div class="post-title">Investment Management
                                  </div>
                                </div>
                              </div></a></article>
                          <!-- Post Widget-->
                          <article class="post widget-post text-left"><a href="advice-single.html">
                              <div class="unit unit-horizontal unit-spacing-xs unit-middle">
                                <div class="unit-left"><img width="60" height="60" src="images/post-03-60x60.jpg" alt="" class="img-circle"></div>
                                <div class="unit-body">
                                  <div class="post-meta"><span class="icon-xxs mdi mdi-arrow-right text-primary"></span>
                                    <time datetime="2016-01-01" class="text-darker">05/14/2015</time>
                                  </div>
                                  <div class="post-title">Personal Finances
                                  </div>
                                </div>
                              </div></a></article>
                  </div>
                </div>
                <div class="cell-xs-12 offset-top-66 cell-lg-4 cell-lg-push-1 offset-lg-top-0">
                  <!-- Footer brand-->
                  <div class="footer-brand"><a href="index.html"><img width='138' height='31' src='images/logo.png' alt=''/></a></div>
                  <p class="text-darker text-italic offset-top-4">Financial Advisor</p>
                  <div class="range range-xs-center offset-top-30 text-xs-left">
                    <div class="cell-xs-4 cell-xs-preffix-1 cell-md-3 cell-md-preffix-3 cell-lg-6 cell-lg-preffix-0">
                      <address class="contact-info">
                        <dl>
                          <dt class="text-white text-bold">Address:</dt>
                          <dd class="text-dark reveal-lg-block">28 Jackson Blvd Ste<br>1020 Chicago<br>IL 60604-2340.</dd>
                        </dl>
                      </address>
                    </div>
                    <div class="cell-xs-4 cell-xs-preffix-2 cell-md-4 cell-md-preffix-0 cell-lg-6 cell-lg-preffix-0 offset-top-0">
                      <address class="contact-info p">
                        <dl>
                          <dt class="text-white text-bold offset-top-10 offset-xs-top-0">Phone</dt>
                          <dd class="text-dark"><a href="callto:#">+1 800 559 6580</a></dd>
                          <dt class="text-white offset-top-10 text-bold">E-mail:</dt>
                          <dd class="text-dark"><a href="mailto:#">mail@demolink.org</a></dd>
                        </dl>
                      </address>
                    </div>
                  </div>
                  <div class="offset-top-30">
                          <ul class="list-inline">
                            <li><a href="#" class="icon fa fa-facebook icon-xxs icon-circle icon-darkest-filled"></a></li>
                            <li><a href="#" class="icon fa fa-twitter icon-xxs icon-circle icon-darkest-filled"></a></li>
                            <li><a href="#" class="icon fa fa-google-plus icon-xxs icon-circle icon-darkest-filled"></a></li>
                            <li><a href="#" class="icon fa fa-linkedin icon-xxs icon-circle icon-darkest-filled"></a></li>
                          </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="shell offset-top-50">
          <p class="small text-darker">Intense Financial &copy; <span id="copyright-year"></span> . <a href="#">Privacy Policy</a>
            <!-- {%FOOTER_LINK}-->
          </p>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div id="form-output-global" class="snackbars"></div>
    <!-- PhotoSwipe Gallery-->
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>