<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo">
  <head>
    <!-- Site Title-->
    <title>FAQ</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="intense web design multipurpose template">
    <meta name="date" content="Dec 26">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,700italic">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Head-->
      <header class="page-head slider-menu-position">
        <!-- - RD Navbar-->
        <!-- RD Navbar Transparent-->
        <div class="rd-navbar-wrap">
          <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" class="rd-navbar container rd-navbar-floated rd-navbar-dark rd-navbar-dark-transparent" data-lg-auto-height="true" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel -->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                <!-- RD Navbar Top Panel Toggle-->
                <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-right-buttons" class="rd-navbar-right-buttons-toggle"><span></span></button>
                <!--Navbar Brand-->
                <div class="rd-navbar-brand"><a href="index.html"><img width='218' height='35' src='images/logo.png' alt=''/></a></div>
              </div>
              <div class="rd-navbar-menu-wrap">
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-mobile-scroll">
                    <!--Navbar Brand Mobile-->
                    <div class="rd-navbar-mobile-brand"><a href="index.html"><img width='218' height='35' src='images/logo.png' alt=''/></a></div>
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li><a href="index.html"><span>Home</span></a>
                      </li>
                      <li><a href="find-job.html"><span>Find a Job</span></a>
                      </li>
                      <li><a href="post-job.html"><span>Post a Job</span></a>
                      </li>
                      <li class="active"><a href="#"><span>Pages</span></a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="about-us.html"><span class="text-middle">About Us</span></a>
                          </li>
                          <li><a href="your-career-starts-here.html"><span class="text-middle">Your Career Starts Here</span></a>
                          </li>
                          <li><a href="resume-page.html"><span class="text-middle">Resume Page</span></a>
                          </li>
                          <li><a href="project-managers.html"><span class="text-middle">Project Managers</span></a>
                          </li>
                          <li><a href="faq.html"><span class="text-middle">FAQ</span></a>
                          </li>
                          <li><a href="contact-us.html"><span class="text-middle">Contact Us</span></a>
                          </li>
                        </ul>
                      </li>
                      <li><a href="blog.html"><span>Blog</span></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!--RD Navbar Search-->
                <div class="rd-navbar-right-buttons group reveal-inline-block"><a href="register-login.html#undefined1" style="max-height: 40px; line-height: 22px;" target="_blank" class="btn btn-primary"><span class="big">Login</span></a>
                  <div class="text-middle reveal-lg-inline-block">
                    <p class="big text-muted text-bold">or</p>
                  </div><a href="register-login.html#undefined2" style="max-height: 40px; line-height: 22px;" target="_blank" class="btn btn-primary text-middle"><span class="big">Register</span></a>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <div class="context-dark">
          <!-- Modern Breadcrumbs-->
          <section class="breadcrumb-modern rd-parallax bg-gray-darkest">
            <div data-speed="0.2" data-type="media" data-url="images/background-02-1920x870.jpg" class="rd-parallax-layer"></div>
            <div data-speed="0" data-type="html" class="rd-parallax-layer">
              <div class="bg-overlay-gray-darkest">
                <div class="shell section-top-98 section-bottom-34 section-md-bottom-66 section-md-98 section-lg-top-155 section-lg-bottom-66">
                  <div class="text-extra-big text-bold veil reveal-md-block">FAQ</div>
                  <ul class="list-inline list-inline-dashed p offset-top-0 offset-lg-top-20">
                    <li><a href="index.html">Home</a></li>
                    <li>FAQ
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
        </div>
      </header>
      <!-- Page Contents-->
      <main class="page-content">
        <section class="section-66 section-sm-top-110 section-lg-bottom-0">
          <div class="shell">
            <div class="range range-xs-center">
              <div class="cell-sm-9 cell-lg-6">
                <h1 class="text-darker text-lg-left">General Questions</h1>
                <hr class="divider bg-darkers hr-lg-left-0">
                <div class="offset-top-41 offset-lg-top-66 text-left">
                  <!-- Bootstrap Accordion-->
                  <div role="tablist" aria-multiselectable="true" id="accordion-1" class="panel-group accordion offset-top-0">
                    <div class="panel panel-default">
                      <div role="tab" id="headingOne" class="panel-heading">
                        <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-1" href="#collapseOne" aria-expanded="true" class="collapsed">How can I learn about open positions using your website?</a></div>
                      </div>
                      <div role="tabpanel" aria-labelledby="headingOne" id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">The fastest way to acquire information about our current positions is to use our vacancy catalog located on our website. It is updated daily and contains only the most called-for positions submitted by industry leading companies and international corporations. You can find out more information about them in our database.
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div role="tab" id="headingTwo" class="panel-heading">
                        <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-1" href="#collapseTwo" aria-expanded="true" class="collapsed">Can I send my resume via e-mail to the employer?</a></div>
                      </div>
                      <div role="tabpanel" aria-labelledby="headingTwo" id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">If you have your resume as a text file, you can attach it to the employer contact form without being registered as a client on our website. This is the fastest way to apply for a job you select on Intense job board. If you would like to receive additional benefits, please consider registering and uploading your resume to our database.
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div role="tab" id="headingThree" class="panel-heading">
                        <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-1" href="#collapseThree" aria-expanded="true" class="collapsed">What should I do if I cannot access your vacancy database?</a></div>
                      </div>
                      <div role="tabpanel" aria-labelledby="headingThree" id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">In case our website is unavailable and you cannot access our database of employers and vacancies, contact our managers using our phone number. You can also visit our central office to fill out the registration form and publish your resume via our terminals. Our administrators will be glad to help you with any issue you may have.
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div role="tab" id="headingFour" class="panel-heading">
                        <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-1" href="#collapseFour" aria-expanded="true" class="collapsed">How can I apply for a chosen position?</a></div>
                      </div>
                      <div role="tabpanel" aria-labelledby="headingFour" id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">To apply for any vacancy listed on Intense website, you must have a resume in a Microsoft Word format with a valid e-mail address and mobile phone number. If you use any of the modern social networks, you can become our registered user in a few moments and easily contact the chosen employer or read vacancy details.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cell-lg-6 offset-top-0"><img src="images/faq-01-531x699.png" width="531" height="699" alt="" class="veil reveal-lg-inline-block"></div>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footer-->
      <!-- Default footer-->
      <footer class="section-relative section-top-66 section-bottom-34 page-footer bg-gray-darkest">
        <div class="shell">
          <div class="range range-sm-center text-md-left">
            <div class="cell-sm-8 cell-md-12">
              <div class="range range-xs-center">
                <div class="cell-xs-10 cell-md-5 cell-md-push-2">
                  <h6 class="text-uppercase text-spacing-60 font-default text-white">Newsletter</h6>
                  <div class="inset-lg-right-80">
                    <p class="text-muted">Keep up with our always upcoming  news and updates. Enter your e-mail and subscribe to our newsletter.</p>
                  </div>
                  <div class="offset-top-30">
                    <div class="inset-lg-right-93">
                            <form data-form-output="form-subscribe-footer" data-form-type="subscribe" method="post" action="bat/rd-mailform.php" class="rd-mailform">
                              <div class="form-group">
                                <div class="input-group input-group-sm"><span class="input-group-addon"><span class="input-group-icon mdi mdi-email"></span></span>
                                  <input placeholder="Type your E-Mail" type="email" name="email" data-constraints="@Required @Email" class="form-control"><span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary">Subscribe</button></span>
                                </div>
                              </div>
                              <div id="form-subscribe-footer" class="form-output"></div>
                            </form>
                    </div>
                  </div>
                </div>
                <div class="cell-xs-4 cell-md-2 offset-top-50 offset-md-top-0 cell-md-push-3 text-xs-left">
                  <h6 class="text-uppercase text-spacing-60 font-default text-white">Cities</h6>
                  <div class="reveal-block">
                    <div class="reveal-inline-block">
                      <ul class="list list-unstyled list-inline-primary">
                        <li class="text-primary"><a href="#">New York</a></li>
                        <li class="text-primary"><a href="#">San Diego</a></li>
                        <li class="text-primary"><a href="#">Los Angeles</a></li>
                        <li class="text-primary"><a href="#">Boston</a></li>
                        <li class="text-primary"><a href="#">Washington</a></li>
                        <li class="text-primary"><a href="#">Chicago</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="cell-xs-4 cell-md-2 offset-top-50 offset-md-top-0 cell-md-push-3 text-xs-left">
                  <h6 class="text-uppercase text-spacing-60 font-default text-white">Categories</h6>
                  <div class="reveal-block">
                    <div class="reveal-inline-block">
                      <ul class="list list-unstyled list-inline-primary">
                        <li class="text-primary"><a href="#">Healthcare</a></li>
                        <li class="text-primary"><a href="#">Automobile Jobs</a></li>
                        <li class="text-primary"><a href="#">Food Services</a></li>
                        <li class="text-primary"><a href="#">Construction</a></li>
                        <li class="text-primary"><a href="#">Logistics</a></li>
                        <li class="text-primary"><a href="#">Finance</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="cell-md-3 offset-top-50 offset-md-top-0 cell-md-push-1">
                  <!-- Footer brand-->
                  <div class="footer-brand"><a href="index.html"><img width='218' height='35' src='images/logo.png' alt=''/></a></div>
                  <ul class="list-inline list-inline-sm reveal-inline-block offset-top-34 post-meta text-dark list-inline-primary">
                    <li><a href="#"><span class="icon icon-xxs fa-facebook"></span></a></li>
                    <li><a href="#"><span class="icon icon-xxs fa-twitter"></span></a></li>
                    <li><a href="#"><span class="icon icon-xxs fa-google-plus"></span></a></li>
                    <li><a href="#"><span class="icon icon-xxs fa-youtube-play"></span></a></li>
                    <li><a href="#"><span class="icon icon-xxs fa-instagram"></span></a></li>
                  </ul>
                  <p class="text-dark offset-top-50">Intense JB &copy; <span id="copyright-year"></span> . <a href="#">Privacy Policy</a>
                    <!-- {%FOOTER_LINK}-->
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div id="form-output-global" class="snackbars"></div>
    <!-- PhotoSwipe Gallery-->
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>