-
  var cfg = {
    "type": "Job Board",
    "brand": {
      "name": "Intense Job Board",
      "slogan": "Job Board",
      "logo": "<img width='218' height='35' src='images/logo.png' alt=''/>",
      "logoBig": "<img class='img-responsive' style='margin-top: -20px;margin-left: -5px;' width='329' height='67' src='images/logo-big.png' alt=''/>"
    },
    "buyLink": "//www.templatemonster.com/intense-multipurpose-html-template.html?utm_source=livedemo&utm_medium=themebutton&utm_campaign=intense",
    "nav": {
      "home": {
        "title": "Home",
        "href": "index.html"
      },
      "findJob": {
        "title": "Find a Job",
        "href": "find-job.html"
      },
      "postJob": {
        "title": "Post a Job",
        "href": "post-job.html"
      },
      "allPages": {
        "title": "Pages",
        "href": "#",
        "submenu": {
          "aboutUs": {
            "title": "About Us",
            "href": "about-us.html"
          },
          "yourCareerStartsHere": {
            "title": "Your Career Starts Here",
            "href": "your-career-starts-here.html"
          },
          "resumePage": {
            "title": "Resume Page",
            "href": "resume-page.html"
          },
          "projectManagers": {
            "title": "Project Managers",
            "href": "project-managers.html"
          },
          "faq": {
            "title": "FAQ",
            "href": "faq.html"
          },
          "contactUs": {
            "title": "Contact Us",
            "href": "contact-us.html"
          },
        }
      },
      "blog": {
        "title": "Blog",
        "href": "blog.html"
      }
    }
  }