- var fonts = "//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,700italic"
- var html_class = "wide wow-animation smoothscroll scrollTo"
- var buy_intense = "#qweqwe"

include _config
include _mixins
include elements/_ui-rd-navbar-floated
include elements/_ui-breadcrumb-modern
include mixins/_gallery-photoswipe

block variables

doctype html

html(lang="en" class="#{html_class}")
  head
    // Site Title
    block title
      title Home

    meta(charset="utf-8")
    meta(name="format-detection" content="telephone=no")
    meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    block search-meta
      meta(name="keywords" content="intense web design multipurpose template")
      meta(name="date" content="Dec 26")


    link(rel="icon" href="images/favicon.ico" type="image/x-icon")

    // Stylesheets
    link(rel="stylesheet" type="text/css" href="#{fonts}")
    link(rel="stylesheet" href="css/style.css")

    = "\n\t\t"
    <!--[if lt IE 10]>
    div(style='background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;')
      a(href="http://windows.microsoft.com/en-US/internet-explorer/")
        img(src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.")
    script(src="js/html5shiv.min.js")
    = "\n\t\t"
    <![endif]-->
  body
    // Page
    div(class="page text-center")
      block page

    // Global Mailform Output
    #form-output-global.snackbars

    +gallery-photoswipe()

    // Java script
    script(src="js/core.min.js")
    script(src="js/script.js")
