mixin links-list()
  //Marked list
  ul.list.list-marked.p
    li
      a(href="#") Documentation
    li
      a(href="#") Plugins
    li
      a(href="#") Themes
    li
      a(href="#") Support
    li
      a(href="#") GitHub