//- nameList - array of tabs list
mixin tabs-boxed(nameList, tabsAttr, tabsGroup)
  // Responsive-tabs
  .responsive-tabs.responsive-tabs-boxed(data-type=tabsAttr class=tabsAttr)
    ul.resp-tabs-list.text-center(data-group= tabsGroup || "tabs-group-default", class= tabsGroup || "tabs-group-default")
      each item in nameList
        li= item
    .resp-tabs-container(data-group= tabsGroup || "tabs-group-default", class= tabsGroup || "tabs-group-default")
      block