footer.page-footer.page-footer-variant-2
  .shell.text-center
    .range.range-30
      .cell-sm-5.cell-md-4.text-sm-right
        a.brand(href='index.html')
          +png('logo-default-199x36')
        ul.footer-navigation.footer-navigation-vertical
          li(class={active: footerActiveIndex == 0}): a(href='index.html') Home
          li(class={active: footerActiveIndex == 1}): a(href='about.html') About
          li(class={active: footerActiveIndex == 2}): a(href='services.html') Services
          li(class={active: footerActiveIndex == 3}): a(href='blog.html') Blog
          li(class={active: footerActiveIndex == 4}): a(href='shop.html') Shop
          li(class={active: footerActiveIndex == 5}): a(href='contacts-1.html') Contacts

      .cell-sm-1
        .divider.divider-custom.divider-light

      .cell-sm-5.text-sm-left
        .text-highlighted-wrap(style='max-width: 415px;')
          p.text-highlighted Barbershop is a No.1 place to have a men’s haircut in San Francisco. Here you can get luxury barber experience at a reasonable price.Come visit one of our Master Barbers or stylists to get a traditional shave, quality haircut, or hot towel treatment. We also offer a variety of products like pomades, shampoos, body washes, and beard and mustache waxes. Stop in for your next haircut at Barbershop!

        +social-links

        if footerLink === true
          // {%FOOTER_LINK}
='\n'