header.page-header
  //- RD Navbar
  .rd-navbar-wrap
    nav.rd-navbar.rd-navbar-dark(data-layout='rd-navbar-fixed', data-sm-layout='rd-navbar-fixed', data-sm-device-layout='rd-navbar-fixed', data-md-layout='rd-navbar-static', data-md-device-layout='rd-navbar-fixed', data-lg-device-layout='rd-navbar-fixed', data-lg-layout='rd-navbar-static', data-stick-up-clone='false', data-md-stick-up-offset='40px', data-lg-stick-up-offset='35px')
      .rd-navbar-inner
        //- RD Navbar Panel
        .rd-navbar-panel
          //- RD Navbar Toggle
          button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav-wrap')
            span
          //- RD Navbar Brand
          .rd-navbar-brand
            a.brand-name(href='index.html')
              +png('logo-white-200x36')

        .rd-navbar-nav-wrap
          .rd-navbar-nav-inner
            include ../includes/_nav

        .rd-navbar-inner-left
          .booking-control
            a.btn.btn-xs.btn-circle.btn-primary(href='step-1.html') BOOK NOW