//- Masters of the Blade
section.jumbotron-custom.jumbotron-custom-2.bg-gray-base.bg-image(style='background-image: url(images/bg-image-4.jpg);')
  .jumbotron-custom-content
    .shell
      .range
        .cell-sm-10.cell-md-9.cell-lg-7
          h1 Only Top Barbers
          p.large Barbershop is the place where you can get a high-quality  haircut from certified barbers, who are not just professionals but also talented masters.
          a.btn.btn-style-1.btn-primary(href='about.html') read more
='\n'