//- Only Top Barbers
section.jumbotron-custom.jumbotron-custom-3.bg-white.bg-image.bg-image-custom.bg-image-center(style='background-image: url(images/home-three-1-1920x800.jpg);')
  .jumbotron-custom-content.text-center
    .shell
      .range.range-sm-center
        .cell-sm-9.cell-md-8.cell-lg-7
          h1 Enjoy our barber services
          p.large  Establish your new amazing look with Barbershop services! From haircuts to hot shaves, you can experience the best level of barbering in the area.
          a.btn.btn-style-1.btn-primary(href='step-1.html') BOOK NOW
='\n'