-
  var cfg = {
    "type": "Photographer Portfolio",
    "brand": {
      "name": "Intense Photographer Portfolio",
      "slogan": "Jessica Bennett",
      "logo": "<img style='margin-top: -5px;margin-left: -15px;' width='138' height='31' src='images/logo.png' alt=''/>"
    },
    "nav": {
      "home": {
        "title": "Home",
        "href": "index.html"
      },
      "aboutMe": {
        "title": "About Me",
        "href": "about-me.html"
      },
      "portfolio": {
        "title": "Portfolio",
        "href": "portfolio.html",
        "submenu": {
          "fashion" : {
            "title": "Fashion",
            "href": "#"
          },
          "beauty": {
            "title": "Beaty",
            "href": "#"
          },
          "wedding":{
            "title": "Wedding",
            "href": "#"
          },
          "tests":{
            "title": "Tests",
            "href": "#"
          },
          "travel": {
            "title": "Travel",
            "href": "#"
          }
        }
      },
      "services": {
        "title": "Services",
        "href": "services.html"
      },
      "contactMe": {
        "title": "Contact Me",
        "href": "contact-me.html"
      }
    }
  }
