mixin list-social()
  .element-groups-custom-15
    a(href="#")
      span.icon.icon-circle.icon-xxs.fa.fa-facebook.bg-gray-darkest
    a(href="#")
      span.icon.icon-circle.icon-xxs.fa.fa-twitter.bg-gray-darkest
    a(href="#")
      span.icon.icon-circle.icon-xxs.fa.fa-google-plus.bg-gray-darkest
    a(href="#")
      span.icon.icon-circle.icon-xxs.fa.fa-linkedin.bg-gray-darkest