//- Includes
include ../elements/_ui-counter-type-2

// Skills
section.section-top-98
  .shell-wide
    .range.range-xs-center
      .cell-sm-10.cell-lg-12
        .range.range-xs-center
          .cell-md-3.cell-sm-5
            +counter-type-2({
              "description": "html Templates",
              "titleStyle": "h6 text-uppercase text-spacing-60 text-bold offset-top-14",
            },
            "mdi mdi-file-xml text-mantis",{
              "dataTo": "200",
              "dataSpeed": "1200",
              "preffix": "+"
            })
          .cell-md-3.cell-sm-5.offset-top-66.offset-sm-top-0
            +counter-type-2({
              "description": "niche templates",
              "titleStyle": "h6 text-uppercase text-spacing-60 text-bold offset-top-14",
            },
            "mdi mdi-star text-malibu",{
              "dataTo": "19",
              "dataSpeed": "1600"
            })
          .cell-md-3.cell-sm-5.offset-top-66.offset-md-top-0
            +counter-type-2({
              "description": "different skins",
              "titleStyle": "h6 text-uppercase text-spacing-60 text-bold offset-top-14",
            },
            "mdi mdi-palette text-neon-carrot",{
              "dataTo": "9",
              "dataSpeed": "2000"
            })
          .cell-md-3.cell-sm-5.offset-top-66.offset-md-top-0
            +counter-type-2({
              "description": "psd files",
              "titleStyle": "h6 text-uppercase text-spacing-60 text-bold offset-top-14",
            },
            "mdi mdi-file-image text-ku-crimson",{
              "dataTo": "200",
              "dataSpeed": "2400",
              "preffix": "+"
            })

  .shell-fluid.offset-top-98
    hr.hr.bg-gray