// Cross-Browser Support
section.section-98.section-sm-110
  .shell
    h1 Cross-Browser Support
    hr.divider.bg-mantis
    p.offset-top-50 The script was optimized to run flawlessly across all the major web browsers.
    ul.list-inline.offset-top-50
      li
        img.img-responsive(src="images/logos/logo-firefox.png" width="59" height="60" alt="")
      li
        img.img-responsive(src="images/logos/logo-chrome.png" width="59" height="60" alt="")
      li
        img.img-responsive(src="images/logos/logo-safari.png" width="59" height="60" alt="")
      li
        img.img-responsive(src="images/logos/logo-ie.png" width="59" height="60" alt="")