//- Includes
include ../elements/_ui-post-wide-horizontal
include ../elements/_ui-pagination-bootstrap

// Blog Classic
section
  +post-wide-horizontal(cfg.nav.blog.submenu.wide.submenu.singlePost.href, "15 Feb 2016", "5 Steps to Blog’s Success", "July Mao",
  [{"title": "Design", "href": "#"}, {"title": "UX", "href": "#"}, {"title": "Marketing", "href": "#"}],
  19, 87,
  {
    "type": "thumbnail",
    "thumb": {"src": "images/blog/post-01-700x395.jpg", "width": 700, "height": 395, "alt": ""},
    "target": {"src": "images/blog/post-01-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
  })
    p Unfortunately people will not come to your blog just to see what you have published on it. To make sure that your blog becomes a successful one, you have to work on it to attract visitors interested in your content. This can be achieved by serious work on some important aspects. In a word, give people the reason to see what you have to say or offer.
    p The following pieces of advice may help you draw traffic to your blog: - First of all, submit your blog to search engines in order to be ranked. Google, Yahoo and Bing...

  .offset-top-66
    +post-wide-horizontal(cfg.nav.blog.submenu.wide.submenu.singlePost.href, "15 Feb 2016", "Four Types of Verbal Communication", "John Doe",
    [{"title": "Design", "href": "#"}, {"title": "UX", "href": "#"}, {"title": "Marketing", "href": "#"}],
    23, 64,
    {
      "type": "video",
      "href": "//www.youtube.com/embed/-AhmuMqZB0s",
      "ratio": "16by9"
    })
      p Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
      p On on produce colonel pointed. Just four sold need over how any. In to september suspicion determine he prevailed admitting. On adapted an as affixed limited on. Giving cousin warmly things no spring mr be road.
  .offset-top-66
    +post-wide-horizontal(cfg.nav.blog.submenu.wide.submenu.singlePost.href, "15 Feb 2016", "Long Term Care", "Bernard Show",
    [{"title": "Design", "href": "#"}, {"title": "UX", "href": "#"}, {"title": "Marketing", "href": "#"}],
    19, 72,
    {
      "type": "gallery",
      "images": [
        {
          "type": "thumbnail",
          "thumb": { "src": "images/blog/post-05-700x395.jpg", "width": 570, "height": 321, "alt": "" },
          "target": { "src": "images/blog/post-05-1170x600.jpg", "width": 1170, "height": 600, "alt": "" }
        },
        {
          "type": "thumbnail",
          "thumb": { "src": "images/blog/post-06-700x395.jpg", "width": 570, "height": 321, "alt": "" },
          "target": { "src": "images/blog/post-06-1170x600.jpg", "width": 1170, "height": 600, "alt": "" }
        },
        {
          "type": "thumbnail",
          "thumb": { "src": "images/blog/post-04-700x395.jpg", "width": 570, "height": 321, "alt": "" },
          "target": { "src": "images/blog/post-04-1170x600.jpg", "width": 1170, "height": 600, "alt": "" }
        }
      ]
    })
      p Interested in establishing a good finish line for your life? Or maybe you are looking for a trouble-free way of guaranteeing a fine senility for your parents. Our team of experts in long-term care can assist you in selecting proper long-time care services to support your parents and relatives at the end of their lives.
      p Because of the demographic shift and social factors, the importance of long-term care services has increased dramatically during the latest decade.

    .range.range-xl-center.offset-top-50.offset-sm-top-66
      .cell-xl-10
        +pagination-bootstrap(null, 1, [{"href": "#"}, {"href": "#"}, {"href": "#"}, {"href": "#"}], {"href": "#"}, {"href": "#"})