//- Includes
include ../elements/_ui-thumbnail-classic.pug
include ../elements/_ui-isotope.pug

// Our Works
section.section-98.section-md-124(id="home-section-childs")
  .shell-wide
    h2
      span.big  Child themes
    h3 Check out other themes based on
      span.text-uppercase.text-ubold.text-mantis= " Intense"
    .offset-top-41
      +isotope(['All', 'Infrastructure', 'Portfolio', 'Blog', 'Agency', 'Creative'],{
        "group": "gallery",
        "layout": "fitRows",
        "alignClass": "isotope-filters-horizontal"
      }, "isotope-1")
        // Isotope
        .row
          .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Infrastructure')
            .shadow-variant-2
              +thumbnail-classic({
                "type": "thumbnail",
                "title": cfg.themes.restaurant.title,
                "description": cfg.themes.restaurant.desc,
                "thumb": cfg.themes.restaurant.image,
                "target": { "href": cfg.themes.restaurant.href },
                "targetBlank": true
              })

          .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Portfolio')
            .shadow-variant-2
              +thumbnail-classic({
                "type": "thumbnail",
                "title": cfg.themes.photographer.title,
                "description": cfg.themes.photographer.desc,
                "thumb": cfg.themes.photographer.image,
                "target": {"href": cfg.themes.photographer.href},
                "targetBlank": true
              })

          .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Blog')
            .shadow-variant-2
              +thumbnail-classic({
                "type": "thumbnail",
                "title": cfg.themes.personalBlog.title,
                "description": cfg.themes.personalBlog.desc,
                "thumb": cfg.themes.personalBlog.image,
                "target": {"href": cfg.themes.personalBlog.href},
                "targetBlank": true
              })

          .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Agency')
            .shadow-variant-2
              +thumbnail-classic({
                "type": "thumbnail",
                "title": cfg.themes.realEstate.title,
                "description": cfg.themes.realEstate.desc,
                "thumb": cfg.themes.realEstate.image,
                "target": {"href": cfg.themes.realEstate.href},
                "targetBlank": true
              })

          .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Creative')
            .shadow-variant-2
              +thumbnail-classic({
                "type": "thumbnail",
                "title": cfg.themes.handmade.title,
                "description": cfg.themes.handmade.desc,
                "thumb": cfg.themes.handmade.image,
                "target": {"href": cfg.themes.handmade.href},
                "targetBlank": true
              })

          .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Infrastructure')
            .shadow-variant-2
              +thumbnail-classic({
                "type": "thumbnail",
                "title": cfg.themes.dentalClinic.title,
                "description": cfg.themes.dentalClinic.desc,
                "thumb": cfg.themes.dentalClinic.image,
                "target": {"href": cfg.themes.dentalClinic.href},
                "targetBlank": true
              })

          .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Agency')
            .shadow-variant-2
              +thumbnail-classic({
                "type": "thumbnail",
                "title": cfg.themes.financialAdvisor.title,
                "description": cfg.themes.financialAdvisor.desc,
                "thumb": cfg.themes.financialAdvisor.image,
                "target": {"href": cfg.themes.financialAdvisor.href},
                "targetBlank": true
              })

          .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Agency')
            .shadow-variant-2
              +thumbnail-classic({
                "type": "thumbnail",
                "title": cfg.themes.gym.title,
                "description": cfg.themes.gym.desc,
                "thumb": cfg.themes.gym.image,
                "target": {"href": cfg.themes.gym.href},
                "targetBlank": true
              })

          .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Infrastructure')
            .shadow-variant-2
              +thumbnail-classic({
                "type": "thumbnail",
                "title": cfg.themes.childCare.title,
                "description": cfg.themes.childCare.desc,
                "thumb": cfg.themes.childCare.image,
                "target": {"href": cfg.themes.childCare.href},
                "targetBlank": true
              })

          .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Agency')
            .shadow-variant-2
              +thumbnail-classic({
                "type": "thumbnail",
                "title": cfg.themes.jobBoard.title,
                "description": cfg.themes.jobBoard.desc,
                "thumb": cfg.themes.jobBoard.image,
                "target": {"href": cfg.themes.jobBoard.href},
                "targetBlank": true
              })

          .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Creative')
            .shadow-variant-2
              +thumbnail-classic({
                "type": "thumbnail",
                "title": cfg.themes.product.title,
                "description": cfg.themes.product.desc,
                "thumb": cfg.themes.product.image,
                "target": {"href": cfg.themes.product.href},
                "targetBlank": true
              })

          .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Creative')
            .shadow-variant-2
              +thumbnail-classic({
                "type": "thumbnail",
                "title": cfg.themes.app.title,
                "description": cfg.themes.app.desc,
                "thumb": cfg.themes.app.image,
                "target": {"href": cfg.themes.app.href},
                "targetBlank": true
              })

          .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Agency')
            .shadow-variant-2
              +thumbnail-classic({
                "type": "thumbnail",
                "title": cfg.themes.startup.title,
                "description": cfg.themes.startup.desc,
                "thumb": cfg.themes.startup.image,
                "target": {"href": cfg.themes.startup.href},
                "targetBlank": true
              })

          .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Creative')
            .shadow-variant-2
              +thumbnail-classic({
                "type": "thumbnail",
                "title": cfg.themes.book.title,
                "description": cfg.themes.book.desc,
                "thumb": cfg.themes.book.image,
                "target": {"href": cfg.themes.book.href},
                "targetBlank": true
              })

          .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Agency')
            .shadow-variant-2
              +thumbnail-classic({
                "type": "thumbnail",
                "title": cfg.themes.travel.title,
                "description": cfg.themes.travel.desc,
                "thumb": cfg.themes.travel.image,
                "target": {"href": cfg.themes.travel.href},
                "targetBlank": true
              })

          .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Creative')
              .shadow-variant-2
                +thumbnail-classic({
                  "type": "thumbnail",
                  "title": cfg.themes.event.title,
                  "description": cfg.themes.event.desc,
                  "thumb": cfg.themes.event.image,
                  "target": {"href": cfg.themes.event.href},
                  "targetBlank": true
                })
          .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Agency')
            .shadow-variant-2
              +thumbnail-classic({
                "type": "thumbnail",
                "title": cfg.themes.taxi.title,
                "description": cfg.themes.taxi.desc,
                "thumb": cfg.themes.taxi.image,
                "target": {"href": cfg.themes.taxi.href},
                "targetBlank": true
              })

          .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Agency')
            .shadow-variant-2
              +thumbnail-classic({
                "type": "thumbnail",
                "title": cfg.themes.barbershop.title,
                "description": cfg.themes.barbershop.desc,
                "thumb": cfg.themes.barbershop.image,
                "target": {"href": cfg.themes.barbershop.href},
                "targetBlank": true
              })

          .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Agency')
            .shadow-variant-2
              +thumbnail-classic({
                "type": "thumbnail",
                "title": cfg.themes.petshop.title,
                "description": cfg.themes.petshop.desc,
                "thumb": cfg.themes.petshop.image,
                "target": {"href": cfg.themes.petshop.href},
                "targetBlank": true
              })
