//- Includes
include ../elements/_ui-member-block-type-5
include ../elements/_ui-progress-bar-linear

// My Works
section.section-98.section-sm-110
  .shell
    .range.range-xs-center
      .cell-xs-10.cell-sm-5
        +member-block-type-5(
        {
          "width": 437,
          "height": 437,
          "src": "images/users/user-john-doe-437x437.jpg"
        },
        [{
          "class": "fa-facebook",
          "link": "#"
        },
        {
          "class": "fa-twitter",
          "link": "#"
        },
        {
          "class": "fa-google-plus",
          "link": "#"
        },
        {
          "class": "fa-linkedin",
          "link": "#"
        }],

        [{
          "type": "phone",
          "class": "mdi mdi-phone",
          "link": "1-800-1234-567"
        }, {
          "type": "mail",
          "class": "mdi mdi-email-open",
          "link": "info@demolink.org"
        }],


        {
          "link": cfg.nav.pages.submenu.contactMe.href,
          "class": "btn-primary",
          "text": "get in touch"
        })
      .cell-xs-10.cell-sm-7.text-sm-left
        div
          h1 John Doe
        p.small.text-darker.offset-top-4 UI/UX Designer
        hr.divider.bg-mantis.hr-sm-left-0
        p.text-left Hello! My name is John Doe, and I am a jack of all trades when it comes to web design, app development and content marketing. With 12 years of experience I am proud to be called a web designer.
        .offset-top-30.text-center
          p
            q.text-italic.h3.text-bold I am really happy I’ve purchased a template from TemplateMonster. Congratulations!
        .offset-top-30
          p.text-left Web design is my expertise. I offer a wide range of services from wireframing to full-cycle web development. No matter what size is your project of – it will be done quickly and on the highest quality level.

        .offset-top-50
          +progress-bar-linear({
            "title": "HTML/CSS",
            "apClass": "bg-success",
            "valueTo": "70"
          })
          .offset-top-50
            +progress-bar-linear({
              "title": "Java Script",
              "apClass": "bg-info",
              "valueTo": "54"
            })
          .offset-top-50
            +progress-bar-linear({
              "title": "PHP",
              "apClass": "bg-warning",
              "valueTo": "87"
            })
          .offset-top-50
            +progress-bar-linear({
              "title": "UI/UX Design",
              "apClass": "bg-danger",
              "valueTo": "65"
            })