//- Includes
include  ../elements/_ui-box-icon-type-4

// 505
section
  .shell
    .range
      .section-110.section-cover.range.range-xs-center.range-xs-middle
        .cell-lg-6
          h3 Service is temporary unavailable
          hr.divider.bg-mantis
          .text-extra-big.text-light 503
          p.offset-top-50 Sorry, we're offline right now to make our site even better. Please, come back later and check what we've been up to.
          .group.offset-top-30
            a.btn.btn-icon.btn-icon-left.btn-primary(href= cfg.nav.home.href)
              span.icon.mdi.mdi-arrow-left
              | back to home

            a.btn.btn-icon.btn-icon-left.btn-info(href= cfg.nav.pages.submenu.contactUs.href)
              span.icon.mdi.mdi-email-outline
              | Contact us