//- Includes
include ../elements/_ui-partners-carousel.pug
// Section Our Partners
section.section-top-124.section-bottom-98.bg-gray-darkest.context-dark
  .shell
    div
      h2
        span.big Our Partners
      hr.divider.bg-mantis
      .range.range-xs-center.offset-top-24
        .cell-xs-10
          p.
            Join TemplateMonster Affiliate Program. Earn up to 50% commissions with TemplateMonster affiliate program. Anyone Can Become an Affiliate. We want you to earn more!
        .cell-xs-12
          .offset-top-66
            +partners-carousel([
            {
            "link": { "href": cfg.nav.pages.submenu.clients.href},
            "image": { "src": "images/clients/partner-01-181x101.png", "width": 181, "height": 101, "alt": "" }
            },
            {
            "link": {"href": cfg.nav.pages.submenu.clients.href},
            "image": {"src": "images/clients/partner-02-181x101.png", "width": 181, "height": 101, "alt": ""}
            },
            {
            "link": {"href": cfg.nav.pages.submenu.clients.href},
            "image": {"src": "images/clients/partner-03-181x101.png", "width": 181, "height": 101, "alt": ""}
            },
            {
            "link": {"href": cfg.nav.pages.submenu.clients.href},
            "image": {"src": "images/clients/partner-04-181x101.png", "width": 181, "height": 101, "alt": ""}
            },
            {
            "link": {"href": cfg.nav.pages.submenu.clients.href},
            "image": {"src": "images/clients/partner-04-181x101.png", "width": 181, "height": 101, "alt": ""}
            },
            {
            "link": {"href": cfg.nav.pages.submenu.clients.href},
            "image": {"src": "images/clients/partner-03-181x101.png", "width": 181, "height": 101, "alt": ""}
            },
            {
            "link": {"href": cfg.nav.pages.submenu.clients.href},
            "image": {"src": "images/clients/partner-02-181x101.png", "width": 181, "height": 101, "alt": ""}
            },
            {
            "link": {"href": cfg.nav.pages.submenu.clients.href},
            "image": {"src": "images/clients/partner-01-181x101.png", "width": 181, "height": 101, "alt": ""}
            }
            ])
