section.section-110
  .shell
    .range.range-xs-center
      .cell-lg-8.cell-md-10
        h2 The
          span.text-ku-crimson=' #1 Slider Plugin '
          | for jQuery!

        img(src="images/logos/slider.jpg", alt="").img-responsive.center-block