//- Includes
include ../elements/_ui-rd-parallax
include ../elements/_ui-testimonials-type-4

// What Clients Say?
section.shadow-drop-xs
  +rd-parallax({
    "backgroundSpeed": "0.35",
    "attrType": "media",
    "src": "images/backgrounds/background-21-1920x1315.jpg",
    "htmlSpeed": "0"
  })
    .bg-overlay-white.context-light
      .shell.section-98.section-sm-110
        h1 What Clients Say?
        hr.divider.bg-mantis
        .range.range-xs-center.offset-top-66
          .cell-xs-8.cell-sm-8.cell-md-4
            +testimonials-type-4(
            {
              "width": 80,
              "height": 80,
              "src": "images/users/user-alex-merphy-80x80.jpg",
              "alt": "Alex Merphy"
            },
            "Alex Merphy",
            "Ceo/Founder at demolink.com",
            "Got really enjoyable experience with your product. Easy set up is a huge plus. I even didn’t turn to support service."
            )
          .cell-xs-8.cell-sm-8.cell-md-4.offset-top-41.offset-md-top-0
            +testimonials-type-4(
            {
              "width": 80,
              "height": 80,
              "src": "images/users/user-amanda-smith-90x90.jpg",
              "alt": "Amanda Smith"
            },
            "Amanda Smith",
            "Ceo/Founder at demolink.com",
            "I guess I’ll be a returning client. Your Live Chat service is awesome. It allows to settle any issue 24/7."
            )
          .cell-xs-8.cell-sm-8.cell-md-4.offset-top-41.offset-md-top-0
            +testimonials-type-4(
            {
              "width": 80,
              "height": 80,
              "src": "images/users/user-diana-russo-80x80.jpg",
              "alt": "Diana Russo"
            },
            "Diana Russo",
            "Ceo/Founder at demolink.com",
            "A superb product for the price. Easy to read instructions are really helpful. Excellent, have nothing to add."
            )

          .range-spacer.veil.reveal-md-inline-block.offset-top-41.offset-lg-top-66

          .cell-xs-8.cell-sm-8.cell-md-4.offset-top-41.offset-md-top-0
            +testimonials-type-4(
            {
              "width": 80,
              "height": 80,
              "src": "images/users/user-eugene-newman-80x80.jpg",
              "alt": "Eugene Newman"
            },
            "Eugene Newman",
            "Developer at demolink.com",
            "I’m very pleased with your product. Great value for the money. Good quality. Ordering was very easy, as well. "
            )
          .cell-xs-8.cell-sm-8.cell-md-4.offset-top-41.offset-md-top-0
            +testimonials-type-4(
            {
              "width": 80,
              "height": 80,
              "src": "images/users/user-john-doe-80x80.jpg",
              "alt": "John Doe"
            },
            "John Doe",
            "support at demolink.com",
            "An efficient and reliable resource. They always remain flexible, cost effective, and lightning fast. Keep up the good work!"
            )
          .cell-xs-8.cell-sm-8.cell-md-4.offset-top-41.offset-md-top-0
            +testimonials-type-4(
            {
              "width": 80,
              "height": 80,
              "src": "images/users/user-kira-force-80x80.jpg",
              "alt": "Kira Force"
            },
            "Kira Force",
            "UX Designer at demolink.com",
            "The service is excellent and the personnel I worked with are great. Very responsive team and easy company to work with."
            )