//- Includes
include ../elements/_ui-progress-bar-linear
include ../elements/_ui-box-member
include ../elements/_widget-list-social

// Who we are?
section.section-98.section-sm-124
  .shell
    .range
      .cell-lg-5.text-lg-left
        h1 Who we are?
        hr.divider.bg-mantis.hr-lg-left-0
    .range.range-xs-center.range-sm-middle.offset-top-10.text-md-left
      .cell-sm-10.cell-lg-7.cell-lg-push-6
        +progress-bar-linear({
          "title": "HTML/CSS",
          "apClass": "bg-success",
          "valueTo": "70"
        })
        .offset-top-50
          +progress-bar-linear({
            "title": "Java Script",
            "apClass": "bg-info",
            "valueTo": "54"
          })
        .offset-top-50
          +progress-bar-linear({
            "title": "PHP",
            "apClass": "bg-warning",
            "valueTo": "87"
          })
        .offset-top-50
          +progress-bar-linear({
            "title": "UI/UX Design",
            "apClass": "bg-danger",
            "valueTo": "65"
          })
      .cell-sm-10.cell-lg-5.cell-lg-pull-6.offset-top-50.offset-lg-top-0
        p Intense is an independent web design studio with a rich history. It started as a small family-owned business in Oakville, and has grown enough to successfully occupy two large buildings in two different cities.
        p Today Intense offers a full range of web design, app development and content marketing services, including building full-featured ecommerce websites and web startups with custom functionality.

    .range.range-xs-center.offset-sm-top-66
      .cell-sm-10.cell-lg-12
        .range
          .cell-sm-6.cell-lg-3.offset-top-66.offset-xs-top-0
            +box-member("images/users/user-john-doe-270x270.jpg", "John Doe", "Founder", cfg.nav.pages.submenu.teamMember.href)
              +widget-list-social([
                {
                  "icon": "fa fa-facebook",
                  "href": "#"
                },
                {
                  "icon": "fa fa-twitter",
                  "href": "#"
                },
                {
                  "icon": "fa fa-google-plus",
                  "href": "#"
                }
              ], "icon-xs icon-circle icon-darker-filled", "list-inline-xs")
          .cell-sm-6.cell-lg-3.offset-top-66.offset-sm-top-0.offset-lg-top-0
            +box-member("images/users/user-july-mao-270x270.jpg", "July Mao", "Web Designer", cfg.nav.pages.submenu.teamMember.href)
              +widget-list-social([
                {
                  "icon": "fa fa-facebook",
                  "href": "#"
                },
                {
                  "icon": "fa fa-twitter",
                  "href": "#"
                },
                {
                  "icon": "fa fa-google-plus",
                  "href": "#"
                }
              ], "icon-xs icon-circle icon-darker-filled", "list-inline-xs")

          .cell-sm-6.cell-lg-3.offset-top-66.offset-sm-top-30.offset-lg-top-0
            +box-member("images/users/user-bernard-show-270x270.jpg", "Bernard Show", "Co-Founder", cfg.nav.pages.submenu.teamMember.href)
              +widget-list-social([
                {
                  "icon": "fa fa-facebook",
                  "href": "#"
                },
                {
                  "icon": "fa fa-twitter",
                  "href": "#"
                },
                {
                  "icon": "fa fa-google-plus",
                  "href": "#"
                }
              ], "icon-xs icon-circle icon-darker-filled", "list-inline-xs")
          .cell-sm-6.cell-lg-3.offset-top-66.offset-sm-top-30.offset-lg-top-0
            +box-member("images/users/user-ronald-oswald-270x270.jpg", "Ronald Oswald", "Developer", cfg.nav.pages.submenu.teamMember.href)
              +widget-list-social([
                {
                  "icon": "fa fa-facebook",
                  "href": "#"
                },
                {
                  "icon": "fa fa-twitter",
                  "href": "#"
                },
                {
                  "icon": "fa fa-google-plus",
                  "href": "#"
                }
              ], "icon-xs icon-circle icon-darker-filled", "list-inline-xs")