//- Includes
include ../elements/_ui-thumbnail-zoe
include ../elements/_ui-isotope
// Portfolio fullwidth 4 columns
section.section-top-98.section-sm-top-110
  .offset-top-50
    +isotope(['All', 'Clients', 'Business', 'Happiness'],{
      "group": "gallery",
      "layout": "fitRows",
      "alignClass": "isotope-filters-horizontal"
    }, "isotope-1")
      .offset-top-30.row.row-condensed(data-photo-swipe-gallery="gallery")
        .col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter="*")
          +thumbnail-zoe({
            "type": "thumbnail",
            "title": "Complex Solutions",
            "thumb": {"src": "images/portfolio/portfolio-03-570x420.jpg", "width": 570, "height": 420, "alt": ""},
            "target": {"src": "images/portfolio/portfolio-03-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
          },
          [{
            "iconClass": "mdi mdi-heart-outline",
            "iconHref": "#"
          }, {
            "iconClass": "mdi mdi-comment-multiple-outline",
            "iconHref": "#"
          }, {
            "iconClass": "mdi mdi-open-in-new",
            "iconHref": cfg.nav.portfolio.submenu.singleProject.href
          }
          ])
        .col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter="Happiness")
          +thumbnail-zoe({
            "type": "thumbnail",
            "title": "Best Practise",
            "thumb": {"src": "images/portfolio/portfolio-14-570x420.jpg", "width": 570, "height": 420, "alt": ""},
            "target": {"src": "images/portfolio/portfolio-14-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
          },
          [{
            "iconClass": "mdi mdi-heart-outline",
            "iconHref": "#"
          }, {
            "iconClass": "mdi mdi-comment-multiple-outline",
            "iconHref": "#"
          }, {
            "iconClass": "mdi mdi-open-in-new",
            "iconHref": cfg.nav.portfolio.submenu.singleProject.href
          }
          ])
        .col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter="*")
          +thumbnail-zoe({
            "type": "thumbnail",
            "title": "Design Experience",
            "thumb": {"src": "images/portfolio/portfolio-05-570x420.jpg", "width": 570, "height": 420, "alt": ""},
            "target": {"src": "images/portfolio/portfolio-05-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
          },
          [{
            "iconClass": "mdi mdi-heart-outline",
            "iconHref": "#"
          }, {
            "iconClass": "mdi mdi-comment-multiple-outline",
            "iconHref": "#"
          }, {
            "iconClass": "mdi mdi-open-in-new",
            "iconHref": cfg.nav.portfolio.submenu.singleProject.href
          }
          ])
        .col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter="Happiness")
          +thumbnail-zoe({
            "type": "thumbnail",
            "title": "Meaningful Design",
            "thumb": {"src": "images/portfolio/portfolio-15-570x420.jpg", "width": 570, "height": 420, "alt": ""},
            "target": {"src": "images/portfolio/portfolio-15-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
          },
          [{
            "iconClass": "mdi mdi-heart-outline",
            "iconHref": "#"
          }, {
            "iconClass": "mdi mdi-comment-multiple-outline",
            "iconHref": "#"
          }, {
            "iconClass": "mdi mdi-open-in-new",
            "iconHref": cfg.nav.portfolio.submenu.singleProject.href
          }
          ])
        .col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter="Clients")
          +thumbnail-zoe({
            "type": "thumbnail",
            "title": "Love Story",
            "thumb": {"src": "images/portfolio/portfolio-17-570x420.jpg", "width": 570, "height": 420, "alt": ""},
            "target": {"src": "images/portfolio/portfolio-17-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
          },
          [{
            "iconClass": "mdi mdi-heart-outline",
            "iconHref": "#"
          }, {
            "iconClass": "mdi mdi-comment-multiple-outline",
            "iconHref": "#"
          }, {
            "iconClass": "mdi mdi-open-in-new",
            "iconHref": cfg.nav.portfolio.submenu.singleProject.href
          }
          ])
        .col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter="Business")
          +thumbnail-zoe({
            "type": "thumbnail",
            "title": "Your Specials",
            "thumb": {"src": "images/portfolio/portfolio-04-570x420.jpg", "width": 570, "height": 420, "alt": ""},
            "target": {"src": "images/portfolio/portfolio-04-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
          },
          [{
            "iconClass": "mdi mdi-heart-outline",
            "iconHref": "#"
          }, {
            "iconClass": "mdi mdi-comment-multiple-outline",
            "iconHref": "#"
          }, {
            "iconClass": "mdi mdi-open-in-new",
            "iconHref": cfg.nav.portfolio.submenu.singleProject.href
          }
          ])
        .col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter="Clients")
          +thumbnail-zoe({
            "type": "thumbnail",
            "title": "Breaking Horizons",
            "thumb": {"src": "images/portfolio/portfolio-18-570x420.jpg", "width": 570, "height": 420, "alt": ""},
            "target": {"src": "images/portfolio/portfolio-18-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
          },
          [{
            "iconClass": "mdi mdi-heart-outline",
            "iconHref": "#"
          }, {
            "iconClass": "mdi mdi-comment-multiple-outline",
            "iconHref": "#"
          }, {
            "iconClass": "mdi mdi-open-in-new",
            "iconHref": cfg.nav.portfolio.submenu.singleProject.href
          }
          ])
        .col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter="Happiness")
          +thumbnail-zoe({
            "type": "thumbnail",
            "title": "New Vision",
            "thumb": {"src": "images/portfolio/portfolio-16-570x420.jpg", "width": 570, "height": 420, "alt": ""},
            "target": {"src": "images/portfolio/portfolio-16-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
          },
          [{
            "iconClass": "mdi mdi-heart-outline",
            "iconHref": "#"
          }, {
            "iconClass": "mdi mdi-comment-multiple-outline",
            "iconHref": "#"
          }, {
            "iconClass": "mdi mdi-open-in-new",
            "iconHref": cfg.nav.portfolio.submenu.singleProject.href
          }
          ])

