// section join our team
section.section-124
  .shell
    .range.range-xs-center
      .cell-xs-8
        h1 Join Our Team
        div
          hr.divider.bg-mantis
        .offset-top-20
          p Take a job opportunity of a lifetime – join the team of Intense. We cherish active tech savvies willing to work on projects of any type and complexity. If you are enthusiastic about tech innovations and ready to make impactful decisions, feel free to send us your CV. We are interested in hiring professionals for a long term and also provide an opportunity of remote work.
        .offset-top-34
          a(href="#" data-custom-scroll-to="careers-start").btn.btn-primary.btn-icon.btn-icon-left
            span.icon.mdi.mdi-check-all
            | Get Started now