//- Includes
include ../elements/_ui-post-event-date
include ../elements/_ui-post-event
include ../elements/_ui-pagination-classic
// Events list
section
  +post-event-date(cfg.nav.blog.submenu.events.submenu.singleEvent.submenu.leftSidebar.href, {"number": "8", "month": "Mar"}, "Design trends of 2017 revealed",
  {
    "type": "thumbnail",
    "title": "",
    "description": "",
    "thumb": {"src": "images/blog/post-02-570x321.jpg", "width": 570, "height": 321, "alt": ""},
    "target": {"href": cfg.nav.blog.submenu.events.submenu.singleEvent.submenu.leftSidebar.href}
  },
  {
    "key": "button",
    "btnClass": "btn-sm btn-primary",
    "btnText": "Read More"
  })
    .inset-md-right-115
      p Today John Doe will tell you about the hottest web- and graphic design trends of the next year. John is a professional designer with an impressive portfolio. He is always aware of the latest technologies, so be sure: his advice are worth listening to.

  hr.hr.bg-lighter.offset-top-41.offset-sm-top-66
  .offset-top-41.offset-sm-top-66
    +post-event-date(cfg.nav.blog.submenu.events.submenu.singleEvent.submenu.leftSidebar.href, {"number": "8", "month": "Mar"}, "Web Design Conference comes to Oakville in 2016",
    {
      "type": "thumbnail",
      "title": "",
      "description": "",
      "thumb": {"src": "images/blog/post-03-570x321.jpg", "width": 570, "height": 321, "alt": ""},
      "target": {"href": cfg.nav.blog.submenu.events.submenu.singleEvent.submenu.leftSidebar.href}
    },
    {
      "key": "button",
      "btnClass": "btn-sm btn-primary",
      "btnText": "Read More"
    })
      .inset-md-right-115
        p Intense is pleased to host the next Web Design Conference, which will take place this year here, in Oakville. Learn about the topics that will be covered at the upcoming event, and how to save on the tickets in our spotlight.

  .offset-top-66
    +pagination-classic(1, [{"href": "#"}, {"href": "#"}, {"href": "#"}, {"href": "#"}], {
      "title": "Prev",
      "href": "#"
    }, {"title": "Next", "href": "#"})
