//- Includes
include ../elements/_widget-shop-panel
include ../elements/_ui-product-list-wide

// Shop Grid View

+widget-panel-shop(cfg.nav.shop.submenu.grid.submenu.noSidebar.href, cfg.nav.shop.submenu.list.submenu.noSidebar.href, 'list')
.offset-top-41
  +product-list-wide({
    "title": "Engineered Rib Cashmere",
    "link": cfg.nav.shop.submenu.singleProduct.submenu.noSidebar.href,
    "brand": "Armani Brand",
    "price": [
      "57.00",
      "35.00"
    ],
    "images": [
      {
        "src": "images/shop/product-01-270x360.png",
        "width":0,
        "height": 360,
        "alt": ""
      },
      {
        "src": "images/shop/product-01-270x360-2.png",
        "width":70,
        "height": 360,
        "alt": ""
      },
      {
        "src": "images/shop/product-01-270x360-3.png",
        "width":70,
        "height": 360,
        "alt": ""
      }
    ],
    "label": {
      "adClass": "label-danger",
      "text": "Sale"
    },
    "reviews": 4,
    "desc": "Fashion has always been so temporary and uncertain. You can’t keep up with it. This social phenomenon is very whimsical, thus we as the consumers always try to stay in touch with all the latest fashion tendencies."
  })
.offset-top-66
  +product-list-wide({
    "title": "Ruched Bandage Miniskirt",
    "link": cfg.nav.shop.submenu.singleProduct.submenu.noSidebar.href,
    "brand": "Step Brand",
    "price": "59.00",
    "images": [
      {
        "src": "images/shop/product-02-270x360.png",
        "width": 270,
        "height": 360,
        "alt": ""
      },
      {
        "src": "images/shop/product-02-270x360-2.png",
        "width": 270,
        "height": 360,
        "alt": ""
      },
      {
        "src": "images/shop/product-02-270x360-3.png",
        "width": 270,
        "height": 360,
        "alt": ""
      }
    ],
    "label": {
      "adClass": "label-info",
      "text": "New"
    },
    "reviews": 4,
    "desc": "Fashion has always been so temporary and uncertain. You can’t keep up with it. This social phenomenon is very whimsical, thus we as the consumers always try to stay in touch with all the latest fashion tendencies."
  })
.offset-top-66
  +product-list-wide({
    "title": "Knit Cami Top",
    "link": cfg.nav.shop.submenu.singleProduct.submenu.noSidebar.href,
    "brand": "Amo Brand",
    "price": "48.00",
    "images": [
      {
        "src": "images/shop/product-03-270x360.png",
        "width": 270,
        "height": 360,
        "alt": ""
      },
      {
        "src": "images/shop/product-03-270x360-2.png",
        "width": 270,
        "height": 360,
        "alt": ""
      }, {
        "src": "images/shop/product-03-270x360-3.png",
        "width": 270,
        "height": 360,
        "alt": ""
      }
    ],
    "reviews": 4,
    "desc": "Fashion has always been so temporary and uncertain. You can’t keep up with it. This social phenomenon is very whimsical, thus we as the consumers always try to stay in touch with all the latest fashion tendencies."
  })
.offset-top-66
  +product-list-wide({
    "title": "Contrast Back Zip",
    "link": cfg.nav.shop.submenu.singleProduct.submenu.noSidebar.href,
    "brand": "Polo Brand",
    "price": "14.00",
    "images": [
      {
        "src": "images/shop/product-04-270x360.png",
        "width": 270,
        "height": 360,
        "alt": ""
      },
      {
        "src": "images/shop/product-04-270x360-2.png",
        "width": 270,
        "height": 360,
        "alt": ""
      },
      {
        "src": "images/shop/product-04-270x360-3.png",
        "width": 270,
        "height": 360,
        "alt": ""
      }
    ],
    "reviews": 4,
    "desc": "Fashion has always been so temporary and uncertain. You can’t keep up with it. This social phenomenon is very whimsical, thus we as the consumers always try to stay in touch with all the latest fashion tendencies."
  })
.offset-top-66
  +product-list-wide({
    "title": "Collar Leather Jacket",
    "link": cfg.nav.shop.submenu.singleProduct.submenu.noSidebar.href,
    "brand": "Amo Brand",
    "price": "38.00",
    "images": [
      {
        "src": "images/shop/product-05-270x360.png",
        "width": 270,
        "height": 360,
        "alt": ""
      },
      {
        "src": "images/shop/product-05-270x360-2.png",
        "width": 270,
        "height": 360,
        "alt": ""
      },
      {
        "src": "images/shop/product-05-270x360-3.png",
        "width": 270,
        "height": 360,
        "alt": ""
      }
    ],
    "reviews": 4,
    "desc": "Fashion has always been so temporary and uncertain. You can’t keep up with it. This social phenomenon is very whimsical, thus we as the consumers always try to stay in touch with all the latest fashion tendencies."
  })
.offset-top-66
  +product-list-wide({
    "title": "Knit Skater Skirt",
    "link": cfg.nav.shop.submenu.singleProduct.submenu.noSidebar.href,
    "brand": "Step Brand",
    "price": "68.00",
    "images": [
      {
        "src": "images/shop/product-06-270x360.png",
        "width": 270,
        "height": 360,
        "alt": ""
      },
      {
        "src": "images/shop/product-06-270x360-2.png",
        "width": 270,
        "height": 360,
        "alt": ""
      },
      {
        "src": "images/shop/product-06-270x360-3.png",
        "width": 270,
        "height": 360,
        "alt": ""
      }
    ],
    "reviews": 4,
    "desc": "Fashion has always been so temporary and uncertain. You can’t keep up with it. This social phenomenon is very whimsical, thus we as the consumers always try to stay in touch with all the latest fashion tendencies."
  })

.offset-top-66
  +pagination-bootstrap("pagination-sm", 1, [{"href": "#"}, {"href": "#"}, {"href": "#"}, {"href": "#"}], null, {"href": "#"}) h1
