//- Includes
include ../elements/_ui-thumbnail-apollo
include ../elements/_ui-isotope
// Portfolio classic effects
section.section-98.section-sm-110
  .shell
    .offset-top-34
      +isotope(['All', 'Gallery 1', 'Gallery 2'],{
        "group": "gallery",
        "layout": "fitRows",
        "alignClass": "isotope-filters-horizontal"
      }, "isotope-1")
        .row(data-photo-swipe-gallery="gallery")
          .col-xs-12.col-sm-6.isotope-item(data-filter="Gallery 2")
            +thumbnail-apollo({
              "type": "thumbnail",
              "title": "Donec pede justo",
              "description": "An sincerity so extremity he additions. Her yet there truth merit. Mrs all projecting favourable now unpleasing.",
              "thumb": {"src": "images/portfolio/portfolio-06-570x420.jpg", "width": 570, "height": 420, "alt":""},
              "target": {"href": cfg.nav.portfolio.submenu.singleProject.href},
              "iconClass": "fa-arrow-right"
            })
          .col-xs-12.col-sm-6.isotope-item(data-filter="Gallery 1")
            +thumbnail-apollo({
              "type": "thumbnail",
              "title": "Donec pede justo",
              "description": "An sincerity so extremity he additions. Her yet there truth merit. Mrs all projecting favourable now unpleasing.",
              "thumb": { "src": "images/portfolio/portfolio-07-570x420.jpg", "width": 570, "height": 420, "alt": ""},
              "target": { "href": cfg.nav.portfolio.submenu.singleProject.href},
              "iconClass": "fa-arrow-right"
            })
          .col-xs-12.col-sm-6.isotope-item(data-filter="Gallery 2")
            +thumbnail-apollo({
              "type": "thumbnail",
              "title": "Donec pede justo",
              "description": "An sincerity so extremity he additions. Her yet there truth merit. Mrs all projecting favourable now unpleasing.",
              "thumb": {"src": "images/portfolio/portfolio-05-570x420.jpg", "width": 570, "height": 420, "alt": ""},
              "target": {"href": cfg.nav.portfolio.submenu.singleProject.href},
              "iconClass": "fa-arrow-right"
            })
          .col-xs-12.col-sm-6.isotope-item(data-filter="Gallery 1")
            +thumbnail-apollo({
              "type": "thumbnail",
              "title": "Donec pede justo",
              "description": "An sincerity so extremity he additions. Her yet there truth merit. Mrs all projecting favourable now unpleasing.",
              "thumb": {"src": "images/portfolio/portfolio-04-570x420.jpg", "width": 570, "height": 420, "alt": ""},
              "target": {"href": cfg.nav.portfolio.submenu.singleProject.href},
              "iconClass": "fa-arrow-right"
            })
