//- Includes
include ../elements/_ui-thumbnail-josip
include ../elements/_ui-isotope
// Portfolio classic effect
section.section-98.section-sm-110
  .shell
    .offset-top-34
      +isotope(['All', 'Gallery 1', 'Gallery 2'],{
        "group": "gallery",
        "layout": "fitRows",
        "alignClass": "isotope-filters-horizontal"
      }, "isotope-1")
        .row(data-photo-swipe-gallery="gallery")
          .col-xs-12.col-sm-6.isotope-item(data-filter="Gallery 2")
            +thumbnail-josip({
              "type": "thumbnail",
              "title": "New Opportunities",
              "description": "UX, Design, Web developoment",
              "thumb": { "src": "images/portfolio/portfolio-02-570x420.jpg", "width": 570, "height": 420, "alt": "" },
              "target": { "src": "images/portfolio/portfolio-02-1170x600.jpg", "width": 1170, "height": 600, "alt": "" },
              "btnLink": cfg.nav.portfolio.submenu.singleProject.href,
              "btnClass": "btn-primary",
              "btnText": "detail"
            })
          .col-xs-12.col-sm-6.isotope-item(data-filter="Gallery 1")
            +thumbnail-josip({
              "type": "thumbnail",
              "title": "Complex Solution",
              "description": "UX, Design, Web developoment",
              "thumb": { "src": "images/portfolio/portfolio-03-570x420.jpg", "width": 570, "height": 420, "alt": "" },
              "target": { "src": "images/portfolio/portfolio-03-1170x600.jpg", "width": 1170, "height": 600, "alt": "" },
              "btnLink": cfg.nav.portfolio.submenu.singleProject.href,
              "btnClass": "btn-primary",
              "btnText": "detail"
            })
          .col-xs-12.col-sm-6.isotope-item(data-filter="Gallery 2")
            +thumbnail-josip({
              "type": "thumbnail",
              "title": "Meaningful Design",
              "description": "UX, Design, Web developoment",
              "thumb": { "src": "images/portfolio/portfolio-04-570x420.jpg", "width": 570, "height": 420, "alt": "" },
              "target": { "src": "images/portfolio/portfolio-04-1170x600.jpg", "width": 1170, "height": 600, "alt": "" },
              "btnLink": cfg.nav.portfolio.submenu.singleProject.href,
              "btnClass": "btn-primary",
              "btnText": "detail"
            })
          .col-xs-12.col-sm-6.isotope-item(data-filter="Gallery 1")
            +thumbnail-josip({
              "type": "thumbnail",
              "title": "Various Elements",
              "description": "UX, Design, Web developoment",
              "thumb": { "src": "images/portfolio/portfolio-05-570x420.jpg", "width": 570, "height": 420, "alt": "" },
              "target": { "src": "images/portfolio/portfolio-05-1170x600.jpg", "width": 1170, "height": 600, "alt": "" },
              "btnLink": cfg.nav.portfolio.submenu.singleProject.href,
              "btnClass": "btn-primary",
              "btnText": "detail"
            })
