//- Includes
include ../elements/_widget-flickrfeed
include ../elements/_widget-form-search
include ../elements/_widget-tags
include ../elements/_widget-twitter

// Section Blog Modern
aside.text-left
  // Search Form
  h6.text-uppercase.text-spacing-60 Blog
  div.text-subline

  .offset-top-34
    +widget-form-search("input-sm", "form-label-sm", "blog-sidebar-2-form-search-widget")

  .range.offset-top-41
    .cell-xs-6.cell-md-12
      // Category
      h6.text-uppercase.text-spacing-60 Categories
      div.text-subline

      ul.list.list-marked.offset-top-30
        li
          a(href="#") Lifestyle #[span.text-dark (37)]
        li
          a(href="#") Music #[span.text-dark (211)]
        li
          a(href="#") Beauty #[span.text-dark (12)]
        li
          a(href="#") Video #[span.text-dark (7)]
        li
          a(href="#") News #[span.text-dark (15)]

    .cell-xs-6.cell-md-12.offset-top-41.offset-xs-top-0.offset-md-top-41
      // Archive
      h6.text-uppercase.text-spacing-60 Archive
      div.text-subline

      ul.list.list-marked.offset-top-30
        li
          a(href="#") January 2016 #[span.text-dark (17)]
        li
          a(href="#") December 2015 #[span.text-dark (121)]
        li
          a(href="#") November 2015 #[span.text-dark (19)]
        li
          a(href="#") October 2015 #[span.text-dark (9)]
        li
          a(href="#") September 2015 #[span.text-dark (25)]

  // Tags
  h6.offset-top-41.text-uppercase.text-spacing-60 Tags
  div.text-subline

  .offset-top-34
    +widget-tags("btn btn-xs btn-default", [
      {"title": "Web", "href": "#"},
      {"title": "UX", "href": "#"},
      {"title": "Marketing", "href": "#"},
      {"title": "News", "href": "#"},
      {"title": "Design", "href": "#"},
      {"title": "Events", "href": "#"}
    ])