//- Includes
include ../elements/_ui-thumbnail-janes
include ../elements/_ui-isotope
// Portfolio janes effect
section.section-98.section-sm-110
  .shell
    .offset-top-34
      +isotope(['All', 'Gallery 1', 'Gallery 2'],{
        "group": "gallery",
        "layout": "fitRows",
        "alignClass": "isotope-filters-horizontal"
      }, "isotope-1")
        .row(data-photo-swipe-gallery="gallery")
          .col-xs-12.col-sm-6.isotope-item(data-filter="Gallery 2")
            +thumbnail-janes({
              "type": "thumbnail",
              "title": "Perfect Solution",
              "description": "Crafting unique experiences by enhancing usability, accessibility and pleasure of the user interaction with the product.",
              "thumb": {"src": "images/portfolio/portfolio-02-570x420.jpg", "width": 570, "height": 420, "alt": ""},
              "target": {"src": "images/portfolio/portfolio-02-1170x600.jpg", "width": 1170, "height": 600, "alt": ""},
              "btnClass": "btn-deluge",
              "btnLink": "#",
              "btnText": "learn more"
            })
          .col-xs-12.col-sm-6.isotope-item(data-filter="Gallery 1")
            +thumbnail-janes({
              "type": "thumbnail",
              "title": "New Vision",
              "description": "Providing users with the extensive experience of working on mobile projects on the go.",
              "thumb": {"src": "images/portfolio/portfolio-03-570x420.jpg", "width": 570, "height": 420, "alt": ""},
              "target": {"src": "images/portfolio/portfolio-03-1170x600.jpg", "width": 1170, "height": 600, "alt": ""},
              "btnClass": "btn-deluge",
              "btnLink": "#",
              "btnText": "learn more"
            })
          .col-xs-12.col-sm-6.isotope-item(data-filter="Gallery 2")
            +thumbnail-janes({
              "type": "thumbnail",
              "title": "Something we care about",
              "description": "Providing users with the extensive experience of working on mobile projects on the go.",
              "thumb": {"src": "images/portfolio/portfolio-04-570x420.jpg", "width": 570, "height": 420, "alt": ""},
              "target": {"src": "images/portfolio/portfolio-04-1170x600.jpg", "width": 1170, "height": 600, "alt": ""},
              "btnClass": "btn-deluge",
              "btnLink": "#",
              "btnText": "learn more"
            })
          .col-xs-12.col-sm-6.isotope-item(data-filter="Gallery 1")
            +thumbnail-janes({
              "type": "thumbnail",
              "title": "Product made for you",
              "description": "Making fully adaptive web projects that automatically adjust to any screen that they are viewed on.",
              "thumb": {"src": "images/portfolio/portfolio-05-570x420.jpg", "width": 570, "height": 420, "alt": ""},
              "target": {"src": "images/portfolio/portfolio-05-1170x600.jpg", "width": 1170, "height": 600, "alt": ""},
              "btnClass": "btn-deluge",
              "btnLink": "#",
              "btnText": "learn more"
            })
