//- Includes
include ../elements/_ui-counter-type-1.pug

// Skills
section.section-98.section-md-110.context-dark(style="background: #191919 url(images/backgrounds/background-02-481x360.png);")
  .shell-fluid
    .range
      .cell-sm-8.cell-sm-preffix-2.cell-md-12.cell-md-preffix-0
        .range
          .cell-sm-6.cell-md-3.cell-md-preffix-0
            +counter-type-1("Templates", "text-bold text-blue-gray", {
              "dataTo": "58249",
              "dataSpeed": "3000",
              "attr": "text-uppercase text-bold text-spacing-60 offset-top-20"
            }, "divider bg-white", "h1")
          .cell-sm-6.cell-md-3.offset-top-66.offset-sm-top-0
            +counter-type-1("Happy Clients", "text-bold text-blue-gray", {
              "dataTo": "246",
              "dataSpeed": "2500",
              "preffix": "K",
              "attr": "text-uppercase text-bold text-spacing-60 offset-top-20"
            }, "divider bg-white", "h1")
          .cell-sm-6.cell-md-3.offset-top-66.offset-md-top-0
            +counter-type-1("Hours of Coding", "text-bold text-blue-gray", {
              "dataTo": "1200",
              "dataSpeed": "1500",
              "attr": "text-uppercase text-bold text-spacing-60 offset-top-20"
            }, "divider bg-white", "h1")
          .cell-sm-6.cell-md-3.offset-top-66.offset-md-top-0
            +counter-type-1("Lines of Code", "text-bold text-blue-gray", {
              "dataTo": "834",
              "dataSpeed": "1300",
              "preffix": "K",
              "attr": "text-uppercase text-bold text-spacing-60 offset-top-20"
            }, "divider bg-white", "h1")