//- Includes
include ../elements/_ui-member-block.pug
include ../elements/_widget-list-social.pug

// section our team
section.section-top-66.section-bottom-110
  .shell
    h2
      span.big Meet Our Team
    p We are a team of developers, designers and leads who love what they do.
    hr.divider.bg-mantis
    .range.range-xs-center.offset-top-66
      .cell-sm-8.cell-lg-12
        .range
          .cell-sm-6.cell-lg-3
            +member-block(
              {"title": "John Doe", "href": cfg.nav.pages.submenu.teamMember.href},
              {"src": "images/users/user-john-doe-140x140.jpg", "width": 140, "height": 140, "alt": ""},
              "Software Developer",
              [
                { "icon": "fa fa-facebook", "href": "#" },
                { "icon": "fa fa-twitter", "href": "#" },
                { "icon": "fa fa-google-plus", "href": "#" }
              ]
            )

          .cell-sm-6.cell-lg-3.offset-top-66.offset-sm-top-0
            +member-block(
              {"title": "July Mao", "href": cfg.nav.pages.submenu.teamMember.href},
              {"src": "images/users/user-july-mao-140x140.jpg", "width": 140, "height": 140, "alt": ""},
              "Support Operator",
              [
                {"icon": "fa fa-facebook", "href": "#"},
                {"icon": "fa fa-twitter", "href": "#"},
                {"icon": "fa fa-google-plus", "href": "#"}
              ]
            )

          .cell-sm-6.cell-lg-3.offset-top-66.offset-lg-top-0
            +member-block(
              {"title": "Bernard Show", "href": cfg.nav.pages.submenu.teamMember.href},
              {"src": "images/users/user-bernard-show-140x140.jpg", "width": 140, "height": 140, "alt": ""},
              "Creative Director",
              [
                {"icon": "fa fa-facebook", "href": "#"},
                {"icon": "fa fa-twitter", "href": "#"},
                {"icon": "fa fa-google-plus", "href": "#"}
              ]
            )

          .cell-sm-6.cell-lg-3.offset-top-66.offset-lg-top-0
            +member-block(
              {"title": "Ronald Oswald", "href": cfg.nav.pages.submenu.teamMember.href},
              {"src": "images/users/user-ronald-oswald-140x140.jpg", "width": 140, "height": 140, "alt": ""},
              "Founder, Sales",
              [
                {"icon": "fa fa-facebook", "href": "#"},
                {"icon": "fa fa-twitter", "href": "#"},
                {"icon": "fa fa-google-plus", "href": "#"}
              ]
            )