//- Includes
include  ../elements/_ui-box-icon-type-2

// Section check plugin highlights
section.section-98.section-sm-110(style="overflow: hidden")
  .shell
    .range.range-xs-center
      .cell-sm-10.cell-lg-4
        +box-icon-type-2("icon-lg icon-circle mdi mdi-cellphone-link text-picton-blue", "Fully Responsive", "text-uppercase offset-sm-top-24", "Let visitors use the calendar on different devices, be it a HD desktop or mobile phone. Thanks to its fully responsive nature, it can scale down to any viewport automatically.")
      .cell-sm-10.cell-lg-4.offset-top-50.offset-md-top-0
        +box-icon-type-2("icon-lg icon-circle mdi mdi-language-html5 text-picton-blue", "Clean and valid html5/css", "text-uppercase offset-sm-top-24", "Due to clean ansd well commented HTML code you will find it amazingly easy to customize the project and optimise your theme for search engines.")
      .cell-sm-10.cell-lg-4.offset-top-50.offset-md-top-0
        +box-icon-type-2("icon-lg icon-circle mdi mdi-image-filter-black-white text-picton-blue", "jQuery 1.11+", "text-uppercase offset-sm-top-24", "Before setting up RD Event Calendar, you’ll need to install jQuery 1.11+. It will provide an optimal performance of the script on your website.")