//- Includes
include ../elements/_ui-rd-parallax

// Questions & Answers
section
  +rd-parallax({
    "backgroundSpeed": "0.35",
    "attrType": "media",
    "src": "images/backgrounds/background-05-1920x960.jpg",
    "htmlSpeed": "0"
  })
    .bg-overlay-white
      .shell.section-98
        h1 Questions & Answers
        hr.divider.bg-mantis
        .range.range-xs-center.text-sm-left.offset-top-0
          .cell-sm-9.cell-lg-12
            .range.range-xs-center
              .cell-lg-5
                h6 How does the 14-day trial work?
                p Once you decide to opt for any of our plans, you can run a 14-day free trial first. Including all the basic features of each of the offered pricing plans, it will help you decide which features are of the greatest value to you. Once the 14 day period is over, you will be asked to make your choice.

              .cell-lg-5
                h6 What happens at the end of my trial?
                p After the end of your trial, you will automatically pay for the Starter Plan (the cheapest of the offered ones). Just in case you do not want to continue or wish to opt for any other plan, be sure to cancel the subscription before the free trial ends. For more detailed information, contact the support team.

              .range-spacer.veil.reveal-lg-inline-block.offset-lg-top-50

              .cell-lg-5
                h6 My account has expired, can I recover it?
                p If you do not decide to purchase the same or upgrade to a new plan, your account will expire. You can recover it by buying any of the offered plans. All data from your personal account will remain intact for 6 months. If you do not upgrade till that moment, all data will vanish.

              .cell-lg-5
                h6 Can I change/cancel plans anytime?
                p Yes, you can. Our plans are month-to-month or yearly. You are free to cancel the selected plan anytime you wish. Once you decide to cancel the current plan, we will not charge you for the next period. As soon as you decide what other plan to opt for, we will contact you for verification.

              .range-spacer.veil.reveal-lg-inline-block.offset-lg-top-50

              .cell-lg-5
                h6 Do you offer discounts for students?
                p We offer student and non-profit discounts. Just open a private discussion with us, verify your status and we will provide you with a 20% discount on any of the provided plans. We may ask you to confirm your status with documentation, so please get ready to verify that.

              .cell-lg-5
                h6 How do I access my account?
                p If you are having problems with accessing your account, please follow several quick and easy troubleshooting steps that will help you fix the issue in no time. For example, you can reset your password via email or SMS, change the username, or whatsoever.