// Includes
include ../elements/_ui-thumbnail-rayen
section.rd-material-tabs.gallery-tabs
    .rd-material-tabs__list.section-20.bg-gray-darker.offset-top-50.offset-lg-top-0
      ul
        li

            a(href='#') Fashion
        li

            a(href='#') Travel
        li

            a(href='#') Business
        li

            a(href='#') Wedding
        li

            a(href='#') Animals
        li

            a(href='#') Architecture

    .rd-material-tabs__container
      // Fashion
      div
        .range.range-condensed(data-photo-swipe-gallery="gallery")
          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-42-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {
                  "src": "images/portfolio/portfolio-42-796x1200.jpg",
                  "width": 796,
                  "height": 1200,
                  "alt": ""
                }
              }, "icon-md fa-search-plus")

          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-43-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {
                  "src": "images/portfolio/portfolio-43-1200x783.jpg",
                  "width": 1200,
                  "height": 783,
                  "alt": ""
                }
              }, "icon-md fa-search-plus")

          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-44-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {
                  "src": "images/portfolio/portfolio-44-1200x799.jpg",
                  "width": 1200,
                  "height": 799,
                  "alt": ""
                }
              }, "icon-md fa-search-plus")

          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-45-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {
                  "src": "images/portfolio/portfolio-45-1200x802.jpg",
                  "width": 1200,
                  "height": 802,
                  "alt": ""
                }
              }, "icon-md fa-search-plus")

          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-46-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {
                  "src": "images/portfolio/portfolio-46-1200x955.jpg",
                  "width": 1200,
                  "height": 955,
                  "alt": ""
                }
              }, "icon-md fa-search-plus")
          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-47-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {
                  "src": "images/portfolio/portfolio-47-1200x793.jpg",
                  "width": 1200,
                  "height": 793,
                  "alt": ""
                }
              }, "icon-md fa-search-plus")
          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-48-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {
                  "src": "images/portfolio/portfolio-48-1200x1150.jpg",
                  "width": 1200,
                  "height": 1150,
                  "alt": ""
                }
              }, "icon-md fa-search-plus")

          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-49-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {
                  "src": "images/portfolio/portfolio-49-1200x803.jpg",
                  "width": 1200,
                  "height": 803,
                  "alt": ""
                }
              }, "icon-md fa-search-plus")

          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-50-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {
                  "src": "images/portfolio/portfolio-50-1200x800.jpg",
                  "width": 1200,
                  "height": 800,
                  "alt": ""
                }
              }, "icon-md fa-search-plus")
      // Travel
      div
        .range.range-condensed(data-photo-swipe-gallery="gallery")
          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-33-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {"src": "images/portfolio/portfolio-33-1200x804.jpg", "width": 1200, "height": 804, "alt": ""}
              }, "icon-md fa-search-plus")

          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-34-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {"src": "images/portfolio/portfolio-34-1200x804.jpg", "width": 1200, "height": 804, "alt": ""}
              }, "icon-md fa-search-plus")

          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-35-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {"src": "images/portfolio/portfolio-35-1200x804.jpg", "width": 1200, "height": 804, "alt": ""}
              }, "icon-md fa-search-plus")

          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-36-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {"src": "images/portfolio/portfolio-36-1200x804.jpg", "width": 1200, "height": 804, "alt": ""}
              }, "icon-md fa-search-plus")

          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-37-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {"src": "images/portfolio/portfolio-37-1200x804.jpg", "width": 1200, "height": 804, "alt": ""}
              }, "icon-md fa-search-plus")
          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-38-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {"src": "images/portfolio/portfolio-38-1200x804.jpg", "width": 1200, "height": 804, "alt": ""}
              }, "icon-md fa-search-plus")

          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-39-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {"src": "images/portfolio/portfolio-39-1200x804.jpg", "width": 1200, "height": 804, "alt": ""}
              }, "icon-md fa-search-plus")
          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-40-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {"src": "images/portfolio/portfolio-40-1200x804.jpg", "width": 1200, "height": 804, "alt": ""}
              }, "icon-md fa-search-plus")
          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-41-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {"src": "images/portfolio/portfolio-41-1200x804.jpg", "width": 1200, "height": 804, "alt": ""}
              }, "icon-md fa-search-plus")
      // Business
      div
        .range.range-condensed(data-photo-swipe-gallery="gallery")
          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-18-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {"src": "images/portfolio/portfolio-18-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
              }, "icon-md fa-search-plus")
          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-51-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {"src": "images/portfolio/portfolio-51-1200x801.jpg", "width": 1200, "height": 801, "alt": ""}
              }, "icon-md fa-search-plus")

          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-52-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {"src": "images/portfolio/portfolio-52-1200x801.jpg", "width": 1200, "height": 801, "alt": ""}
              }, "icon-md fa-search-plus")
          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-53-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {"src": "images/portfolio/portfolio-53-1200x801.jpg", "width": 1200, "height": 801, "alt": ""}
              }, "icon-md fa-search-plus")
          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-54-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {"src": "images/portfolio/portfolio-54-1200x798.jpg", "width": 1200, "height": 798, "alt": ""}
              }, "icon-md fa-search-plus")
          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-55-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {"src": "images/portfolio/portfolio-55-1200x780.jpg", "width": 1200, "height": 780, "alt": ""}
              }, "icon-md fa-search-plus")
          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-56-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {"src": "images/portfolio/portfolio-56-1200x799.jpg", "width": 1200, "height": 799, "alt": ""}
              }, "icon-md fa-search-plus")
          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-57-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {"src": "images/portfolio/portfolio-57-801x1200.jpg", "width": 801, "height": 1200, "alt": ""}
              }, "icon-md fa-search-plus")
          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-58-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {"src": "images/portfolio/portfolio-58-1200x882.jpg", "width": 1200, "height": 882, "alt": ""}
              }, "icon-md fa-search-plus")


      // Wedding
      div
        .range.range-condensed(data-photo-swipe-gallery="gallery")
          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-24-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {"src": "images/portfolio/portfolio-24-1200x804.jpg", "width": 1200, "height": 804, "alt": ""}
              }, "icon-md fa-search-plus")

          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-25-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {"src": "images/portfolio/portfolio-25-1200x804.jpg", "width": 1200, "height": 804, "alt": ""}
              }, "icon-md fa-search-plus")

          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-26-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {"src": "images/portfolio/portfolio-26-1200x804.jpg", "width": 1200, "height": 804, "alt": ""}
              }, "icon-md fa-search-plus")

          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-27-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {"src": "images/portfolio/portfolio-27-1200x804.jpg", "width": 1200, "height": 804, "alt": ""}
              }, "icon-md fa-search-plus")

          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-28-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {"src": "images/portfolio/portfolio-28-1200x804.jpg", "width": 1200, "height": 804, "alt": ""}
              }, "icon-md fa-search-plus")
          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-29-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {"src": "images/portfolio/portfolio-29-1200x804.jpg", "width": 1200, "height": 804, "alt": ""}
              }, "icon-md fa-search-plus")
          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-30-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {"src": "images/portfolio/portfolio-30-1200x804.jpg", "width": 1200, "height": 804, "alt": ""}
              }, "icon-md fa-search-plus")

          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-31-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {"src": "images/portfolio/portfolio-31-1200x804.jpg", "width": 1200, "height": 804, "alt": ""}
              }, "icon-md fa-search-plus")

          .cell-xs-6.cell-md-4
            .image
              +thumbnail-rayen({
                "type": "thumbnail",
                "thumb": {"src": "images/portfolio/portfolio-32-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                "target": {"src": "images/portfolio/portfolio-32-1200x804.jpg", "width": 1200, "height": 804, "alt": ""}
              }, "icon-md fa-search-plus")
      // Animals
      div
        .range.range-condensed(data-photo-swipe-gallery="gallery")
          .range.range-condensed(data-photo-swipe-gallery="gallery")
            .cell-xs-6.cell-md-4
              .image
                +thumbnail-rayen({
                  "type": "thumbnail",
                  "thumb": {"src": "images/portfolio/portfolio-68-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                  "target": {
                    "src": "images/portfolio/portfolio-68-1200x803.jpg",
                    "width": 1200,
                    "height": 803,
                    "alt": ""
                  }
                }, "icon-md fa-search-plus")

            .cell-xs-6.cell-md-4
              .image
                +thumbnail-rayen({
                  "type": "thumbnail",
                  "thumb": {"src": "images/portfolio/portfolio-69-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                  "target": {
                    "src": "images/portfolio/portfolio-69-1200x801.jpg",
                    "width": 1200,
                    "height": 801,
                    "alt": ""
                  }
                }, "icon-md fa-search-plus")

            .cell-xs-6.cell-md-4
              .image
                +thumbnail-rayen({
                  "type": "thumbnail",
                  "thumb": {"src": "images/portfolio/portfolio-70-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                  "target": {
                    "src": "images/portfolio/portfolio-70-1200x801.jpg",
                    "width": 1200,
                    "height": 801,
                    "alt": ""
                  }
                }, "icon-md fa-search-plus")

            .cell-xs-6.cell-md-4
              .image
                +thumbnail-rayen({
                  "type": "thumbnail",
                  "thumb": {"src": "images/portfolio/portfolio-71-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                  "target": {
                    "src": "images/portfolio/portfolio-71-1200x904.jpg",
                    "width": 1200,
                    "height": 904,
                    "alt": ""
                  }
                }, "icon-md fa-search-plus")

            .cell-xs-6.cell-md-4
              .image
                +thumbnail-rayen({
                  "type": "thumbnail",
                  "thumb": {"src": "images/portfolio/portfolio-72-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                  "target": {
                    "src": "images/portfolio/portfolio-72-1200x828.jpg",
                    "width": 1200,
                    "height": 828,
                    "alt": ""
                  }
                }, "icon-md fa-search-plus")
            .cell-xs-6.cell-md-4
              .image
                +thumbnail-rayen({
                  "type": "thumbnail",
                  "thumb": {"src": "images/portfolio/portfolio-73-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                  "target": {
                    "src": "images/portfolio/portfolio-73-1200x846.jpg",
                    "width": 1200,
                    "height": 846,
                    "alt": ""
                  }
                }, "icon-md fa-search-plus")
            .cell-xs-6.cell-md-4
              .image
                +thumbnail-rayen({
                  "type": "thumbnail",
                  "thumb": {"src": "images/portfolio/portfolio-74-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                  "target": {
                    "src": "images/portfolio/portfolio-74-1200x898.jpg",
                    "width": 1200,
                    "height": 898,
                    "alt": ""
                  }
                }, "icon-md fa-search-plus")

            .cell-xs-6.cell-md-4
              .image
                +thumbnail-rayen({
                  "type": "thumbnail",
                  "thumb": {"src": "images/portfolio/portfolio-75-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                  "target": {
                    "src": "images/portfolio/portfolio-75-1200x804.jpg",
                    "width": 1200,
                    "height": 804,
                    "alt": ""
                  }
                }, "icon-md fa-search-plus")

            .cell-xs-6.cell-md-4
              .image
                +thumbnail-rayen({
                  "type": "thumbnail",
                  "thumb": {"src": "images/portfolio/portfolio-76-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                  "target": {
                    "src": "images/portfolio/portfolio-76-1200x804.jpg",
                    "width": 1200,
                    "height": 804,
                    "alt": ""
                  }
                }, "icon-md fa-search-plus")
      // Architecture
      div
        .range.range-condensed(data-photo-swipe-gallery="gallery")
          .range.range-condensed(data-photo-swipe-gallery="gallery")
            .cell-xs-6.cell-md-4
              .image
                +thumbnail-rayen({
                  "type": "thumbnail",
                  "thumb": {"src": "images/portfolio/portfolio-59-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                  "target": {
                    "src": "images/portfolio/portfolio-59-1200x850.jpg",
                    "width": 1200,
                    "height": 850,
                    "alt": ""
                  }
                }, "icon-md fa-search-plus")

            .cell-xs-6.cell-md-4
              .image
                +thumbnail-rayen({
                  "type": "thumbnail",
                  "thumb": {"src": "images/portfolio/portfolio-60-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                  "target": {
                    "src": "images/portfolio/portfolio-60-1200x744.jpg",
                    "width": 1200,
                    "height": 744,
                    "alt": ""
                  }
                }, "icon-md fa-search-plus")

            .cell-xs-6.cell-md-4
              .image
                +thumbnail-rayen({
                  "type": "thumbnail",
                  "thumb": {"src": "images/portfolio/portfolio-61-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                  "target": {
                    "src": "images/portfolio/portfolio-61-1200x744.jpg",
                    "width": 1200,
                    "height": 744,
                    "alt": ""
                  }
                }, "icon-md fa-search-plus")

            .cell-xs-6.cell-md-4
              .image
                +thumbnail-rayen({
                  "type": "thumbnail",
                  "thumb": {"src": "images/portfolio/portfolio-62-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                  "target": {
                    "src": "images/portfolio/portfolio-62-971x1200.jpg",
                    "width": 971,
                    "height": 1200,
                    "alt": ""
                  }
                }, "icon-md fa-search-plus")

            .cell-xs-6.cell-md-4
              .image
                +thumbnail-rayen({
                  "type": "thumbnail",
                  "thumb": {"src": "images/portfolio/portfolio-63-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                  "target": {
                    "src": "images/portfolio/portfolio-63-853x1200.jpg",
                    "width": 853,
                    "height": 1200,
                    "alt": ""
                  }
                }, "icon-md fa-search-plus")
            .cell-xs-6.cell-md-4
              .image
                +thumbnail-rayen({
                  "type": "thumbnail",
                  "thumb": {"src": "images/portfolio/portfolio-64-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                  "target": {
                    "src": "images/portfolio/portfolio-64-1200x803.jpg",
                    "width": 1200,
                    "height": 803,
                    "alt": ""
                  }
                }, "icon-md fa-search-plus")
            .cell-xs-6.cell-md-4
              .image
                +thumbnail-rayen({
                  "type": "thumbnail",
                  "thumb": {"src": "images/portfolio/portfolio-65-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                  "target": {
                    "src": "images/portfolio/portfolio-65-1200x802.jpg",
                    "width": 1200,
                    "height": 802,
                    "alt": ""
                  }
                }, "icon-md fa-search-plus")

            .cell-xs-6.cell-md-4
              .image
                +thumbnail-rayen({
                  "type": "thumbnail",
                  "thumb": {"src": "images/portfolio/portfolio-66-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                  "target": {
                    "src": "images/portfolio/portfolio-66-1200x801.jpg",
                    "width": 1200,
                    "height": 801,
                    "alt": ""
                  }
                }, "icon-md fa-search-plus")

            .cell-xs-6.cell-md-4
              .image
                +thumbnail-rayen({
                  "type": "thumbnail",
                  "thumb": {"src": "images/portfolio/portfolio-67-640x480.jpg", "width": 640, "height": 480, "alt": ""},
                  "target": {
                    "src": "images/portfolio/portfolio-67-1200x802.jpg",
                    "width": 1200,
                    "height": 802,
                    "alt": ""
                  }
                }, "icon-md fa-search-plus")

