//- Includes
include  ../elements/_ui-rd-parallax
include  ../elements/_ui-testimonials-slider

// What Clients Say?
section.context-dark.bg-gray-base
  +rd-parallax({
    "backgroundSpeed": "0.35",
    "attrType": "media",
    "src": "images/backgrounds/background-14-1920x651.jpg",
    "htmlSpeed": "0"
  })
    .shell.section-98.section-sm-110
      h1 What Clients Say?
      hr.divider.bg-mantis
      .range.offset-top-50
        +testimonials-slider([
          {
            "image": {
              "width": 80,
              "height": 80,
              "src": "images/users/user-kira-force-80x80.jpg",
              "alt": ""
            },
            "title": "Kira Force",
            "desc": "Marketing, at theme.co",
            "q": "The support service is really excellent at all levels, from first contact to more difficult IT actions. I feel safe and guaranteed regarding the purchase of this template. Thanks a lot!"
          },
          {
            "image": {
              "width": 80,
              "height": 80,
              "src": "images/users/user-diana-russo-80x80.jpg",
              "alt": ""
            },
            "title": "Diana Russo",
            "desc": "Freelance UX/UI designer",
            "q": "The themes are beautiful But what really makes the difference is the customer service. Both pre and post sales support is second to none. Very fast, friendly and competent. I can only recommend this service."
          },
          {
            "image": {
              "width": 80,
              "height": 80,
              "src": "images/users/user-alex-merphy-80x80.jpg",
              "alt": "Alex Merphy"
            },
            "title": "Alex Merphy",
            "desc": "Freelance Developer",
            "q": "I am glad I’ve purchased a template from TemplateMonster. Extraordinary customer service, always available, perfect care and knowledge of the technicians. Essential if you are not an expert programmer. In any case highly recommended. Congratulations!"
          },
          {
            "image": {
              "width": 80,
              "height": 80,
              "src": "images/users/user-amanda-smith-80x80.jpg",
              "alt": ""
            },
            "title": "Amanda Smith",
            "desc": "Sales, at themes.com",
            "q": "We have purchased several themes and contacted support once, the case had to be passed to technical support but it was resolved within the day. Very fast responses and excellent templates to choose from. Would highly recommend."
          },
          {
            "image": {
              "width": 80,
              "height": 80,
              "src": "images/users/user-sam-cole-80x80.jpg",
              "alt": ""
            },
            "title": "Sam Cole",
            "desc": "Founder, at YourTax.com",
            "q": "Amazing Support and friendly technicians. I have bothered the team on countless occasions and they have never once seemed perturbed or annoyed by me. Thanks so much!"
          }])