//- Include
include ../elements/_ui-rd-flickr

// See It In Action
section.section-top-98.section-md-top-110#flickr-feed-demo
  h1 See It In Action
  hr.divider.bg-mantis
  .offset-top-66
    +rd-flickr("tm58888_landscapes", {"data-image_c": "src"}, 8)
