//- Includes
include ../elements/_widget-rd-calendar
include ../elements/_widget-event
include ../elements/_widget-flickrfeed

// Section Blog Events
aside.text-left
  .range
    .cell-sm-6.cell-md-12.offset-sm-top-41.offset-md-top-0
      // RD calendar
      +widget-rd-calendar([
        {
          "date": "04/12/2016",
          "time": "8:00 AM",
          "title": "Pitae augue vitae matt",
          "link": "#"
        },
        {
          "date": "04/13/2016",
          "time": "9:00 AM",
          "title": "Pitae augue vitae matt",
          "link": "#"
        }
      ])

    // Recent Events
    .cell-sm-6.cell-md-12.offset-top-41
      h6.text-uppercase.text-spacing-60 Recent Events
      div.text-subline
      .offset-top-34
        +widget-event("#", "05/14/2015", "9:00 PM", "Let’s Change the world", {
          "w": 46,
          "h": 46,
          "src": "images/blog/post-thumb-01-46x46.jpg",
          "alt": ""
        })
      .offset-top-30
        +widget-event("#", "05/14/2015", "9:00 PM", "The meaning of Web De...", {
          "w": 46,
          "h": 46,
          "src": "images/blog/post-thumb-02-46x46.jpg",
          "alt": ""
        })
      .offset-top-30
        +widget-event("#", "05/14/2015", "9:00 PM", "Get Started with Templa...", {
          "w": 46,
          "h": 46,
          "src": "images/blog/post-thumb-03-46x46.jpg",
          "alt": ""
        })

  // Flickr Feed
  h6.offset-top-41.text-uppercase.text-spacing-60 Flickr Feed
  div.text-subline
  .offset-top-34
    +widget-flickrfeed('14098790@N07', {"data-image_q": "src"}, 9)