extends  ../_skeleton

//- Includes
include  ../elements/_ui-rd-parallax
include ../elements/_ui-thumbnail-classic
include ../elements/_ui-isotope
include ../elements/_ui-rd-map
//-Title
block title
  title= cfg.nav.gallery.title

//- Page
block page

  // Page Head
  header.page-head
    //- RD Navbar
    +rd-navbar-top-panel(
    'rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.gallery,
    cfg.nav
    )
  // Page Content
  main.page-content
    // Breadcrumbs
    section.context-dark
      +rd-parallax({
        "backgroundSpeed": "0.35",
        "attrType": "media",
        "src": "images/bg-01-1920x718.jpg",
        "htmlSpeed": "0"
      })
        .bg-overlay-info
          .shell.section-34.section-sm-66.text-md-left
            div.veil.reveal-sm-block.reveal-md-inline-block
              h1.text-bold
                span.big Gallery
            div.pull-md-right.offset-sm-top-10.offset-md-top-41
              ul.p.list-inline.list-inline-dashed
                li.text-safety-orange
                  a(href= cfg.nav.home.href) Home
                li Gallery

    // Gallery
    section.section-98.section-sm-124
      .shell.text-lg-left
        +isotope(['All', 'Classes', 'Birthday', 'Typical day', 'Events'],{
          "group": "gallery",
          "layout": "masonry",
          "alignClass": "isotope-filters-vertical"
        }, "isotope-1")
          .row(data-photo-swipe-gallery="gallery")
            .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter="*")
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/gallery-01-270x270.jpg", "width": 270, "height": 270, "alt": ""},
                "target": {"src": "images/home-10_original-1200x801.jpg", "width": 1200, "height": 801, "alt": ""}
              })
            .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter="Classes")
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/gallery-02-270x420.jpg", "width": 270, "height": 420, "alt": ""},
                "target": {"src": "images/gallery-02_original-1200x855.jpg", "width": 1200, "height": 855, "alt": ""}
              })
            .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter="Birthday")
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/gallery-03-270x270.jpg", "width": 270, "height": 270, "alt": ""},
                "target": {"src": "images/gallery-03_original-1200x872.jpg", "width": 1200, "height": 872, "alt": ""}
              })
            .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter="Typical day")
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/gallery-04-270x420.jpg", "width": 270, "height": 420, "alt": ""},
                "target": {"src": "images/home-07_original-1200x774.jpg", "width": 1200, "height": 774, "alt": ""}
              })
            .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter="Classes")
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/gallery-06-270x286.jpg", "width": 270, "height": 286, "alt": ""},
                "target": {"src": "images/home-08_original-1200x1126.jpg", "width": 1200, "height": 1126, "alt": ""}
              })
            .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter="Birthday")
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/gallery-05-270x270.jpg", "width": 270, "height": 270, "alt": ""},
                "target": {"src": "images/gallery-05_original-1200x808.jpg", "width": 1200, "height": 808, "alt": ""}
              })
            .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter="Typical day")
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/gallery-08-270x404.jpg", "width": 270, "height": 404, "alt": ""},
                "target": {"src": "images/gallery-08_original-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
              })
            .col-xs-12.col-sm-6.col-md-8.isotope-item(data-filter="Events")
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/gallery-07-570x270.jpg", "width": 570, "height": 270, "alt": ""},
                "target": {"src": "images/home-11_original-1200x801.jpg", "width": 1200, "height": 801, "alt": ""}
              })
            .col-xs-12.col-sm-6.col-md-8.isotope-item(data-filter="Birthday")
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/gallery-10-570x270.jpg", "width": 570, "height": 270, "alt": ""},
                "target": {"src": "images/gallery-10_original-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
              })
            .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter="Birthday")
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/gallery-09-270x270.jpg", "width": 270, "height": 270, "alt": ""},
                "target": {"src": "images/gallery-09_original-1200x808.jpg", "width": 1200, "height": 808, "alt": ""}
              })


    // Map
    +rd-map({
      "zoom": "14",
      "dataX": "-73.9874068",
      "dataY": "40.643180",
      "dataStyles": [{
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [{"color": "#e9e9e9"}, {"lightness": 17}]
      }, {
        "featureType": "landscape",
        "elementType": "geometry",
        "stylers": [{"color": "#f5f5f5"}, {"lightness": 20}]
      }, {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [{"color": "#ffffff"}, {"lightness": 17}]
      }, {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [{"color": "#ffffff"}, {"lightness": 29}, {"weight": 0.2}]
      }, {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [{"color": "#ffffff"}, {"lightness": 18}]
      }, {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [{"color": "#ffffff"}, {"lightness": 16}]
      }, {
        "featureType": "poi",
        "elementType": "geometry",
        "stylers": [{"color": "#f5f5f5"}, {"lightness": 21}]
      }, {
        "featureType": "poi.park",
        "elementType": "geometry",
        "stylers": [{"color": "#dedede"}, {"lightness": 21}]
      }, {
        "elementType": "labels.text.stroke",
        "stylers": [{"visibility": "on"}, {"color": "#ffffff"}, {"lightness": 16}]
      }, {
        "elementType": "labels.text.fill",
        "stylers": [{"saturation": 36}, {"color": "#333333"}, {"lightness": 40}]
      }, {"elementType": "labels.icon", "stylers": [{"visibility": "off"}]}, {
        "featureType": "transit",
        "elementType": "geometry",
        "stylers": [{"color": "#f2f2f2"}, {"lightness": 19}]
      }, {
        "featureType": "administrative",
        "elementType": "geometry.fill",
        "stylers": [{"color": "#fefefe"}, {"lightness": 20}]
      }, {
        "featureType": "administrative",
        "elementType": "geometry.stroke",
        "stylers": [{"color": "#fefefe"}, {"lightness": 17}, {"weight": 1.2}]
      }]
    },[{
      "dataX": "-73.9874068",
      "dataY": "40.643180",
      "markerDesc": "9870 St Vincent Place, Glasgow, DC 45 Fr 45"
    }])

  // Page Footer
  include ../sections/_section-footer-default


