extends  ../_skeleton

//- Includes
include ../elements/_ui-post-classic
include ../elements/_ui-pagination-bootstrap

//-Title
block title
  title= cfg.nav.blog.title

//- Page
block page

  // Page Head
  header.page-head.slider-menu-position
    //- RD Navbar
    +rd-navbar-floated(
    'rd-navbar-dark',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.blog,
    cfg.nav
    )
    .context-dark
      +breadcrumb-modern("Blog", {
        0: {
          "type": "link",
          "title": cfg.nav.home.title,
          "href": cfg.nav.home.href
        },
        1: {
          "type": "link",
          "title": cfg.nav.blog.title,
          "href": cfg.nav.blog.href
        }
      }, "images/background-04-1920x750.jpg")


  // Page Contents
  main.page-content.section-98.section-sm-110
    .shell
      .range.range-md-center.range-lg-right
        .cell-md-8.inset-md-right-30
          // Blog Classic
          section
            +post-classic("blog-post.html", "05/14/2015", "Individual Training: Where to Begin", "July Mao", "images/user-july-mao-70x70.jpg", [
              {"title": "Fitness", "href": "#"},
              {"title": "Yoga", "href": "#"}],
            {
              "type": "thumbnail",
              "thumb": {"src": "images/post-01-770x434.jpg", "width": 770, "height": 434, "alt": ""},
              "target": {"href": "blog-post.html"}
            })
              p Today we will speak about the topic that many coaches and attendees of our gym find urgent. Individual or personalized training is often a key to improvement of your physical health. We hope this article will provide you with necessary answers on questions.
              p Any sport is basically a series of training done according to a specific system with planned intervals and preset loads. Such training allows achieving great results.

            hr.hr.bg-lighter.offset-top-41.offset-sm-top-66
            .offset-top-41.offset-sm-top-66
              +post-classic("blog-post.html", "05/14/2015", "The Dead Deadlift", "John Doe", "images/user-john-doe-70x70.jpg", [
                {"title": "CrossFit", "href": "#"}])
                p To succeed in weightlifting, you have to follow a specific program. But it is also very important to pay your attention to such element of training as a deadlifting. It makes a great basis for your further weightlifting training while also being useful for the development.
                p In this article, we will uncover the basics of deadlifting followed by the recommendations of Intense coaches. To begin with, deadlifting requires not just good…

            hr.hr.bg-lighter.offset-top-41.offset-sm-top-66
            .offset-top-41.offset-sm-top-66
              +post-classic("blog-post.html", "05/14/2015", "How to Maintain a Perfect Muscular Body", "Bernard Show", "images/user-alex-ross-70x70.jpg", [
                {"title": "Bodybuilding", "href": "#"}],
              {
                "type": "thumbnail",
                "thumb": {"src": "images/post-09-769x434.jpg", "width": 769, "height": 434, "alt": ""},
                "target": {"href": "blog-post.html"}
              })
                p Everyone dreams of having a perfect body. Though it may seem difficult to achieve, a special training course can help you transform your body into its muscular shape. And with our recommendations given in this article, it will be a lot easier for you.
                p First, it is important to treat your workout seriously, as it is the primary rule of your success. If you lack basic physical training, then the most suitable option will be…

            hr.hr.bg-lighter.offset-top-41.offset-sm-top-66
            .offset-top-41.offset-sm-top-66
              +post-classic("blog-post.html", "05/14/2015", "Elements of a Proper Athletic Training", "Andy Cole", "images/user-andy-cole-70x70.jpg", [
                {"title": "CrossFit", "href": "#"},
                {"title": "Fitness", "href": "#"}],
              {
                "type": "gallery",
                "images": [
                  {
                    "type": "thumbnail",
                    "thumb": {"src": "images/post-10-770x434.jpg", "width": 770, "height": 434, "alt": ""},
                    "target": {"src": "images/post-10-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
                  },
                  {
                    "type": "thumbnail",
                    "thumb": {"src": "images/post-11-770x434.jpg", "width": 770, "height": 434, "alt": ""},
                    "target": {"src": "images/post-11-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
                  },
                  {
                    "type": "thumbnail",
                    "thumb": {"src": "images/post-12-770x434.jpg", "width": 770, "height": 434, "alt": ""},
                    "target": {"src": "images/post-12-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
                  }
                ]
              })
                p It goes without saying that every training course differs in its goals and techniques. There are even different workouts for men and women. However, you can easily find common elements almost for every workout, and this is what we will talk about in our article
                p If you want your training to be successful and bring good results, you have to remember about warming up at the beginning of your workout. For example, some of…

            .offset-top-66
              +pagination-bootstrap('pagination-sm', 1, [{"href": "#"}, {"href": "#"}, {"href": "#"}, {"href": "#"}], {"href": "#"}, {"href": "#"})

        .cell-md-4.offset-top-66.offset-md-top-0
          include ../sections/_section-blog-sidebar-variant-2

  // Page Footer
  include ../sections/_section-footer