//- icon - icon class
//- title - box title
//- desc - description of box
mixin box-icon-type-4(icon, title, desc)
  // Icon Box Type 4
  span.icon.icon-circle.icon-bordered(class= icon)
  div
    block