//- Santos svg button
mixin button-santos-svg(btnClass, btnText, iconClass)
  button(class=btnClass type="button").btn.btn-santos-svg-effect
    svg(xmlns="http://www.w3.org/2000/svg")
      rect.shape
    =btnText