//- settings - object set parameters off facebook plugin
mixin rd-facebook(settings)

  article.post-facebook(data-fb-post='').text-left.clearfix

    .post-meta.text-right
      if settings.showTime === true
        .time.veil.reveal-sm-inline-block(data-created_time='text, datetime')
      .post-meta-profile.unit.unit-spacing-xs.unit-horizontal.unit-middle.pull-left
        .unit-left
          img(src='images/_blank.png', alt='', data-from-picture='src', data-remove='', height="34", width="34" )
        .unit-body
          h6(data-from-name='text')


    p.post-message(data-message='text')


    .post-attachment.text-center.text-md-left
      img(src='images/_blank.png', alt='', data-picture='src', data-remove='', width=130, height=130)
      .post-attachment-wrap
        div
          h6
            a(href='#', data-link='href', data-name='text')
        p.small(data-description='text')

    .text-center.text-md-left
      a.small.text-picton-blue.pull-xl-right(href='#', data-postlink='href', data-remove='') View on Facebook

      if settings.showLike === true
        ul.list-inline.list-inline-sm.offset-top-10.offset-xl-top-0
          li
            span.text-middle.icon.icon-xxs.mdi.mdi-thumb-up-outline
            = ' '
            span.text-middle(data-likes-count='text')
          li
            span.text-middle.icon.icon-xxs.mdi.mdi-comment-multiple-outline
            = ' '
            span.text-middle(data-comments-count='text')

    if settings.showComments === true
      .post-comments.veil.reveal-lg-inline-block.offset-top-20

        h6.text-bold Comments:

        .post-comment(data-fb-comment='')
          a.text-picton-blue(href='#', data-comments-data-from-link='href', data-comments-data-from-name='text', data-remove='')
          p.comment-message(data-comments-data-message='text', data-remove='')

        .post-comment(data-fb-comment='')
          a.text-picton-blue(href='#', data-comments-data-from-link='href', data-comments-data-from-name='text', data-remove='')
          p.comment-message(data-comments-data-message='text', data-remove='')

        .post-comment(data-fb-comment='')
          a.text-picton-blue(href='#', data-comments-data-from-link='href', data-comments-data-from-name='text', data-remove='')
          p.comment-message(data-comments-data-message='text', data-remove='')

