extends  ../_skeleton

//- Includes
include  ../elements/_ui-tabs-classic
include  ../elements/_ui-rd-parallax

//-Title
block title
  title= cfg.nav.about.title

//- Page
block page

  // Page Head
  header.page-head
    //- RD Navbar
    +rd-navbar-top-panel(
    'rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.about,
    cfg.nav
    )

    //- Section header
    section.rd-parallax.context-dark
      div.rd-parallax-layer(data-speed="0.2" data-type="media" data-url="images/bg-header-1920x362.jpg")
      div.rd-parallax-layer(data-speed="0" data-type="html")
        .shell.section-top-34.section-sm-top-98.section-bottom-34
          div
            h1.text-bold About Agency
          ul.list-inline.list-inline-dashed.p.text-light.breadcrumb-modern.offset-top-10.offset-sm-top-66
            li.active
              a(href="./") Home
            li  About

  // Page Contents
  main.page-content

    //Section Real Estate Agents
    section.section-98.section-sm-110.section-bottom-66
      .shell
        h2.text-bold Company
        hr.divider.bg-saffron
        .offset-sm-top-66
          +tabs-classic(['Overview', 'Soul of agency ', 'Team', 'Testimonials'])

            div
              .range.section-34
                .cell-md-5
                  img.img-responsive.reveal-inline-block(src="images/about-01-470x310.jpg" width=470 height=310 alt="")
                .cell-md-7.offset-top-30.offset-md-top-0.text-md-left
                  .inset-md-left-40
                    p Intense is a national Real Estate Agency established in 2006 in Los Angeles. Our company was initially designed to help people who are looking for a rental or an apartment for sale. Today we provide video demonstrations of millions of apartments and houses across the country as well as free access to our database for our clients. Awarded with “the Most Innovative Real Estate Agency” prize in 2012, Intense strives to make your housing experience as comfortable as it can be. We care about our clients and help them get the most money and comfort out of their purchases. Moreover, the area of our operation covers many states of the country, so you can be sure you will find the proper house.
                    p Our agents widely cooperate with professional property owners and business companies generating calls from prospects looking for commercial real estate. Thanks to our website, it can be done easier and faster than ever. Whether you are a private individual or a business representative, here you will find the property you are looking for and service you deserve.

            div
              .range.range-xs-center.section-34
                .cell-md-3.text-md-left
                  img.img-responsive.reveal-inline-block(src="images/users/user-carl-bishop-270x270.jpg" width=270 height=270 alt="")
                  .offset-top-10
                    h5.text-bold.text-primary Carl Bishop
                  .offset-top-4
                    p.text-dark Founder
                  .offset-top-14
                    ul.list-unstyled.p
                      li.reveal-block
                        span.icon.icon-xxs.mdi.mdi-phone.text-middle
                        = " "
                        a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                      li.reveal-block
                        span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                        = " "
                        a.reveal-inline-block.text-middle(href="mailto:carlbishop@demolink.org") carlbishop@demolink.org
                .cell-md-5.offset-top-30.offset-md-top-0.text-md-left
                  .inset-md-left-40
                    p With over 10 years of experience in Real Estate industry, Carl Bishop is one of the most renowned agents in the area today. His professional dedication allowed him to establish Intense agency that comprised his skills in real estate sales and rentals.
                    h5.font-default.text-italic.inset-md-left-50 I wanted to create a successful company that would offer people comfortable rentals as well as properties for sale.
                    p.offset-top-30 His leadership qualities and great managerial skills helped Carl Bishop to develop Intense into a network of real estate agencies with a good reputation. Nowadays Mr. Bishop manages the work of other agents in our company controlling their work and level of service they offer to our clients.
                    p When he is not busy with his current work or strategic planning of company’s activity, Mr. Bishop prefers to spend time with his family.

            div
              .range.range-xs-center.section-34
                .cell-sm-6.cell-md-3
                  img.img-responsive.reveal-inline-block(src="images/users/user-ashley-mason-270x270.jpg" width=270 height=270 alt="")
                  .text-md-left.offset-top-20
                    div
                      h5.text-bold.text-primary
                        a(href="team-member.html") Ashley Mason
                  address.contact-info.text-md-left
                    ul.list-unstyled.p
                      li.reveal-block
                        span.icon.icon-xxs.mdi.mdi-phone.text-middle
                        = " "
                        a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                      li.reveal-block
                        span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                        = " "
                        a.reveal-inline-block.text-middle(href="mailto:ashley@demolink.org") ashley@demolink.org

                .cell-sm-6.cell-md-3.offset-top-50.offset-sm-top-0
                  img.img-responsive.reveal-inline-block(src="images/users/user-russel-myers-270x270.jpg" width=270 height=270 alt="")
                  .text-md-left.offset-top-20
                    div
                      h5.text-bold.text-primary
                        a(href="team-member.html") Russell Myers
                  address.contact-info.text-md-left
                    ul.list-unstyled.p
                      li.reveal-block
                        span.icon.icon-xxs.mdi.mdi-phone.text-middle
                        = " "
                        a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                      li.reveal-block
                        span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                        = " "
                        a.reveal-inline-block.text-middle(href="mailto:russell@demolink.org") russell@demolink.org

                .cell-sm-6.cell-md-3.offset-top-50.offset-md-top-0
                  img.img-responsive.reveal-inline-block(src="images/users/user-shirley-vasques-270x270.jpg" width=270 height=270 alt="")
                  .text-md-left.offset-top-20
                    div
                      h5.text-bold.text-primary
                        a(href="team-member.html") Shirley Vasquez
                  address.contact-info.text-md-left
                    ul.list-unstyled.p
                      li.reveal-block
                        span.icon.icon-xxs.mdi.mdi-phone.text-middle
                        = " "
                        a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                      li.reveal-block
                        span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                        = " "
                        a.reveal-inline-block.text-middle(href="mailto:shirley@demolink.org") shirley@demolink.org

                .cell-sm-6.cell-md-3.offset-top-50.offset-md-top-0
                  img.img-responsive.reveal-inline-block(src="images/users/user-terry-sandoval-270x270.jpg" width=270 height=270 alt="")
                  .text-md-left.offset-top-20
                    div
                      h5.text-bold.text-primary
                        a(href="team-member.html") Terry Sandoval
                  address.contact-info.text-md-left
                    ul.list-unstyled.p
                      li
                        span.icon.icon-xxs.mdi.mdi-phone.text-middle
                        = " "
                        a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                      li
                        span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                        = " "
                        a.reveal-inline-block.text-middle(href="mailto:terry@demolink.org") terry@demolink.org
                .cell-sm-6.cell-md-3.offset-top-50
                  img.img-responsive.reveal-inline-block(src="images/users/user-randy-shneider-270x270.jpg" width=270 height=270 alt="")
                  .text-md-left.offset-top-20
                    div
                      h5.text-bold.text-primary
                        a(href="team-member.html") Randy Schneider
                  address.contact-info.text-md-left
                    ul.list-unstyled.p
                      li.reveal-block
                        span.icon.icon-xxs.mdi.mdi-phone.text-middle
                        = " "
                        a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                      li.reveal-block
                        span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                        = " "
                        a.reveal-inline-block.text-middle(href="mailto:randy@demolink.org") randy@demolink.org

                .cell-sm-6.cell-md-3.offset-top-50
                  img.img-responsive.reveal-inline-block(src="images/users/user-olivia-marshall-270x270.jpg" width=270 height=270 alt="")
                  .text-md-left.offset-top-20
                    div
                      h5.text-bold.text-primary
                        a(href="team-member.html") Olivia Marshall
                  address.contact-info.text-md-left
                    ul.list-unstyled.p
                      li.reveal-block
                        span.icon.icon-xxs.mdi.mdi-phone.text-middle
                        = " "
                        a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                      li.reveal-block
                        span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                        = " "
                        a.reveal-inline-block.text-middle(href="mailto:olivia@demolink.org") olivia@demolink.org

                .cell-sm-6.cell-md-3.offset-top-50
                  img.img-responsive.reveal-inline-block(src="images/users/user-samanta-nelson-270x270.jpg" width=270 height=270 alt="")
                  .text-md-left.offset-top-20
                    div
                      h5.text-bold.text-primary
                        a(href="team-member.html") Samantha Nelson
                  address.contact-info.text-md-left
                    ul.list-unstyled.p
                      li.reveal-block
                        span.icon.icon-xxs.mdi.mdi-phone.text-middle
                        = " "
                        a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                      li.reveal-block
                        span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                        = " "
                        a.reveal-inline-block.text-middle(href="mailto:samantha@demolink.org") samantha@demolink.org

                .cell-sm-6.cell-md-3.offset-top-50
                  img.img-responsive.reveal-inline-block(src="images/users/user-maria-george-270x270.jpg" width=270 height=270 alt="")
                  .text-md-left.offset-top-20
                    div
                      h5.text-bold.text-primary
                        a(href="team-member.html") Maria George
                  address.contact-info.text-md-left
                    ul.list-unstyled.p
                      li
                        span.icon.icon-xxs.mdi.mdi-phone.text-middle
                        = " "
                        a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                      li
                        span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                        = " "
                        a.reveal-inline-block.text-middle(href="mailto:maria@demolink.org") maria@demolink.org

            div
              .range.section-34
                .cell-sm-6.cell-md-4
                  blockquote.quote.quote-slider-4.unit.unit-spacing-sm.unit-sm-horizontal
                    .unit-left
                      img.quote-img.img-circle(width=80, height=80, src="images/users/user-lisa-evans-80x80.jpg", alt="")
                    .unit-body.text-left
                      div
                        p
                          q Thank you for your prompt response and the help that you gave me. You always have a quick solution to any problem. What an excellent level of customer service
                      p.text-bold.quote-author.offset-top-10.offset-sm-top-4
                        cite.text-normal Lisa Evans
                .cell-sm-6.cell-md-4.offset-top-50.offset-sm-top-0
                  blockquote.quote.quote-slider-4.unit.unit-spacing-sm.unit-sm-horizontal
                    .unit-left
                      img.quote-img.img-circle(width=80, height=80, src="images/users/user-nicholas-lane-80x80.jpg", alt="")
                    .unit-body.text-left
                      div
                        p
                          q I just want to thank you for your help. I was so pleased and grateful. Keep up the excellent work. Your site provides the best support I have ever encountered.
                      p.text-bold.quote-author.offset-top-10.offset-sm-top-4
                        cite.text-normal Nicholas Lane
                .cell-sm-6.cell-md-4.offset-top-50.offset-md-top-0
                  blockquote.quote.quote-slider-4.unit.unit-spacing-sm.unit-sm-horizontal
                    .unit-left
                      img.quote-img.img-circle(width=80, height=80, src="images/users/user-ethan-dean-80x80.jpg", alt="")
                    .unit-body.text-left
                      div
                        p
                          q Thank you very much for your rapid response. It's no doubt that your company is worth admiring! I have experienced the fastest support ever. ort ever. Thank you a thousand
                      p.text-bold.quote-author.offset-top-10.offset-sm-top-4
                        cite.text-normal Ethan Dean
                .cell-sm-6.cell-md-4.offset-top-50
                  blockquote.quote.quote-slider-4.unit.unit-spacing-sm.unit-sm-horizontal
                    .unit-left
                      img.quote-img.img-circle(width=80, height=80, src="images/users/user-pamela-hansen-80x80.jpg", alt="")
                    .unit-body.text-left
                      div
                        p
                          q I would just like to say thank you for your prompt and effective service, for your friendly and professional support staff! I will recommend your expert company to all my friends.
                      p.text-bold.quote-author.offset-top-10.offset-sm-top-4
                        cite.text-normal Pamela Hansen
                .cell-sm-6.cell-md-4.offset-top-50
                  blockquote.quote.quote-slider-4.unit.unit-spacing-sm.unit-sm-horizontal
                    .unit-left
                      img.quote-img.img-circle(width=80, height=80, src="images/users/user-donald-webb-80x80.jpg", alt="")
                    .unit-body.text-left
                      div
                        p
                          q Wow, I'm so happy with your service. You managed to exceed my expectations! You guys are very efficient and I will refer more people to your company!
                      p.text-bold.quote-author.offset-top-10.offset-sm-top-4
                        cite.text-normal Donald Webb
                .cell-sm-6.cell-md-4.offset-top-50
                  blockquote.quote.quote-slider-4.unit.unit-spacing-sm.unit-sm-horizontal
                    .unit-left
                      img.quote-img.img-circle(width=80, height=80, src="images/users/user-donna-keller-80x80.jpg", alt="")
                    .unit-body.text-left
                      div
                        p
                          q I just don't know how to describe your services... They are extraordinary! I am quite happy with them! Just keep up going this way!
                      p.text-bold.quote-author.offset-top-10.offset-sm-top-4
                        cite.text-normal Donna Keller

  // Page Footer
  include ../sections/_section-footer-default
