extends  ../_skeleton

//- Includes
include  ../elements/_ui-tabs-horizontal-dashed
include  ../elements/_ui-thumbnail-terry
include  ../elements/_ui-rd-parallax
include  ../elements/_ui-box-icon-type-4
include  ../elements/_ui-testimonials-slider-4

//-Title
block title
  title= cfg.nav.services.title

//- Page
block page

  // Page Head
  header.page-head

    //- RD Navbar
    +rd-navbar-top-panel(
    'rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.services,
    cfg.nav
    )

    //- Section header
    section.rd-parallax.context-dark
      div.rd-parallax-layer(data-speed="0.2" data-type="media" data-url="images/bg-header-1920x362.jpg")
      div.rd-parallax-layer(data-speed="0" data-type="html")
        .shell.section-top-34.section-sm-top-98.section-bottom-34
          div
            h1.text-bold Services
          ul.list-inline.list-inline-dashed.p.text-light.breadcrumb-modern.offset-top-10.offset-sm-top-66
            li.active
              a(href="./") Home
            li  Services

  // Page Content
  main.page-content

    //Section Welcome
    section.section-98.section-md-110.section-md-top-66
      .shell
        h2.text-bold Welcome
        hr.divider.bg-saffron
        .range
          .cell-md-5
            img.img-responsive.reveal-inline-block(src="images/services-img-01-470x310.jpg" width=470 height=310 alt="")
          .cell-md-7.offset-top-30.offset-md-top-0.text-md-left
            .inset-md-left-40
              p Intense is a national online resource for individuals looking for an apartment whether it is down the street or across the country. To simplify the process of finding a new place to live, Intense offers renters one of the most comprehensive databases of millions of apartments around the country. By incorporating the most relevant products to reach renters, including personalized searches, walk-through video demonstrations, community reviews, a responsive website and apps for both iPhone and Android phones, Intense delivers a multimedia experience renters want while creating easy access to listings from any computer or mobile device.
              p In addition to serving renters nationwide, Intense is a leading advertising destination for professional property owners and management companies, private landlords and classified listings. We are a subsidiary of Washington, DC-based CopSpor Group, Inc. and also own the rental website Apartment Home Living.

    //Section Our Services
    section.context-dark
      +rd-parallax({
        "backgroundSpeed": "0.35",
        "attrType": "media",
        "src": "images/bg-03-1920x1022.jpg",
        "htmlSpeed": "0"
      })
        .shell.section-98.section-sm-110
          h2.text-bold Our Services
          hr.divider.bg-saffron
          .range.range-xs-center.offset-top-66
            .cell-sm-4
              +box-icon-type-4("mdi mdi-crosshairs-gps icon-carrot-filled", "Find an Agent", "Our real estate agents are professional in everything they do. Just call our office or contact the agent you like via email or his/her social profile. ")
            .cell-sm-4.offset-top-66.offset-sm-top-0
              +box-icon-type-4("mdi mdi-lock icon-carrot-filled", "Property Insurance", "You can insure your property at our company immediately after buying or renting. Take care of the safety of your home and family.")     .cell-sm-4.offset-top-66.offset-sm-top-0
            .cell-sm-4.offset-top-66.offset-sm-top-0
              +box-icon-type-4("mdi mdi-home icon-carrot-filled", "Property management", "We deal with different kinds of properties. No matter what you need - a house, an apartment or garage – you’ll find a good option on our site. ")
            .cell-sm-4.offset-top-66
              +box-icon-type-4("mdi mdi-city icon-carrot-filled", "Homes for sale and rent", "Don’t have enough money at the moment to buy a house? We have good offers both for rent and purchase. So, every client will be satisfied with our services.")
            .cell-sm-4.offset-top-66
              +box-icon-type-4("mdi mdi-car icon-carrot-filled", "Parking", "Our parking facilities are located within a minute walk from the properties we provide, and they all are equipped with 24/7 security.")
            .cell-sm-4.offset-top-66
              +box-icon-type-4("mdi mdi-map-marker icon-carrot-filled", "Comfortable locations", "Our properties, apartments, and houses are situated in comfortable locations that allow our clients to easily select the proper house.")

    //Section Testimonials
    section.section-98.section-md-110.bg-lighter
      .shell
        h2.text-bold Testimonials
        hr.divider.bg-saffron
        .offset-top-66
          +testimonials-slider-4([{
            "image": {
              "width": 80,
              "height": 80,
              "src": "images/users/user-lisa-evans-80x80.jpg",
              "alt": "Lisa Evans"
            },
            "title": "Lisa Evans",
            "q": "Thank you for your prompt response and the help that you gave me. You always have a quick solution to any problem. What an excellent level of customer service!"
          },
            {
              "image": {
                "width": 80,
                "height": 80,
                "src": "images/users/user-nicholas-lane-80x80.jpg",
                "alt": "Nicholas Lane"
              },
              "title": "Nicholas Lane",
              "q": "I just want to thank you for your help. I was so pleased and grateful. Keep up the excellent work. Your site provides the best support I have ever encountered."
            },
            {
              "image": {
                "width": 80,
                "height": 80,
                "src": "images/users/user-ethan-dean-80x80.jpg",
                "alt": "Ethan Dean"
              },
              "title": "Ethan Dean",
              "q": "Thank you very much for your rapid response. It's no doubt that your company is worth admiring! I have experienced the fastest support ever. Thank you a thousand times."
            },
            {
              "image": {
                "width": 80,
                "height": 80,
                "src": "images/users/user-lisa-evans-80x80.jpg",
                "alt": "Lisa Evans"
              },
              "title": "Lisa Evans",
              "q": "Thank you for your prompt response and the help that you gave me. You always have a quick solution to any problem. What an excellent level of customer service!"
            },
            {
              "image": {
                "width": 80,
                "height": 80,
                "src": "images/users/user-nicholas-lane-80x80.jpg",
                "alt": "Nicholas Lane"
              },
              "title": "Nicholas Lane",
              "q": "I just want to thank you for your help. I was so pleased and grateful. Keep up the excellent work. Your site provides the best support I have ever encountered."
            },
            {
              "image": {
                "width": 80,
                "height": 80,
                "src": "images/users/user-ethan-dean-80x80.jpg",
                "alt": "Ethan Dean"
              },
              "title": "Ethan Dean",
              "q": "Thank you very much for your rapid response. It's no doubt that your company is worth admiring! I have experienced the fastest support ever.Thank you a thousand "
            }])
  // Page Footers
  include ../sections/_section-footer-default
