-
  var cfg = {
    "type": "Personal Blog",
    "brand": {
      "name": "Intense Personal Blog",
      "slogan": "Blog",
      "logo": "<img width='189' height='24' src='images/logo-dark.png' alt=''/>",
      "logoInverse": "<img width='189' height='24' src='images/logo-light.png' alt=''/>"
    },
    "nav": {
      "home": {
        "title": "Home",
        "href": "index.html"
      },
      "aboutMe": {
        "title": "About Me",
        "href": "about-me.html"
      },
      "blogArchive": {
        "title": "Blog Archive",
        "href": "blog-archive.html",
        "submenu": {
          "singlePost": {
            "title": "Single Post",
            "href": "blog-archive-single.html"
            },
            "searchResults": {
              "title": "Search Results",
              "href": "search-results.html"
            },
          }
      },
      "contacts": {
        "title": "Contacts",
        "href": "contacts.html"
      }
    }
  }
