-
  var menu = [
    {
      title: 'Home',
      link: 'index.html',
      megamenu: [
        [
          {
            title: 'Home',
            link: 'index.html',
            list: [
              {
                title: 'Home variant 2',
                link: 'home-variant-2.html'
              },
              {
                title: 'Home variant 3',
                link: 'home-variant-3.html'
              }
            ]
          },
          {
            title: 'About',
            link: 'about.html',
            list: [
              {
                title: 'barbers',
                link: 'barbers.html'
              },
              {
                title: 'Testimonials',
                link: 'testimonials.html'
              },
              {
                title: 'FAQ',
                link: 'faq.html'
              }
            ]
          },
          {
            title: 'Contact Us',
            list: [
              {
                title: 'Contacts 1',
                link: 'contacts-1.html'
              },
              {
                title: 'Contacts 2',
                link: 'contacts-2.html'
              }
            ]
          },
          {
            title: 'Services',
            link: 'services.html'
          }
        ],
        [
          {
            title: 'Book',
            list: [
              {
                title: 'Step 1',
                link: 'step-1.html'
              },
              {
                title: 'Step 2',
                link: 'step-2.html'
              },
              {
                title: 'Step 3',
                link: 'step-3.html'
              },
              {
                title: 'Step 4',
                link: 'step-4.html'
              },
              {
                title: 'Finish',
                link: 'finish.html'
              }
            ]
          },
          {
            title: 'Blog',
            list: [
              {
                title: 'Blog',
                link: 'blog.html'
              },
              {
                title: 'Single post',
                link: 'single-post.html'
              }
            ]
          },
          {
            title: 'Shop',
            link: 'shop.html',
            list: [
              {
                title: 'Single product',
                link: 'single-product.html'
              },
              {
                title: 'Cart',
                link: 'cart.html'
              },
              {
                title: 'Checkout',
                link: 'checkout.html'
              }
            ]
          }
        ],
        [
          {
            title: 'Pages',
            list: [
              {
                title: '404 page',
                link: '404-page.html'
              },
              {
                title: '503 page',
                link: '503-page.html'
              },
              {
                title: 'Maintenance',
                link: 'maintenance.html'
              },
              {
                title: 'Coming soon',
                link: 'coming-soon.html'
              },
              {
                title: 'Privacy policy',
                link: 'privacy-policy.html'
              }
            ]
          },
          {
            title: 'Layouts',
            list: [
              {
                title: 'Header perspective',
                link: 'header-perspective.html'
              },
              {
                title: 'Header transparent',
                link: 'header-transparent.html'
              },
              {
                title: 'Header fullwidth',
                link: 'header-fullwidth.html'
              }
            ]
          }
        ],
        [
          {
            title: 'Layouts',
            list: [
              {
                title: 'Footer default',
                link: 'footer-default.html'
              },
              {
                title: 'Footer variant 2',
                link: 'footer-variant-2.html'
              },
              {
                title: 'Footer variant 3',
                link: 'footer-variant-3.html'
              }
            ]
          },
          {
            title: 'Additional',
            list: [
              {
                title: 'Buttons',
                link: 'buttons.html'
              },
              {
                title: 'Forms',
                link: 'forms.html'
              },
              {
                title: 'Grid',
                link: 'grid.html'
              },
              {
                title: 'Progress Bars',
                link: 'progress-bars.html'
              },
              {
                title: 'Tables',
                link: 'tables.html'
              },
              {
                title: 'Tabs and Accordions',
                link: 'tabs-and-accordions.html'
              },
              {
                title: 'Typography',
                link: 'typography.html'
              }
            ]
          }
        ]
      ]
    },
    {
      title: 'About',
      link: 'about.html',
      dropdown: [
        {
          title: 'barbers',
          link: 'barbers.html'
        },
        {
          title: 'Testimonials',
          link: 'testimonials.html'
        },
        {
          title: 'FAQ',
          link: 'faq.html'
        }
      ]
    },
    {
      title: 'Services',
      link: 'services.html'
    },
    {
      title: 'Blog',
      link: 'blog.html',
      dropdown: [
        {
          title: 'Single post',
          link: 'single-post.html'
        }
      ]
    },
    {
      title: 'Shop',
      link: 'shop.html',
      dropdown: [
        {
          title: 'Single product',
          link: 'single-product.html'
        },
        {
          title: 'Cart',
          link: 'cart.html'
        },
        {
          title: 'Checkout',
          link: 'checkout.html'
        }
      ]
    },
    {
      title: 'Contacts',
      link: '#',
      dropdown: [
        {
          title: 'Contacts 1',
          link: 'contacts-1.html'
        },
        {
          title: 'Contacts 2',
          link: 'contacts-2.html'
        }
      ]
    }
  ],
  appointLink = 'step-1.html'