include ../elements/_ui-rd-map

// RD Google Map
+rd-map({
  "zoom": "14",
  "dataX": "-73.9874068",
  "dataY": "40.643180",
  "dataStyles": [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":60}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","stylers":[{"visibility":"on"},{"lightness":30}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ef8c25"},{"lightness":40}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#b6c54c"},{"lightness":40},{"saturation":-40}]},{}]
},[{
  "dataX": "-73.9874068",
  "dataY": "40.643180",
  "markerDesc": "9870 St Vincent Place, Glasgow, DC 45 Fr 45"
}])