extends  ../_skeleton

//- Includes
include ../elements/_ui-rd-parallax
include ../elements/_ui-box-icon-type-2
include ../elements/_ui-isotope
include ../elements/_ui-progress-bar-circle

//-Title
block title
  title= cfg.nav.help.title

//- Page
block page

  // Page Head
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoInverse,
    cfg.nav.help,
    cfg.nav
    )

    // Breadcrumbs
    section
      +rd-parallax({
        "backgroundSpeed": "0.25",
        "attrType": "media",
        "src": "images/background-03-1920x447.jpg",
        "htmlSpeed": "0",
        "fade": "false"
      })

        .shell
          .range
            .range.range-xs-middle.range-xs-center.section-41.section-sm-50.section-md-66.context-dark
              .cell-xs-12
                div
                  h1.text-capitalize
                    span.big
                      | Investment Help
                .offset-top-10
                  ul.list-inline.list-inline-dashed.text-italic.p
                    li
                      a(href="index.html") Home
                    li
                      | Investment Help

  // Page Contents
  main.page-content
    // Wealth Management
    section.section-top-41.section-bottom-98.section-md-top-85.section-md-bottom-110
      .shell
        .offset-top-34
          +isotope([
            'Wealth Management',
            'Retirement & College Savings',
            'Business Owners',
            'Insurance & Annuities',
            'Cash & Credit',
            'Stocks, Bonds & Mutual Funds'
          ],{
            "group": "gallery",
            "layout": "fitRows",
            "title": ' ',
            "alignClass": "isotope-filters-vertical"
          }, "isotope-1")
            .row.text-lg-left
              .isotope-item(data-filter="Wealth Management")
                div
                  h1 Wealth Management
                div.offset-top-4
                  hr.divider.divider-lg.bg-mantis.reveal-inline-block
                .offset-top-20.offset-md-top-50
                  p You have goals for your future; probably more than one. They might be about the lifestyle you hope to lead in retirement. Or a child's education. There might be a charitable cause you hope to support more fully, or a hobby you've yearned to pursue. Or perhaps you're just not quite able to articulate your goal. But we bet you have one, nevertheless. Understanding what's really important to you is at the heart of how we'll begin to build the kind of relationship you expect. Step by step, in a way that is very personal, very open and very focused on your hopes and dreams and goals.
                  p Wealth management is very straightforward. From the affluent individual’s perspective, wealth management is simply the science of solving/enhancing his or her financial situation. From the financial advisor’s perspective, wealth management is the ability of an advisor or advisory team to deliver a full range of financial services and products to an affluent client in a consultative way.

                  .offset-top-34
                    img.img-responsive.reveal-inline-block(src="images/post-08-770x410.jpg", width="770", height="410", alt="")
                  .offset-top-34
                    p Theoretically, a wealth manager can provide every single financial product in existence.  In reality most wealth managers specialize in services and products they feel most comfortable with.
                  p A further defining quality of wealth management is that it is delivered in a consultative manner. By being consultative, wealth managers are truly client-centered. A good wealth manager meets a client without any presupposition about what financial products or services are appropriate for that affluent individual.
                  p While it is common for a wealthy individual to be sitting with a wealth manager to address a particular need (investment management, say), the consultative wealth manager’s overriding objective is to understand the person and find out what’s important and why. Then the wealth manager is able to bring in the appropriate experts and provide the appropriate financial products.

              .isotope-item(data-filter="Retirement & College Savings")
                h1 Retirement & College Savings
                div
                  hr.divider.divider-lg.bg-mantis.reveal-inline-block
                .offset-top-20.offset-md-top-50
                  p You’re cruising along at 35,000 feet when the cabin suddenly loses pressure. Yellow oxygen masks deploy from the ceiling, begging to be used. You start reaching for the lifeline but your child sitting next to you screams for help. What’s your next move?
                  p If you follow the preflight safety instructions, you put on your own mask before assisting others, no questions asked. After all, it’s difficult to help others if you don’t help yourself first. This seems straightforward when we’re flying through the sky, but a recent report from T. Rowe Price reveals that it becomes cloudy when we’re on the ground, handling money, as an alarming number of parents are putting their own retirements at risk in order to fund their children’s college expenses.
                  img.img-responsive.reveal-inline-block(src="images/post-14-770x410.jpg", width="770", height="410", alt="")
                  p Nine out of 10 parents believe their children will attend college, and since college typically arrives before retirement, the majority of parents feel like they should put money toward that first and save for retirement after. In fact, 49% of parents are willing to delay their own retirements to pay for their children’s education, while 74% feel guilty they won’t be able to provide more financial assistance. Overall, 63% are concerned about their children having enough financial resources to attend college, the most commonly cited concern besides health care costs.
                  p Naturally, parents want to take care of their children first, but past experiences may be hindering the financial decision-making process. The report finds that 63% of parents believe they took on too much student debt themselves, and 79% want their children to worry less about money while in college than they did. Just over half of the 2,000 American parents in the study say they would take on at least $25,000 in debt to fund their children’s education, with 9% saying “whatever it takes.” Yet 66% of parents are still paying down their own student loans.
                  p Finding a balance with your money is a crucial part of personal finance. Saving for retirement does not have to be mutually exclusive from saving for college.
              .isotope-item(data-filter="Business Owners")
                h1 Business Owners
                div
                  hr.divider.divider-lg.bg-mantis.reveal-inline-block
                .offset-top-20.offset-md-top-50
                  p Owning your own business is a dream for many. But managing your own business takes a lot more than hard work. You need a financial plan — one that addresses financial needs and products for every stage of your business life cycle and that takes into account your personal financial goals and dreams.
                  h5 Managing taxes
                  p As your goals and financial situation change, there may be new opportunities to reduce your taxable income. I`ll help you find them.
                  h5 Retirement plans and other employee benefits
                  p The right retirement plan can provide tax benefits and help you attract and keep high-quality employees. I`ll help you find it.
                  img.img-responsive.reveal-inline-block(src="images/post-15-770x410.jpg", width="770", height="410", alt="")
                  h5 Business valuation
                  p Your business is important to you, but do you know how much it's really worth?            I'll develop a clear picture of your business's value and integrate it with your personal financial situation - so you'll have the comprehensive view you need to plan for a successful future.
                  h5 Business succession planning
                  p How will you transfer your business when it's time to move on? I`ll help you plan for a smooth transition.
                  h5 Business protection
                  p Protecting your business means being prepared for unexpected situations. Together, we'll create a plan to help guard against financial losses resulting from employee departures, disabilities or other disruptions.
              .isotope-item(data-filter="Insurance & Annuities")
                h1 Insurance & Annuities
                div
                  hr.divider.divider-lg.bg-mantis.reveal-inline-block
                .offset-top-20.offset-md-top-50
                  p Annuities are financial tools that can be used for receiving potential guaranteed income in retirement. Various types of annuities let you choose which benefits matter most and how often you are paid. All are tax-friendly, meaning you don't pay taxes on them until you receive your annuity or income payments, which are usually when you're in retirement and could be taxed at a lower rate. Allstate offers a variety of solutions from leading financial service providers, so you have many options when deciding what type of annuity is right for you.
                  p How Annuities Work:
                  p Learning more about annuities can help you understand what options are available to you. A personal financial representative can answer questions you have about the following features:
                  p Lasting income: An annuity is a contract between you and an insurance company. They invest your money and provide a regular source of income that you can receive a paycheck for life, depending on the contract selections you make.
                  img.img-responsive.reveal-inline-block(src="images/post-16-770x410.jpg", width="770", height="410", alt="")
                  p Tax advantages: Your earnings are not taxed until withdrawn. This means that when you typically start receiving your annuity or income payments, they could be taxed at a lower rate, making annuities an attractive savings option for retirement.
                  p Variable payment periods: You can structure your annuity so that you can get a paycheck for life or for a set period of time. With some annuities, income can be extended to your spouse after you die.
              .isotope-item(data-filter="Cash & Credit")
                h1 Cash & Credit
                div
                  hr.divider.divider-lg.bg-mantis.reveal-inline-block
                .offset-top-20.offset-md-top-50
                  p In my investment advisory programs, you generally pay an asset-based fee, charged quarterly in advance, based on the total value of the assets in your account at the end of the previous quarter. Unless otherwise noted, the asset-based fee generally covers investment consulting and certain brokerage services provided by FinAdvision, as well as the external or internal investment management fees. However, the asset-based fee does not cover expenses paid within any exchange-traded funds or mutual funds you may own.
                p You may select from our comprehensive suite of managed account programs, which are designed for various levels of investment experience and sophistication, with asset minimums that start as low as $5,000. Depending upon the program, your investment advisory account may include stocks, bonds, money market funds, mutual funds, exchange-traded funds and cash. You can establish investment advisory relationships for your retirement or trust accounts in addition to your personal investment accounts. If you select one of our Non-Discretionary advisory programs, your Financial Advisor will provide investment advice, but you will retain decision-making authority over your account.
                img.img-responsive.reveal-inline-block(src="images/post-17-770x410.jpg", width="770", height="410", alt="")
                p Intense offers financial planning services through LifeView® Advisor and LifeView® Personal Wealth Advisor. Using these tools, your Financial Advisor can assist you with the evaluation of your financial goals and help you develop an investment strategy to meet goals such as planning for retirement, funding an education and insurance planning. Intense has the option to charge a minimum of $250 and up to a maximum of $5,000 per client.
                p We have hold one of the following professional designations: Certified Financial Planner (CFP), Chartered Financial Analyst (CFA), Chartered Personal Wealth Advisor (CPWA), Chartered Financial Consultant (ChFC), Certified Trust and Financial Advisor (CTFA) or Family Wealth Director (FWD), may charge up to a maximum of $10,000 if assets in a LifeView Plan are over $5MM.
              .isotope-item(data-filter="Stocks, Bonds & Mutual Funds")
                h1 Stocks, Bonds & Mutual Funds
                div
                  hr.divider.divider-lg.bg-mantis.reveal-inline-block
                .offset-top-20.offset-md-top-50
                  p Fresh off Wall Street's worst week in four years – one that saw the Dow Jones industrial average lose 10 percent of its value and the Standard & Poor's 500 index slip below the magical 2,000 barrier – I have two words of advice for gun-shy investors.
                  p Don't panic.
                  p "We're starting to get some calls, as should be expected," says Erik Jensen, president and founder of Jensen Wealth Advisors in Palm Desert, California, and a registered principal with LPL Financial. "We empathize with them; nobody likes seeing drops like last week. However, we recommend they keep a long-term perspective, understanding that corrections are the norm, not a calamity."
                  p Sure, last week may have felt like a calamity if you were watching your portfolio shrink by the hour. But there were tell-tale signs – after riding an extraordinary bullish market since 2009, Wall Street had been essentially trading sideways until this month. Then the market's softening became a full-blown meltdown Thursday and Friday.
                  img.img-responsive.reveal-inline-block(src="images/post-18-770x410.jpg", width="770", height="410", alt="")
                  p Wall Street's darling stocks – the tech sector – were among the hardest hit. Netflix (ticker: NFLX) lost nearly 16 percent; Apple (AAPL) and Facebook (FB) were both down nearly 9 percent and Microsoft Corp. (MSFT) fell 7.7 percent.
                  p "While investors should avoid panicking over short-term movements in the value of their long-term investments, the recent volatility ought to serve as a wake-up call to re-examine risk and stress-test your portfolio against the possibility of further declines," says Kurt Rossi, president of Independent Wealth Management in Wall, New Jersey. "Be especially careful if you were like many investors that were pushed into taking on higher risk investments due to the low-yield environment. Consider reviewing the compatibility of your portfolio and your financial planning goals, making changes to your investments if the two are out of alignment."

    //Visualise Your Goals
    section.section-98.section-sm-110.bg-white-lilac
      .shell
        .range.range-xs-center
          .cell-xs-10.cell-md-8
            h1 Visualize Your Goals & Make Your Dreams Come True!
        hr.divider.divider-lg.bg-mantis.offset-top-20
        .range.range-sm-center.offset-top-66
          .cell-sm-8.cell-md-12
            .range
              .cell-md-4
                +progress-bar-circle({
                  "value": "0.87",
                  "colorFill": "#5aba67, #78c157",
                  "colorEmpty": "rgb(232,232,232)",
                  "colorSize": "175"
                })
                .offset-top-14.offset-md-top-34
                  h5 College Things
                  p 87% of parents believe that their child will attend college
              .cell-md-4.offset-top-50.offset-md-top-0
                +progress-bar-circle({
                  "value": "0.80",
                  "colorFill": "#5aba67, #78c157",
                  "colorEmpty": "rgb(232,232,232)",
                  "colorSize": "175"
                })
                .offset-top-14.offset-md-top-34
                  h5 Life Insurance
                  p 80% of consumers think life insurance costs more than it does
              .cell-md-4.offset-top-50.offset-md-top-0
                +progress-bar-circle({
                  "value": "0.75",
                  "colorFill": "#5aba67, #78c157",
                  "colorEmpty": "rgb(232,232,232)",
                  "colorSize": "175"
                })
                .offset-top-14.offset-md-top-34
                  h5 Regular Customers
                  p 75% of customers come back again

    // At Intense I Put the Client First
    section.section-98.section-sm-110
      .shell
        h1 At Intense I Put #[br.veil-md] the Client First
        div
          hr.divider.divider-lg.bg-mantis
        .range.range-xs-center.offset-top-41.offset-md-top-66.text-md-left
          .cell-xs-10.cell-md-8
            p My mission is to make professional financial advice and investment services accessible to everyone.
            p I believe that by putting my clients first, explaining complex financial topics in easy to understand language, and helping those in need, I can achieve that goal.

            p Intense is one of the largest independent financial analysis companies in the nation, and I, John Doe, as a founder have been three times ranked the #1 Independent Financial Advisor in the nation by Barron's. With more than 28,000 clients, I am on my way to achieving my mission. Let’s find the way to your financial stability together!

        .offset-top-66
          a(href= cfg.nav.help.href).btn.btn-lg.btn-primary Discuss Your Case


  // Page Footer
  include ../sections/_section-footer-default