//
// Spacing
// --------------------------------------------------
@mixin spacing($x, $y : $x) {
  position: relative;
  @include transform(translateY(-$y));
  margin-bottom: -$y;
  margin-left: - round($x / 2);
  margin-right: - round($x / 2);

  > * {
    margin-top: $y;
    padding: 0 round($x / 2);
  }
}