//- Includes

include ../elements/_ui-post-default
include ../elements/_ui-quote-simple
include ../elements/_widget-post
include ../elements/_ui-box-comment

// Blog Default Single
section.inset-lg-left-30.inset-xl-left-0
  +post-default(
    "#",
    "15 Feb 2016 ",
    "The Truth About Money",
    "John Doe",
    'Financial help',
    '',
    '',
    {
      "type": "thumbnail",
      "thumb": {"src": "images/post-13-770x380.jpg", "width": 770, "height": 380, "alt": ""},
      "target": {
        "src": "images/post-13-1000x667_original.jpg",
        "width": 1000,
        "height": 667,
        "alt": ""
      }
    }
  )
      p Best of all, the book explains difficult financial concepts in plain English with a breezy style. It's fun and easy to read.
      p Since the book was last revised in 2004, the world of personal finance has changed dramatically. This all-new 4th revision is the most extensive one that John has ever undertaken, and includes fresh updates and brand new material including:
      .inset-md-left-30
        ul.list.list-marked
          li Planning Your Retirement Lifestyle: How you can enjoy a comfortable retirement and what you can do to get there;
          li Investment Choices: Learn how low-cost investments can help you create wealth while potentially saving you money. Target-Date Strategies: It's what you don't know that can hurt you;
          li Behavioral Finance and Neuroeconomics: Learn why you make bad financial decisions and how to break the cycle;
          li Picking your Investments: Find out the truth about Morningstar;
          li Are Your Parents Aging? See how to best provide help without harming yourself financially.
      p Whether you are saving for college or retirement, buying a home or selling one, concerned about long-term care for yourself or your parents, worried about an impending job loss, or facing any financial decision, knowing The Truth About Money will help you make great financial decisions.

  .offset-top-66.text-md-left
    +widget-tags("btn btn-xs btn-default", [
      {"title": "economics", "href": "#"},
      {"title": "business philosophy", "href": "#"},
    ])

  #comments
  hr.offset-top-66


  h5.offset-top-66.text-left Comments

  .offset-top-41
    //- Comment 1
    +box-comment(
    "box-comment-boxed",
    {
      "width": 60,
      "height": 60,
      "src": "images/user-july-mao-60x60.jpg",
      "alt": "July Mao"
    },
    "Feb 16, 7:42 PM",
    "July Mao",
    "Very smart people working on the project — they provided great insight and brought experience to it. Sales person was very prompt. "
    )
      //- Reply 1
      +box-comment(
      "box-comment-boxed",
      {
        "width": 60,
        "height": 60,
        "src": "images/user-john-doe-60x60.jpg",
        "alt": "John Doe"
      },
      "Feb 16, 7:46 PM",
      "John Doe",
      "The service is excellent and the personnel I worked with are great. Very responsive team and easy company to work with. I enjoy our partnership."
      )
    //- Comment 2
    +box-comment(
    "box-comment-boxed",
    {
      "width": 60,
      "height": 60,
      "src": "images/user-alisa-milano-60x60.jpg",
      "alt": "Alisa Milano"
    },
    "Feb 16, 7:42 PM",
    "Diana Russo",
    "An efficient and reliable resource. They always remain flexible, cost effective, and lightning fast. Keep up the good work!"
    )

  h4.offset-top-50.text-left Leave a comment

  form.rd-mailform.offset-top-10.text-left(data-form-output="form-contact-me", data-form-type='contact', method='post', action='bat/rd-mailform.php')
    .form-group
      label.form-label(for="comment-message") Message:
      textarea#comment-message.form-control(data-constraints="@Required" style="height: 170px")
    .group-sm.text-center.text-md-left.offset-top-30
      button(type="submit").btn.btn-sm.btn-primary comment