extends  ../_skeleton

include ../elements/_ui-media-elements
include ../elements/_ui-rd-parallax
include ../elements/_ui-isotope
include ../elements/_ui-box-pricing-type-1
include ../elements/_ui-thumbnail-classic
include ../elements/_ui-post-event

//-Title
block title
  title= cfg.brand.name

//- Page
block page

  // Page Head
  header.page-head.slider-menu-position
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-transparent',
    {
      "data-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.home,
    cfg.nav
    )

  // Page Contents
  main.page-content
    //Section Intro
    section.context-dark
      .rd-parallax(data-on="false" data-md-on="true")
        .rd-parallax-layer(data-speed="0.45", data-type="media", data-url="images/intro-01-1920x955.jpg")
        .rd-parallax-layer(data-speed="0.3", data-type='html' data-fade="true")
          .shell
            .section-110.section-cover.range.range-xs-center.range-xs-middle
              .cell-md-8
                img(src='images/intro-logo-175x173.png' alt="" width=175 height=173)

                h1.font-accent
                  span.big Intense Restaurant

                .group
                  .group-item.reveal-block
                    span.icon.icon-xxs.mdi.mdi-navigation.text-middle
                    = " "
                    span.text-middle 4578 Marmora Road, Glasgow D04 89GR
                  .group-item
                    span.icon.icon-xxs.mdi.mdi-clock.text-middle
                    = " "
                    span.text-middle 10:00 am - 11:00 pm
                  .group-item
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle
                    = " "
                    span.text-middle 800 23456789

                p.offset-top-24.big.veil.reveal-sm-block We introduce new cultures to visitors through cuisines of various countries, offering a special dish for everyone regardless of their food preferences.

                .group.offset-top-50
                  a(href="#" data-custom-scroll-to="reserve-now").btn.btn-lg.btn-primary Make a reservation

    // Section Welcome
    section.section-98.section-md-110
      .shell
        .range.text-lg-left
          .cell-sm-preffix-2.cell-sm-8.cell-lg-preffix-0.cell-lg-6.cell-lg-push-6
            .shadow-drop-xl
              +media-elements({
                "type": "video",
                "href": "https://www.youtube.com/embed/MG6jHxAfwQk",
                "ratio": "16by9"
              })

          .cell-sm-preffix-2.cell-sm-8.cell-lg-preffix-0.cell-lg-6.cell-lg-pull-6.offset-top-30.offset-lg-top-0
            .inset-lg-right-20
              h1
                span.reveal-block.font-accent.big Welcome
                span.reveal-block.offset-top-4.h3.text-light.text-uppercase To Our Restaurant
              hr.divider.hr-lg-left-0.bg-mantis.offset-top-30
              p Would you like to savor the exquisite cuisine and bring the art of dining to a new level? We obtain the freshest products from reputable purveyors and incorporate them into our exclusive dishes. Our menus are influenced by culinary traditions of Europe, Far East and other parts of the world. We are open to experiments and often add new dishes to our a la carte menu. Our courteous and attentive waiters in smoking jackets will bring you anything you wish.

    //Section Our Menu
    section
      .context-dark
        +rd-parallax({
          "backgroundSpeed": "0.35",
          "attrType": "media",
          "src": "images/image-01-1920x963.jpg",
          "htmlSpeed": "0"
        })
          .shell.section-66.section-sm-110
            div
              h1.font-accent
                span.big Our Menu

            ul.list-inline.list-inline-mg.list-inline-squared.h3.text-uppercase.text-light.offset-top-4.veil.reveal-xs-block
              li Breakfasts
              li Lunches
              li Dinners

      .shell-wide.section-66
        +isotope(['All', 'Breakfasts', 'Lunches', 'Dinners', 'Desserts', 'Drinks'],{
          "group": "menu",
          "layout": "fitRows",
          "alignClass": "isotope-filters-horizontal"
        }, "isotope-1")
          .row
            .col-xs-12.col-md-4.isotope-item(data-filter='Breakfasts')
              .inset-md-right-20
                +box-pricing-type-1([{
                  "title": "Old Timer's Breakfast",
                  "price": "$22.00",
                  "desc": "Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter "
                },
                  {
                    "title": "Fresh Start Sampler",
                    "price": "$37.00",
                    "desc": "Start your day with a mix of low fat vanilla yogurt, fresh seasonal fruit topped with our honey mix"
                  },
                  {
                    "title": "Double Meat Breakfast",
                    "price": "$42.00",
                    "desc": "Three eggs cooked to order with a full order of bacon and sausage patties"
                  },
                  {
                    "title": "Crab & avocado bruschetta",
                    "price": "$19.00",
                    "desc": "Fresh white&brown crab, crunchy fennel, smashed avocado, yoghurt & chilli"
                  }])

            .col-xs-12.col-md-4.isotope-item(data-filter='Lunches')
              .inset-md-right-20
                +box-pricing-type-1([{
                  "title": "Turkey milanese",
                  "price": "$22.00",
                  "desc": "Stuffed with prosciutto & provolone, breadcrumbed & topped with a free-range egg & black summer truffle."
                },
                  {
                    "title": "Fritto misto",
                    "price": "$37.00",
                    "desc": "Mixed seasonal flash-fried sustainable fish & shellfish served with chunky Italian tartare sauce & lemon."
                  },
                  {
                    "title": "Italian steak frites",
                    "price": "$42.00",
                    "desc": "Flash-grilled prime beef steak, served with Italian-spiced skinny fries & crunchy vegetable slaw."
                  },
                  {
                    "title": "Baked Crespelle",
                    "price": "$19.00",
                    "desc": "Spinach, Westcombe ricotta & basil baked in gluten-free buckwheat pancakes with smoked mozzarella, sweet buttery leeks, Sicilian tomato sauce & Parmesan."
                  }])

            .col-xs-12.col-md-4.isotope-item(data-filter='Dinners')
              .inset-md-right-20
                +box-pricing-type-1([{
                  "title": "Our famous prawn linguine",
                  "price": "$22.00",
                  "desc": "Fried garlicky prawns, fennel, tomatoes, chilli, saffron, fish broth & lemony rocket."
                },
                  {
                    "title": "Gnocchi genovese",
                    "price": "$37.00",
                    "desc": "Potato gnocchi with green beans, crushed purple potatoes, basil pesto, toasted pine nuts, bella lodi & ricotta."
                  },
                  {
                    "title": "Penne carbonara",
                    "price": "$42.00",
                    "desc": "Crispy chunks of smoked pancetta, sweet buttery leeks, lemon & a traditional carbonara sauce."
                  },
                  {
                    "title": "Three-cheese caramelle",
                    "price": "$19.00",
                    "desc": "Beautiful filled pasta with ricotta, provolone, bella lodi & spinach, served with creamy tomato, garlic, basil & rosé wine sauce."
                  }])

            .col-xs-12.col-md-4.isotope-item(data-filter='Desserts')
              .inset-md-right-20
                +box-pricing-type-1([{
                  "title": "Tiramisù",
                  "price": "$22.00",
                  "desc": "The classic Italian dessert topped with chocolate shavings & orange zest."
                },
                  {
                    "title": "Rasbery & honeycomb pavlova",
                    "price": "$37.00",
                    "desc": "Rippled, gooey meringue, zesty cream, macerated raspberries, smashed honeycomb & fresh mint."
                  },
                  {
                    "title": "Molten chocolate praline pudding",
                    "price": "$42.00",
                    "desc": "Warm chocolate cake with a liquid praline centre, served with salted caramel ice cream & praline. "
                  },
                  {
                    "title": "Orange blossom polenta cake",
                    "price": "$19.00",
                    "desc": "Polenta cake studded with candied fruit, served with whipped creme fraiche & pomegranate."
                  }])

            .col-xs-12.col-md-4.isotope-item(data-filter='Drinks')
              .inset-md-right-20
                +box-pricing-type-1([{
                  "title": "Raspberry mule",
                  "price": "$22.00",
                  "desc": "Vodka, raspberry purée & fresh lime juice topped with ginger beer"
                },
                  {
                    "title": "La dolce vita",
                    "price": "$37.00",
                    "desc": "Saliza amaretto, triple sec & sugar syrup shaken up with fresh lemon & cranberry juice"
                  },
                  {
                    "title": "Montepulciano d’abruzzo",
                    "price": "$42.00",
                    "desc": "Cherry & chocolate flavours are typical of this well-known grape"
                  },
                  {
                    "title": "Sauvignon blanc",
                    "price": "$19.00",
                    "desc": "Herby aromas & melon flavours"
                  }])

    //Section Gallery
    section
      .context-dark
        +rd-parallax({
          "backgroundSpeed": "0.35",
          "attrType": "media",
          "src": "images/image-02-1920x935.jpg",
          "htmlSpeed": "0"
        })
          .shell.section-98.section-sm-110
            div
              h1.font-accent
                span.big Our Gallery

            .h3.text-uppercase.text-light.offset-top-4 Checkout our space

      .shell-fluid.section-top-66.section-bottom-34
        +isotope(null,{
          "group": "gallery",
          "layout": "masonry",
          "alignClass": "isotope-filters-horizontal"
        }, "isotope-1")
          .row(data-photo-swipe-gallery)
            .col-xs-12.col-sm-6.col-md-4.col-lg-2.isotope-item
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/gallery-01-285x285.jpg", "width": 285, "height": 285, "alt": ""},
                "target": {"src": "images/gallery-01-285x285.jpg", "width": 285, "height": 285, "alt": ""}
              })

            .col-xs-12.col-sm-6.col-md-4.col-lg-2.isotope-item
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/gallery-02-285x285.jpg", "width": 285, "height": 285, "alt": ""},
                "target": {"src": "images/gallery-02-285x285.jpg", "width": 285, "height": 285, "alt": ""}
              })

            .col-xs-12.col-sm-6.col-md-4.col-lg-4.isotope-item
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/gallery-03-601x442.jpg", "width": 601, "height": 442, "alt": ""},
                "target": {"src": "images/gallery-03-601x442.jpg", "width": 601, "height": 442, "alt": ""}
              })

            .col-xs-12.col-sm-6.col-md-4.col-lg-4.isotope-item
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/gallery-04-600x600.jpg", "width": 600, "height": 600, "alt": ""},
                "target": {"src": "images/gallery-04-600x600.jpg", "width": 600, "height": 600, "alt": ""}
              })

            .col-xs-12.col-sm-6.col-md-4.col-lg-4.isotope-item
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/gallery-05-600x600.jpg", "width": 600, "height": 600, "alt": ""},
                "target": {"src": "images/gallery-05-600x600.jpg", "width": 600, "height": 600, "alt": ""}
              })

            .col-xs-12.col-sm-6.col-md-4.col-lg-2.isotope-item
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/gallery-06-285x443.jpg", "width": 285, "height": 443, "alt": ""},
                "target": {"src": "images/gallery-06-285x443.jpg", "width": 285, "height": 443, "alt": ""}
              })

            .col-xs-12.col-sm-6.col-md-4.col-lg-2.isotope-item
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/gallery-07-285x443.jpg", "width": 285, "height": 443, "alt": ""},
                "target": {"src": "images/gallery-07-285x443.jpg", "width": 285, "height": 443, "alt": ""}
              })

            .col-xs-12.col-sm-6.col-md-4.col-lg-2.isotope-item
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/gallery-08-285x285.jpg", "width": 285, "height": 285, "alt": ""},
                "target": {"src": "images/gallery-08-285x285.jpg", "width": 285, "height": 285, "alt": ""}
              })

            .col-xs-12.col-sm-6.col-md-4.col-lg-2.isotope-item
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/gallery-09-285x285.jpg", "width": 285, "height": 285, "alt": ""},
                "target": {"src": "images/gallery-09-285x285.jpg", "width": 285, "height": 285, "alt": ""}
              })

    // Section Gallery
    section.bg-gray-darkest
      .context-dark
        +rd-parallax({
          "backgroundSpeed": "0.35",
          "attrType": "media",
          "src": "images/image-03-1920x1018.jpg",
          "htmlSpeed": "0"
        })
          .shell.section-98.section-110
            h1
              span.reveal-block.font-accent.big Upcoming Events
              span.reveal-block.offset-top-4.h3.text-light.text-uppercase Join us for something special
            hr.divider.bg-mantis.offset-top-30

            .range.offset-top-66
              .cell-md-8.cell-lg-6
                .inset-lg-right-20
                  +post-event(cfg.nav.events.submenu.singleEvent.href, "March 8 2016", "8:00 AM", "Event Image Post example",
                  {
                    "type": "thumbnail",
                    "thumb": {"src": "images/post-01-553x320.jpg", "width": 553, "height": 320, "alt": ""},
                    "target": {"href": cfg.nav.events.submenu.singleEvent.href}
                  })
                    p Celebrate this year's Lovers Day by visiting our cozy, romantic Restaurant! Each year we are introducing some themed party for this occasion... This time the Valentine's Day will be set amid Parisian decor.

                    .group.offset-top-30
                      a(href=cfg.nav.events.submenu.singleEvent.href).btn.btn-sm.btn-primary read More

              .cell-md-8.cell-lg-6.offset-top-41.offset-lg-top-0
                .inset-lg-left-20
                  +post-event(cfg.nav.events.submenu.singleEvent.href, "March 12 2016", "8:00 AM", "Orange, Meaty and Tasty! ")

                  hr.hr.bg-gray-darker

                  +post-event(cfg.nav.events.submenu.singleEvent.href, "March 14 2016", "17:00 AM", "New Restaurant Opens in New York")

                  hr.hr.bg-gray-darker

                  +post-event(cfg.nav.events.submenu.singleEvent.href, "March 18 2016", "18:00 AM", "Perfect Mother's Day Gift")

                  .group.text-right.offset-top-30
                    a(href=cfg.nav.events.href).btn.btn-sm.btn-default see all events

    // Section Reserve Now
    section.bg-gray-darkest.context-dark.section-98.section-110(id="reserve-now")
      .shell
        h1
          span.reveal-block.font-accent.big Reserve Now
          span.reveal-block.offset-top-4.h3.text-light.text-uppercase EVERY GUEST IS SPECIAL HERE
        hr.divider.bg-mantis.offset-top-30

        // RD Mailform
        form.rd-mailform.text-left(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
          .range
            .cell-lg-3
              .form-group.has-feedback
                label.form-label.form-label-sm.form-label-outside(for="form-reserve-name") Name:
                input#form-reserve-name.form-control.input-sm(type="text" data-constraints="@Required" name="name")
                span.form-control-feedback.mdi.mdi-account( aria-hidden="true")

            .cell-lg-3
              .form-group.has-feedback
                label.form-label.form-label-sm.form-label-outside(for="form-reserve-email") E-Mail:
                input#form-reserve-email.form-control.input-sm(type="email" data-constraints="@Required" name="email")
                span.form-control-feedback.mdi.mdi-telegram( aria-hidden="true")

            .cell-lg-2
              .form-group.has-feedback
                label.form-label.form-label-sm.form-label-outside(for="form-reserve-date") Date:
                input#form-reserve-date.form-control.input-sm(type="text" data-constraints="@Required" name="date")
                span.form-control-feedback.mdi.mdi-calendar( aria-hidden="true")

            .cell-lg-2
              .form-group.has-feedback
                label.form-label.form-label-sm.form-label-outside(for="form-reserve-time") Time:
                input#form-reserve-time.form-control.input-sm(type="time" data-constraints="@Required" name="time")
                span.form-control-feedback.mdi.mdi-clock( aria-hidden="true")

            .cell-lg-2
              .form-group
                label.form-label.form-label-sm.form-label-outside(for="form-reserve-persons") Persons:
                select.form-control.input-sm(id="form-reserve-persons" name="persons" data-minimum-results-for-search="Infinity")
                  option(value="1") 1
                  option(value="2") 2
                  option(value="3") 3
                  option(value="4") 4


          .group.offset-top-20.text-center.offset-top-50
            button(type="submit" style="padding-left: 30px; padding-right: 30px;").btn.btn-primary Make a reservation

  // Page Footer
  include ../sections/_section-footer-variant-2