extends  ../_skeleton

block title
  title Coming Soon

block page
  // Page Header
  header.page-header.slider-menu-position
    +rd-navbar-default({
      "style": "",
      "logo": cfg.brand.logo,
      "logoFixed": cfg.brand.logoSmall,
      "activeLink": 8,
      "attr": {
        "data-layout": "rd-navbar-fixed",
        "data-sm-layout": "rd-navbar-fixed",
        "data-md-layout": "rd-navbar-fullwidth",
        "data-lg-layout": "rd-navbar-static"
      }
    })

    +breadcrumb("Coming Soon", {
      0: {
        "type": "link",
        "title": cfg.nav.home.title,
        "href": cfg.nav.home.href
      },
      1: {
        "type": "link",
        "title": cfg.nav.pages.title,
        "href": cfg.nav.pages.href
      },
      2: {
        "type": "link",
        "title": "Coming Soon",
        "href": "coming-soon.html"
      }
    }, "images/backgrounds/background-02-1920x900.jpg")

  // Page Content
  main.page-content.section-75.section-md-top-75.section-md-bottom-55

    // Coming Soon
    section
      .shell
        .range.range-xs-center.offset-top-10
          .cell-md-10.cell-lg-9
            // TimeCircles
            .DateCountdown(data-date='2017-12-01 02:00:00')

            .offset-top-55
              // RD Mailform
              form.rd-mailform.rd-mailform-inline(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
                .group
                  .form-group.text-middle
                    label.form-label(for="coming-soon-email") Enter your mail
                    input#coming-soon-email.form-control(type="email" name="email" data-constraints="@Email @Required")
                  .reveal-block.reveal-xs-inline-block.offset-top-0
                    button(type="submit").btn.btn-primary NOTIFY ME


            .offset-top-20
              !{cfg.brand.svgDivider}

  // Page Footer
  include ../sections/_footer-default