extends  ../_skeleton

//- Includes
include ../elements/_ui-rd-parallax

block title
	title Home

block page
	// Page Header
	header.page-header
		// RD Navbar
		.rd-navbar-wrap
			nav.rd-navbar.rd-navbar-panel(data-md-device-layout='rd-navbar-fixed', data-lg-device-layout='rd-navbar-static', data-md-stick-up-offset='120px', data-lg-stick-up-offset='120px', data-layout='rd-navbar-fixed', data-sm-layout='rd-navbar-fixed', data-md-layout='rd-navbar-fullwidth', data-lg-layout='rd-navbar-fullwidth')
				.rd-navbar-inner
					// RD Navbar Panel
					.rd-navbar-panel
						// RD Navbar Toggle
						button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav-wrap')
							span
						// RD Navbar Brand
						.rd-navbar-brand.veil.reveal-md-block.veil-tablet-md
							a.brand-name(href='index.html')
								img(width='146', height='70', src='images/logo-146x70.png', alt='')
						.rd-navbar-brand.veil-md.reveal-tablet-md-inline-block
							a.brand-name(href='index.html')
								img(style='margin-top: -7px;', width='182', height='34', src='images/logo-lg-dark-182x34.png', alt='')
						// RD Navbar Toggle
						button.rd-navbar-collapse(data-rd-navbar-toggle='.rd-navbar-collapse-wrap')
							span
					.rd-navbar-right-side
						.pull-md-left.veil.reveal-lg-inline-block
							a(href='callto:#')
								span.icon.icon-xxs.mdi.mdi-phone.text-white.text-middle
								span.text-bold.text-spacing-25.text-white.text-extra-small 1  (800)  123  1234
						.rd-navbar-nav-wrap.reveal-md-inline-block
							ul.rd-navbar-nav
								// RD Navbar Nav
								li.active
									a(href='index.html') home
								li
									a(href='about.html') About
									ul.rd-navbar-dropdown
										li
											a(href='faq.html') FAQ
										li
											a(href='history.html') History
										li
											a(href='team.html') Team
										li
											a(href='single-member.html') Team Member
										li
											a(href='testimonials.html') Testimonials
								li
									a(href='rates.html') Rates
								li
									a(href='reservations.html') Reservations
								li
									a(href='fleet.html') Fleet
								li
									a(href='blog-classic-left-sidebar.html') News
									ul.rd-navbar-dropdown
										li
											a(href='blog-classic-left-sidebar.html') classic blog
											ul.rd-navbar-dropdown
												li
													a(href='blog-classic-left-sidebar.html') left sidebar
												li
													a(href='blog-classic-right-sidebar.html') right sidebar
												li
													a(href='blog-classic-both-sidebar.html') both sidebars
										li
											a(href='blog-grid-3-columns.html') grid blog
											ul.rd-navbar-dropdown
												li
													a(href='blog-grid-1-column.html') 1 column
												li
													a(href='blog-grid-2-columns.html') 2 columns
												li
													a(href='blog-grid-3-columns.html') 3 columns
										li
											a(href='blog-masonry-3-columns.html') masonry blog
											ul.rd-navbar-dropdown
												li
													a(href='blog-masonry-1-column.html') 1 column
												li
													a(href='blog-masonry-2-columns.html') 2 columns
												li
													a(href='blog-masonry-3-columns.html') 3 columns
										li
											a(href='blog-modern-left-side.html') modern blog
											ul.rd-navbar-dropdown
												li
													a(href='blog-modern-left-side.html') left side
												li
													a(href='blog-modern-right-side.html') right side
												li
													a(href='blog-modern-left-sidebar.html') left sidebar
										li
											a(href='blog-single-post.html') Single Post
								li
									a(href='contacts.html') Contacts
								li
									a(href='#') Pages
									.rd-navbar-megamenu
										.row
											.col-md-4
												p.text-extra-small.text-uppercase.text-bold.font-accent.text-white.veil.reveal-md-block.veil-tablet-md elements
												ul
													li
														a(href='typography.html') Typography
													li
														a(href='tabs-accordions.html') Tabs & Accordions
													li
														a(href='progress-bars.html') Progress bars
													li
														a(href='forms.html') Forms
													li
														a(href='buttons.html') Buttons
													li
														a(href='grid.html') Grid
											.col-md-4
												p.text-extra-small.text-uppercase.text-bold.font-accent.text-white.veil.reveal-md-block.veil-tablet-md pages 1
												ul
													li
														a(href='services.html') Services
													li
														a(href='careers.html') Careers
													li
														a(href='report.html') Lost and Found
													li
														a(href='rates.html') Rates
													li
														a(href='reservations.html') Reservations
													li
														a(href='fleet.html') Fleet
													li
														a(href='maintenance.html') Maintenance (Under Construction)
											.col-md-4
												p.text-extra-small.text-uppercase.text-bold.font-accent.text-white.veil.reveal-md-block.veil-tablet-md pages 2
												ul
													li
														a(href='404.html') 404 page
													li
														a(href='503.html') 503 page
													li
														a(href='coming-soon.html') Coming Soon
													li
														a(href='login.html') Login Page
													li
														a(href='register.html') Register Page
													li
														a(href='search-results.html') Search Results
													li
														a(href='site-map.html') Site Map
													li
														a(href='privacy.html') Privacy Policy
						.pull-md-right
							.rd-navbar-collapse-wrap.reveal-md-inline-block
								.veil-lg
									a(href='callto:#')
										span.icon.icon-xxs.mdi.mdi-phone.text-primary.text-middle
										span.text-bold.text-spacing-25.text-primary.text-extra-small 1  (800)  123  1234
								.offset-top-4.offset-lg-top-0
									ul.list-inline.list-inline-0.list-primary
										li.text-center
											a.icon.icon-xxs.fa.fa-facebook.text-white(href='#')
										li.text-center
											a.icon.icon-xxs.fa.fa-google-plus.text-white(href='#')
										li.text-center
											a.icon.icon-xxs.fa.fa-linkedin.text-white(href='#')
										li.text-center
											a.icon.icon-xxs.fa.fa-twitter.text-white(href='#')

		// Swiper Gallery
		.swiper-container.gallery-top
			.swiper-wrapper
				.swiper-slide(style='background-image:url(images/backgrounds/background-13-1920x900.jpg)')
					.shell
						.range.range-xs-center
							.cell-sm-10
								.text-extra-big.font-accent.text-bold.text-spacing-inverse-50.text-white City-Taxi
								h5.offset-top-10.text-white.text-spacing-0.text-transform-none We are always there at your service. Fast and reliable way to find
									| quality taxi service anywhere you need it.
								.btn-both-lines.offset-top-30.center-block(style="max-width:510px;")
									a.btn.btn-primary(href="#" style="min-width:240px;") learn more

				.swiper-slide(style='background-image:url(images/backgrounds/background-14-1920x900.jpg)')
					.shell
						.range.range-xs-center
							.cell-sm-10
								.text-extra-big.font-accent.text-bold.text-spacing-inverse-50.text-white City-Taxi
								h5.offset-top-10.text-white.text-spacing-0.text-transform-none We are always there at your service. Fast and reliable way to find
									| quality taxi service anywhere you need it.
								.btn-both-lines.offset-top-30.center-block(style="max-width:510px;")
									a.btn.btn-primary(href="#" style="min-width:240px;") learn more

				.swiper-slide(style='background-image:url(images/backgrounds/background-15-1920x900.jpg)')
					.shell
						.range.range-xs-center
							.cell-sm-10
								.text-extra-big.font-accent.text-bold.text-spacing-inverse-50.text-white City-Taxi
								h5.offset-top-10.text-white.text-spacing-0.text-transform-none We are always there at your service. Fast and reliable way to find
									| quality taxi service anywhere you need it.
								.btn-both-lines.offset-top-30.center-block(style="max-width:510px;")
									a.btn.btn-primary(href="#" style="min-width:240px;") learn more

				.swiper-slide(style='background-image:url(images/backgrounds/background-16-1920x900.jpg)')
					.shell
						.range.range-xs-center
							.cell-sm-10
								.text-extra-big.font-accent.text-bold.text-spacing-inverse-50.text-white City-Taxi
								h5.offset-top-10.text-white.text-spacing-0.text-transform-none We are always there at your service. Fast and reliable way to find
									| quality taxi service anywhere you need it.
								.btn-both-lines.offset-top-30.center-block(style="max-width:510px;")
									a.btn.btn-primary(href="#" style="min-width:240px;") learn more

			// Add Arrows
			.swiper-button-next.swiper-button-white
			.swiper-button-prev.swiper-button-white
		.swiper-container.gallery-thumbs
			.swiper-wrapper
				.swiper-slide(style='background-image:url(images/products/product-14-480x231.jpg)')
				.swiper-slide(style='background-image:url(images/products/product-15-480x231.jpg)')
				.swiper-slide(style='background-image:url(images/products/product-16-480x231.jpg)')
				.swiper-slide(style='background-image:url(images/products/product-17-480x231.jpg)')

	// Page Content
	main.page-content

		// Innovate & Build
		section.section-75.section-md-top-165.section-md-bottom-110
			.shell
				h1.text-spacing-inverse-25 Stress-Free Transportation

				.range.range-xs-center.offset-top-20
					.cell-sm-10.cell-lg-8
						p.text-spacing-0 City-Taxi has 32 passenger buses, cars, and limos available so that you can easily arrange comfortable transportation for large groups or a few people.
							br
							='Call our City-taxi center at '
							a(href='callto:#').text-gray-base +1 800 889 9898

				.offset-top-15
					!{cfg.brand.svgDivider}

				.range.range-xs-center.list-index-lg.offset-md-top-15
					.cell-sm-10.cell-md-4
						.inset-lg-left-30.inset-lg-right-10
							.list-index-counter.h2.text-spacing-inverse-50.text-turquoise

							.offset-top-10
								p.font-accent.text-spacing-50.text-bold.text-uppercase.text-gray-base No Surging, Ever

							.offset-top-20
								p.text-extra-small.text-spacing-0 City-Taxi rates never surge, so you can be sure that you will never have to worry what the final price of your trip will be. Your price stays the same no matter where and when.

							.offset-top-10
								h5.text-spacing-20.text-silver-chalice ...


					.cell-sm-10.cell-md-4.offset-top-64.offset-md-top-0
						.inset-lg-left-30.inset-lg-right-10
							.list-index-counter.h2.text-spacing-inverse-50.text-turquoise

							.offset-top-10
								p.font-accent.text-spacing-50.text-bold.text-uppercase.text-gray-base Upfront Pricing

							.offset-top-20
								p.text-extra-small.text-spacing-0 We let our clients know the price ahead of time just like a flight ticket. The price our clients see is what they pay. It's that Simple and very Transparent.

							.offset-top-10
								h5.text-spacing-20.text-silver-chalice ...


					.cell-sm-10.cell-md-4.offset-top-64.offset-md-top-0
						.list-index-counter.h2.text-spacing-inverse-50.text-turquoise

						.offset-top-10
							p.font-accent.text-spacing-50.text-bold.text-uppercase.text-gray-base 24/7 Support

						.offset-top-20
							p.text-extra-small.text-spacing-0 We have live agents (real people - no robots)
								| on the phone to hear your needs and see you through your journey.
								br
								='Try it out: '
								a(href='callto:#').text-silver-chalice +1 800 889 9898

						.offset-top-10
							h5.text-spacing-20.text-silver-chalice ...

		// WORLD RALLY 2017-19
		section.context-dark
			+rd-parallax({
				"on": "false",
				"MdOn": "true",
				"firstLayerType": "media",
				"firstLayerSpeed": "0.25",
				"src": "images/backgrounds/background-05-1920x950.jpg",
				"secondLayerType": "html",
				"secondLayerSpeed": "0",
				"fade": "false"
			})
				.shell.section-75.section-md-top-103.section-md-bottom-110
					.range.range-xs-center
						.cell-sm-10
							.veil.reveal-sm-inline-block.text-bottom(style="margin-bottom:17px;")
								img.img-responsive.center-block(src="images/divider-01-135x4.png" width="135" height="2" alt="" style='opacity: .5;')

							.veil.reveal-sm-inline-block
								span.icon.icon-lg.thin-ico.thin-icon-car.text-white

							.veil.reveal-sm-inline-block.text-bottom(style="margin-bottom:17px;")
								img.img-responsive.center-block(src="images/divider-01-135x4.png" width="135" height="2" alt="" style='opacity: .5;')


							.offset-top-15.offset-md-top-30
								h1.text-spacing-0.text-uppercase Pre-book by city-taxi

								.offset-top-20.offset-md-top-44
									p.h5.text-spacing-inverse-25.text-transform-none Pre-book service allows you to book in advance any kind of taxi that
										| you need making business trips less stressful.

								.offset-top-30.offset-md-top-60
									a.btn.btn-calypso(href="contacts.html" style="min-width:240px;") learn more

		// Charter Destinations
		section.section-75.section-md-top-103.section-md-bottom-110
			.shell
				h2.text-spacing-inverse-25 Booking Options

				.range.range-xs-center.offset-top-25.offset-md-top-44
					.cell-sm-10
						.range.range-xs-center.text-left
							.cell-sm-6
								p.text-spacing-0 A modern taxi company must meet many different needs. We understand it very well, and that’s exactly why City-Taxi offers a variety of booking options and available destinations for your convenience.

							.cell-sm-6.offset-top-20.offset-sm-top-0
								p.text-spacing-0 Many of our customers order taxi for other travelers. Booking online at City-Taxi website has many advantages for those who work in a reception or a travel agency or if your professional role coordinates other travelers’ transfers.

						.offset-top-30
							// Owl Carousel
							.owl-carousel.owl-nav-absolute.owl-nav-primary.owl-dots-20(data-items='1' data-xs-stage-padding='0' data-loop='true' data-margin='5' data-animation-out="rollOut" data-animation-in="pulse" data-mouse-drag="false" data-nav='true' data-dots="true")
								div
									// Post Inspiration
									.post-inspiration.post-inspiration-visible.post-inspiration-img-auto-height
										.post-inspiration-img-wrap.post-inspiration-img-wrap-no-bg
											img(src="images/blog/post-03-970x555.jpg" width="970" height="555" alt="")
										.post-inspiration-body
											.veil.reveal-sm-inline-block.text-bottom(style="margin-bottom: 20px;")
												img.img-responsive.center-block(src="images/divider-01-67x4.png" width="67" height="2" alt=""  style='opacity: .5;')

											.veil.reveal-sm-inline-block
												span.icon.icon-lg.thin-ico.thin-icon-car.text-white

											.veil.reveal-sm-inline-block.text-bottom(style="margin-bottom: 20px;")
												img.img-responsive.center-block(src="images/divider-01-67x4.png" width="67" height="2" alt=""  style='opacity: .5;')

											.offset-top-20
												h5 Instant #[br.veil.reveal-md-inline-block] #[span.text-capitalize Taxi Arrival]

											.offset-top-30
												p Get City-Taxi in minutes to any #[br.veil.reveal-md-inline-block] location of your choice.

											.btn-both-lines.offset-top-30.center-block(style="max-width:440px;")
												a.btn.btn-primary(href="rates.html") view details

								div
									// Post Inspiration
									.post-inspiration.post-inspiration-visible.post-inspiration-img-auto-height
										.post-inspiration-img-wrap.post-inspiration-img-wrap-no-bg
											img(src="images/blog/post-02-970x555.jpg" width="970" height="555" alt="")
										.post-inspiration-body
											.veil.reveal-sm-inline-block.text-bottom(style="margin-bottom: 20px;")
												img.img-responsive.center-block(src="images/divider-01-67x4.png" width="67" height="2" alt=""  style='opacity: .5;')


											.veil.reveal-sm-inline-block
												span.icon.icon-lg.thin-ico.thin-icon-car.text-white

											.veil.reveal-sm-inline-block.text-bottom(style="margin-bottom: 20px;")
												img.img-responsive.center-block(src="images/divider-01-67x4.png" width="67" height="2" alt=""  style='opacity: .5;')

											.offset-top-20
												h5 Instant #[br.veil.reveal-md-inline-block] #[span.text-capitalize Taxi Arrival]

											.offset-top-30
												p Get City-Taxi in minutes to any #[br.veil.reveal-md-inline-block] location of your choice.

											.btn-both-lines.offset-top-30.center-block(style="max-width:440px;")
												a.btn.btn-primary(href="rates.html") view details

								div
									// Post Inspiration
									.post-inspiration.post-inspiration-visible.post-inspiration-img-auto-height
										.post-inspiration-img-wrap.post-inspiration-img-wrap-no-bg
											img(src="images/blog/post-14-970x555.jpg" width="970" height="555" alt="")
										.post-inspiration-body
											.veil.reveal-sm-inline-block.text-bottom(style="margin-bottom: 20px;")
												img.img-responsive.center-block(src="images/divider-01-67x4.png" width="67" height="2" alt=""  style='opacity: .5;')


											.veil.reveal-sm-inline-block
												span.icon.icon-lg.thin-ico.thin-icon-car.text-white

											.veil.reveal-sm-inline-block.text-bottom(style="margin-bottom: 20px;")
												img.img-responsive.center-block(src="images/divider-01-67x4.png" width="67" height="2" alt=""  style='opacity: .5;')

											.offset-top-20
												h5 Instant #[br.veil.reveal-md-inline-block] #[span.text-capitalize Taxi Arrival]

											.offset-top-30
												p Get City-Taxi in minutes to any #[br.veil.reveal-md-inline-block] location of your choice.

											.btn-both-lines.offset-top-30.center-block(style="max-width:440px;")
												a.btn.btn-primary(href="rates.html") view details

						.offset-top-15
							h5.text-spacing-20.text-silver-chalice ...

						.offset-top-25
							p.font-accent.text-bold.text-spacing-50.text-mine-shaft.text-uppercase call us

						.offset-top-4
							p.h1.text-spacing-inverse-50
								a.text-mine-shaft.transition-none(href="callto:#") 1 #[span.text-primary.transition-none (800)] 123 1234

						.offset-top-5
							!{cfg.brand.svgDivider}

			.offset-top-85
				.shell
					div
						h2.text-spacing-inverse-50 Testimonials

						.range.range-xs-center.offset-top-50.offset-md-top-20
							.cell-sm-5.cell-md-4
								.inset-lg-left-20.inset-lg-right-20
									// Blockquote
									blockquote.quote
										img.img-circle.img-responsive.center-block(src="images/users/user-john-wilson-169x169.jpg" width="169" height="169" alt="")

										.offset-top-20.offset-md-top-25
											span.icon.text-silver-chalice.material-icons-ico.material-icons-format_quote

										.offset-top-10.offset-md-top-15
											p.text-extra-small
												q.text-extra-small Just wanted to say how satisfied we were with the driver Mahesh, he was friendly and drove very well. The car was excellent and we will recommend your service. Many thanks. Kind regards.
										.offset-top-10.offset-md-top-20
											p
												cite.font-accent.text-bold.text-spacing-inverse-25.text-mine-shaft
													a.text-mine-shaft(href="single-member.html") John Wilson
													span.text-primary.reveal-block (client)

										.offset-top-10
											h5.text-spacing-20.text-silver-chalice ...

							.cell-sm-5.cell-md-4.offset-top-64.offset-sm-top-0
								.inset-lg-left-20.inset-lg-right-20
									// Blockquote
									blockquote.quote
										img.img-circle.img-responsive.center-block(src="images/users/user-april-smith-169x169.jpg" width="169" height="169" alt="")

										.offset-top-20.offset-md-top-25
											span.icon.text-silver-chalice.material-icons-ico.material-icons-format_quote

										.offset-top-10.offset-md-top-15
											p.text-extra-small
												q.text-extra-small For over ten years, City-Taxi has played a vital role in providing our agency with the necessary transportation to help visitors in crisis. We are extremely grateful for their support.
										.offset-top-10.offset-md-top-20
											p
												cite.font-accent.text-bold.text-spacing-inverse-25.text-mine-shaft
													a.text-mine-shaft(href="single-member.html") April Smith
													span.text-primary.reveal-block (client)

										.offset-top-10
											h5.text-spacing-20.text-silver-chalice ...

							.cell-sm-5.cell-md-4.offset-top-64.offset-md-top-0
								.inset-lg-left-20.inset-lg-right-20
									// Blockquote
									blockquote.quote
										img.img-circle.img-responsive.center-block(src="images/users/user-inga-north-169x169.jpg" width="169" height="169" alt="")

										.offset-top-20.offset-md-top-25
											span.icon.text-silver-chalice.material-icons-ico.material-icons-format_quote

										.offset-top-10.offset-md-top-15
											p.text-extra-small
												q.text-extra-small One of your drivers who got me from Broadway to the Museum of National History couldn’t have been more awesome! He was kind, polite and a great conversationalist!
										.offset-top-10.offset-md-top-20
											p
												cite.font-accent.text-bold.text-spacing-inverse-25.text-mine-shaft
													a.text-mine-shaft(href="single-member.html") Inga North
													span.text-primary.reveal-block (client)

										.offset-top-10
											h5.text-spacing-20.text-silver-chalice ...

						.btn-both-lines.btn-both-lines-gray-lighter.offset-top-30
							a.btn.btn-calypso(href="testimonials.html" style="min-width:240px;") more testimonials

		// News & Events
		section.context-dark.text-sm-left
			+rd-parallax({
				"on": "false",
				"MdOn": "true",
				"firstLayerType": "media",
				"firstLayerSpeed": "0",
				"src": "images/backgrounds/background-17-1920x578.jpg",
				"secondLayerType": "html",
				"secondLayerSpeed": "0",
				"fade": "false"
			})
				.shell.section-75.section-md-top-90.section-md-bottom-75
					h1.text-spacing-inverse-25.text-bold.text-center News & Events

					.offset-top-44
						// Owl Carousel
						.owl-carousel.owl-nav-white(data-items='1' data-sm-items='2' data-md-items='3' data-xs-stage-padding='0' data-loop='true' data-margin='30' data-mouse-drag="false" data-nav='true' data-dots="true")
							div
								div
									p.text-bold.font-accent.text-spacing-inverse-25 September 06 to 11
								.offset-top-4
									h5.text-spacing-inverse-25.text-bold.text-capitalize
										a(href="blog-single-post.html") New Gadgets
								.offset-top-20
									p.text-extra-small.text-spacing-0 We are glad to introduce an update to all our taxis. Because technologies develop as time goes by, our  taxis also deserve something new. We decided that installing tablets for our clients’ convenience will be the best option, and here’s why.
								.offset-top-10
									h5.text-spacing-20(style="color:rgba(255,255,255,0.6);") ...

							div
								div
									p.text-bold.font-accent.text-spacing-inverse-25 September 15 to 18
								.offset-top-4
									h5.text-spacing-inverse-25.text-bold.text-capitalize
										a(href="blog-single-post.html") Finding Lost Property
								.offset-top-20
									p.text-extra-small.text-spacing-0 After an outing, you decide to catch a cab. You get home only to discover that you lost something really important in your taxi. Most people won’t bother to try to find the item. We recommend using this little guide of recovering lost property.
								.offset-top-10
									h5.text-spacing-20(style="color:rgba(255,255,255,0.6);") ...

							div
								div
									p.text-bold.font-accent.text-spacing-inverse-25 October 06 to 08
								.offset-top-4
									h5.text-spacing-inverse-25.text-bold.text-capitalize
										a(href="blog-single-post.html") How to Select a Taxi Service
								.offset-top-20
									p.text-extra-small.text-spacing-0 A taxi is an essential component of the public transportation system. Whether you are calling a taxi to your home or office on a regular basis, or are visiting a strange city and need a cab to move around, you can benefit from using a taxi.
								.offset-top-10
									h5.text-spacing-20(style="color:rgba(255,255,255,0.6);") ...


	// Page Footer
	include ../sections/_footer-variant-2
		//- only on index page
		block footerLink
			// {%FOOTER_LINK}