extends  ../_skeleton

block title
  title Maintenance

block page
  // Page Header
  header.page-header.slider-menu-position
    +rd-navbar-default({
      "style": "",
      "logo": cfg.brand.logo,
      "logoFixed": cfg.brand.logoSmall,
      "activeLink": 8,
      "attr": {
        "data-layout": "rd-navbar-fixed",
        "data-sm-layout": "rd-navbar-fixed",
        "data-md-layout": "rd-navbar-fullwidth",
        "data-lg-layout": "rd-navbar-static"
      }
    })

    +breadcrumb("Maintenance", {
      0: {
        "type": "link",
        "title": cfg.nav.home.title,
        "href": cfg.nav.home.href
      },
      1: {
        "type": "link",
        "title": cfg.nav.pages.title,
        "href": cfg.nav.pages.href
      },
      2: {
        "type": "link",
        "title": "Maintenance",
        "href": "maintenance.html"
      }
    }, "images/backgrounds/background-02-1920x900.jpg")

  // Page Content
  main.page-content.section-75.section-md-top-90.section-md-bottom-110

    // Maintenance
    section
      .shell
        .range.range-xs-center
          .cell-sm-10.cell-lg-8
            div
              h1.text-regular The Website is in #[br.veil.reveal-lg-inline-block] The Maintenance Mode


            .offset-top-44
              p Our website is currently under maintenance. We are preparing our website to give you the best  user experience you can possibly have on our website. If you want to be notified when we will be back online, please enter your e-mail in the form below.


            .offset-top-55
              // RD Mailform
              form.rd-mailform.rd-mailform-inline(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
                .group
                  .form-group.text-middle
                    input#maintenance-subscribe-email.form-control(type="email" name="email" data-constraints="@Email @Required")
                  .reveal-block.reveal-xs-inline-block.offset-top-0
                    button(type="submit").btn.btn-primary NOTIFY ME


            .offset-top-20
              !{cfg.brand.svgDivider}


  // Page Footer
  include ../sections/_footer-default