extends  ../_skeleton

//- Includes
include ../elements/_ui-progress-bar-linear
include ../elements/_ui-rd-parallax

block title
	title Progress bars

block page
	// Page Header
	header.page-header.slider-menu-position
		+rd-navbar-default({
			"style": "",
			"logo": cfg.brand.logo,
			"logoFixed": cfg.brand.logoSmall,
			"activeLink": 8,
			"attr": {
				"data-layout": "rd-navbar-fixed",
				"data-sm-layout": "rd-navbar-fixed",
				"data-md-layout": "rd-navbar-fullwidth",
				"data-lg-layout": "rd-navbar-static"
			}
		})

		+breadcrumb("Progress bars", {
			0: {
				"type": "link",
				"title": cfg.nav.home.title,
				"href": cfg.nav.home.href
			},
			1: {
				"type": "link",
				"title": cfg.nav.pages.title,
				"href": cfg.nav.pages.href
			},
			2: {
				"type": "link",
				"title": "Progress bars",
				"href": "Progress bars.html"
			}
		}, "images/backgrounds/background-02-1920x900.jpg")

	// Page Content
	main.page-content

		// Progress bars
		section.section-75.section-md-top-90.section-md-bottom-125
			.shell
				div
					h1 Progress Bars, Skill Bars, Counters

				.offset-top-44
					p These elements are vital to every website’s design, and with them you are able to #[br.veil.reveal-lg-inline-block] improve the overall look of your resource and attract more clients.

				.range.range-xs-center.range-lg-justify.offset-top-23.text-left
					.cell-sm-6
						.clearfix
							// Progress Bar
							+progress-bar-linear({
								"title": "Taxi service",
								"apClass": "bg-primary",
								"valueTo": "75",
								"style": "text-bold text-mine-shaft"
							})
						.offset-top-53.clearfix
							+progress-bar-linear({
								"title": "Sightseeing tours",
								"apClass": "bg-primary",
								"valueTo": "25",
								"style": "text-bold text-mine-shaft"
							})
						.offset-top-53.clearfix
							+progress-bar-linear({
								"title": "Shuttle service",
								"apClass": "bg-primary",
								"valueTo": "50",
								"style": "text-bold text-mine-shaft"
							})

					.cell-sm-6.cell-lg-5.offset-top-85.offset-sm-top-0
						h5.text-spacing-25.text-center.text-sm-left welcome

						.offset-top-20.offset-md-top-30
							p.text-extra-small Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers.

		section.context-dark
			+rd-parallax({
				"on": "false",
				"MdOn": "true",
				"firstLayerType": "media",
				"firstLayerSpeed": "0.25",
				"src": "images/backgrounds/background-05-1920x950.jpg",
				"secondLayerType": "html",
				"secondLayerSpeed": "0",
				"fade": "false"
			})
				.shell.section-75.section-md-bottom-110
					.veil.reveal-sm-inline-block.text-top.offset-sm-top-33
						img.img-responsive.center-block(src="images/divider-01-134x2.png" width="134" height="2" alt="")

					.veil.reveal-sm-inline-block
						span.icon.icon-lg.thin-ico.thin-icon-car.text-white

					.veil.reveal-sm-inline-block.text-top.offset-sm-top-33
						img.img-responsive.center-block(src="images/divider-01-134x2.png" width="134" height="2" alt="")

					.range.range-xs-center.offset-top-0
						.cell-sm-8.cell-md-12
							.range.range-xs-center.offset-top-23
								.cell-xs-5.cell-md-3.cell-lg-2
									// CountTo
									.counter(data-from='0', data-to='22')
									.offset-top-5
										p.font-accent.text-bold.text-uppercase.text-spacing-50 years of #[br] experience

								.cell-xs-5.cell-md-3.cell-lg-2.offset-top-64.offset-xs-top-0
									// CountTo
									.counter(data-from='0', data-to='7')
									.offset-top-5
										p.font-accent.text-bold.text-uppercase.text-spacing-50 partners #[br] worldwide

								.cell-xs-5.cell-md-3.cell-lg-2.offset-top-64.offset-md-top-0
									// CountTo
									.counter(data-from='0', data-to='26')
									.offset-top-5
										p.font-accent.text-bold.text-uppercase.text-spacing-50 qualified #[br] drivers

								.cell-xs-5.cell-md-3.cell-lg-2.offset-top-64.offset-md-top-0
									// CountTo
									.counter(data-from='0', data-to='13')
									.offset-top-5
										p.font-accent.text-bold.text-uppercase.text-spacing-50 new #[br] taxis

					.veil.reveal-sm-inline-block.offset-sm-top-30

		section.section-80
			.shell
				.range.range-xs-center.offset-top-10
					.cell-md-10.cell-lg-9
						// TimeCircles
						.DateCountdown(data-date='2017-12-01 02:00:00')

	// Page Footer
	include ../sections/_footer-default