//- Nuka button
//- btnClass - class to set size, style, etc. (btn-lg, btn-primary)
//- btnText - button text
mixin button-nuka(btnClass, btnText)
  button(class=btnClass type="button").btn.btn-nuka-effect
    span= btnText