//- Button Aqil
//- btnClass - class to set size, style, etc. (btn-lg, btn-primary)
//- btnText - button text
mixin button-aqil(btnClass, btnText)
    button(class=btnClass type="button").btn.btn-aqil-effect
        span= btnText