extends  ../_skeleton

//- Includes
include ../elements/_ui-rd-parallax
include ../elements/_ui-thumbnail-apollo
include ../elements/_ui-isotope

//-Title
block title
  title= cfg.nav.portfolio.title

//- Page
block page
  // Page Head
  header.page-head
    //- RD Navbar
    +rd-navbar-sidebar-toggle(
    'rd-navbar-sidebar-toggle rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-fixed',
      "data-lg-stick-up": 'false',
      "data-lg-hover-on": "false"
    },
    "<img style='margin-top: -5px;margin-left: -15px;' width='138' height='31' src='images/logo-dark.png' alt=''/>",
    cfg.nav.portfolio,
    cfg.nav
    )

  // Page Content
  main.page-content
    // Page Header
    include ../sections/_section-header

    // Portfolio
    section.section-85
      .shell-fluid
        h1.text-bold Portfolio
        ul.p.list-inline.list-inline-dashed.offset-top-24
          li
            a(href=cfg.nav.home.href) Home
          li Portfolio
        .offset-top-30
          +isotope(['All galleries', 'Fashion', 'Beauty', 'Wedding', 'Tests', 'Travel'],{
            "group": "gallery",
            "layout": "masonry",
            "alignClass": "isotope-filters-vertical"
          }, "isotope-53")
            .row(data-photo-swipe-gallery="gallery")
              .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter="Beauty")
                +thumbnail-apollo({
                  "type": "thumbnail",
                  "title": "New accessories",
                  "width": 442,
                  "height": 332,
                  "img": "images/image-04.jpg",
                  "link": "single-project.html",
                  "desc": "An amazing photo shoot I’ve done for Vogue magazine last summer that featured a new collection of bags.",
                  "iconClass": "fa-arrow-right"
                })
              .col-xs-12.col-sm-6.col-lg-4.offset-top-66.isotope-item(data-filter='Beauty')
                +thumbnail-apollo({
                  "type": "thumbnail",
                  "title": "Leather passion",
                  "width": 442,
                  "height": 589,
                  "img": "images/image-05.jpg",
                  "link": "single-project.html",
                  "desc": "A set of photos for advertising campaign of Dark Twist Ltd., a leader in production of leather clothes and footwear.",
                  "iconClass": "fa-arrow-right"
                })
              .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Travel')
                +thumbnail-apollo({
                  "type": "thumbnail",
                  "title": "World’s sights",
                  "width": 442,
                  "height": 332,
                  "img": "images/image-06.jpg",
                  "link": "single-project.html",
                  "desc": "Continuing my collection of shots with world’s widely known places to see, here are the stunning sights of London.",
                  "iconClass": "fa-arrow-right"
                })
              .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Wedding')
                +thumbnail-apollo({
                  "type": "thumbnail",
                  "title": "Wedding photos",
                  "width": 442,
                  "height": 589,
                  "img": "images/image-07.jpg",
                  "link": "single-project.html",
                  "desc": "I devoted a lot of time to wedding photography at the very beginning of my career. Here are the most valuable shots.",
                  "iconClass": "fa-arrow-right"
                })
              .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Beauty')
                +thumbnail-apollo({
                  "type": "thumbnail",
                  "title": "True fascination",
                  "width": 442,
                  "height": 332,
                  "img": "images/image-09-442x332.jpg",
                  "link": "single-project.html",
                  "desc": "A photo shoot made for a fresh issue of “Fashion” magazine that features an astounding top model, Ann Johnson.",
                  "iconClass": "fa-arrow-right"
                })
              .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Wedding')
                +thumbnail-apollo({
                  "type": "thumbnail",
                  "title": "Love story",
                  "width": 442,
                  "height": 442,
                  "img": "images/image-08-442x442.jpg",
                  "link": "single-project.html",
                  "desc": "A fresh photo shoot depicting a modern love story between two representatives of contemporary society.",
                  "iconClass": "fa-arrow-right"
                })
              .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Travel')
                +thumbnail-apollo({
                  "type": "thumbnail",
                  "title": "Charming Venice",
                  "width": 442,
                  "height": 590,
                  "img": "images/image-11.jpg",
                  "link": "single-project.html",
                  "desc": "These are the results of my trip to Venice, my favorite Italian city with a lot of photogenic places to see.",
                  "iconClass": "fa-arrow-right"
              })
              .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Fashion')
                +thumbnail-apollo({
                  "type": "thumbnail",
                  "title": "American Fashion",
                  "width": 442,
                  "height": 332,
                  "img": "images/image-3-442x332.jpg",
                  "link": "single-project.html",
                  "desc": "My recent collection of photos I made as a staff photographer for “American Fashion Show” this spring in Seattle.",
                  "iconClass": "fa-arrow-right"
                })
              .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Tests')
                +thumbnail-apollo({
                  "type": "thumbnail",
                  "title": "Mark Richardson",
                  "width": 442,
                  "height": 332,
                  "img": "images/image-10.jpg",
                  "link": "single-project.html",
                  "desc": "A custom-made photo session I shot for the autobiography of Mark Richardson, famous English writer.",
                  "iconClass": "fa-arrow-right"
                })
              .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Travel')
                +thumbnail-apollo({
                  "type": "thumbnail",
                  "title": "Cities at night",
                  "width": 442,
                  "height": 332,
                  "img": "images/image-12.jpg",
                  "link": "single-project.html",
                  "desc": "First part of my special collection that includes shots of the most famous cities and megalopolises captured at night.",
                  "iconClass": "fa-arrow-right"
                })
              .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Wedding')
                +thumbnail-apollo({
                  "type": "thumbnail",
                  "title": "Wedding at the sea",
                  "width": 442,
                  "height": 332,
                  "img": "images/image-14.jpg",
                  "link": "single-project.html",
                  "desc": "To my mind, these are the most original photos I have ever shot at the sea. Moreover, it’s a wedding photo shoot.",
                  "iconClass": "fa-arrow-right"
                })
              .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Travel')
                +thumbnail-apollo({
                  "type": "thumbnail",
                  "title": "Romantic city",
                  "width": 442,
                  "height": 590,
                  "img": "images/image-13.jpg",
                  "link": "single-project.html",
                  "desc": "My vision of what Paris looks like this spring, and why it is considered the most romantic city in the world.",
                  "iconClass": "fa-arrow-right"
                })
              .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Wedding')
                +thumbnail-apollo({
                  "type": "thumbnail",
                  "title": "Mary and John",
                  "width": 442,
                  "height": 590,
                  "img": "images/image-15.jpg",
                  "link": "single-project.html",
                  "desc": "As I continue to polish my skills in wedding photography, I am glad to present you a new photo shoot of Mary and John Smiths.",
                  "iconClass": "fa-arrow-right"
                })
              .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Beauty')
                +thumbnail-apollo({
                  "type": "thumbnail",
                  "title": "Black or white?",
                  "width": 442,
                  "height": 332,
                  "img": "images/image-2-442x332.jpg",
                  "link": "single-project.html",
                  "desc": "Here are some of my entries for “Black and White Photography Contest 2016” that you may find interesting.",
                  "iconClass": "fa-arrow-right"
                })
              .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Fashion')
                +thumbnail-apollo({
                  "type": "thumbnail",
                  "title": "Self-expression",
                  "width": 442,
                  "height": 590,
                  "img": "images/image-16.jpg",
                  "link": "single-project.html",
                  "desc": "A photo session depicting works of the most renowned tattooists who took part in South American Tattoo Contest.",
                  "iconClass": "fa-arrow-right"
                })
              .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Beauty')
                +thumbnail-apollo({
                  "type": "thumbnail",
                  "title": "Hairdresser’s dream",
                  "width": 442,
                  "height": 442,
                  "img": "images/image-19.jpg",
                  "link": "single-project.html",
                  "desc": "A photo set featuring joint works of North America’s most talented hairdressers and well-known models.",
                  "iconClass": "fa-arrow-right"
                })
              .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Fashion')
                +thumbnail-apollo({
                  "type": "thumbnail",
                  "title": "Flowers for beauty",
                  "width": 442,
                  "height": 442,
                  "img": "images/image-17.jpg",
                  "link": "single-project.html",
                  "desc": "A selection of my award-winning shots featuring America’s most known models captured in an unpredictable image.",
                  "iconClass": "fa-arrow-right"
                })
              .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Tests')
                +thumbnail-apollo({
                  "type": "thumbnail",
                  "title": "My own vision",
                  "width": 442,
                  "height": 332,
                  "img": "images/image-21-442x332.jpg",
                  "link": "single-project.html",
                  "desc": "This photo shoot is an attempt to portray the image of an enthusiastic photographer who really enjoys taking photos.",
                  "iconClass": "fa-arrow-right"
                })
              .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Travel')
                +thumbnail-apollo({
                  "type": "thumbnail",
                  "title": "Being English",
                  "width": 442,
                  "height": 332,
                  "img": "images/image-18.jpg",
                  "link": "single-project.html",
                  "desc": "The main aim of this photo shoot was to remove stereotypes connected with English-speaking countries.",
                  "iconClass": "fa-arrow-right"
                })
              .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Wedding')
                +thumbnail-apollo({
                  "type": "thumbnail",
                  "title": "Spring mood",
                  "width": 442,
                  "height": 332,
                  "img": "images/image-20.jpg",
                  "link": "single-project.html",
                  "desc": "A joint photo shoot conducted together with James Cox featuring representatives of his Modeling School.",
                  "iconClass": "fa-arrow-right"
                })