-
  var cfg = {
    "brand": {
      "name": "Intense Child Care",
      "slogan": "Best for child care",
      "logo": "<img width='135' height='55' src='images/logo-dark.png' alt=''/>",
      "logoHorizontal": "<img width='215' height='33' src='images/logo-dark-horizontal.png' alt=''/>"

    },
    "nav": {
      "home": {
        "title": "Home",
        "href": "index.html"
      },
      "about": {
        "title": "About",
        "href": "about.html"
      },
      "programs": {
        "title": "Programs",
        "href": "programs.html"
      },
      "gallery": {
        "title": "Gallery",
        "href": "gallery.html"
      },
      "faq": {
        "title": "FAQ",
        "href": "faq.html"
      },
      "reviews": {
        "title": "Reviews",
        "href": "reviews.html"
      },
      "contacts": {
        "title": "Contacts",
        "href": "contacts.html"
      }
    }
  }