-
  var cfg = {
    "type": "Gym",
    "brand": {
      "name": "Intense Gym",
      "slogan": "Gym",
      "logo": "<img width='173' height='30' src='images/logo.png' alt=''/>",
      "logoBig": "<img class='img-responsive' style='margin-top: -20px;margin-left: -18px;' width='329' height='67' src='images/logo-big.png' alt=''/>"
    },
    "buyLink": "//www.templatemonster.com/intense-multipurpose-html-template.html?utm_source=livedemo&utm_medium=themebutton&utm_campaign=intense",
    "nav": {
      "home": {
        "title": "Home",
        "href": "index.html"
      },
      "memberships": {
        "title": "Memberships",
        "href": "memberships.html"
      },
      "coaches": {
        "title": "Coaches",
        "href": "coaches.html",
      },
      "schedule": {
        "title": "Schedule",
        "href": "schedule.html"
      },
      "faq": {
        "title": "FAQ",
        "href": "faq.html"
      },
      "blog": {
        "title": "Blog",
        "href": "blog.html",
      },
      "contacts": {
        "title": "Contact Us",
        "href": "contacts.html"
      }
    }
  }