extends  ../_skeleton

block variables
  - var activeIndex = 0
  - var pageName = 'Header perspective'

block title
  title=pageName

block menu
  include ../sections/_menu-perspective

block header
  include ../sections/_header-default

block page

  include ../sections/_section-placeholder

  //- Page Footer
  include ../sections/_footer-default