extends  ../_skeleton

//- Includes
include ../elements/_ui-page-title
include ../elements/_ui-product


block variables
  - var activeIndex = 4
  - var footerActiveIndex = 4
  - var menuIncludeButton = true
  - var pageName = 'Shop'


block title
  title=pageName

block menu
  include ../sections/_menu-perspective

block header
  include ../sections/_header-default

block page

  //- Page Content
  +page-title(pageName)

  .shop-panel
    .shell
      .shop-panel-inner
        .shop-panel-left
          a.shop-panel-link(href='cart.html')
            span.icon.fa.fa-shopping-cart
            span.count 2

          span.shop-panel-price $35.99

        .shop-panel-right
          .shop-panel-select
            span.shop-panel-select-title Category
            select.form-control.select-filter(data-minimum-results-for-search="Infinity", data-custom-theme='modern')
              option(value="3") All
              option(value="4") Category 1
              option(value="5") Category 2
              option(value="6") Category 3

          .shop-panel-select
            span.shop-panel-select-title Sort By
            select.form-control.select-filter(data-minimum-results-for-search="Infinity", data-custom-theme='modern')
              option(value="3") Price
              option(value="4") Type 1
              option(value="5") Type 2
              option(value="6") Type 3

  //- Products
  section.section-md.bg-periglacial-blue.text-center
    .shell
      .range.range-30
        .cell-sm-6.cell-md-4
          +product({
            img: 'product-1-164x168',
            title: 'Uppercut deluxe',
            price: '34.99'
          })

        .cell-sm-6.cell-md-4
          +product({
            img: 'product-2-210x168',
            title: 'Thiers Issard SING-6/8-188-OL',
            price: '25.99'
          })

        .cell-sm-6.cell-md-4
          +product({
            img: 'product-3-175x168',
            title: 'Ducky Matte Pomade',
            price: '27.99'
          })

        .cell-sm-6.cell-md-4
          +product({
            img: 'product-2-210x168',
            title: 'dovo en Vogue 5/8',
            price: '32.99'
          })

        .cell-sm-6.cell-md-4
          +product({
            img: 'product-3-175x168',
            title: 'Ducky Matte premium Pomade',
            price: '31.99'
          })

        .cell-sm-6.cell-md-4
          +product({
            img: 'product-1-164x168',
            title: 'uppercut deluxe extra',
            price: '44.99'
          })

        .cell-sm-6.cell-md-4
          +product({
            img: 'product-1-164x168',
            title: 'Uppercut premium pomade',
            price: '36.99'
          })

        .cell-sm-6.cell-md-4
          +product({
            img: 'product-2-210x168',
            title: 'Timor 5/8',
            price: '33.99'
          })

        .cell-sm-6.cell-md-4
          +product({
            img: 'product-3-175x168',
            title: 'Ducky Matte deluxe Pomade',
            price: '36.50'
          })

      +pagination
  ='\n'


  //- Page Footer
  include ../sections/_footer-default

