//- Includes
include ../elements/_widget-list-social
include ../elements/_ui-rd-map

// Contact Me
section
  .shell-fluid
    .range.range-xs-center.text-sm-left.offset-top-50
      .cell-xs-10.cell-sm-8.cell-md-8.cell-xl-6
        p You can contact me any way that is convenient for you. I am available 24/7 via fax, email or telephone. You can also use a quick contact form located on this page to ask a question about my services and projects I work on. I would be happy to answer your questions or offer any help.
    .range.range-xs-center.text-sm-left.offset-top-50
      .cell-xs-10.cell-sm-8.cell-md-8.cell-lg-5.cell-xl-4
        // RD Mailform
        form.rd-mailform.text-left(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
          .range
            .cell-lg-6
              .form-group
                label.form-label(for="contact-me-name") Name
                input#contact-me-name.form-control(type="text" name="name" data-constraints="@Required")
            .cell-lg-6.offset-top-20.offset-lg-top-0
              .form-group
                label.form-label(for="contact-me-phone") Phone
                input#contact-me-phone.form-control(type="text" name="phone" data-constraints="@Required")
            .cell-lg-12.offset-top-20.offset-lg-top-30
              .form-group
                label.form-label(for="contact-me-email") E-Mail
                input#contact-me-email.form-control(type="email" name="email" data-constraints="@Required @Email")
            .cell-lg-12.offset-top-20.offset-lg-top-30
              .form-group
                label.form-label(for="contact-me-message") Message
                textarea#contact-me-message.form-control(name="message" data-constraints="@Required" style="height: 150px")
          .range.range-xs-center.range-lg-left.text-center.text-lg-left.offset-top-30
            .cell-xs-8.cell-sm-6
              button(type="submit").btn.btn-lg.btn-block.btn-primary.btn-rect.text-spacing-120.text-regular send message

      .cell-xs-10.cell-sm-8.cell-md-8.cell-lg-3.cell-xl-2.offset-top-50.offset-lg-top-0
        .inset-xl-right-20
          address.contact-info.text-left
            .unit.unit-spacing-sm.unit-horizontal
              .unit-left
                span.icon.icon-xxs.fa.fa-map-marker.text-white
              .unit-body.p.offset-top-0
                a(href="#")
                  span  8901 Marmora Road, Glasgow, D04 89GR
            .p.unit.unit-spacing-xs.unit-horizontal.offset-top-20
              .unit-left
                span.icon.icon-xxs.fa.fa-phone.text-white
              .unit-body
                a(href="callto:#") 1-800-1234-567
            .p.unit.unit-spacing-xs.unit-horizontal.offset-top-10
              .unit-left
                span.icon.icon-xxs.fa.fa-envelope.text-white
              .unit-body
                a(href="mailto:#") jessica@demolink.org
        .text-center.text-lg-left.offset-top-30
          +widget-list-social([
            {
              "icon": "fa fa-facebook",
              "href": "#"
            },
            {
              "icon": "fa fa-twitter",
              "href": "#"
            },
            {
              "icon": "fa fa-google-plus",
              "href": "#"
            },
            {
              "icon": "fa fa-500px",
              "href": "#"
            },
            {
              "icon": "fa fa-behance",
              "href": "#"
            }
          ])

// Section RD Google Map
section.offset-top-98
  +rd-map({
    "zoom": "15",
    "dataX": "-73.9874068",
    "dataY": "40.643180",
    "dataStyles": [{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#000000"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#000000"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":17},{"weight":1.2}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":21}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":17}]}]
  },[{
    "dataX": "-73.9874068",
    "dataY": "40.643180",
    "markerDesc": "9870 St Vincent Place, Glasgow, DC 45 Fr 45"
  }])