extends  ../_skeleton

//- Includes
include ../elements/_ui-member-block-type-5
include ../elements/_ui-progress-bar-linear
include ../elements/_ui-thumbnail-terry

//-Title
block title
  title About Coach

//- Page
block page

  // Page Head
  header.page-head.slider-menu-position
    //- RD Navbar
    +rd-navbar-floated(
    'rd-navbar-dark',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.coaches,
    cfg.nav
    )
    .context-dark
      +breadcrumb-modern("About Coach", {
        0: {
          "type": "link",
          "title": cfg.nav.home.title,
          "href": cfg.nav.home.href
        },
        1: {
          "type": "link",
          "title": cfg.nav.coaches.title,
          "href": cfg.nav.coaches.href
        },
        2: {
          "type": "link",
          "title": "About Coach",
          "href": "#"
        }
      }, "images/background-04-1920x750.jpg")


  // Page Contents
  main.page-content.section-98.section-sm-top-110.section-lg-bottom-0

    // About
    section
      .shell
        .range.range-xs-center
          .cell-xs-10.cell-sm-5
            +member-block-type-5(
            {
              "width": 437,
              "height": 437,
              "src": "images/user-emily-perkins-437x437.jpg"
            },
            [{
              "class": "fa-facebook",
              "link": "#"
            },
              {
                "class": "fa-twitter",
                "link": "#"
              },
              {
                "class": "fa-google-plus",
                "link": "#"
              },
              {
                "class": "fa-linkedin",
                "link": "#"
              }],

            [{
              "type": "phone",
              "class": "mdi mdi-phone",
              "link": "1-800-1234-567"
            }, {
              "type": "mail",
              "class": "mdi mdi-email-open",
              "link": "info@demolink.org"
            }],


            {
              "link": cfg.nav.contacts.href,
              "class": "btn-danger",
              "text": "get in touch"
            })
          .cell-xs-10.cell-sm-7.text-sm-left
            div
              h1.text-darker Emily Perkins
            p.text-muted.offset-top-4 Fitness Coach
            hr.divider.bg-red.hr-sm-left-0
            p.offset-top-50.text-left Emily Perkins is the leading fitness and athletics trainer at Intense. She received a Bachelor’s in Physical Health and Education, and a Master’s in Exercise Science in Los Angeles University.
            .offset-top-30.text-center
              p
                q.text-italic.h3.text-regular If you can make it that far, what's stopping you from one more mile or one more set of reps?
            .offset-top-30
              p.text-left Ms. Perkins joined our team in 2010, after winning the local athletics competition. She started her career in sports in 2005, and in a few years she became a well-known trainer in the world of fitness. Her professionalism allows her to find a personalized approach to every client of Intense.

            .offset-top-50
              +progress-bar-linear({
                "title": "Fitness",
                "apClass": "bg-success",
                "valueTo": "70"
              })
              .offset-top-50
                +progress-bar-linear({
                  "title": "CrossFIT",
                  "apClass": "bg-info",
                  "valueTo": "54"
                })
              .offset-top-50
                +progress-bar-linear({
                  "title": "Yoga",
                  "apClass": "bg-warning",
                  "valueTo": "87"
                })
              .offset-top-50
                +progress-bar-linear({
                  "title": "Bodybuilding",
                  "apClass": "bg-danger",
                  "valueTo": "65"
                })

    // Offers
    section.offset-top-110
      .owl-carousel.owl-carousel-default.veil-md-owl-dots.veil-owl-nav.reveal-md-owl-nav(data-items="1" data-xs-items="2" data-md-items="3" data-lg-items="4" data-nav="true" data-dots="true" data-nav-class='["owl-prev mdi mdi-chevron-left", "owl-next mdi mdi-chevron-right"]')
        div
          +thumbnail-terry({
            "type": "thumbnail",
            "title": null,
            "description": null,
            "thumb": {"src": "images/about-01-480x480.jpg", "width": 480, "height": 480, "alt": ""},
            "target": {"href": cfg.nav.schedule.href},
            "btnClass": "btn-danger",
            "btnLink": cfg.nav.schedule.href,
            "btnText": "free first lesson"
          })
        div
          +thumbnail-terry({
            "type": "thumbnail",
            "title": null,
            "description": null,
            "thumb": {"src": "images/about-02-480x480.jpg", "width": 480, "height": 480, "alt": ""},
            "target": {"href": cfg.nav.schedule.href},
            "btnClass": "btn-danger",
            "btnLink": cfg.nav.schedule.href,
            "btnText": "free first lesson"
          })
        div
          +thumbnail-terry({
            "type": "thumbnail",
            "title": null,
            "description": null,
            "thumb": {"src": "images/about-03-480x480.jpg", "width": 480, "height": 480, "alt": ""},
            "target": {"href": cfg.nav.schedule.href},
            "btnClass": "btn-danger",
            "btnLink": cfg.nav.schedule.href,
            "btnText": "free first lesson"
          })
        div
          +thumbnail-terry({
            "type": "thumbnail",
            "title": null,
            "description": null,
            "thumb": {"src": "images/home-02-480x480.jpg", "width": 480, "height": 480, "alt": ""},
            "target": {"href": cfg.nav.schedule.href},
            "btnClass": "btn-danger",
            "btnLink": cfg.nav.schedule.href,
            "btnText": "free first lesson"
          })
        div
          +thumbnail-terry({
            "type": "thumbnail",
            "title": null,
            "description": null,
            "thumb": {"src": "images/home-01-480x480.jpg", "width": 480, "height": 480, "alt": ""},
            "target": {"href": cfg.nav.schedule.href},
            "btnClass": "btn-danger",
            "btnLink": cfg.nav.schedule.href,
            "btnText": "free first lesson"
          })
        div
          +thumbnail-terry({
            "type": "thumbnail",
            "title": null,
            "description": null,
            "thumb": {"src": "images/home-03-480x480.jpg", "width": 480, "height": 480, "alt": ""},
            "target": {"href": cfg.nav.schedule.href},
            "btnClass": "btn-danger",
            "btnLink": cfg.nav.schedule.href,
            "btnText": "free first lesson"
          })

  // Page Footer
  include ../sections/_section-footer