extends  ../_skeleton

//- Includes
include  ../elements/_ui_accordion-bootstrap

//-Title
block title
  title= cfg.nav.faq.title

//- Page
block page

  // Page Head
  header.page-head.slider-menu-position
    //- RD Navbar
    +rd-navbar-floated(
    'rd-navbar-dark',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.faq,
    cfg.nav
    )
    .context-dark
      +breadcrumb-modern("FAQ", {
        0: {
          "type": "link",
          "title": cfg.nav.home.title,
          "href": cfg.nav.home.href
        },
        1: {
          "type": "link",
          "title": cfg.nav.faq.title,
          "href": cfg.nav.faq.href
        }
      }, "images/background-04-1920x750.jpg")


  // Page Contents
  main.page-content

    section.section-66.section-sm-top-110.section-lg-bottom-0
      .shell
        .range.range-xs-center
          .cell-lg-6
            img.veil.reveal-lg-inline-block(src="images/faq-01-494x823.png" width="494" height="823" alt="")
          .cell-sm-9.cell-lg-6.offset-top-0
            h1.text-darker.text-lg-left General Questions
            hr.divider.bg-red.hr-lg-left-0
            .offset-top-41.offset-lg-top-66
              +accordion-bootstrap('accordion-1',
              [{
                'headerId': 'headingOne',
                'contentId': 'collapseOne',
                'title': 'How can I join your group workouts?',
                'description': 'To become a part of any group at Intense on a regular basis, you are to have at least the Starter membership card. However, if you would like to give a crack at group training, you can visit a free workout. It takes place every Saturday at our gym and includes elements of several disciplines.'
              },
                {
                  'headerId': 'headingTwo',
                  'contentId': 'collapseTwo',
                  'title': 'What training is better for me?',
                  'description': 'It is a difficult question to answer. If you have no previous experience in training or are trying it for the first time. To achieve the best possible result during your further training, we recommend our new members to take part in the free physical test. Afterward, we will pick the most suitable training course for you.'
                },
                {
                  'headerId': 'headingThree',
                  'contentId': 'collapseThree',
                  'title': 'At what age am I allowed to join the gym?',
                  'description': 'Usually, we accept members aged at 18 and higher, but there are some exceptions for teenagers and children under 13 years old. For these membership categories, we have special group training, aimed at the development of basic physical skills including endurance, muscular power, and '
                },
                {
                  'headerId': 'headingFour',
                  'contentId': 'collapseFour',
                  'title': 'Can I refer a friend to your gym?',
                  'description': 'Sure you can. We always encourage our members to involve their friends in training and sports activities. According to the rules & regulations of our gym, your friend or family member can take part in one workout. If your friend decides to join us, you can get an annual membership discount.'
                },
                {
                  'headerId': 'headingFive',
                  'contentId': 'collapseFive',
                  'title': 'Are there any bonuses included with the membership?',
                  'description': 'We have the loyalty program for our customers. It allows our members to receive additional bonuses according to their training program and membership. The most popular and frequent bonuses are discounts on various workouts and annual membership. Contact our managers to find out more.'
                },
                {
                  'headerId': 'headingSix',
                  'contentId': 'collapseSix',
                  'title': 'Can I pay by cash or card?',
                  'description': 'We accept Visa, MasterCard, and American Express cards, but you can also pay in cash for any of our services. Our group packages and membership plans are usually paid by card. However, you can also pay using your PayPal account via our website. If you have any questions, feel free to contact our support.'
                },
                {
                  'headerId': 'headingSeven',
                  'contentId': 'collapseSeven',
                  'title': 'Can I freeze my membership?',
                  'description': 'Our clients can freeze their membership for not more than 1 year. This feature allows you as a member of our gym to preserve all services you have in your membership plan. We will notify you via e-mail or SMS when the period of your membership freezing comes. Browse our website to find out more.'
                }])

    // First Workout - Free
    section.section-66.bg-lilac
      .shell
        h2.text-darker First Workout - Free
        p You can easily try our services for free, and decide which workout is better for you. Just let us know what training you prefer.
        a.btn.btn-primary.btn-icon.btn-icon-left.offset-top-20.text-darker(href=cfg.nav.contacts.href)
          span.icon.mdi.mdi-email-outline
          | Send us a letter

  // Page Footer
  include ../sections/_section-footer