#modalWindow.modal.fade.text-center(role='dialog')
  .modal-dialog.custom-modal-dialog
    //- Modal content
    .custom-modal-content
      button.close(type='button', data-dismiss='modal')
      .shell
        .box-portfolio
          +jpg('barbers-single-1-130x130', 'box-portfolio-image')
          p.box-portfolio-header simon wilson
          .box-portfolio-text
            p Simon Wilson founded Barbershop in 2003 at the age of 23. He decided to establish a place where the long standing traditions of American barbering could be saved. He kept Barbershop a true place for men, their fathers, and sons, rather than converting it to a unisex salon as was the popular trend at the time. Over the past 13 years, Mr. Wilson has grown his shop from a small, local spot to a nationally and internationally recognized standard in the industry. Simon has been the recipient of various accolades including the HYPE Award for Entrepreneurs and the Hartford Business Journal's 40 Under Forty (Class of 2014). He can be found at the shop on Wednesdays and Fridays.
          ul.inline-list.inline-list-md
            li: a.icon.icon-xs.link-gray-base.fa-facebook(href='#')
            li: a.icon.icon-xs.link-gray-base.fa-twitter(href='#')
            li: a.icon.icon-xs.link-gray-base.fa-linkedin(href='#')