//
// Sections
// --------------------------------------------------

.section-relative {
  position: relative;
  z-index: 1;
}

.slider-menu-position {
  position: relative;
  .rd-navbar-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

// Full Screen Section
// --------------------------------------------------

.section-cover {
  min-height: 100vh;
}

.section-img-demonstration {
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-align: center;
  min-height: 400px;

  .img-wrap {
    display: inline-block;
    bottom: 0;
    left: 0;
    z-index: -1;
    padding: 20px;
    &:first-child {
      left: -5%;
      bottom: -35%;
    }
    &:nth-child(2) {
      left: 8%;
      bottom: -20%;
    }
    &:nth-child(3) {
      left: 21%;
      bottom: -5%;
    }
    &:nth-child(4) {
      left: 34%;
      bottom: 10%;
    }
    &:nth-child(5) {
      left: 47%;
      bottom: 25%;
    }
    img {
      box-shadow: 0 10px 60px 0 rgba(0, 0, 0, .20);
      transition: 0.35s all ease;
    }
    &:hover {
      img {
        box-shadow: none;
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    .img-wrap {
      width: 50%;
      padding: 30px;
    }
  }

  @media (min-width: $screen-md-min) {
    .img-wrap {
      position: absolute;
      padding: 0;
      width: 40%;
    }
  }

  @media (min-width: $screen-lg-min) {
    min-height: 475px;
  }

  @media (min-width: 1600px) {
    min-height: 591px;
  }

}

// Section Spacing
// --------------------------------------------------

$insets: (0, 34px, 50px, 60px, 65px, 80px, 90px, 100px, 110px, 140px, 170px, 205px, 260px);

@include indent-responsive(section, '', (padding-top, padding-bottom), $medias, $insets);
@include indent-responsive(section, top, padding-top, $medias, $insets);
@include indent-responsive(section, bottom, padding-bottom, $medias, $insets);