//- Includes
include ../elements/_ui-post-classic
include ../elements/_ui-pagination-classic

// Blog Classic
section
  +post-classic(cfg.nav.blog.submenu.classic.submenu.singlePost.href, "05/14/2015", "5 Steps to Blog’s Success", "July Mao", "images/users/user-july-mao-70x70.jpg", [
    {"title": "Design", "href": "#"},
    {"title": "UX", "href": "#"},
    {"title": "Marketing", "href": "#"}],
    {
      "type": "thumbnail",
      "thumb": {"src": "images/blog/post-01-570x321.jpg", "width": 570, "height": 321, "alt": ""},
      "target": {"href": cfg.nav.blog.submenu.classic.submenu.singlePost.href}
    })
    p Unfortunately people will not come to your blog just to see what you have published on it. To make sure that your blog becomes a successful one, you have to work on it to attract visitors interested in your content.
    p This can be achieved by serious work on some important aspects. In a word, give people the reason to see what you have to say or offer.

  hr.hr.bg-lighter.offset-top-41.offset-sm-top-66
  .offset-top-41.offset-sm-top-66
    +post-classic(cfg.nav.blog.submenu.classic.submenu.singlePost.href, "05/14/2015", "Making Money Online with Your Computer Only", "John Doe", "images/users/user-john-doe-70x70.jpg", [
      {"title": "Design", "href": "#"},
      {"title": "Events", "href": "#"}])
      p Making money online is a kind of everyone’s dream job. No investments are needed and you can do whatever you need to do when you are in the mood or have free time.Flexible work schedule is something you’ll hardly get working at the office. However, online business rarely starts to bring you money from the very first day. It takes some time as a rule. But once you understand the whole process (like what are your abilities, where to work, for whom to work and so on) you'll be earning money in no time.
  hr.hr.bg-lighter.offset-top-41.offset-sm-top-66
  .offset-top-41.offset-sm-top-66
    +post-classic(cfg.nav.blog.submenu.classic.submenu.singlePost.href, "05/14/2015", "Proper Color Solutions For The Office", "Bernard Show", "images/users/user-bernard-show-70x70.jpg", [
      {"title": "Design", "href": "#"},
      {"title": "UX", "href": "#"},
      {"title": "Marketing", "href": "#"}],
    {
      "type": "video",
      "href": "//www.youtube.com/embed/-AhmuMqZB0s",
      "ratio": "16by9"
    })
      p When it comes to remodeling an office, one of the most important aspects is painting. Any shade of paint can change the complete look of a room as a color has an ability to change a drab and boring room into a stunning one. Many people prefer to paint their homes in serene colors as it relaxes the mind.
      p There are many hues of colors to choose from that match...
  hr.hr.bg-lighter.offset-top-41.offset-sm-top-66
  .offset-top-41.offset-sm-top-66
    +post-classic(cfg.nav.blog.submenu.classic.submenu.singlePost.href, "05/14/2015", "Four Types of Verbal Communication", "Sam Cole", "images/users/user-sam-cole-70x70.jpg", [
      {"title": "Design", "href": "#"},
      {"title": "UX", "href": "#"},
      {"title": "Marketing", "href": "#"}],
      {
        "type": "gallery",
        "images": [
          {
            "type": "thumbnail",
            "thumb": { "src": "images/blog/post-01-570x321.jpg", "width": 570, "height": 321, "alt": ""},
            "target": { "src": "images/blog/post-01-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
          },
          {
            "type": "thumbnail",
            "thumb": { "src": "images/blog/post-02-570x321.jpg", "width": 570, "height": 321, "alt": ""},
            "target": { "src": "images/blog/post-02-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
          },
          {
            "type": "thumbnail",
            "thumb": { "src": "images/blog/post-05-570x321.jpg", "width": 570, "height": 321, "alt": ""},
            "target": { "src": "images/blog/post-05-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
          }
        ]
      })
      p Verbal communication include sounds, words, language, and speech. Speaking is an effective way of communicating and helps in expressing our emotions in words. This form of communication is further classified into four types
      p Intrapersonal Communication - This form of communication is extremely private and restricted to ourselves. It includes the silent conversations we have with ourselves, wherein we juggle roles between the sender and receiver who are processing

  .offset-top-66
    +pagination-classic(1, [{"href": "#"}, {"href": "#"}, {"href": "#"}, {"href": "#"}], {
      "title": "Prev",
      "href": "#"
    }, {"title": "Next", "href": "#"})