// section reasons to get
section.section-66.section-top-50.bg-mantis.section-triangle.section-triangle-bottom.context-dark
  .shell
    .range.range-sm-center
      h2
        span.big  Explore Our Corporate Culture
      .cell-md-8
        p At Intense, we provide career solutions to people interested in conducting broad-scale research and making technological breakthroughs based on them. If you are one of them, learn more about the main points of our corporate culture below.

  +triangle-gradient('rgb(99,189,98)', 'rgb(99,189,98)', "0,0 60,0 29,29", "grad2")

section.section-66.section-sm-0
  .shell
    .range.range-xs-center.range-sm-left
      .cell-xs-10.cell-sm-6.section-image-aside.section-image-aside-right.text-left
        .section-image-aside-img.veil.reveal-sm-block(style="background-image: url(images/pages/careers-01-960x540.jpg)")
        .section-image-aside-body.section-sm-66.inset-sm-right-30
          div
            h3.text-picton-blue 01
          div.offset-top-10
            h2  The Main Corporate Values of Intense
          .offset-top-20
            p The corporate culture of Intense is based on openness, respect and equality regardless of the religion, sex, race, age, etc. These core values help us build a friendly working environment, where all the employees can feel comfortable and significant. We believe that the more comfort you get, the better results you’ll produce.
            p Members of our staff are free to choose working hours themselves, without any limitations. Such a strategy allows us to make the most of each employee’s potential, as they work when they are maximally productive.
            p What you may also find attractive about our corporation is a competitive benefits package. It includes a paid vacation, sick leave and national holidays, medical insurance, gym and swimming pool, parking and mobile phone reimbursement. Our corporate fridge is also full of free snacks and drinks.

    .range.range-xs-center.range-sm-right.offset-top-0
      .cell-xs-10.cell-sm-6.section-image-aside.section-image-aside-left.text-left
        .section-image-aside-img.veil.reveal-sm-block(style="background-image: url(images/pages/careers-02-960x540.jpg)")
        .section-image-aside-body.offset-top-41.offset-sm-top-0.section-sm-66.inset-sm-left-50
          div
            h3.text-picton-blue 02
          div.offset-top-10
            h2  Diversity of Learning Opportunities at Intense
          .offset-top-20
            p When you join our team, you’ll dive into a knowledge-sharing environment. We encourage our employees to attend multiple conferences and workshops held both inside the company and on the outside. Keep in mind that you can take part in conferences as both a listener and speaker.
            p As a part of our benefits package, we also offer multiple courses for you to master new subjects. Our working environment is full of learning opportunities, which can’t help motivating for a steady professional growth.
            p Offices of Intense are located in different corners of the globe, so be ready to travel around the world. To save your budget, we cover all the travel costs including transportation, accommodation, food, and even some leisure activities. Our company gives you a perfect chance to explore the world and immerse in different cultures.

    .range.range-xs-center.range-sm-left.offset-top-0
      .cell-xs-10.cell-sm-6.section-image-aside.section-image-aside-right.text-left
        .section-image-aside-img.veil.reveal-sm-block(style="background-image: url(images/pages/careers-03-960x540.jpg)")
        .section-image-aside-body.offset-top-41.offset-sm-top-0.section-sm-66.inset-sm-right-30
          div
            h3.text-picton-blue 03
          div.offset-top-10
            h2  Top Qualities We Are Looking For
          .offset-top-20
            p Searching for candidates, our HR managers prioritize a number of qualities. To get a job at Intense, you must be a self-motivated person who isn’t afraid of challenges and is ready to work overtime. As we work with multiple innovative technologies, you must be a quick learner. Attention to detail is also important for us, as it is a solid prerequisite for fewer bugs.
            p Our company consists of many teams, that’s why you must be a team player and excellent communicator both in writing and oral speech. Our work is also based on mutual assistance, so be ready to lend a helping hand whenever you’re asked.
            p You are unlikely to find a project manager who wouldn’t appreciate punctuality and discipline. The same goes for PMs of Intense. If you want to build a long-term career at our company, you will have to avoid late arrivals, unnecessary breaks and hanging out in social networks. Also be polite not only with your boss, but also with colleagues and newcomers.

    .range.range-xs-center.range-sm-right.offset-top-0
      .cell-xs-10.cell-sm-6.section-image-aside.section-image-aside-left.text-left
        .section-image-aside-img.veil.reveal-sm-block(style="background-image: url(images/pages/careers-04-960x540.jpg)")
        .section-image-aside-body.offset-top-41.offset-sm-top-0.section-sm-66.inset-sm-left-50
          div
            h3.text-picton-blue 04
          div.offset-top-10
            h2  Check Interview Stages at Intense
          .offset-top-20
            p Whenever you decide to send us your CV, be ready for a job interview that goes in several stages. At the first stage, we’d like to learn about your experience, interests, and expectations. At the end of the interview, you will need to undergo a test allowing us to evaluate your skills.
            p After successful completion of the test, you’ll be invited to the second interview stage. We will arrange a meeting with your future PM to give you a detailed overview of your project and key responsibilities.
            p Next, our team will make a final decision on your joining us. At the last stage of the interview, we will discuss your salary, benefits package, and some legal issues. If we reach an agreement, our HR will take you on an excursion through our office premises.