
//- Includes

include ../elements/_ui-thumbnail-classic
include  ../elements/_ui-rd-parallax

// section my projects
section.section-top-98.section-md-top-110.section-bottom-124
  .shell-wide
    h1 My Projects
    hr.divider.bg-mantis
    .range.range-xs-center.offset-top-30
      .cell-xs-8
        p In my portfolio there are hundreds of successful projects and dozens of satisfied customers. Some of the websites I’ve been working on became profitable startups with thousands of daily visitors. Check out the gallery to learn more about my skills and style.
    .range.range-xs-center.range-lg-left.offset-top-66

      .cell-xs-12.cell-sm-6.cell-lg-4
        .shadow-variant-2
          +thumbnail-classic({
            "title": cfg.themes.restaurant.title,
            "description": cfg.themes.restaurant.desc,
            "thumb": cfg.themes.restaurant.image,
            "target": {"href": cfg.themes.restaurant.href},
            "targetBlank": true
          })

      .cell-xs-12.cell-sm-6.cell-lg-4.offset-top-30.offset-sm-top-0
        .shadow-variant-2
          +thumbnail-classic({
            "title": cfg.themes.photographer.title,
            "description": cfg.themes.photographer.desc,
            "thumb": cfg.themes.photographer.image,
            "target": {"href": cfg.themes.photographer.href},
            "targetBlank": true
          })

      .cell-xs-12.cell-sm-6.cell-lg-4.offset-top-30.offset-lg-top-0
        .shadow-variant-2
          +thumbnail-classic({
            "title": cfg.themes.personalBlog.title,
            "description": cfg.themes.personalBlog.desc,
            "thumb": cfg.themes.personalBlog.image,
            "target": {"href": cfg.themes.personalBlog.href},
            "targetBlank": true
          })

      .cell-xs-12.cell-sm-6.cell-lg-4.offset-top-30
        .shadow-variant-2
          +thumbnail-classic({
            "type": "thumbnail",
            "title": cfg.themes.realEstate.title,
            "description": cfg.themes.realEstate.desc,
            "thumb": cfg.themes.realEstate.image,
            "target": {"href": cfg.themes.realEstate.href},
            "targetBlank": true
          })

      .cell-xs-12.cell-sm-6.cell-lg-4.offset-top-30
        .shadow-variant-2
          +thumbnail-classic({
            "type": "thumbnail",
            "title": cfg.themes.handmade.title,
            "description": cfg.themes.handmade.desc,
            "thumb": cfg.themes.handmade.image,
            "target": {"href": cfg.themes.handmade.href},
            "targetBlank": true
          })

      .cell-xs-12.cell-sm-6.cell-lg-4.offset-top-30
        .shadow-variant-2
          +thumbnail-classic({
            "type": "thumbnail",
            "title": cfg.themes.dentalClinic.title,
            "description": cfg.themes.dentalClinic.desc,
            "thumb": cfg.themes.dentalClinic.image,
            "target": {"href": cfg.themes.dentalClinic.href},
            "targetBlank": true
          })

      .cell-xs-12.cell-sm-6.cell-lg-4.offset-top-30
        .shadow-variant-2
          +thumbnail-classic({
            "type": "thumbnail",
            "title": cfg.themes.financialAdvisor.title,
            "description": cfg.themes.financialAdvisor.desc,
            "thumb": cfg.themes.financialAdvisor.image,
            "target": {"href": cfg.themes.financialAdvisor.href},
            "targetBlank": true
          })

      .cell-xs-12.cell-sm-6.cell-lg-4.offset-top-30
        .shadow-variant-2
          +thumbnail-classic({
            "type": "thumbnail",
            "title": cfg.themes.gym.title,
            "description": cfg.themes.gym.desc,
            "thumb": cfg.themes.gym.image,
            "target": {"href": cfg.themes.gym.href},
            "targetBlank": true
          })

      .cell-xs-12.cell-sm-6.cell-lg-4.offset-top-30
        .shadow-variant-2
          +thumbnail-classic({
            "type": "thumbnail",
            "title": cfg.themes.childCare.title,
            "description": cfg.themes.childCare.desc,
            "thumb": cfg.themes.childCare.image,
            "target": {"href": cfg.themes.childCare.href},
            "targetBlank": true
          })

      .cell-xs-12.cell-sm-6.cell-lg-4.offset-top-30
        .shadow-variant-2
          +thumbnail-classic({
            "type": "thumbnail",
            "title": cfg.themes.jobBoard.title,
            "description": cfg.themes.jobBoard.desc,
            "thumb": cfg.themes.jobBoard.image,
            "target": {"href": cfg.themes.jobBoard.href},
            "targetBlank": true
          })