// Appointment Schedule
+rd-parallax({
  "backgroundSpeed": "0.35",
  "attrType": "media",
  "src": "images/backgrounds/background-19-1920x1272.jpg",
  "htmlSpeed": "0"
})
  section.bg-overlay-white(id="rd-event-calendar-demo")
    .shell-wide.section-98.section-sm-110
      h1 Appointment Schedule
      hr.divider.bg-mantis
      .offset-top-66
        .rd-calendar-fullwidth
          +widget-rd-calendar([
            {
              "date": "05/06/2016",
              "time": [
                "10:00 am",
                "11:00 am",
                "12:00 am",
                "01:00 pm"
              ],
              "title": "",
              "link": "#",
              "bg": "bg-malibu"
            },
            {
              "date": "05/07/2016",
              "time": [
                "10:00 am",
                "11:00 am",
                "12:00 am",
                "01:00 pm"
              ],
              "title": "",
              "link": "#",
              "bg": "bg-malibu"
            },
            {
              "date": "05/08/2016",
              "time": [
                "10:00 am",
                "11:00 am",
                "12:00 am",
                "01:00 pm"
              ],
              "title": "",
              "link": "#",
              "bg": "bg-malibu"
            },
            {
              "date": "05/13/2016",
              "time": [
                "10:00 am",
                "11:00 am",
                "12:00 am",
                "01:00 pm"
              ],
              "title": "",
              "link": "#",
              "bg": "bg-malibu"
            },
            {
              "date": "05/17/2016",
              "time": [
                "10:00 am",
                "11:00 am",
                "12:00 am",
                "01:00 pm"
              ],
              "title": "",
              "link": "#",
              "bg": "bg-malibu"
            },
            {
              "date": "06/06/2016",
              "time": [
                "10:00 am",
                "11:00 am",
                "12:00 am",
                "01:00 pm"
              ],
              "title": "",
              "link": "#",
              "bg": "bg-malibu"
            },
            {
              "date": "06/07/2016",
              "time": [
                "10:00 am",
                "11:00 am",
                "12:00 am",
                "01:00 pm"
              ],
              "title": "",
              "link": "#",
              "bg": "bg-malibu"
            },
            {
              "date": "06/13/2016",
              "time": [
                "10:00 am",
                "11:00 am",
                "12:00 am",
                "01:00 pm"
              ],
              "title": "",
              "link": "#",
              "bg": "bg-malibu"
            },
            {
              "date": "06/17/2016",
              "time": [
                "10:00 am",
                "11:00 am",
                "12:00 am",
                "01:00 pm"
              ],
              "title": "",
              "link": "#",
              "bg": "bg-malibu"
            }
          ])