//- Includes
include ../elements/_ui-carousel-gallery-classic
include ../elements/_ui-rd-map
include ../elements/_ui-table-bootstrap

// Section single project type 2
section.section-top-98.section-sm-top-110.section-bottom-34
  .shell
    h2.text-bold Single Project Variant 3
    hr.divider.bg-mantis
    .offset-sm-top-66
      .range
        .cell-md-7.cell-lg-8
          +carousel-gallery-classic([
            {
              "type": "thumbnail",
              "thumb": {
                "src": "images/portfolio/portfolio-single-01-716x404.jpg",
                "width": 716,
                "height": 404,
                "alt": ""
              },
              "target": {
                "src": "images/portfolio/portfolio-single-01-716x404.jpg",
                "width": 716,
                "height": 404,
                "alt": ""
              }
            },
            {
              "type": "thumbnail",
              "thumb": {
                "src": "images/portfolio/portfolio-single-02-716x404.jpg",
                "width": 716,
                "height": 404,
                "alt": ""
              },
              "target": {
                "src": "images/portfolio/portfolio-single-02-716x404.jpg",
                "width": 716,
                "height": 404,
                "alt": ""
              }
            },
            {
              "type": "thumbnail",
              "thumb": {
                "src": "images/portfolio/portfolio-single-03-716x404.jpg",
                "width": 716,
                "height": 404,
                "alt": ""
              },
              "target": {
                "src": "images/portfolio/portfolio-single-03-716x404.jpg",
                "width": 716,
                "height": 404,
                "alt": ""
              }
            }
          ])

          .text-sm-left.offset-top-50
            h5.text-bold Website Design
            p A website is a medium that connects a person with the world of digital data. With its help users can access information, make purchases, communicate with each other, and do loads of other things.
            p Due to the clever marketing strategy and professional web designing, corporations can grow their client base with ease. On the modern market the competition is very tough, so in order to be a success, businesses experiment with multiple strategies with the goal of coming up with the perfect one.
          .offset-top-30
            +table-bootstrap([
              ['Project details', ''],
              ['Founder, Lead Developer', 'Ronald Oswald'],
              ['Lead Email', 'ronald@demolink.org'],
              ['Date of release', '04/11/2016'],
              ['Last update', '04/23/2016'],
              ['Project site', "https://path-to-project-site.com"]
            ], 'table-striped')

        .cell-md-5.cell-lg-4.text-md-left.inset-md-left-30.offset-top-66.offset-sm-top-0
          .range
            .cell-xs-12.cell-md-push-1.offset-top-41.offset-md-top-0
              p
                span.text-middle.mdi-calendar-today.mdi.text-light.icon.icon-xxs
                = " "
                span April 12, 2016

            .cell-xs-12.offset-top-50.cell-md-push-3
              .unit.unit-md.unit-md-horizontal
                .unit-left
                  img.img-responsive.reveal-inline-block(src="images/users/user-ronald-oswald-140x140.jpg" width=140 height=140 alt="")
                .unit-body
                  div
                    h5.text-primary.text-bold Ronald Oswald
                  .offset-top-10
                    address.contact-info.text-md-left
                      ul.list-unstyled.p
                        li.reveal-block
                          span.icon.icon-xxs.mdi.mdi-phone.text-middle
                          = " "
                          a.reveal-inline-block.text-middle(href="callto:#") 1-800-7650-986
                        li.reveal-block
                          span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                          = " "
                          a.reveal-inline-block.text-middle(href="mailto:#") ronald@demolink.org

            .cell-xs-12.cell-md-push-4.offset-top-20
              a(href=cfg.nav.pages.submenu.contactMe.href).btn.btn-primary contact an author
              .offset-top-10
                a(href=cfg.buyLink).btn.btn-info Buy Now




