// FAQ
section.text-left
  .shell
    .range
      .cell-md-6
        h3 General Questions #[small.text-dark (4)]
        p All you need to know about Intense design studio and how to get Support.
        .offset-sm-top-34
          +accordion-bootstrap('accordion-1',
          [{
            'headerId': 'headingOne',
            'contentId': 'collapseOne',
            'title': 'Who can take advantage of Intense?',
            'description': 'Intense is a universal solution for professional developers, designers and end users. This powerful HTML template can be used to build sites of any type, be it a blogger’s resource or professional portfolio. Intense meets all the modern quality standards, which will give you a solid basis to compete with rivals on the web.'
          },
            {
              'headerId': 'headingTwo',
              'contentId': 'collapseTwo',
              'title': 'How can web developers benefit from Intense?',
              'description': 'Intense is a flexible instrument for professional developers. It comes packed with 250+ pre-designed pages, 20 premium plugins, 50+ scalable shortcodes, and an extended Bootstrap toolkit. Moreover, Intense is based on a CSS Flex grid system and provides full Sass support.'
            },
            {
              'headerId': 'headingThree',
              'contentId': 'collapseThree',
              'title': 'What makes Intense special for web designers?',
              'description': 'Intense offers a huge UI kit for web designers. It includes 150 PSD files, 2000+ font icons, unlimited skins and colors, parallax and hover effects, canvas animations, and much more. All these features can streamline the workflow and turn any project into an eye candy.'
            },
            {
              'headerId': 'headingFour',
              'contentId': 'collapseFour',
              'title': 'Does Intense have a design for my specific niche?',
              'description': 'The package of Intense has child templates intended for a variety of niches. Whether you run a model agency, restaurant or consulting firm, you can choose a ready-made solution for your own business. The number of child themes is constantly growing to embrace a wider range of niches.'
            }])
      .cell-md-6.offset-top-66.offset-md-top-0
        h3 Other Questions #[small.text-dark (7)]
        p The answers on most common questions are described bellow.
        .offset-sm-top-34
          +accordion-bootstrap('accordion-2',
          [{
            'headerId': 'headingOne-2',
            'contentId': 'collapseOne-2',
            'title': 'What does Intense offer for my marketing needs?',
            'description': 'Intense has effective instruments for your marketing campaigns. Its package contains a number of landing and newsletter templates designed with proven marketing tactics in mind.'
          },
            {
              'headerId': 'headingTwo-2',
              'contentId': 'collapseTwo-2',
              'title': 'What pages would Intense have in its full package?',
              'description': 'Intense gives an access to 250+ ready-made pages for multiple purposes. Among them, there are 10+ homepages, 10+ one-page designs, 20+ header and 10+ footer styles, 20+ extra pages, 10+ event templates, 20+ portfolio layouts, 20+ blog templates, and many others.'
            },
            {
              'headerId': 'headingThree-2',
              'contentId': 'collapseThree-2',
              'title': 'Can I edit flash template in Swish?',
              'description': 'Quis detracto in vel, ad mucius equidem mel, vis cu melius alienum inciderint. Convenire mnesarchum definitionem duo ut, in sea quot magna ceteros, ex his quando corpora splendide. Purto zril nobis ne est, eu assum platonem intellegebat qui. Ex ridens nominati partiendo quo, mei eu tota verear adversarium.'
            },
            {
              'headerId': 'headingFour-2',
              'contentId': 'collapseFour-2',
              'title': 'Is Intense an eCommerce-ready solution?',
              'description': 'Yes, you can use Intense to give a head start to a web store. It is integrated with a shopping cart and includes 10+ eCommerce templates for building different store pages.'
            },
            {
              'headerId': 'headingFive-2',
              'contentId': 'collapseFive-2',
              'title': 'What is Intense Wizard all about?',
              'description': 'This smart tool can generate the most suitable template for each user. Based on his / her interests and needs, this tool identifies the right topic and compiles a set of necessary pages.'
            },
            {
              'headerId': 'headingSix-2',
              'contentId': 'collapseSix-2',
              'title': 'Are there any plugins in the package of Intense?',
              'description': 'Intense comes integrated with 20+ premium plugins for different purposes. Whether you want to add an event calendar or mail form to your site, you choose the right plugin from the template’s pack.'
            },
            {
              'headerId': 'headingSeven-2',
              'contentId': 'collapseSeven-2',
              'title': 'What does LTS mean for me?',
              'description': 'LTS (long-term support) means that your design opportunities will grow for free. Intense will get regular updates in the form of new child themes, pages, and features, which will let you keep pace with all the web innovations.'
            }])
