//- Include
include ../elements/_ui-call-to-action-type-2
include ../elements/_ui-button-ansi

// Buy Now
section
  +call-to-action-type-2("Intense is exactly what you need", cfg.buyLink, "btn-lg btn-default btn-anis-effect", "mdi mdi-cart-outline", "btn-icon-left", "Buy intense now", "bg-mantis")