//- Includes
include ../elements/_ui-thumbnail-winston
include ../elements/_ui-isotope
// Portfolio winston effect
section.section-98.section-sm-110
  .shell
    .offset-top-34
      +isotope(['All', 'Gallery 1', 'Gallery 2'],{
        "group": "gallery",
        "layout": "fitRows",
        "alignClass": "isotope-filters-horizontal"
      }, "isotope-1")
        .row(data-photo-swipe-gallery="gallery")
          .col-xs-12.col-sm-6.isotope-item(data-filter="Gallery 2")
            +thumbnail-winston({
              "type": "thumbnail",
              "title": "Perfect Solution",
              "description": [ "Best Ideas", "Complex Solution", "Meaningful Design" ],
              "thumb": { "src": "images/portfolio/portfolio-02-570x420.jpg", "width": 570, "height": 420, "alt": ""},
              "target": { "src": "images/portfolio/portfolio-02-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}

            })
          .col-xs-12.col-sm-6.isotope-item(data-filter="Gallery 1")
            +thumbnail-winston({
              "type": "thumbnail",
              "title": "New Vision",
              "description": [ "Best Ideas", "Complex Solution", "Meaningful Design" ],
              "thumb": { "src": "images/portfolio/portfolio-03-570x420.jpg", "width": 570, "height": 420, "alt": ""},
              "target": { "src": "images/portfolio/portfolio-03-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}

            })
          .col-xs-12.col-sm-6.isotope-item(data-filter="Gallery 2")
            +thumbnail-winston({
              "type": "thumbnail",
              "title": "Something we care about",
              "description": [ "Best Ideas", "Complex Solution", "Meaningful Design" ],
              "thumb": { "src": "images/portfolio/portfolio-04-570x420.jpg", "width": 570, "height": 420, "alt": ""},
              "target": { "src": "images/portfolio/portfolio-04-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}

            })
          .col-xs-12.col-sm-6.isotope-item(data-filter="Gallery 1")
            +thumbnail-winston({
              "type": "thumbnail",
              "title": "Product made for you",
              "description": [ "Best Ideas", "Complex Solution", "Meaningful Design" ],
              "thumb": { "src": "images/portfolio/portfolio-05-570x420.jpg", "width": 570, "height": 420, "alt": ""},
              "target": { "src": "images/portfolio/portfolio-05-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
            })
