//- Includes
include ../elements/_ui-text-rotator.pug

// Welcome
section.section-50.section-sm-top-110.section-sm-bottom-98.section-mock-up(id="home-section-welcome")
  .shell
    .range.range-xs-center
      .cell-md-10
        h3 Intense is the
          +text-rotator(
          'most complex,most powerful,most flexible',
          {
            "dataTextClass": " text-mantis text-ubold",
            "dataEnable": "1200",
            "dataRotateInterval": "3000",
            "dataRotateAnimation": "fadeInUp, fadeOutUp"
          })
          | &nbsp;Bootstrap theme on TemplateMonster
        p Join the #[span.text-bold.text-picton-blue 205,000+] Satified Customers Today at TemplateMonster.com. Created by the industry leaders Intense is a comprehensive set of  tools which are super easy to pick up and run. It gives you a huge leg up to create your own beautiful site.  Powerful options & tools,  unlimited designs, responsive framework and amazing support are the reasons for our customers to fall in love.