//- Includes
include ../elements/_ui-box-icon-type-4

// What we do
section.section-98.section-sm-110
  .shell
    h1 What we do
    hr.divider.bg-mantis
    p.inset-left-11p.inset-right-11p We will take care of your web design project regardless of its level of complexity. We are not afraid of difficult tasks – hundreds of our satisfied clients can prove that.
    .range.offset-top-66
      .cell-sm-8.cell-sm-preffix-2.cell-md-4.cell-md-preffix-0
        +box-icon-type-4("icon-lg icon-default icon-filled mdi mdi-cellphone-link")
          h4.text-bold.offset-top-20 Fully Responsive Design
          p.
            Intense looks perfect on any modern device, be it a laptop, a smartphone, or a tablet.

      .cell-sm-8.cell-sm-preffix-2.cell-md-4.cell-md-preffix-0.offset-top-66.offset-md-top-0
        +box-icon-type-4("icon-lg icon-default icon-filled mdi mdi-chart-line")
          h4.text-bold.offset-top-20 Social Integration
          p.
            Intense is integrated with such popular social networks as Facebook, Twitter, Instagram and Flickr.

      .cell-sm-8.cell-sm-preffix-2.cell-md-4.cell-md-preffix-0.offset-top-66.offset-md-top-0
        +box-icon-type-4("icon-lg icon-default icon-filled mdi mdi-pen")
          h4.text-bold.offset-top-20 150+ Predesigned Pages
          p.
            Intense is a paradise for developers. Its initial release version comes shipped with 150+ responsive pages for any taste.

      .range-spacer.veil.reveal-md-inline-block.offset-top-41.offset-md-top-66

      .cell-sm-8.cell-sm-preffix-2.cell-md-4.cell-md-preffix-0.offset-top-66.offset-md-top-0
        +box-icon-type-4("icon-lg icon-default icon-filled mdi mdi-timetable")
          h4.text-bold.offset-top-20 Regular Content Updates
          p.
            New child themes, skins and predesigned pages are being released 2-3 times per month. Intense owners get them for free.

      .cell-sm-8.cell-sm-preffix-2.cell-md-4.cell-md-preffix-0.offset-top-66.offset-md-top-0
        +box-icon-type-4("icon-lg icon-default icon-filled mdi mdi-verified")
          h4.text-bold.offset-top-20 Lots of Child Themes
          p.
            A variety of niche-specific designs, which expand the possibilities of this template.

      .cell-sm-8.cell-sm-preffix-2.cell-md-4.cell-md-preffix-0.offset-top-66.offset-md-top-0
        +box-icon-type-4("icon-lg icon-default icon-filled mdi mdi-video")
          h4.text-bold.offset-top-20 200+ PSD Files
          p.
            An impressive UI kit comprising 200+ layered PSD source files will be a useful addition to every designer’s toolbox.

    hr.bg-lightest.offset-top-66

    .range.range-xs-middle.text-md-left
      .cell-md-6
        img.img-responsive.center-block(src="images/moqups/moqup-home-both.jpg" width="570" height="368" alt="")
      .cell-md-6
        h1 Why choose us?
        hr.divider.bg-mantis.hr-md-left-0
        p We're dedicated to giving you the best service possible by keeping our solutions friendly, simple and effective. If you don’t trust our word for it, just ask the people who have successfully launched their websites designed by us.
        p Our core principle is absolute transparency in everything. Come any time to check how your project is doing – our specialists will inform you about the progress.
        a.btn.btn-primary.offset-top-14(href= cfg.nav.pages.submenu.aboutUs.href) Read More