//- Includes
include ../elements/_ui-testimonials-type-2

// What clients Say?
section.section-98.section-sm-110
  .shell
    h1 What clients Say?
    hr.divider.divider-md.bg-mantis
    .range.range-xs-center.offset-top-66
      .cell-sm-8.cell-lg-4
        +testimonials-type-2(
        {
          "width": 80,
          "height": 80,
          "src": "images/users/user-alex-merphy-80x80.jpg",
          "alt": ""
        },
        "Alex Merphy",
        "FREELANCE DEVELOPER",
        "Great service and reasonable prices. The one thing I am sure about right now is that my next web startup will be developed by Intense."
        )
      .offset-top-41.cell-sm-8.cell-lg-4.offset-lg-top-0
        +testimonials-type-2(
        {
          "width": 80,
          "height": 80,
          "src": "images/users/user-amanda-smith-80x80.jpg",
          "alt": ""
        },
        "Amanda Smith",
        "SALES, AT THEMES.COM",
        "They’ve developed a large multipage website with lots of additional functions in just two weeks."
        )
      .offset-top-41.cell-sm-8.cell-lg-4.offset-lg-top-0
        +testimonials-type-2(
        {
          "width": 80,
          "height": 80,
          "src": "images/users/user-sam-cole-80x80.jpg",
          "alt": "alisa milano"
        },
        "Sam Cole",
        "FOUNDER, AT YOURTAX.COM",
        "I’m extremely satisfied with their work. My new website looks great and runs smoothly. The support is excellent too."
        )