//- Includes
include ../elements/_ui-post-timeline
include ../elements/_ui-pagination-classic

section
  .blog-archive-year
    +post-timeline(cfg.nav.blog.submenu.wide.submenu.singlePost.href, "2016", "Feb 18", "The story of sports jersey, the most popular youth wear.", null, [
      {"title": "lifestyle", "href": "#"},
      {"title": "Beauty", "href": "#"}])

    +post-timeline(cfg.nav.blog.submenu.wide.submenu.singlePost.href, null, "Feb 17", "Top 10 events to visit in the USA this spring.", null, [
      {"title": "News", "href": "#"},
      {"title": "Events", "href": "#"}])

    +post-timeline(cfg.nav.blog.submenu.wide.submenu.singlePost.href, null, "Jan 8", "The best music for your precious moments.", null, [
      {"title": "Moments", "href": "#"},
      {"title": "Music", "href": "#"}])

  .blog-archive-year.offset-top-66.offset-sm-top-50
    +post-timeline(cfg.nav.blog.submenu.wide.submenu.singlePost.href, "2015", "Dec 25", "Wandering about the streets of Seattle in the evening.", null, [
      {"title": "lifestyle", "href": "#"},
      {"title": "Buity", "href": "#"}])

    +post-timeline(cfg.nav.blog.submenu.wide.submenu.singlePost.href, null, "Jun 9", "How gadgets can benefit your lifestyle.", null, [
      {"title": "lifestyle", "href": "#"},
      {"title": "Story", "href": "#"}])

  .blog-archive-year.offset-top-66.offset-sm-top-50
    +post-timeline(cfg.nav.blog.submenu.wide.submenu.singlePost.href, "2014", "May 17", "5 young and highly talented stand-up comedians of 2015.", null, [
      {"title": "lifestyle", "href": "#"},
      {"title": "Video", "href": "#"}])

    +post-timeline(cfg.nav.blog.submenu.wide.submenu.singlePost.href, null, "Oct 9", "Ways of free and effective promotion for your business.", null, [
      {"title": "lifestyle", "href": "#"},
      {"title": "Business", "href": "#"}])

  .offset-top-66
    +pagination-classic(1, [{"href": "#"}, {"href": "#"}, {"href": "#"}, {"href": "#"}], {
      "title": "Prev",
      "href": "#"
    }, {"title": "Next", "href": "#"})