// Flot Charts
section.section-98.section-sm-top-110.section-sm-bottom-124.bg-lighter.section-graph-demonstration
  .container
    h1 Flot Charts
    hr.divider.bg-white.bg-mantis
    .offset-top-50
      div
        dl
          dt.text-darker.reveal-xs-inline-block.text-regular
            | Author:
          dd.reveal-xs-inline-block.text-dark.text-gray
            | David Schnur
      div
        dl
          dt.text-darker.reveal-xs-inline-block.text-regular
            | License:
          dd.reveal-xs-inline-block.text-dark.text-gray
            | MIT
      div
        dl
          dt.text-darker.reveal-xs-inline-block.text-regular
            | Website:
          dd.reveal-xs-inline-block
            a(href="http://www.flotcharts.org/").text-butterfly-bush http://www.flotcharts.org
    -
      //-Define custom JSON stringify function
      function JsonStringify(jsonObject) {
        return JSON.stringify(jsonObject, function(key, value) {
          if (typeof value === 'function') {
            return value.toString();
          } else {
            return value;
          }
        });
      }

      //-Define Grid object for Flot Charts Plugin
      var gridObject = {
        grid: {
          show: true,
          aboveData: true,
          color: "#bbbbbb",
          labelMargin: 15,
          axisMargin: 0,
          borderWidth: 0,
          borderColor: null,
          minBorderMargin: 5,
          clickable: true,
          hoverable: true,
          autoHighlight: true,
          mouseActiveRadius: 20,
        },
        tooltip: true,
        //activate tooltip
        tooltipOpts: {
          content: "%x : %y.0",
          shifts: {
            x: -30,
            y: -50
          },
          defaultTheme: false
        }
      }


    .offset-top-66
      +isotope(
      [
        'Bar Chart', 'Spine Chart', 'Matrix Chart', 'Area Chart', 'Line Chart Area', 'Step Chart', 'Pie & Donut Charts'],
      {
        "group": "flotChart",
        "layout": "fitRows",
        "alignClass": "isotope-filters-vertical",
        "title": ' '
      }, "isotope-flot", '', "isotope-filter-collapse-lg")
        .row
          //Isotope item
          .col-xs-12.isotope-item(data-filter="Bar Chart")
            //- Define object for "Bar Chart"
            -
               var barChartObject = [{
                 data: [
                   [0, 10],
                   [4, 8],
                   [8, 4],
                   [12, 22],
                   [16, 25],
                   [20, 14],
                   [24, 10],
                   [28, 16],
                   [32, 10],
                   [36, 8],
                   [40, 10]
                 ],
                 bars: {
                   show: true,
                   fill: 1,
                   fillColor: {
                     colors: [{
                      opacity: 0.8
                     }, {
                      opacity: 1
                     }]
                   }
                 },
                 color: '#695999'
                 }, {
                 data: [
                   [1, 7],
                   [5, 12],
                   [9, 19],
                   [13, 9],
                   [17, 11],
                   [21, 33],
                   [25, 4],
                   [29, 25],
                   [33, 7],
                   [37, 12],
                   [41, 14]
                 ],
                 bars: {
                   show: true,
                   fill: 1,
                   fillColor: {
                     colors: [{
                      opacity: 0.8
                     }, {
                      opacity: 1
                     }]
                   }
                 },
                 color: '#79ccf2'
                 }, {
                 data: [
                   [2, 12],
                   [6, 19],
                   [10, 10],
                   [14, 4],
                   [18, 18],
                   [22, 25],
                   [26, 18],
                   [30, 11],
                   [34, 12],
                   [38, 19],
                   [42, 18]
                 ],
                 bars: {
                   show: true,
                   fill: 1,
                   fillColor: {
                     colors: [{
                      opacity: 0.8
                     }, {
                      opacity: 1
                     }]
                   }
                 },
                 color: '#42b574'
               }]

            // Bar Chart
            .bg-white.shadow-drop-sm.section-34.inset-left-10.inset-right-10.inset-md-left-30.inset-md-right-30.section-graph-demonstration
              div
                h3(class="text-left text-darker") Bar Chart
              .offset-top-41.graph-content
                .flot-chart(data-graph-object= JsonStringify(barChartObject), data-grid-object= JsonStringify(gridObject), style='width: 100%; height: 370px; margin: 0 auto')

          //Isotope item
          .col-xs-12.isotope-item(data-filter="Spine Chart")
            //- Define object for "Spine Chart"
            -
              var d1 = [];

              for (var i = 0; i < 14; i += 0.5) {
                d1.push([i, Math.sin(i)]);
              }

              var splineChartObject = [
                {
                 data: d1,
                 lines: {
                   show: true,
                   fill: true
                 },
                 color: '#46b777'
                }
              ]

            // Spine Chart
            .bg-white.shadow-drop-sm.section-34.inset-left-10.inset-right-10.inset-md-left-30.inset-md-right-30.section-graph-demonstration
              div
                h3(class="text-left text-darker") Spine Chart
              .offset-top-41.graph-content
                .flot-chart(data-graph-object= JsonStringify(splineChartObject), data-grid-object= JsonStringify(gridObject), style='width: 100%; height: 370px; margin: 0 auto')

          //Isotope item
          .col-xs-12.isotope-item(data-filter="Matrix Chart")
            //- Define object for "Matrix Chart"
            -
              var d3 = [];
              for (var i = 0; i < 14; i += 0.6) {
                d3.push([i, Math.cos(i)]);
              }

              var d3b = [];
              for (var i = 0; i < 14; i += 0.6) {
                d3b.push([i, Math.sin(i)]);
              }

              var matrixChartObject = [
                {
                  data: d3,
                  points: {
                    show: true,
                    radius: 4
                  },
                  lines: {
                    show: true
                  },
                  color: '#46b777'
                }, {
                  data: d3b,
                  points: {
                    show: true,
                    radius: 4
                  },
                  lines: {
                    show: true
                  },
                  color: '#80cff3'
                }
              ]

            // Matrix Chart
            .bg-white.shadow-drop-sm.section-34.inset-left-10.inset-right-10.inset-md-left-30.inset-md-right-30.section-graph-demonstration
              div
                h3(class="text-left text-darker") Matrix Chart
              .offset-top-41.graph-content
                .flot-chart(data-graph-object= JsonStringify(matrixChartObject), data-grid-object= JsonStringify(gridObject), style='width: 100%; height: 370px; margin: 0 auto')

          //Isotope item
          .col-xs-12.isotope-item(data-filter="Area Chart")
            //- Define object for "Area Chart"
            -
              var d4 = [];
              for (var i = 0; i < 14; i += 0.1) {
                d4.push([i, Math.sqrt(i * 10)]);
              }

              var areaChartObject = [
                {
                  data: d4,
                  lines: {
                    show: true,
                    fill: true
                  },
                  color: '#42b574'
                }
              ]

            // Area Chart
            .bg-white.shadow-drop-sm.section-34.inset-left-10.inset-right-10.inset-md-left-30.inset-md-right-30.section-graph-demonstration
              div
                h3(class="text-left text-darker") Area Chart
              .offset-top-41.graph-content
                .flot-chart(data-graph-object= JsonStringify(areaChartObject), data-grid-object= JsonStringify(gridObject), style='width: 100%; height: 370px; margin: 0 auto')

          //Isotope item
          .col-xs-12.isotope-item(data-filter="Line Chart Area")
            //- Define object for "Line Area Chart"
            -
              var d5 = [];
              for (var i = 0; i < 14; i += 0.5) {
                d5.push([i, Math.sqrt(i)]);
              }

              var areaChartObject = [
                {
                  data: d5,
                  lines: {
                    show: true
                  },
                  points: {
                    show: true
                  },
                  color: '#f54b0f'
                }
              ]

            // Line Area Chart
            .bg-white.shadow-drop-sm.section-34.inset-left-10.inset-right-10.inset-md-left-30.inset-md-right-30.section-graph-demonstration
              div
                h3(class="text-left text-darker") Line Area Chart
              .offset-top-41.graph-content
                .flot-chart(data-graph-object= JsonStringify(areaChartObject), data-grid-object= JsonStringify(gridObject), style='width: 100%; height: 370px; margin: 0 auto')

          //Isotope item
          .col-xs-12.isotope-item(data-filter="Step Chart")
            //- Define object for "Step Chart"
            -
              var d6 = [];
              for (var i = 0; i < 14; i += 0.5 + Math.random()) {
                d6.push([i, Math.sqrt(2 * i + Math.sin(i) + 5)]);
              }

              var areaChartObject = [
                {
                  data: d6,
                  lines: {
                    show: true,
                    steps: true
                  },
                  color: '#695999'
                }
              ]

            // Step Chart
            .bg-white.shadow-drop-sm.section-34.inset-left-10.inset-right-10.inset-md-left-30.inset-md-right-30.section-graph-demonstration
              div
                h3(class="text-left text-darker") Step Chart
              .offset-top-41.graph-content
                .flot-chart(data-graph-object= JsonStringify(areaChartObject), data-grid-object= JsonStringify(gridObject), style='width: 100%; height: 370px; margin: 0 auto')

          //Isotope item
          .col-xs-12.isotope-item(data-filter="Pie & Donut Charts")
            //- Define object for "Pie & Donut Charts"
            -
              var pieGridObject1 = {
                series: {
                  pie: {
                    innerRadius: 0.5,
                    show: true,
                    startAngle: 0
                  }
                }
              }

              var pie1ChartObject = [
                {data: 20, color: '#42b574'},
                {data: 45, color: '#695999'},
                {data: 35, color: '#79ccf2'}
              ]

              var pieGridObject2 = {
                series: {
                  pie: {
                    innerRadius: 0,
                    show: true,
                  }
                },
              }

              var pie2ChartObject = [
                {data: 6, color: '#695999'},
                {data: 1.8, color: '#42b574'},
                {data: 3, color: '#79ccf2'},
                {data: 4, color: '#f5bf2f'}
              ]

            // Pie & Donut Charts
            .bg-white.shadow-drop-sm.section-34.inset-left-10.inset-right-10.inset-md-left-30.inset-md-right-30
              div
                h3(class="text-left text-darker") Pie & Donut Charts
              .row.section-bottom-50.offset-md-top-30
                .col-xs-12.col-md-6
                  .flot-chart(data-graph-object= JsonStringify(pie1ChartObject), data-grid-object= JsonStringify(pieGridObject1), style='width: 100%; height: 300px; margin: 0 auto')
                .col-xs-12.col-md-6
                  .flot-chart(data-graph-object= JsonStringify(pie2ChartObject), data-grid-object= JsonStringify(pieGridObject2), style='width: 100%; height: 300px; margin: 0 auto')

