extends  ../_skeleton

//- Includes
include ../elements/_ui-rd-navbar-logo-center

//-Title
block title
  title= cfg.brand.name

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-logo-center(
    'rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
      cfg.brand.logo,
      cfg.nav.home,
      cfg.nav
    )

    include ../sections/_section-unique-creations

  // Page Content
  main.page-content

    include ../sections/_section-our-shop
    include ../sections/_section-upcoming-workshops
    include ../sections/_section-latest-blog-posts
    include ../sections/_section-artists-rating

  // Page Footers
  include ../sections/_section-footer-variant-4
