extends  ../_skeleton

//- Includes
include ../elements/_ui-rd-navbar-logo-center
include  ../elements/_ui-breadcrumb-modern

//- Title
block title
  title= cfg.nav.blog.submenu.searchResults.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-logo-center(
    'rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.blog.submenu.blogPost,
    cfg.nav
    )

  +breadcrumb-modern("Search Results", {
    0: {
      "type": "link",
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "type": "link",
      "title": cfg.nav.blog.submenu.searchResults.title,
      "href": cfg.nav.blog.submenu.searchResults.href
    }
  }, "images/background-1-1920x651.jpg")

  // Page Content
  main.page-content.section-98.section-sm-124
    .shell

      +widget-form-search("input-sm", "form-label-sm", "search-results")

      .rd-search-results.offset-top-66



  // Page Footers
  include ../sections/_section-footer-variant-4