extends  ../_skeleton

//- Includes
include ../elements/_ui-rd-navbar-logo-center
include  ../elements/_ui-breadcrumb-modern
include ../elements/_ui-pagination-classic
include ../elements/_widget-shop-panel
include ../elements/_ui-product-grid-type-2

//-Title
block title
  title= cfg.nav.shop.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-logo-center(
    'rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.shop,
    cfg.nav
    )

  +breadcrumb-modern("Shop", {
    0: {
      "type": "link",
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "type": "link",
      "title": cfg.nav.shop.title,
      "href": cfg.nav.shop.href
    }
  }, "images/background-1-1920x651.jpg")

  // Page Content
  main.page-content.section-top-98.section-sm-124
    .shell
      .range
        .cell-md-9

          // Shop Grid View

          +widget-panel-shop("#", "#", 'grid')

          .range.range-xs-center
            .cell-xs-8.cell-sm-6.cell-lg-4
              +product-grid-type-2({
                "title": "Artist Paint Brush Set Nylon Hair Oil Painting Supplies",
                "link": cfg.nav.shop.submenu.singleProduct.href,
                "brand": null,
                "price": [
                  "219.00",
                  "124.00"
                ],
                "image": [
                  {
                    "src": "images/product-02-232x229.png",
                    "alt": ""
                  }
                ],
                "label": {
                  "adClass": "label-info",
                  "text": "New"
                }
              })
            .cell-xs-8.cell-sm-6.cell-lg-4.offset-top-41.offset-sm-top-0
              +product-grid-type-2({
                "title": "Castle Art Supplies Acrylic Paint Set Pack of 12 Colors",
                "link": cfg.nav.shop.submenu.singleProduct.href,
                "brand": null,
                "price": "289.00",
                "image": [
                  {
                    "src": "images/product-03-217x215.png",
                    "alt": ""
                  }
                ],
                "label": {
                  "adClass": "label-danger",
                  "text": "Sale"
                }
              })
            .cell-xs-8.cell-sm-6.cell-lg-4.offset-top-41.offset-lg-top-0
              +product-grid-type-2({
                "title": "Color Set Marco Renoir Fine Art Drawing Oil Base Pencils",
                "link": cfg.nav.shop.submenu.singleProduct.href,
                "brand": null,
                "price": [
                  "219.00",
                  "189.00"
                ],
                "image": [
                  {
                    "src": "images/product-04-229x223.png",
                    "alt": ""
                  }
                ],
                "label": {
                  "adClass": "label-info",
                  "text": "New"
                }
              })
            .cell-xs-8.cell-sm-6.cell-lg-4.offset-top-41
              +product-grid-type-2({
                "title": "95 Piece Wood Box Easel Painting Set 12 tubes",
                "link": cfg.nav.shop.submenu.singleProduct.href,
                "brand": null,
                "price": [
                  "219.00",
                  "124.00"
                ],
                "image": [
                  {
                    "src": "images/product-04-212x221.png",
                    "alt": ""
                  }
                ],
                "label": {
                  "adClass": "label-danger",
                  "text": "Sale"
                }
              })
            .cell-xs-8.cell-sm-6.cell-lg-4.offset-top-41.offset-md-top-50
              +product-grid-type-2({
                "title": "Art Supplies Value Pack Includes 12 Acrylic Paints",
                "link": cfg.nav.shop.submenu.singleProduct.href,
                "brand": null,
                "price": "289.00",
                "image": [
                  {
                    "src": "images/product-06-226x227.png",
                    "alt": ""
                  }
                ],
                "label": {
                  "adClass": "label-info",
                  "text": "New"
                }
              })
            .cell-xs-8.cell-sm-6.cell-lg-4.offset-top-41.offset-md-top-50
              +product-grid-type-2({
                "title": "Marco 72 Colors Art Drawing Oil Base Pencils-Set",
                "link": cfg.nav.shop.submenu.singleProduct.href,
                "brand": null,
                "price": [
                  "219.00",
                  "189.00"
                ],
                "image": [
                  {
                    "src": "images/product-07-231x230.png",
                    "alt": ""
                  }
                ],
                "label": {
                  "adClass": "label-danger",
                  "text": "Sale"
                }
              })

          .offset-top-66
            +pagination-classic(1, [{"href": "#"}, {"href": "#"}, {"href": "#"}], {
              "title": "Prev",
              "href": "#"
            }, {"title": "Next", "href": "#"})


        .cell-md-3.offset-top-66.offset-md-top-0
          // Section Shop Sidebar
          aside.text-left
            .range
              .cell-xs-6.cell-md-12
                // Categories
                h6.text-uppercase.text-spacing-60 Categories
                div.text-subline
                div.offset-top-20
                  label.checkbox.reveal-inline-block
                    input(name="input-group-category", value="woman", type="checkbox")
                    | Handmade #[span.text-dark (37)]
                div.offset-top-10
                  label.checkbox.reveal-inline-block
                    input(name="input-group-category", value="dresses", type="checkbox")
                    | Scrapbooking #[span.text-dark (211)]
                div.offset-top-10
                  label.checkbox.reveal-inline-block
                    input(name="input-group-category", value="skirts", type="checkbox")
                    | Woodwork #[span.text-dark (12)]
                div.offset-top-10
                  label.checkbox.reveal-inline-block
                    input(name="input-group-category", value="coats", type="checkbox")
                    | Textile #[span.text-dark (7)]
                div.offset-top-10
                  label.checkbox.reveal-inline-block
                    input(name="input-group-category", value="top", type="checkbox")
                    | Tools and Materials #[span.text-dark (15)]

              .cell-xs-6.cell-md-12
                // Brands
                h6.offset-top-41.offset-xs-top-0.offset-md-top-41.text-uppercase.text-spacing-60 Brands
                div.text-subline
                div.offset-top-20
                  label.checkbox.reveal-inline-block
                    input(name="input-group-brands", value="apc", type="checkbox")
                    | Koh-i-Noor #[span.text-dark (37)]
                div.offset-top-10
                  label.checkbox.reveal-inline-block
                    input(name="input-group-brands", value="armani", type="checkbox")
                    | Pilot #[span.text-dark (211)]
                div.offset-top-10
                  label.checkbox.reveal-inline-block
                    input(name="input-group-brands", value="loro", type="checkbox")
                    | Pentel #[span.text-dark (12)]
                div.offset-top-10
                  label.checkbox.reveal-inline-block
                    input(name="input-group-brands", value="coat", type="checkbox")
                    | Platinum #[span.text-dark (7)]
                div.offset-top-10
                  label.checkbox.reveal-inline-block
                    input(name="input-group-brands", value="topiro", type="checkbox")
                    | Sakura  #[span.text-dark (15)]




  // Page Footers
  include ../sections/_section-footer-variant-4