//- Post Event
//- url - expanded post link
//- date - publish date
//- time - publish time
//- title - Post title
//- media - {media} object

include ../elements/_ui-thumbnail-classic
include ../elements/_ui-carousel-gallery-classic
include ../elements/_ui-video-embed
include ../elements/_ui-soundcloud-player-classic

mixin post-event(url, date, time, title, media)
  // Post Event
  article.post.post-classic
    // Post media
    if media
      header.post-media
        case media.type
          when "gallery"
            +carousel-gallery-classic(media.images)
          when "soundcloud"
            +soundcloud-player-classic(media)
          when "video"
            +video-embed(media)
          when "thumbnail"
            //- TODO: Remove this wrap on photoswipe init fix
            div(data-photo-swipe="gallery")
              +thumbnail-classic(media)
          default
            = ""


    // Post content
    section.post-content.text-left(class= media? "offset-top-20": "")
      .post-meta
        ul.list-inline.list-inline-sm
          li
            span.text-middle.icon-xxs.mdi.mdi-calendar
            time(datetime="2016-01-01").text-middle.small= date
          li
            span.text-middle.icon-xxs.mdi.mdi-clock
            time(datetime="2016-01-01").text-middle.small= time

      // Post Title
      h3.offset-top-10.text-uppercase.text-light
        a(href=url)= title

      // Post Body
      .post-body
        block