
mixin widget-form-contact()
  // RD Mailform 
  form.rd-mailform.offset-top-34.offset-md-top-0.text-left(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
    .form-group
      label.form-label.form-label-sm(for="footer-v2-name") Name:
      input#footer-v2-name.form-control.input-sm.form-control-impressed(type="text" name="name")

    .form-group.offset-top-20
      label.form-label.form-label-sm(for="footer-v2-email") Your Email*:
      input#footer-v2-email.form-control.input-sm.form-control-impressed(type="text" data-constraints="@Required" name="email")

    .form-group.offset-top-20
      label.form-label.form-label-sm(for="footer-v2-message") Message*:
      textarea#footer-v2-message.form-control.input-sm.form-control-impressed(name="message" data-constraints="@Required" style="height: 80px")

    .group.offset-top-20
      button(type="submit" style="padding-left: 30px; padding-right: 30px;").btn.btn-sm.btn-primary submit